Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Update codeql-for-java.rst
  docs/codeql/codeql-language-guides/codeql-for-java.rst
Due: none

Add initial query for CWE-942
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/frameworks/ApolloGraphQL.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CorsPermissiveConfigurationCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CorsPermissiveConfigurationQuery.qll
  javascript/ql/src/Security/CWE-942/CorsPermissiveConfiguration.ql
  javascript/ql/test/query-tests/Security/CWE-942/CorsPermissiveConfiguration.expected
  javascript/ql/test/query-tests/Security/CWE-942/CorsPermissiveConfiguration.qlref
  javascript/ql/test/query-tests/Security/CWE-942/tst.js
Due: codeql-format, sync-files

Remove comment line
  javascript/ql/lib/semmle/javascript/frameworks/ApolloGraphQL.qll
Due: codeql-format, sync-files

remove local sources
  go/ql/src/experimental/CWE-522-DecompressionBombs/DecompressionBombs.ql
Due: codeql-format, sync-files

add multipart sources
  go/ql/src/experimental/CWE-522-DecompressionBombs/DecompressionBombs.ql
Due: codeql-format, sync-files

add comments for modules & remote local sources
  java/ql/src/experimental/Security/CWE/CWE-522-DecompressionBombs/DecompressionBomb.ql
Due: codeql-format, sync-files

remove inputStream and its subclasses module which has no impact on query now!
  java/ql/src/experimental/Security/CWE/CWE-522-DecompressionBombs/DecompressionBomb.ql
Due: codeql-format, sync-files

v3
  java/ql/src/experimental/Security/CWE/CWE-522-DecompressionBombs/DecompressionBomb.ql
Due: codeql-format, sync-files

V3: better sinks, replace sinks arguments to sinks method accesses
  java/ql/src/experimental/Security/CWE/CWE-522-DecompressionBombs/DecompressionBomb.ql
Due: codeql-format, sync-files

remove CLI sources & unused imports
  java/ql/src/experimental/Security/CWE/CWE-522-DecompressionBombs/DecompressionBomb.ql
Due: codeql-format, sync-files

ATM/JS: Remove test workflow
  .github/workflows/js-ml-tests.yml
Due: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: none

remove CLI sources Library file & unused file system sinks
  java/ql/src/experimental/Security/CWE/CWE-522-DecompressionBombs/ApacheCommonsUploadFileDemo.ql
  java/ql/src/experimental/Security/CWE/CWE-522-DecompressionBombs/CommandLineSource.qll
  java/ql/src/experimental/Security/CWE/CWE-522-DecompressionBombs/RemoteSource.qll
Due: codeql-format, sync-files

fix a mistake: replaces tests after gofmt
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/SSRF.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/UntrustedRemoteFlowSource.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/Xss.expected
Due: none

move JWT.qll to experimental
  go/ql/src/experimental/CWE-321-V2/HardCodedKeys.ql
  go/ql/src/experimental/CWE-347/ParseJWTWithoutVerification.ql
  go/ql/src/experimental/frameworks/JWT.qll
Due: codeql-format, sync-files

fix tests, and review suggestions.
  go/ql/lib/change-notes/2023-09-25-add-new-file-system-access-sinks.md
  go/ql/lib/go.qll
  go/ql/lib/semmle/go/frameworks/Afero.qll
  go/ql/lib/semmle/go/frameworks/Echo.qll
  go/ql/lib/semmle/go/frameworks/Iris.qll
  go/ql/src/change-notes/2023-09-25-add-new-filesystemaccess-sinks.md
  go/ql/test/library-tests/semmle/go/frameworks/Afero/test.go
  go/ql/test/library-tests/semmle/go/frameworks/Afero/vendor/github.com/beego/beego/v2/server/web/context/stub.go
  go/ql/test/library-tests/semmle/go/frameworks/Afero/vendor/github.com/beego/beego/v2/server/web/stub.go
  go/ql/test/library-tests/semmle/go/frameworks/Afero/vendor/github.com/gin-gonic/gin/stub.go
  go/ql/test/library-tests/semmle/go/frameworks/Afero/vendor/github.com/gofiber/fiber/v2/stub.go
  go/ql/test/library-tests/semmle/go/frameworks/Afero/vendor/github.com/kataras/iris/v12/context/stub.go
  go/ql/test/library-tests/semmle/go/frameworks/Afero/vendor/github.com/labstack/echo/v4/stub.go
Due: codeql-format, sync-files

remove CLI sources Library file & qldoc warnings
  go/ql/src/experimental/CWE-522-DecompressionBombs/CmdLineFlowSource.qll
  go/ql/src/experimental/CWE-522-DecompressionBombs/DecompressionBombs.ql
Due: codeql-format, sync-files

update tests
  go/ql/src/experimental/CWE-522-DecompressionBombs/DecompressionBombs.ql
  go/ql/src/experimental/CWE-522-DecompressionBombs/MultipartAndFormRemoteSource.qll
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/test.go
  go/vendor/github.com/DataDog/zstd/stub.go
  go/vendor/github.com/dsnet/compress/bzip2/stub.go
  go/vendor/github.com/dsnet/compress/flate/stub.go
  go/vendor/github.com/golang/snappy/stub.go
  go/vendor/github.com/klauspost/compress/flate/stub.go
  go/vendor/github.com/klauspost/compress/gzip/stub.go
  go/vendor/github.com/klauspost/compress/s2/stub.go
  go/vendor/github.com/klauspost/compress/snappy/stub.go
  go/vendor/github.com/klauspost/compress/zip/stub.go
  go/vendor/github.com/klauspost/compress/zlib/stub.go
  go/vendor/github.com/klauspost/compress/zstd/stub.go
  go/vendor/github.com/klauspost/pgzip/stub.go
  go/vendor/github.com/ulikunitz/xz/stub.go
  go/vendor/modules.txt
Due: codeql-format, sync-files

chore fix document example
  go/ql/src/experimental/CWE-522-DecompressionBombs/example_good.go
Due: none

remove CLI sources Library file and local sources for lower FPs
  javascript/ql/src/experimental/Security/CWE-522-DecompressionBombs/CommandLineSource.qll
  javascript/ql/src/experimental/Security/CWE-522-DecompressionBombs/DecompressionBombs.ql
  javascript/ql/src/experimental/Security/CWE-522-DecompressionBombs/SequelizeModelMethodCallDemo.ql
  javascript/ql/src/experimental/Security/CWE-522-DecompressionBombs/sequelizeModelTypes.qll
Due: codeql-format, sync-files

Address review comments
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

C#: Extract compilation DB entity in standalone mode
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Assembly.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/CachedSymbol.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/PreprocessorDirectives/PreprocessorDirective.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/NamedType.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/StandaloneAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TracingAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Populators/TypeContainerVisitor.cs
  csharp/extractor/Semmle.Extraction/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/StandaloneExtractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/TracingExtractor.cs
  csharp/extractor/Semmle.Util/FileUtils.cs
Due: none

Swift: Add more tests for Arrays.
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
Due: sync-files

Swift: Add more tests for Numerics.
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
Due: sync-files

Swift: Extend Numeric models.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Numeric.qll
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
Due: codeql-format, sync-files

Swift: Model RangeReplaceableCollection initializers.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Array.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Collection.qll
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
Due: codeql-format, sync-files

Swift: Change note.
  swift/ql/lib/change-notes/2023-09-29-numeric-models.md
Due: none

Swift: Remove duplicate row.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Numeric.qll
Due: codeql-format, sync-files

Swift: Simplify FloatPoint model now that it works to do so.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Numeric.qll
Due: codeql-format, sync-files

Adjust expected test output
  csharp/ql/test/library-tests/standalone/errorrecovery/DiagnosticsAndErrors.expected
Due: none

Add Django request attributes
  python/ql/lib/semmle/python/frameworks/RestFramework.qll
Due: codeql-format, sync-files

Add RestFramework handler kwargs
  python/ql/lib/semmle/python/frameworks/RestFramework.qll
Due: codeql-format, sync-files

Add taint tests
  python/ql/test/library-tests/frameworks/rest_framework/taint_test.py
Due: none

Swift: Autoformat.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Numeric.qll
Due: codeql-format, sync-files

Add `.qhelp` and apply some review changes
  javascript/ql/lib/javascript.qll
  javascript/ql/lib/semmle/javascript/frameworks/Apollo.qll
  javascript/ql/lib/semmle/javascript/frameworks/ApolloGraphQL.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CorsPermissiveConfigurationCustomizations.qll
  javascript/ql/src/experimental/Security/CWE-942/CorsPermissiveConfiguration.qhelp
  javascript/ql/src/experimental/Security/CWE-942/CorsPermissiveConfiguration.ql
  javascript/ql/src/experimental/Security/CWE-942/examples/CorsPermissiveConfigurationBad.js
  javascript/ql/src/experimental/Security/CWE-942/examples/CorsPermissiveConfigurationGood.js
  javascript/ql/test/experimental/Security/CWE-942/CorsPermissiveConfiguration.expected
  javascript/ql/test/experimental/Security/CWE-942/CorsPermissiveConfiguration.qlref
  javascript/ql/test/experimental/Security/CWE-942/tst.js
  javascript/ql/test/query-tests/Security/CWE-942/CorsPermissiveConfiguration.expected
  javascript/ql/test/query-tests/Security/CWE-942/CorsPermissiveConfiguration.qlref
Due: codeql-format, sync-files, qhelp

Kotlin: Drop support for 1.4.32
  java/kotlin-extractor/kotlin_plugin_versions.py
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/CommentExtractorLighterAST.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/ExperimentalCompilerApi.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/FileEntry.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Functions.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/IrSymbolInternals.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/IsUnderscoreParameter.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Kotlin2ComponentRegistrar.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/ReferenceEntity.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/SyntheticBodyKind.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Types.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/UsesK2.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/allOverriddenIncludingSelf.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/annotationType.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/copyTo.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/createImplicitParameterDeclarationWithWrappedDescriptor.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/getFileClassFqName.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/getKotlinType.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/packageFqName.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/withHasQuestionMark.kt
Due: none

Kotlin: Specify language versino when compiling for old compilers
  java/kotlin-extractor/build.py
Due: none

Swift: add NilCoalescingTest node to CFG
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowElements.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/cfg.swift
Due: codeql-format, sync-files

Swift: Replace additional taint step with implict read.
  swift/ql/lib/codeql/swift/security/CommandInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/CommandInjectionQuery.qll
  swift/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
Due: codeql-format, sync-files

Swift: Replace a similar additional taint step in another query.
  swift/ql/lib/codeql/swift/security/CleartextStorageDatabaseExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextStorageDatabaseQuery.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
