Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Convert EchoContextSource to MaD
  go/ql/lib/ext/github.com.labstack.echo.model.yml
  go/ql/lib/semmle/go/frameworks/Echo.qll
Due: codeql-format, sync-files

Convert EchoContextBinder to MaD
  go/ql/lib/ext/github.com.labstack.echo.model.yml
  go/ql/lib/semmle/go/frameworks/Echo.qll
Due: codeql-format, sync-files

Convert ElazarlGoproxy::UserControlledRequestData to MaD
  go/ql/lib/ext/github.com.elazarl.goproxy.model.yml
  go/ql/lib/semmle/go/frameworks/ElazarlGoproxy.qll
Due: codeql-format, sync-files

MaD provenance changes
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-74/DsnInjection.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/Chi/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Encoding/jsoniter.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-640/EmailInjection.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Due: none

Python: Additional tests for model-editor
  python/ql/test/modelling/FrameworkModeEndpoints.expected
  python/ql/test/modelling/NotPackage/not_in_pacakge_lib.py
  python/ql/test/modelling/NotPackage/not_in_package_script.py
  python/ql/test/modelling/NotPackage/possibly_lib.py
  python/ql/test/modelling/not-valid-package/not_in_pacakge_lib_copy.py
  python/ql/test/modelling/not-valid-package/not_in_package_script_copy.py
  python/ql/test/modelling/not-valid-package/possibly_lib_copy.py
  python/ql/test/modelling/options
Due: none

C++: Expand QLDoc on 'signatureMatches'.
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

C++: Add QLDoc to 'getParameterTypeName'.
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

C#: Add SSA test for multi-bodied method
  csharp/ql/test/library-tests/dataflow/ssa/DefAdjacentRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/MultiImplementationA.cs
  csharp/ql/test/library-tests/dataflow/ssa/MultiImplementationB.cs
  csharp/ql/test/library-tests/dataflow/ssa/SsaDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefElement.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefLastRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaExplicitDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaUltimateDef.expected
Due: none

C#: Move implicit entry definitions inside method bodies in SSA construction
  csharp/ql/lib/semmle/code/csharp/Assignable.qll
  csharp/ql/lib/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/lib/semmle/code/csharp/Location.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/Nullness.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ControlFlowReachability.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/ControlFlowReachability.qll
  csharp/ql/lib/semmle/code/csharp/dispatch/Dispatch.qll
  csharp/ql/lib/semmle/code/csharp/internal/Location.qll
  csharp/ql/src/Concurrency/FutileSyncOnField.ql
  csharp/ql/src/Dead Code/DeadStoreOfLocal.ql
  csharp/ql/test/library-tests/assignables/AssignableDefinitionNode.expected
  csharp/ql/test/library-tests/assignables/AssignableDefinitionNode.ql
  csharp/ql/test/library-tests/csharp7/DefUse.ql
  csharp/ql/test/library-tests/dataflow/defuse/defUseEquivalence.ql
  csharp/ql/test/library-tests/dataflow/defuse/parameterUseEquivalence.ql
  csharp/ql/test/library-tests/dataflow/defuse/useUseEquivalence.ql
  csharp/ql/test/library-tests/dataflow/ssa/SsaDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefElement.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefLastRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaExplicitDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaImplicitParameterDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaImplicitParameterDef.ql
  csharp/ql/test/library-tests/dataflow/ssa/SsaRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaUltimateDef.expected
Due: codeql-format, sync-files

wip
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  csharp/ql/lib/semmle/code/cil/Ssa.qll
  csharp/ql/lib/semmle/code/cil/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/VariableCapture.qll
  ruby/ql/lib/codeql/ruby/dataflow/SSA.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  shared/dataflow/codeql/dataflow/VariableCapture.qll
  shared/ssa/codeql/ssa/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C#
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/tuples/DataFlowStep.expected
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  shared/ssa/codeql/ssa/Ssa.qll
Due: codeql-format, sync-files

C++: Update QLDoc on 'GuardCondition' to reflect the fact that switch statements are supported.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

Add more poisonable steps
  ql/lib/codeql/actions/security/PoisonableSteps.qll
  ql/lib/ext/config/poisonable_steps.yml
Due: codeql-format, sync-files

Support flow through fromJson
  ql/lib/codeql/actions/ast/internal/Ast.qll
  ql/test/query-tests/Security/CWE-094/.github/workflows/test9.yml
  ql/test/query-tests/Security/CWE-094/CodeInjectionCritical.expected
  ql/test/query-tests/Security/CWE-094/CodeInjectionMedium.expected
Due: codeql-format, sync-files

Bump qlpack versions
  ql/lib/qlpack.yml
  ql/src/qlpack.yml
Due: none

C#: Fix glob pattern processing: allow `**/` to match empty string
  csharp/extractor/Semmle.Extraction.Tests/FilePathFilter.cs
  csharp/extractor/Semmle.Extraction.Tests/FilePattern.cs
  csharp/extractor/Semmle.Extraction/FilePattern.cs
Due: none

experimentalSinkModel to sinkModel, remove one path injection sink that already exist before
  java/ql/lib/ext/experimental/s3-transfer-manager.model.yml
  java/ql/lib/ext/experimental/spring-core.model.yml
  java/ql/lib/ext/experimental/zip4j.model.yml
  java/ql/test/query-tests/security/CWE-022/semmle/tests/NewPathInjection/PathInjection/src/main/java/com/PathInjection/SpringIoPathInjection.java
Due: none

C++: Fix more QLDoc.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

SSA: Add `BasicBlock.{getNode/1,length/0}` to the input signature
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  csharp/ql/lib/semmle/code/cil/Ssa.qll
  csharp/ql/lib/semmle/code/cil/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/PreSsa.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/VariableCapture.qll
  ruby/ql/lib/codeql/ruby/dataflow/SSA.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  shared/dataflow/codeql/dataflow/VariableCapture.qll
  shared/ssa/codeql/ssa/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C++: Replace 'Element[*@]' with 'Element[@]'.
  cpp/ql/lib/ext/bsl.array.model.yml
  cpp/ql/lib/ext/bsl.deque.model.yml
  cpp/ql/lib/ext/bsl.forward_list.model.yml
  cpp/ql/lib/ext/bsl.list.model.yml
  cpp/ql/lib/ext/bsl.vector.model.yml
  cpp/ql/lib/ext/std.array.model.yml
  cpp/ql/lib/ext/std.deque.model .yml
  cpp/ql/lib/ext/std.forward_list.model.yml
  cpp/ql/lib/ext/std.iterator.model.yml
  cpp/ql/lib/ext/std.list.model.yml
  cpp/ql/lib/ext/std.vector.model.yml
Due: none

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/dataflow-tests/type-bugs.expected
Due: none

Consider toJson as a sanitizer for Code Injection in JS
  ql/lib/codeql/actions/ast/internal/Ast.qll
  ql/src/Security/CWE-094/CodeInjectionCritical.ql
  ql/src/Security/CWE-094/CodeInjectionMedium.ql
  ql/test/query-tests/Security/CWE-094/.github/workflows/test9.yml
  ql/test/query-tests/Security/CWE-094/CodeInjectionCritical.expected
  ql/test/query-tests/Security/CWE-094/CodeInjectionMedium.expected
Due: codeql-format, sync-files

C++: Add change note.
  cpp/ql/lib/change-notes/2024-07-03-extended-mad-syntax.md
Due: none

Bump qlpack versions
  ql/lib/qlpack.yml
  ql/src/qlpack.yml
  ql/test/query-tests/Security/CWE-094/.github/workflows/test9.yml
  ql/test/query-tests/Security/CWE-094/CodeInjectionCritical.expected
  ql/test/query-tests/Security/CWE-094/CodeInjectionMedium.expected
Due: none

Improve code quality
  csharp/extractor/Semmle.Extraction/FilePattern.cs
Due: none

WIP
  cpp/ql/lib/experimental/buildless/Model.qll
Due: codeql-format, sync-files

Go: Skeleton implementation of import paths grouping for models.
  go/ql/lib/ext/empty.model.yml
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/ExternalFlowExtensions.qll
Due: codeql-format, sync-files

Python : Arbitrary codde execution due to Js2Py
  python/ql/src/experimental/Security/CWE-094/Js2Py.qhelp
  python/ql/src/experimental/Security/CWE-094/Js2Py.ql
  python/ql/src/experimental/Security/CWE-094/Js2pyBad.py
  python/ql/src/experimental/Security/CWE-094/Js2pyGood.py
  python/ql/test/experimental/query-tests/Security/CWE-094/Js2Py.expected
  python/ql/test/experimental/query-tests/Security/CWE-094/Js2Py.qlref
  python/ql/test/experimental/query-tests/Security/CWE-094/Js2PyTest.py
Due: codeql-format, sync-files, qhelp

WIP: Go: CORS Bypass due to incorrect checks
  go/ql/src/experimental/CWE-639/urlCheck.ql
Due: codeql-format, sync-files

C++: Add models for 'array::front' and 'array::back'.
  cpp/ql/lib/ext/std.array.model.yml
Due: none

C++: Fix yml file name.
  cpp/ql/lib/ext/std.deque.model.yml
Due: none

C++: Make sure the 'emplace' functions that return iterators are modeled via Element content.
  cpp/ql/lib/ext/bsl.deque.model.yml
  cpp/ql/lib/ext/bsl.vector.model.yml
  cpp/ql/lib/ext/std.deque.model.yml
  cpp/ql/lib/ext/std.forward_list.model.yml
  cpp/ql/lib/ext/std.list.model.yml
  cpp/ql/lib/ext/std.vector.model.yml
Due: none

C++: Fix 'assign' models.
  cpp/ql/lib/ext/bsl.deque.model.yml
  cpp/ql/lib/ext/bsl.forward_list.model.yml
  cpp/ql/lib/ext/bsl.list.model.yml
  cpp/ql/lib/ext/bsl.vector.model.yml
  cpp/ql/lib/ext/std.deque.model.yml
  cpp/ql/lib/ext/std.forward_list.model.yml
  cpp/ql/lib/ext/std.list.model.yml
  cpp/ql/lib/ext/std.vector.model.yml
Due: none

Kotlin: Remove unused SEMMLE_DIST
  java/kotlin-extractor/src/main/java/com/semmle/util/process/Env.java
Due: none

Java: Add changenote for dropping $SEMMLE_DIST support
  java/ql/lib/change-notes/2024-07-03-env-var-semmle-dist.md
Due: none

C++: Fix 'emplace_after' model in bsl.
  cpp/ql/lib/ext/bsl.forward_list.model.yml
Due: none

C++: Add more 'Argument[-1]' to 'ReturnValue' flow.
  cpp/ql/lib/ext/bsl.deque.model.yml
  cpp/ql/lib/ext/bsl.forward_list.model.yml
  cpp/ql/lib/ext/bsl.list.model.yml
  cpp/ql/lib/ext/bsl.vector.model.yml
  cpp/ql/lib/ext/std.deque.model.yml
  cpp/ql/lib/ext/std.forward_list.model.yml
  cpp/ql/lib/ext/std.list.model.yml
  cpp/ql/lib/ext/std.vector.model.yml
Due: none

C++: Add bsl models for 'array::front' and 'array::back'.
  cpp/ql/lib/ext/bsl.array.model.yml
Due: none

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/external-models/validatemodels.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_mad-signatures.expected
Due: none

JS: Remove call to shouldExtract
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
