Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

Actions: ActorIfCheck should not protect events that do not populate the checked field
  actions/ql/lib/change-notes/2026-08-17-actor-if-check-event-validity.md
  actions/ql/lib/codeql/actions/security/ControlChecks.qll
  actions/ql/test/query-tests/Security/CWE-094/.github/workflows/actor_check_valid_event.yml
  actions/ql/test/query-tests/Security/CWE-094/.github/workflows/actor_check_wrong_event.yml
  actions/ql/test/query-tests/Security/CWE-094/CodeInjectionCritical.expected
  actions/ql/test/query-tests/Security/CWE-094/CodeInjectionMedium.expected
Due: codeql-format, sync-files

unified: potential build fix
  unified/swift-syntax-rs/swift_runtime_linking.bzl
Due: buildifier

Update Rust log injection expected
  rust/ql/test/library-tests/format-macros-legacy/LogInjection.expected
Due: none

Java: update newSchemaFactory to the merged Commons XML 0.1.0 API
  java/ql/test/query-tests/security/CWE-611/XmlFactoriesTests.java
  java/ql/test/stubs/apache-commons-xml-0.1.0/org/apache/commons/xml/XmlFactories.java
Due: none

Rust: Set `RUSTUP_AUTO_INSTALL=1`
  rust/extractor/src/config.rs
Due: rust-lint

Go: move extractor smoke test into integration tests
  CODEOWNERS
  go/Makefile
  go/extractor-smoke-test/.gitignore
  go/extractor-smoke-test/expected.csv
  go/extractor-smoke-test/go.mod
  go/extractor-smoke-test/main.go
  go/extractor-smoke-test/test.sh
  go/ql/integration-tests/test-extraction/test.py
Due: none

Rust: correct CWE-770 GlobalAlloc MISSING comments
  rust/ql/test/query-tests/security/CWE-770/main.rs
Due: none

Go: support compound condition guards
  go/ql/lib/semmle/go/controlflow/Guards.qll
  go/ql/test/library-tests/semmle/go/controlflow/Guards/Guards.expected
  go/ql/test/library-tests/semmle/go/controlflow/Guards/guards.go
  shared/controlflow/codeql/controlflow/Guards.qll
Due: codeql-format, sync-files

Add change note
  go/ql/lib/change-notes/2026-08-17-deprecate-condition-guard-node.md
  go/ql/lib/change-notes/2026-08-17-shared-guards.md
Due: none

Go: de-bazel checks in test action
  go/actions/test/action.yml
Due: none

unified: Disable build on linux-arm64
  unified/BUILD.bazel
Due: buildifier

Normalize untrusted checkout paths
  actions/ql/src/Security/CWE-829/UntrustedCheckoutCritical.ql
  actions/ql/src/change-notes/2026-07-21-untrusted-checkout-paths.md
  actions/ql/test/query-tests/Security/CWE-829/.github/workflows/untrusted_checkout_paths.yml
  actions/ql/test/query-tests/Security/CWE-829/.github/workflows/workflow_run_untrusted_checkout_path.yml
  actions/ql/test/query-tests/Security/CWE-829/UntrustedCheckoutCritical.expected
Due: codeql-format, sync-files

Address CodeQL review suggestions
  actions/ql/src/Security/CWE-829/UntrustedCheckoutCritical.ql
Due: codeql-format, sync-files

Correct wildcard path typing
  actions/ql/src/Security/CWE-829/UntrustedCheckoutCritical.ql
Due: codeql-format, sync-files

Split payload-field actor checks into EventActorIfCheck
  actions/ql/lib/change-notes/2026-08-17-actor-if-check-event-validity.md
  actions/ql/lib/codeql/actions/security/ControlChecks.qll
Due: codeql-format, sync-files

C++: Add tests with missing flow sources.
  cpp/ql/test/library-tests/dataflow/external-models/flow.ext.yml
  cpp/ql/test/library-tests/dataflow/external-models/sinks.expected
  cpp/ql/test/library-tests/dataflow/external-models/test.cpp
Due: none

Simplify EventActorIfCheck by binding context_prefix as a field
  actions/ql/lib/codeql/actions/security/ControlChecks.qll
Due: codeql-format, sync-files

Add test coverage for sender, head_commit and commits checks
  actions/ql/test/query-tests/Security/CWE-094/.github/workflows/actor_check_wrong_event.yml
  actions/ql/test/query-tests/Security/CWE-094/CodeInjectionCritical.expected
  actions/ql/test/query-tests/Security/CWE-094/CodeInjectionMedium.expected
Due: none

unified: Update error message
  unified/extractor-unsupported-os/src/main.rs
Due: none

Rust: Change canonical paths for trait items
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
Due: codeql-format, sync-files

Rust: Update trait item canonical path references
  docs/codeql/codeql-language-guides/customizing-library-models-for-rust.rst
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/frameworks/asyncstd/io.model.yml
  rust/ql/lib/codeql/rust/frameworks/futures.model.yml
  rust/ql/lib/codeql/rust/frameworks/mysql-async.model.yml
  rust/ql/lib/codeql/rust/frameworks/mysql.model.yml
  rust/ql/lib/codeql/rust/frameworks/rustcrypto/rustcrypto.model.yml
  rust/ql/lib/codeql/rust/frameworks/sqlx.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/alloc.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/core.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/io.model.yml
  rust/ql/lib/codeql/rust/frameworks/tokio/io.model.yml
  rust/ql/lib/codeql/rust/frameworks/warp.model.yml
  rust/ql/test/library-tests/dataflow/collections/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/modeled/inline-flow.expected
  rust/ql/test/library-tests/dataflow/models/models.expected
  rust/ql/test/library-tests/dataflow/models/models.ext.yml
  rust/ql/test/library-tests/dataflow/sources/database/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/env/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/file/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/net/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/stdin/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/web_frameworks/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/strings/inline-taint-flow.expected
  rust/ql/test/library-tests/dataflow/taint/inline-taint-flow.expected
  rust/ql/test/query-tests/security/CWE-022/TaintedPath.expected
  rust/ql/test/query-tests/security/CWE-079/warp/XSS.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-117/LogInjection.expected
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
  rust/ql/test/query-tests/security/CWE-614/InsecureCookie.expected
  rust/ql/test/query-tests/security/CWE-770/UncontrolledAllocationSize.expected
  rust/ql/test/query-tests/security/CWE-798/HardcodedCryptographicValue.expected
  rust/ql/test/query-tests/security/CWE-918/RequestForgery.expected
Due: codeql-format, sync-files

Rust: Use `zstd` compression for TRAP files by default
  rust/codeql-extractor.yml
  rust/extractor/src/config.rs
Due: rust-lint

Rust: Document trait item canonical path change
  rust/ql/lib/change-notes/2026-08-19-trait-canonical-paths.md
Due: none

Potential fix for pull request finding
  rust/ql/lib/codeql/rust/frameworks/tokio/io.model.yml
Due: none

Rust: Add a couple of missing crates to supported-frameworks.rst.
  docs/codeql/reusables/supported-frameworks.rst
Due: none

C#: inline TestAdditionalTaintStep.qll into AdditionalTaintStep.ql
  csharp/ql/test/library-tests/dataflow/additional-taint-step/AdditionalTaintStep.ql
  csharp/ql/test/library-tests/dataflow/additional-taint-step/TestAdditionalTaintStep.qll
Due: codeql-format, sync-files

C++: Support for access path at sources and sinks.
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowSummaryImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowNodes.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/sinks.expected
  cpp/ql/test/library-tests/dataflow/external-models/sources.expected
  cpp/ql/test/library-tests/dataflow/external-models/test.cpp
  cpp/ql/test/library-tests/dataflow/models-as-data/testModels.expected
Due: none

C++: Hide flow summary nodes from consistency just like Rust does.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/test/library-tests/dataflow/models-as-data/testModels.expected
Due: codeql-format, sync-files

Improve redundant recover test coverage
  go/ql/test/query-tests/RedundantCode/RedundantRecover/tst.go
Due: none

More tests for non-returning functions
  go/ql/test/library-tests/semmle/go/controlflow/ControlFlowGraph/ControlFlowNode_getASuccessor.expected
  go/ql/test/library-tests/semmle/go/controlflow/ControlFlowGraph/NoretFunctions.expected
  go/ql/test/library-tests/semmle/go/controlflow/ControlFlowGraph/stmts7.go
Due: none

Test semantic invalid types in notype test
  go/ql/test/library-tests/semmle/go/Types/notype.ql
Due: codeql-format, sync-files

Make KeyValueExpr have the same type as its value
  go/ql/lib/semmle/go/Expr.qll
Due: codeql-format, sync-files

Change mayReturnNormally to mustNotReturnNormally
  go/ql/lib/semmle/go/Concepts.qll
  go/ql/lib/semmle/go/Scopes.qll
  go/ql/lib/semmle/go/frameworks/Glog.qll
  go/ql/lib/semmle/go/frameworks/Logrus.qll
  go/ql/lib/semmle/go/frameworks/Zap.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Log.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Os.qll
Due: codeql-format, sync-files

Distinguish panic and exit in logrus
  go/ql/lib/semmle/go/frameworks/Logrus.qll
Due: codeql-format, sync-files

Model `logrus.Exit` like `os.Exit`
  go/ql/lib/semmle/go/frameworks/Logrus.qll
Due: codeql-format, sync-files

Update two queries so alert locations don't change
  go/ql/lib/semmle/go/controlflow/IR.qll
  go/ql/src/RedundantCode/DeadStoreOfField.ql
  go/ql/src/RedundantCode/DeadStoreOfLocal.ql
  go/ql/test/query-tests/RedundantCode/DeadStoreOfField/DeadStoreOfField.expected
  go/ql/test/query-tests/RedundantCode/DeadStoreOfField/writetargets.go
  go/ql/test/query-tests/RedundantCode/DeadStoreOfLocal/DeadStoreOfLocal.expected
  go/ql/test/query-tests/RedundantCode/DeadStoreOfLocal/writetargets.go
Due: codeql-format, sync-files

Make synthetic RangeElementExpr during extraction
  go/downgrades/d0e7336b491e35a4c890e0b9755a4030d32ee444/exprs.ql
  go/downgrades/d0e7336b491e35a4c890e0b9755a4030d32ee444/go.dbscheme
  go/downgrades/d0e7336b491e35a4c890e0b9755a4030d32ee444/has_location.ql
  go/downgrades/d0e7336b491e35a4c890e0b9755a4030d32ee444/old.dbscheme
  go/downgrades/d0e7336b491e35a4c890e0b9755a4030d32ee444/upgrade.properties
  go/extractor/dbscheme/tables.go
  go/extractor/extractor.go
  go/ql/lib/semmle/go/Stmt.qll
  go/ql/lib/upgrades/5ff5325d274ae4f86defa195577bc7c1370b72fa/go.dbscheme
  go/ql/lib/upgrades/5ff5325d274ae4f86defa195577bc7c1370b72fa/old.dbscheme
  go/ql/lib/upgrades/5ff5325d274ae4f86defa195577bc7c1370b72fa/upgrade.properties
  go/ql/test/library-tests/semmle/go/PrintAst/PrintAst.expected
  go/ql/test/library-tests/semmle/go/PrintAst/PrintAstExcludeComments.expected
Due: codeql-format, sync-files

Switch to using shared CFG library
  go/ql/lib/semmle/go/PrintAst.qll
  go/ql/lib/semmle/go/controlflow/BasicBlocks.qll
  go/ql/lib/semmle/go/controlflow/ControlFlowGraph.qll
  go/ql/lib/semmle/go/controlflow/ControlFlowGraphImpl.qll
  go/ql/lib/semmle/go/controlflow/ControlFlowGraphShared.qll
  go/ql/lib/semmle/go/controlflow/IR.qll
  go/ql/lib/semmle/go/dataflow/SsaImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
  go/ql/lib/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  go/ql/lib/semmle/go/frameworks/Revel.qll
  go/ql/src/RedundantCode/DeadStoreOfLocal.ql
  go/ql/src/RedundantCode/UnreachableStatement.ql
  go/ql/test/extractor-tests/go1.17/CFG.expected
  go/ql/test/library-tests/semmle/go/controlflow/ControlFlowGraph/ControlFlowNode_getASuccessor.expected
  go/ql/test/library-tests/semmle/go/controlflow/ControlFlowGraph/NoretFunctions.expected
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalFlowStep.expected
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
  go/ql/test/library-tests/semmle/go/dataflow/GlobalValueNumbering/GlobalValueNumber.expected
  go/ql/test/library-tests/semmle/go/dataflow/SSA/DefUse.expected
  go/ql/test/library-tests/semmle/go/dataflow/SSA/SsaDefinition.expected
  go/ql/test/library-tests/semmle/go/dataflow/SSA/SsaWithFields.expected
  go/ql/test/library-tests/semmle/go/dataflow/VarArgs/CONSISTENCY/DataFlowConsistency.expected
  go/ql/test/query-tests/RedundantCode/RedundantRecover/RedundantRecover.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  shared/controlflow/codeql/controlflow/ControlFlowGraph.qll
Due: codeql-format, sync-files
