Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Ql alterations for cleanup as part of merge suggestions.
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
Due: codeql-format, sync-files

Accidental removal of an and.
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
Due: codeql-format, sync-files

Go: Try to ignore errors in `go mod vendor` calls
  go/extractor/toolchain/toolchain.go
Due: none

Go: Include arguments in `RunCmd` error messages
  go/extractor/util/util.go
Due: none

Comment change.
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
Due: codeql-format, sync-files

Kotlin 2: Accept changes in library-tests/controlflow/dominance
  java/ql/test-kotlin2/library-tests/controlflow/dominance/dominator.expected
Due: none

Formatting update.
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
Due: codeql-format, sync-files

C++: Add change note.
  cpp/ql/src/change-notes/2024-02-16-non-constant-format.md
Due: none

C++: Accept query test changes.
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/consts/NonConstantFormat.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/consts/consts.cpp
Due: none

Fix copy workflow
  .github/workflows/copy-to-bughalla.yml
Due: none

Javascript: fix project layout for bazel tests
  javascript/extractor/tests/project-layout
Due: none

Fixing query to use path graph.
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
Due: codeql-format, sync-files

Adding exclusion for main's argv (I believe this and other changes were accidentally removed in prior merge with other non-const branches)
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
Due: codeql-format, sync-files

Formatting.
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
Due: codeql-format, sync-files

Simplify definition of source and improve QLDoc
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
Due: codeql-format, sync-files

Generate changelogs for 2.16.2
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.16.2.rst
  docs/codeql/codeql-overview/codeql-changelog/index.rst
Due: none

Kotlin 2: Accept changes in library-tests/methods
  java/ql/test-kotlin2/library-tests/methods/exprs.expected
Due: none

Go: Use 1.22 in CI
  .github/workflows/go-tests-other-os.yml
  .github/workflows/go-tests.yml
Due: none

Go: Update expected results for `TypeParamType`
  go/ql/test/library-tests/semmle/go/Function/TypeParamType.expected
Due: none

Disable `setup-go` caching
  .github/workflows/go-tests-other-os.yml
  .github/workflows/go-tests.yml
Due: none

C++: test for return in if
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Due: none

C++: Add FlowSummaryNode and test it.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/models-as-data/FlowSummaryNode.expected
  cpp/ql/test/library-tests/dataflow/models-as-data/FlowSummaryNode.ql
Due: codeql-format, sync-files

C++: fix for IR CFG problem with return in if
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Due: codeql-format, sync-files

Apply suggestions from code review
  go/ql/src/Security/CWE-347/MissingJwtSignatureCheck.qhelp
  go/ql/src/Security/CWE-347/MissingJwtSignatureCheck.ql
Due: codeql-format, sync-files, qhelp

java: add cfg-based loop detection - add test for recursive function - update test expectations
  java/ql/src/Performance/ConcatenationInLoops.ql
  java/ql/test/query-tests/ConcatenationInLoops/ConcatenationInLoops.expected
  java/ql/test/query-tests/ConcatenationInLoops/ConcatenationInLoops.java
Due: codeql-format, sync-files

Bazel: empty out `WORKSPACE.bazel`
  CODEOWNERS
  WORKSPACE.bazel
Due: none

Automodel: Release query pack.
  java/ql/automodel/src/CHANGELOG.md
  java/ql/automodel/src/change-notes/released/0.0.15.md
  java/ql/automodel/src/codeql-pack.release.yml
  java/ql/automodel/src/qlpack.yml
Due: none

C#: Add some test cases for primary constructor inititalizers and a failing dataflow test.
  csharp/ql/test/library-tests/dataflow/constructors/ConstructorFlow.expected
  csharp/ql/test/library-tests/dataflow/constructors/Constructors.cs
  csharp/ql/test/library-tests/expressions/PrintAst.expected
  csharp/ql/test/library-tests/expressions/expressions.cs
Due: none

C#: Extract explicit and implicit primary constructor initializers.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Constructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
Due: none

C#: Invert logic in ExtractInitializer.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Constructor.cs
Due: none

C#: Synthesize an empty body for primary constructors.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Constructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Statements/SyntheticEmptyBlock.cs
  csharp/ql/lib/semmle/code/csharp/Callable.qll
Due: codeql-format, sync-files

C#: Add postupdate nodes for all instance parameter accesses - otherwise we get missing post update nodes to to reverseRead in the data flow consistency queries.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C#: Updated expected test output.
  csharp/ql/test/library-tests/dataflow/constructors/ConstructorFlow.expected
  csharp/ql/test/library-tests/expressions/ConstructorInitializers.expected
  csharp/ql/test/library-tests/expressions/PrintAst.expected
Due: none

C#: Update expected test output.
  csharp/ql/test/library-tests/constructors/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/dataflow/tuples/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/tuples/PrintAst.expected
  csharp/ql/test/library-tests/expressions/PrintAst.expected
Due: none

C#: Add fallback logic to `nuget install`
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileContent.cs
Due: none

Swift: remove test sdk
  swift/BUILD.bazel
  swift/third_party/BUILD.swift-llvm-support.bazel
  swift/third_party/swift-llvm-support/BUILD.bazel
  swift/tools/qltest.sh
Due: none

Swift: update qltest test
  swift/tools/test/qltest/utils.py
Due: none

Swift: update swift prebuilt package
  swift/third_party/load.bzl
Due: none

Swift: accept test changes
  swift/ql/test/extractor-tests/run_under/Strings.expected
Due: none

Change separator character used in environment variable
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
