Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
        language: system
        entry: bazel run //swift/codegen
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Due: codeql-format, sync-files

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Due: codeql-format, sync-files

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Due: codeql-format, sync-files

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Due: codeql-format, sync-files

Remove additional Xss sinks
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Due: codeql-format, sync-files

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
Due: codeql-format, sync-files

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Due: codeql-format, sync-files

Remove additional path-injection sinks
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Due: codeql-format, sync-files

Remove additional SQL sinks
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Due: codeql-format, sync-files

Kotlin: Add dataflow tests for stdlib calls
  java/ql/lib/semmle/code/java/frameworks/generated.qll
  java/ql/lib/semmle/code/java/frameworks/kotlin/StdLibGenerated.qll
  java/ql/test/kotlin/library-tests/dataflow/summaries/list.kt
  java/ql/test/kotlin/library-tests/dataflow/summaries/test.expected
  java/ql/test/kotlin/library-tests/dataflow/summaries/test.kt
  java/ql/test/kotlin/library-tests/dataflow/summaries/test.ql
Due: codeql-format, sync-files

Kotlin: Regenerating StdLib models with already existing models
  java/ql/lib/semmle/code/java/frameworks/kotlin/StdLibGenerated.qll
Due: codeql-format, sync-files

Kotlin: Add manual model for `Array.withIndex`
  java/ql/lib/semmle/code/java/frameworks/kotlin/StdLib.qll
  java/ql/test/kotlin/library-tests/dataflow/summaries/test.expected
Due: codeql-format, sync-files

Kotlin: Add generated MaD for stdlib
  java/ql/lib/semmle/code/java/frameworks/kotlin/StdLibGenerated.qll
  java/ql/test/kotlin/library-tests/dataflow/summaries/test.expected
Due: codeql-format, sync-files

Kotlin: move and rename KotlinStdLib.qll to kotlin/StdLib.qll
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/kotlin/StdLib.qll
Due: codeql-format, sync-files

Generate negative summaries
  java/ql/lib/semmle/code/java/frameworks/kotlin/NegativeStdLibGenerated.qll
Due: codeql-format, sync-files

Add change note
  java/ql/lib/change-notes/2022-08-31-kotlin-stdlib.md
Due: none

Fix failing external model tests
  java/ql/test/library-tests/dataflow/external-models/sinks.expected
  java/ql/test/library-tests/dataflow/external-models/srcs.expected
  java/ql/test/library-tests/dataflow/external-models/steps.expected
Due: none

Add optional friendly name parameter to MaD generator
  java/ql/lib/semmle/code/java/frameworks/kotlin/NegativeStdLibGenerated.qll
  java/ql/lib/semmle/code/java/frameworks/kotlin/StdLibGenerated.qll
  misc/scripts/models-as-data/generate_flow_model.py
Due: codeql-format, sync-files

Kotlin: Remove cast in extractGeneratedClass
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Add regenerated models after rebase
  java/ql/lib/semmle/code/java/frameworks/kotlin/NegativeStdLibGenerated.qll
  java/ql/lib/semmle/code/java/frameworks/kotlin/StdLibGenerated.qll
  java/ql/test/library-tests/dataflow/external-models/sinks.expected
  java/ql/test/library-tests/dataflow/external-models/srcs.expected
  java/ql/test/library-tests/dataflow/external-models/steps.expected
Due: codeql-format, sync-files

temp
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/calls.rb
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
Due: codeql-format, sync-files

Kotlin: Remove cast in extractFunctionReference
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Kotlin: Remove a cast in extendsAdditionAllowed
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Due: none

Kotlin: Remove a redundant cast
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Due: none

Swift: Add convenience member predicates to 'TypeDecl'.
  swift/ql/lib/codeql/swift/elements/decl/TypeDecl.qll
Due: codeql-format, sync-files, swift-codegen

Swift: Use getABaseTypeDecl() to improve StringLengthConflation.ql.
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.expected
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation2.swift
Due: codeql-format, sync-files

Swift: Update similar cases.
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Due: codeql-format, sync-files

Swift: Simplify isSource (behaviour preserving).
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Due: codeql-format, sync-files

Swift: Rename 'member' -> 'memberRef' for readability.
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Due: codeql-format, sync-files

convert RelevantState to a class in the PrefixConstruction module
  java/ql/lib/semmle/code/java/security/regexp/NfaUtils.qll
  javascript/ql/lib/semmle/javascript/security/regexp/NfaUtils.qll
  python/ql/lib/semmle/python/security/regexp/NfaUtils.qll
  ruby/ql/lib/codeql/ruby/security/regexp/NfaUtils.qll
Due: codeql-format, sync-files

Fix syntax error in rst
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
Due: none
