Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

Reuse shared transition helpers
  misc/bazel/rust.bzl
  misc/bazel/semmle_code_stub/buildutils-internal/transitions.bzl
  misc/bazel/transitions.bzl
Due: buildifier

Kotlin: gate full value class coverage
  java/ql/test-kotlin2/library-tests/full-value-classes/codeql-test.yml
Due: none

Kotlin: gate name-based destructuring coverage
  java/ql/test-kotlin2/library-tests/name-based-destructuring/codeql-test.yml
Due: none

Kotlin: gate context parameter coverage
  java/ql/test-kotlin2/library-tests/context-parameters/codeql-test.yml
Due: none

Kotlin: gate collection literal coverage
  java/ql/test-kotlin2/library-tests/collection-literal-operators/codeql-test.yml
Due: none

Kotlin: gate companion extension coverage
  java/ql/test-kotlin2/library-tests/companion-extensions/codeql-test.yml
Due: none

Kotlin: gate invokedynamic when coverage
  java/ql/test-kotlin2/library-tests/when-indy/codeql-test.yml
Due: none

Kotlin: extract context parameters from 2.2.20
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_8_0/isCodeQlContextParameter.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_2_20-Beta2/IrCompat.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_2_20-Beta2/isCodeQlContextParameter.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_2_20-Beta2/parameterIndexExcludingReceivers.kt
Due: none

CFG: Exclude blocks from post-order in case they're Exprs.
  shared/controlflow/codeql/controlflow/ControlFlowGraph.qll
Due: codeql-format, sync-files

Kotlin: stabilise implicit context argument locations
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

C++: Improve test stability when models are added
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.expected
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.qlref
Due: none

Java: update the Commons XML model to the commons-secure-xml 1.0.0 API
  java/ql/lib/change-notes/2026-08-02-apache-commons-secure-xml.md
  java/ql/lib/change-notes/2026-08-02-apache-commons-xml-factories.md
  java/ql/lib/semmle/code/java/frameworks/apache/CommonsXml.qll
  java/ql/test/query-tests/security/CWE-611/SecureXmlFactoriesTests.java
  java/ql/test/query-tests/security/CWE-611/options
  java/ql/test/stubs/apache-commons-secure-xml-1.0.0/org/apache/commons/xml/secure/SecureDocumentBuilderFactory.java
  java/ql/test/stubs/apache-commons-secure-xml-1.0.0/org/apache/commons/xml/secure/SecureSAXParserFactory.java
  java/ql/test/stubs/apache-commons-secure-xml-1.0.0/org/apache/commons/xml/secure/SecureSchemaFactory.java
  java/ql/test/stubs/apache-commons-secure-xml-1.0.0/org/apache/commons/xml/secure/SecureTransformerFactory.java
  java/ql/test/stubs/apache-commons-secure-xml-1.0.0/org/apache/commons/xml/secure/SecureXMLInputFactory.java
  java/ql/test/stubs/apache-commons-secure-xml-1.0.0/org/apache/commons/xml/secure/SecureXPathFactory.java
  java/ql/test/stubs/apache-commons-xml-0.1.0/org/apache/commons/xml/XmlFactories.java
Due: codeql-format, sync-files

C#: Add NuGet feed list to the unit tests.
  csharp/extractor/Semmle.Extraction.Tests/DotNet.cs
Due: none

C#: Move feed prefix logic out of the feed manager.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FeedManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/PackagesConfigRestorer.cs
Due: none

C#: Update unit tests to reflect the new logic.
  csharp/extractor/Semmle.Extraction.Tests/DotNet.cs
Due: none

Unified: Add Callable type
  unified/extractor/ast_types.yml
  unified/ql/lib/codeql/unified/internal/Ast.qll
  unified/ql/lib/unified.dbscheme
Due: codeql-format, sync-files

Rust: Start canonical path part indices at zero
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
Due: codeql-format, sync-files

C#: Introduce IFileProvider interface.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FeedManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FileProvider.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IFileProvider.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/PackagesConfigRestorer.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/DotnetSourceGeneratorBase.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/RazorGenerator.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/SourceGenerators/ResxGenerator.cs
Due: none

C#: Introduce interface for DependabotProxy.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependabotProxy.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNetCliInvoker.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FeedManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IDependabotProxy.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackageRestorer.cs
Due: none

C#: Make FeedManager unit-testable.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FeedManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FeedManagerIO.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IFeedManagerIO.cs
Due: none

C#: Move DotNetStub into its own file.
  csharp/extractor/Semmle.Extraction.Tests/DotNetStub.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
Due: none

C#: Add some Feed manager unit tests.
  csharp/extractor/Semmle.Extraction.Tests/DotNetStub.cs
  csharp/extractor/Semmle.Extraction.Tests/FeedManager.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
Due: none

Improve wording on doc in actions/security/ControlChecks.qll
  actions/ql/lib/codeql/actions/security/ControlChecks.qll
Due: codeql-format, sync-files

Add stubs for added models
  java/ql/test/stubs/apache-commons-dbutils/org/apache/commons/LICENSE.txt
  java/ql/test/stubs/apache-commons-dbutils/org/apache/commons/dbutils/AsyncQueryRunner.java
  java/ql/test/stubs/apache-commons-dbutils/org/apache/commons/dbutils/QueryRunner.java
  java/ql/test/stubs/apache-commons-dbutils/org/apache/commons/dbutils/ResultSetHandler.java
  java/ql/test/stubs/bigquery/LICENSE.txt
  java/ql/test/stubs/bigquery/com/google/cloud/bigquery/QueryJobConfiguration.java
  java/ql/test/stubs/javalin/LICENSE.txt
  java/ql/test/stubs/javalin/io/javalin/http/Context.java
  java/ql/test/stubs/javalin/io/javalin/http/UploadedFile.java
  java/ql/test/stubs/javalin/io/javalin/security/BasicAuthCredentials.java
  java/ql/test/stubs/javalin/io/javalin/validation/Validator.java
  java/ql/test/stubs/spark/LICENSE.txt
  java/ql/test/stubs/spark/QueryParamsMap.java
  java/ql/test/stubs/spark/Request.java
Due: none

unified: Add string interpolation expression
  unified/extractor/ast_types.yml
Due: none

unified: Regenerate QL
  unified/ql/lib/codeql/unified/internal/Ast.qll
  unified/ql/lib/unified.dbscheme
Due: codeql-format, sync-files

unified: Add string interpolation corpus test
  unified/extractor/tests/corpus/swift/literals/string-with-interpolation.output
  unified/extractor/tests/corpus/swift/literals/string-with-interpolation.swift
Due: sync-files

unified: Naive rules for string interpolations
  unified/extractor/src/languages/swift/swift.rs
  unified/extractor/tests/corpus/swift/collections/dictionary-subscript.output
  unified/extractor/tests/corpus/swift/control-flow/binding-modifier-does-not-leak-to-sibling.output
  unified/extractor/tests/corpus/swift/control-flow/defer-statement.output
  unified/extractor/tests/corpus/swift/control-flow/switch-case-item-where-clauses.output
  unified/extractor/tests/corpus/swift/control-flow/switch-statement.output
  unified/extractor/tests/corpus/swift/control-flow/switch-with-labeled-case-pattern-arguments.output
  unified/extractor/tests/corpus/swift/functions/function-call-with-labelled-arguments.output
  unified/extractor/tests/corpus/swift/functions/function-with-default-parameter-value.output
  unified/extractor/tests/corpus/swift/functions/function-with-no-parameters.output
  unified/extractor/tests/corpus/swift/literals/string-literal.output
  unified/extractor/tests/corpus/swift/literals/string-with-interpolation.output
  unified/extractor/tests/corpus/swift/literals/string-with-interpolation.swift
  unified/extractor/tests/corpus/swift/optionals-and-errors/catch-where-clauses.output
  unified/extractor/tests/corpus/swift/optionals-and-errors/throwing-function.output
Due: sync-files

unified: Set in_pattern=true when translating patterns
  unified/extractor/src/languages/swift/swift.rs
  unified/extractor/tests/corpus/swift/optionals-and-errors/catch-pattern.output
  unified/extractor/tests/corpus/swift/optionals-and-errors/catch-pattern.swift
Due: sync-files

unified: Include type_test_pattern in pattern type
  unified/extractor/ast_types.yml
Due: none

unified: Add corpus with with 'case .foo, T.foo, [T].foo'
  unified/extractor/tests/corpus/swift/control-flow/switch-with-binding-pattern.output
  unified/extractor/tests/corpus/swift/control-flow/switch-with-binding-pattern.swift
Due: sync-files

unified: Set and check ctx.in_pattern in more places
  unified/extractor/src/languages/swift/swift.rs
  unified/extractor/tests/corpus/swift/control-flow/switch-with-binding-pattern.output
Due: none

unified: Change tuple.element to Argument
  unified/extractor/ast_types.yml
  unified/ql/lib/codeql/unified/internal/Ast.qll
  unified/ql/lib/unified.dbscheme
Due: codeql-format, sync-files

unified: Fix mapping of tuple patterns
  unified/extractor/src/languages/swift/swift.rs
  unified/extractor/tests/corpus/swift/collections/tuple-literal.output
  unified/extractor/tests/corpus/swift/control-flow/switch-tuple-pattern.output
  unified/extractor/tests/corpus/swift/control-flow/switch-tuple-pattern.swift
  unified/extractor/tests/corpus/swift/operators/parenthesised-expression.output
Due: sync-files

unified: Collapse single-element tuples
  unified/extractor/src/languages/swift/swift.rs
  unified/extractor/tests/corpus/swift/operators/parenthesised-expression.output
Due: none

unified: Permit patterns in unresolved operator sequences
  unified/extractor/ast_types.yml
Due: none

unified: Use top-level rules for patternExpr and wildcard
  unified/extractor/src/languages/swift/swift.rs
  unified/extractor/tests/corpus/swift/operators/unresolved-operator-sequence-with-casts.output
  unified/extractor/tests/corpus/swift/operators/unresolved-operator-sequence.output
Due: none

unified: Handle 'asExpr' in pattern context
  unified/extractor/src/languages/swift/swift.rs
  unified/extractor/tests/corpus/swift/control-flow/switch-with-binding-pattern.output
  unified/extractor/tests/corpus/swift/control-flow/switch-with-binding-pattern.swift
Due: sync-files

unified: Make type_test_pattern.pattern optional
  unified/extractor/ast_types.yml
  unified/ql/lib/codeql/unified/internal/Ast.qll
  unified/ql/lib/unified.dbscheme
Due: codeql-format, sync-files

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
