Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Swift: Use absl::bit_width to calculate TRAP label size.
  swift/extractor/trap/BUILD.bazel
  swift/extractor/trap/TrapLabel.h
Due: none

Swift: Use `absl::StrJoin` to dump arguments for logging.
  swift/extractor/BUILD.bazel
  swift/extractor/main.cpp
Due: none

merge instead of rebase
  .github/workflows/sync-main.yml
Due: none

josh zipslip improvements
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ZipSlipQuery.qll
  csharp/ql/src/Security Features/CWE-022/ZipSlip.qhelp
  csharp/ql/src/Security Features/CWE-022/ZipSlip.ql
  csharp/ql/test/query-tests/Security Features/CWE-022/ZipSlip/ZipSlip.cs
  csharp/ql/test/query-tests/Security Features/CWE-022/ZipSlip/ZipSlip.expected
Due: codeql-format, sync-files, qhelp

allow unrelated histories on merge
  .github/workflows/sync-main.yml
Due: none

test predicate
  csharp/ql/src/Dead Code/DeadCode.qll
Due: codeql-format, sync-files

remove allow unrelated histories on git merge
  .github/workflows/sync-main.yml
Due: none

unshallow fetch
  .github/workflows/sync-main.yml
Due: none

removing unshallow
  .github/workflows/sync-main.yml
Due: none

removing debugging git log line
  .github/workflows/sync-main.yml
Due: none

removing dead code test
  csharp/ql/src/Dead Code/DeadCode.qll
Due: codeql-format, sync-files

Allow data flow through varargs parameters
  go/ql/lib/semmle/go/Expr.qll
  go/ql/lib/semmle/go/dataflow/internal/ContainerFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
Due: codeql-format, sync-files

Update PostUpdateNodes for implicit varargs slices
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  java/ql/lib/semmle/code/java/Member.qll
Due: codeql-format, sync-files

Swift: Upgrade two queries to @precision high.
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/src/queries/Security/CWE-312/CleartextStoragePreferences.ql
Due: codeql-format, sync-files

Swift: rework fetching and dispatching
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/infra/SwiftLocationExtractor.cpp
  swift/extractor/infra/SwiftLocationExtractor.h
  swift/extractor/infra/SwiftMangledName.cpp
  swift/extractor/infra/SwiftMangledName.h
  swift/extractor/invocation/BUILD.bazel
  swift/extractor/invocation/SwiftDiagnosticsConsumer.cpp
  swift/extractor/invocation/SwiftInvocationExtractor.cpp
  swift/extractor/mangler/BUILD.bazel
  swift/extractor/mangler/SwiftMangler.cpp
  swift/extractor/mangler/SwiftMangler.h
  swift/extractor/translators/DeclTranslator.cpp
  swift/extractor/translators/DeclTranslator.h
  swift/extractor/translators/SwiftVisitor.h
  swift/extractor/translators/TypeTranslator.h
  swift/extractor/trap/TrapDomain.h
  swift/extractor/trap/TrapLabel.h
  swift/extractor/trap/TrapLabelStore.h
  swift/ql/test/extractor-tests/generated/type/TupleType/TupleType.expected
  swift/ql/test/extractor-tests/generated/type/TupleType/TupleType_getType.expected
  swift/ql/test/extractor-tests/generated/type/TupleType/tuples_builtin.swift
Due: sync-files, swift-codegen

JS: Deduplicate union/intersection members
  javascript/extractor/lib/typescript/src/type_table.ts
Due: none

JS: Alias references are not always safe to expand
  javascript/extractor/lib/typescript/src/type_table.ts
Due: none

JS: Recognize type vars on anonymous function types
  javascript/extractor/lib/typescript/src/type_table.ts
Due: none

JS: Add hanging test case
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GenericTypeAlias/test.ql
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GenericTypeAlias/tsconfig.json
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GenericTypeAlias/tst.ts
Due: codeql-format, sync-files

python: no longer missing
  python/ql/test/experimental/dataflow/coverage-py2/classes.py
Due: none

C++: Accept test changes after '26a579fa64cb99533136217ebd1bbb005d528125'.
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/test_diff.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-079/semmle/CgiXss/CgiXss.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-089/SqlTainted/SqlTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/SAMATE/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/SAMATE/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/argv/argvLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/ifs/ifs.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/SAMATE/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-290/semmle/AuthenticationBypass/AuthenticationBypass.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/TaintedCondition.expected
Due: none

C++: Fix missing 'asExpr()' result for pointer dereferences that generate a 'CopyValueInstruction'.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.expected
Due: codeql-format, sync-files

Fix naming of OkHttpFlowConfig in test
  java/ql/test/library-tests/frameworks/okhttp/test.ql
Due: codeql-format, sync-files

C++: Fix inconsistencies.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.expected
Due: codeql-format, sync-files

C++: Only require fully converted nodes for the cases where we don't modify the value of 'getConvertedResultExpression'.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/test_diff.cpp
  cpp/ql/test/query-tests/Likely Bugs/Leap Year/Adding365DaysPerYear/Adding365daysPerYear.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowBuffer.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/VeryLikelyOverrunWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
Due: codeql-format, sync-files

C++: Accept inconsistencies. These only happen in auto generated code without locations, so it shouldn't be a big deal.
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Due: none

C++: Accept test changes.
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Due: none

C++: Fix enclosing functions for static locals.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCondition.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedGlobalVar.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
Due: codeql-format, sync-files

C++: IR translation for non-runtime-initialized static local variables.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/IRFunctionBase.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedGlobalVar.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRCppLanguageDebug.qll
  cpp/ql/test/library-tests/ir/ir/PrintConfig.qll
  csharp/ql/src/experimental/ir/implementation/internal/IRFunctionBase.qll
Due: codeql-format, sync-files

Ruby: Fix bad join in `controllerTemplateFile`
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
Due: codeql-format, sync-files

This was the case locally, but not in CI.. :shrug:
  python/ql/test/experimental/dataflow/coverage-py2/classes.py
Due: none

Swift: Add a test for UITextField.
  swift/ql/test/library-tests/dataflow/flowsources/uikit.swift
Due: sync-files

Swift: Add source model for UITextField.
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/UIKit/UITextField.qll
  swift/ql/test/library-tests/dataflow/flowsources/uikit.swift
Due: codeql-format, sync-files

Swift: Add a test for UISearchTextField.
  swift/ql/test/library-tests/dataflow/flowsources/uikit.swift
Due: sync-files

Add fluent models
  java/ql/test/library-tests/dataflow/taint/StringJoinerTests.java
  java/ql/test/library-tests/dataflow/taint/test.expected
Due: none

Add change note
  java/ql/lib/change-notes/2022-09-22-stringjoiner-summaries.md
Due: none

Add models for StringJoiner constructor
  java/ql/test/library-tests/dataflow/taint/StringJoinerTests.java
  java/ql/test/library-tests/dataflow/taint/test.expected
Due: none

Add review suggestions
  java/ql/lib/change-notes/2022-09-22-stringjoiner-summaries.md
  java/ql/test/library-tests/dataflow/taint/StringJoinerTests.java
  java/ql/test/library-tests/dataflow/taint/test.expected
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
