Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

update alert-messages of the sensitive data queries to match #10314
  javascript/ql/src/Security/CWE-312/CleartextLogging.ql
  javascript/ql/src/Security/CWE-312/CleartextStorage.ql
  javascript/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  javascript/ql/test/query-tests/Security/CWE-312/CleartextStorage.expected
Due: codeql-format, sync-files

Ruby: Fix bad join in `parameterMatch`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
Due: codeql-format, sync-files

Apply review findings
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/JvmNames.kt
Due: none

Revert formatting change
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Due: none

Java: Address comments.
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  java/ql/src/experimental/Security/CWE/CWE-625/PermissiveDotRegex.qhelp
  java/ql/src/experimental/Security/CWE/CWE-625/PermissiveDotRegexQuery.qll
Due: codeql-format, sync-files, qhelp

Python: stay in control flow layer
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatchPointsTo.qll
Due: codeql-format, sync-files

Swift: Add a few more test cases.
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
Due: sync-files

Swift: Switch from isSanitizerIn to isSanitizer.
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/src/queries/Security/CWE-311/CleartextTransmission.ql
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
Due: codeql-format, sync-files

Swift: Add barriers for encryption.
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/src/queries/Security/CWE-311/CleartextTransmission.ql
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/testCoreData.swift
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
Due: codeql-format, sync-files

Add models for androidx.core.app.NotificationCompat
  java/ql/lib/change-notes/2022-09-06-notificationcompat-summaries.md
  java/ql/lib/semmle/code/java/frameworks/android/Notifications.qll
  java/ql/test/library-tests/frameworks/android/notification/Test.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/NotificationBuilderWithBuilderAccessor.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/NotificationCompat.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/RemoteInput.java
  java/ql/test/stubs/google-android-9.0.0/androidx/versionedparcelable/CustomVersionedParcelable.java
  java/ql/test/stubs/google-android-9.0.0/androidx/versionedparcelable/VersionedParcelable.java
Due: codeql-format, sync-files

Swift: Clearer, possibly more efficient implementation.
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
Due: codeql-format, sync-files

Export as DataFlow instead of DF
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModels.qll
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModels.qll
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModelsSpecific.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModels.qll
  ruby/ql/lib/codeql/ruby/frameworks/data/internal/ApiGraphModelsSpecific.qll
Due: codeql-format, sync-files

C++: Speedup 'cpp/using-expired-stack-address' by avoiding a large negation.
  cpp/ql/src/Likely Bugs/Memory Management/UsingExpiredStackAddress.ql
Due: codeql-format, sync-files

JS: Remove stray module DF export
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
Due: codeql-format, sync-files

C++: Add more tests.
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UsingExpiredStackAddress/UsingExpiredStackAddress.expected
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/UsingExpiredStackAddress/test.cpp
Due: none

Python: resolve library calls in the CFG rather than in the AST
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatchPointsTo.qll
  python/ql/test/experimental/dataflow/summaries/TestSummaries.qll
Due: codeql-format, sync-files

Python: remove comments and start design document
  python/ql/lib/design.md
  python/ql/test/experimental/dataflow/summaries/TestSummaries.qll
Due: codeql-format, sync-files

Python: add qldoc
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatchPointsTo.qll
Due: codeql-format, sync-files

Python: qldoc to highlight source code aspect
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Due: codeql-format, sync-files

Python: Comment to highlight convention
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

Python: qldoc for `inject`
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImplSpecific.qll
Due: codeql-format, sync-files

Kotlin: Rewrite array type extraction
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Due: none

Kotlin: Remove a cast from extractPropertyReference
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Kotlin: Remove a cast from extractConstructorCall
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Kotlin: Remove a cast from getDeclaringTypeArguments
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Kotlin: Remove some redundant code
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Python: Fix broken test
  python/ql/test/experimental/query-tests/Security/CWE-208/TimingAttackAgainstSensitiveInfo/PossibleTimingAttackAgainstSensitiveInfo.expected
Due: none

Python: Add summary test `append_to_list`
  python/ql/test/experimental/dataflow/summaries/TestSummaries.qll
  python/ql/test/experimental/dataflow/summaries/summaries.expected
  python/ql/test/experimental/dataflow/summaries/summaries.py
Due: codeql-format, sync-files

JS: Update test output
  javascript/ql/test/library-tests/TypeScript/HasUnderlyingType/HasUnderlyingType.expected
Due: none

Unit tests for android:allowBackup query
  java/ql/test/query-tests/security/CWE-312/AllowBackupEnabledTest.expected
  java/ql/test/query-tests/security/CWE-312/AllowBackupEnabledTest.java
  java/ql/test/query-tests/security/CWE-312/AllowBackupEnabledTest.ql
  java/ql/test/query-tests/security/CWE-312/AndroidManifest.xml
Due: codeql-format, sync-files

Add reference to `codeql-pack.lock.yml` in test packs
  docs/codeql/codeql-cli/about-codeql-packs.rst
Due: none

Documentation cleanup for allowBackup query
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/src/Security/CWE/CWE-312/AllowBackupAttributeEnabled.ql
Due: codeql-format, sync-files

Move Source Dependencies description to its own section
  docs/codeql/codeql-cli/about-codeql-workspaces.rst
Due: none

Add reference to Source Dependencies section
  docs/codeql/codeql-cli/about-codeql-packs.rst
  docs/codeql/codeql-cli/about-codeql-workspaces.rst
Due: none

Python: add a flow summary we could consider adding non-value-preserving flow from input to output
  python/ql/lib/semmle/python/frameworks/Builtins.qll
Due: codeql-format, sync-files

deprecate predicates in `protocols.qll` that were only retained for backwards compatibility
  python/ql/lib/semmle/python/protocols.qll
Due: codeql-format, sync-files

deprecate unused code inside the points-to library
  python/ql/lib/semmle/python/objects/TObject.qll
  python/ql/lib/semmle/python/pointsto/Base.qll
  python/ql/lib/semmle/python/pointsto/Filters.qll
  python/ql/lib/semmle/python/pointsto/PointsToContext.qll
Due: codeql-format, sync-files

deprecate unused predicate inside the `essa` module
  python/ql/lib/semmle/python/essa/SsaDefinitions.qll
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
