Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

Ruby: Inline `getAValueReachableFromSource`
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/experimental/library-tests/rangeanalysis/rangeanalysis/RangeAnalysis.expected
Due: none

add failing test for call the Function with a spread argument
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/tst.js
Due: none

recognize calls to Function where spread arguments are used
  javascript/ql/lib/semmle/javascript/security/dataflow/CodeInjectionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/tst.js
Due: codeql-format, sync-files

add a markdown step through the `mermaid` library
  javascript/ql/lib/change-notes/2022-08-09-mermaid.md
  javascript/ql/lib/semmle/javascript/frameworks/Markdown.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/UnsafeHtmlConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/main.js
Due: codeql-format, sync-files

Swift: CWE-757: Insecure TLS configuration
  swift/ql/src/queries/Security/CWE-757/InsecureTLS.qhelp
  swift/ql/src/queries/Security/CWE-757/InsecureTLS.ql
  swift/ql/src/queries/Security/CWE-757/SecureTLS.swift
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.qlref
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.swift
Due: codeql-format, sync-files, qhelp

C++: Add DB scheme upgrade and downgrade scripts
  cpp/downgrades/625f706f2a44ae8dc3fc168bfe2637e65c30b012/exprs.ql
  cpp/downgrades/625f706f2a44ae8dc3fc168bfe2637e65c30b012/old.dbscheme
  cpp/downgrades/625f706f2a44ae8dc3fc168bfe2637e65c30b012/semmlecode.cpp.dbscheme
  cpp/downgrades/625f706f2a44ae8dc3fc168bfe2637e65c30b012/upgrade.properties
  cpp/ql/lib/upgrades/f96ad9b2da43bbc9e55a72a165febd270ae07981/old.dbscheme
  cpp/ql/lib/upgrades/f96ad9b2da43bbc9e55a72a165febd270ae07981/semmlecode.cpp.dbscheme
  cpp/ql/lib/upgrades/f96ad9b2da43bbc9e55a72a165febd270ae07981/upgrade.properties
Due: codeql-format, sync-files

C++: Add tests for newly supported builtin operations
  cpp/ql/test/library-tests/builtins/type_traits/clang.cpp
  cpp/ql/test/library-tests/builtins/type_traits/expr.expected
  cpp/ql/test/library-tests/builtins/type_traits/ms.cpp
  cpp/ql/test/library-tests/builtins/type_traits/options
Due: none

C++: Support more builtin operations
  cpp/ql/lib/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/lib/semmlecode.cpp.dbscheme
Due: codeql-format, sync-files

C++: Add change note for newly supported builtin operations
  cpp/ql/lib/change-notes/2022-09-06-additional-builtin-support.md
Due: none

C++: Update DB scheme stats file
  cpp/ql/lib/semmlecode.cpp.dbscheme.stats
Due: none

Swift: CWE-757: update docs and user facing text
  swift/ql/src/queries/Security/CWE-757/InsecureTLS.qhelp
  swift/ql/src/queries/Security/CWE-757/InsecureTLS.ql
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
Due: codeql-format, sync-files, qhelp

Swift: CWE-757: update severity
  swift/ql/src/queries/Security/CWE-757/InsecureTLS.ql
Due: codeql-format, sync-files

Kotlin: Add test with extraction error due to missing base class of `KFunctionX`
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/app/build.gradle
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/app/src/main/kotlin/testProject/App.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/diagnostics.expected
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/diagnostics.ql
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/settings.gradle
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/test.py
Due: codeql-format, sync-files

Kotlin: fix `KFunctionX.invoke` extraction
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin_kfunction/diagnostics.expected
Due: none

Ruby: Fix ActiveResource HTTP client request modeling
  ruby/ql/lib/codeql/ruby/frameworks/ActiveResource.qll
Due: codeql-format, sync-files

C++: Create a ZeroBound per function.
  cpp/ql/lib/experimental/semmle/code/cpp/rangeanalysis/Bound.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticBound.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticExpr.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticExprSpecific.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticSSA.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/ModulusAnalysis.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysis.qll
Due: codeql-format, sync-files

Kotlin: Catch exception thrown by kotlinc
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/Logger.kt
Due: none

Ruby: Convert data-flow test to use inline test expectations
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.ql
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call_sensitivity.rb
Due: codeql-format, sync-files

C++: Predicate factoring to prevent a bad standard order.
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysis.qll
Due: codeql-format, sync-files

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
Due: codeql-format, sync-files

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Due: codeql-format, sync-files

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Due: codeql-format, sync-files

Remove additional SQL sinks
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Due: codeql-format, sync-files

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Due: codeql-format, sync-files

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Due: codeql-format, sync-files

Remove additional path-injection sinks
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Due: codeql-format, sync-files

Remove additional Xss sinks
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Due: codeql-format, sync-files

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Due: codeql-format, sync-files

add taint-step in js/insecure-randomness for selecting a random element
  javascript/ql/lib/semmle/javascript/security/dataflow/InsecureRandomnessCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-338/InsecureRandomness.expected
  javascript/ql/test/query-tests/Security/CWE-338/tst.js
Due: codeql-format, sync-files

make a shared library of the typo database
  javascript/ql/src/Expressions/Misspelling.qll
  javascript/ql/src/Expressions/TypoDatabase.qll
  javascript/ql/src/qlpack.yml
  ql/ql/src/codeql_ql/style/MisspellingQuery.qll
  ql/ql/src/codeql_ql/style/TypoDatabase.qll
  ql/ql/src/qlpack.yml
  shared/typos/codeql/typos/TypoDatabase.qll
  shared/typos/qlpack.yml
Due: codeql-format, sync-files

Move CleartextStorage test files into separate dir
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidDatabaseTest.expected
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidDatabaseTest.java
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidDatabaseTest.ql
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidFilesystemTest.expected
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidFilesystemTest.java
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageAndroidFilesystemTest.ql
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageSharedPrefsTest.expected
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageSharedPrefsTest.java
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageSharedPrefsTest.ql
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageSharedPrefsTestKt.kt
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/options
  java/ql/test/query-tests/security/CWE-312/options
Due: codeql-format, sync-files

Change allowBackup tests to use qlref test format
  java/ql/test/query-tests/security/CWE-312/android/backup/AllowBackupEnabledTest.expected
  java/ql/test/query-tests/security/CWE-312/android/backup/AllowBackupEnabledTest.ql
  java/ql/test/query-tests/security/CWE-312/android/backup/AllowBackupEnabledTest.qlref
  java/ql/test/query-tests/security/CWE-312/android/backup/TestExplicitlyEnabled/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/TestMissing/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/options
Due: codeql-format, sync-files

Python: Move import logic into its own module
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
  python/ql/lib/semmle/python/dataflow/new/internal/ImportStar.qll
Due: codeql-format, sync-files

Add implicit read FlowState test
  java/ql/test/library-tests/dataflow/state/A.java
  java/ql/test/library-tests/dataflow/state/test.ql
Due: codeql-format, sync-files

Add implicit reads for FlowState sinks and steps
  java/ql/lib/change-notes/2022-09-08-implicit-read-flowstates.md
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
Due: codeql-format, sync-files

Sync files
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking4/TaintTrackingImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/tainttracking5/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking2/TaintTrackingImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/tainttracking3/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking1/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking2/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking3/TaintTrackingImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/tainttracking4/TaintTrackingImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/tainttrackingforlibraries/TaintTrackingImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
Due: codeql-format, sync-files

Refactor TemplateInjection libraries
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/frameworks/FreeMarker.qll
  java/ql/lib/semmle/code/java/frameworks/JinJava.qll
  java/ql/lib/semmle/code/java/frameworks/Pebble.qll
  java/ql/lib/semmle/code/java/frameworks/Thymeleaf.qll
  java/ql/lib/semmle/code/java/frameworks/Velocity.qll
  java/ql/lib/semmle/code/java/security/TemplateInjection.qll
  java/ql/lib/semmle/code/java/security/TemplateInjectionQuery.qll
  java/ql/src/Security/CWE/CWE-094/TemplateInjection.ql
  java/ql/src/Security/CWE/CWE-094/TemplateInjection.qll
Due: codeql-format, sync-files

Use InlineExpectationsTest
  java/ql/test/query-tests/security/CWE-094/FreemarkerSSTI.java
  java/ql/test/query-tests/security/CWE-094/JinJavaSSTI.java
  java/ql/test/query-tests/security/CWE-094/PebbleSSTI.java
  java/ql/test/query-tests/security/CWE-094/TemplateInjection.expected
  java/ql/test/query-tests/security/CWE-094/TemplateInjection.qlref
  java/ql/test/query-tests/security/CWE-094/TemplateInjectionTest.expected
  java/ql/test/query-tests/security/CWE-094/TemplateInjectionTest.ql
  java/ql/test/query-tests/security/CWE-094/ThymeleafSSTI.java
  java/ql/test/query-tests/security/CWE-094/VelocitySSTI.java
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
