Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel:buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

C#: Implement `ContentSet`
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
Due: codeql-format, sync-files

Sync shared file
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
Due: codeql-format, sync-files

C#: Add PrettyPrintModel post process query and migrate existing test case.
  csharp/ql/test/TestUtilities/PrettyPrintModels.ql
  csharp/ql/test/query-tests/Security Features/CWE-807/ConditionalBypass.ql
  csharp/ql/test/query-tests/Security Features/CWE-807/ConditionalBypass.qlref
Due: codeql-format, sync-files

C#: Make language specific ShowProvenance module and update tests.
  csharp/ql/test/TestUtilities/ProvenancePathGraph.qll
  csharp/ql/test/library-tests/dataflow/async/Async.expected
  csharp/ql/test/library-tests/dataflow/async/Async.ql
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.expected
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.ql
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.expected
  csharp/ql/test/library-tests/dataflow/external-models/ExternalFlow.ql
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.expected
  csharp/ql/test/library-tests/dataflow/global/DataFlowPath.ql
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.expected
  csharp/ql/test/library-tests/dataflow/global/TaintTrackingPath.ql
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.ql
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest2.ql
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest3.ql
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest4.ql
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.ql
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.expected
  csharp/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest6.ql
  csharp/ql/test/library-tests/frameworks/EntityFramework/Dataflow.expected
  csharp/ql/test/library-tests/frameworks/EntityFramework/Dataflow.ql
Due: codeql-format, sync-files

C#: Minor adjustment to limiting the number of extractor messages
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/CompilerDiagnostic.cs
  csharp/extractor/Semmle.Extraction/Entities/ExtractionMessage.cs
Due: none

C++: Update documentation for cpp/uncontrolled-allocation-size to clarify its scope
  cpp/ql/src/Security/CWE/CWE-190/TaintedAllocationSize.c
  cpp/ql/src/Security/CWE/CWE-190/TaintedAllocationSize.qhelp
  cpp/ql/src/Security/CWE/CWE-190/TaintedAllocationSize.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/test.cpp
Due: codeql-format, sync-files, qhelp

Shared: remove spurious type restriction in subpaths04
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Shared: autoformat
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Shared: replace with compatibility check
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

C#: Store extractor message in DB for limit reached
  csharp/extractor/Semmle.Extraction/Entities/ExtractionMessage.cs
  csharp/extractor/Semmle.Extraction/Tuples.cs
  csharp/ql/integration-tests/all-platforms/standalone/Diag.expected
  csharp/ql/integration-tests/all-platforms/standalone/Diag.ql
Due: codeql-format, sync-files

bump bazel to 7.3.0
  .bazelversion
Due: buildifier

C#: Adopt shared SSA data-flow integration
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/BaseSSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/barrier-guards/BarrierFlow.cs
  csharp/ql/test/library-tests/dataflow/barrier-guards/barrier-flow.expected
  csharp/ql/test/library-tests/dataflow/barrier-guards/barrier-flow.ql
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/tuples/DataFlowStep.expected
Due: codeql-format, sync-files

C#: Add example of missing sink generation.
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/Sinks.cs
Due: none

Java: Add example of missing sink generation.
  java/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ext.yml
  java/ql/test/utils/modelgenerator/dataflow/p/Sinks.java
Due: none

C#/Java: Use a parameterized module for making the source and sink callable classes.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

C#/Java: Update model generation expected output.
  csharp/ql/test/utils/modelgenerator/dataflow/Sinks.cs
  java/ql/test/utils/modelgenerator/dataflow/p/Sinks.java
Due: none

C#: Update .NET 8 Runtime models.
  csharp/ql/lib/ext/generated/Microsoft.Android.Build.Ndk.model.yml
  csharp/ql/lib/ext/generated/Microsoft.Extensions.Configuration.UserSecrets.model.yml
  csharp/ql/lib/ext/generated/Microsoft.Extensions.DependencyModel.Resolution.model.yml
  csharp/ql/lib/ext/generated/System.Collections.Generic.model.yml
  csharp/ql/lib/ext/generated/System.Configuration.model.yml
  csharp/ql/lib/ext/generated/System.Diagnostics.model.yml
  csharp/ql/lib/ext/generated/System.IO.model.yml
  csharp/ql/lib/ext/generated/System.Net.Http.model.yml
  csharp/ql/lib/ext/generated/System.Security.Cryptography.model.yml
  csharp/ql/lib/ext/generated/System.Threading.Tasks.Dataflow.model.yml
  csharp/ql/lib/ext/generated/System.model.yml
Due: none

C#: Add some manual source neutrals.
  csharp/ql/lib/ext/System.Configuration.model.yml
  csharp/ql/lib/ext/System.Diagnostics.model.yml
  csharp/ql/lib/ext/System.model.yml
Due: none

C#: Update .NET 8 runtime models.
  csharp/ql/lib/ext/generated/System.Configuration.model.yml
  csharp/ql/lib/ext/generated/System.Diagnostics.model.yml
  csharp/ql/lib/ext/generated/System.model.yml
Due: none

C++: Avoid outputting a cartesian product in AliasedSSA's getOverlap.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Due: codeql-format, sync-files

C#: Add change note.
  csharp/ql/lib/change-notes/2024-07-19-added-sources.md
Due: none

Dataflow: Add test highlighting missing subpath.
  java/ql/test/library-tests/dataflow/subpaths/A.java
  java/ql/test/library-tests/dataflow/subpaths/flow.expected
  java/ql/test/library-tests/dataflow/subpaths/flow.ql
Due: codeql-format, sync-files

Create ready-for-doc-review.yml
  .github/workflows/ready-for-doc-review.yml
Due: none

PS: Add simple build script.
  powershell/build.ps1
Due: none

PS: Add readme with slight modifications from the internal repo.
  powershell/README.md
Due: none

Java: add change notes for three recent buildless fixes
  java/ql/lib/change-notes/2024-08-09-buildless-executable-war.md
  java/ql/lib/change-notes/2024-08-09-buildless-gradle-classifiers.md
  java/ql/lib/change-notes/2024-08-14-buildless-coder-malfunction.md
Due: none

Kotlin: fix wrapper on windows
  java/kotlin-extractor/dev/wrapper.py
Due: none

Dataflow: Fix missing join on summaryLabel.
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Java/C#: Accept expected changes.
  csharp/ql/test/library-tests/dataflow/collections/CollectionFlow.expected
  java/ql/test/experimental/query-tests/security/CWE-625/PermissiveDotRegex.expected
Due: none

Update CookieInjection.ql to remove period
  python/ql/src/Security/CWE-020/CookieInjection.ql
Due: codeql-format, sync-files

ThreatModels: Add `stdin` kind
  shared/mad/codeql/mad/ModelValidation.qll
  shared/threat-models/ext/threat-model-grouping.model.yml
Due: codeql-format, sync-files

C#: Model `System.Console` reads as `stdin` threat-model
  csharp/ql/lib/ext/System.model.yml
Due: none

Java: Model `System.in` as `stdin` threat-model
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
Due: codeql-format, sync-files

Java: Fixup test
  java/ql/test/library-tests/dataflow/threat-models/Test.java
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest5.ext.yml
Due: none

Java: Add change-note
  java/ql/lib/change-notes/2024-08-13-stdin-threat-model.md
Due: none
