Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

C#: Add change note.
  csharp/ql/lib/change-notes/2025-05-14-dotnet-models.md
Due: none

Swift: add new `TypeValueExpr` to CFG
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/test/library-tests/ast/Errors.expected
  swift/ql/test/library-tests/ast/Missing.expected
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/ql/test/library-tests/ast/cfg.swift
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
  swift/ql/test/library-tests/controlflow/graph/cfg.swift
  swift/tools/qltest.sh
Due: codeql-format, sync-files

Swift: add change note
  swift/ql/lib/change-notes/2025-05-14-type_value_expr_cfg.md
Due: none

Rust: accept dummy test output
  rust/ql/test/utils/PrintAst.expected
Due: none

Check more things while running tests
  go/Makefile
Due: none

C++: Add test case for IR edge case
  cpp/ql/test/library-tests/ir/no-function-calls/PrintAST.expected
  cpp/ql/test/library-tests/ir/no-function-calls/PrintAST.ql
  cpp/ql/test/library-tests/ir/no-function-calls/PrintConfig.qll
  cpp/ql/test/library-tests/ir/no-function-calls/aliased_ir.expected
  cpp/ql/test/library-tests/ir/no-function-calls/aliased_ir.ql
  cpp/ql/test/library-tests/ir/no-function-calls/test.cpp
Due: codeql-format, sync-files

C++: Fix IR edge case where there are no function calls taking an argument
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/test/library-tests/ir/no-function-calls/aliased_ir.expected
Due: codeql-format, sync-files

Fix inefficient pattern: if-exists -> exists-or-not-exists
  ruby/ql/lib/codeql/ruby/printAst.qll
Due: codeql-format, sync-files

actions: add some missing permissions
  actions/ql/lib/ext/config/actions_permissions.yml
  actions/ql/src/change-notes/2025-05-14-minimal-permission-for-add-to-project.md
  actions/ql/test/query-tests/Security/CWE-275/.github/workflows/perms10.yml
  actions/ql/test/query-tests/Security/CWE-275/.github/workflows/perms8.yml
  actions/ql/test/query-tests/Security/CWE-275/.github/workflows/perms9.yml
  actions/ql/test/query-tests/Security/CWE-275/MissingActionsPermissions.expected
Due: none

Address review comments
  rust/ql/lib/codeql/rust/elements/internal/LiteralExprImpl.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Bultins.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: codeql-format, sync-files, rust-codegen

Fold v_1_5_0 and v_1_5_20 files forwards into v_1_6_0, dropping any that are overridden
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/FileEntry.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Functions.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/IrBuiltIns.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_0/annotationType.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/CodeQLIrConst.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/CodeQLIsRoot.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/CommentExtractorLighterAST.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/ExperimentalCompilerApi.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/FileEntry.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/FirMetadataSourceFirFile.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/IrLazyFunction.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/IrSymbolInternals.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/IrVisitor.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/IsUnderscoreParameter.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/JvmDefaultModeIsNoCompatibility.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/Kotlin2ComponentRegistrar.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/LinesOfCodeLighterAST.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/ReferenceEntity.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/SyntheticBodyKind.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/Types.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/UsesK2.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/VirtualFileBasedSourceElement.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/allOverriddenIncludingSelf.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/copyTo.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/createImplicitParameterDeclarationWithWrappedDescriptor.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/getFileClassFqName.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/getJvmDefaultMode.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/getKotlinType.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/isDispatchReceiver.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/packageFqName.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/parameterIndexExcludingReceivers.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/parents.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/typeUtils.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/withHasQuestionMark.kt
Due: none

Inline version-specific override code where there is now only one version
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/MetaAnnotationSupport.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/FileEntry.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/Functions.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/IrBuiltIns.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/annotationType.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_6_0/typeUtils.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_1_20-Beta1/typeUtils.kt
Due: none

C#: Convert cs/gethashcode-is-not-defined to inline expectations tests.
  csharp/ql/test/query-tests/Likely Bugs/HashedButNoHash/HashedButNoHash.cs
  csharp/ql/test/query-tests/Likely Bugs/HashedButNoHash/HashedButNoHash.expected
  csharp/ql/test/query-tests/Likely Bugs/HashedButNoHash/HashedButNoHash.qlref
Due: none

C#: Add some more test cases.
  csharp/ql/test/query-tests/Likely Bugs/HashedButNoHash/HashedButNoHash.cs
  csharp/ql/test/query-tests/Likely Bugs/HashedButNoHash/HashedButNoHash.expected
Due: none

C#: Include dictionary indexers and more methods in cs/gethashcode-is-not-defined.
  csharp/ql/lib/semmle/code/csharp/frameworks/system/collections/Generic.qll
  csharp/ql/src/Likely Bugs/HashedButNoHash.ql
Due: codeql-format, sync-files

C#: Update test expected output.
  csharp/ql/test/query-tests/Likely Bugs/HashedButNoHash/HashedButNoHash.expected
Due: none

C#: Add change note.
  csharp/ql/src/change-notes/2025-05-15-gethashcode-is-not-defined.md
Due: none

C++: Exclude tests (by matching paths) in model generation.
  cpp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
Due: codeql-format, sync-files

Added named import to definitions test
  go/ql/test/query-tests/definitions/definitions.expected
  go/ql/test/query-tests/definitions/greet.go
Due: none

Fix nil checks to stop creating unused labels
  go/extractor/extractor.go
Due: none

Deal better with Windows paths
  go/extractor/extractor.go
Due: none

Ruby: Compile for overlay mode.
  ruby/ql/lib/qlpack.yml
Due: none

Rust: extract source files of depdendencies
  rust/extractor/src/main.rs
  rust/extractor/src/translate.rs
  rust/extractor/src/translate/base.rs
Due: rust-lint

C++: Add tests to exercise the upcoming behavior of function dispatch when there are model-generated summaries AND source definitions.
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/flow.ext.yml
  cpp/ql/test/library-tests/dataflow/external-models/sinks.expected
  cpp/ql/test/library-tests/dataflow/external-models/sources.expected
  cpp/ql/test/library-tests/dataflow/external-models/steps.expected
  cpp/ql/test/library-tests/dataflow/external-models/steps.ext.yml
  cpp/ql/test/library-tests/dataflow/external-models/test.cpp
Due: none

C++: Update semantics of picking the static call target in dataflow.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/test.cpp
Due: none

Python: Fix a bug in glob conversion
  python/extractor/semmle/path_filters.py
Due: none

Python: Remove special casing of hidden files
  python/extractor/semmle/traverser.py
Due: none

Python: Update test
  python/extractor/cli-integration-test/hidden-files/config.yml
  python/extractor/cli-integration-test/hidden-files/query-default.expected
  python/extractor/cli-integration-test/hidden-files/repo_dir/.hidden_dir/internal_non_hidden/another_non_hidden.py
  python/extractor/cli-integration-test/hidden-files/test.sh
Due: none

Python: Update change note and extractor config
  python/codeql-extractor.yml
  python/ql/lib/change-notes/2025-04-30-extract-hidden-files-by-default.md
Due: none

Python: Bump extractor version
  python/extractor/semmle/util.py
Due: none

Python: Fix a bug in glob regex creation
  python/extractor/semmle/path_filters.py
Due: none

update python and csharp via config/sync-files.py
  csharp/ql/lib/semmle/code/csharp/dataflow/Bound.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/ModulusAnalysis.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/Sign.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/SignAnalysisCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/SsaReadPositionCommon.qll
  python/ql/lib/semmle/python/security/internal/EncryptionKeySizes.qll
Due: codeql-format, sync-files

set compileForOverlayEval true for java
  java/ql/src/qlpack.yml
Due: none

C++: Add a test that demonstrate missing asExpr for aggregate literals.
  cpp/ql/test/library-tests/dataflow/asExpr/test.cpp
Due: none

C++: Add a subclass of PostUpdateNodes and ensure that 'node.asExpr() instanceof ClassAggregateLiteral' holds for this new node subclass.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ExprNodes.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/asExpr/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
Due: none

C++: Add change note.
  cpp/ql/lib/change-notes/2025-05-15-class-aggregate-literals.md
Due: none

Rust: remove module data from Crate elements
  rust/extractor/src/crate_graph.rs
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/ql/.generated.list
  rust/ql/lib/codeql/rust/elements/Crate.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Crate.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/rust.dbscheme
  rust/schema/prelude.py
Due: codeql-format, sync-files, rust-codegen, rust-lint

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
