Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

Rust: Add tests for chained `let` expressions
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/CfgConsistency.expected
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/dataflow/local/options.yml
  rust/ql/test/library-tests/variables/CONSISTENCY/CfgConsistency.expected
  rust/ql/test/library-tests/variables/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/main.rs
  rust/ql/test/library-tests/variables/options.yml
  rust/ql/test/library-tests/variables/variables.expected
  rust/ql/test/query-tests/unusedentities/CONSISTENCY/CfgConsistency.expected
  rust/ql/test/query-tests/unusedentities/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/UnusedVariable.expected
  rust/ql/test/query-tests/unusedentities/main.rs
  rust/ql/test/query-tests/unusedentities/options.yml
Due: none

Rust: Handle chained `let` expressions
  rust/ql/lib/codeql/rust/controlflow/internal/CfgNodes.qll
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/controlflow/internal/Splitting.qll
  rust/ql/lib/codeql/rust/dataflow/Ssa.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/controlflow-unstable/Cfg.expected
  rust/ql/test/library-tests/controlflow/BasicBlocks.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/CfgConsistency.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/dataflow/sources/test.rs
  rust/ql/test/library-tests/dataflow/sources/test_futures_io.rs
  rust/ql/test/library-tests/variables/CONSISTENCY/CfgConsistency.expected
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/main.rs
  rust/ql/test/library-tests/variables/variables.expected
  rust/ql/test/query-tests/security/CWE-825/AccessAfterLifetime.expected
  rust/ql/test/query-tests/security/CWE-825/lifetime.rs
  rust/ql/test/query-tests/unusedentities/CONSISTENCY/CfgConsistency.expected
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/UnusedVariable.expected
  rust/ql/test/query-tests/unusedentities/main.rs
  rust/ql/test/utils-tests/modelgenerator/option.rs
Due: codeql-format, sync-files, rust-codegen

Go: Mention Go 1.25 as supported
  docs/codeql/reusables/supported-versions-compilers.rst
Due: none

Rust: Remove references to `getResolvedPath` and `getExtendedCanonicalPath`
  rust/ql/lib/codeql/rust/dataflow/internal/FlowSummaryImpl.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
  rust/ql/src/queries/telemetry/RustAnalyzerComparison.qll
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.ql
  rust/ql/test/extractor-tests/canonical_path_disabled/canonical_paths.expected
  rust/ql/test/library-tests/dataflow/sources/InlineFlow.ql
  rust/ql/test/library-tests/sensitivedata/SensitiveData.ql
Due: codeql-format, sync-files

Rust: Add some more path injection test case variants.
  rust/ql/test/query-tests/security/CWE-022/src/main.rs
Due: none

Rust: Add tags to intermediate steps in the test.
  rust/ql/test/query-tests/security/CWE-022/TaintedPathSinks.ql
  rust/ql/test/query-tests/security/CWE-022/src/main.rs
Due: codeql-format, sync-files

Rust: Update StartswithCall.
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
  rust/ql/test/query-tests/security/CWE-022/src/main.rs
Due: codeql-format, sync-files

Rust: Run test, accept .expected and Cargo.lock.
  rust/ql/test/query-tests/security/CWE-117/Cargo.lock
  rust/ql/test/query-tests/security/CWE-117/LogInjection.expected
Due: none

Add change note
  rust/ql/lib/change-notes/2025-08-14-if-while-let-chains.md
Due: none

Rust: Update inline test annotations accordingly.
  rust/ql/test/query-tests/security/CWE-117/LogInjection.expected
  rust/ql/test/query-tests/security/CWE-117/main.rs
Due: none

Rust: Fix compilation errors in example code.
  rust/ql/src/queries/security/CWE-117/LogInjectionBad.rs
  rust/ql/src/queries/security/CWE-117/LogInjectionGood.rs
Due: none

Rust: Update suite lists.
  rust/ql/integration-tests/query-suite/rust-security-and-quality.qls.expected
  rust/ql/integration-tests/query-suite/rust-security-extended.qls.expected
Due: none

Rust: Accept consistency check failures.
  rust/ql/test/query-tests/security/CWE-117/CONSISTENCY/PathResolutionConsistency.expected
Due: none

Rust: Add log injection sinks to stats.
  rust/ql/src/queries/summary/Stats.qll
Due: codeql-format, sync-files

Rust: Update the security-severity tag.
  rust/ql/src/queries/security/CWE-117/LogInjection.ql
Due: codeql-format, sync-files

Rust: Distinguish internal/external items in path resolution
  rust/ql/lib/codeql/rust/internal/CachedStages.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/lib/codeql/rust/internal/TypeInferenceConsistency.qll
  rust/ql/test/query-tests/security/CWE-089/CONSISTENCY/TypeInferenceConsistency.expected
  rust/ql/test/query-tests/security/CWE-312/CONSISTENCY/TypeInferenceConsistency.expected
  rust/ql/test/query-tests/security/CWE-770/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-825/CONSISTENCY/PathResolutionConsistency.expected
Due: codeql-format, sync-files

Rust: Fallback crate resolution
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/test/library-tests/path-resolution/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/path-resolution/path-resolution.expected
Due: codeql-format, sync-files

add extensions for remote sources
  java/ql/lib/ext/jakarta.servlet.http.model.yml
  java/ql/lib/ext/jakarta.servlet.model.yml
Due: none

C#: Replace input interpolation with environment variable
  csharp/actions/create-extractor-pack/action.yml
Due: none

Rust: accept test changes
  rust/ql/test/extractor-tests/generated/AsmClobberAbi/AsmClobberAbi.expected
  rust/ql/test/extractor-tests/generated/AsmConst/AsmConst.expected
  rust/ql/test/extractor-tests/generated/AsmDirSpec/AsmDirSpec.expected
  rust/ql/test/extractor-tests/generated/AsmLabel/AsmLabel.expected
  rust/ql/test/extractor-tests/generated/AsmOperandExpr/AsmOperandExpr.expected
  rust/ql/test/extractor-tests/generated/AsmOperandNamed/AsmOperandNamed.expected
  rust/ql/test/extractor-tests/generated/AsmOption/AsmOption.expected
  rust/ql/test/extractor-tests/generated/AsmOptionsList/AsmOptionsList.expected
  rust/ql/test/extractor-tests/generated/AsmRegOperand/AsmRegOperand.expected
  rust/ql/test/extractor-tests/generated/AsmRegSpec/AsmRegSpec.expected
  rust/ql/test/extractor-tests/generated/AsmSym/AsmSym.expected
  rust/ql/test/extractor-tests/generated/MacroCall/MacroCall.expected
  rust/ql/test/extractor-tests/generated/MacroItems/MacroItems.expected
  rust/ql/test/extractor-tests/generated/NeverTypeRepr/NeverTypeRepr.expected
  rust/ql/test/extractor-tests/macro-expansion/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/extractor-tests/macro-expansion/test.expected
  rust/ql/test/library-tests/controlflow/BasicBlocks.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/strings/inline-taint-flow.expected
  rust/ql/test/library-tests/path-resolution/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/variables.expected
  rust/ql/test/query-tests/security/CWE-020/RegexInjection.expected
  rust/ql/test/query-tests/security/CWE-089/CONSISTENCY/TypeInferenceConsistency.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-311/CleartextTransmission.expected
  rust/ql/test/query-tests/security/CWE-312/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
  rust/ql/test/query-tests/security/CWE-825/AccessAfterLifetime.expected
  rust/ql/test/query-tests/unusedentities/CONSISTENCY/PathResolutionConsistency.expected
Due: rust-codegen

Shared: Skip non-CFG children in `StandardTree`
  rust/ql/lib/codeql/rust/controlflow/internal/CfgConsistency.qll
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/controlflow/internal/Scope.qll
  shared/controlflow/codeql/controlflow/Cfg.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Actions: ArgumentInjection
  actions/ql/lib/codeql/actions/security/ArgumentInjectionQuery.qll
  actions/ql/src/experimental/Security/CWE-088/ArgumentInjectionCritical.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] Actions: ArtifactPoisoning
  actions/ql/lib/codeql/actions/security/ArtifactPoisoningQuery.qll
  actions/ql/src/Security/CWE-829/ArtifactPoisoningCritical.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] Actions: CodeInjection
  actions/ql/lib/codeql/actions/security/CodeInjectionQuery.qll
  actions/ql/src/Security/CWE-094/CodeInjectionCritical.ql
  actions/ql/src/Security/CWE-349/CachePoisoningViaCodeInjection.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] Actions: CommandInjection
  actions/ql/lib/codeql/actions/security/CommandInjectionQuery.qll
  actions/ql/src/experimental/Security/CWE-078/CommandInjectionCritical.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] Actions: EnvPathInjection
  actions/ql/lib/codeql/actions/security/EnvPathInjectionQuery.qll
  actions/ql/src/Security/CWE-077/EnvPathInjectionCritical.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] Actions: EnvVarInjection
  actions/ql/lib/codeql/actions/security/EnvVarInjectionQuery.qll
  actions/ql/src/Security/CWE-077/EnvVarInjectionCritical.ql
Due: codeql-format, sync-files

[TEST] C++: CWE-020/ExternalAPI: add tests based on qlhelp
  cpp/ql/test/query-tests/Security/CWE/CWE-020/CountUntrustedDataToExternalAPI.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-020/CountUntrustedDataToExternalAPI.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-020/ExternalAPISinkExample.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-020/ExternalAPITaintStepExample.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-020/IRCountUntrustedDataToExternalAPI.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-020/IRCountUntrustedDataToExternalAPI.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-020/IRUntrustedDataToExternalAPI.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-020/IRUntrustedDataToExternalAPI.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-020/UntrustedDataToExternalAPI.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-020/UntrustedDataToExternalAPI.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-020/sinks.ext..yml
  cpp/ql/test/query-tests/Security/CWE/CWE-020/sources.ext.yml
Due: none

[DIFF-INFORMED] C++: (IR) ExternalAPIs
  cpp/ql/src/Security/CWE/CWE-020/ExternalAPIsSpecific.qll
  cpp/ql/src/Security/CWE/CWE-020/ir/ExternalAPIsSpecific.qll
Due: codeql-format, sync-files

[TEST] C++: CleartextSqliteDatabase: add new test
  cpp/ql/test/query-tests/Security/CWE/CWE-313/CleartextSqliteDatabase.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-313/CleartextSqliteDatabase.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-313/CleartextSqliteDatabase.qlref
Due: none

[DIFF-INFORMED] C++: OverflowDestination
  cpp/ql/src/Critical/OverflowDestination.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] C++: ConstantSizeArrayOffByOne
  cpp/ql/src/experimental/Security/CWE/CWE-193/ConstantSizeArrayOffByOne.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] C++: DecompressionBombs
  cpp/ql/src/experimental/Security/CWE/CWE-409/DecompressionBombs.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] C++: NonConstantFormat
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] C++: LeapYear
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] C++: TaintedPath
  cpp/ql/src/Security/CWE/CWE-022/TaintedPath.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] C++: ExecTainted
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] C++: CgiXss
  cpp/ql/src/Security/CWE/CWE-079/CgiXss.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] C++: SqlTainted
  cpp/ql/src/Security/CWE/CWE-089/SqlTainted.ql
Due: codeql-format, sync-files

[DIFF-INFORMED] C++: UnboundedWrite
  cpp/ql/src/Security/CWE/CWE-120/UnboundedWrite.ql
Due: codeql-format, sync-files

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
