Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

Rust: Lift content reads as taint steps
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
Due: codeql-format, sync-files

Rust: Remov unneeded model
  rust/ql/lib/codeql/rust/frameworks/actix-web.model.yml
Due: none

Rust: Update tests and expected files
  rust/ql/test/library-tests/dataflow/sources/database/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/database/test.rs
  rust/ql/test/library-tests/dataflow/sources/env/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/env/test.rs
  rust/ql/test/library-tests/dataflow/sources/file/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/net/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/net/test.rs
  rust/ql/test/library-tests/dataflow/sources/web_frameworks/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/web_frameworks/test.rs
  rust/ql/test/query-tests/security/CWE-825/AccessAfterLifetime.expected
Due: none

Rust: Refactor flow summary implementation
  rust/ql/lib/codeql/rust/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

Rust: Add extensible predicate to exclude fields and block fieldless enum types
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
Due: codeql-format, sync-files

Rust: Exclude range start and end from field taint steps
  rust/ql/lib/codeql/rust/frameworks/stdlib/core.model.yml
Due: none

Rust: Apply suggestions from code review
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
Due: codeql-format, sync-files

Rust: Address PR feedback
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
Due: codeql-format, sync-files

Rust: Do not use types to limit lifting of reads to taint steps
  rust/ql/lib/codeql/rust/dataflow/internal/TaintTrackingImpl.qll
Due: codeql-format, sync-files

Rust: Update expected files
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/main.rs
  rust/ql/test/library-tests/dataflow/sources/database/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/database/test.rs
Due: none

Rust: Remove `CallExprBase` and elaborate QL doc
  rust/schema/annotations.py
Due: rust-codegen

Rust: Run codegen
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/controlflow/internal/generated/CfgNodes.qll
  rust/ql/lib/codeql/rust/elements.qll
  rust/ql/lib/codeql/rust/elements/CallExpr.qll
  rust/ql/lib/codeql/rust/elements/CallExprBase.qll
  rust/ql/lib/codeql/rust/elements/MethodCallExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/CallExprBaseImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/MethodCallExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/CallExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/CallExprBase.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/MethodCallExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/extractor-tests/generated/.generated_tests.list
  rust/ql/test/extractor-tests/generated/CallExpr/CallExpr.ql
  rust/ql/test/extractor-tests/generated/CallExpr/gen_call_expr.rs
  rust/ql/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr.ql
  rust/ql/test/extractor-tests/generated/MethodCallExpr/gen_method_call_expr.rs
Due: codeql-format, sync-files, rust-codegen, rust-lint

Rust: Add DB upgrade script
  rust/ql/lib/upgrades/30a0713e5bf69c60d003e4994e5abd1c78a36826/old.dbscheme
  rust/ql/lib/upgrades/30a0713e5bf69c60d003e4994e5abd1c78a36826/rust.dbscheme
  rust/ql/lib/upgrades/30a0713e5bf69c60d003e4994e5abd1c78a36826/upgrade.properties
  rust/ql/lib/upgrades/30a0713e5bf69c60d003e4994e5abd1c78a36826/upgrade.ql
Due: codeql-format, sync-files

Rust: Add DB downgrade script
  rust/downgrades/e54d01f67a416b3d6eb7b970f27295097f2cac7f/old.dbscheme
  rust/downgrades/e54d01f67a416b3d6eb7b970f27295097f2cac7f/rust.dbscheme
  rust/downgrades/e54d01f67a416b3d6eb7b970f27295097f2cac7f/upgrade.properties
  rust/downgrades/e54d01f67a416b3d6eb7b970f27295097f2cac7f/upgrade.ql
Due: codeql-format, sync-files

Add change note
  python/ql/lib/change-notes/2025-12-01-websockets.md
Due: none

Update qldoc
  python/ql/lib/semmle/python/frameworks/Websockets.qll
Due: codeql-format, sync-files

Shared: Improvements to content-sensitive model generation
  rust/ql/test/utils-tests/modelgenerator/option.rs
  shared/dataflow/codeql/dataflow/internal/ContentDataFlowImpl.qll
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
Due: codeql-format, sync-files

Update expectations
  python/ql/test/library-tests/frameworks/tornado/routing_test.py
Due: none

Update test and qldoc
  python/ql/lib/semmle/python/frameworks/Websockets.qll
  python/ql/test/library-tests/frameworks/websockets/response_test.py
Due: codeql-format, sync-files

Revert "Delete dummy.ql for now"
  go/ql/test/consistency/dummy.expected
  go/ql/test/consistency/dummy.ql
Due: codeql-format, sync-files

C++: Add a small library for control-flow reachability.
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
Due: codeql-format, sync-files

C++: Port 'positive' part of the query to the new module.
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
Due: codeql-format, sync-files

C++: Port toe fhrst part of the negation to the new module.
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
Due: codeql-format, sync-files

C++: Port the final part of the negation to the new module.
  cpp/ql/src/Likely Bugs/Leap Year/UncheckedReturnValueForTimeFunctions.ql
Due: codeql-format, sync-files

Rust: Add type inference tests for raw pointers
  rust/ql/test/library-tests/type-inference/raw_pointer.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: none

Rust: Include certain types in type inference tests
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/library-tests/type-inference/type-inference.ql
Due: codeql-format, sync-files

C#: Add extractor support for object initializer methods.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Constructor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/IMethodEntity.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Method.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/ObjectInitMethod.cs
  csharp/extractor/Semmle.Extraction.CSharp/Trap/Tuples.cs
Due: none

C#: Add object initializer test.
  csharp/ql/test/library-tests/obinit/Flow.expected
  csharp/ql/test/library-tests/obinit/Flow.ql
  csharp/ql/test/library-tests/obinit/obinit.cs
Due: codeql-format, sync-files

C#: Replace initializer splitting with ObjectInitMethod.
  csharp/ql/lib/semmle/code/csharp/Callable.qll
  csharp/ql/lib/semmle/code/csharp/ExprOrStmtParent.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/Splitting.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/src/Bad Practices/Declarations/NoConstantsOnly.ql
  csharp/ql/test/library-tests/obinit/Flow.expected
  csharp/ql/test/library-tests/obinit/ObInit.expected
  csharp/ql/test/library-tests/obinit/ObInit.ql
Due: codeql-format, sync-files

C#: Move and rename module.
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/Splitting.qll
Due: codeql-format, sync-files

C#: Fixup test
  csharp/ql/test/library-tests/generics/Generics.expected
  csharp/ql/test/library-tests/generics/Generics.ql
Due: codeql-format, sync-files

C#: Accept PrintAst index shift.
  csharp/ql/test/library-tests/arguments/PrintAst.expected
  csharp/ql/test/library-tests/assignments/PrintAst.expected
  csharp/ql/test/library-tests/attributes/PrintAst.expected
  csharp/ql/test/library-tests/comments/PrintAst.expected
  csharp/ql/test/library-tests/constructors/PrintAst.expected
  csharp/ql/test/library-tests/conversion/operator/PrintAst.expected
  csharp/ql/test/library-tests/csharp11/PrintAst.expected
  csharp/ql/test/library-tests/csharp6/PrintAst.expected
  csharp/ql/test/library-tests/csharp7.1/PrintAst.expected
  csharp/ql/test/library-tests/csharp7.2/PrintAst.expected
  csharp/ql/test/library-tests/csharp7.3/PrintAst.expected
  csharp/ql/test/library-tests/csharp7/PrintAst.expected
  csharp/ql/test/library-tests/csharp8/PrintAst.expected
  csharp/ql/test/library-tests/csharp9/PrintAst.expected
  csharp/ql/test/library-tests/dataflow/implicittostring/PrintAst.expected
  csharp/ql/test/library-tests/dataflow/tuples/PrintAst.expected
  csharp/ql/test/library-tests/definitions/PrintAst.expected
  csharp/ql/test/library-tests/delegates/PrintAst.expected
  csharp/ql/test/library-tests/dynamic/PrintAst.expected
  csharp/ql/test/library-tests/enums/PrintAst.expected
  csharp/ql/test/library-tests/events/PrintAst.expected
  csharp/ql/test/library-tests/exceptions/PrintAst.expected
  csharp/ql/test/library-tests/expressions/PrintAst.expected
  csharp/ql/test/library-tests/fields/PrintAst.expected
  csharp/ql/test/library-tests/generics/PrintAst.expected
  csharp/ql/test/library-tests/goto/PrintAst.expected
  csharp/ql/test/library-tests/indexers/PrintAst.expected
  csharp/ql/test/library-tests/initializers/PrintAst.expected
  csharp/ql/test/library-tests/linq/PrintAst.expected
  csharp/ql/test/library-tests/members/PrintAst.expected
  csharp/ql/test/library-tests/methods/PrintAst.expected
  csharp/ql/test/library-tests/namespaces/PrintAst.expected
  csharp/ql/test/library-tests/nestedtypes/PrintAst.expected
  csharp/ql/test/library-tests/operators/PrintAst.expected
  csharp/ql/test/library-tests/partial/PrintAst.expected
  csharp/ql/test/library-tests/properties/PrintAst.expected
  csharp/ql/test/library-tests/statements/PrintAst.expected
  csharp/ql/test/library-tests/stringinterpolation/PrintAst.expected
  csharp/ql/test/library-tests/types/PrintAst.expected
  csharp/ql/test/library-tests/unsafe/PrintAst.expected
Due: none

C#: Accept expected changes.
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
  csharp/ql/test/library-tests/controlflow/guards/AbstractValue.expected
  csharp/ql/test/library-tests/csharp10/fileScopedNamespace.expected
  csharp/ql/test/library-tests/csharp6/MemberAccess.expected
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/csharp8/NullableRefTypes.expected
  csharp/ql/test/library-tests/csharp9-standalone/globalStmt.expected
  csharp/ql/test/library-tests/csharp9/nativeInt.expected
  csharp/ql/test/library-tests/csharp9/record.expected
  csharp/ql/test/library-tests/dataflow/constructors/ConstructorFlow.expected
  csharp/ql/test/library-tests/dataflow/fields/FieldFlow.expected
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/tuples/DataFlowStep.expected
  csharp/ql/test/library-tests/expressions/QualifiableExpr.expected
  csharp/ql/test/library-tests/extension-method-call/ExtensionMethodCalls.expected
  csharp/ql/test/library-tests/goto/Goto1.expected
  csharp/ql/test/library-tests/implicittostring/implicitToString.expected
  csharp/ql/test/library-tests/locations/locations.expected
  csharp/ql/test/library-tests/nullable/NullableExpressions.expected
  csharp/ql/test/library-tests/overlay/base/test.expected
  csharp/ql/test/library-tests/overlay/overlay/test.expected
  csharp/ql/test/library-tests/partial/Partial2.expected
  csharp/ql/test/library-tests/standalone/brokentypes/brokenTypes.expected
  csharp/ql/test/library-tests/standalone/controlflow/cfg.expected
  csharp/ql/test/library-tests/standalone/errorrecovery/ErrorCalls.expected
  csharp/ql/test/library-tests/standalone/externalLocationSink/externalLocationSink.expected
  csharp/ql/test/library-tests/structuralcomparison/structuralComparison.expected
Due: none

C#: Fix enclosing DataFlowCallable of ObjectInitMethods with multiple bodies.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
Due: codeql-format, sync-files

C#: Tweaks from review comments.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/ObjectInitMethod.cs
Due: none

C#: Accept CFG dead ends for compilation errors.
  csharp/ql/test/library-tests/standalone/errorrecovery/CONSISTENCY/CfgConsistency.expected
  csharp/ql/test/query-tests/standalone/Likely Bugs/IncomparableEquals/CONSISTENCY/CfgConsistency.expected
Due: none

C#: Accept integration test change
  csharp/ql/integration-tests/all-platforms/standalone/DatabaseQualityDiagnostics.expected
  csharp/ql/integration-tests/all-platforms/standalone_resx/Members.expected
Due: none

Revert "JS: Split module exports into a local and global variant"
  javascript/ql/lib/semmle/javascript/ES2015Modules.qll
Due: codeql-format, sync-files

Fix double space in change note
  go/ql/lib/change-notes/2025-11-26-unexpected-frontend-errors-query-moved.md
Due: none
