Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

refactor into more classes; add more test cases; add LITERAL sanitizer
  java/ql/lib/semmle/code/java/frameworks/Regex.qll
  java/ql/lib/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/lib/semmle/code/java/security/RegexInjection.qll
  java/ql/lib/semmle/code/java/security/RegexInjectionQuery.qll
  java/ql/test/query-tests/security/CWE-730/RegexInjectionTest.java
Due: codeql-format, sync-files

update sink and tests
  java/ql/lib/semmle/code/java/regex/RegexFlowModels.qll
  java/ql/lib/semmle/code/java/security/regexp/RegexInjection.qll
  java/ql/test/query-tests/security/CWE-730/RegexInjectionTest.java
Due: codeql-format, sync-files

apply review comments
  java/ql/lib/semmle/code/java/security/regexp/RegexInjection.qll
  java/ql/test/query-tests/security/CWE-730/RegexInjectionTest.ql
Due: codeql-format, sync-files

switch sink to use csv models
  java/ql/lib/semmle/code/java/frameworks/Regex.qll
  java/ql/lib/semmle/code/java/frameworks/apache/Lang.qll
  java/ql/lib/semmle/code/java/regex/RegexFlowModels.qll
  java/ql/lib/semmle/code/java/security/RegexInjection.qll
Due: codeql-format, sync-files

update change note
  java/ql/src/change-notes/2022-10-28-regex-injection.md
  java/ql/src/change-notes/2022-11-03-regex-injection.md
Due: none

move Pattern.quote and Pattern.LITERAL models to Regex.qll
  java/ql/lib/semmle/code/java/frameworks/Regex.qll
  java/ql/lib/semmle/code/java/security/RegexInjection.qll
Due: codeql-format, sync-files

refactor code; add change note
  java/ql/lib/semmle/code/java/regex/RegexFlowConfigs.qll
  java/ql/lib/semmle/code/java/security/RegexInjectionQuery.qll
  java/ql/src/Security/CWE/CWE-730/RegexInjection.ql
  java/ql/src/change-notes/2022-10-28-regex-injection.md
Due: codeql-format, sync-files

Final bug fixes and new sink.
  cpp/ql/src/experimental/campaigns/nccoe-pqc-migration/QuantumVulnerableDiscovery/WinCng/WindowsCng.qll
  cpp/ql/src/experimental/campaigns/nccoe-pqc-migration/QuantumVulnerableDiscovery/WinCng/WindowsCngPQCVulnerableUsage.qll
Due: codeql-format, sync-files

Comments.
  cpp/ql/src/experimental/campaigns/nccoe-pqc-migration/QuantumVulnerableDiscovery/WinCng/WindowsCngPQCVulnerableUsage.qll
Due: codeql-format, sync-files

Create EndpointCharacteristics to replace all existing NotASinkReasons and LikelyNotASinkReasons
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/EndpointCharacteristics.qll
Due: codeql-format, sync-files

Ruby: Add case string comparison barrier guard
  ruby/ql/lib/change-notes/2022-10-26-case-expression-barrier-guard.md
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/dataflow/BarrierGuards.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/security/regexp/PolynomialReDoSCustomizations.qll
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.rb
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.rb
Due: codeql-format, sync-files

Ruby: Fix SplatExprCfgNode
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/dataflow/BarrierGuards.qll
Due: codeql-format, sync-files

Ruby: Add test for another case guard variant
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.rb
Due: none

Ruby: Handle simple in clauses in barrier guard
  ruby/ql/lib/codeql/ruby/dataflow/BarrierGuards.qll
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.rb
Due: codeql-format, sync-files

Ruby: Fix in clause barrier guard
  ruby/ql/lib/codeql/ruby/dataflow/BarrierGuards.qll
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.rb
Due: codeql-format, sync-files

Ruby: Add inline barrier guard test
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.ql
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.rb
Due: codeql-format, sync-files

Swift: extract opaque types and their decls
  swift/extractor/translators/DeclTranslator.cpp
  swift/extractor/translators/DeclTranslator.h
  swift/extractor/translators/TypeTranslator.cpp
  swift/extractor/translators/TypeTranslator.h
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/decl/OpaqueTypeDecl.qll
  swift/ql/lib/codeql/swift/generated/type/OpaqueTypeArchetypeType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/TestUtils.qll
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl.expected
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl.ql
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getBaseType.expected
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getBaseType.ql
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getGenericTypeParam.expected
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getGenericTypeParam.ql
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getOpaqueGenericParam.expected
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/OpaqueTypeDecl_getOpaqueGenericParam.ql
  swift/ql/test/extractor-tests/generated/decl/OpaqueTypeDecl/opaque_types.swift
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType.expected
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType.ql
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType_getProtocol.expected
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType_getProtocol.ql
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType_getSuperclass.expected
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/OpaqueTypeArchetypeType_getSuperclass.ql
  swift/ql/test/extractor-tests/generated/type/OpaqueTypeArchetypeType/opaque_types.swift
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

Update ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
Due: codeql-format, sync-files

JS: Update test output
  javascript/ql/test/library-tests/ESLint/ESLintGlobal.expected
  javascript/ql/test/library-tests/YAML/printAst.expected
  javascript/ql/test/library-tests/YAML/tests.expected
Due: none

use `getImportedModuleNode()`
  javascript/ql/lib/semmle/javascript/PackageExports.qll
Due: codeql-format, sync-files

Swift: extract `PoundDiagnosticDecl`
  swift/extractor/translators/DeclTranslator.cpp
  swift/extractor/translators/DeclTranslator.h
  swift/ql/lib/codeql/swift/elements/decl/PoundDiagnosticDecl.qll
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/decl/PoundDiagnosticDecl.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/generated/decl/PoundDiagnosticDecl/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/decl/PoundDiagnosticDecl/PoundDiagnosticDecl.expected
  swift/ql/test/extractor-tests/generated/decl/PoundDiagnosticDecl/PoundDiagnosticDecl.ql
  swift/ql/test/extractor-tests/generated/decl/PoundDiagnosticDecl/diagnostics.swift
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

add failing test
  javascript/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  javascript/ql/test/query-tests/Security/CWE-312/passwords.js
Due: none

recognize `passcode` as sensitive
  javascript/ql/lib/semmle/javascript/security/internal/SensitiveDataHeuristics.qll
  javascript/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
Due: codeql-format, sync-files

sync files
  python/ql/lib/semmle/python/security/internal/SensitiveDataHeuristics.qll
  ruby/ql/lib/codeql/ruby/security/internal/SensitiveDataHeuristics.qll
Due: codeql-format, sync-files

restore from another cache when running on main. Otherwise that workflow always takes an hour
  .github/workflows/compile-queries.yml
Due: none

support general base-branches, not just main
  .github/workflows/compile-queries.yml
Due: none

Swift: share `translateDiagnosticsKind` with `SwiftDiagnosticsConsumer`
  swift/extractor/infra/SwiftDiagnosticKind.h
  swift/extractor/invocation/SwiftDiagnosticsConsumer.cpp
  swift/extractor/translators/DeclTranslator.cpp
Due: none

Swift: extract `MissingMemberDecl`
  swift/extractor/translators/DeclTranslator.cpp
  swift/extractor/translators/DeclTranslator.h
  swift/ql/lib/codeql/swift/elements/decl/MissingMemberDecl.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/decl/MissingMemberDecl.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/generated/decl/MissingMemberDecl/MISSING_SOURCE.txt
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

Swift: add an internal query-suite for listing all the compiler errors
  swift/ql/lib/codeql/swift/elements/Diagnostics.qll
  swift/ql/src/diagnostics/internal/CompilerErrors.ql
  swift/ql/test/extractor-tests/generated/Diagnostics/Diagnostics.expected
Due: codeql-format, sync-files, swift-codegen

Swift: use explicit this to conform to the coding style
  swift/ql/lib/codeql/swift/elements/Diagnostics.qll
Due: codeql-format, sync-files, swift-codegen

Swift: use more common name for the query
  swift/ql/src/diagnostics/internal/ExtractionErrors.ql
Due: codeql-format, sync-files

extract .erb files as html
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
  javascript/extractor/src/com/semmle/js/extractor/Main.java
  javascript/extractor/tests/vue/input/rails.erb
  javascript/extractor/tests/vue/output/trap/rails.erb.trap
Due: none

C++: Fix formatting
  cpp/ql/lib/semmle/code/cpp/dataflow/old/TaintTracking2.qll
Due: codeql-format, sync-files

C++: Fix `DataFlow2` import
  cpp/ql/lib/semmle/code/cpp/dataflow/old/internal/tainttracking2/TaintTrackingParameter.qll
Due: codeql-format, sync-files

use base_ref to calculate the cache-keys when running in a PR.
  .github/workflows/compile-queries.yml
Due: none

fallback to main
  .github/workflows/compile-queries.yml
Due: none

Ruby: refine summaries for Hash#reverse_merge etc.
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash_flow.rb
  ruby/ql/test/library-tests/dataflow/hash-flow/type-tracking-hash-flow.expected
Due: codeql-format, sync-files

add refs/heads/ to make the ref fully-formed
  .github/workflows/compile-queries.yml
Due: none

C++: Add missing QLDoc comments
  cpp/ql/lib/semmle/code/cpp/dataflow/old/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/old/TaintTracking2.qll
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
