Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

Ruby: enable overlay compilation
  ruby/ql/lib/qlpack.yml
Due: none

Rust: Fix futures_io models.
  rust/ql/lib/codeql/rust/frameworks/futures.model.yml
  rust/ql/test/library-tests/dataflow/sources/test_futures_io.rs
Due: none

C++: Convert `cpp/incorrect-string-type-conversion` test to inline expectations
  cpp/ql/test/query-tests/Security/CWE/CWE-704/WcharCharConversion.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-704/WcharCharConversion.qlref
Due: none

C++: Add `cpp/incorrect-string-type-conversion` test with unreachable code
  cpp/ql/test/query-tests/Security/CWE/CWE-704/WcharCharConversion.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-704/WcharCharConversion.expected
Due: none

C++: Do not alert on unreachable code in `cpp/incorrect-string-type-conversion`
  cpp/ql/src/Security/CWE/CWE-704/WcharCharConversion.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-704/WcharCharConversion.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-704/WcharCharConversion.expected
Due: codeql-format, sync-files

Address copilot comment
  ql/ql/src/codeql_ql/style/DeadCodeQuery.qll
Due: codeql-format, sync-files

DO NOT MERGE: enable overlay compilation for java
  java/ql/lib/qlpack.yml
Due: none

Java: use overlayChangedFiles in discard prediactes
  java/ql/lib/semmle/code/Location.qll
  java/ql/lib/semmle/code/java/Overlay.qll
Due: codeql-format, sync-files

Overlay: Add discarding of all Java base properties
  java/ql/lib/semmle/code/java/Overlay.qll
Due: codeql-format, sync-files

Overlay: Add discarding of base XML locatables for Java
  java/ql/lib/semmle/code/java/Overlay.qll
Due: codeql-format, sync-files

Rust: Fix bad join
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
Due: codeql-format, sync-files

C++: Add 'pthread_create' test with missing flow.
  cpp/ql/test/library-tests/dataflow/external-models/sinks.expected
  cpp/ql/test/library-tests/dataflow/external-models/sources.expected
  cpp/ql/test/library-tests/dataflow/external-models/test.cpp
Due: none

C++: Add a model for 'pthread_create' and accept test changes.
  cpp/ql/lib/ext/pthread.model.yml
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/test.cpp
Due: none

C++: Add models for 'std::thread' and accept test changes.
  cpp/ql/lib/ext/std.thread.model.yml
  cpp/ql/test/library-tests/dataflow/taint-tests/thread.cpp
Due: none

Rust: Add more type inference tests
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: none

Rust: Disambiguate calls to associated functions
  rust/ql/lib/codeql/rust/elements/internal/CallExprBaseImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/MethodCallExprImpl.qll
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
Due: codeql-format, sync-files, rust-codegen

Rust: Update expected test output
  rust/ql/test/extractor-tests/macro-expansion/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/main.rs
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/test_futures_io.rs
  rust/ql/test/library-tests/path-resolution/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/query-tests/security/CWE-022/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-022/TaintedPath.expected
  rust/ql/test/query-tests/security/CWE-022/src/main.rs
Due: none

C++: Add change note.
  cpp/ql/src/change-notes/2025-07-10-pthread-and-std-thread.md
Due: none

Update cpp/ql/test/library-tests/dataflow/external-models/test.cpp
  cpp/ql/test/library-tests/dataflow/external-models/test.cpp
Due: none

C++: Accept test changes after review.
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/sinks.expected
Due: none

Add change note
  rust/ql/lib/change-notes/2025-07-10-assoc-func-disambiguation.md
Due: none

Rust: Add sensitive data patterns.
  rust/ql/lib/codeql/rust/security/internal/SensitiveDataHeuristics.qll
  rust/ql/test/library-tests/sensitivedata/test.rs
Due: codeql-format, sync-files

Rust: Combine regexs where possible (likely better performance).
  rust/ql/lib/codeql/rust/security/internal/SensitiveDataHeuristics.qll
Due: codeql-format, sync-files

Rust: Add negative patterns.
  rust/ql/lib/codeql/rust/security/internal/SensitiveDataHeuristics.qll
  rust/ql/test/library-tests/sensitivedata/test.rs
Due: codeql-format, sync-files

Rust: Fix merge (I picked the wrong version).
  rust/ql/lib/codeql/rust/frameworks/stdlib/io.model.yml
Due: none

C++: Add change note
  cpp/ql/src/change-notes/2025-07-10-wchar-fp.md
Due: none

C++: Add dataflow predicate for checking if a node is the final value of a parameter
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/has-parameter-flow-out.ql
Due: codeql-format, sync-files

C++: Add change note
  cpp/ql/lib/change-notes/2025-07-10-final.md
Due: none

C++: Fix formatting and typo
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

Java: remove deprecation
  java/ql/src/Security/CWE/CWE-200/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.ql
Due: codeql-format, sync-files

Java: update tests for non-experimental directory
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.qlref
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/options
Due: none

Update qhelp: SnakeYaml is safe from version 2.0
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.qhelp
Due: sync-files, qhelp

Rust: Accept .expected changes (mostly renumberings).
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/modeled/inline-flow.expected
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/strings/inline-taint-flow.expected
  rust/ql/test/library-tests/frameworks/rusqlite/Rusqlite.expected
  rust/ql/test/query-tests/security/CWE-020/RegexInjection.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-311/CleartextTransmission.expected
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
  rust/ql/test/query-tests/security/CWE-770/UncontrolledAllocationSize.expected
  rust/ql/test/query-tests/security/CWE-825/AccessInvalidPointer.expected
Due: none

Handle multiple whitespaces in runner temp regex.
  actions/ql/lib/codeql/actions/security/ArtifactPoisoningQuery.qll
Due: codeql-format, sync-files

Add extra test suggested by @Napalys
  actions/ql/test/query-tests/Security/CWE-829/.github/workflows/artifactpoisoning97.yml
Due: none

Rust: The rusqlite row.get() calls are missing a canonical path.
  rust/ql/test/library-tests/frameworks/rusqlite/Rusqlite.expected
  rust/ql/test/library-tests/frameworks/rusqlite/main.rs
Due: none

Rust: Accept consistency changes as well.
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/PathResolutionConsistency.expected
Due: none

Sync identical files.
  javascript/ql/lib/semmle/javascript/security/internal/SensitiveDataHeuristics.qll
  python/ql/lib/semmle/python/security/internal/SensitiveDataHeuristics.qll
  ruby/ql/lib/codeql/ruby/security/internal/SensitiveDataHeuristics.qll
  swift/ql/lib/codeql/swift/security/internal/SensitiveDataHeuristics.qll
Due: codeql-format, sync-files

Terminate p tag
  powershell/ql/src/queries/security/cwe-250/InsecureExecutionPolicy.qhelp
Due: sync-files, qhelp

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
