Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, qhelp, swift-codegen

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen
  pass_filenames: false

Update test.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-476/semmle/tests/test.cpp
Due: none

Update DangerousUseOfExceptionBlocks.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-476/semmle/tests/DangerousUseOfExceptionBlocks.expected
Due: none

Swift: add `--ql-format`/`--no-ql-format` to `codegen`
  swift/codegen/lib/options.py
  swift/codegen/qlgen.py
  swift/codegen/test/test_qlgen.py
Due: swift-codegen

ruby: new rbi test case
  ruby/ql/test/library-tests/experimental/Rbi.expected
  ruby/ql/test/library-tests/experimental/Rbi.ql
  ruby/ql/test/library-tests/experimental/test_types.rb
Due: codeql-format

ruby: tidy up methodSignatureSuccessorNodeRanked predicate
  ruby/ql/lib/codeql/ruby/experimental/Rbi.qll
Due: codeql-format

Ruby: fix getAssociatedMethod predicate to include class methods
  ruby/ql/lib/codeql/ruby/experimental/Rbi.qll
  ruby/ql/test/library-tests/experimental/Rbi.ql
Due: codeql-format

ruby: Add AST layer version of the RBI library
  ruby/ql/lib/codeql/ruby/experimental/RbiAst.qll
  ruby/ql/test/library-tests/experimental/RbiAst.expected
  ruby/ql/test/library-tests/experimental/RbiAst.ql
Due: codeql-format

ruby: replace the dataflow layer RBI library with the AST layer version
  ruby/ql/lib/codeql/ruby/experimental/Rbi.qll
  ruby/ql/lib/codeql/ruby/experimental/RbiAst.qll
  ruby/ql/test/library-tests/experimental/Rbi.ql
  ruby/ql/test/library-tests/experimental/RbiAst.expected
  ruby/ql/test/library-tests/experimental/RbiAst.ql
Due: codeql-format

Update DangerousUseOfExceptionBlocks.ql
  cpp/ql/src/experimental/Security/CWE/CWE-476/DangerousUseOfExceptionBlocks.ql
Due: codeql-format

Update NoCheckBeforeUnsafePutUser.ql
  cpp/ql/src/experimental/Security/CWE/CWE-020/NoCheckBeforeUnsafePutUser.ql
Due: codeql-format

C/C++ : memory may not be freed on loop
  cpp/ql/src/experimental/Critical/MemoryFreed.qll
  cpp/ql/src/experimental/Critical/MemoryMayNotBeFreedOnLoop.cpp
  cpp/ql/src/experimental/Critical/MemoryMayNotBeFreedOnLoop.qhelp
  cpp/ql/src/experimental/Critical/MemoryMayNotBeFreedOnLoop.ql
Due: codeql-format, qhelp

Java: Rename `StmtExpr` to `ValueDiscardingExpr`
  java/ql/lib/change-notes/2022-03-27-statement-expression.md
  java/ql/lib/change-notes/2022-05-09-value-discarding-expression.md
  java/ql/lib/semmle/code/java/Collections.qll
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/Maps.qll
  java/ql/src/Likely Bugs/Statements/ReturnValueIgnored.ql
  java/ql/src/Violations of Best Practice/Exception Handling/IgnoreExceptionalReturn.ql
  java/ql/src/experimental/Security/CWE/CWE-297/IgnoredHostnameVerification.ql
  java/ql/test/library-tests/StmtExpr/StmtExpr.expected
  java/ql/test/library-tests/StmtExpr/StmtExpr.java
  java/ql/test/library-tests/StmtExpr/StmtExpr.ql
  java/ql/test/library-tests/ValueDiscardingExpr/ValueDiscardingExpr.expected
  java/ql/test/library-tests/ValueDiscardingExpr/ValueDiscardingExpr.java
  java/ql/test/library-tests/ValueDiscardingExpr/ValueDiscardingExpr.ql
  java/ql/test/library-tests/ValueDiscardingExpr/options
Due: codeql-format

C#: Turn isAutogenerated predicate into a predicate without result.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format

C#/Java: Remove redudandant QL comment in CaptureModel.
  csharp/ql/src/utils/model-generator/internal/CaptureModels.qll
  java/ql/src/utils/model-generator/internal/CaptureModels.qll
Due: codeql-format

Swift cppgen: emit final trap before bases
  swift/codegen/templates/cpp_classes.mustache
Due: swift-codegen

Swift: make generator.run accept options
  swift/codegen/lib/generator.py
Due: swift-codegen

Swift: tweaks for use in the PoC branch
  swift/codegen/lib/generator.py
  swift/codegen/lib/paths.py
  swift/codegen/lib/render.py
  swift/codegen/templates/ql_class.mustache
  swift/codegen/templates/ql_stub.mustache
  swift/codegen/test/test_render.py
  swift/codegen/test/utils.py
Due: swift-codegen

Python: Apply suggestions from code review
  python/ql/src/Security/CWE-776/XmlBomb.qhelp
Due: qhelp

Python: Slight refactor of `LxmlParsing`
  python/ql/lib/semmle/python/frameworks/Lxml.qll
Due: codeql-format

Python: Fix casing of `XMLDomParsing`
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
Due: codeql-format

Python: Fix singleton set
  python/ql/test/experimental/meta/ConceptsTest.qll
Due: codeql-format

JS: Update test expectation
  javascript/ql/test/library-tests/TypeTracking/PredicateStyle.expected
Due: none

C/C++ : Fix remove the useless variable
  cpp/ql/src/experimental/Best Practices/WrongUintAccess.ql
Due: codeql-format

Swift: make `width` fields `unsigned`
  swift/codegen/lib/cpp.py
  swift/codegen/test/test_cppgen.py
Due: swift-codegen

Swift: add missing `trap_affix`
  swift/codegen/templates/cpp_classes.mustache
Due: swift-codegen

autoformat
  python/ql/test/experimental/meta/MaDTest.qll
Due: codeql-format

Actions: Fetch CodeQL CLI using `gh` rather than third-party Action
  .github/workflows/query-list.yml
Due: none

C++: Use compliant PascalCase / make the checks happy.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
Due: codeql-format

Ruby: add test showing callgraph bug
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/mixins.rb
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
Due: none

C++: Use getClassAndName.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
Due: codeql-format

Python: Add @precision high for `py/pam-auth-bypass`
  python/ql/src/experimental/Security/CWE-285/PamAuthorization.ql
Due: codeql-format

create new branchihsinme-patch-101 in fork
  cpp/ql/src/experimental/Security/CWE/CWE-297/ValidationCertificateHostMismatch.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-297/ValidationCertificateHostMismatch.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-297/ValidationCertificateHostMismatch.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-297/semmle/tests/ValidationCertificateHostMismatch.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-297/semmle/tests/ValidationCertificateHostMismatch.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-297/semmle/tests/test.cpp
Due: codeql-format, qhelp

create new branchihsinme-patch-88 in fork
  cpp/ql/src/experimental/Security/CWE/CWE-670/DangerousUseSSL_shutdown.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-670/DangerousUseSSL_shutdown.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-670/DangerousUseSSL_shutdown.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-670/semmle/tests/DangerousUseSSL_shutdown.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-670/semmle/tests/DangerousUseSSL_shutdown.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-670/semmle/tests/test.cpp
Due: codeql-format, qhelp

create new branchihsinme-patch-83 in fork
  cpp/ql/src/experimental/Security/CWE/CWE-758/DangerousUseMallocWithZeroSize.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-758/DangerousUseMallocWithZeroSize.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-758/DangerousUseMallocWithZeroSize.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-758/semmle/tests/DangerousUseMallocWithZeroSize.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-758/semmle/tests/DangerousUseMallocWithZeroSize.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-758/semmle/tests/test.cpp
Due: codeql-format, qhelp

create new branchihsinme-patch-87 in fork
  cpp/ql/src/experimental/Security/CWE/CWE-125/DangerousUseMbtowc.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-125/DangerousUseMbtowc.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-125/DangerousUseMbtowc.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-125/semmle/tests/DangerousUseMbtowc.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-125/semmle/tests/DangerousUseMbtowc.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-125/semmle/tests/test.cpp
Due: codeql-format, qhelp

create new branchihsinme-patch-89 in fork
  cpp/ql/src/experimental/Security/CWE/CWE-552/DangerousUseRename.cpp
  cpp/ql/src/experimental/Security/CWE/CWE-552/DangerousUseRename.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-552/DangerousUseRename.ql
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-552/semmle/tests/DangerousUseRename.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-552/semmle/tests/DangerousUseRename.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-552/semmle/tests/test.cpp
Due: codeql-format, qhelp

Add a comment to explain the unusual Action path
  .github/workflows/query-list.yml
Due: none

Fix typo
  .github/workflows/query-list.yml
Due: none

Dataflow: Prune more cons-candidates.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
Due: codeql-format

Dataflow: Fix join order in nodeMayUseSummary.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
Due: codeql-format

Path conditions:
  codeql-format: any of: \.qll?$, but not: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
  qhelp: any of: \.qhelp$, but not: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
  swift-codegen: any of: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)), but not: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
