Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

Apply minor reveiw suggstions
  csharp/ql/lib/semmle/code/csharp/security/auth/InsecureDirectObjectReferenceQuery.qll
  csharp/ql/src/Security Features/CWE-639/InsecureDirectObjectReference.qhelp
Due: codeql-format, sync-files, qhelp

Add insecure direct object reference definitions and factor out those from missing access control
  csharp/ql/lib/semmle/code/csharp/security/auth/ActionMethods.qll
  csharp/ql/lib/semmle/code/csharp/security/auth/InsecureDirectObjectRefrerenceQuery.qll
  csharp/ql/lib/semmle/code/csharp/security/auth/MissingFunctionLevelAccessControlQuery.qll
Due: codeql-format, sync-files

Update alert message and make user checks more precise
  csharp/ql/lib/semmle/code/csharp/security/auth/InsecureDirectObjectReferenceQuery.qll
  csharp/ql/src/Security Features/CWE-639/InsecureDirectObjectReference.ql
  csharp/ql/test/query-tests/Security Features/CWE-639/MVCTests/InsecureDirectObjectReference.expected
  csharp/ql/test/query-tests/Security Features/CWE-639/WebFormsTests/InsecureDirectObjectReference.expected
Due: codeql-format, sync-files

Add test cases for authorization from attributes
  csharp/ql/test/query-tests/Security Features/CWE-639/MVCTests/CommentController.cs
  csharp/ql/test/query-tests/Security Features/CWE-639/MVCTests/InsecureDirectObjectReference.expected
  csharp/ql/test/query-tests/Security Features/CWE-639/MVCTests/ProfileController.cs
Due: none

Rewrite checks for index expressions in terms of dataflow
  csharp/ql/lib/semmle/code/csharp/security/auth/InsecureDirectObjectReferenceQuery.qll
Due: codeql-format, sync-files

Add additional example to qhelp + additional resource
  csharp/ql/src/Security Features/CWE-639/InsecureDirectObjectReference.qhelp
  csharp/ql/src/Security Features/CWE-639/MVCExample.cs
Due: sync-files, qhelp

Check for authorize attributes in more namespaces and on overridden methods
  csharp/ql/lib/semmle/code/csharp/security/auth/InsecureDirectObjectReferenceQuery.qll
Due: codeql-format, sync-files

Add checks for authorization attributes
  csharp/ql/lib/semmle/code/csharp/security/auth/InsecureDirectObjectReferenceQuery.qll
Due: codeql-format, sync-files

Naming change
  ruby/ql/lib/codeql/ruby/Concepts.qll
Due: codeql-format, sync-files

Naming change
  ruby/ql/lib/codeql/ruby/frameworks/Jwt.qll
Due: codeql-format, sync-files

Naming change
  ruby/ql/src/experimental/cwe-347/EmptyJWTSecret.ql
Due: codeql-format, sync-files

Simplify `DataFlow::PairNode`
  ruby/ql/lib/codeql/ruby/frameworks/Jwt.qll
Due: codeql-format, sync-files

Update ruby/ql/src/experimental/cwe-347/EmptyJWTSecret.ql
  ruby/ql/src/experimental/cwe-347/EmptyJWTSecret.ql
Due: codeql-format, sync-files

rename `verifies()` to `verifiesSignature()`
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/frameworks/Jwt.qll
  ruby/ql/src/experimental/cwe-347/MissingJWTVerification.ql
Due: codeql-format, sync-files

Doc change
  ruby/ql/src/experimental/cwe-347/EmptyJWTSecret.qhelp
Due: sync-files, qhelp

Shared: Fix implicit taint read step
  shared/dataflow/codeql/dataflow/TaintTracking.qll
Due: codeql-format, sync-files

WIP
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/IRConsistency.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Due: codeql-format, sync-files

Adjust integration tests after path changes and generating file with global usings
  csharp/ql/integration-tests/all-platforms/cshtml_standalone/Files.expected
  csharp/ql/integration-tests/all-platforms/cshtml_standalone/Files.ql
  csharp/ql/integration-tests/all-platforms/standalone/Files.expected
Due: codeql-format, sync-files

Fix formatting mistake
  java/ql/lib/semmle/code/java/Expr.qll
Due: codeql-format, sync-files

Tidy
  go/ql/lib/semmle/go/security/SqlInjectionCustomizations.qll
Due: codeql-format, sync-files

Python: Make Django use auto-modeling
  python/ql/lib/semmle/python/frameworks/Django.qll
Due: codeql-format, sync-files

Python: Automodel for tornado
  python/ql/lib/semmle/python/frameworks/Tornado.qll
  python/ql/src/meta/ClassHierarchy/Find.ql
Due: codeql-format, sync-files

Python: Automodel for `WSGIServer`
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/src/meta/ClassHierarchy/Find.ql
Due: codeql-format, sync-files

Ruby: use hostname sanitizers for rb/server-side-request-forgery
  ruby/ql/lib/codeql/ruby/security/ServerSideRequestForgeryCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/ServerSideRequestForgeryQuery.qll
Due: codeql-format, sync-files

add comments for better quality
  go/ql/lib/semmle/go/security/FileSystemAccess.qll
Due: codeql-format, sync-files

Python: More automatic modeling
  python/ql/lib/semmle/python/frameworks/data/internal/auto-django.model.yml
  python/ql/lib/semmle/python/frameworks/data/internal/auto-flask_restful_swagger_2.model.yml
  python/ql/lib/semmle/python/frameworks/data/internal/auto-notebook.model.yml
  python/ql/lib/semmle/python/frameworks/data/internal/auto-tornado.model.yml
  python/ql/lib/semmle/python/frameworks/data/internal/auto-tornado_proxy_handlers.model.yml
Due: none

Restrict logic for checking for id parameters on index expressions for performance
  csharp/ql/lib/semmle/code/csharp/security/auth/InsecureDirectObjectReferenceQuery.qll
Due: codeql-format, sync-files

Fix typos
  csharp/ql/src/Security Features/CWE-639/InsecureDirectObjectReference.qhelp
  csharp/ql/test/query-tests/Security Features/CWE-639/MVCTests/ProfileController.cs
Due: sync-files, qhelp

Update severity
  csharp/ql/src/Security Features/CWE-639/InsecureDirectObjectReference.ql
Due: codeql-format, sync-files

Go: Update `versionRe` to include patch version
  go/extractor/cli/go-autobuilder/go-autobuilder.go
Due: none

CPP: improve performance of IRGuards.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

Swift: change note for nil-coalesing operator
  swift/ql/lib/change-notes/2023-09-15-nil-coalescing.md
Due: none

C++: Fix join of non-linear joins.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
Due: codeql-format, sync-files

Add change note
  ruby/ql/src/change-notes/2023-09-16-jwt-security-query.md
Due: none

fix grammar mistake
  javascript/ql/lib/semmle/javascript/frameworks/Execa.qll
Due: codeql-format, sync-files

C++: Fix logic around picking the smallest delta.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/RangeAnalysisUtil.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/InvalidPointerToDereference.qll
  cpp/ql/src/Security/CWE/CWE-119/OverrunWriteProductFlow.ql
  cpp/ql/src/experimental/Security/CWE/CWE-193/ConstantSizeArrayOffByOne.ql
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/test.cpp
Due: none

Remove unnecessary import
  python/ql/lib/semmle/python/frameworks/Joblib.qll
Due: codeql-format, sync-files

Doc changes
  python/ql/lib/semmle/python/frameworks/Joblib.qll
  python/ql/lib/semmle/python/frameworks/Numpy.qll
  python/ql/lib/semmle/python/frameworks/Pandas.qll
Due: codeql-format, sync-files
