Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^swift/.*\.py

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

C#: Overridable operator support in dispatch.
  csharp/ql/lib/semmle/code/csharp/dispatch/Dispatch.qll
Due: codeql-format, sync-files

C++: Autoformat.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qll
Due: codeql-format, sync-files

Swift: add an initial draft for a deduplication test
  swift/integration-tests/posix-only/deduplication/BuiltinTypes.expected
  swift/integration-tests/posix-only/deduplication/BuiltinTypes.ql
  swift/integration-tests/posix-only/deduplication/Decls.expected
  swift/integration-tests/posix-only/deduplication/Decls.ql
  swift/integration-tests/posix-only/deduplication/Package.swift
  swift/integration-tests/posix-only/deduplication/Relevant.qll
  swift/integration-tests/posix-only/deduplication/Sources/deduplication/def.swift
  swift/integration-tests/posix-only/deduplication/Sources/deduplication/use.swift
  swift/integration-tests/posix-only/deduplication/Types.expected
  swift/integration-tests/posix-only/deduplication/Types.ql
  swift/integration-tests/posix-only/deduplication/test.py
Due: codeql-format, sync-files

Python: Autoformat
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Due: codeql-format, sync-files

fix bad join by removing bad recursion
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
Due: codeql-format, sync-files

C++: autoformat
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticBound.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/RangeAnalysisStage.qll
Due: codeql-format, sync-files

Ruby: Merge extractor crates
  ruby/extractor/src/autobuilder/Cargo.toml
  ruby/extractor/src/autobuilder/src/main.rs
  ruby/extractor/src/generator/Cargo.toml
  ruby/extractor/src/generator/src/dbscheme.rs
  ruby/extractor/src/generator/src/language.rs
  ruby/extractor/src/generator/src/main.rs
  ruby/extractor/src/generator/src/ql.rs
  ruby/extractor/src/generator/src/ql_gen.rs
  ruby/extractor/src/node-types/Cargo.toml
  ruby/extractor/src/node-types/src/lib.rs
Due: none

Ruby: Lift extractor binaries
  ruby/Cargo.toml
  ruby/extractor/Cargo.lock
  ruby/extractor/src/bin/autobuilder.rs
  ruby/extractor/src/bin/generator.rs
Due: none

Ruby: Remove old Cargo.toml files
  ruby/extractor/src/autobuilder/Cargo.toml
  ruby/extractor/src/generator/Cargo.toml
  ruby/extractor/src/node-types/Cargo.toml
Due: none

Ruby: finish reorganising extractor files
  ruby/extractor/src/generator/dbscheme.rs
  ruby/extractor/src/generator/language.rs
  ruby/extractor/src/generator/ql.rs
  ruby/extractor/src/generator/ql_gen.rs
  ruby/extractor/src/node_types.rs
Due: none

Ruby: Fix imports in extractor
  ruby/extractor/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/src/bin/generator.rs
  ruby/extractor/src/extractor.rs
  ruby/extractor/src/generator/dbscheme.rs
  ruby/extractor/src/generator/mod.rs
  ruby/extractor/src/generator/ql_gen.rs
  ruby/extractor/src/lib.rs
  ruby/extractor/src/main.rs
Due: none

Ruby: Update .gitignore for moved extractor
  ruby/.gitignore
Due: none

Ruby: Put all binaries in same directory
  ruby/extractor/src/bin/extractor.rs
Due: none

Ruby: Move some support files to new extractor
  ruby/extractor/Cross.toml
  ruby/extractor/rust-toolchain.toml
Due: none

Ruby: Update workflow for new extractor location
  .github/workflows/ruby-build.yml
Due: none

Ruby: Fix cargo fmt step in build
  .github/workflows/ruby-build.yml
Due: none

Ruby: Update create-extractor-pack
  ruby/actions/create-extractor-pack/action.yml
  ruby/scripts/create-extractor-pack.ps1
  ruby/scripts/create-extractor-pack.sh
Due: none

Ruby: Format rust files
  ruby/extractor/src/bin/extractor.rs
  ruby/extractor/src/extractor.rs
  ruby/extractor/src/generator/ql_gen.rs
  ruby/extractor/src/lib.rs
Due: none

Ruby: Ensure right directory for extractor build
  .github/workflows/ruby-build.yml
Due: none

Ruby: Update binary prefixes in build
  .github/workflows/ruby-build.yml
Due: none

Ruby: Refactor
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
Due: codeql-format, sync-files

Ruby: fix prefix in create-extractor-pack scripts
  .github/workflows/ruby-build.yml
  ruby/scripts/create-extractor-pack.ps1
  ruby/scripts/create-extractor-pack.sh
Due: none

Ruby: better errors in generator
  ruby/extractor/src/bin/generator.rs
Due: none

specialize allowImplicitRead in unsafe-shell-command-construction to fix performance
  ruby/ql/lib/codeql/ruby/security/UnsafeShellCommandConstructionQuery.qll
Due: codeql-format, sync-files

don't depend on the callgraph in KernelArraySummary
  ruby/ql/lib/codeql/ruby/frameworks/core/Kernel.qll
Due: codeql-format, sync-files

Data flow: Exclude `expectsContent` nodes from lambda flow
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplCommon.qll
Due: codeql-format, sync-files

Data flow: Sync files
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplCommon.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplCommon.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImplCommon.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplCommon.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplCommon.qll
Due: codeql-format, sync-files

revert group sequences of chars
  python/ql/lib/semmle/python/RegexTreeView.qll
  python/ql/lib/semmle/python/regex.qll
  python/ql/test/query-tests/Security/CWE-730-ReDoS/ReDoS.expected
Due: codeql-format, sync-files

Update MaD Declarations after Triage
  java/ql/lib/ext/com.thoughtworks.xstream.model.yml
  java/ql/lib/ext/hudson.remoting.model.yml
  java/ql/lib/ext/io.netty.resolver.model.yml
  java/ql/lib/ext/java.net.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/ext/javax.xml.transform.stream.model.yml
  java/ql/lib/ext/org.apache.commons.compress.archivers.tar.model.yml
  java/ql/lib/ext/org.apache.commons.io.model.yml
  java/ql/lib/ext/org.apache.commons.jelly.model.yml
  java/ql/lib/ext/org.apache.tools.ant.model.yml
  java/ql/lib/ext/org.apache.tools.ant.taskdefs.model.yml
  java/ql/lib/ext/org.apache.tools.zip.model.yml
  java/ql/lib/ext/org.kohsuke.stapler.framework.adjunct.model.yml
  java/ql/lib/ext/org.kohsuke.stapler.framework.io.model.yml
  java/ql/lib/ext/org.kohsuke.stapler.model.yml
  java/ql/lib/ext/org.openjdk.jmh.runner.options.model.yml
Due: none

hudson.remoting tests
  java/ql/test/library-tests/frameworks/hudson/Test.java
  java/ql/test/library-tests/frameworks/hudson/options
  java/ql/test/library-tests/frameworks/hudson/test.expected
  java/ql/test/library-tests/frameworks/hudson/test.ql
  java/ql/test/stubs/jenkins/hudson/remoting/URLDeserializationHelper.java
Due: codeql-format, sync-files

netty.resolver tests
  java/ql/test/library-tests/frameworks/netty/Test.java
  java/ql/test/library-tests/frameworks/netty/options
  java/ql/test/library-tests/frameworks/netty/test.expected
  java/ql/test/library-tests/frameworks/netty/test.ql
  java/ql/test/stubs/netty-4.1.x/io/netty/resolver/NameResolver.java
  java/ql/test/stubs/netty-4.1.x/io/netty/resolver/SimpleNameResolver.java
  java/ql/test/stubs/netty-4.1.x/io/netty/util/concurrent/EventExecutor.java
  java/ql/test/stubs/netty-4.1.x/io/netty/util/concurrent/EventExecutorGroup.java
  java/ql/test/stubs/netty-4.1.x/io/netty/util/concurrent/Future.java
  java/ql/test/stubs/netty-4.1.x/io/netty/util/concurrent/GenericFutureListener.java
  java/ql/test/stubs/netty-4.1.x/io/netty/util/concurrent/ProgressiveFuture.java
  java/ql/test/stubs/netty-4.1.x/io/netty/util/concurrent/ProgressivePromise.java
  java/ql/test/stubs/netty-4.1.x/io/netty/util/concurrent/Promise.java
  java/ql/test/stubs/netty-4.1.x/io/netty/util/concurrent/ScheduledFuture.java
Due: codeql-format, sync-files

Fix incorrect java.io models
  java/ql/lib/ext/java.io.model.yml
Due: none

java.io tests
  java/ql/test/library-tests/frameworks/jdk/java.io/Test.java
  java/ql/test/library-tests/frameworks/jdk/java.io/test.expected
  java/ql/test/library-tests/frameworks/jdk/java.io/test.ext.yml
  java/ql/test/library-tests/frameworks/jdk/java.io/test.ql
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/mad/Test.java
Due: codeql-format, sync-files

Swift: add missing include
  swift/extractor/mangler/SwiftMangler.h
Due: none

Swift: make deduplication test cross-platform
  swift/integration-tests/posix-only/deduplication/BuiltinTypes.expected
  swift/integration-tests/posix-only/deduplication/BuiltinTypes.ql
Due: codeql-format, sync-files

Swift: Make QL-for-QL happy.
  swift/ql/lib/codeql/swift/security/UnsafeJsEvalExtensions.qll
Due: codeql-format, sync-files

Java: Remove low-confidence dispatch to known neutrals.
  java/ql/lib/change-notes/2023-03-14-neutral-dispatch.md
  java/ql/lib/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dispatch/ObjFlow.qll
  java/ql/lib/semmle/code/java/dispatch/VirtualDispatch.qll
Due: codeql-format, sync-files

java.net tests
  java/ql/test/library-tests/frameworks/jdk/java.net/Test.java
  java/ql/test/query-tests/security/CWE-918/mad/Test.java
Due: none

Swift: make `AnyGenericType::getDecl`'s type more specific
  swift/downgrades/0c4c904720f88c527e7d896d6a334b6abdd3e32f/old.dbscheme
  swift/downgrades/0c4c904720f88c527e7d896d6a334b6abdd3e32f/swift.dbscheme
  swift/downgrades/0c4c904720f88c527e7d896d6a334b6abdd3e32f/upgrade.properties
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/type/AnyGenericType.qll
  swift/ql/lib/upgrades/ea1b37a631001395b9f1eeb36bd5ecec871a7190/old.dbscheme
  swift/ql/lib/upgrades/ea1b37a631001395b9f1eeb36bd5ecec871a7190/swift.dbscheme
  swift/ql/lib/upgrades/ea1b37a631001395b9f1eeb36bd5ecec871a7190/upgrade.properties
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

Fix java.nio.file models
  java/ql/lib/ext/java.nio.file.model.yml
Due: none
