Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^swift/.*\.py

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

Fix test comments
  java/ql/test/library-tests/dataflow/taint/StringJoinerTests.java
Due: none

Refactor to models-as-data
  java/ql/lib/ext/java.util.model.yml
Due: none

Apply suggestions from code review
  csharp/ql/src/Security Features/CWE-838/InappropriateEncoding.ql
Due: codeql-format, sync-files

C#: Update comment for the RequiresEncodingConfig param module.
  csharp/ql/src/Security Features/CWE-838/InappropriateEncoding.ql
Due: codeql-format, sync-files

Ruby: Prevent flow into `self` in `trackBlock`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Demo time
  README.md
Due: none

Swift: Fix CSV field sinks.
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.swift
Due: codeql-format, sync-files

Swift: Update InsecureTLSExtensions.ql sinks to not depend on AssignExpr.
  swift/ql/lib/codeql/swift/security/InsecureTLSExtensions.qll
  swift/ql/lib/codeql/swift/security/InsecureTLSQuery.qll
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.swift
Due: codeql-format, sync-files

Swift: Convert to CSV sinks.
  swift/ql/lib/codeql/swift/security/InsecureTLSExtensions.qll
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
Due: codeql-format, sync-files

Swift: Add some test cases.
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.swift
Due: sync-files

Update README.md
  README.md
Due: none

TS: Fix self-reference check for alias types
  javascript/extractor/lib/typescript/src/type_table.ts
Due: none

JS: Update test output
  javascript/ql/test/library-tests/TypeScript/RegressionTests/GenericTypeAlias/test.expected
Due: none

Move ConstantStringExpr to RangeUtils.qll
  java/ql/lib/semmle/code/java/dataflow/RangeUtils.qll
  java/ql/lib/semmle/code/java/security/XmlParsers.qll
Due: codeql-format, sync-files

Promote exxperimental XXE sinks
  java/ql/lib/semmle/code/java/frameworks/apache/CommonsXml.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/Xml.qll
  java/ql/lib/semmle/code/java/frameworks/javase/Beans.qll
  java/ql/lib/semmle/code/java/frameworks/rundeck/RundeckXml.qll
  java/ql/lib/semmle/code/java/security/XmlParsers.qll
Due: codeql-format, sync-files

Add tests
  java/ql/test/query-tests/security/CWE-611/DigesterTests.java
  java/ql/test/query-tests/security/CWE-611/ParserHelperTests.java
  java/ql/test/query-tests/security/CWE-611/ValidatorTests.java
  java/ql/test/query-tests/security/CWE-611/XMLDecoderTests.java
  java/ql/test/query-tests/security/CWE-611/XXE.expected
  java/ql/test/query-tests/security/CWE-611/options
Due: none

Refactor tests to use InlineFlowTest
  java/ql/test/query-tests/security/CWE-611/DigesterTests.java
  java/ql/test/query-tests/security/CWE-611/DocumentBuilderTests.java
  java/ql/test/query-tests/security/CWE-611/ParserHelperTests.java
  java/ql/test/query-tests/security/CWE-611/SAXBuilderTests.java
  java/ql/test/query-tests/security/CWE-611/SAXParserTests.java
  java/ql/test/query-tests/security/CWE-611/SAXReaderTests.java
  java/ql/test/query-tests/security/CWE-611/SAXSourceTests.java
  java/ql/test/query-tests/security/CWE-611/SchemaTests.java
  java/ql/test/query-tests/security/CWE-611/SimpleXMLTests.java
  java/ql/test/query-tests/security/CWE-611/TransformerTests.java
  java/ql/test/query-tests/security/CWE-611/UnmarshallerTests.java
  java/ql/test/query-tests/security/CWE-611/ValidatorTests.java
  java/ql/test/query-tests/security/CWE-611/XMLDecoderTests.java
  java/ql/test/query-tests/security/CWE-611/XMLReaderTests.java
  java/ql/test/query-tests/security/CWE-611/XPathExpressionTests.java
  java/ql/test/query-tests/security/CWE-611/XXE.expected
  java/ql/test/query-tests/security/CWE-611/XXE.ql
  java/ql/test/query-tests/security/CWE-611/XXE.qlref
  java/ql/test/query-tests/security/CWE-611/XmlInputFactoryTests.java
Due: codeql-format, sync-files

Remove experimental files
  java/ql/src/experimental/Security/CWE/CWE-611/XXE.java
  java/ql/src/experimental/Security/CWE/CWE-611/XXE.qhelp
  java/ql/src/experimental/Security/CWE/CWE-611/XXE.ql
  java/ql/src/experimental/Security/CWE/CWE-611/XXELib.qll
  java/ql/src/experimental/Security/CWE/CWE-611/XXELocal.qhelp
  java/ql/src/experimental/Security/CWE/CWE-611/XXELocal.ql
  java/ql/test/experimental/query-tests/security/CWE-611/XXE.expected
  java/ql/test/experimental/query-tests/security/CWE-611/XXE.java
  java/ql/test/experimental/query-tests/security/CWE-611/XXE.qlref
  java/ql/test/experimental/query-tests/security/CWE-611/options
Due: codeql-format, sync-files, qhelp

Add change note
  java/ql/src/change-notes/2023-04-26-xxe-sinks-promotion.md
Due: none

Fix StringJoiner.add models
  java/ql/lib/ext/java.util.model.yml
Due: none

Python: rename YAML.qll to Yaml.qll
  python/ql/lib/semmle/python/Yaml.qll
Due: codeql-format, sync-files

JS: Add tests
  javascript/ql/test/query-tests/Security/CWE-502/Consistency.expected
  javascript/ql/test/query-tests/Security/CWE-502/Consistency.ql
  javascript/ql/test/query-tests/Security/CWE-502/UnsafeDeserialization.expected
  javascript/ql/test/query-tests/Security/CWE-502/tst.js
Due: codeql-format, sync-files

JS: Change note
  javascript/ql/src/change-notes/2023-04-26-unsafe-yaml-deserialization.md
Due: none

JS: Change note
  javascript/ql/src/change-notes/2023-04-26-typescript-compiler-crash.md
Due: none

Ruby: Remove empty string DataFlowType in PathNode.
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Ruby: Update expected output.
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.expected
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/params/params-flow.expected
  ruby/ql/test/library-tests/dataflow/ssa-flow/ssa-flow.expected
  ruby/ql/test/library-tests/dataflow/string-flow/string-flow.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/frameworks/action_controller/params-flow.expected
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupportDataFlow.expected
  ruby/ql/test/library-tests/frameworks/sinatra/Flow.expected
  ruby/ql/test/query-tests/security/cwe-078/UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/StoredXSS.expected
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection/CodeInjection.expected
  ruby/ql/test/query-tests/security/cwe-094/UnsafeCodeConstruction/UnsafeCodeConstruction.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextLogging.expected
Due: none

Swift: Remove empty string DataFlowType in PathNode.
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Swift: Update expected output.
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-757/InsecureTLS.expected
Due: none

Python: Add flow-step for arg[1] to `dict.setdefault`
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/experimental/dataflow/fieldflow/test_dict.py
Due: codeql-format, sync-files

Python: Remove duplicated test
  python/ql/test/experimental/dataflow/fieldflow/test_dict.py
Due: none

Python: Accept dataflow/basic/*.expected
  python/ql/test/experimental/dataflow/basic/callGraphSinks.expected
  python/ql/test/experimental/dataflow/basic/callGraphSources.expected
  python/ql/test/experimental/dataflow/basic/global.expected
  python/ql/test/experimental/dataflow/basic/globalStep.expected
  python/ql/test/experimental/dataflow/basic/local.expected
  python/ql/test/experimental/dataflow/basic/localStep.expected
  python/ql/test/experimental/dataflow/basic/maximalFlows.expected
  python/ql/test/experimental/dataflow/basic/sinks.expected
  python/ql/test/experimental/dataflow/basic/sources.expected
Due: none

python: fix test expectations also rename `collections.py` so it does not clash with the standard library name. This clash is an issue when testing locally.
  python/ql/test/experimental/dataflow/variable-capture/CaptureTest.expected
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/variable-capture/test_collections.py
Due: none

Ruby: Update more expected output.
  ruby/ql/test/library-tests/dataflow/call-sensitivity/call-sensitivity.expected
  ruby/ql/test/library-tests/dataflow/local/InlineFlowTest.expected
  ruby/ql/test/library-tests/dataflow/pathname-flow/pathame-flow.expected
  ruby/ql/test/library-tests/frameworks/action_mailer/params-flow.expected
  ruby/ql/test/library-tests/frameworks/arel/Arel.expected
  ruby/ql/test/library-tests/frameworks/json/JsonDataFlow.expected
  ruby/ql/test/query-tests/experimental/TemplateInjection/TemplateInjection.expected
  ruby/ql/test/query-tests/experimental/cwe-022-ZipSlip/ZipSlip.expected
  ruby/ql/test/query-tests/experimental/manually-check-http-verb/ManuallyCheckHttpVerb.expected
  ruby/ql/test/query-tests/experimental/weak-params/WeakParams.expected
  ruby/ql/test/query-tests/security/cwe-020/MissingFullAnchor/MissingFullAnchor.expected
  ruby/ql/test/query-tests/security/cwe-022/PathInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
  ruby/ql/test/query-tests/security/cwe-078/KernelOpen/KernelOpen.expected
  ruby/ql/test/query-tests/security/cwe-079/UnsafeHtmlConstruction.expected
  ruby/ql/test/query-tests/security/cwe-089/SqlInjection.expected
  ruby/ql/test/query-tests/security/cwe-117/LogInjection.expected
  ruby/ql/test/query-tests/security/cwe-1333-polynomial-redos/PolynomialReDoS.expected
  ruby/ql/test/query-tests/security/cwe-1333-regexp-injection/RegExpInjection.expected
  ruby/ql/test/query-tests/security/cwe-134/TaintedFormatString.expected
  ruby/ql/test/query-tests/security/cwe-209/StackTraceExposure.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextStorage.expected
  ruby/ql/test/query-tests/security/cwe-502/oj-global-options/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-506/HardcodedDataInterpretedAsCode.expected
  ruby/ql/test/query-tests/security/cwe-601/UrlRedirect.expected
  ruby/ql/test/query-tests/security/cwe-611/libxml-backend/Xxe.expected
  ruby/ql/test/query-tests/security/cwe-611/xxe/Xxe.expected
  ruby/ql/test/query-tests/security/cwe-732/WeakFilePermissions.expected
  ruby/ql/test/query-tests/security/cwe-798/HardcodedCredentials.expected
  ruby/ql/test/query-tests/security/cwe-807-user-controlled-bypass/ConditionalBypass.expected
  ruby/ql/test/query-tests/security/cwe-829/InsecureDownload.expected
  ruby/ql/test/query-tests/security/cwe-912/HttpToFileAccess.expected
  ruby/ql/test/query-tests/security/cwe-918/ServerSideRequestForgery.expected
  ruby/ql/test/query-tests/security/decompression-api/DecompressionApi.expected
Due: none

Swift: Update more expected output.
  swift/ql/test/query-tests/Security/CWE-079/UnsafeWebViewFetch.expected
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  swift/ql/test/query-tests/Security/CWE-094/UnsafeJsEval.expected
  swift/ql/test/query-tests/Security/CWE-1204/StaticInitializationVector.expected
  swift/ql/test/query-tests/Security/CWE-134/UncontrolledFormatString.expected
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.expected
  swift/ql/test/query-tests/Security/CWE-259/ConstantPassword.expected
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-312/CleartextStoragePreferences.expected
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.expected
  swift/ql/test/query-tests/Security/CWE-327/ECBEncryption.expected
  swift/ql/test/query-tests/Security/CWE-760/ConstantSalt.expected
  swift/ql/test/query-tests/Security/CWE-916/InsufficientHashIterations.expected
Due: none

Python: Yaml printAst and tests
  python/ql/lib/semmle/python/PrintAst.qll
  python/ql/test/library-tests/Yaml/err.yaml
  python/ql/test/library-tests/Yaml/external.yml
  python/ql/test/library-tests/Yaml/merge.yaml
  python/ql/test/library-tests/Yaml/printAst.expected
  python/ql/test/library-tests/Yaml/printAst.ql
  python/ql/test/library-tests/Yaml/tests.expected
  python/ql/test/library-tests/Yaml/tests.ql
  python/ql/test/library-tests/Yaml/tst.yml
Due: codeql-format, sync-files

python: add test for inheritance
  python/ql/test/library-tests/ApiGraphs/py3/test_captured_inheritance.py
Due: none

Java: Update customizing library models for java documentation.
  docs/codeql/codeql-language-guides/customizing-library-models-for-java.rst
Due: none

Swift: One more expected output fix.
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
Due: none

Python: More `.expected` accepting
  python/ql/test/experimental/dataflow/tainttracking/basic/LocalTaintStep.expected
Due: none

Fix TestModels test expectation
  java/ql/test/ext/TestModels/Test.java
Due: none
