Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel:buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

JS: Update flow label tutorial
  docs/codeql/codeql-language-guides/using-flow-labels-for-precise-data-flow-analysis.rst
Due: none

Rust: Add another test case, fix an annotation.
  rust/ql/test/query-tests/security/CWE-696/BadCTorInitialization.expected
  rust/ql/test/query-tests/security/CWE-696/test.rs
Due: none

Rust: Add support for transitive results via calls in the ctor query.
  rust/ql/src/queries/security/CWE-696/BadCtorInitialization.ql
  rust/ql/test/query-tests/security/CWE-696/BadCTorInitialization.expected
  rust/ql/test/query-tests/security/CWE-696/test.rs
Due: codeql-format, sync-files

Rust: Remove unnecessary edges.
  rust/ql/src/queries/security/CWE-696/BadCtorInitialization.ql
  rust/ql/test/query-tests/security/CWE-696/BadCTorInitialization.expected
Due: codeql-format, sync-files

Rust: Make the two cases read more similarly.
  rust/ql/src/queries/security/CWE-696/BadCtorInitialization.ql
Due: codeql-format, sync-files

Add a new test case
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/IsNotOkayCall.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/NoTarget.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/Quality.cs
Due: none

Address review comments
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

KE2: Extract `bool`, `char`, `float`, `double` constants
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Due: none

Rust: accept all test changes
  rust/ql/test/extractor-tests/generated/ClosureExpr/ClosureExpr_getRetType.expected
  rust/ql/test/extractor-tests/generated/Function/Function_getRetType.expected
  rust/ql/test/extractor-tests/generated/Path/Path.expected
  rust/ql/test/extractor-tests/generated/Path/PathSegment.expected
  rust/ql/test/extractor-tests/generated/Path/PathSegment_getGenericArgList.expected
  rust/ql/test/extractor-tests/generated/Path/PathSegment_getNameRef.expected
  rust/ql/test/extractor-tests/generated/Path/PathTypeRef.expected
  rust/ql/test/extractor-tests/generated/Path/PathTypeRef_getPath.expected
  rust/ql/test/extractor-tests/generated/Path/Path_getPart.expected
  rust/ql/test/extractor-tests/generated/Path/Path_getQualifier.expected
  rust/ql/test/extractor-tests/generated/Path/Path_getResolvedCrateOrigin.expected
  rust/ql/test/extractor-tests/generated/Path/Path_getResolvedPath.expected
  rust/ql/test/extractor-tests/generated/RetTypeRef/RetTypeRef.expected
  rust/ql/test/extractor-tests/generated/RetTypeRef/RetTypeRef_getTy.expected
  rust/ql/test/extractor-tests/generated/TupleTypeRef/TupleTypeRef.expected
Due: none

Code quality improvements
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Due: none

Dataflow: Rename typecheckStore.
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Now flag aliases with the 'get' or 'as' prefix that resolve to predicates lacking a return type.
  ql/ql/src/queries/style/ValidatePredicateGetReturns.ql
  ql/ql/test/queries/style/ValidatePredicateGetReturns/ValidatePredicateGetReturns.expected
  ql/ql/test/queries/style/ValidatePredicateGetReturns/test.qll
Due: codeql-format, sync-files

Dataflow: Refactor - deduplicate fwdFlowRead+consCand join.
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

JS: Remove redundant base class in TruthinessCheck
  docs/codeql/codeql-language-guides/using-flow-labels-for-precise-data-flow-analysis.rst
Due: none

Address review comments, store step for tuple indexing
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
Due: codeql-format, sync-files

JS: Fix another stray reference to BarrierGuardNode/SanitizerGuardNode
  docs/codeql/codeql-language-guides/using-flow-labels-for-precise-data-flow-analysis.rst
Due: none

Dataflow: Remove types from access paths.
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Update javascript/ql/lib/change-notes/2024-11-28-regexp-unknown-flags.md
  javascript/ql/lib/change-notes/2024-11-28-regexp-unknown-flags.md
Due: none

C#: Restrict `cs/thread-unsafe-icryptotransform-field-in-class` to source fields
  csharp/ql/src/Likely Bugs/ThreadUnsafeICryptoTransform.ql
Due: codeql-format, sync-files

Add explanation todo comments in the missing call target test file
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/Quality.cs
Due: none

Code quality improvement
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Due: none

Rust: Rewrite the query to (1) include functions and (2) minimize output.
  rust/ql/src/queries/security/CWE-696/BadCtorInitialization.ql
  rust/ql/test/query-tests/security/CWE-696/BadCTorInitialization.expected
Due: codeql-format, sync-files

Rust: Tuple writes target post update node
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
Due: codeql-format, sync-files

Rust: accept all test changes after merge
  rust/ql/test/extractor-tests/generated/MacroItems/CONSISTENCY/AstConsistency.expected
Due: none

Rust: Make ql-for-ql happy.
  rust/ql/src/queries/security/CWE-696/BadCtorInitialization.ql
Due: codeql-format, sync-files

Rust: Address nit.
  rust/ql/src/queries/security/CWE-696/BadCtorInitialization.ql
Due: codeql-format, sync-files

Rust: make `File` usable in `codegen`
  misc/codegen/generators/dbschemegen.py
  misc/codegen/generators/qlgen.py
  misc/codegen/generators/rustgen.py
  misc/codegen/generators/rusttestgen.py
  misc/codegen/lib/ql.py
  misc/codegen/lib/schema.py
  misc/codegen/lib/schemadefs.py
  misc/codegen/loaders/schemaloader.py
  misc/codegen/templates/ql_class.mustache
  misc/codegen/templates/ql_db.mustache
  misc/codegen/test/test_ql.py
  misc/codegen/test/test_qlgen.py
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/main.rs
  rust/extractor/src/translate/base.rs
  rust/extractor/src/trap.rs
  rust/prefix.dbscheme
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/integration-tests/hello-project/steps.ql
  rust/ql/integration-tests/hello-workspace/steps.ql
  rust/ql/integration-tests/hello-workspace/summary.cargo.expected
  rust/ql/integration-tests/hello-workspace/summary.rust-project.expected
  rust/ql/integration-tests/hello-workspace/test_workspace.py
  rust/ql/lib/codeql/files/FileSystem.qll
  rust/ql/lib/codeql/rust/elements.qll
  rust/ql/lib/codeql/rust/elements/internal/ExtractorStep.qll
  rust/ql/lib/codeql/rust/elements/internal/ExtractorStepConstructor.qll
  rust/ql/lib/codeql/rust/elements/internal/ExtractorStepImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ExtractorStep.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/SynthConstructors.qll
  rust/ql/lib/codeql/rust/internal/ExtractorStep.qll
  rust/ql/lib/rust.dbscheme
  rust/schema/prelude.py
  swift/ql/.generated.list
Due: codeql-format, sync-files, swift-codegen

Rust: accept test changes
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
Due: none

KE2: Start switching to having separate Kt* and Ka*Symbol methods
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Class.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Function.kt
  java/kotlin-extractor2/src/main/kotlin/entities/FunctionalInterface.kt
Due: none

C++: Change security-extended to be a single query getting all files
  cpp/ql/src/QA_Query/GetFiles.ql
  cpp/ql/src/codeql-suites/cpp-security-extended.qls
Due: codeql-format, sync-files

KE2: Tell StmtExprParent about callable
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
  java/kotlin-extractor2/src/main/kotlin/entities/FunctionalInterface.kt
  java/kotlin-extractor2/src/main/kotlin/entities/MethodCall.kt
Due: none

KE2: Remove most redundant 'callable' args
  java/kotlin-extractor2/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
  java/kotlin-extractor2/src/main/kotlin/entities/FunctionalInterface.kt
  java/kotlin-extractor2/src/main/kotlin/entities/MethodCall.kt
Due: none

C#: Remove change note.
  csharp/ql/lib/change-notes/2024-11-19-extractor-dotnet.md
Due: none

Rust: Adopt shared flow summaries library
  rust/ql/lib/codeql/rust/dataflow/DataFlow.qll
  rust/ql/lib/codeql/rust/dataflow/FlowSummary.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/FlowSummaryImpl.qll
  rust/ql/test/library-tests/dataflow/models/main.rs
  rust/ql/test/library-tests/dataflow/models/models.expected
  rust/ql/test/library-tests/dataflow/models/models.ql
Due: codeql-format, sync-files

Shared: Move shared logic into `FlowSummaryImpl.qll`
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

Rust: Add a model for `unwrap`
  rust/ql/lib/codeql/rust/dataflow/FlowSummary.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
Due: codeql-format, sync-files

Address review comments
  rust/ql/lib/codeql/rust/dataflow/FlowSummary.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/FlowSummaryImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/CallExprBaseImpl.qll
Due: codeql-format, sync-files

JS: refactor getADependency to return a string
  javascript/ql/lib/semmle/javascript/NPM.qll
  javascript/ql/lib/semmle/javascript/frameworks/Next.qll
  javascript/ql/lib/semmle/javascript/frameworks/Redux.qll
  javascript/ql/lib/semmle/javascript/frameworks/Templating.qll
  javascript/ql/lib/semmle/javascript/frameworks/Vuex.qll
  javascript/ql/src/NodeJS/UnresolvableImport.ql
  javascript/ql/test/tutorials/Introducing the JavaScript libraries/query19.qll
Due: codeql-format, sync-files
