Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^swift/.*\.py

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

C#: Filter away phi (read) input steps from a node into itself
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C#: Filter away use-use steps from a node into itself
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C#: Update expected test output
  csharp/ql/test/experimental/ir/offbyone/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/attributes/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/consistency/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/dataflow/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/enums/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/functionPointers/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/init-only-prop/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/pdbs/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/regressions/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/cil/typeAnnotations/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/commons/Disposal/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/controlflow/graph/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/controlflow/guards/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/controlflow/splits/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/csharp11/cil/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/dataflow/defuse/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/dataflow/global/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/library-tests/dataflow/ssa/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/query-tests/API Abuse/NoDisposeCallOnLocalIDisposable/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/query-tests/Nullness/CONSISTENCY/DataFlowConsistency.expected
  csharp/ql/test/query-tests/Security Features/CWE-022/ZipSlip/CONSISTENCY/DataFlowConsistency.expected
Due: none

C#: Reenable consistency check
  csharp/ql/consistency-queries/DataFlowConsistency.ql
Due: codeql-format, sync-files

Swift: remove hacky binlog interception
  swift/logging/SwiftLogging.cpp
  swift/logging/SwiftLogging.h
Due: none

Swift: remove unneeded `SwiftDiagnosticLogWrapper`
  swift/logging/SwiftLogging.h
Due: none

Swift: Make the CleartextLogging.ql query ID consistent with the other swift/cleartext-* queries.
  swift/ql/src/queries/Security/CWE-312/CleartextLogging.ql
Due: codeql-format, sync-files

C++: Add more comments.
  cpp/ql/src/experimental/Likely Bugs/OverrunWriteProductFlow.ql
Due: codeql-format, sync-files

Swift: Make the result message consistent as well.
  swift/ql/src/queries/Security/CWE-312/CleartextLogging.ql
Due: codeql-format, sync-files

Swift: update comment
  swift/logging/SwiftDiagnostics.h
Due: none

Swift: support markdown TSP diagnostics
  swift/integration-tests/linux-only/autobuilder/unsupported-os/diagnostics.expected
  swift/logging/SwiftDiagnostics.cpp
  swift/logging/SwiftDiagnostics.h
  swift/tools/autobuilder-diagnostics/IncompatibleOs.cpp
  swift/xcode-autobuilder/CustomizingBuildDiagnostics.h
  swift/xcode-autobuilder/XcodeBuildRunner.cpp
  swift/xcode-autobuilder/xcode-autobuilder.cpp
Due: none

C++: Make comment more clear.
  cpp/ql/src/experimental/Likely Bugs/OverrunWriteProductFlow.ql
Due: codeql-format, sync-files

Swift: Add more sensitive data test cases.
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
Due: sync-files

Swift: Remove assumption that 'username' is not sensitive (in the tests).
  swift/ql/test/query-tests/Security/CWE-311/testRealm.swift
Due: sync-files

C++: Share more code between 'ValidState' and 'StringSizeConfig'.
  cpp/ql/src/experimental/Likely Bugs/OverrunWriteProductFlow.ql
Due: codeql-format, sync-files

C++: Fix Code Scanning error.
  cpp/ql/src/experimental/Likely Bugs/OverrunWriteProductFlow.ql
Due: codeql-format, sync-files

Swift: Fix URL-related FPs.
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
Due: codeql-format, sync-files

Var only used in one side of disjunct
  ruby/ql/lib/codeql/ruby/frameworks/Mysql2.qll
Due: codeql-format, sync-files

Swift: Address boolean value FPs.
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextStorageDatabaseExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextStoragePreferencesExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextTransmissionExtensions.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
Due: codeql-format, sync-files

Add SqlSanitization to `Concepts` and turn private
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/security/SqlInjectionCustomizations.qll
Due: codeql-format, sync-files

Ruby: Add more call graph tests
  ruby/ql/test/library-tests/modules/ancestors.expected
  ruby/ql/test/library-tests/modules/callgraph.expected
  ruby/ql/test/library-tests/modules/calls.rb
  ruby/ql/test/library-tests/modules/methods.expected
  ruby/ql/test/library-tests/modules/modules.expected
  ruby/ql/test/library-tests/modules/superclasses.expected
Due: none

Ruby: Include `self` parameters in type tracking flow-through logic
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/modules/callgraph.expected
Due: codeql-format, sync-files

Swift: Improve mobile/phone number regexp.
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
Due: codeql-format, sync-files

add another example to the qhelp in poly-redos, showing how to just limit the length of the input
  java/ql/src/Security/CWE/CWE-730/PolynomialReDoS.qhelp
  javascript/ql/src/Performance/PolynomialReDoS.qhelp
  python/ql/src/Security/CWE-730/PolynomialReDoS.qhelp
  ruby/ql/src/queries/security/cwe-1333/PolynomialReDoS.qhelp
Due: sync-files, qhelp

trim the whitespace in the poly-redos examples
  java/ql/src/Security/CWE/CWE-730/PolynomialReDoS.qhelp
  javascript/ql/src/Performance/PolynomialReDoS.qhelp
  python/ql/src/Security/CWE-730/PolynomialReDoS.qhelp
  ruby/ql/src/queries/security/cwe-1333/PolynomialReDoS.qhelp
Due: sync-files, qhelp

fix typo, the variable in the example is called `items`
  javascript/ql/src/Security/CWE-915/PrototypePollutingAssignment.inc.qhelp
Due: sync-files, qhelp

add another example of how to fix the prototype pollution issue
  javascript/ql/src/Security/CWE-915/PrototypePollutingAssignment.inc.qhelp
  javascript/ql/src/Security/CWE-915/examples/PrototypePollutingAssignmentFixed2.js
Due: sync-files, qhelp

Add XPath.evaluate as XXE sink
  java/ql/lib/semmle/code/java/security/XmlParsers.qll
  java/ql/src/change-notes/2023-05-15-xpath-xxe-sink.md
  java/ql/test/query-tests/security/CWE-611/XPathExpressionTests.java
  java/ql/test/query-tests/security/CWE-611/XXE.expected
Due: codeql-format, sync-files

Swift: Add the shared SensitiveDataHeuristics.qll to Swift.
  config/identical-files.json
  swift/ql/lib/codeql/swift/security/internal/SensitiveDataHeuristics.qll
Due: codeql-format, sync-files

Swift: Use SensitiveDataHeuristics.qll in regexpProbablySafe.
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-312/CleartextLoggingTest.expected
  swift/ql/test/query-tests/Security/CWE-312/CleartextStoragePreferences.expected
Due: codeql-format, sync-files

Swift: SensitiveDataHeuristics.qll expects function names without an (argument:list:).
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-312/CleartextLoggingTest.expected
  swift/ql/test/query-tests/Security/CWE-312/CleartextStoragePreferences.expected
Due: codeql-format, sync-files

Swift: Add some special cases to preserve (for now) result quality.
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
Due: codeql-format, sync-files

Swift: Use SensitiveDataHeuristics.qll in SensitiveCredential.
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-328/WeakSensitiveDataHashing.expected
Due: codeql-format, sync-files

Swift: Add some special cases to preserve (for now) result quality.
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/test/query-tests/Security/CWE-311/CleartextTransmission.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
Due: codeql-format, sync-files

Swift: Bank account numbers are a credential now, I guess they don't need to be private data as well.
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
Due: codeql-format, sync-files

Swift: Simplify out toLowerCase().
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
Due: codeql-format, sync-files

Swift: Update test annotations.
  swift/ql/test/query-tests/Security/CWE-311/testURL.swift
  swift/ql/test/query-tests/Security/CWE-328/testCryptoKit.swift
Due: sync-files

Swift: Use `...` to find and run all Bazel tests instead of having to list them.
  swift/actions/build-and-test/action.yml
Due: none

Enable implicit this warnings for shared packs
  shared/regex/qlpack.yml
  shared/ssa/qlpack.yml
  shared/tutorial/qlpack.yml
  shared/typetracking/qlpack.yml
  shared/typos/qlpack.yml
  shared/util/qlpack.yml
  shared/yaml/qlpack.yml
Due: none

python: remove steps for container constructors
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/test_collections.py
  python/ql/test/library-tests/frameworks/aiohttp/taint_test.py
  python/ql/test/library-tests/frameworks/flask/taint_test.py
  python/ql/test/library-tests/frameworks/multidict/taint_test.py
Due: codeql-format, sync-files
