Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

Delete redundant import
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

Lock SDK version in standalone test
  csharp/ql/integration-tests/all-platforms/standalone_dependencies_net48/global.json
Due: none

fix a mistake: remove vendor dir from go root directory
  go/vendor/github.com/DataDog/zstd/stub.go
  go/vendor/github.com/dsnet/compress/bzip2/stub.go
  go/vendor/github.com/dsnet/compress/flate/stub.go
  go/vendor/github.com/golang/snappy/stub.go
  go/vendor/github.com/klauspost/compress/flate/stub.go
  go/vendor/github.com/klauspost/compress/gzip/stub.go
  go/vendor/github.com/klauspost/compress/s2/stub.go
  go/vendor/github.com/klauspost/compress/snappy/stub.go
  go/vendor/github.com/klauspost/compress/zip/stub.go
  go/vendor/github.com/klauspost/compress/zlib/stub.go
  go/vendor/github.com/klauspost/compress/zstd/stub.go
  go/vendor/github.com/klauspost/pgzip/stub.go
  go/vendor/github.com/ulikunitz/xz/stub.go
  go/vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  go/vendor/golang.org/x/tools/internal/event/tag/tag.go
Due: none

add inline tests for UntrustedFlowSource, and fix some not necessarily flow sources
  go/ql/lib/semmle/go/frameworks/Fasthttp.qll
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/UntrustedRemoteFlowSource.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/UntrustedRemoteFlowSource.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/fasthttp.go
Due: codeql-format, sync-files

Python: update test expectations
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.expected
  python/ql/test/library-tests/ApiGraphs/py3/dataflow-consistency.expected
  python/ql/test/library-tests/frameworks/django-orm/ReflectedXss.expected
  python/ql/test/library-tests/frameworks/django-orm/dataflow-consistency.expected
Due: none

Adjust stub generator test to fix the nuget package version
  .github/workflows/csharp-qltest.yml
Due: none

Add source generators to framework stubs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.App.Analyzers.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.App.CodeFixes.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.Components.Analyzers.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.Extensions.Logging.Generators.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/Microsoft.Interop.JavaScript.JSImportGenerator.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/Microsoft.Interop.LibraryImportGenerator.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/Microsoft.Interop.SourceGeneration.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Text.Json.SourceGeneration.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Text.RegularExpressions.Generator.cs
Due: none

add inline tests for open redirect,xss, fix some issues in fasthttp.qll
  go/ql/lib/semmle/go/frameworks/Fasthttp.qll
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/OpenRedirect.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/UntrustedRemoteFlowSource.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/Xss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/Xss.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/fasthttp.go
Due: codeql-format, sync-files

Revert "Add source generators to framework stubs"
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.App.Analyzers.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.App.CodeFixes.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.AspNetCore.Components.Analyzers.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.AspNetCore.App/Microsoft.Extensions.Logging.Generators.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/Microsoft.Interop.JavaScript.JSImportGenerator.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/Microsoft.Interop.LibraryImportGenerator.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/Microsoft.Interop.SourceGeneration.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Text.Json.SourceGeneration.cs
  csharp/ql/test/resources/stubs/_frameworks/Microsoft.NETCore.App/System.Text.RegularExpressions.Generator.cs
Due: none

add additional taint steps inline tests
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/AdditionalTaintSteps.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/SSRF.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/fasthttp.go
Due: codeql-format, sync-files

fix a issue in fasthttp library, add SSRF inline queires
  go/ql/lib/semmle/go/frameworks/Fasthttp.qll
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/SSRF.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/SSRF.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/fasthttp.go
Due: codeql-format, sync-files

Swift: Extend sink models.
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
  swift/ql/test/query-tests/Security/CWE-312/cleartextLoggingTest.swift
Due: codeql-format, sync-files

Swift: Generalize 'write' models.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/StandardLibrary.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Stream.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/String.qll
Due: codeql-format, sync-files

upgrade execa scripts
  javascript/ql/lib/semmle/javascript/frameworks/Execa.qll
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/CommandInjection.expected
  javascript/ql/test/query-tests/Security/CWE-078/CommandInjection/execa.js
Due: codeql-format, sync-files

Filter analyzer assemblies from nuget packages
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies/Assemblies.expected
  csharp/ql/integration-tests/windows-only/standalone_dependencies/Assemblies.expected
Due: none

Be more explicit about expected assembly loading exceptions
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyInfo.cs
Due: none

C#: Disable CIL extraction for testing purposes.
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
  csharp/extractor/Semmle.Extraction/Options.cs
Due: none

C++: Add an abstract class that can be used to extend 'viableCallable'.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

Support JS import attributes (previously import assertions)
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/tests/esnext/input/import-assertion.js
  javascript/extractor/tests/esnext/output/trap/import-assertion.js.trap
Due: none

Go: re-add Dependabot allow list
  .github/dependabot.yml
Due: none

Go: group golang.org dependencies
  .github/dependabot.yml
Due: none

C++: Add change notes.
  cpp/ql/lib/change-notes/2023-10-12-additional-call-targets.md
Due: none

Rename 'assertions' to 'attributes' in JS extractor
  javascript/extractor/src/com/semmle/jcorn/ESNextParser.java
  javascript/extractor/src/com/semmle/jcorn/Parser.java
  javascript/extractor/src/com/semmle/jcorn/flow/FlowParser.java
Due: none

Add tests for deprecated 'assert' syntax
  javascript/extractor/tests/esnext/input/import-assertion.js
  javascript/extractor/tests/esnext/output/trap/import-assertion.js.trap
Due: none

Rename getAssertion() to getAttributes() in the extractor
  javascript/extractor/src/com/semmle/js/ast/DynamicImport.java
  javascript/extractor/src/com/semmle/js/ast/ExportAllDeclaration.java
  javascript/extractor/src/com/semmle/js/ast/ExportNamedDeclaration.java
  javascript/extractor/src/com/semmle/js/ast/ImportDeclaration.java
  javascript/extractor/src/com/semmle/js/ast/NodeCopier.java
  javascript/extractor/src/com/semmle/js/extractor/ASTExtractor.java
Due: none

Rename test files
  javascript/extractor/tests/esnext/input/import-attributes.js
  javascript/extractor/tests/esnext/output/trap/import-attributes.js.trap
Due: none

Add tests for deprecated 'assert' syntax
  javascript/ql/test/library-tests/TypeScript/ImportAssertions/js-import-assertions.js
  javascript/ql/test/library-tests/TypeScript/ImportAssertions/test.expected
Due: none

Rename DynamicImportExpr::getImport{Attributes => Options}
  javascript/ql/lib/semmle/javascript/Expr.qll
  javascript/ql/test/library-tests/TypeScript/ImportAssertions/test.expected
  javascript/ql/test/library-tests/TypeScript/ImportAssertions/test.ql
Due: codeql-format, sync-files

Rename 'getImportAssertion()' to 'getImportAttributes()' in QL library
  javascript/ql/lib/semmle/javascript/ES2015Modules.qll
  javascript/ql/lib/semmle/javascript/Expr.qll
  javascript/ql/test/library-tests/TypeScript/ImportAssertions/test.expected
  javascript/ql/test/library-tests/TypeScript/ImportAssertions/test.ql
Due: codeql-format, sync-files

Replace 'assert' with 'with' in QL test files
  javascript/ql/test/library-tests/TypeScript/ImportAssertions/js-import-assertions.js
  javascript/ql/test/library-tests/TypeScript/ImportAssertions/test.expected
Due: none

Add changenote
  javascript/ql/lib/change-notes/2023-10-10-import-attributes.md
Due: none

use the new codePointAt and codePointCount methods instead of regex hacks
  shared/util/codeql/util/Strings.qll
Due: codeql-format, sync-files

add documentation for the new string methods in `ql-language-specification.rst`
  docs/codeql/ql-language-reference/ql-language-specification.rst
Due: none

add getACodepoint to the shared Strings library, and use it in NfaUtils
  shared/regex/codeql/regex/nfa/NfaUtils.qll
  shared/util/codeql/util/Strings.qll
Due: codeql-format, sync-files

Swift: Turn sink models into flow summary models, where appropriate.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Stream.qll
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.ql
  swift/ql/test/query-tests/Security/CWE-312/cleartextLoggingTest.swift
Due: codeql-format, sync-files

Swift: Clean up indentation.
  swift/ql/test/query-tests/Security/CWE-312/cleartextLoggingTest.swift
Due: sync-files

Swift: Change note.
  swift/ql/src/change-notes/2023-10-12-cleartext-logging.md
Due: none

C++: Remove the hacky flow state since this is no longer needed after #13717.
  cpp/ql/src/Security/CWE/CWE-119/OverrunWriteProductFlow.ql
Due: codeql-format, sync-files

Sync NumericCastTaintedQuery
  java/ql/lib/semmle/code/java/security/NumericCastTaintedQuery.qll
Due: codeql-format, sync-files

Sync ResponseSplittingLocalQuery
  java/ql/lib/semmle/code/java/security/ResponseSplittingLocalQuery.qll
Due: codeql-format, sync-files
