Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Python: add comment about namespace packages
  python/ql/lib/semmle/python/Module.qll
Due: codeql-format, sync-files

C++: Use value numbering to better detect whether a write is certain.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Due: codeql-format, sync-files

C++: Don't do indirect (instruction -> operand) flow when there's a store to the address in between the instruction and the operand.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

Kotlin: Fix build on old versions
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/ClassNames.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_4_32/getFileClassFqName.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_7_0/getFileClassFqName.kt
Due: none

C#: Fix `getMadRepresentationSpecific`
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
Due: codeql-format, sync-files

Kotlin: Mark some functions as private
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/ClassNames.kt
Due: none

QL language specs: declarations can shadow dbscheme types and preds
  docs/codeql/ql-language-reference/ql-language-specification.rst
Due: none

Update shared/yaml/codeql/serverless/ServerLess.qll
  shared/yaml/codeql/serverless/ServerLess.qll
Due: codeql-format, sync-files

Allow patch-level updates in Go CI
  .github/workflows/go-tests-other-os.yml
  .github/workflows/go-tests.yml
Due: none

Python: use standard test format
  python/ql/test/library-tests/frameworks/serverless/InlineTaintTest.expected
  python/ql/test/library-tests/frameworks/serverless/InlineTaintTest.ql
  python/ql/test/library-tests/frameworks/serverless/RemoteFlowSourceTest.expected
  python/ql/test/library-tests/frameworks/serverless/RemoteFlowSourceTest.ql
  python/ql/test/library-tests/frameworks/serverless/aws_lambda/function/extra_lambdas.py
  python/ql/test/library-tests/frameworks/serverless/aws_lambda/function/lambda_function.py
Due: codeql-format, sync-files

Update python/ql/lib/semmle/python/Module.qll
  python/ql/lib/semmle/python/Module.qll
Due: codeql-format, sync-files

C++: Add a FP caused by bad range analysis for subtraction.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
Due: none

C++: Add precise range analysis for subtraction.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
Due: none

Don't warn when Go version exactly matches go.mod
  go/extractor/cli/go-autobuilder/go-autobuilder.go
Due: none

C++: Accept test changes.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/test.cpp
Due: none

Swift: add tests for broken dictionary flow case
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Due: sync-files

Add new built-ins to `builtinFunction` predicate
  go/ql/lib/semmle/go/Scopes.qll
Due: codeql-format, sync-files

Exclude `String` from `TaintSteps`
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.expected
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.ql
Due: codeql-format, sync-files

Swift: fixes around DictionaryContent
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Array.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Due: codeql-format, sync-files

Python: format
  python/ql/lib/semmle/python/Module.qll
Due: codeql-format, sync-files

C++: Update test after float128 related extractor changes
  cpp/ql/test/library-tests/floats/float128/errors.expected
  cpp/ql/test/library-tests/floats/float128/errors.ql
  cpp/ql/test/library-tests/floats/float128/float128.cpp
  cpp/ql/test/library-tests/floats/float128/usertypes.expected
Due: codeql-format, sync-files

Swift: Model getVaList, correct NSLogv sink for swift/cleartext-logging.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/CInterop.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/StandardLibrary.qll
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
  swift/ql/test/query-tests/Security/CWE-312/cleartextLoggingTest.swift
Due: codeql-format, sync-files

Add dashes to SHA algorithm names in `Encryption.qll`
  java/ql/lib/semmle/code/java/security/Encryption.qll
Due: codeql-format, sync-files

Add change note
  java/ql/lib/change-notes/2023-08-15-add-dashes-to-sha-algorithms.md
Due: none

Java: Automodel framework mode: track exact ai- provenance in alreadyAiModeled meta data property
  java/ql/src/Telemetry/AutomodelApplicationModeExtractCandidates.ql
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractCandidates.expected
Due: codeql-format, sync-files

Swift: Test data flow through varargs.
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Due: sync-files

Swift: Flow through varargs.
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Due: codeql-format, sync-files

Swift: Fix array content sinks for swift/cleartext-logging.
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
  swift/ql/lib/codeql/swift/security/CleartextLoggingQuery.qll
  swift/ql/test/query-tests/Security/CWE-312/cleartextLoggingTest.swift
Due: codeql-format, sync-files

Swift: QLDoc VariadicSequenceType.
  swift/ql/lib/codeql/swift/elements/type/VariadicSequenceType.qll
Due: codeql-format, sync-files, swift-codegen

Swift: Add more swift/cleartext-logging sinks.
  swift/ql/lib/codeql/swift/security/CleartextLoggingExtensions.qll
Due: codeql-format, sync-files

Swift: Change notes.
  swift/ql/lib/change-notes/2023-08-16-varargs.md
  swift/ql/src/change-notes/2023-08-16-cleartext-logging.md
Due: none

Swift: Codegen.
  swift/ql/.generated.list
  swift/ql/.gitattributes
Due: swift-codegen

Rename `getLocation` to `hasLocation`
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.ql
Due: codeql-format, sync-files

Swift: Additional test cases for array conversions.
  swift/ql/test/library-tests/dataflow/taint/core/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
Due: sync-files

Update python/ql/lib/change-notes/2023-08-07-serverless-sources.md
  python/ql/lib/change-notes/2023-08-07-serverless-sources.md
Due: none

C++: 'origDelta' should always be 'odLeft' when deriving subtraction ranges.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
Due: codeql-format, sync-files

Swift: Model array initializers.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Array.qll
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
Due: codeql-format, sync-files

C++: Respond to review comments.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
Due: codeql-format, sync-files

Data flow: Earlier call-context based dispatch filtering
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
