Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

Rust: Autoformat.
  rust/ql/consistency-queries/SsaConsistency.ql
  rust/ql/src/queries/diagnostics/SsaConsistencyCounts.ql
Due: codeql-format, sync-files

Add flow summaries for TypedArray methods `set` and `subarray`
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/TypedArrays.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/typed-arrays.js
Due: codeql-format, sync-files

Added test cases for `ArrayBuffer` and `SharedArrayBuffer`
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/typed-arrays.js
Due: none

Add flow summaries and entry points for `ArrayBuffer` and `SharedArrayBuffer`
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/TypedArrays.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
Due: codeql-format, sync-files

Add test cases from `TypedArrays` to strings.
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/typed-arrays.js
Due: none

Add flow summaries and entry points for `TextDecoder`
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/AllFlowSummaries.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Decoders.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
Due: codeql-format, sync-files

Added change note
  javascript/ql/lib/change-notes/2025-04-07-typed-arrays.md
Due: none

Disable csharp test failing on macos-15
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/test.py
Due: none

Rust: Calculate canonical paths in QL
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowConsistency.qll
  rust/ql/lib/codeql/rust/elements/internal/AddressableImpl.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/PathResolutionConsistency.qll
  rust/ql/src/queries/telemetry/RustAnalyzerComparison.qll
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.ql
  rust/ql/test/extractor-tests/canonical_path_disabled/canonical_paths.expected
Due: codeql-format, sync-files, rust-codegen

Rust: Run codegen
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/internal/AddressableImpl.qll
Due: codeql-format, sync-files, rust-codegen

Rust: crate graph: type variables
  rust/extractor/src/crate_graph.rs
  rust/ql/test/extractor-tests/crate_graph/module.rs
  rust/ql/test/extractor-tests/crate_graph/modules.expected
Due: rust-lint

Rust: crate graph: generic parameters
  rust/extractor/src/crate_graph.rs
  rust/ql/test/extractor-tests/crate_graph/module.rs
  rust/ql/test/extractor-tests/crate_graph/modules.expected
  rust/ql/test/extractor-tests/crate_graph/modules.ql
Due: codeql-format, sync-files, rust-lint

Rust: remove unreachable case
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Rust: replace singleton vectors with Option
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Rust: get rid of const_or_function
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Rust: avoid duplication for functions and methods
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Actions: Ensure autobuild invocations work when the CLI path contains spaces
  actions/extractor/tools/autobuild-impl.ps1
  actions/extractor/tools/autobuild.cmd
  actions/extractor/tools/autobuild.sh
Due: none

Actions: Add integration test for default filter behaviour
  actions/ql/integration-tests/filters-default/actions.expected
  actions/ql/integration-tests/filters-default/actions.ql
  actions/ql/integration-tests/filters-default/src/.github/action.yaml
  actions/ql/integration-tests/filters-default/src/.github/actions/action-name/action.yml
  actions/ql/integration-tests/filters-default/src/.github/unreachable-workflow.yml
  actions/ql/integration-tests/filters-default/src/.github/workflows/workflow.yml
  actions/ql/integration-tests/filters-default/src/action.yml
  actions/ql/integration-tests/filters-default/src/unreachable-workflow.yml
  actions/ql/integration-tests/filters-default/test.py
Due: codeql-format, sync-files

Docs: Fix formatting of GitHub Actions content
  docs/codeql/codeql-language-guides/codeql-for-actions.rst
  docs/codeql/codeql-language-guides/codeql-library-for-actions.rst
  docs/codeql/codeql-language-guides/customizing-library-models-for-actions.rst
  docs/codeql/codeql-language-guides/customizing-library-models-for-ruby.rst
  docs/codeql/reusables/supported-frameworks.rst
Due: none

Docs: Place GitHub Actions link lower in sidebar
  docs/codeql/codeql-language-guides/index.rst
Due: none

Added test cases for `open` package.
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/open.js
Due: none

Added `open` package model as data.
  javascript/ql/lib/ext/open.model.yml
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/open.js
Due: none

Added change note
  javascript/ql/lib/change-notes/2025-04-07-open-package.md
Due: none

Bazel: update to 8.1.1
  .bazelversion
Due: buildifier

Rust: crate graph: resolve bound type variablesp
  rust/extractor/src/crate_graph.rs
  rust/ql/lib/codeql/rust/elements/internal/LifetimeImpl.qll
Due: codeql-format, sync-files, rust-codegen, rust-lint

Rust: update expected output
  rust/ql/test/extractor-tests/generated/BreakExpr/BreakExpr.expected
  rust/ql/test/extractor-tests/generated/BreakExpr/BreakExpr_getExpr.expected
  rust/ql/test/extractor-tests/generated/BreakExpr/BreakExpr_getLifetime.expected
  rust/ql/test/extractor-tests/generated/ContinueExpr/ContinueExpr_getLifetime.expected
  rust/ql/test/extractor-tests/generated/Label/Label_getLifetime.expected
  rust/ql/test/extractor-tests/generated/SelfParam/SelfParam_getLifetime.expected
  rust/ql/test/extractor-tests/utf8/ast.expected
  rust/ql/test/library-tests/controlflow/BasicBlocks.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
Due: rust-codegen

Rust: More precise imports.
  rust/ql/src/queries/diagnostics/SsaConsistencyCounts.ql
  rust/ql/src/queries/summary/Stats.qll
Due: codeql-format, sync-files

Rust: Try a different toolchain version to fix the test in CI?
  rust/ql/test/query-tests/security/CWE-770/rust-toolchain.toml
Due: sync-files

Rust: Cache tweaks
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/AstNodeImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/lib/codeql/rust/internal/CachedStages.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
Due: codeql-format, sync-files, rust-codegen

ruby: test `rb/uninitialized-local-variable` It finds none of the right things and all of the wrong things...
  ruby/ql/test/query-tests/variables/UninitializedLocal/UninitializedLocal.expected
  ruby/ql/test/query-tests/variables/UninitializedLocal/UninitializedLocal.qlref
  ruby/ql/test/query-tests/variables/UninitializedLocal/UninitializedLocal.rb
Due: none

Go: Replace `exec.Command("go"` with `toolchain.GoCommand(`
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/toolchain/toolchain.go
Due: none

Go: Detect and apply proxy settings (WIP)
  go/extractor/toolchain/toolchain.go
  go/extractor/util/BUILD.bazel
  go/extractor/util/registryproxy.go
  go/extractor/util/registryproxy_test.go
Due: buildifier

Go: Fix `err` instead of `decErr` in `GetPkgsInfo`
  go/extractor/toolchain/toolchain.go
Due: none

Rust: Fix bad join in `unqualifiedPathLookup`
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
Due: codeql-format, sync-files

Rust: Fix bad join in `getAPrivateVisibleModule`
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
Due: codeql-format, sync-files

Go: Preserve environment variables in `ApplyProxyEnvVars`
  go/extractor/util/registryproxy.go
Due: none

use sudo nice for running maven test server
  java/ql/integration-tests/java/buildless-inherit-trust-store/test.py
Due: none

Update java/ql/integration-tests/java/buildless-inherit-trust-store/test.py
  java/ql/integration-tests/java/buildless-inherit-trust-store/test.py
Due: none

use only sudo for running maven test server (remove nice)
  java/ql/integration-tests/java/buildless-snapshot-repository/test.py
Due: none

Update java/ql/integration-tests/java/buildless-snapshot-repository/test.py
  java/ql/integration-tests/java/buildless-snapshot-repository/test.py
Due: none

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
