Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Replace a few more old references
  docs/codeql/reusables/codespaces-template-note.rst
  docs/codeql/reusables/setup-to-run-tutorials.rst
Due: none

Go: Use standard semver format in `outputEnvironmentJson`
  go/extractor/autobuilder/build-environment.go
  go/extractor/util/semver.go
  go/extractor/util/semver_test.go
Due: none

C#: Add tool file for paket.
  csharp/.config/dotnet-tools.json
Due: none

C#: Commit paket-based dependency tree.
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/paket.references
  csharp/autobuilder/Semmle.Autobuild.CSharp/paket.references
  csharp/autobuilder/Semmle.Autobuild.Shared/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.DependencyStubGenerator/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.Driver/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.Util/paket.references
  csharp/extractor/Semmle.Extraction.CSharp/paket.references
  csharp/extractor/Semmle.Extraction.Tests/paket.references
  csharp/extractor/Semmle.Extraction/paket.references
  csharp/extractor/Semmle.Util.Tests/paket.references
  csharp/extractor/Semmle.Util/paket.references
  csharp/paket.dependencies
  csharp/paket.lock
Due: none

C#: Switch over dependencies in msbuild files to paket.
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/Semmle.Autobuild.CSharp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.Shared/Semmle.Autobuild.Shared.csproj
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Semmle.Extraction.CSharp.DependencyFetching.csproj
  csharp/extractor/Semmle.Extraction.CSharp.DependencyStubGenerator/Semmle.Extraction.CSharp.DependencyStubGenerator.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Semmle.Extraction.CSharp.Driver.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/Semmle.Extraction.CSharp.StubGenerator.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Util/Semmle.Extraction.CSharp.Util.csproj
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction.Tests/Semmle.Extraction.Tests.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Util.Tests/Semmle.Util.Tests.csproj
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
Due: none

Add auto-generated paket restore targets.
  csharp/.paket/Paket.Restore.targets
Due: none

Add paket files to .gitignore.
  csharp/.gitignore
Due: none

C++: Move Windows autobuilder to paket dependencies.
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/Semmle.Autobuild.Cpp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/paket.references
  csharp/autobuilder/Semmle.Autobuild.Cpp/Semmle.Autobuild.Cpp.csproj
  csharp/autobuilder/Semmle.Autobuild.Cpp/paket.references
Due: none

Remove unused dependency.
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/paket.references
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/paket.references
  csharp/extractor/Semmle.Extraction.Tests/paket.references
  csharp/paket.dependencies
Due: none

Fix another couple of links
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp-new.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-csharp.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-java.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-javascript-and-typescript.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-python.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-ruby.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-swift.rst
  docs/codeql/codeql-language-guides/customizing-library-models-for-java-and-kotlin.rst
  docs/codeql/codeql-language-guides/data-flow-cheat-sheet-for-javascript.rst
  docs/codeql/codeql-language-guides/using-flow-labels-for-precise-data-flow-analysis.rst
  docs/codeql/codeql-overview/codeql-glossary.rst
  docs/codeql/writing-codeql-queries/about-data-flow-analysis.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
  docs/codeql/writing-codeql-queries/debugging-data-flow-queries-using-partial-flow.rst
  docs/codeql/writing-codeql-queries/introduction-to-ql.rst
Due: none

Java: Add tests for `comparison-with-wider-type`.
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ComparisonWithWiderType.expected
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ComparisonWithWiderType.java
  java/ql/test/query-tests/security/CWE-190/semmle/tests/ComparisonWithWiderType.qlref
Due: none

Simplify query.
  java/ql/src/Security/CWE/CWE-190/ComparisonWithWiderType.ql
Due: codeql-format, sync-files

Add `dotnet tool restore` to local CI.
  .github/workflows/codeql-analysis.yml
  .github/workflows/csharp-qltest.yml
  csharp/scripts/create-extractor-pack.sh
Due: none

Paket: Mark lockfile as generated.
  .gitattributes
Due: none

MSBuild: Move paket restore target inclusion to global file.
  csharp/Directory.Build.targets
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/Semmle.Autobuild.CSharp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/Semmle.Autobuild.Cpp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.Cpp/Semmle.Autobuild.Cpp.csproj
  csharp/autobuilder/Semmle.Autobuild.Shared/Semmle.Autobuild.Shared.csproj
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Semmle.Extraction.CSharp.DependencyFetching.csproj
  csharp/extractor/Semmle.Extraction.CSharp.DependencyStubGenerator/Semmle.Extraction.CSharp.DependencyStubGenerator.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Semmle.Extraction.CSharp.Driver.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/Semmle.Extraction.CSharp.StubGenerator.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Util/Semmle.Extraction.CSharp.Util.csproj
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction.Tests/Semmle.Extraction.Tests.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Util.Tests/Semmle.Util.Tests.csproj
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
Due: none

Paket: Prevent recursion into ql/csharp/ql directory.
  csharp/ql/paket.dependencies
Due: none

Change classes to private
  python/ql/lib/semmle/python/frameworks/Gradio.qll
Due: codeql-format, sync-files

AGP 8 test: ignore and remove the .gradle directory
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gitignore
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/checksums/checksums.lock
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/checksums/sha1-checksums.bin
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/dependencies-accessors/gc.properties
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/executionHistory/executionHistory.lock
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/fileChanges/last-build.bin
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/fileHashes/fileHashes.lock
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/gc.properties
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/buildOutputCleanup/cache.properties
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/vcs-1/gc.properties
Due: none

Add Android 8 integration test
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gitattributes
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/checksums/checksums.lock
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/checksums/sha1-checksums.bin
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/dependencies-accessors/gc.properties
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/executionHistory/executionHistory.lock
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/fileChanges/last-build.bin
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/fileHashes/fileHashes.lock
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/7.4/gc.properties
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/buildOutputCleanup/cache.properties
  java/ql/integration-tests/all-platforms/java/android-8-sample/.gradle/vcs-1/gc.properties
  java/ql/integration-tests/all-platforms/java/android-8-sample/build.gradle
  java/ql/integration-tests/all-platforms/java/android-8-sample/force_sequential_test_execution
  java/ql/integration-tests/all-platforms/java/android-8-sample/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/java/android-8-sample/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/java/android-8-sample/gradlew
  java/ql/integration-tests/all-platforms/java/android-8-sample/gradlew.bat
  java/ql/integration-tests/all-platforms/java/android-8-sample/project/build.gradle
  java/ql/integration-tests/all-platforms/java/android-8-sample/project/src/main/AndroidManifest.xml
  java/ql/integration-tests/all-platforms/java/android-8-sample/project/src/main/java/com/github/androidsample/Main.java
  java/ql/integration-tests/all-platforms/java/android-8-sample/settings.gradle
  java/ql/integration-tests/all-platforms/java/android-8-sample/test.expected
  java/ql/integration-tests/all-platforms/java/android-8-sample/test.py
  java/ql/integration-tests/all-platforms/java/android-8-sample/test.ql
Due: codeql-format, sync-files

Expose toolchains to some Android tests, which would otherwise now try to upgrade to JDK17
  java/integration-tests-lib/toolchains_test_utils.py
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/buildless-sibling-projects/test.py
Due: none

Comment on Java version selection testing strategy
  java/ql/integration-tests/all-platforms/java/android-8-sample/test.py
Due: none

Add Spring Boot 3 test
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/.gitattributes
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/.gitignore
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/README
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/build.gradle
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/force_sequential_test_execution
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/gradle/wrapper/gradle-wrapper.jar
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/gradle/wrapper/gradle-wrapper.properties
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/gradlew
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/gradlew.bat
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/settings.gradle
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/src/main/java/com/github/springbootsample/SpringBootSampleApplication.java
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/src/main/resources/application.properties
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/src/test/java/com/github/springbootsample/SpringBootSampleApplicationTests.java
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/test.expected
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/test.py
  java/ql/integration-tests/all-platforms/java/spring-boot-sample/test.ql
Due: codeql-format, sync-files

Apply suggestions from code review
  ql/lib/ext/workflow-models/workflow-models.yml
Due: none

Fix tests
  ql/lib/codeql/actions/security/CachePoisoningQuery.qll
Due: codeql-format, sync-files

Fix OR
  ql/lib/codeql/actions/security/CachePoisoningQuery.qll
Due: codeql-format, sync-files

exists
  ql/lib/codeql/actions/security/CachePoisoningQuery.qll
Due: codeql-format, sync-files

Update test.yml
  .github/workflows/test.yml
Due: none

Bump qlpack versions
  ql/lib/codeql/actions/security/SelfHostedQuery.qll
  ql/lib/qlpack.yml
  ql/src/qlpack.yml
Due: codeql-format, sync-files

Paket/C#: Automatically restore tools for `CSharp.sln`.
  csharp/before.CSharp.sln.targets
Due: none

Update Cache Poisoning rule
  ql/src/Security/CWE-349/CachePoisoning.ql
Due: codeql-format, sync-files

Swift: Remove beta label on documentation.
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-swift.rst
  docs/codeql/codeql-language-guides/basic-query-for-swift-code.rst
  docs/codeql/codeql-language-guides/codeql-for-swift.rst
  docs/codeql/query-help/codeql-cwe-coverage.rst
  docs/codeql/query-help/index.rst
  docs/codeql/reusables/supported-frameworks.rst
  docs/codeql/reusables/swift-beta-note.rst
Due: none

Swift: Remove more beta references.
  docs/codeql/reusables/supported-versions-compilers.rst
  swift/README.md
Due: none

Add tests for data flow through ranged for loops
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/sinks.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/srcs.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/test.go
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/sinks.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/srcs.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/steps.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/test.go
Due: none

Fix bug with read/store steps and named types
  go/ql/lib/semmle/go/dataflow/internal/ContainerFlow.qll
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/test.go
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/test.go
Due: codeql-format, sync-files

Add change note
  go/ql/lib/change-notes/2024-05-16-read-store-steps-named-types.md
Due: none

move the code samples for the Go command-injection queries to an examples/ folder
  go/ql/src/Security/CWE-078/CommandInjection.qhelp
  go/ql/src/Security/CWE-078/StoredCommand.qhelp
  go/ql/src/Security/CWE-078/examples/CommandInjection.go
  go/ql/src/Security/CWE-078/examples/StoredCommand.go
  go/ql/src/Security/CWE-078/examples/StoredCommandGood.go
Due: sync-files, qhelp

make a new go/command-injection qhelp
  go/ql/src/Security/CWE-078/CommandInjection.qhelp
  go/ql/src/Security/CWE-078/examples/CommandInjection.go
  go/ql/src/Security/CWE-078/examples/CommandInjectionGood.go
  go/ql/src/Security/CWE-078/examples/CommandInjectionGood2.go
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection2.go
Due: sync-files, qhelp

add regexp check as a sanitizer for command-injection
  go/ql/lib/semmle/go/security/CommandInjectionCustomizations.qll
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
Due: codeql-format, sync-files

C#: Pin dotnet SDK version in integration test relying on razor source generator
  csharp/ql/integration-tests/all-platforms/cshtml_standalone_flowsteps/XSS.expected
  csharp/ql/integration-tests/all-platforms/cshtml_standalone_flowsteps/global.json
Due: none

C++: Better caching.
  cpp/ql/lib/semmle/code/cpp/Caching.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
