Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

Rust: Fix bad joins
  rust/ql/lib/codeql/rust/elements/internal/FormatTemplateVariableAccessConstructor.qll
Due: codeql-format, sync-files, rust-codegen

Misc updates for OpenSSL modeling to trace algorithm literals to known alg getters, and converting the literal to a TCipherType.
  cpp/ql/lib/experimental/Quantum/Language.qll
  cpp/ql/lib/experimental/Quantum/OpenSSL/CtxFlow.qll
  cpp/ql/lib/experimental/Quantum/OpenSSL/EVPCipherAlgorithmSource.qll
  cpp/ql/lib/experimental/Quantum/OpenSSL/EVPCipherConsumers.qll
  cpp/ql/lib/experimental/Quantum/OpenSSL/LibraryDetector.qll
  cpp/ql/lib/experimental/Quantum/OpenSSL/OpenSSLAlgorithmGetter.qll
  cpp/ql/lib/experimental/Quantum/OpenSSL/OpenSSLKnownAlgorithmConstants.qll
  shared/cryptography/codeql/cryptography/Model.qll
Due: codeql-format, sync-files

qlpack
  rust/ql/lib/codeql/rust/elements/internal/TypeInference.qll
  rust/ql/lib/qlpack.yml
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
  shared/typeinference/qlpack.yml
Due: codeql-format, sync-files, rust-codegen

Convert to inline expectations test
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/UnhandledCloseWritableHandle.qlref
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/tests.go
Due: none

Java: clean-up refactoring
  java/ql/lib/semmle/code/java/JDK.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
Due: codeql-format, sync-files

Update java/ql/src/change-notes/2025-03-03-fix-improper-intent-verification-query.md
  java/ql/src/change-notes/2025-03-03-fix-improper-intent-verification-query.md
Due: none

Add failing test for `os.File.Sync` with defered `Close` calls
  go/ql/src/InconsistentCode/UnhandledCloseWritableHandle.ql
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/UnhandledCloseWritableHandle.expected
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/tests.go
Due: codeql-format, sync-files

C#: Address review comments.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/BinaryLogExtractionContext.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/ExtractionContext.cs
Due: none

SSA: Extend consistency queries.
  shared/ssa/codeql/ssa/Ssa.qll
Due: codeql-format, sync-files

Java: Enable SSA consistency queries.
  java/ql/consistency-queries/SsaConsistency.ql
Due: codeql-format, sync-files

SSA: Don't add phi-reads for frontiers of uncertain reads.
  shared/ssa/codeql/ssa/Ssa.qll
Due: codeql-format, sync-files

C++: Update expected test results after frontend update
  cpp/ql/test/examples/expressions/PrintAST.expected
  cpp/ql/test/library-tests/funcdname/funcdname.expected
  cpp/ql/test/library-tests/funcdname/funcdname.ql
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/range-analysis/SimpleRangeAnalysis_tests.cpp
  cpp/ql/test/library-tests/templates/nontype_instantiations/general/test.expected
Due: codeql-format, sync-files

Ruby: Push in casts to Definition to delete the then unused DefinitionExt.
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

Switch to use-use dataflow. This will make post-update nodes easy to implement.
  go/ql/lib/semmle/go/dataflow/SSA.qll
  go/ql/lib/semmle/go/dataflow/SsaImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  go/ql/lib/semmle/go/security/CleartextLoggingCustomizations.qll
  go/ql/lib/semmle/go/security/CommandInjection.qll
  go/ql/src/InconsistentCode/MissingErrorCheck.ql
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalFlowStep.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/test.go
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-312/main.go
  go/ql/test/query-tests/Security/CWE-312/passwords.go
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/stdlib.go
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
  go/ql/test/query-tests/Security/CWE-918/tst.go
Due: codeql-format, sync-files

Add missing QLDoc
  go/ql/lib/semmle/go/dataflow/SSA.qll
Due: codeql-format, sync-files

Clean up code in basicLocalFlowStep
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Include first step from SsaVariableCapture
  go/ql/lib/semmle/go/dataflow/SSA.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Adjust SafeFormatArgumentSanitizer to use-use flow
  go/ql/lib/semmle/go/security/LogInjectionCustomizations.qll
Due: codeql-format, sync-files

Test result that was missing is now found
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/test.go
Due: none

Ruby: Accept test output.
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
Due: none

Expected changes in dataflow edges
  go/ql/test/experimental/CWE-1004/CookieWithoutHttpOnly.expected
Due: none

f extra edge
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
Due: none

Line numbers change because 3 lines were added
  go/ql/test/library-tests/semmle/go/frameworks/Echo/TaintedPath.expected
Due: none

Changes in edges in .expected files
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalFlowStep.expected
  go/ql/test/library-tests/semmle/go/dataflow/PromotedFields/LocalFlowStep.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/CleartextLogging.expected
Due: none

Extra edge to captured variable
  go/ql/test/query-tests/InconsistentCode/UnhandledCloseWritableHandle/UnhandledCloseWritableHandle.expected
Due: none

Fix Allocation Size Overflow for use-use flow
  go/ql/lib/semmle/go/security/AllocationSizeOverflowCustomizations.qll
  go/ql/test/query-tests/Security/CWE-190/AllocationSizeOverflow.expected
Due: codeql-format, sync-files

Rust: Query framework and basic tests.
  rust/ql/src/queries/security/CWE-798/HardcodedCryptographicValue.ql
  rust/ql/test/query-tests/security/CWE-798/HardcodedCryptographicValue.expected
  rust/ql/test/query-tests/security/CWE-798/HardcodedCryptographicValue.qlref
  rust/ql/test/query-tests/security/CWE-798/options.yml
  rust/ql/test/query-tests/security/CWE-798/test_cipher.rs
Due: codeql-format, sync-files

Expected test changes (odd because post update nodes are still at the def)
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-078/SanitizingDoubleDash.go
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
Due: none

Optimise join order for varBlockReaches
  go/ql/lib/semmle/go/dataflow/SsaImpl.qll
Due: codeql-format, sync-files

Fix IncorrectIntegerConversion for use-use flow
  go/ql/src/Security/CWE-681/IncorrectIntegerConversionQuery.ql
Due: codeql-format, sync-files

C++: Delete unused predicate
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Due: codeql-format, sync-files

C++: Remove a DefinitionExt reference.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Due: codeql-format, sync-files

C++: Remove yet another DefinitionExt reference.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Due: codeql-format, sync-files

C++: Use SSA data flow integration module.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/InvalidPointerToDereference.qll
  cpp/ql/src/Likely Bugs/Memory Management/AllocaInLoop.ql
  cpp/ql/src/Security/CWE/CWE-119/OverrunWriteProductFlow.ql
  shared/ssa/codeql/ssa/Ssa.qll
Due: codeql-format, sync-files

C++: Remove another DefinitionExt reference.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Due: codeql-format, sync-files

C++: Delete dead code.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C++: Replace DefinitionExt usage with Definition.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Due: codeql-format, sync-files

C++: Remove useless ipa wrapper.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

accept edge changes
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
Due: none
