Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
        language: system
        entry: bazel run //swift/codegen
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

C#: Update expected test output.
  csharp/ql/test/utils/model-generator/CaptureNegativeSummaryModels.expected
  csharp/ql/test/utils/model-generator/CaptureSummaryModels.expected
Due: none

C#: Update model generator to exclude models for some collection like types.
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
Due: codeql-format, sync-files

C#: Some test examples of collection like types that should be excluded.
  csharp/ql/test/utils/model-generator/NoSummaries.cs
  csharp/ql/test/utils/model-generator/Summaries.cs
Due: none

C#: Avoid generating new source models on 'file' kind sources.
  csharp/ql/src/utils/model-generator/internal/CaptureModels.qll
  csharp/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/model-generator/internal/CaptureModels.qll
  java/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
Due: codeql-format, sync-files

C#: Update the generated models.
  csharp/ql/lib/semmle/code/csharp/frameworks/generated/dotnet/Runtime.qll
Due: codeql-format, sync-files

Swift: emit `<Builtin>.trap` instead of `.trap`
  swift/extractor/SwiftExtractor.cpp
Due: none

C++: Autoformat.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
Due: codeql-format, sync-files

C++: Suppress Code Scanning warning.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
Due: codeql-format, sync-files

Ruby: make hex-escaped strings ("\xCD\xEF" etc.) sources of hardcoded data
  ruby/ql/lib/codeql/ruby/security/HardcodedDataInterpretedAsCodeCustomizations.qll
  ruby/ql/test/query-tests/security/cwe-506/HardcodedDataInterpretedAsCode.expected
  ruby/ql/test/query-tests/security/cwe-506/tst.rb
Due: codeql-format, sync-files

Ruby: fix 'inefficient string comparison' alert
  ruby/ql/lib/codeql/ruby/security/HardcodedDataInterpretedAsCodeCustomizations.qll
Due: codeql-format, sync-files

Swift: add imported modules properties to `ModuleDecl`
  swift/codegen/schema.yml
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/decl/ModuleDecl.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/generated/decl/ModuleDecl/ModuleDecl_getExportedModule.ql
  swift/ql/test/extractor-tests/generated/decl/ModuleDecl/ModuleDecl_getImportedModule.ql
Due: codeql-format, sync-files, swift-codegen

Swift: start with loaded modules for extraction
  swift/extractor/SwiftExtractor.cpp
Due: none

Swift: implement `imported_` and `exported_modules`
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/visitors/DeclVisitor.cpp
  swift/ql/test/extractor-tests/generated/decl/ModuleDecl/ModuleDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ModuleDecl/ModuleDecl_getDefaultImportedModule.expected
  swift/ql/test/extractor-tests/generated/decl/ModuleDecl/ModuleDecl_getExportedModule.expected
  swift/ql/test/extractor-tests/generated/decl/ModuleDecl/ModuleDecl_getImportedModule.expected
  swift/ql/test/extractor-tests/generated/decl/ModuleDecl/modules.swift
  swift/ql/test/extractor-tests/generated/type/BuiltinType/BuiltinType.expected
  swift/ql/test/extractor-tests/generated/type/BuiltinType/builtin_types.swift
Due: sync-files, swift-codegen

Java: Address review comments.
  java/ql/lib/semmle/code/java/dispatch/Unification.qll
Due: codeql-format, sync-files

Swift: port frontend-invocations test to linux
  swift/integration-tests/osx-only/frontend-invocations/Makefile
  swift/integration-tests/posix-only/frontend-invocations/A.swift
  swift/integration-tests/posix-only/frontend-invocations/B.swift
  swift/integration-tests/posix-only/frontend-invocations/C.swift
  swift/integration-tests/posix-only/frontend-invocations/D.swift
  swift/integration-tests/posix-only/frontend-invocations/E.swift
  swift/integration-tests/posix-only/frontend-invocations/Esup.swift
  swift/integration-tests/posix-only/frontend-invocations/Files.expected
  swift/integration-tests/posix-only/frontend-invocations/Files.ql
  swift/integration-tests/posix-only/frontend-invocations/Makefile
  swift/integration-tests/posix-only/frontend-invocations/test.py
Due: codeql-format, sync-files

Swift: run swift instead of swift-frontend on Linux
  swift/integration-tests/posix-only/frontend-invocations/Makefile
Due: none

Swift: address review comments
  swift/extractor/SwiftBuiltinSymbols.h
  swift/extractor/SwiftExtractor.cpp
Due: none

Swift: accept new module type in tests
  swift/ql/test/extractor-tests/generated/type/ModuleType/ModuleType.expected
Due: swift-codegen

Kotlin: Remove a cast from substituteTypeAndArguments
  java/kotlin-extractor/src/main/kotlin/utils/TypeSubstitution.kt
Due: none

C++: Introduce the final SSA stage that we use for the rest of dataflow.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Due: codeql-format, sync-files

C++: Create wrappers for the new IPA branches. This commit also caches 'toString' and 'getLocation' as these were becoming very expensive to compute as we add more dataflow nodes.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

C++: Add some user-facing predicates to interact with indirect dataflow nodes.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

C++: Repair ExecTainted.
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
Due: codeql-format, sync-files

C++: Update 'FlowSources.qll'. Previously, this file recreated the logic from ModelUtil and would have required the same update as in the earlier commit.
  cpp/ql/lib/semmle/code/cpp/security/FlowSources.qll
Due: codeql-format, sync-files

C++: Qualified import for 'cpp'.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C++: Repair XXE.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/src/Security/CWE/CWE-611/Xerces.qll
Due: codeql-format, sync-files

C++: Repair 'OverflowDestination' and 'TaintedAllocationSize.ql'
  cpp/ql/src/Critical/OverflowDestination.ql
  cpp/ql/src/Security/CWE/CWE-190/TaintedAllocationSize.ql
Due: codeql-format, sync-files

C++: Update the local taint step relation. Many of the old taint rules can now be stated as "flow from x to *x" by reducing the index in indirect operands and instructions by 1.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
Due: codeql-format, sync-files

Kotlin: Remove another cast
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Due: none

Kotlin: Small simplification
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
Due: none

Address changes from PR
  docs/codeql/codeql-cli/about-codeql-workspaces.rst
  docs/codeql/codeql-cli/analyzing-databases-with-the-codeql-cli.rst
Due: none

Ruby: QLDoc
  ruby/ql/lib/codeql/ruby/frameworks/ActiveResource.qll
Due: codeql-format, sync-files

Ruby: Add SelfVariableAccessCfgNode
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
Due: codeql-format, sync-files

QLDoc fixes
  ruby/ql/lib/codeql/ruby/frameworks/ActiveResource.qll
Due: codeql-format, sync-files

Ruby: Import ActiveResource by default
  ruby/ql/lib/codeql/ruby/Frameworks.qll
Due: codeql-format, sync-files

Ruby: Add ActiveResource change note
  ruby/ql/lib/change-notes/2022-08-16-active-resource.md
Due: none

Ruby: Model ActiveResource
  ruby/ql/lib/codeql/ruby/frameworks/ActiveResource.qll
  ruby/ql/test/library-tests/frameworks/active_resource/ActiveResource.expected
  ruby/ql/test/library-tests/frameworks/active_resource/ActiveResource.ql
  ruby/ql/test/library-tests/frameworks/active_resource/active_resource.rb
Due: codeql-format, sync-files
