Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

JS: Use type resolution for CG augmentation
  javascript/ql/lib/semmle/javascript/Expr.qll
  javascript/ql/lib/semmle/javascript/internal/TypeResolution.qll
Due: codeql-format, sync-files

JS: Add call graph test with types
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/types.ts
Due: none

JS: Hide shadowed inherited members
  javascript/ql/lib/semmle/javascript/internal/TypeResolution.qll
Due: codeql-format, sync-files

JS: Also propagate through promise types
  javascript/ql/lib/semmle/javascript/dataflow/internal/Contents.qll
  javascript/ql/lib/semmle/javascript/internal/TypeResolution.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/types.ts
Due: codeql-format, sync-files

JS: Add failing test for assigning a non-SourceNode to a type annotated-value
  javascript/ql/test/library-tests/UnderlyingTypes/varAssignment.ts
Due: none

JS: Mark type-annotated nodes as SourceNode
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/Sources.qll
  javascript/ql/lib/semmle/javascript/internal/TypeResolution.qll
  javascript/ql/test/library-tests/UnderlyingTypes/test.expected
  javascript/ql/test/library-tests/UnderlyingTypes/varAssignment.ts
Due: codeql-format, sync-files

Rust: add diagnostics about item expansion not working properly
  rust/extractor/src/translate/base.rs
Due: rust-lint

JS: Update to avoid deprecations after import resolution change
  javascript/ql/lib/semmle/javascript/internal/NameResolution.qll
Due: codeql-format, sync-files

JS: Avoid duplication with constructor body
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/test/library-tests/ClassNode/tests.expected
  javascript/ql/test/library-tests/Classes/tests.expected
Due: codeql-format, sync-files

Removed code duplication
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
Due: codeql-format, sync-files

JS: Remove redundant casts
  javascript/ql/lib/semmle/javascript/internal/TypeResolution.qll
Due: codeql-format, sync-files

Python: Extract files in hidden dirs by default
  python/codeql-extractor.yml
  python/extractor/semmle/traverser.py
Due: none

Swift: Support `UnsafeCastExpr`
  swift/extractor/infra/SwiftTagTraits.h
  swift/ql/.generated.list
  swift/ql/.gitattributes
  swift/ql/lib/codeql/swift/elements.qll
  swift/ql/lib/codeql/swift/elements/expr/UnsafeCastExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/internal/UnsafeCastExprConstructor.qll
  swift/ql/lib/codeql/swift/elements/expr/internal/UnsafeCastExprImpl.qll
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/Synth.qll
  swift/ql/lib/codeql/swift/generated/SynthConstructors.qll
  swift/ql/lib/codeql/swift/generated/expr/UnsafeCastExpr.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr.expected
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/implicit_conversions.swift
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

Swift: Support `TypeValueExpr` and `IntegerType`
  swift/extractor/infra/SwiftTagTraits.h
  swift/extractor/mangler/SwiftMangler.cpp
  swift/extractor/translators/ExprTranslator.cpp
  swift/extractor/translators/ExprTranslator.h
  swift/extractor/translators/TypeTranslator.cpp
  swift/extractor/translators/TypeTranslator.h
  swift/ql/.generated.list
  swift/ql/.gitattributes
  swift/ql/lib/codeql/swift/elements.qll
  swift/ql/lib/codeql/swift/elements/expr/TypeValueExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/internal/TypeValueExprConstructor.qll
  swift/ql/lib/codeql/swift/elements/expr/internal/TypeValueExprImpl.qll
  swift/ql/lib/codeql/swift/elements/type/IntegerType.qll
  swift/ql/lib/codeql/swift/elements/type/internal/IntegerTypeConstructor.qll
  swift/ql/lib/codeql/swift/elements/type/internal/IntegerTypeImpl.qll
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/Synth.qll
  swift/ql/lib/codeql/swift/generated/SynthConstructors.qll
  swift/ql/lib/codeql/swift/generated/expr/TypeValueExpr.qll
  swift/ql/lib/codeql/swift/generated/type/IntegerType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/TestUtils.qll
  swift/ql/test/extractor-tests/generated/expr/TypeValueExpr/TypeValueExpr.expected
  swift/ql/test/extractor-tests/generated/expr/TypeValueExpr/TypeValueExpr.ql
  swift/ql/test/extractor-tests/generated/expr/TypeValueExpr/TypeValueExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/TypeValueExpr/TypeValueExpr_getType.ql
  swift/ql/test/extractor-tests/generated/expr/TypeValueExpr/type_value_exprs.swift
  swift/ql/test/extractor-tests/generated/type/IntegerType/IntegerType.expected
  swift/ql/test/extractor-tests/generated/type/IntegerType/IntegerType.ql
  swift/ql/test/extractor-tests/generated/type/IntegerType/integer_type.swift
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

Swift: Support `BuiltinFixedArrayType`
  swift/extractor/infra/SwiftTagTraits.h
  swift/ql/.generated.list
  swift/ql/.gitattributes
  swift/ql/lib/codeql/swift/elements.qll
  swift/ql/lib/codeql/swift/elements/type/BuiltinFixedArrayType.qll
  swift/ql/lib/codeql/swift/elements/type/internal/BuiltinFixedArrayTypeConstructor.qll
  swift/ql/lib/codeql/swift/elements/type/internal/BuiltinFixedArrayTypeImpl.qll
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/Synth.qll
  swift/ql/lib/codeql/swift/generated/SynthConstructors.qll
  swift/ql/lib/codeql/swift/generated/type/BuiltinFixedArrayType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/generated/type/BuiltinType/BuiltinType.expected
  swift/ql/test/extractor-tests/generated/type/BuiltinType/fixed_array.swift
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

Shared: Rename 'asLiftedTaintModel' to 'asLiftedModel'.
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
  shared/mad/codeql/mad/modelgenerator/internal/ModelPrinting.qll
Due: codeql-format, sync-files

Shared/Java/C#/Rust/C++: Rename 'captureHeuristicFlow' to 'captureFlow'.
  cpp/ql/test/library-tests/dataflow/modelgenerator/dataflow/CaptureHeuristicSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicSummaryModels.ql
  java/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
  java/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicSummaryModels.ql
  rust/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
Due: codeql-format, sync-files

Rust: fix location emission
  rust/extractor/src/translate/base.rs
Due: rust-lint

Swift: Add upgrade and downgrade scripts
  swift/downgrades/987ab0bc0911f8c88449210e21d2ee80ebcb488a/downgrade.ql
  swift/downgrades/987ab0bc0911f8c88449210e21d2ee80ebcb488a/old.dbscheme
  swift/downgrades/987ab0bc0911f8c88449210e21d2ee80ebcb488a/swift.dbscheme
  swift/downgrades/987ab0bc0911f8c88449210e21d2ee80ebcb488a/upgrade.properties
  swift/ql/lib/upgrades/4dd3d5ca8a89952485b3e3b2141b6bb8c22cf945/old.dbscheme
  swift/ql/lib/upgrades/4dd3d5ca8a89952485b3e3b2141b6bb8c22cf945/swift.dbscheme
  swift/ql/lib/upgrades/4dd3d5ca8a89952485b3e3b2141b6bb8c22cf945/upgrade.properties
Due: codeql-format, sync-files

Bazel: work around rule_kotlin windows problem with a patch
  MODULE.bazel
  misc/bazel/registry/fix.py
  misc/bazel/registry/modules/rules_kotlin/2.0.0-codeql.1/MODULE.bazel
  misc/bazel/registry/modules/rules_kotlin/2.0.0-codeql.1/patches/codeql_add_language_version_option.patch
  misc/bazel/registry/modules/rules_kotlin/2.0.0-codeql.1/source.json
  misc/bazel/registry/modules/rules_kotlin/2.1.3-codeql.1/patches/codeql_do_not_emit_jdeps.patch
  misc/bazel/registry/modules/rules_kotlin/2.1.3-codeql.3/MODULE.bazel
  misc/bazel/registry/modules/rules_kotlin/2.1.3-codeql.3/patches/codeql_add_language_version_option.patch
  misc/bazel/registry/modules/rules_kotlin/2.1.3-codeql.3/patches/codeql_do_not_emit_jdeps.patch
  misc/bazel/registry/modules/rules_kotlin/2.1.3-codeql.3/patches/fix_jdeps_merged_on_windows.patch
  misc/bazel/registry/modules/rules_kotlin/2.1.3-codeql.3/source.json
  misc/bazel/registry/modules/rules_kotlin/metadata.json
Due: buildifier

Rust: test with format! macro in a block
  rust/ql/test/query-tests/security/CWE-089/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-089/sqlx.rs
Due: none

Rust: make MacroStmts a CFG Expr
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/ql/.generated.list
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/controlflow/internal/generated/CfgNodes.qll
  rust/ql/lib/codeql/rust/elements/MacroStmts.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/MacroStmts.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/library-tests/controlflow/BasicBlocks.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/schema/annotations.py
Due: codeql-format, sync-files, rust-codegen, rust-lint

Rust: add flow step for MacroStmts
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
Due: codeql-format, sync-files

Rust: rename MacroStmts to MacroBlockExpr
  rust/ast-generator/src/main.rs
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/translate/generated.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/controlflow/internal/ControlFlowGraphImpl.qll
  rust/ql/lib/codeql/rust/controlflow/internal/generated/CfgNodes.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/elements.qll
  rust/ql/lib/codeql/rust/elements/MacroBlockExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/MacroBlockExprConstructor.qll
  rust/ql/lib/codeql/rust/elements/internal/MacroBlockExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/MacroBlockExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/MacroStmts.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/SynthConstructors.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/extractor-tests/generated/.generated_tests.list
  rust/ql/test/extractor-tests/generated/.gitattributes
  rust/ql/test/extractor-tests/generated/MacroBlockExpr/MacroBlockExpr.expected
  rust/ql/test/extractor-tests/generated/MacroBlockExpr/MacroBlockExpr.ql
  rust/ql/test/extractor-tests/generated/MacroBlockExpr/MacroBlockExpr_getStatement.expected
  rust/ql/test/extractor-tests/generated/MacroBlockExpr/MacroBlockExpr_getStatement.ql
  rust/ql/test/extractor-tests/generated/MacroBlockExpr/MacroBlockExpr_getTailExpr.expected
  rust/ql/test/extractor-tests/generated/MacroBlockExpr/MacroBlockExpr_getTailExpr.ql
  rust/ql/test/extractor-tests/generated/MacroBlockExpr/gen_macro_block_expr.rs
  rust/ql/test/extractor-tests/generated/MacroCall/MacroCall_getExpanded.expected
  rust/ql/test/extractor-tests/generated/MacroStmts/MacroStmts.expected
  rust/ql/test/extractor-tests/generated/MacroStmts/MacroStmts.ql
  rust/ql/test/extractor-tests/generated/MacroStmts/MacroStmts_getExpr.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/schema/annotations.py
  rust/schema/ast.py
Due: codeql-format, sync-files, rust-codegen, rust-lint

Python: Update extractor tests
  python/ql/test/2/extractor-tests/hidden/test.expected
  python/ql/test/extractor-tests/filter-option/Test.expected
Due: none

Python: Add integration test
  python/extractor/cli-integration-test/hidden-files/query-default.expected
  python/extractor/cli-integration-test/hidden-files/query-skipped.expected
  python/extractor/cli-integration-test/hidden-files/query.ql
  python/extractor/cli-integration-test/hidden-files/repo_dir/.hidden_dir/visible_file_in_hidden_dir.py
  python/extractor/cli-integration-test/hidden-files/repo_dir/.hidden_file.py
  python/extractor/cli-integration-test/hidden-files/repo_dir/foo.py
  python/extractor/cli-integration-test/hidden-files/test.sh
Due: codeql-format, sync-files

Python: Add change note
  python/ql/lib/change-notes/2025-04-30-extract-hidden-files-by-default.md
Due: none

Swift: Add change note
  swift/ql/lib/change-notes/2025-05-02-new-entities.md
Due: none

Rust: add upgrade/downgrade scripts
  rust/downgrades/58bc96172f5a76faffc04004933865aa3c3b3e62/old.dbscheme
  rust/downgrades/58bc96172f5a76faffc04004933865aa3c3b3e62/rust.dbscheme
  rust/downgrades/58bc96172f5a76faffc04004933865aa3c3b3e62/upgrade.properties
  rust/ql/lib/upgrades/e8707b675dc574aca9863eabcc09ac76f15bb9c2/old.dbscheme
  rust/ql/lib/upgrades/e8707b675dc574aca9863eabcc09ac76f15bb9c2/rust.dbscheme
  rust/ql/lib/upgrades/e8707b675dc574aca9863eabcc09ac76f15bb9c2/upgrade.properties
Due: none

Rust: Add an Operation class above LogicalOperation, AssignmentOperation etc.
  rust/ql/lib/codeql/rust/elements/LogicalOperation.qll
  rust/ql/lib/codeql/rust/elements/Operation.qll
  rust/ql/lib/codeql/rust/elements/internal/BinaryExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/PrefixExprImpl.qll
  rust/ql/lib/rust.qll
  rust/ql/test/library-tests/operations/Operations.ql
  rust/ql/test/library-tests/operations/test.rs
Due: codeql-format, sync-files, rust-codegen

Rust: Unify getAnOperand() methods into Operation.
  rust/ql/lib/codeql/rust/elements/LogicalOperation.qll
  rust/ql/lib/codeql/rust/elements/Operation.qll
  rust/ql/lib/codeql/rust/elements/internal/BinaryExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/PrefixExprImpl.qll
  rust/ql/test/library-tests/operations/Operations.ql
  rust/ql/test/library-tests/operations/test.rs
Due: codeql-format, sync-files, rust-codegen

Rust: Unify getOperatorName() methods into Operation.
  rust/ql/lib/codeql/rust/elements/Operation.qll
  rust/ql/lib/codeql/rust/elements/internal/BinaryExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/PrefixExprImpl.qll
  rust/ql/test/library-tests/operations/Operations.ql
  rust/ql/test/library-tests/operations/test.rs
Due: codeql-format, sync-files, rust-codegen

CPP: Pull rank into predicate for RTJO.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Due: codeql-format, sync-files

Extarct to predicate for RTJO
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedGlobalVar.qll
Due: codeql-format, sync-files

CPP: Add noinline so size estimates are better.
  cpp/ql/lib/semmle/code/cpp/Declaration.qll
Due: codeql-format, sync-files

Ruby: Avoid a forced CP.
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
Due: codeql-format, sync-files

Fix a bad join order on locations.
  javascript/ql/src/Statements/LabelInCase.ql
Due: codeql-format, sync-files

Use late inline to deal with bad join orders from type tracking.
  javascript/ql/lib/semmle/javascript/ApiGraphs.qll
  javascript/ql/lib/semmle/javascript/dataflow/TypeTracking.qll
  javascript/ql/lib/semmle/javascript/internal/CachedStages.qll
Due: codeql-format, sync-files

JS: Prevent some bad joins under RTJO.
  javascript/ql/lib/semmle/javascript/dataflow/TypeTracking.qll
Due: codeql-format, sync-files

Shared: Deduplicate flow summaries.
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
Due: codeql-format, sync-files
