Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, qhelp, swift-codegen

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen
  pass_filenames: false

Add test with colliding property accessor and function names
  java/ql/test/kotlin/library-tests/properties/CONSISTENCY/children.expected
  java/ql/test/kotlin/library-tests/properties/CONSISTENCY/toString.expected
  java/ql/test/kotlin/library-tests/properties/DB-CHECK.expected
  java/ql/test/kotlin/library-tests/properties/properties.expected
  java/ql/test/kotlin/library-tests/properties/properties.kt
Due: none

Add test for companion field declaring type
  java/ql/test/kotlin/library-tests/companion_objects/companion_objects.expected
  java/ql/test/kotlin/library-tests/companion_objects/companion_objects.ql
Due: codeql-format

Fix expected test files
  java/ql/test/kotlin/library-tests/classes/PrintAst.expected
  java/ql/test/kotlin/library-tests/classes/genericExprTypes.expected
  java/ql/test/kotlin/library-tests/comments/comments.expected
  java/ql/test/kotlin/library-tests/modifiers/modifiers.expected
  java/ql/test/kotlin/library-tests/private-anonymous-types/test.expected
Due: none

Fix labels of extension function parameters
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/extensions/DB-CHECK.expected
  java/ql/test/kotlin/library-tests/extensions/parameters.expected
Due: none

Fix declaring type of companion field
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/companion_objects/companion_objects.expected
Due: none

Add test for return type of `<clinit>` methods
  java/ql/test/kotlin/library-tests/methods/clinit.expected
  java/ql/test/kotlin/library-tests/methods/clinit.kt
  java/ql/test/kotlin/library-tests/methods/clinit.ql
  java/ql/test/kotlin/library-tests/methods/exprs.expected
  java/ql/test/kotlin/library-tests/methods/methods.expected
  java/ql/test/kotlin/library-tests/methods/parameters.expected
Due: codeql-format

Update java/ql/lib/semmle/code/java/frameworks/KotlinStdLib.qll
  java/ql/lib/semmle/code/java/frameworks/KotlinStdLib.qll
Due: codeql-format

Revert dataflow changes, extract actual iterator function
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/frameworks/KotlinStdLib.qll
Due: codeql-format

Revert "Identify data classes during extraction"
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/lib/config/semmlecode.dbscheme
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/test/kotlin/library-tests/data-classes/data_classes.expected
  java/ql/test/kotlin/library-tests/data-classes/data_classes.ql
Due: codeql-format

Autoformat
  java/ql/lib/semmle/code/java/frameworks/KotlinStdLib.qll
Due: codeql-format

Kotlin: add useless parameter test for generic override
  java/ql/test/kotlin/query-tests/UselessParameter/Test.kt
  java/ql/test/kotlin/query-tests/UselessParameter/UselessParameter.expected
  java/ql/test/kotlin/query-tests/UselessParameter/UselessParameter.qlref
Due: none

Kotlin: Respect `override` modifier in useless parameter query
  java/ql/lib/semmle/code/java/deadcode/DeadCode.qll
  java/ql/test/kotlin/query-tests/UselessParameter/UselessParameter.expected
Due: codeql-format

Kotlin: add potentially `static` inner class test
  java/ql/test/kotlin/query-tests/InnerClassCouldBeStatic/InnerClassCouldBeStatic.expected
  java/ql/test/kotlin/query-tests/InnerClassCouldBeStatic/InnerClassCouldBeStatic.qlref
  java/ql/test/kotlin/query-tests/InnerClassCouldBeStatic/Test.kt
Due: none

Kotlin: exclude Kotlin source from 'inner class could be static' check
  java/ql/src/Performance/InnerClassCouldBeStatic.ql
  java/ql/test/kotlin/query-tests/InnerClassCouldBeStatic/InnerClassCouldBeStatic.expected
Due: codeql-format

Swift: publish C++ generated code as artifacts
  .github/workflows/swift-codegen.yml
  swift/codegen/lib/options.py
Due: swift-codegen

Swift: merge generated headers into one artifact
  .github/workflows/swift-codegen.yml
Due: none

Kotlin: Add test for NullMaybe query
  java/ql/test/kotlin/query-tests/NullMaybe/NullMaybe.expected
  java/ql/test/kotlin/query-tests/NullMaybe/NullMaybe.qlref
  java/ql/test/kotlin/query-tests/NullMaybe/Test.kt
Due: none

Kotlin: Exclude operands of `NotNullExpr` from NullMaybe query
  java/ql/src/Likely Bugs/Nullness/NullMaybe.ql
  java/ql/test/kotlin/query-tests/NullMaybe/NullMaybe.expected
Due: codeql-format

Kotlin: Add more type check tests for MissingInstanceofInEquals query
  java/ql/test/kotlin/query-tests/MissingInstanceofInEquals/MissingInstanceofInEquals.expected
  java/ql/test/kotlin/query-tests/MissingInstanceofInEquals/MissingInstanceofInEquals.qlref
  java/ql/test/kotlin/query-tests/MissingInstanceofInEquals/Test.kt
Due: none

Kotlin: Add more type check casts to MissingInstanceofInEquals query
  java/ql/src/Likely Bugs/Comparison/MissingInstanceofInEquals.ql
  java/ql/test/kotlin/query-tests/MissingInstanceofInEquals/MissingInstanceofInEquals.expected
Due: codeql-format

Handle variables as comment owners
  java/kotlin-extractor/src/main/kotlin/TrapWriter.kt
  java/kotlin-extractor/src/main/kotlin/comments/CommentExtractor.kt
  java/ql/test/kotlin/library-tests/comments/comments.expected
  java/ql/test/kotlin/library-tests/comments/comments.kt
Due: none

C/C++: Autoformat
  cpp/ql/src/experimental/Critical/MemoryMayNotBeFreedOnLoop.ql
Due: codeql-format

Fix extraction of reflective call generated by Parcelize
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Apply code review suggestion
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
Due: codeql-format

Swift: move generated code to `generated` directory
  swift/codegen/cppgen.py
  swift/codegen/lib/cpp.py
  swift/codegen/templates/cpp_classes.mustache
  swift/codegen/templates/trap_tags.mustache
  swift/codegen/templates/trap_traps.mustache
  swift/codegen/trapgen.py
  swift/extractor/SwiftDispatcher.h
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftTagTraits.h
  swift/extractor/trap/BUILD.bazel
  swift/extractor/trap/TrapLabel.h
  swift/extractor/trap/TrapLabelStore.h
Due: swift-codegen

Swift: make TrapLabelStore store untyped label internally
  swift/extractor/trap/TrapLabel.h
  swift/extractor/trap/TrapLabelStore.h
Due: none

Swift: resolve symlinks
  swift/extractor/SwiftDispatcher.h
Due: none

Swift: change the return types of getCanonicalPointer
  swift/extractor/trap/TrapLabelStore.h
Due: none

Swift: describe TrapTagTraits API and implementation
  swift/codegen/templates/trap_traps.mustache
  swift/extractor/SwiftTagTraits.h
  swift/extractor/trap/TrapTagTraits.h
Due: swift-codegen

Swift: change the return types of getCanonicalPointer
  swift/extractor/SwiftDispatcher.h
  swift/extractor/trap/TrapLabelStore.h
Due: none

Swift: add a comment about lifetime
  swift/extractor/SwiftDispatcher.h
Due: none

Swift: fix format
  swift/extractor/trap/TrapLabel.h
Due: none

add v2modulePath()
  ql/lib/semmle/go/frameworks/Beego.qll
Due: codeql-format

add v1modulePath()
  ql/lib/semmle/go/frameworks/Beego.qll
Due: codeql-format

sample negative examples down to 10%
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointDataTraining.ql
Due: codeql-format

remove debug code
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointDataTraining.ql
Due: codeql-format

Swift: rely on llvm::sys::fs::real_path to get absolute path
  swift/extractor/SwiftDispatcher.h
Due: none

Swift: clarify getCanonicalPointer
  swift/extractor/trap/TrapLabelStore.h
Due: none

Swift: introduce visitors
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftDispatcher.h
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftVisitor.h
  swift/extractor/visitors/DeclVisitor.h
  swift/extractor/visitors/ExprVisitor.h
  swift/extractor/visitors/PatternVisitor.h
  swift/extractor/visitors/StmtVisitor.h
  swift/extractor/visitors/TypeVisitor.h
Due: none

Path conditions:
  codeql-format: any of: \.qll?$, but not: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
  qhelp: any of: \.qhelp$, but not: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
  swift-codegen: any of: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)), but not: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
