Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel:buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

C#: Allow other characters between build-stdput and the expected message.
  csharp/ql/integration-tests/all-platforms/dotnet_build/test.py
  csharp/ql/integration-tests/all-platforms/dotnet_run/test.py
Due: none

Bazel: use installer shortcut in docs and workflows
  .github/workflows/cpp-swift-analysis.yml
  rust/README.md
  swift/README.md
  swift/actions/build-and-test/action.yml
Due: none

Rust: Add CFG test for early return in `async` block
  rust/ql/test/library-tests/controlflow-unstable/Cfg.expected
  rust/ql/test/library-tests/controlflow-unstable/Cfg.qlref
  rust/ql/test/library-tests/controlflow-unstable/options.yml
  rust/ql/test/library-tests/controlflow-unstable/test.rs
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/controlflow/test.rs
Due: none

Rust: Handle early returns in `async` blocks in CFG
  rust/ql/lib/codeql/rust/controlflow/internal/Scope.qll
  rust/ql/test/library-tests/controlflow/Cfg.expected
Due: codeql-format, sync-files

Bazel: rename shortcut to `install`
  .github/workflows/cpp-swift-analysis.yml
  misc/bazel/pkg.bzl
  rust/README.md
  swift/README.md
  swift/actions/build-and-test/action.yml
Due: buildifier

Java: drop automodel change note
  java/ql/automodel/src/change-notes/2024-11-19-drop-automodel.md
Due: none

Java: drop automodel queries
  java/ql/automodel/publish.sh
  java/ql/automodel/src/AutomodelAlertSinkUtil.qll
  java/ql/automodel/src/AutomodelAlertSinks.ql
  java/ql/automodel/src/AutomodelAlertSinksPerQuery.ql
  java/ql/automodel/src/AutomodelApplicationModeCharacteristics.qll
  java/ql/automodel/src/AutomodelApplicationModeExtractCandidates.ql
  java/ql/automodel/src/AutomodelApplicationModeExtractNegativeExamples.ql
  java/ql/automodel/src/AutomodelApplicationModeExtractPositiveExamples.ql
  java/ql/automodel/src/AutomodelCandidateFilter.yml
  java/ql/automodel/src/AutomodelCountGeneratedSinks.ql
  java/ql/automodel/src/AutomodelEndpointTypes.qll
  java/ql/automodel/src/AutomodelFrameworkModeCharacteristics.qll
  java/ql/automodel/src/AutomodelFrameworkModeExtractCandidates.ql
  java/ql/automodel/src/AutomodelFrameworkModeExtractNegativeExamples.ql
  java/ql/automodel/src/AutomodelFrameworkModeExtractPositiveExamples.ql
  java/ql/automodel/src/AutomodelJavaUtil.qll
  java/ql/automodel/src/AutomodelSharedCharacteristics.qll
  java/ql/automodel/src/AutomodelSinkModelMrvaQueries.ql
  java/ql/automodel/src/codeql-pack.release.yml
  java/ql/automodel/src/qlpack.yml
  java/ql/automodel/test/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractionTests.expected
  java/ql/automodel/test/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractionTests.ql
  java/ql/automodel/test/AutomodelApplicationModeExtraction/PluginImpl.java
  java/ql/automodel/test/AutomodelApplicationModeExtraction/Test.java
  java/ql/automodel/test/AutomodelApplicationModeExtraction/hudson/Plugin.java
  java/ql/automodel/test/AutomodelExtractionTests.qll
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractionTests.expected
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractionTests.ql
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/MyWriter.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/NonPublicClass.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicClass.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicInterface.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/java/io/File.java
  java/ql/automodel/test/AutomodelFrameworkModeExtraction/java/nio/file/Files.java
  java/ql/automodel/test/change-notes/2024-05-23-Version1.md
  java/ql/automodel/test/qlpack.yml
Due: codeql-format, sync-files

C#: Add change-note.
  csharp/ql/lib/change-notes/2024-11-19-extractor-dotnet.md
Due: none

refactor common code to identify untrusted checkouts
  ql/lib/codeql/actions/dataflow/FlowSources.qll
  ql/lib/codeql/actions/security/ArtifactPoisoningQuery.qll
  ql/lib/codeql/actions/security/OutputClobberingQuery.qll
  ql/lib/codeql/actions/security/UntrustedCheckoutQuery.qll
Due: codeql-format, sync-files

Delete .actual test files
  ql/test/query-tests/Violations Of Best Practice/CodeQL/UnnecessaryUseOfAdvancedConfig.actual
Due: none

Rust: Add SQL injection test cases (complete and functioning).
  rust/ql/test/query-tests/security/CWE-089/.gitignore
  rust/ql/test/query-tests/security/CWE-089/cargo.toml
  rust/ql/test/query-tests/security/CWE-089/migrations/20241031153051_create.sql
  rust/ql/test/query-tests/security/CWE-089/sqlx.rs
Due: none

Rust: Add placeholder SQL injection query, linked in test.
  rust/ql/src/queries/security/CWE-089/SqlInjection.ql
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.qlref
Due: codeql-format, sync-files

Rust: Add options.yml and sqlx 'query cache' (result of 'sqlx prepare') so that the query test can function.
  rust/ql/test/query-tests/security/CWE-089/.sqlx/query-c996a36820ff0b98021fa553b09b6da5ed65c28f666a68c4d73a1918f0eaa6f6.json
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-089/cargo.toml.manual
  rust/ql/test/query-tests/security/CWE-089/options.yml
  rust/ql/test/query-tests/security/CWE-089/sqlx.rs
Due: none

Rust: Add additional tests for intraprocedural data flow
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.ql
  rust/ql/test/library-tests/dataflow/local/main.rs
Due: codeql-format, sync-files

Rust: Add .qhelp and examples.
  rust/ql/src/queries/security/CWE-089/SqlInjection.qhelp
  rust/ql/src/queries/security/CWE-089/SqlInjectionBad.rs
  rust/ql/src/queries/security/CWE-089/SqlInjectionGood.rs
Due: sync-files, qhelp

Rust: Implement query, source/sink/barrier classes and concepts. All of this is framework, nothing is concretely modelled yet.
  rust/ql/lib/codeql/rust/Concepts.qll
  rust/ql/lib/codeql/rust/security/SqlInjectionExtensions.qll
  rust/ql/lib/qlpack.yml
  rust/ql/src/queries/security/CWE-089/SqlInjection.ql
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
Due: codeql-format, sync-files

Convert squirrel sql-injection sinks to MaD (non-existent methods removed)
  go/ql/lib/ext/github.com.mastermind.squirrel.model.yml
  go/ql/lib/semmle/go/frameworks/SQL.qll
  go/ql/test/library-tests/semmle/go/frameworks/SQL/squirrel.go
Due: codeql-format, sync-files

Upgrade and convert gorqlite sql-injection sinks to MaD
  go/ql/lib/ext/github.com.rqlite.gorqlite.model.yml
  go/ql/lib/semmle/go/frameworks/SQL.qll
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gorqlite/QueryString.expected
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gorqlite/QueryString.ql
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gorqlite/go.mod
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gorqlite/gorqlite.expected
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gorqlite/gorqlite.go
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gorqlite/gorqlite.ql
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gorqlite/vendor/github.com/rqlite/gorqlite/stub.go
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gorqlite/vendor/modules.txt
Due: codeql-format, sync-files

Convert gogf/gf sql-injection sinks to MaD
  go/ql/lib/ext/github.com.gogf.gf.database.gdb.model.yml
  go/ql/lib/semmle/go/frameworks/SQL.qll
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gogf/QueryString.expected
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gogf/QueryString.ql
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gogf/gogf.expected
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gogf/gogf.go
  go/ql/test/library-tests/semmle/go/frameworks/SQL/gogf/gogf.ql
Due: codeql-format, sync-files

Convert sqlx sql-injection sinks to MaD
  go/ql/lib/ext/github.com.jmoiron.sqlx.model.yml
  go/ql/lib/semmle/go/frameworks/SQL.qll
  go/ql/test/library-tests/semmle/go/frameworks/SQL/Sqlx/QueryString.expected
  go/ql/test/library-tests/semmle/go/frameworks/SQL/Sqlx/QueryString.ql
  go/ql/test/library-tests/semmle/go/frameworks/SQL/Sqlx/sqlx.expected
  go/ql/test/library-tests/semmle/go/frameworks/SQL/Sqlx/sqlx.go
  go/ql/test/library-tests/semmle/go/frameworks/SQL/Sqlx/sqlx.ql
Due: codeql-format, sync-files

Convert Gorm sql-injection sinks to MaD
  go/ql/lib/ext/gorm.io.gorm.model.yml
  go/ql/lib/semmle/go/frameworks/SQL.qll
  go/ql/test/library-tests/semmle/go/frameworks/SQL/Gorm/QueryString.expected
  go/ql/test/library-tests/semmle/go/frameworks/SQL/Gorm/QueryString.ql
  go/ql/test/library-tests/semmle/go/frameworks/SQL/Gorm/gorm.expected
  go/ql/test/library-tests/semmle/go/frameworks/SQL/Gorm/gorm.go
  go/ql/test/library-tests/semmle/go/frameworks/SQL/Gorm/gorm.ql
Due: codeql-format, sync-files

Convert Xorm sql-injection sinks to MaD
  go/ql/lib/ext/xorm.io.xorm.model.yml
  go/ql/lib/semmle/go/frameworks/SQL.qll
Due: codeql-format, sync-files

Convert Bun sql-injection sinks to MaD
  go/ql/lib/ext/github.com.uptrace.bun.model.yml
  go/ql/lib/semmle/go/frameworks/SQL.qll
  go/ql/test/library-tests/semmle/go/frameworks/SQL/bun/QueryString.expected
  go/ql/test/library-tests/semmle/go/frameworks/SQL/bun/QueryString.ql
  go/ql/test/library-tests/semmle/go/frameworks/SQL/bun/bun.go
Due: codeql-format, sync-files

Convert Beego orm sql-injection sinks to MaD
  go/ql/lib/ext/github.com.beego.beego.client.orm.model.yml
  go/ql/lib/semmle/go/frameworks/BeegoOrm.qll
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
Due: codeql-format, sync-files

Convert database/sql sql-injection sinks to MaD
  go/ql/lib/ext/database.sql.model.yml
  go/ql/lib/semmle/go/frameworks/stdlib/DatabaseSql.qll
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
Due: codeql-format, sync-files

Convert database/sql/driver sql-injection sinks to MaD
  go/ql/lib/ext/database.sql.driver.model.yml
  go/ql/lib/semmle/go/frameworks/stdlib/DatabaseSql.qll
Due: codeql-format, sync-files

Convert mongodb nosql-injection sinks to MaD
  go/ql/lib/ext/go.mongodb.org.mongo-driver.mongo.model.yml
  go/ql/lib/semmle/go/frameworks/NoSQL.qll
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
Due: codeql-format, sync-files

Convert gocb nosql-injection sinks to MaD
  go/ql/lib/ext/github.com.couchbase.gocb.model.yml
  go/ql/lib/ext/go.mongodb.org.mongo-driver.mongo.model.yml
  go/ql/lib/semmle/go/frameworks/Couchbase.qll
  go/ql/lib/semmle/go/frameworks/NoSQL.qll
Due: codeql-format, sync-files

Convert logging sinks to use MaD
  go/ql/lib/ext/fmt.model.yml
  go/ql/lib/ext/github.com.beego.beego.core.logs.model.yml
  go/ql/lib/ext/github.com.beego.beego.core.utils.model.yml
  go/ql/lib/ext/github.com.beego.beego.server.web.model.yml
  go/ql/lib/ext/github.com.davecgh.go-spew.spew.model.yml
  go/ql/lib/ext/github.com.elazarl.goproxy.model.yml
  go/ql/lib/ext/github.com.golang.glog.model.yml
  go/ql/lib/ext/github.com.sirupsen.logrus.model.yml
  go/ql/lib/ext/go.uber.org.zap.model.yml
  go/ql/lib/ext/log.model.yml
  go/ql/lib/semmle/go/Concepts.qll
  go/ql/lib/semmle/go/frameworks/Beego.qll
  go/ql/lib/semmle/go/frameworks/ElazarlGoproxy.qll
  go/ql/lib/semmle/go/frameworks/Glog.qll
  go/ql/lib/semmle/go/frameworks/Logrus.qll
  go/ql/lib/semmle/go/frameworks/Spew.qll
  go/ql/lib/semmle/go/frameworks/Zap.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Fmt.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Log.qll
Due: codeql-format, sync-files

Fix typo in package path
  go/ql/lib/ext/github.com.sirupsen.logrus.model.yml
Due: none

Model some squirrel methods in QL
  go/ql/lib/ext/github.com.mastermind.squirrel.model.yml
  go/ql/lib/semmle/go/frameworks/SQL.qll
Due: codeql-format, sync-files

Model some Xorm methods in QL
  go/ql/lib/ext/xorm.io.xorm.model.yml
  go/ql/lib/semmle/go/frameworks/SQL.qll
Due: codeql-format, sync-files

Model `logrus.FieldLogger` using models-as-data
  go/ql/lib/ext/github.com.sirupsen.logrus.model.yml
Due: none

Add tests for squirrel.Eq
  go/ql/test/library-tests/semmle/go/frameworks/SQL/squirrel.go
  go/ql/test/library-tests/semmle/go/frameworks/SQL/vendor/github.com/Masterminds/squirrel/stub.go
Due: none

Add tests for Xorm first argument of varargs slice
  go/ql/test/library-tests/semmle/go/frameworks/SQL/xorm.go
Due: none

Add tests for logrus.FieldLogger
  go/ql/test/query-tests/Security/CWE-117/LogInjection.go
  go/ql/test/query-tests/Security/CWE-117/vendor/github.com/sirupsen/logrus/stub.go
Due: none

Make Logrus log injection tests more comprehensive
  go/ql/test/query-tests/Security/CWE-117/LogInjection.go
  go/ql/test/query-tests/Security/CWE-117/vendor/github.com/sirupsen/logrus/stub.go
Due: none

Rust: Add local data flow edge for SSA definitons
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
Due: codeql-format, sync-files

Set Subtypes column correctly
  go/ql/lib/ext/database.sql.driver.model.yml
  go/ql/lib/ext/database.sql.model.yml
  go/ql/lib/ext/github.com.beego.beego.client.orm.model.yml
  go/ql/lib/ext/github.com.beego.beego.core.logs.model.yml
  go/ql/lib/ext/github.com.elazarl.goproxy.model.yml
  go/ql/lib/ext/github.com.golang.glog.model.yml
  go/ql/lib/ext/github.com.mastermind.squirrel.model.yml
  go/ql/lib/ext/github.com.sirupsen.logrus.model.yml
  go/ql/lib/ext/github.com.uptrace.bun.model.yml
  go/ql/lib/ext/go.uber.org.zap.model.yml
  go/ql/lib/ext/log.model.yml
Due: none

Update test expectations
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
Due: none

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
