Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

C++: Include inline namespaces in `StdNamespace`
  cpp/ql/lib/semmle/code/cpp/Namespace.qll
Due: codeql-format, sync-files

Python: Accept `.expected` changes
  python/ql/test/experimental/query-tests/Security/CWE-176/UnicodeBypassValidation.expected
Due: none

Python: Apply suggested change
  python/ql/src/experimental/Security/CWE-176/UnicodeBypassValidationQuery.qll
Due: codeql-format, sync-files

such identifiers do not actually exist in QL
  docs/codeql/ql-language-reference/ql-language-specification.rst
Due: none

Update ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
Due: codeql-format, sync-files

add rule for module signature names (differing from module names)
  docs/codeql/ql-language-reference/ql-language-specification.rst
Due: none

do not use simpleId directly in module expression rules
  docs/codeql/ql-language-reference/ql-language-specification.rst
Due: none

introduce parameterName rule
  docs/codeql/ql-language-reference/ql-language-specification.rst
Due: none

mention signatureExpr in section on use of identifier rules
  docs/codeql/ql-language-reference/ql-language-specification.rst
Due: none

do not use upperId directly in type signature rules
  docs/codeql/ql-language-reference/ql-language-specification.rst
Due: none

C#: Synthetic DateTime object creation for DateTime defaults via attributes.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ObjectCreation/DateTimeObjectCreation.cs
Due: none

C#: Add more testcases, a new test, update the compiled test code and updated expected results.
  csharp/ql/test/library-tests/parameters/Parameters.cs
  csharp/ql/test/library-tests/parameters/Parameters.cs_
  csharp/ql/test/library-tests/parameters/Parameters.dll
  csharp/ql/test/library-tests/parameters/Parameters.expected
  csharp/ql/test/library-tests/parameters/Parameters.ql
Due: codeql-format, sync-files

C#: Update tests to exclude autogenerated parameterizables in attributes as these appears to give OS dependent results.
  csharp/ql/test/library-tests/parameters/Parameters.expected
  csharp/ql/test/library-tests/parameters/Parameters.ql
Due: codeql-format, sync-files

C#: Add more default parameter test-cases.
  csharp/ql/test/library-tests/parameters/Parameters.cs
  csharp/ql/test/library-tests/parameters/Parameters.cs_
  csharp/ql/test/library-tests/parameters/Parameters.dll
  csharp/ql/test/library-tests/parameters/Parameters.expected
Due: none

C++: Add `cpp/invalid-pointer-deref` false positives
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
Due: none

Add change note
  java/ql/lib/change-notes/2023-05-22-inputstreamwrapper-transitive.md
Due: none

Swift: remove unneeded properties from `InterpolatedStringLiteralExpr`
  swift/downgrades/44e36e15e90bc1535964d9b86b3cd06a8b0d26e3/old.dbscheme
  swift/downgrades/44e36e15e90bc1535964d9b86b3cd06a8b0d26e3/swift.dbscheme
  swift/downgrades/44e36e15e90bc1535964d9b86b3cd06a8b0d26e3/upgrade.properties
  swift/extractor/translators/ExprTranslator.cpp
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/expr/InterpolatedStringLiteralExpr.qll
  swift/ql/lib/upgrades/ba4171b90d0665b40e9e203bac9e3d4a0b2d03ec/integer_literal_exprs.ql
  swift/ql/lib/upgrades/ba4171b90d0665b40e9e203bac9e3d4a0b2d03ec/old.dbscheme
  swift/ql/lib/upgrades/ba4171b90d0665b40e9e203bac9e3d4a0b2d03ec/swift.dbscheme
  swift/ql/lib/upgrades/ba4171b90d0665b40e9e203bac9e3d4a0b2d03ec/upgrade.properties
  swift/ql/test/library-tests/ast/PrintAst.expected
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

C++: autoformat
  cpp/ql/src/experimental/Security/CWE/CWE-193/ConstantSizeArrayOffByOne.ql
Due: codeql-format, sync-files

C++: Add change note
  cpp/ql/lib/change-notes/2023-05-22-inline-in-std-namespace.md
Due: none

C++: remove unneeded pragma
  cpp/ql/src/experimental/Security/CWE/CWE-193/ConstantSizeArrayOffByOne.ql
Due: codeql-format, sync-files

C++: fix equality refinement in new range analysis
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisStage.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/test.cpp
Due: codeql-format, sync-files

Swift: re-run codegen.
  swift/ql/.generated.list
Due: swift-codegen

C++: add neq refinement test for range analysis
  cpp/ql/test/library-tests/ir/range-analysis/test.cpp
Due: none

Tree-sitter extractor: extract shared dbscheme fragments into 'prefix.dbscheme'
  config/dbscheme-fragments.json
  ql/ql/src/codeql/Locations.qll
  ql/ql/src/ql.dbscheme
  ql/ql/src/ql.dbscheme.stats
  ql/ql/test/queries/style/OmittableExists/Test.qll
  ruby/ql/lib/codeql/Locations.qll
  ruby/ql/lib/ruby.dbscheme
  ruby/ql/lib/ruby.dbscheme.stats
  shared/tree-sitter-extractor/src/generator/mod.rs
  shared/tree-sitter-extractor/src/generator/prefix.dbscheme
Due: codeql-format, sync-files

QL/Ruby: included shared extractor code in cache key
  .github/workflows/ql-for-ql-build.yml
  .github/workflows/ruby-build.yml
  ruby/actions/create-extractor-pack/action.yml
Due: none

JS: add upgrade/downgrade scripts
  javascript/downgrades/8accf0f930bcb8b42d69fd7ef7b4372604f551ed/old.dbscheme
  javascript/downgrades/8accf0f930bcb8b42d69fd7ef7b4372604f551ed/semmlecode.javascript.dbscheme
  javascript/downgrades/8accf0f930bcb8b42d69fd7ef7b4372604f551ed/upgrade.properties
  javascript/ql/lib/upgrades/4d00210ca570d55c4833af11d3372b774dbc63f2/old.dbscheme
  javascript/ql/lib/upgrades/4d00210ca570d55c4833af11d3372b774dbc63f2/semmlecode.javascript.dbscheme
  javascript/ql/lib/upgrades/4d00210ca570d55c4833af11d3372b774dbc63f2/upgrade.properties
Due: none

QL: switch to shared YAML extractor
  ql/Cargo.lock
  ql/extractor/Cargo.toml
  ql/extractor/src/autobuilder.rs
  ql/extractor/src/extractor.rs
  ql/extractor/src/generator.rs
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/src/codeql_ql/ast/internal/AstNodes.qll
  ql/ql/src/codeql_ql/ast/internal/TreeSitter.qll
  ql/ql/src/ql.dbscheme
  ql/ql/src/qlpack.yml
  ql/tools/pre-finalize.cmd
  ql/tools/pre-finalize.sh
  ql/tools/qltest.cmd
  ql/tools/qltest.sh
  ruby/ql/lib/ruby.dbscheme
  shared/tree-sitter-extractor/src/generator/prefix.dbscheme
Due: codeql-format, sync-files

Ruby: add upgrade/downgrade scripts
  ruby/downgrades/f9f0f4023e433184fda76f595247bf448b782135/old.dbscheme
  ruby/downgrades/f9f0f4023e433184fda76f595247bf448b782135/ruby.dbscheme
  ruby/downgrades/f9f0f4023e433184fda76f595247bf448b782135/upgrade.properties
  ruby/ql/lib/upgrades/ff289788b1552e32078788baa27152cc95b68f77/old.dbscheme
  ruby/ql/lib/upgrades/ff289788b1552e32078788baa27152cc95b68f77/ruby.dbscheme
  ruby/ql/lib/upgrades/ff289788b1552e32078788baa27152cc95b68f77/upgrade.properties
Due: none

Tree-sitter-xtractor: fix clippy warnings
  shared/tree-sitter-extractor/src/autobuilder.rs
  shared/tree-sitter-extractor/src/generator/mod.rs
  shared/tree-sitter-extractor/src/generator/prefix.dbscheme
Due: none

Python: add upgrade/downgrade scripts
  python/downgrades/0565f7466437d52e1dc64a3b930926ab2f60cd64/old.dbscheme
  python/downgrades/0565f7466437d52e1dc64a3b930926ab2f60cd64/semmlecode.python.dbscheme
  python/downgrades/0565f7466437d52e1dc64a3b930926ab2f60cd64/upgrade.properties
  python/ql/lib/upgrades/0355ecf0ac589e66467a378e0e9d60f41ee4a757/old.dbscheme
  python/ql/lib/upgrades/0355ecf0ac589e66467a378e0e9d60f41ee4a757/semmlecode.python.dbscheme
  python/ql/lib/upgrades/0355ecf0ac589e66467a378e0e9d60f41ee4a757/upgrade.properties
Due: none

QL/Ruby: update dbscheme stats
  ql/ql/src/ql.dbscheme.stats
  ruby/ql/lib/ruby.dbscheme.stats
Due: none

sync-dbscheme-fragments: add files argument
  config/dbscheme-fragments.json
  config/sync-dbscheme-fragments.py
Due: none

Python: sync shared dbscheme fragments
  config/dbscheme-fragments.json
  python/ql/lib/semmlecode.python.dbscheme
  python/ql/lib/semmlecode.python.dbscheme.stats
Due: none

update qldoc
  javascript/ql/lib/semmle/javascript/NPM.qll
Due: codeql-format, sync-files

Ruby: Exclude block parameters from flow-through in type tracking
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
Due: codeql-format, sync-files

Add change note
  java/ql/lib/change-notes/2023-05-17-change-hostnamesanitizingprefix-regex.md
Due: none

Change regex used in HostnameSanitizingPrefix
  java/ql/lib/semmle/code/java/security/RequestForgery.qll
Due: codeql-format, sync-files

Add test case based on missing result
  java/ql/test/query-tests/security/CWE-918/SanitizationTests.java
Due: none

C++: Fix pointer/pointee conflation.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/InvalidPointerDeref.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/pointer-deref/test.cpp
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
  cpp/ql/test/query-tests/Critical/MemoryFreed/UseAfterFree.expected
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
