Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

spelling: duplicate
  cpp/ql/src/external/CodeDuplication.qll
Due: codeql-format, sync-files

spelling: expressions
  cpp/ql/lib/semmle/code/cpp/valuenumbering/HashCons.qll
Due: codeql-format, sync-files

spelling: discriminate
  cpp/ql/src/Critical/MemoryMayNotBeFreed.ql
Due: codeql-format, sync-files

spelling: encryption
  cpp/ql/lib/semmle/code/cpp/security/Encryption.qll
Due: codeql-format, sync-files

spelling: evaluates
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/RangeAnalysisUtils.qll
Due: codeql-format, sync-files

spelling: determined
  cpp/ql/lib/semmle/code/cpp/commons/Printf.qll
Due: codeql-format, sync-files

spelling: exception
  cpp/ql/src/experimental/Security/CWE/CWE-703/FindIncorrectlyUsedExceptions.ql
Due: codeql-format, sync-files

spelling: description
  cpp/ql/src/experimental/Best Practices/WrongUintAccess.ql
Due: codeql-format, sync-files

spelling: predicate
  cpp/ql/src/Likely Bugs/Likely Typos/IncorrectNotOperatorUsage.ql
Due: codeql-format, sync-files

spelling: library
  cpp/ql/lib/semmle/code/cpp/security/TaintTrackingImpl.qll
Due: codeql-format, sync-files

spelling: label
  cpp/ql/src/experimental/Security/CWE/CWE-561/FindIncorrectlyUsedSwitch.ql
Due: codeql-format, sync-files

spelling: instructions
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Due: codeql-format, sync-files

spelling: obtain
  cpp/ql/src/experimental/Security/CWE/CWE-362/double-fetch.ql
Due: codeql-format, sync-files

spelling: supplemental
  cpp/ql/src/experimental/Security/CWE/CWE-273/PrivilegeDroppingOutoforder.ql
Due: codeql-format, sync-files

spelling: proposed
  cpp/ql/src/Metrics/Classes/CLackOfCohesionCK.qhelp
  csharp/ql/src/Metrics/RefTypes/TLackOfCohesionCK.qhelp
  csharp/ql/src/Metrics/RefTypes/TLackOfCohesionHS.qhelp
Due: sync-files, qhelp

spelling: interesting
  cpp/ql/src/Likely Bugs/Memory Management/SuspiciousCallToStrncat.ql
Due: codeql-format, sync-files

spelling: vulnerabilities
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound.ql
Due: codeql-format, sync-files

spelling: justified
  cpp/ql/src/Likely Bugs/ContinueInFalseLoop.ql
Due: codeql-format, sync-files

spelling: operand
  cpp/ql/src/Likely Bugs/Memory Management/ReturnStackAllocatedMemory.ql
Due: codeql-format, sync-files

spelling: whose
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/analysis/SignAnalysisCommon.qll
Due: codeql-format, sync-files

spelling: themselves
  cpp/ql/src/jsf/4.13 Functions/AV Rule 119.ql
Due: codeql-format, sync-files

spelling: representing
  cpp/ql/lib/semmle/code/cpp/exprs/Call.qll
Due: codeql-format, sync-files

spelling: opposed
  cpp/ql/src/Metrics/Classes/CLackOfCohesionCK.qhelp
  csharp/ql/src/Metrics/RefTypes/TLackOfCohesionCK.qhelp
  csharp/ql/src/Metrics/RefTypes/TLackOfCohesionHS.qhelp
Due: sync-files, qhelp

spelling: optimistically
  cpp/ql/src/Security/CWE/CWE-190/Bounded.qll
Due: codeql-format, sync-files

spelling: provides
  cpp/ql/lib/semmle/code/cpp/Linkage.qll
Due: codeql-format, sync-files

spelling: specified
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRUtilities.qll
Due: codeql-format, sync-files

spelling: primitive
  cpp/ql/lib/semmle/code/cpp/controlflow/BasicBlocks.qll
Due: codeql-format, sync-files

spelling: sequence
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

spelling: initializers
  cpp/ql/lib/semmle/code/cpp/valuenumbering/HashCons.qll
Due: codeql-format, sync-files

spelling: variable
  cpp/ql/lib/semmle/code/cpp/Variable.qll
Due: codeql-format, sync-files

spelling: overrunning
  cpp/ql/src/CHANGELOG.md
  cpp/ql/src/Security/CWE/CWE-120/OverrunWrite.ql
  cpp/ql/src/change-notes/released/0.0.8.md
Due: codeql-format, sync-files

update tests
  java/ql/test/query-tests/security/CWE-326/InsufficientKeySizeTest.java
  java/ql/test/query-tests/security/CWE-326/InsufficientKeySizeTest.ql
Due: codeql-format, sync-files

Create All user access except owners deleted
  All user access except owners deleted
Due: none

Create Remove all pull request for any user except owner
  Remove all pull request for any user except owner
Due: none

Delete README.md
  shared/README.md
Due: none

Update python/ql/lib/change-notes/2022-10-04-api-subscript-nodes.md
  python/ql/lib/change-notes/2022-10-04-api-subscript-nodes.md
Due: none

C++: Fix test after spelling fixes
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-703/semmle/tests/FindIncorrectlyUsedExceptions.expected
Due: none

Ruby: Add change note
  ruby/ql/src/change-notes/2022-10-14-actiondispatch-response.md
Due: none

Ruby: Model ActionDispatch::Response
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/test/library-tests/frameworks/ActionController.expected
  ruby/ql/test/library-tests/frameworks/ActionController.ql
  ruby/ql/test/library-tests/frameworks/ActionDispatch.expected
  ruby/ql/test/library-tests/frameworks/ActionView.expected
  ruby/ql/test/library-tests/frameworks/app/controllers/comments_controller.rb
Due: codeql-format, sync-files

Ruby: Consider header writes as XSS sinks
  ruby/ql/lib/codeql/ruby/security/XSS.qll
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/app/controllers/foo/bars_controller.rb
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
