Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

C#: Deprecate some SSA internals.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

C#: Reinstate toString for SSA data flow nodes.
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  shared/ssa/codeql/ssa/Ssa.qll
Due: codeql-format, sync-files

C#: Exclude entry definitions from qualifier definitions.
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
Due: codeql-format, sync-files

C#: Drop caching for deprecated predicates.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

Update rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/main.rs
Due: none

Update help files CWE-829/UntrustedCheckoutX
  actions/ql/src/Security/CWE-829/UntrustedCheckoutCritical.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutHigh.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutMedium.md
Due: none

Discard struct types and their fields
  go/ql/lib/semmle/go/Overlay.qll
Due: codeql-format, sync-files

Adjust changenotes actions queries
  actions/ql/lib/change-notes/2026-04-15-poisonable-steps-additions-alterations.md
  actions/ql/src/change-notes/2026-04-15-untrusted-checkout-improvements.md
Due: none

Java: move File inspection methods to path-injection[read]
  java/ql/lib/ext/java.io.model.yml
  java/ql/test/experimental/query-tests/security/CWE-073/FilePathInjection.expected
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.expected
Due: none

C#: Deprecate ParameterDefinition in favour of SsaParameterInit.
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

C#: Delete ParameterDefaultDefinition.
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
Due: codeql-format, sync-files

C#: Fix toString for capture definitions.
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
Due: codeql-format, sync-files

C#: Accept test changes.
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/ssa/DefAdjacentRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SSAPhi.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaExplicitDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaImplicitQualifier.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaUltimateDef.expected
Due: none

C#: Accept test changes for out/ref SSA location changes.
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/dataflow/ssa/SSAPhi.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaExplicitDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaImplicitQualifier.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaUltimateDef.expected
Due: none

C#: Add change note.
  csharp/ql/lib/change-notes/2026-05-01-ssa-replacement.md
Due: none

fix: multiple reporting of bcrypt initialisation
  javascript/ql/lib/semmle/javascript/frameworks/CryptoLibraries.qll
Due: codeql-format, sync-files

bring in changes from cryptsweeper
  python/ql/lib/experimental/cryptography/CryptoAlgorithmNames.qll
  python/ql/lib/experimental/cryptography/CryptoArtifact.qll
  python/ql/lib/experimental/cryptography/modules/CryptographyModule.qll
  python/ql/lib/experimental/cryptography/modules/stdlib/HashlibModule.qll
Due: codeql-format, sync-files

have a crack at modelling argon2-cffi
  python/ql/lib/experimental/cryptography/modules/Argon2CffiModule.qll
Due: codeql-format, sync-files

un-private module
  python/ql/lib/experimental/cryptography/modules/Argon2CffiModule.qll
Due: codeql-format, sync-files

import argon2-cffi module from concepts
  python/ql/lib/experimental/cryptography/Concepts.qll
Due: codeql-format, sync-files

use `this.`
  python/ql/lib/experimental/cryptography/modules/CryptographyModule.qll
Due: codeql-format, sync-files

Update gem-push workflow for new branches and permissions
  .github/workflows/gem-push.yml
Due: none

Update java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
Due: none

Update java/ql/lib/ext/org.apache.commons.io.model.yml
  java/ql/lib/ext/org.apache.commons.io.model.yml
Due: none

Update java/ql/lib/ext/javax.servlet.model.yml
  java/ql/lib/ext/javax.servlet.model.yml
Due: none

Go: add experimental query for IDNA digit-fold IP-literal smuggling
  go/ql/src/experimental/CWE-918/IdnaIpLiteralSmuggle.qhelp
  go/ql/src/experimental/CWE-918/IdnaIpLiteralSmuggle.ql
  go/ql/src/experimental/CWE-918/IdnaIpLiteralSmuggle.qll
  go/ql/src/experimental/CWE-918/IdnaIpLiteralSmuggleBad.go
  go/ql/src/experimental/CWE-918/IdnaIpLiteralSmuggleGood.go
  go/ql/test/experimental/CWE-918/IdnaIpLiteralSmuggle/IdnaIpLiteralSmuggle.expected
  go/ql/test/experimental/CWE-918/IdnaIpLiteralSmuggle/IdnaIpLiteralSmuggle.qlref
  go/ql/test/experimental/CWE-918/IdnaIpLiteralSmuggle/go.mod
  go/ql/test/experimental/CWE-918/IdnaIpLiteralSmuggle/negatives.go
  go/ql/test/experimental/CWE-918/IdnaIpLiteralSmuggle/positives.go
Due: codeql-format, sync-files, qhelp

Update csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

Docs: replace `build mode: none` with `build-mode: none`
  cpp/ql/src/CHANGELOG.md
  cpp/ql/src/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.qhelp
  cpp/ql/src/Likely Bugs/Underspecified Functions/ImplicitFunctionDeclaration.ql
  cpp/ql/src/change-notes/released/1.6.1.md
  csharp/ql/lib/CHANGELOG.md
  csharp/ql/lib/change-notes/released/5.4.5.md
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.24.0.rst
  docs/codeql/codeql-overview/codeql-changelog/codeql-cli-2.25.3.rst
Due: codeql-format, sync-files, qhelp

Java: Delete old deprecated code.
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/lib/semmle/code/java/Statement.qll
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/lib/semmle/code/java/controlflow/Dominance.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/lib/semmle/code/java/dataflow/NullGuards.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowNodes.qll
  java/ql/lib/semmle/code/java/frameworks/Jndi.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringController.qll
  java/ql/lib/semmle/code/java/security/AndroidCertificatePinningQuery.qll
  java/ql/lib/semmle/code/java/security/ArithmeticTaintedLocalQuery.qll
  java/ql/lib/semmle/code/java/security/ArithmeticTaintedQuery.qll
  java/ql/lib/semmle/code/java/security/CommandLineQuery.qll
  java/ql/lib/semmle/code/java/security/ExecTaintedLocalQuery.qll
  java/ql/lib/semmle/code/java/security/ExternallyControlledFormatStringLocalQuery.qll
  java/ql/lib/semmle/code/java/security/ImproperValidationOfArrayConstructionLocalQuery.qll
  java/ql/lib/semmle/code/java/security/ImproperValidationOfArrayIndexLocalQuery.qll
  java/ql/lib/semmle/code/java/security/NumericCastTaintedQuery.qll
  java/ql/lib/semmle/code/java/security/ResponseSplittingLocalQuery.qll
  java/ql/lib/semmle/code/java/security/SqlTaintedLocalQuery.qll
  java/ql/lib/semmle/code/java/security/TaintedPathQuery.qll
  java/ql/lib/semmle/code/java/security/UrlRedirectLocalQuery.qll
  java/ql/lib/semmle/code/java/security/XssLocalQuery.qll
  java/ql/lib/semmle/code/java/security/XxeLocalQuery.qll
  java/ql/src/semmle/code/xml/MyBatisMapperXML.qll
Due: codeql-format, sync-files

Java: Fix reference in deprecated code.
  java/ql/src/experimental/Security/CWE/CWE-094/SpringImplicitViewManipulation.ql
Due: codeql-format, sync-files

Swift: Split type inference tests into multiple files
  swift/ql/test/library-tests/type-inference/basics.swift
  swift/ql/test/library-tests/type-inference/classes.swift
  swift/ql/test/library-tests/type-inference/generics.swift
  swift/ql/test/library-tests/type-inference/overload_resolution.swift
  swift/ql/test/library-tests/type-inference/protocols.swift
  swift/ql/test/library-tests/type-inference/type_constraints.swift
  swift/ql/test/library-tests/type-inference/typeinference.swift
Due: sync-files

Swift: Add type inference tests for key path expressions
  swift/ql/test/library-tests/type-inference/key_paths.swift
  swift/ql/test/library-tests/type-inference/type-inference.ql
Due: codeql-format, sync-files

Inline test expectations: Rename `tagIsOptional` to `tagIsIgnored`
  rust/ql/test/library-tests/type-inference/type-inference.ql
  shared/util/codeql/util/test/InlineExpectationsTest.qll
Due: codeql-format, sync-files

C#: Address some review comments.
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/SsaImpl.qll
  csharp/ql/test/library-tests/dataflow/callablereturnsarg/Common.qll
  csharp/ql/test/library-tests/dataflow/ssa/IsLiveOutRefParameterDefinition.ql
Due: codeql-format, sync-files

feat: hyphenate AEAD algorithm names
  python/ql/lib/experimental/cryptography/modules/CryptographyModule.qll
Due: codeql-format, sync-files

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
