Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, qhelp

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

C++: Remove unfinished parts for now.
  cpp/ql/src/Security/CWE/CWE-611/XercesXXE.ql
Due: codeql-format

C++: Rename the query file.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XercesXXE.qlref
Due: codeql-format

Python: Move `MatchUnpacking` to own file
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/MatchUnpacking.qll
Due: codeql-format

Python: Move `IterableUnpacking` to own file
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/IterableUnpacking.qll
Due: codeql-format

Python: Autoformat
  python/ql/lib/semmle/python/dataflow/new/internal/IterableUnpacking.qll
  python/ql/lib/semmle/python/dataflow/new/internal/MatchUnpacking.qll
Due: codeql-format

Python: Move dataflow call-graph to new qll file
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatchPointsTo.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Due: codeql-format

C++: Query metadata (precision is provisional, might up it to 'high' later).
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
Due: codeql-format

C++: Copy the qhelp from Javascript.
  cpp/ql/src/Security/CWE/CWE-611/XXE.qhelp
  cpp/ql/src/Security/CWE/CWE-611/XXEBad.cpp
  cpp/ql/src/Security/CWE/CWE-611/XXEGood.cpp
Due: qhelp

update swift package
  misc/bazel/workspace.bzl
  swift/extractor/BUILD.swift-prebuilt.bazel
Due: none

make self repository name parametric
  misc/bazel/workspace.bzl
Due: none

Swift: fetch prebuilt swift and link against it
  misc/bazel/workspace.bzl
  swift/extractor/BUILD.bazel
  swift/extractor/BUILD.swift-prebuilt.bazel
  swift/extractor/main.cpp
Due: none

turn off universal_binaries for now
  swift/extractor/BUILD.bazel
Due: none

C++: Changes to the qhelp.
  cpp/ql/src/Security/CWE/CWE-611/XXE.qhelp
  cpp/ql/src/Security/CWE/CWE-611/XXEBad.cpp
  cpp/ql/src/Security/CWE/CWE-611/XXEGood.cpp
Due: qhelp

C++: Change note.
  cpp/ql/src/change-notes/2022-04-13-pexternal-entity-expansion.md
Due: none

Docs: Fix typo and formatting in "Non-extending subtypes"
  docs/codeql/ql-language-reference/types.rst
Due: none

Ruby: add rc/incomplete-sanitization query
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/String.qll
  ruby/ql/lib/codeql/ruby/regexp/RegExpTreeView.qll
  ruby/ql/src/queries/security/cwe-116/IncompleteSanitization.qhelp
  ruby/ql/src/queries/security/cwe-116/IncompleteSanitization.ql
  ruby/ql/src/queries/security/cwe-116/examples/IncompleteSanitization.rb
  ruby/ql/src/queries/security/cwe-116/examples/IncompleteSanitizationGood.rb
  ruby/ql/test/query-tests/security/cwe-116/BadTagFilter/BadTagFilter.expected
  ruby/ql/test/query-tests/security/cwe-116/BadTagFilter/BadTagFilter.qlref
  ruby/ql/test/query-tests/security/cwe-116/BadTagFilter/test.rb
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/IncompleteSanitization.expected
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/IncompleteSanitization.qlref
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/tst.rb
Due: codeql-format, qhelp

ML: update regression test output following fix to getAnUnknown predicate
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointData.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataEvaluation.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataTraining.expected
Due: none

ML: add regression test for effective sink that is also NotASink
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointData.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataEvaluation.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/ExtractEndpointDataTraining.expected
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_unit_tests/index.js
Due: none

ML: add defensive check to ensure Unknown endpoints cannot also be NotASink
  javascript/ql/experimental/adaptivethreatmodeling/modelbuilding/extraction/ExtractEndpointData.qll
Due: codeql-format

Ruby: improve handling of [g]sub!
  ruby/ql/src/queries/security/cwe-116/IncompleteSanitization.ql
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/IncompleteSanitization.expected
  ruby/ql/test/query-tests/security/cwe-116/IncompleteSanitization/tst.rb
Due: codeql-format

Ruby: add changenote for rb/incomplete-sanitization
  ruby/ql/src/change-notes/2022-04-13-incomplete-sanitization.md
Due: none

C++: Correct and improve some comments and naming.
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests.cpp
Due: codeql-format

remove client-side remote-flow from js/resource-exhaustion
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/resource-exhaustion.js
Due: codeql-format

remove postmessage events as source for js/resource-exhaustion
  javascript/ql/lib/semmle/javascript/security/dataflow/ResourceExhaustionCustomizations.qll
  javascript/ql/test/query-tests/Security/CWE-770/ResourceExhaustion/resource-exhaustion.js
Due: codeql-format

Distinguish between validated and raw COMMENT_ID
  .github/workflows/post-pr-comment.yml
Due: none

Fail workflow if COMMENT_ID fails validation
  .github/workflows/post-pr-comment.yml
Due: none

Pass args to jq via --arg
  .github/workflows/post-pr-comment.yml
Due: none

C++: Use isBarrier rather than isBarrierOut (which is going away).
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
Due: codeql-format

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Due: codeql-format

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Due: codeql-format

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/Xss.qll
Due: codeql-format

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Due: codeql-format

Remove additional path-injection sinks
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Due: codeql-format

Remove additional SQL sinks
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Due: codeql-format

Remove additional Xss sinks
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Due: codeql-format

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
Due: codeql-format

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Due: codeql-format

Swift: cleanup and some docstrings for codegen
  .pre-commit-config.yaml
  swift/codegen/BUILD.bazel
  swift/codegen/codegen.py
  swift/codegen/dbschemegen.py
  swift/codegen/lib/dbscheme.py
  swift/codegen/lib/generator.py
  swift/codegen/lib/options.py
  swift/codegen/lib/paths.py
  swift/codegen/lib/render.py
  swift/codegen/lib/schema.py
  swift/codegen/prefix.dbscheme
  swift/ql/lib/swift.dbscheme
Due: none

Swift: dbscheme generator
  swift/README.md
  swift/codegen/BUILD.bazel
  swift/codegen/codegen.py
  swift/codegen/dbschemegen.py
  swift/codegen/lib/dbscheme.py
  swift/codegen/lib/generator.py
  swift/codegen/lib/paths.py
  swift/codegen/lib/renderer.py
  swift/codegen/lib/schema.py
  swift/codegen/lib/templates/dbscheme.mustache
  swift/codegen/prefix.dbscheme
  swift/codegen/requirements.txt
  swift/codegen/schema.yml
  swift/ql/lib/swift.dbscheme
Due: none

Path conditions:
  codeql-format: any of: \.qll?$, but not: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
  qhelp: any of: \.qhelp$, but not: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
