Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

[TEST] Java: SensitiveCommunication: convert to qlref
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication.expected
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication.ql
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication/SensitiveCommunication.expected
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication/SensitiveCommunication.java
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication/SensitiveCommunication.qlref
  java/ql/test/query-tests/security/CWE-927/SensitiveCommunication/options
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: (Android)SensitiveCommunication
  java/ql/lib/semmle/code/java/security/AndroidSensitiveCommunicationQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: ArithmeticTainted
  java/ql/lib/semmle/code/java/security/ArithmeticTaintedQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: ArithmeticUncontrolled
  java/ql/lib/semmle/code/java/security/ArithmeticUncontrolledQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: ConditionalBypass
  java/ql/lib/semmle/code/java/security/ConditionalBypassQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: UntrustedDataToExternalAPI
  java/ql/lib/semmle/code/java/security/ExternalAPIs.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: ImproperValidationOfArray…
  java/ql/lib/semmle/code/java/security/ImproperValidationOfArrayConstructionCodeSpecifiedQuery.qll
  java/ql/lib/semmle/code/java/security/ImproperValidationOfArrayConstructionQuery.qll
  java/ql/lib/semmle/code/java/security/ImproperValidationOfArrayIndexCodeSpecifiedQuery.qll
  java/ql/lib/semmle/code/java/security/ImproperValidationOfArrayIndexQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: InsecureCookie
  java/ql/lib/semmle/code/java/security/InsecureCookieQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: InsecureLdapAuth
  java/ql/lib/semmle/code/java/security/InsecureLdapAuthQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: LogInjection
  java/ql/lib/semmle/code/java/security/LogInjectionQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: MaybeBrokenCryptoAlgorithm
  java/ql/lib/semmle/code/java/security/MaybeBrokenCryptoAlgorithmQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: SensitiveLogging
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: SqlConcatenated
  java/ql/lib/semmle/code/java/security/SqlConcatenatedQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: TaintedEnvironmentVariable
  java/ql/lib/semmle/code/java/security/TaintedEnvironmentVariableQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: TempDirLocalInformationDisclosure
  java/ql/lib/semmle/code/java/security/TempDirLocalInformationDisclosureQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: TrustBoundaryViolation
  java/ql/lib/semmle/code/java/security/TrustBoundaryViolationQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: UnsafeCertTrust
  java/ql/lib/semmle/code/java/security/UnsafeCertTrustQuery.qll
Due: codeql-format, sync-files

[DIFF-INFORMED] Java: AndroidWebViewSettingsAllowsContentAccess
  java/ql/src/Security/CWE/CWE-200/AndroidWebViewSettingsAllowsContentAccess.ql
Due: codeql-format, sync-files

PS: Change the AST so that an 'EnvVariable' is actually a 'Variable', and make it possible for a 'VarAccess' to target a read/write of an environment variable.
  powershell/ql/lib/semmle/code/powershell/ast/internal/ChildIndex.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/EnvVariable.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/Synthesis.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/TAst.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/Variable.qll
  powershell/ql/lib/semmle/code/powershell/controlflow/CfgNodes.qll
  powershell/ql/lib/semmle/code/powershell/controlflow/internal/ControlFlowGraphImpl.qll
  powershell/ql/lib/semmle/code/powershell/dataflow/flowsources/Local.qll
Due: codeql-format, sync-files

PS: Add test cases.
  powershell/ql/test/library-tests/dataflow/global/test.expected
  powershell/ql/test/library-tests/dataflow/global/test.ps1
  powershell/ql/test/library-tests/dataflow/global/test.ql
Due: codeql-format, sync-files

PS: Implement global dataflow for environment variable write/reads.
  powershell/ql/lib/semmle/code/powershell/dataflow/Ssa.qll
  powershell/ql/lib/semmle/code/powershell/dataflow/internal/DataFlowPrivate.qll
  powershell/ql/lib/semmle/code/powershell/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

PS: Accept test changes.
  powershell/ql/test/library-tests/dataflow/global/test.expected
  powershell/ql/test/library-tests/dataflow/global/test.ps1
Due: none

PS: Add tests showing that there is no flow starting at environment variables, but we still have flow through them.
  powershell/ql/lib/semmle/code/powershell/security/CommandInjectionCustomizations.qll
  powershell/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
  powershell/ql/test/query-tests/security/cwe-078/CommandInjection/test.ps1
Due: codeql-format, sync-files

updated .expected test file
  powershell/ql/test/query-tests/security/cwe-502/UnsafeDeserialization.expected
Due: none

Undo module deprecation (used by another quality query)
  python/ql/src/Exceptions/NotImplemented.qll
Due: codeql-format, sync-files

Update python/ql/src/Exceptions/NotImplementedIsNotAnException.qhelp
  python/ql/src/Exceptions/NotImplementedIsNotAnException.qhelp
Due: sync-files, qhelp

Update test output
  python/ql/test/query-tests/Exceptions/general/NotImplementedIsNotAnException.expected
Due: none

Java: copy out of experimental
  java/ql/src/Security/CWE/CWE-200/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.qhelp
  java/ql/src/Security/CWE/CWE-200/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.ql
  java/ql/src/Security/CWE/CWE-200/InsecureSpringActuatorConfig/application.properties
  java/ql/src/Security/CWE/CWE-200/InsecureSpringActuatorConfig/pom_bad.xml
  java/ql/src/Security/CWE/CWE-200/InsecureSpringActuatorConfig/pom_good.xml
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.qlref
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/SensitiveInfo.java
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/application.properties
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/options
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/pom.xml
Due: codeql-format, sync-files, qhelp

Java: remove experimental files
  java/ql/src/experimental/Security/CWE/CWE-016/InsecureSpringActuatorConfig.qhelp
  java/ql/src/experimental/Security/CWE/CWE-016/InsecureSpringActuatorConfig.ql
  java/ql/src/experimental/Security/CWE/CWE-016/application.properties
  java/ql/src/experimental/Security/CWE/CWE-016/pom_bad.xml
  java/ql/src/experimental/Security/CWE/CWE-016/pom_good.xml
  java/ql/test/experimental/query-tests/security/CWE-016/InsecureSpringActuatorConfig.expected
  java/ql/test/experimental/query-tests/security/CWE-016/InsecureSpringActuatorConfig.qlref
  java/ql/test/experimental/query-tests/security/CWE-016/SensitiveInfo.java
  java/ql/test/experimental/query-tests/security/CWE-016/application.properties
  java/ql/test/experimental/query-tests/security/CWE-016/options
  java/ql/test/experimental/query-tests/security/CWE-016/pom.xml
Due: codeql-format, sync-files, qhelp

Java: remove deprecation
  java/ql/src/Security/CWE/CWE-200/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.ql
Due: codeql-format, sync-files

Java: update tests for non-experimental directory
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.qlref
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/options
Due: none

Java: convert tests to inline expectations
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.qlref
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/pom.xml
Due: none

Java: fix integration tests
  java/ql/integration-tests/java/query-suite/java-code-scanning.qls.expected
  java/ql/integration-tests/java/query-suite/java-security-and-quality.qls.expected
  java/ql/integration-tests/java/query-suite/java-security-extended.qls.expected
  java/ql/integration-tests/java/query-suite/not_included_in_qls.expected
Due: none

Java: move code to .qll file
  java/ql/lib/semmle/code/java/security/SpringBootActuatorsConfigQuery.qll
  java/ql/src/Security/CWE/CWE-200/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.ql
Due: codeql-format, sync-files

Java: split tests by versions
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.expected
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version1.4-/bad/default/application.properties
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version1.4-/bad/default/pom.xml
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version1.4-/bad/false/application.properties
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version1.4-/bad/false/pom.xml
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version1.4-/good/application.properties
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version1.4-/good/pom.xml
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version1.5/bad/application.properties
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version1.5/bad/pom.xml
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version1.5/good/application.properties
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version1.5/good/pom.xml
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version2+/application.properties
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version2+/bad/application.properties
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version2+/bad/pom.xml
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version2+/good/application.properties
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/Version2+/good/pom.xml
Due: none

Java: fix test case for version 1.4
  java/ql/lib/semmle/code/java/security/SpringBootActuatorsConfigQuery.qll
  java/ql/src/Security/CWE/CWE-200/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.ql
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.expected
Due: codeql-format, sync-files

Java: add overlay annotations
  java/ql/lib/semmle/code/java/security/SpringBootActuatorsConfigQuery.qll
Due: codeql-format, sync-files

Java: add related location to alert message
  java/ql/lib/semmle/code/java/security/SpringBootActuatorsConfigQuery.qll
  java/ql/src/Security/CWE/CWE-200/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.ql
  java/ql/test/query-tests/security/CWE-200/semmle/tests/InsecureSpringActuatorConfig/InsecureSpringActuatorConfig.expected
Due: codeql-format, sync-files

Rust: Add type inference for `dyn` types
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/internal/DynTraitTypeReprImpl.qll
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/lib/codeql/rust/internal/TypeMention.qll
  rust/ql/test/library-tests/type-inference/dyn_type.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/query-tests/security/CWE-825/CONSISTENCY/PathResolutionConsistency.expected
Due: codeql-format, sync-files, rust-codegen
