Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

Add jump steps for summarized callables
  java/ql/lib/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowNodes.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowPrivate.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
Due: codeql-format, sync-files

Extract logical not expression
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/exprs/CONSISTENCY/javaEquivalent.expected
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/exprs/unaryOp.expected
Due: none

Extract bit not expression
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/exprs/CONSISTENCY/javaEquivalent.expected
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
  java/ql/test/kotlin/library-tests/exprs/unaryOp.expected
Due: none

Add annotation element names
  java/ql/src/utils/stub-generator/Stubs.qll
Due: codeql-format, sync-files

Handle more annotation element value types
  java/ql/src/utils/stub-generator/Stubs.qll
Due: codeql-format, sync-files

Fix typo
  java/ql/src/utils/stub-generator/Stubs.qll
Due: codeql-format, sync-files

Add support for Annotation types stub generation
  java/ql/src/utils/stub-generator/MinimalStubsFromSource.ql
  java/ql/src/utils/stub-generator/Stubs.qll
  java/ql/src/utils/stub-generator/makeStubs.py
Due: codeql-format, sync-files

Fix annotation vs interface keyword stubbing
  java/ql/src/utils/stub-generator/Stubs.qll
Due: codeql-format, sync-files

Use monotonicAggregates to avoid non-monotonic recursions
  java/ql/src/utils/stub-generator/Stubs.qll
Due: codeql-format, sync-files

Add stub generation tests
  java/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
  java/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.qlref
  java/ql/test/query-tests/Stubs/Minimal/Test.java
  java/ql/test/query-tests/Stubs/Minimal/options
  java/ql/test/query-tests/Stubs/Minimal/testlib.jar
  java/ql/test/query-tests/Stubs/testlib/README.md
  java/ql/test/query-tests/Stubs/testlib/generate.sh
  java/ql/test/query-tests/Stubs/testlib/org/test/SampleAnnotationType.java
  java/ql/test/query-tests/Stubs/testlib/org/test/SampleType.java
Due: none

Use empty string as default value for string annotation values
  java/ql/src/utils/stub-generator/Stubs.qll
Due: codeql-format, sync-files

If an annotation value is an array, order its elements by index
  java/ql/src/utils/stub-generator/Stubs.qll
Due: codeql-format, sync-files

Apply code review suggestions
  java/ql/src/utils/stub-generator/Stubs.qll
Due: codeql-format, sync-files

Apply review suggestions
  java/ql/src/utils/stub-generator/Stubs.qll
  java/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
Due: codeql-format, sync-files

Update docs/codeql/writing-codeql-queries/about-codeql-queries.rst
  docs/codeql/writing-codeql-queries/about-codeql-queries.rst
Due: none

Only log once the missing java-kotlin method mapping warnings
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/controlflow/dominance/CONSISTENCY/javaEquivalent.expected
  java/ql/test/kotlin/library-tests/exprs/CONSISTENCY/javaEquivalent.expected
Due: none

Accept integration test changes
  java/ql/integration-tests/posix-only/kotlin/gradle_kotlinx_serialization/PrintAst.expected
Due: none

fix formatting issue raised by ql-format
  swift/ql/src/queries/Security/ECB-Encryption/ECBEncryption.ql
Due: codeql-format, sync-files

C#: Dynamically create summaries for library code, where we not already have any summaries.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

C#: Make copy of type based model generator.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/CaptureModels.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/CaptureModelsSpecific.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

C#: Only include part of the implementation.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/CaptureModels.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/CaptureModelsSpecific.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

C#: Only callables which has at least on type based callable should be considered a TypeBasedSummarizedCallable.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

Code quality improvements
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/Iterable.kt
Due: none

Fix stub generator
  java/ql/src/utils/stub-generator/Stubs.qll
  java/ql/test/query-tests/Stubs/Minimal/MinimalStubsFromSource.expected
Due: codeql-format, sync-files

PrintAst: reliably sort function overloads
  java/ql/lib/semmle/code/java/PrintAst.qll
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
Due: codeql-format, sync-files

Kotlin: Implement JvmOverloads annotation
  java/kotlin-extractor/src/main/kotlin/ExternalDeclExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/User.java
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.expected
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.kt
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.py
  java/ql/integration-tests/posix-only/kotlin/jvmoverloads_flow/test.ql
  java/ql/lib/semmle/code/java/Element.qll
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/PrintAst.expected
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/PrintAst.qlref
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/test.expected
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/test.kt
  java/ql/test/kotlin/library-tests/jvmoverloads-annotation/test.ql
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/User.java
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/test.expected
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/test.kt
  java/ql/test/kotlin/library-tests/jvmoverloads_flow/test.ql
  java/ql/test/kotlin/library-tests/jvmoverloads_generics/User.java
  java/ql/test/kotlin/library-tests/jvmoverloads_generics/test.expected
  java/ql/test/kotlin/library-tests/jvmoverloads_generics/test.kt
  java/ql/test/kotlin/library-tests/jvmoverloads_generics/test.ql
Due: codeql-format, sync-files

Add exported requirement to ContentProvider permissions test
  java/ql/test/query-tests/security/CWE-276/android/incomplete_provider_permissions/ContentProviderIncompletePermissionsTest.ql
Due: codeql-format, sync-files

Kotlin: Make MiniStdLib more closely match the real stdlib
  java/ql/test/kotlin/library-tests/ministdlib/MiniStdLib.kt
Due: none

Documentation fix for `hasIncompletePermissions`
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
Due: codeql-format, sync-files

Remove redundant documentation
  java/ql/src/Security/CWE/CWE-276/ContentProviderIncompletePermissions.qhelp
Due: sync-files, qhelp

Add mention of content provider in query description
  java/ql/src/Security/CWE/CWE-276/ContentProviderIncompletePermissions.ql
Due: codeql-format, sync-files

Added query change note
  java/ql/src/change-notes/2022-09-29-contentprovider-incomplete-permissions.md
Due: none

Merge ContentProvider tests into one manifest
  java/ql/test/query-tests/security/CWE-276/android/incomplete_provider_permissions/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-276/android/incomplete_provider_permissions/TestFull/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-276/android/incomplete_provider_permissions/TestReadOnly/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-276/android/incomplete_provider_permissions/TestReadWrite/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-276/android/incomplete_provider_permissions/TestWriteOnly/AndroidManifest.xml
Due: none

Update query description to better describe issue
  java/ql/src/Security/CWE/CWE-276/ContentProviderIncompletePermissions.ql
Due: codeql-format, sync-files

Update query-metadata-style-guide.md
  docs/query-metadata-style-guide.md
Due: none

java guidance: experimental version of exectainted
  java/ql/src/experimental/Security/CWE/CWE-078/ExecTainted.java
  java/ql/src/experimental/Security/CWE/CWE-078/ExecTainted.qhelp
Due: sync-files, qhelp

Ruby: Cache more type tracking predicates
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
Due: codeql-format, sync-files

Sync files
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
