Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

C++: Test for destructors in declaration as `if` condition
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Due: none

Updating change-notes to reflect what will be the visible change to end users
  javascript/ql/lib/change-notes/2024-01-30-certification_not_certificate.md
  python/ql/lib/change-notes/2024-01-30-certification_not_certificate.md
  ruby/ql/lib/change-notes/2024-01-30-certification_not_certificate.md
  swift/ql/lib/change-notes/2024-01-30-certification_not_certificate.md
Due: none

Incremental update to NonConstantFormat.ql
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
  cpp/ql/test/query-tests/Likely Bugs/Format/NonConstantFormat/NonConstantFormat.expected
Due: codeql-format, sync-files

Removing comments and formatting.
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
Due: codeql-format, sync-files

Add .gitignore
  .gitignore
Due: none

Do not compress local flow steps
  ql/lib/codeql/actions/dataflow/internal/DataFlowImplSpecific.qll
  ql/lib/codeql/actions/dataflow/internal/DataFlowPrivate.qll
  ql/src/Security/CWE-094/ExpressionInjection.ql
Due: codeql-format, sync-files

Add testproj to gitignore
  .gitignore
Due: none

Update build test db script
  build-dbs.sh
Due: none

add cs/path-injection as markdown to make nicer diffs
  csharp/ql/src/Security Features/CWE-022/TaintedPath.md
Due: none

move qhelp samples to an `examples` folder
  csharp/ql/src/Security Features/CWE-022/TaintedPath.qhelp
  csharp/ql/src/Security Features/CWE-022/ZipSlip.qhelp
  csharp/ql/src/Security Features/CWE-022/examples/TaintedPath.cs
  csharp/ql/src/Security Features/CWE-022/examples/ZipSlipBad.cs
  csharp/ql/src/Security Features/CWE-022/examples/ZipSlipGood.cs
Due: sync-files, qhelp

Ruby: Add docs for MaD
  docs/codeql/codeql-language-guides/customizing-library-models-for-ruby.rst
Due: none

Ruby: Fix title underline
  docs/codeql/codeql-language-guides/customizing-library-models-for-ruby.rst
Due: none

copy (and adjust) the path-injection QHelp from Java to C#
  csharp/ql/src/Security Features/CWE-022/TaintedPath.qhelp
  csharp/ql/src/Security Features/CWE-022/examples/TaintedPath.cs
  csharp/ql/src/Security Features/CWE-022/examples/TaintedPathGoodFolder.cs
  csharp/ql/src/Security Features/CWE-022/examples/TaintedPathGoodNormalize.cs
Due: sync-files, qhelp

generate the new rendered markdown
  csharp/ql/src/Security Features/CWE-022/TaintedPath.md
Due: none

C#: Extract dependency restore telemetry data
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackages.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Program.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/StandaloneAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Tuples.cs
  csharp/extractor/Semmle.Extraction/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/StandaloneExtractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/TracingExtractor.cs
  csharp/ql/lib/semmle/code/csharp/commons/Compilation.qll
  csharp/ql/lib/semmlecode.csharp.dbscheme
  csharp/ql/src/Telemetry/ExtractorInformation.ql
Due: codeql-format, sync-files

fix test
  ql/src/test/test.yml
Due: none

Add DB upgrade downgrade script
  csharp/downgrades/c9ee11bd1ee96e925a35cedff000be924634447f/old.dbscheme
  csharp/downgrades/c9ee11bd1ee96e925a35cedff000be924634447f/semmlecode.csharp.dbscheme
  csharp/downgrades/c9ee11bd1ee96e925a35cedff000be924634447f/upgrade.properties
  csharp/ql/lib/upgrades/f145a9a7275c8f457b392b2ebc9f8e07960a0ed2/old.dbscheme
  csharp/ql/lib/upgrades/f145a9a7275c8f457b392b2ebc9f8e07960a0ed2/semmlecode.csharp.dbscheme
  csharp/ql/lib/upgrades/f145a9a7275c8f457b392b2ebc9f8e07960a0ed2/upgrade.properties
Due: none

Add change note
  csharp/ql/lib/change-notes/2024-02-05-compilation-info.md
Due: none

Remove superfluous conjunct to improve code quality
  csharp/ql/src/Telemetry/ExtractorInformation.ql
Due: codeql-format, sync-files

delete the rendered markdown again
  csharp/ql/src/Security Features/CWE-022/TaintedPath.md
Due: none

Revert unneeded changes and simplify code
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/NugetPackages.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Program.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
Due: none

Update GetText.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/GetText.qll
Due: codeql-format, sync-files

Update NonConstantFormat.ql
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
Due: codeql-format, sync-files

Ruby: Move mysql model, model half of rack
  .github/codeql/extensions/httparty-ruby/codeql-pack.yml
  .github/codeql/extensions/httparty-ruby/models/httparty.model.yml
  .github/codeql/extensions/rack-ruby/models/rack.model.yml
Due: none

Ruby: Add model for carrierwave
  ruby/ql/lib/codeql/ruby/frameworks/carrierwave/model.yml
Due: none

Ruby: Add rack model
  ruby/ql/lib/codeql/ruby/frameworks/rack/model.yml
Due: none

Ruby: Add partial model for httparty
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/httparty/model.yml
Due: none

Switch from details string to DataFlow::Node
  ruby/ql/src/utils/modeleditor/FrameworkModeAccessPaths.ql
  ruby/ql/test/query-tests/utils/modeleditor/FrameworkModeAccessPaths.expected
Due: codeql-format, sync-files

Rename details to node
  ruby/ql/src/utils/modeleditor/FrameworkModeAccessPaths.ql
Due: codeql-format, sync-files

Ruby: Recognise more ActiveRecord connections
  ruby/ql/lib/codeql/ruby/frameworks/ActiveRecord.qll
  ruby/ql/test/library-tests/frameworks/active_record/ActiveRecord.expected
  ruby/ql/test/library-tests/frameworks/active_record/ActiveRecord.rb
Due: codeql-format, sync-files

Refactor AST layer
  ql/lib/codeql/actions/Ast.qll
  ql/lib/codeql/actions/controlflow/internal/Cfg.qll
  ql/lib/codeql/actions/dataflow/FlowSources.qll
  ql/lib/codeql/actions/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

gettext variant dataflow tests
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Due: none

Added change log
  cpp/ql/src/change-notes/2024-02-05-gettext-dataflows.md
Due: none

C++: add test for constructors in C++17 decl-in-if
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Due: none

C++: QLDoc and naming updates for implicit destructors in IR
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCondition.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedDeclarationEntry.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedGlobalVar.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedInitialization.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
Due: codeql-format, sync-files

Update DB stats
  csharp/ql/lib/semmlecode.csharp.dbscheme.stats
Due: none

use the correct string type in the tainted-path examples
  csharp/ql/src/Security Features/CWE-022/examples/TaintedPath.cs
  csharp/ql/src/Security Features/CWE-022/examples/TaintedPathGoodFolder.cs
  csharp/ql/src/Security Features/CWE-022/examples/TaintedPathGoodNormalize.cs
Due: none

add a definition of user
  csharp/ql/src/Security Features/CWE-022/examples/TaintedPathGoodFolder.cs
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
