Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Add `GITHUB_TOKEN`
  action.yml
Due: none

Add df-manual models in manually modeled classes
  java/ql/lib/ext/java.io.model.yml
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/java.util.model.yml
Due: none

Refactor queries
  ql/lib/codeql/actions/security/CodeInjectionQuery.qll
  ql/lib/codeql/actions/security/CommandInjectionQuery.qll
  ql/lib/codeql/actions/security/RequestForgeryQuery.qll
  ql/lib/ext/TEST-RW-MODELS.model.yml
  ql/src/Security/CWE-020/CompositeActionsSinks.ql
  ql/src/Security/CWE-020/ReusableWorkflowsSinks.ql
  ql/src/Security/CWE-078/CommandInjection.ql
  ql/src/Security/CWE-078/CriticalCommandInjection.ql
  ql/src/Security/CWE-078/PrivilegedCommandInjection.ql
  ql/src/Security/CWE-094/CodeInjection.ql
  ql/src/Security/CWE-094/CriticalCodeInjection.ql
  ql/src/Security/CWE-094/CriticalExpressionInjection.ql
  ql/src/Security/CWE-094/ExpressionInjection.ql
  ql/src/Security/CWE-094/PrivilegedCodeInjection.ql
  ql/src/Security/CWE-918/RequestForgery.ql
  ql/test/query-tests/Security/CWE-078/CriticalCommandInjection.expected
  ql/test/query-tests/Security/CWE-078/CriticalCommandInjection.qlref
  ql/test/query-tests/Security/CWE-078/PrivilegedCommandInjection.expected
  ql/test/query-tests/Security/CWE-078/PrivilegedCommandInjection.qlref
  ql/test/query-tests/Security/CWE-094/CodeInjection.expected
  ql/test/query-tests/Security/CWE-094/CriticalCodeInjection.expected
  ql/test/query-tests/Security/CWE-094/CriticalCodeInjection.qlref
  ql/test/query-tests/Security/CWE-094/CriticalExpressionInjection.expected
  ql/test/query-tests/Security/CWE-094/CriticalExpressionInjection.qlref
  ql/test/query-tests/Security/CWE-094/ExpressionInjection.expected
  ql/test/query-tests/Security/CWE-094/ExpressionInjection.qlref
  ql/test/query-tests/Security/CWE-094/PrivilegedCodeInjection.expected
  ql/test/query-tests/Security/CWE-094/PrivilegedCodeInjection.qlref
Due: codeql-format, sync-files

Fix tokens
  action.yml
Due: none

Go: Mention raw string iterals in QHelp for `go/incomplete-hostname-regexp`.
  go/ql/src/Security/CWE-020/IncompleteHostnameRegexp.qhelp
  go/ql/src/Security/CWE-020/IncompleteHostnameRegexpGood2.go
Due: sync-files, qhelp

Better fix
  java/ql/lib/semmle/code/java/security/UrlForward.qll
Due: codeql-format, sync-files

C++: Make the vector and iterator classes in 'ir.cpp' more realistic. This matches the one we use for dataflow tests.
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Due: none

C++: Implement alias and side effect models for iterators.
  cpp/ql/lib/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Due: codeql-format, sync-files

Bump versions
  ql/lib/qlpack.yml
  ql/src/qlpack.yml
Due: none

fix(fn): Apply json wrappers to source regexps
  ql/lib/codeql/actions/Ast.qll
  ql/lib/codeql/actions/ast/internal/Ast.qll
  ql/lib/codeql/actions/dataflow/FlowSources.qll
  ql/test/query-tests/Security/CWE-094/.github/workflows/json_wrap.yml
  ql/test/query-tests/Security/CWE-094/CodeInjection.expected
  ql/test/query-tests/Security/CWE-094/PrivilegedCodeInjection.expected
Due: codeql-format, sync-files

Remove unnecessary boundary anchors
  ql/lib/codeql/actions/Ast.qll
  ql/lib/codeql/actions/dataflow/FlowSources.qll
Due: codeql-format, sync-files

Fix UnicodeDoS vulnerability in CWE-770
  python/ql/src/experimental/Security/CWE-770/UnicodeDoS.ql
Due: codeql-format, sync-files

Add some comments and docs
  python/ql/src/experimental/Security/CWE-770/UnicodeDoS.ql
Due: codeql-format, sync-files

use of a single var "op" of type Cmpop
  python/ql/src/experimental/Security/CWE-770/UnicodeDoS.ql
Due: codeql-format, sync-files

Update request parameter name in good_1() function
  python/ql/src/experimental/Security/CWE-770/good.py
Due: none

Add Unicode DoS (CWE-770)
  python/ql/src/experimental/Security/CWE-770/UnicodeDoS.qhelp
  python/ql/src/experimental/Security/CWE-770/UnicodeDoS.ql
  python/ql/src/experimental/Security/CWE-770/bad.py
  python/ql/src/experimental/Security/CWE-770/good.py
  python/ql/test/experimental/query-tests/Security/CWE-770/UnicodeDoS.expected
  python/ql/test/experimental/query-tests/Security/CWE-770/UnicodeDoS.qlref
  python/ql/test/experimental/query-tests/Security/CWE-770/tests.py
Due: codeql-format, sync-files, qhelp

Update the expected file
  python/ql/test/experimental/query-tests/Security/CWE-770/UnicodeDoS.expected
Due: none

Add routes for bad_5 and bad_6, and fix routes for good_3 and good_4
  python/ql/test/experimental/query-tests/Security/CWE-770/tests.py
Due: none

Add UnicodeDoS sink for werkzeug secure_filename
  python/ql/src/experimental/Security/CWE-770/UnicodeDoS.ql
Due: codeql-format, sync-files

Update python/ql/src/experimental/Security/CWE-770/UnicodeDoS.ql
  python/ql/src/experimental/Security/CWE-770/UnicodeDoS.ql
Due: codeql-format, sync-files

Refactor Unicode normalization code
  python/ql/src/experimental/Security/CWE-770/UnicodeDoS.ql
Due: codeql-format, sync-files

Fix p tag in UnicodeDoS.qhelp
  python/ql/src/experimental/Security/CWE-770/UnicodeDoS.qhelp
Due: sync-files, qhelp

Fix UnicodeDoS vulnerability in CWE-770 code
  python/ql/src/experimental/Security/CWE-770/UnicodeDoS.ql
Due: codeql-format, sync-files

Try to fix `actions-all` suite
  ql/src/codeql-suites/actions-all.qls
Due: none

C++: Expose some previously private classes from our models so they can be used in queries.
  cpp/ql/lib/semmle/code/cpp/models/implementations/Iterator.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdContainer.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/StdMap.qll
Due: codeql-format, sync-files

C++: Add a new experimental query ' cpp/iterator-to-expired-container'.
  cpp/ql/src/experimental/Security/CWE/CWE-416/IteratorToExpiredContainer.ql
Due: codeql-format, sync-files

Update names and qldoc for params taint predicates
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
Due: codeql-format, sync-files

Make action download `actions-all`
  .github/action/src/codeql.ts
Due: none

C++: Add switches as testcases for guard conditions.
  cpp/ql/test/library-tests/controlflow/guards/test.cpp
Due: none

C++: Include 'SwitchInstruction's as 'IRGuardCondition's.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

C++: Add more general public predicates to work with abstract values.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

C++: Introduce 'AbstractValue' similar to what C# has.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

C++: Convert 'getBranchSuccessor' to use abstract values.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/controlflow/guards/Guards.expected
Due: none

C++: Change the testcase so that it outputs the controlling values for switch statements as well.
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.ql
Due: codeql-format, sync-files

C++: Add change note.
  cpp/ql/lib/change-notes/2024-03-15-switches-in-guard-conditions.md
Due: none

C++: Fix QLoc.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

C++: Add tests for 'cpp/iterator-to-expired-container'.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/IteratorToExpiredContainer.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/IteratorToExpiredContainer.qlref
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/test.cpp
Due: none

C++: Add qhelp for 'cpp/iterator-to-expired-container'.
  cpp/ql/src/experimental/Security/CWE/CWE-416/IteratorToExpiredContainer.qhelp
  cpp/ql/src/experimental/Security/CWE/CWE-416/IteratorToExpiredContainerExtendedLifetime.cpp
Due: sync-files, qhelp

C++: Run tests without the extractor and analysis changes.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-416/IteratorToExpiredContainer.expected
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
