Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Fix typo in qll.
  python/ql/lib/semmle/python/frameworks/Flask.qll
Due: codeql-format, sync-files

Fix code review findings
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FilePathFilter.cs
Due: none

Address more review comments
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  shared/dataflow/codeql/dataflow/internal/AccessPathSyntax.qll
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

C#: Rename getMethodName to getEndpointName
  csharp/ql/src/utils/modeleditor/ApplicationModeEndpoints.ql
  csharp/ql/src/utils/modeleditor/FrameworkModeEndpoints.ql
  csharp/ql/src/utils/modeleditor/ModelEditor.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  shared/dataflow/codeql/dataflow/test/InlineFlowTest.qll
Due: codeql-format, sync-files

Python: add missing annotation
  python/ql/test/experimental/dataflow/variable-capture/in.py
Due: none

Python: further restrict `LibraryLambdaMethod`
  python/ql/lib/semmle/python/dataflow/new/FlowSummary.qll
Due: codeql-format, sync-files

Python: support callbacks to library calls
  python/ql/lib/semmle/python/dataflow/new/FlowSummary.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImplSpecific.qll
  python/ql/test/experimental/dataflow/variable-capture/test_library_calls.py
Due: codeql-format, sync-files

Python: restrict `LibraryLambdaMethod`
  python/ql/lib/semmle/python/dataflow/new/FlowSummary.qll
Due: codeql-format, sync-files

Python: test callbacks to library calls
  python/ql/test/experimental/dataflow/validTest.py
  python/ql/test/experimental/dataflow/variable-capture/test_library_calls.py
Due: none

Python: exclude `CaptureNode`s
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
Due: codeql-format, sync-files

Python: add consistency exclusions
  python/ql/consistency-queries/DataFlowConsistency.ql
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplConsistency.qll
Due: codeql-format, sync-files

Python: exclusion for summary nodes
  python/ql/consistency-queries/DataFlowConsistency.ql
Due: codeql-format, sync-files

Python: filter local flow from a node to itself
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Python: typo
  python/ql/consistency-queries/DataFlowConsistency.ql
Due: codeql-format, sync-files

Python: allow `CaptureArgumentNode`s as multiple arguemnts
  python/ql/consistency-queries/DataFlowConsistency.ql
Due: codeql-format, sync-files

Python: fix nonlocal captured variables This depends on the extractor fix
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/experimental/dataflow/variable-capture/nonlocal.py
Due: codeql-format, sync-files

Temporarily run the standalone extractor instead of autobuilding
  csharp/tools/autobuild.sh
Due: none

Python: add consistency exception this must have been lost in my clean-up rebase.
  python/ql/test/library-tests/PointsTo/comparisons/CONSISTENCY/DataFlowConsistency.expected
Due: none

Python: update to new API update is in a comment, so compilation never failed in CI.
  python/ql/test/experimental/meta/debug/InlineTaintTestPaths.ql
Due: codeql-format, sync-files

Type tracking: Allow for a non-standard `flowsTo` predicate
  shared/typetracking/codeql/typetracking/TypeTracking.qll
  shared/typetracking/codeql/typetracking/internal/TypeTrackingImpl.qll
Due: codeql-format, sync-files

rename extractor environment variable to `CODEQL_EXTRACTOR_JAVASCRIPT_OPTION_SKIP_TYPES`
  javascript/extractor/lib/typescript/src/main.ts
Due: none

Python: Adopt shared type tracking library
  python/ql/lib/experimental/cryptography/utils/CallCfgNodeWithTarget.qll
  python/ql/lib/semmle/python/dataflow/new/TypeTracker.qll
  python/ql/lib/semmle/python/dataflow/new/TypeTracking.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
  python/ql/lib/semmle/python/dataflow/new/internal/LocalSources.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackerSpecific.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackingImpl.qll
  python/ql/lib/semmle/python/internal/CachedStages.qll
  python/ql/lib/semmle/python/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  python/ql/test/experimental/dataflow/summaries/TestSummaries.qll
  python/ql/test/experimental/dataflow/typetracking-summaries/TestSummaries.qll
  python/ql/test/experimental/dataflow/typetracking-summaries/tracked.ql
  python/ql/test/experimental/dataflow/typetracking/moduleattr.ql
  python/ql/test/experimental/dataflow/typetracking/tracked.ql
Due: codeql-format, sync-files

Copy `SummaryTypeTracker.qll` to `typetracking` pack
  shared/typetracking/codeql/typetracking/internal/SummaryTypeTracker.qll
Due: codeql-format, sync-files

Python/Ruby: Use `SummaryTypeTracker` from `typetracking` pack
  config/identical-files.json
  python/ql/lib/semmle/python/dataflow/new/internal/SummaryTypeTracker.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackingImpl.qll
  ruby/ql/lib/codeql/ruby/typetracking/internal/SummaryTypeTracker.qll
  ruby/ql/lib/codeql/ruby/typetracking/internal/TypeTrackingImpl.qll
  shared/typetracking/codeql/typetracking/internal/SummaryTypeTracker.qll
Due: codeql-format, sync-files

Add change note
  python/ql/lib/change-notes/2023-11-21-new-type-tracking-lib.md
Due: none

update expected file
  go/ql/src/experimental/CWE-525/WebCacheDeception.expected
Due: none

update camelcase
  go/ql/src/experimental/CWE-525/WebCacheDeceptionLib.qll
Due: codeql-format, sync-files

C#: Move the generator class to a helper file.
  csharp/scripts/stubs/helpers.py
  csharp/scripts/stubs/make_stubs_nuget.py
Due: none

C#: Re-factor the make_stubs_nuget script to more easily allow multiple nuget references.
  csharp/scripts/stubs/make_stubs_nuget.py
Due: none

Swift: Comment out lines that don't extract correctly right now.
  swift/ql/test/library-tests/dataflow/taint/libraries/unsafepointer.swift
Due: sync-files

Python: Remove `@tags meta` from internal debug queries
  python/ql/src/meta/analysis-quality/TTCallGraph.ql
  python/ql/src/meta/analysis-quality/TTCallGraphMissing.ql
  python/ql/src/meta/analysis-quality/TTCallGraphNew.ql
  python/ql/src/meta/analysis-quality/TTCallGraphNewAmbiguous.ql
  python/ql/src/meta/analysis-quality/TTCallGraphShared.ql
Due: codeql-format, sync-files

fix the parsing of boolean environment variables in the TypeScript extractor
  javascript/extractor/lib/typescript/src/main.ts
Due: none

Apply suggestions from code review
  python/ql/lib/semmle/python/Flow.qll
Due: codeql-format, sync-files

use direct string comparison instead, that doesn't crash on invalid values
  javascript/extractor/lib/typescript/src/main.ts
Due: none

Revert "Revert "Swift: CommonCrypto test cases for the BrokenCryptoAlgorithm query""
  swift/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.expected
  swift/ql/test/query-tests/Security/CWE-327/BrokenCryptoAlgorithm.qlref.disabled
  swift/ql/test/query-tests/Security/CWE-327/test_commoncrypto.swift
Due: sync-files

Dataflow: Deprecate FlowStateString.
  shared/dataflow/codeql/dataflow/internal/DataFlowImplCommon.qll
Due: codeql-format, sync-files

Python: Remove references to FlowStateString.
  python/ql/lib/semmle/python/security/dataflow/PathInjectionQuery.qll
  python/ql/src/experimental/Security/CWE-176/UnicodeBypassValidationQuery.qll
Due: codeql-format, sync-files

Dataflow: deprecate references
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl1.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl1.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl1.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl1.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl1.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl1.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl1.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl1.qll
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
