Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

Add Go Stubs for LibXML2
  go/ql/test/query-tests/Security/CWE-643/go.mod
  go/ql/test/query-tests/Security/CWE-643/vendor/github.com/lestrrat-go/libxml2/stub.go
  go/ql/test/query-tests/Security/CWE-643/vendor/modules.txt
Due: none

CPP: Add query for detecting invalid uses of temporary unique pointers.
  cpp/ql/src/Security/CWE/CWE-416/Temporaries.qll
  cpp/ql/src/Security/CWE/CWE-416/UseOfStringAfterLifetimeEnds.ql
  cpp/ql/src/Security/CWE/CWE-416/UseOfUniquePointerAfterLifetimeEnds.qhelp
  cpp/ql/src/Security/CWE/CWE-416/UseOfUniquePointerAfterLifetimeEnds.ql
  cpp/ql/src/Security/CWE/CWE-416/UseOfUniquePointerAfterLifetimeEndsBad.cpp
  cpp/ql/src/Security/CWE/CWE-416/UseOfUniquePointerAfterLifetimeEndsGood.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfUniquePtrAfterLifetimeEnds/UseOfUniquePointerAfterLifetimeEnds.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfUniquePtrAfterLifetimeEnds/UseOfUniquePointerAfterLifetimeEnds.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfUniquePtrAfterLifetimeEnds/test.cpp
Due: codeql-format, sync-files, qhelp

CPP: Add change note for cpp/use-of-uniwue-pointer-after-lifetime-ends
  cpp/ql/src/change-notes/2023-12-12-use-of-unique-pointer-after-lifetime-ends.md
Due: none

Java: Fix FPs in Missing certificate pinning
  java/ql/lib/semmle/code/java/security/AndroidCertificatePinningQuery.qll
  java/ql/src/change-notes/2023-12-12-android-certificate-pinning-precision.md
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test1/Test.java
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test2/Test.java
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test3/Test.java
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test4/Test.java
  java/ql/test/query-tests/security/CWE-295/AndroidMissingCertificatePinning/Test5/Test.java
Due: codeql-format, sync-files

CPP: Apply suggestions from code review
  cpp/ql/src/Security/CWE/CWE-416/UseOfUniquePointerAfterLifetimeEnds.ql
  cpp/ql/src/change-notes/2023-12-12-use-of-unique-pointer-after-lifetime-ends.md
Due: codeql-format, sync-files

Remove database directory and add WebCacheDeceptionLib.qll
  go/ql/src/experimental/CWE-525/WebCacheDeception.expected
  go/ql/src/experimental/CWE-525/WebCacheDeception.ql
  go/ql/src/experimental/CWE-525/WebCacheDeceptionFiber.ql
  go/ql/src/experimental/CWE-525/WebCacheDeceptionGoChi.expected
  go/ql/src/experimental/CWE-525/WebCacheDeceptionGoChi.ql
  go/ql/src/experimental/CWE-525/WebCacheDeceptionLib.qll
Due: codeql-format, sync-files

Remove unnecessary rules
  go/ql/test/experimental/CWE-525/WebCacheDeception.expected
  go/ql/test/experimental/CWE-525/WebCacheDeceptionFiber.expected
  go/ql/test/experimental/CWE-525/WebCacheDeceptionFiber.qlref
  go/ql/test/experimental/CWE-525/WebCacheDeceptionGoChi.expected
  go/ql/test/experimental/CWE-525/WebCacheDeceptionGoChi.qlref
Due: none

Use global instead of local taint tracking.
  java/ql/src/experimental/Security/CWE/CWE-470/LoadClassNoSignatureCheck.ql
Due: codeql-format, sync-files

C#: Base the modelgenerator/dataflow tests on stubs.
  csharp/ql/test/utils/modelgenerator/dataflow/options
Due: none

C#: Base the remaning CWE-1004 tests purely on stubs.
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseSystemWeb/HttpOnly.expected
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseSystemWeb/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieHttpOnlyFalseSystemWeb/options
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigEmpty/HttpOnly.expected
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigEmpty/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigEmpty/options
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigFalse/HttpOnly.expected
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigFalse/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/ConfigFalse/options
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/HttpCookiesTrue/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-1004/CookieWithoutHttpOnlySystemWeb/HttpCookiesTrue/options
Due: none

C#: Base the remoteflowsource test on stubs and update line numbers in expected output.
  csharp/ql/test/library-tests/dataflow/flowsources/remote/RemoteFlowSource.cs
  csharp/ql/test/library-tests/dataflow/flowsources/remote/options
  csharp/ql/test/library-tests/dataflow/flowsources/remote/remoteFlowSource.expected
Due: none

C#: Base the asp/basic tests on stubs only.
  csharp/ql/test/library-tests/asp/basic/CodeBehind.expected
  csharp/ql/test/library-tests/asp/basic/Test.cs
Due: none

C#: Base the CWE-614 tests purely on stubs.
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseSystemWeb/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseSystemWeb/RequireSSL.expected
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLFalseSystemWeb/options
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigEmpty/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigEmpty/RequireSSL.expected
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigEmpty/options
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigFalse/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigFalse/RequireSSL.expected
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/ConfigFalse/options
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/FormsTrue/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/FormsTrue/options
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/HttpCookiesTrue/Program.cs
  csharp/ql/test/experimental/Security Features/CWE-614/RequireSSLSystemWeb/HttpCookiesTrue/options
Due: none

C#: Add support for ref readonly parameters in the stub generator.
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/StubVisitor.cs
Due: none

C#: Add a unit test for stub generation of ref readonly parameters.
  csharp/extractor/Semmle.Extraction.Tests/StubGenerator.cs
Due: none

Add cookie sinks
  java/ql/lib/semmle/code/java/frameworks/Netty.qll
  java/ql/lib/semmle/code/java/frameworks/Servlets.qll
  java/ql/lib/semmle/code/java/security/Cookies.qll
  java/ql/lib/semmle/code/java/security/InsecureRandomnessQuery.qll
Due: codeql-format, sync-files

Add sink for OpenSAML's RequestType.setID
  java/ql/lib/semmle/code/java/frameworks/OpenSaml.qll
  java/ql/lib/semmle/code/java/security/InsecureRandomnessQuery.qll
Due: codeql-format, sync-files

Rename test
  java/ql/test/query-tests/security/CWE-330/InsecureRandomCookies.java
Due: none

Fix tests
  java/ql/test/query-tests/security/CWE-330/WeakRandomCookies.java
  java/ql/test/query-tests/security/CWE-330/options
  java/ql/test/stubs/netty-4.1.x/io/netty/handler/codec/http/Cookie.java
  java/ql/test/stubs/netty-4.1.x/io/netty/handler/codec/http/DefaultCookie.java
Due: none

Improve source of randomness detection
  java/ql/lib/semmle/code/java/security/InsecureRandomnessQuery.qll
  java/ql/lib/semmle/code/java/security/RandomDataSource.qll
Due: codeql-format, sync-files

Add pac4j JWT cryptographic key sinks
  java/ql/lib/ext/org.pac4j.jwt.config.encryption.model.yml
  java/ql/lib/ext/org.pac4j.jwt.config.signature.model.yml
Due: none

C#: Only count calls in source code.
  csharp/ql/src/Telemetry/ExternalApi.qll
  csharp/ql/src/Telemetry/ExternalLibraryUsage.ql
Due: codeql-format, sync-files

C#: Base all telemetry tests on stubs.
  csharp/ql/test/query-tests/Telemetry/LibraryUsage/options
  csharp/ql/test/query-tests/Telemetry/SupportedExternalSinks/options
  csharp/ql/test/query-tests/Telemetry/SupportedExternalSources/options
Due: none

C#: Remove unneeded options from standalone extractor
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/StandaloneBuildRule.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyOptions.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Options.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Program.cs
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
Due: none

C#: Add paths/paths-ignore support in standalone
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/FilePathFilter.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/IProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/ProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.Tests/FilePathFilter.cs
Due: none

Simplify test setup
  csharp/extractor/Semmle.Extraction.Tests/FilePathFilter.cs
Due: none

C++: Create an abstract class to control debug 'toString' output for dataflow nodes.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DebugPrinting.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/Node0ToString.qll
Due: codeql-format, sync-files

feat: Add AWS Lambda logging
  csharp/ql/lib/ext/Amazon.Lambda.model.yml
  csharp/ql/test/library-tests/frameworks/Aws/lambda.cs
  csharp/ql/test/library-tests/frameworks/Aws/lambda.expected
  csharp/ql/test/library-tests/frameworks/Aws/lambda.ql
Due: codeql-format, sync-files

feat: Add initial tests for AWS Lambda support
  csharp/ql/test/library-tests/frameworks/Aws/lambda.cs
  csharp/ql/test/library-tests/frameworks/Aws/lambda.ql
  csharp/ql/test/library-tests/frameworks/Aws/options
Due: codeql-format, sync-files

feat: Add models and expected
  csharp/ql/lib/ext/Amazon.Lambda.model.yml
  csharp/ql/test/library-tests/frameworks/Aws/lambda.expected
Due: none

feat: Add Amazon Lambda testing stubs
  csharp/ql/test/resources/stubs/Amazon.Lambda/2.1.0/Amazon.Lambda.APIGatewayEvents.cs
  csharp/ql/test/resources/stubs/Amazon.Lambda/2.1.0/Amazon.Lambda.Core.cs
  csharp/ql/test/resources/stubs/Amazon.Lambda/2.1.0/Amazon.Lambda.csproj
Due: none

Add change notes
  csharp/ql/lib/change-notes/2023-06-22-aws-lambda-models.md
Due: none

C#: Update Aws test files.
  csharp/ql/test/library-tests/frameworks/Aws/lambda.ql
  csharp/ql/test/library-tests/frameworks/Aws/options
Due: codeql-format, sync-files

C#: Add autogenerated stubs for Aws.Lambda.Core and Aws.Lambda.APIGatewayEvents.
  csharp/ql/test/resources/stubs/Amazon.Lambda.APIGatewayEvents/2.7.0/Amazon.Lambda.APIGatewayEvents.cs
  csharp/ql/test/resources/stubs/Amazon.Lambda.APIGatewayEvents/2.7.0/Amazon.Lambda.APIGatewayEvents.csproj
  csharp/ql/test/resources/stubs/Amazon.Lambda.Core/2.2.0/Amazon.Lambda.Core.cs
  csharp/ql/test/resources/stubs/Amazon.Lambda.Core/2.2.0/Amazon.Lambda.Core.csproj
  csharp/ql/test/resources/stubs/Amazon.Lambda/2.1.0/Amazon.Lambda.APIGatewayEvents.cs
  csharp/ql/test/resources/stubs/Amazon.Lambda/2.1.0/Amazon.Lambda.Core.cs
  csharp/ql/test/resources/stubs/Amazon.Lambda/2.1.0/Amazon.Lambda.csproj
Due: none

C#: Update Amazon stubs to use .NET 8 as target framework.
  csharp/ql/test/resources/stubs/Amazon.Lambda.APIGatewayEvents/2.7.0/Amazon.Lambda.APIGatewayEvents.csproj
  csharp/ql/test/resources/stubs/Amazon.Lambda.Core/2.2.0/Amazon.Lambda.Core.csproj
Due: none

C#: Add test model for generic method
  csharp/ql/test/utils/modeleditor/FrameworkModeEndpoints.expected
  csharp/ql/test/utils/modeleditor/FrameworkModeEndpoints.ext.yml
  csharp/ql/test/utils/modeleditor/PublicGenericClass.cs
Due: none

C#: Modify System.Web.cs manual stub to avoid overlap with generated stub.
  csharp/ql/test/resources/stubs/System.Web.cs
Due: none

C#: Update/Add some hand-written stubs for CWE-079 and CWE-611.
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/stubs.cs
  csharp/ql/test/query-tests/Security Features/CWE-611/stubs.cs
Due: none
