Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

Improve join ordering
  java/ql/lib/semmle/code/java/Member.qll
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
  java/ql/lib/semmle/code/java/dispatch/internal/Unification.qll
Due: codeql-format, sync-files

Replace redundant use of `Class or Interface`
  java/ql/src/utils/stub-generator/Stubs.qll
Due: codeql-format, sync-files

Resolve a newly-introduced ambiguity
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/src/utils/stub-generator/Stubs.qll
Due: codeql-format, sync-files

Update stats
  java/ql/lib/config/semmlecode.dbscheme.stats
Due: none

Add deletions for removed tables
  java/downgrades/934bf10b4bd34cf648893efcd1d0d7be9471d39f/upgrade.properties
  java/ql/lib/upgrades/44d61b266bebf261cb027872646262e645efa059/upgrade.properties
Due: none

add change-note
  javascript/ql/lib/change-notes/2023-02-14-regex-injection-process-env.md
Due: none

Upgrade Go to 1.20
  .github/workflows/go-tests-other-os.yml
  .github/workflows/go-tests.yml
  go/go.mod
Due: none

Accept test changes
  go/ql/test/extractor-tests/diagnostics/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/ql/test/extractor-tests/diagnostics/Diagnostics.expected
  go/ql/test/library-tests/semmle/go/Function/TypeParamType.expected
  go/ql/test/library-tests/semmle/go/Types/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/ql/test/query-tests/Diagnostics/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/ql/test/query-tests/Diagnostics/ExtractionErrors.expected
  go/ql/test/query-tests/RedundantCode/DeadStoreOfLocal/CONSISTENCY/UnexpectedFrontendErrors.expected
  go/ql/test/query-tests/RedundantCode/ImpossibleInterfaceNilCheck/CONSISTENCY/UnexpectedFrontendErrors.expected
Due: none

also consider relative exports when finding library inputs
  javascript/ql/lib/semmle/javascript/NPM.qll
  javascript/ql/lib/semmle/javascript/NodeModuleResolutionImpl.qll
  javascript/ql/lib/semmle/javascript/PackageExports.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/UnsafeHtmlConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/lib2/package.json
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/lib2/src/MyNode.ts
Due: codeql-format, sync-files

Python: Remove support for late `*args` arguments
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/coverage/argumentPassing.py
Due: codeql-format, sync-files

bump extractor version
  javascript/extractor/src/com/semmle/js/extractor/Main.java
Due: none

actually extract `.html.erb` files
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
Due: none

update expected output, now that .html.erb files are actually extracted
  javascript/extractor/tests/vue/output/trap/rails.html.erb.trap
Due: none

add explicit this
  javascript/ql/lib/semmle/javascript/NPM.qll
Due: codeql-format, sync-files

fix various nits based on feedback
  python/ql/lib/semmle/python/security/dataflow/UnsafeShellCommandConstructionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/UnsafeShellCommandConstructionQuery.qll
  python/ql/src/Security/CWE-078/UnsafeShellCommandConstruction.qhelp
  python/ql/src/Security/CWE-078/examples/unsafe-shell-command-construction.py
  python/ql/src/Security/CWE-078/examples/unsafe-shell-command-construction_fixed.py
  python/ql/test/query-tests/Security/CWE-078-UnsafeShellCommandConstruction/UnsafeShellCommandConstruction.expected
Due: codeql-format, sync-files, qhelp

Swift: Test taint through NSString.
  swift/ql/test/library-tests/dataflow/taint/nsstring.swift
Due: sync-files

Swift: Test taint throguh some NSObject methods.
  swift/ql/test/library-tests/dataflow/taint/nsstring.swift
Due: sync-files

Swift: Test taint through NSMutableString.
  swift/ql/test/library-tests/dataflow/taint/nsstring.swift
Due: sync-files

Swift: Test taint through NSString member variables.
  swift/ql/test/library-tests/dataflow/taint/nsstring.swift
Due: sync-files

Troubleshooting Qlucie
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/lib/semmle/code/java/Type.qll
Due: codeql-format, sync-files

rewrite the taint-step for join() to a flowsummary
  ruby/ql/lib/codeql/ruby/frameworks/core/Array.qll
  ruby/ql/test/library-tests/frameworks/pathname/Pathname.expected
Due: codeql-format, sync-files

Swift: Test taint sources for NSString.
  swift/ql/test/library-tests/dataflow/flowsources/nsstring.swift
Due: sync-files

Swift: Update LocalTaint.expected for the changes so far.
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
Due: none

C++: Fix Code Scanning error.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Add test exercising Go 1.20 array conversions
  go/ql/test/library-tests/semmle/go/dataflow/ArrayConversion/Flows.expected
  go/ql/test/library-tests/semmle/go/dataflow/ArrayConversion/Flows.ql
  go/ql/test/library-tests/semmle/go/dataflow/ArrayConversion/main.go
Due: codeql-format, sync-files

Python: sys.exit if import resolution tests fail
  python/ql/test/experimental/import-resolution/main.py
Due: none

Python: Add import resolution regression
  python/ql/test/experimental/import-resolution/main.py
  python/ql/test/experimental/import-resolution/package/subpackage2/__init__.py
Due: none

Python: Fix import * from `__init__.py` files
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
  python/ql/test/experimental/import-resolution/main.py
Due: codeql-format, sync-files

Python: Add wrapper for `isPreferredModuleForName`
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
Due: codeql-format, sync-files

Python: Add change-note
  python/ql/lib/change-notes/2023-02-15-import-star-package.md
Due: none

delete PrefixStringSanitizer
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeHtmlConstructionQuery.qll
Due: codeql-format, sync-files

use tainted-object to precisely model that plain object are fine, but their properties are not
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeHtmlConstructionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UnsafeHtmlConstructionQuery.qll
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/UnsafeHtmlConstruction.expected
  javascript/ql/test/query-tests/Security/CWE-079/UnsafeHtmlConstruction/lib2/index.ts
Due: codeql-format, sync-files

delete the cached-stages-pattern from Python
  python/ql/lib/semmle/python/ApiGraphs.qll
  python/ql/lib/semmle/python/AstExtended.qll
  python/ql/lib/semmle/python/Exprs.qll
  python/ql/lib/semmle/python/Flow.qll
  python/ql/lib/semmle/python/Import.qll
  python/ql/lib/semmle/python/Module.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/lib/semmle/python/dataflow/new/internal/LocalSources.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackerSpecific.qll
  python/ql/lib/semmle/python/essa/Essa.qll
  python/ql/lib/semmle/python/essa/SsaCompute.qll
  python/ql/lib/semmle/python/essa/SsaDefinitions.qll
  python/ql/lib/semmle/python/internal/Awaited.qll
  python/ql/lib/semmle/python/internal/CachedStages.qll
  python/ql/lib/semmle/python/objects/ObjectInternal.qll
  python/ql/lib/semmle/python/objects/TObject.qll
  python/ql/lib/semmle/python/pointsto/Base.qll
  python/ql/lib/semmle/python/pointsto/PointsTo.qll
  python/ql/lib/semmle/python/types/Object.qll
Due: codeql-format, sync-files

Test generator improvements - Accept yml files as input - Output the correct type for constructors
  java/ql/src/utils/flowtestcasegenerator/FlowTestCase.qll
  java/ql/src/utils/flowtestcasegenerator/FlowTestCaseUtils.qll
  java/ql/src/utils/flowtestcasegenerator/GenerateFlowTestCase.py
Due: codeql-format, sync-files

Update help text
  java/ql/src/utils/flowtestcasegenerator/GenerateFlowTestCase.py
Due: none

JS: improve documentation on deprecated CryptographicOperation#getInput() predicate
  javascript/ql/lib/semmle/javascript/Concepts.qll
Due: codeql-format, sync-files

JS: avoid adding a deprecated CryptographicOperation#getInput to py/ruby
  javascript/ql/lib/semmle/javascript/Concepts.qll
  javascript/ql/lib/semmle/javascript/internal/ConceptsShared.qll
  python/ql/lib/semmle/python/internal/ConceptsShared.qll
  ruby/ql/lib/codeql/ruby/internal/ConceptsShared.qll
Due: codeql-format, sync-files

dynamic: switch CryptographicOperation::Range#getBlockMode() back to being an abstract predicate
  javascript/ql/lib/semmle/javascript/internal/ConceptsShared.qll
  python/ql/lib/semmle/python/internal/ConceptsShared.qll
  ruby/ql/lib/codeql/ruby/internal/ConceptsShared.qll
Due: codeql-format, sync-files

JS: breaking change note for CryptographicOperation sync
  javascript/ql/lib/change-notes/2023-02-15-cryptographic-operation-getinput-deprecated.md
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
