Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
        language: system
        entry: bazel run //swift/codegen
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

Java: Improve performance of ConfusingOverloading.
  java/ql/src/Violations of Best Practice/Naming Conventions/ConfusingOverloading.ql
Due: codeql-format, sync-files

Ruby: Support more flow through keyword arguments
  ruby/ql/consistency-queries/DataFlowConsistency.ql
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/test/library-tests/dataflow/params/params-flow.expected
Due: codeql-format, sync-files

Model java.util.Properties.setProperty
  java/ql/lib/semmle/code/java/dataflow/internal/ContainerFlow.qll
  java/ql/test/library-tests/dataflow/collections/Test.java
Due: codeql-format, sync-files

Accept test changes
  java/ql/test/library-tests/dataflow/collections/flow.expected
Due: none

Test `setProperty/put` with taint stored earlier
  java/ql/test/library-tests/dataflow/collections/Test.java
Due: none

Add change note
  java/ql/lib/change-notes/2022-08-03-properties.md
Due: none

Swift: Control-flow through interpolated strings.
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
Due: codeql-format, sync-files

Swift: Don't assume we know the call target statically in 'TInOutUpdateNode'.
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/elements/expr/Argument.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
Due: codeql-format, sync-files, swift-codegen

Swift: Replace 'CallExpr' with 'ApplyExpr'. This is needed because not all the calls inside the interpolated string computations are 'CallExpr's.
  swift/ql/lib/codeql/swift/dataflow/Ssa.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplSpecific.qll
Due: codeql-format, sync-files

Swift: Add taint tests for flow through interpolated strings.
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.ql
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.ql
  swift/ql/test/library-tests/dataflow/taint/test.swift
Due: codeql-format, sync-files

Swift: Flow (1) through the internal function calls generated by the compiler during string interpolation, and (2) out of the internal 'TapExpr' and into the interpolated string result.
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPrivate.qll
Due: codeql-format, sync-files

Update swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
Due: codeql-format, sync-files

Ruby: Simplify flow summaries for hash literals
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
Due: codeql-format, sync-files

Improve AsyncTask data flow support
  java/ql/lib/semmle/code/java/frameworks/android/AsyncTask.qll
  java/ql/test/library-tests/frameworks/android/asynctask/Test.java
  java/ql/test/library-tests/frameworks/android/asynctask/test.ql
Due: codeql-format, sync-files

Dataflow: Replace stage duplication with parameterised modules.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Dataflow: Generate shorter RA/DIL names.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Dataflow: Sync.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Add change note
  java/ql/lib/change-notes/2022-08-05-asynctask-improvements.md
Due: none

Remove unnecessary import from test
  java/ql/test/library-tests/frameworks/android/asynctask/test.ql
Due: codeql-format, sync-files

Swift: Fix capitalization issue?
  swift/ql/test/query-tests/Security/CWE-079/UnsafeWebViewFetch.qlref
Due: none

Swift: extract comments
  swift/codegen/schema.yml
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/visitors/SwiftVisitor.h
  swift/ql/lib/codeql/swift/elements.qll
  swift/ql/lib/codeql/swift/elements/Comment.qll
  swift/ql/lib/codeql/swift/generated/Comment.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/extractor-tests/comments/comments.expected
  swift/ql/test/extractor-tests/comments/comments.ql
  swift/ql/test/extractor-tests/comments/comments.swift
  swift/ql/test/extractor-tests/generated/Comment/MISSING_SOURCE.txt
Due: codeql-format, sync-files, swift-codegen

Swift: Fix MaD for methods
  swift/ql/lib/codeql/swift/controlflow/CfgNodes.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImplSpecific.qll
  swift/ql/src/queries/Security/CWE-079/UnsafeWebViewFetch.ql
Due: codeql-format, sync-files

Swift: Accept test changes.
  swift/ql/test/query-tests/Security/CWE-079/UnsafeWebViewFetch.expected
  swift/ql/test/query-tests/Security/CWE-079/UnsafeWebViewFetch.swift
Due: sync-files

Remove unused class member
  java/ql/lib/semmle/code/java/frameworks/android/AsyncTask.qll
Due: codeql-format, sync-files

Swift: Add a couple of standard Comment subclasses.
  swift/ql/lib/codeql/swift/elements/Comment.qll
Due: codeql-format, sync-files, swift-codegen

Swift: Add the InlineExpectationsTest framework.
  swift/ql/test/TestUtilities/InlineExpectationsTest.qll
  swift/ql/test/TestUtilities/InlineExpectationsTestPrivate.qll
Due: codeql-format, sync-files

Update identical-files.
  config/identical-files.json
Due: none

Create SafeComparisonOfSensitiveInfo.py
  python/ql/src/experimental/Security/CWE-208/TimingAttackAgainstSensitiveInfo/SafeComparisonOfSensitiveInfo.py
Due: none

Create UnSafeComparisonOfSensitiveInfo.py
  python/ql/src/experimental/Security/CWE-208/TimingAttackAgainstSensitiveInfo/UnSafeComparisonOfSensitiveInfo.py
Due: none

Delete SafeComparison.py
  python/ql/src/experimental/Security/CWE-208/SafeComparison.py
Due: none

Delete UnSafeComparison.py
  python/ql/src/experimental/Security/CWE-208/UnSafeComparison.py
Due: none

Add webview cert validation query
  java/ql/lib/semmle/code/java/security/AndroidWebViewCertificateValidationQuery.qll
  java/ql/src/Security/CWE/CWE-295/ImproperWebViewCertificateValidation.ql
Due: codeql-format, sync-files

Add tests
  java/ql/test/query-tests/security/CWE-295/ImproperWebVeiwCertificateValidation/Test.java
  java/ql/test/query-tests/security/CWE-295/ImproperWebVeiwCertificateValidation/options
  java/ql/test/query-tests/security/CWE-295/ImproperWebVeiwCertificateValidation/test.expected
  java/ql/test/query-tests/security/CWE-295/ImproperWebVeiwCertificateValidation/test.ql
Due: codeql-format, sync-files

Add change note
  java/ql/src/change-notes/2022-06-22-improper-webview-certificate-validation.md
Due: none

Fix test
  java/ql/lib/semmle/code/java/security/AndroidWebViewCertificateValidationQuery.qll
  java/ql/test/query-tests/security/CWE-295/ImproperWebVeiwCertificateValidation/Test.java
Due: codeql-format, sync-files

Add qhelp
  java/ql/src/Security/CWE/CWE-295/ImproperWebViewCertifiacteValidation.qhelp
  java/ql/src/Security/CWE/CWE-295/ImproperWebViewCertificateValidation.java
Due: sync-files, qhelp

Add missing qldoc
  java/ql/lib/semmle/code/java/security/AndroidWebViewCertificateValidationQuery.qll
Due: codeql-format, sync-files

Add suggested reference
  java/ql/src/Security/CWE/CWE-295/ImproperWebViewCertificateValidation.qhelp
Due: sync-files, qhelp
