Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Python: consistency failure gone
  python/ql/test/library-tests/PointsTo/comparisons/CONSISTENCY/DataFlowConsistency.expected
Due: none

Fix sphinx.add_lexer.
  docs/codeql/conf.py
Due: none

Update java/ql/lib/semmle/code/java/security/InsufficientKeySize.qll
  java/ql/lib/semmle/code/java/security/InsufficientKeySize.qll
Due: codeql-format, sync-files

add integration test for the new extractor option to disable type extraction
  javascript/ql/integration-tests/all-platforms/no-types/foo.ts
  javascript/ql/integration-tests/all-platforms/no-types/javascript.expected
  javascript/ql/integration-tests/all-platforms/no-types/javascript.ql
  javascript/ql/integration-tests/all-platforms/no-types/qlpack.yml
  javascript/ql/integration-tests/all-platforms/no-types/test.py
  javascript/ql/integration-tests/all-platforms/no-types/tsconfig.json
Due: codeql-format, sync-files

add warnOnImplicitThis
  javascript/ql/integration-tests/all-platforms/no-types/qlpack.yml
Due: none

Apply suggestions from code review
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Due: codeql-format, sync-files

C#: Make manual adjustments to the generated stubs.
  csharp/ql/test/resources/stubs/Antlr3.Runtime/3.5.1/Antlr3.Runtime.csproj
  csharp/ql/test/resources/stubs/EntityFramework/6.4.4/EntityFramework.csproj
  csharp/ql/test/resources/stubs/Microsoft.Win32.Registry/4.7.0/Microsoft.Win32.Registry.csproj
  csharp/ql/test/resources/stubs/NHibernate/5.4.7/NHibernate.csproj
  csharp/ql/test/resources/stubs/Remotion.Linq.EagerFetching/2.2.0/Remotion.Linq.EagerFetching.csproj
  csharp/ql/test/resources/stubs/Remotion.Linq/2.2.0/Remotion.Linq.csproj
  csharp/ql/test/resources/stubs/ServiceStack.Common/8.0.0/ServiceStack.Common.cs
  csharp/ql/test/resources/stubs/ServiceStack.Text/8.0.0/ServiceStack.Text.cs
  csharp/ql/test/resources/stubs/System.Data.SQLite.Core/1.0.118/System.Data.SQLite.Core.csproj
  csharp/ql/test/resources/stubs/System.Data.SQLite/1.0.118/System.Data.SQLite.csproj
  csharp/ql/test/resources/stubs/System.Dynamic.Runtime/4.3.0/System.Dynamic.Runtime.csproj
  csharp/ql/test/resources/stubs/System.Linq.Expressions/4.3.0/System.Linq.Expressions.csproj
  csharp/ql/test/resources/stubs/System.Linq.Queryable/4.0.1/System.Linq.Queryable.csproj
  csharp/ql/test/resources/stubs/System.Net.Http/4.3.0/System.Net.Http.csproj
Due: none

C#: Update options files.
  csharp/ql/test/library-tests/dataflow/library/options
  csharp/ql/test/library-tests/frameworks/NHibernate/options
  csharp/ql/test/library-tests/frameworks/ServiceStack/options
  csharp/ql/test/query-tests/API Abuse/DisposeNotCalledOnException/options
  csharp/ql/test/query-tests/Security Features/CWE-078/options
  csharp/ql/test/query-tests/Security Features/CWE-079/StoredXSS/options
  csharp/ql/test/query-tests/Security Features/CWE-089/options
  csharp/ql/test/query-tests/Security Features/CWE-090/options
  csharp/ql/test/query-tests/Security Features/CWE-099/options
  csharp/ql/test/query-tests/Security Features/CWE-201/ExposureInTransmittedData/options
  csharp/ql/test/query-tests/Security Features/CWE-327/InsecureSQLConnection/options
  csharp/ql/test/query-tests/Security Features/CWE-643/options
  csharp/ql/test/query-tests/Security Features/CWE-798/options
  csharp/ql/test/query-tests/Security Features/CWE-838/options
Due: none

C#: Update/Add some hand-written stubs for CWE-079 and CWE-611.
  csharp/ql/test/query-tests/Security Features/CWE-079/XSS/stubs.cs
  csharp/ql/test/query-tests/Security Features/CWE-611/stubs.cs
Due: none

C#: Modify System.Web.cs manual stub to avoid overlap with generated stub.
  csharp/ql/test/resources/stubs/System.Web.cs
Due: none

Python: make compile again also improve comment
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Due: codeql-format, sync-files

Python: hide synthesized capture nodes
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Python: Make compile and add comment
  python/ql/consistency-queries/DataFlowConsistency.ql
Due: codeql-format, sync-files

use the extractor option directly instead
  javascript/ql/integration-tests/all-platforms/no-types/test.py
Due: none

Python : `P` -> `PY`
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C++: Only consider the maximum buffer size for badly bounded write
  cpp/ql/src/Security/CWE/CWE-120/BadlyBoundedWrite.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/BadlyBoundedWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/tests2.cpp
Due: codeql-format, sync-files

Python: remove unneeded consistency exclusion
  python/ql/consistency-queries/DataFlowConsistency.ql
Due: codeql-format, sync-files

C++: Add change note
  cpp/ql/src/change-notes/2023-12-15-badly-bounded-write.md
Due: none

C#: Escape method names.
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/StubVisitor.cs
Due: none

CPP: Fix handling of ternary operators in tempory queries and add tests.
  cpp/ql/src/Security/CWE/CWE-416/Temporaries.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfStringAfterLifetimeEnds/UseOfStringAfterLifetimeEnds.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfStringAfterLifetimeEnds/test.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfUniquePtrAfterLifetimeEnds/UseOfUniquePointerAfterLifetimeEnds.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfUniquePtrAfterLifetimeEnds/test.cpp
Due: codeql-format, sync-files

C#: Add a unit test for escaping method names.
  csharp/extractor/Semmle.Extraction.Tests/StubGenerator.cs
Due: none

Swift: Create examples for the .qhelp in Swift, and test them.
  swift/ql/src/queries/Security/CWE-328/WeakPasswordHashingBad.swift
  swift/ql/src/queries/Security/CWE-328/WeakPasswordHashingGood.swift
  swift/ql/test/query-tests/Security/CWE-328/WeakPasswordHashing.expected
  swift/ql/test/query-tests/Security/CWE-328/WeakSensitiveDataHashing.expected
  swift/ql/test/query-tests/Security/CWE-328/testArgon2Swift.swift
  swift/ql/test/query-tests/Security/CWE-328/testCryptoKit.swift
Due: sync-files

Swift: separate installation of dependencies and autobuilding
  swift/swift-autobuilder/swift-autobuilder.cpp
Due: none

Update cpp/ql/src/Security/CWE/CWE-416/Temporaries.qll
  cpp/ql/src/Security/CWE/CWE-416/Temporaries.qll
Due: codeql-format, sync-files

Swift: Update .qhelp for Swift.
  swift/ql/src/queries/Security/CWE-328/WeakPasswordHashing.qhelp
Due: sync-files, qhelp

C++: Fix joins.
  cpp/ql/lib/semmle/code/cpp/Function.qll
  cpp/ql/src/jsf/4.10 Classes/AV Rule 79.ql
Due: codeql-format, sync-files

C++: Drive-by cleanup: This case is redundant since a 'DestructorCall' is also a 'FunctionCall'.
  cpp/ql/lib/semmle/code/cpp/Function.qll
Due: codeql-format, sync-files

Swift: Change note.
  swift/ql/src/change-notes/2023-12-15-weak-password-hashing.md
Due: none

Python: rename synthetic lambda nodes
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
Due: codeql-format, sync-files

Update python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
Due: codeql-format, sync-files

CPP: Format Temporaries
  cpp/ql/src/Security/CWE/CWE-416/Temporaries.qll
Due: codeql-format, sync-files

Python: Bring back (now simplified) exclusion
  python/ql/consistency-queries/DataFlowConsistency.ql
Due: codeql-format, sync-files

Update python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Python: use updated names
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplConsistency.qll
Due: codeql-format, sync-files

Python: move things around
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Python: split variable capture instantiation out into its own file.
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/VariableCapture.qll
Due: codeql-format, sync-files

Python: Address TODO comment
  python/ql/lib/semmle/python/dataflow/new/internal/VariableCapture.qll
Due: codeql-format, sync-files

C++: Fix joins in 'AV Rule 145'.
  cpp/ql/src/jsf/4.16 Initialization/AV Rule 145.ql
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
