Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

Shared: Sprinkle some predicate defaults and clean up.
  cpp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  csharp/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  rust/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
Due: codeql-format, sync-files

Add code quality suite selector
  misc/suite-helpers/code-quality-selectors.yml
Due: none

Use code-quality-selectors in C# suite
  csharp/ql/src/API Abuse/FormatInvalid.ql
  csharp/ql/src/API Abuse/NoDisposeCallOnLocalIDisposable.ql
  csharp/ql/src/Bad Practices/Control-Flow/ConstantCondition.ql
  csharp/ql/src/Dead Code/DeadStoreOfLocal.ql
  csharp/ql/src/Likely Bugs/Collections/ContainerLengthCmpOffByOne.ql
  csharp/ql/src/Likely Bugs/Collections/ContainerSizeCmpZero.ql
  csharp/ql/src/Likely Bugs/DangerousNonShortCircuitLogic.ql
  csharp/ql/src/Likely Bugs/EqualityCheckOnFloats.ql
  csharp/ql/src/Likely Bugs/ReferenceEqualsOnValueTypes.ql
  csharp/ql/src/Likely Bugs/SelfAssignment.ql
  csharp/ql/src/Likely Bugs/UncheckedCastInEquals.ql
  csharp/ql/src/Performance/UseTryGetValue.ql
  csharp/ql/src/Useless code/DefaultToString.ql
  csharp/ql/src/Useless code/IntGetHashCode.ql
  csharp/ql/src/codeql-suites/csharp-code-quality.qls
Due: codeql-format, sync-files

JS: Update test output
  javascript/ql/test/library-tests/PathResolution/DirnameImports/main.js
  javascript/ql/test/library-tests/PathResolution/test.expected
Due: none

JS: Rename getTargetFile to getImportedFile and remove its deprecated name clash
  javascript/ql/lib/semmle/javascript/Modules.qll
  javascript/ql/lib/semmle/javascript/NodeJS.qll
  javascript/ql/lib/semmle/javascript/frameworks/Vue.qll
Due: codeql-format, sync-files

JS: Add package.json files in tests relying on node_modules
  javascript/ql/test/library-tests/NPM/src/node_modules/a/package.json
  javascript/ql/test/library-tests/NPM/src/node_modules/nested/node_modules/a/package.json
  javascript/ql/test/library-tests/NPM/src/node_modules/nested/package.json
  javascript/ql/test/library-tests/NPM/tests.expected
  javascript/ql/test/query-tests/NodeJS/UnresolvableImport/UnresolvableImport.expected
  javascript/ql/test/query-tests/NodeJS/UnresolvableImport/src/sub/node_modules/mod/package.json
  javascript/ql/test/query-tests/NodeJS/UnresolvableImport/src/tst.js
  javascript/ql/test/query-tests/NodeJS/UnusedDependency/UnusedDependency.expected
Due: none

JS: Update test output now that we import .d.ts files more liberally
  javascript/ql/test/library-tests/TypeScript/RegressionTests/ImportDtsFile/test.expected
Due: none

Use code-quality-selectors in Java suite
  java/ql/integration-tests/java/query-suite/java-code-quality.qls.expected
  java/ql/src/Language Abuse/TypeVariableHidesType.ql
  java/ql/src/Likely Bugs/Arithmetic/IntMultToLong.ql
  java/ql/src/Likely Bugs/Collections/WriteOnlyContainer.ql
  java/ql/src/Likely Bugs/Comparison/IncomparableEquals.ql
  java/ql/src/Likely Bugs/Comparison/InconsistentEqualsHashCode.ql
  java/ql/src/Likely Bugs/Comparison/MissingInstanceofInEquals.ql
  java/ql/src/Likely Bugs/Comparison/RefEqBoxed.ql
  java/ql/src/Likely Bugs/Likely Typos/ContradictoryTypeChecks.ql
  java/ql/src/Likely Bugs/Likely Typos/SuspiciousDateFormat.ql
  java/ql/src/Likely Bugs/Resource Leaks/CloseReader.ql
  java/ql/src/Likely Bugs/Resource Leaks/CloseWriter.ql
  java/ql/src/codeql-suites/java-code-quality.qls
Due: codeql-format, sync-files

Modify quality query suite selector for actions, cpp, rust and swift
  actions/ql/src/codeql-suites/actions-code-quality.qls
  cpp/ql/src/codeql-suites/cpp-code-quality.qls
  rust/ql/src/codeql-suites/rust-code-quality.qls
  swift/ql/src/codeql-suites/swift-code-quality.qls
Due: none

Use code-quality-selectors in Go suite
  go/ql/src/InconsistentCode/LengthComparisonOffByOne.ql
  go/ql/src/InconsistentCode/MissingErrorCheck.ql
  go/ql/src/InconsistentCode/UnhandledCloseWritableHandle.ql
  go/ql/src/InconsistentCode/WrappedErrorAlwaysNil.ql
  go/ql/src/RedundantCode/NegativeLengthCheck.ql
  go/ql/src/RedundantCode/RedundantRecover.ql
  go/ql/src/codeql-suites/go-code-quality.qls
Due: codeql-format, sync-files

Use code-quality-selectors in JS suite
  javascript/ql/src/Declarations/IneffectiveParameterType.ql
  javascript/ql/src/Expressions/MissingAwait.ql
  javascript/ql/src/LanguageFeatures/SpuriousArguments.ql
  javascript/ql/src/RegExp/RegExpAlwaysMatches.ql
  javascript/ql/src/codeql-suites/javascript-code-quality.qls
Due: codeql-format, sync-files

Use code-quality-selectors in Python suite
  python/ql/integration-tests/query-suite/python-code-quality.qls.expected
  python/ql/src/Functions/NonCls.ql
  python/ql/src/Functions/NonSelf.ql
  python/ql/src/codeql-suites/python-code-quality.qls
Due: codeql-format, sync-files

Use code-quality-selectors in Ruby suite
  ruby/ql/integration-tests/query-suite/ruby-code-quality.qls.expected
  ruby/ql/src/codeql-suites/ruby-code-quality.qls
  ruby/ql/src/queries/performance/DatabaseQueryInLoop.ql
  ruby/ql/src/queries/variables/DeadStoreOfLocal.ql
Due: codeql-format, sync-files

Fix plugin test to work with Kotlin 2.1.20
  java/ql/integration-tests/kotlin/linux/custom_plugin/plugin/Plugin.kt
Due: none

Revert "Bazel: update `rules_kotlin` to 2.1.3"
  MODULE.bazel
  misc/bazel/registry/modules/rules_kotlin/2.0.0-codeql.1/MODULE.bazel
  misc/bazel/registry/modules/rules_kotlin/2.0.0-codeql.1/patches/codeql_add_language_version_option.patch
  misc/bazel/registry/modules/rules_kotlin/2.0.0-codeql.1/patches/codeql_do_not_emit_jdeps.patch
  misc/bazel/registry/modules/rules_kotlin/2.0.0-codeql.1/source.json
  misc/bazel/registry/modules/rules_kotlin/2.1.3-codeql.1/source.json
  misc/bazel/registry/modules/rules_kotlin/metadata.json
Due: buildifier

Rust: Handle functions in dependencies not having parameters
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
Due: codeql-format, sync-files

PS: Lower case more predicate results for consistency.
  powershell/ql/lib/semmle/code/powershell/ApiGraphs.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/Constant.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/Function.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/FunctionBase.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/Member.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/MemberExpr.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/Method.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/PropertyMember.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/Type.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/TypeDefinitionStmt.qll
  powershell/ql/lib/semmle/code/powershell/controlflow/CfgNodes.qll
  powershell/ql/lib/semmle/code/powershell/dataflow/internal/DataFlowDispatch.qll
  powershell/ql/lib/semmle/code/powershell/dataflow/internal/DataFlowPrivate.qll
  powershell/ql/lib/semmle/code/powershell/dataflow/internal/DataFlowPublic.qll
  powershell/ql/src/experimental/UseOfReservedCmdletChar.ql
  powershell/ql/test/library-tests/ast/Expressions/expressions.expected
  powershell/ql/test/library-tests/ast/parent.expected
Due: codeql-format, sync-files

PS: Add a query for SQL injection.
  powershell/ql/lib/semmle/code/powershell/security/SqlInjectionCustomizations.qll
  powershell/ql/lib/semmle/code/powershell/security/SqlInjectionQuery.qll
  powershell/ql/src/queries/security/cwe-089/SqlInjection.qhelp
  powershell/ql/src/queries/security/cwe-089/SqlInjection.ql
  powershell/ql/src/queries/security/cwe-089/examples/SqlInjection.ps1
Due: codeql-format, sync-files, qhelp

PS: Add query test for the new SQL injection query.
  powershell/ql/test/query-tests/security/cwe-089/SqlInjection.expected
  powershell/ql/test/query-tests/security/cwe-089/SqlInjection.qlref
  powershell/ql/test/query-tests/security/cwe-089/test.ps1
Due: none

Ruby: Avoid a forced CP.
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
Due: codeql-format, sync-files

Ruby: disable diff-informed mode on regex queries
  ruby/ql/lib/codeql/ruby/security/regexp/MissingFullAnchorQuery.qll
  ruby/ql/lib/codeql/ruby/security/regexp/PolynomialReDoSQuery.qll
Due: codeql-format, sync-files

Rust: Crate graph extraction workarounds
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/Type.qll
Due: codeql-format, sync-files

Address review comments
  rust/ql/lib/codeql/rust/internal/CachedStages.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/Type.qll
Due: codeql-format, sync-files

C#: Convert cs/uncontrolled-format-string tests to use test inline expectations.
  csharp/ql/test/query-tests/Security Features/CWE-134/ConsoleUncontrolledFormatString.cs
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.cs
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.qlref
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatStringBad.cs
Due: none

C#: Add a testcase for CompositeFormat.Parse for cs/uncontrolled-format-string.
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.cs
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.expected
Due: none

C#: Include CompositeFormat.Parse as Format like method.
  csharp/ql/lib/semmle/code/csharp/frameworks/Format.qll
  csharp/ql/src/API Abuse/FormatInvalid.ql
  csharp/ql/src/Security Features/CWE-134/UncontrolledFormatString.ql
Due: codeql-format, sync-files

C#: Update test expected output.
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.expected
Due: none

C#: Add change note.
  csharp/ql/src/change-notes/2025-04-10-uncontrolled-format-string.md
Due: none

Codegen: make missing `codeql` error clearer
  misc/codegen/generators/qlgen.py
  misc/codegen/test/test_qlgen.py
Due: swift-codegen, rust-codegen

Codegen: consider windows paths in local `codeql` binary heuristic
  misc/codegen/generators/qlgen.py
Due: swift-codegen, rust-codegen

JS: Change note
  javascript/ql/src/change-notes/2025-04-30-promise-all.md
Due: none

C#: Address review comments.
  csharp/ql/lib/semmle/code/csharp/frameworks/Format.qll
  csharp/ql/src/API Abuse/FormatInvalid.ql
  csharp/ql/src/Security Features/CWE-134/UncontrolledFormatString.ql
Due: codeql-format, sync-files

Added test cases for `cmd`, `which` and `asyncExec`
  javascript/ql/test/library-tests/frameworks/Shelljs/ShellJS.expected
  javascript/ql/test/library-tests/frameworks/Shelljs/tst.js
Due: none

Added support for `shelljs.which`
  javascript/ql/lib/semmle/javascript/frameworks/ShellJS.qll
  javascript/ql/test/library-tests/frameworks/Shelljs/ShellJS.expected
Due: codeql-format, sync-files

Added support for `shelljs.cmd` and `async-shelljs.asyncExec`
  javascript/ql/lib/semmle/javascript/frameworks/ShellJS.qll
  javascript/ql/test/library-tests/frameworks/Shelljs/ShellJS.expected
Due: codeql-format, sync-files

C#: Update tests and expected output.
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatInvalid.cs
  csharp/ql/test/query-tests/API Abuse/FormatInvalid/FormatInvalid.expected
Due: none

Rust: Use type inference to insert implicit borrows and derefs
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/utils-tests/modelgenerator/CaptureSummaryModels.expected
Due: codeql-format, sync-files

PS: Lift StringLiterals to the public AST from the raw AST.
  powershell/ql/lib/semmle/code/powershell/ast/internal/Internal.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/StringLiteral.qll
Due: codeql-format, sync-files

PS: Add some tests for string literals.
  powershell/ql/test/library-tests/ast/Strings/String.ps1
  powershell/ql/test/library-tests/ast/Strings/Strings.expected
  powershell/ql/test/library-tests/ast/Strings/Strings.ql
  powershell/ql/test/library-tests/ast/parent.expected
Due: codeql-format, sync-files
