Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

Merge pull request #260 from microsoft/powershell-unsafe-deserialization
  powershell/ql/lib/semmle/code/powershell/security/UnsafeDeserializationCustomizations.qll
  powershell/ql/lib/semmle/code/powershell/security/UnsafeDeserializationQuery.qll
  powershell/ql/src/queries/security/cwe-502/BinaryFormatterDeserialization.qhelp
  powershell/ql/src/queries/security/cwe-502/BinaryFormatterDeserialization.ql
  powershell/ql/src/queries/security/cwe-502/UnsafeDeserialization.qhelp
  powershell/ql/src/queries/security/cwe-502/UnsafeDeserialization.ql
  powershell/ql/src/queries/security/cwe-502/examples/BinaryFormatterDeserialization.ps1
  powershell/ql/test/query-tests/security/cwe-502/UnsafeDeserialization.expected
  powershell/ql/test/query-tests/security/cwe-502/UnsafeDeserialization.qlref
  powershell/ql/test/query-tests/security/cwe-502/test.ps1
Due: codeql-format, sync-files, qhelp

Merge pull request #262 from microsoft/powershell-smb-settings
  powershell/ql/src/queries/security/cwe-319/UnsafeSMBSettings.qhelp
  powershell/ql/src/queries/security/cwe-319/UnsafeSMBSettings.ql
  powershell/ql/test/query-tests/security/cwe-319/UnsafeSMBSettings.expected
  powershell/ql/test/query-tests/security/cwe-319/UnsafeSMBSettings.qlref
  powershell/ql/test/query-tests/security/cwe-319/test.ps1
Due: codeql-format, sync-files, qhelp

Merge pull request #263 from microsoft/remove-env-reads-from-sql-injection
  powershell/ql/lib/semmle/code/powershell/dataflow/internal/DataFlowPrivate.qll
  powershell/ql/lib/semmle/code/powershell/security/SqlInjectionCustomizations.qll
  powershell/ql/test/library-tests/dataflow/fields/test.expected
  powershell/ql/test/library-tests/dataflow/global/test.expected
  powershell/ql/test/library-tests/dataflow/mad/flow.expected
  powershell/ql/test/library-tests/dataflow/params/test.expected
  powershell/ql/test/library-tests/dataflow/pipeline/test.expected
  powershell/ql/test/library-tests/dataflow/returns/test.expected
  powershell/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
  powershell/ql/test/query-tests/security/cwe-089/SqlInjection.expected
  powershell/ql/test/query-tests/security/cwe-502/UnsafeDeserialization.expected
Due: codeql-format, sync-files

Merge pull request #265 from microsoft/dilan/iac-setup
  .github/workflows/microsoft-codeql-pack-publish.yml
  .gitmodules
Due: none

Merge pull request #264 from microsoft/simple-type-sanitizers
  powershell/ql/lib/semmle/code/powershell/ApiGraphs.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/AutomaticVariable.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/InvokeMemberExpression.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/ObjectCreation.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/Raw/NamedAttributeArgument.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/Synthesis.qll
  powershell/ql/lib/semmle/code/powershell/ast/internal/TypeExpression.qll
  powershell/ql/lib/semmle/code/powershell/controlflow/CfgNodes.qll
  powershell/ql/lib/semmle/code/powershell/dataflow/internal/DataFlowDispatch.qll
  powershell/ql/lib/semmle/code/powershell/dataflow/internal/DataFlowPublic.qll
  powershell/ql/lib/semmle/code/powershell/frameworks/PowerShell.qll
  powershell/ql/lib/semmle/code/powershell/frameworks/Runspaces.qll
  powershell/ql/lib/semmle/code/powershell/security/CommandInjectionCustomizations.qll
  powershell/ql/lib/semmle/code/powershell/security/Sanitizers.qll
  powershell/ql/lib/semmle/code/powershell/security/SqlInjectionCustomizations.qll
  powershell/ql/test/library-tests/ast/Expressions/expressions.expected
  powershell/ql/test/library-tests/ast/parent.expected
  powershell/ql/test/library-tests/dataflow/typetracking/test.ps1
  powershell/ql/test/query-tests/security/cwe-089/test.ps1
Due: codeql-format, sync-files

Fix indentation in the "Supported languages and frameworks" page
  docs/codeql/_static/custom.css_t
Due: none

Python: Use `AttrWrite.writes`
  python/ql/lib/semmle/python/dataflow/new/internal/Attributes.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Python: Updated doc string and removed redundant predicate.
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Java: Improved `java/jvm-exit` query to remove FP's.
  java/ql/src/Violations of Best Practice/Undesirable Calls/CallsToSystemExit.ql
  java/ql/test/query-tests/CallsToSystemExit/CallsToSystemExit.expected
  java/ql/test/query-tests/CallsToSystemExit/ExampleRuntimeExit.java
  java/ql/test/query-tests/CallsToSystemExit/ExampleSystemExit.java
Due: codeql-format, sync-files

Java: Added basic test cases for `java/jvm-exit`
  java/ql/test/query-tests/CallsToSystemExit/CallsToSystemExit.expected
  java/ql/test/query-tests/CallsToSystemExit/CallsToSystemExit.qlref
  java/ql/test/query-tests/CallsToSystemExit/ExampleRuntimeExit.java
  java/ql/test/query-tests/CallsToSystemExit/ExampleRuntimeHalt.java
  java/ql/test/query-tests/CallsToSystemExit/ExampleSystemExit.java
Due: none

Java: Update docs and promote to quality `java/jvm-exit`
  java/ql/integration-tests/java/query-suite/java-code-quality-extended.qls.expected
  java/ql/integration-tests/java/query-suite/not_included_in_qls.expected
  java/ql/src/Violations of Best Practice/Undesirable Calls/CallsToSystemExit.java
  java/ql/src/Violations of Best Practice/Undesirable Calls/CallsToSystemExit.qhelp
  java/ql/src/Violations of Best Practice/Undesirable Calls/CallsToSystemExit.ql
Due: codeql-format, sync-files, qhelp

C++: Add change note.
  cpp/ql/lib/change-notes/2025-08-11-global-variable-flow.md
Due: none

Python: Add change note
  python/ql/lib/change-notes/2025-08-11-jump-step-global-nested.md
Due: none

Actions: clarify doc for untrusted checkout
  actions/ql/src/Security/CWE-829/UntrustedCheckoutCritical.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutHigh.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutMedium.md
Due: none

Rust: Remove newline.
  rust/ql/src/queries/security/CWE-312/CleartextStorageDatabaseGood.rs
Due: none

Java: Add inline test expectations for `MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.qlref`
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.qlref
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/TestORM.java
Due: none

Java: port `java/mocking-all-non-private-methods-means-unit-test-is-too-big` query
  java/ql/src/Likely Bugs/Frameworks/JUnit/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.md
  java/ql/src/Likely Bugs/Frameworks/JUnit/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.ql
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/Employee.java
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/EmployeeRecord.java
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.expected
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.qlref
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/TestORM.java
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/options
  java/ql/test/stubs/junit-4.13/LICENSE-junit.txt
  java/ql/test/stubs/junit-4.13/org/junit/Assert.java
  java/ql/test/stubs/junit-4.13/org/junit/Test.java
  java/ql/test/stubs/junit-4.13/org/junit/function/ThrowingRunnable.java
  java/ql/test/stubs/mockito-5.14/org/mockito/ArgumentMatchers.java
  java/ql/test/stubs/mockito-5.14/org/mockito/MockSettings.java
  java/ql/test/stubs/mockito-5.14/org/mockito/Mockito.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/MockitoCore.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/creation/MockSettingsImpl.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/handler/MockHandlerFactory.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/handler/MockHandlerImpl.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/progress/MockingProgress.java
  java/ql/test/stubs/mockito-5.14/org/mockito/internal/util/MockUtil.java
  java/ql/test/stubs/mockito-5.14/org/mockito/invocation/MockHandler.java
  java/ql/test/stubs/mockito-5.14/org/mockito/mock/MockCreationSettings.java
  java/ql/test/stubs/mockito-5.14/org/mockito/plugins/MockMaker.java
  java/ql/test/stubs/mockito-5.14/org/mockito/stubbing/Answer.java
  java/ql/test/stubs/mockito-5.14/org/mockito/stubbing/OngoingStubbing.java
  java/ql/test/stubs/mockito-5.14/org/mockito/stubbing/Stubber.java
Due: codeql-format, sync-files

Java: exclude single-method classes from mocking
  java/ql/src/Likely Bugs/Frameworks/JUnit/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.ql
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.expected
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/TestORM.java
Due: codeql-format, sync-files

Java: add single-method class test case for mocking rule
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/EmployeeStatus.java
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.expected
  java/ql/test/query-tests/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig/TestORM.java
Due: none

Java: Fix QLDoc style compliance and qhelp for mocking query
  java/ql/src/Likely Bugs/Frameworks/JUnit/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.md
  java/ql/src/Likely Bugs/Frameworks/JUnit/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.ql
Due: codeql-format, sync-files

Java: Promote `java/mocking-all-non-private-methods-means-unit-test-is-too-big` to quality status
  java/ql/integration-tests/java/query-suite/java-code-quality-extended.qls.expected
  java/ql/integration-tests/java/query-suite/java-code-quality.qls.expected
  java/ql/src/Likely Bugs/Frameworks/JUnit/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.ql
Due: codeql-format, sync-files

Java: Removed redundant cast to Stmt
  java/ql/src/Likely Bugs/Frameworks/JUnit/MockingAllNonPrivateMethodsMeansUnitTestIsTooBig.ql
Due: codeql-format, sync-files

Remove duplicate lines and format query
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
Due: codeql-format, sync-files

PS: Improve api graphs.
  powershell/ql/lib/qlpack.yml
  powershell/ql/lib/semmle/code/powershell/ApiGraphs.qll
  powershell/ql/lib/semmle/code/powershell/frameworks/data/empty.model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/data/internal/ApiGraphModelsSpecific.qll
  powershell/ql/lib/semmle/code/powershell/frameworks/data/internal/alias.model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/data/internal/cmdlet.model.yml
Due: codeql-format, sync-files

PS: Accept test changes.
  powershell/ql/test/query-tests/security/cwe-078/CommandInjection/CommandInjection.expected
Due: none

Cargo: align rust toolchain version with internal repository
  .bazelrc
  MODULE.bazel
  rust-toolchain.toml
  rust/ast-generator/src/main.rs
  rust/extractor/src/rust_analyzer.rs
  rust/extractor/src/translate/base.rs
  rust/extractor/src/trap.rs
  rust/rust-toolchain.toml
  shared/tree-sitter-extractor/src/generator/mod.rs
  shared/tree-sitter-extractor/src/generator/ql_gen.rs
Due: buildifier, sync-files, rust-lint

Shared tree-sitter extractor: run clippy
  shared/tree-sitter-extractor/src/autobuilder.rs
  shared/tree-sitter-extractor/src/diagnostics.rs
  shared/tree-sitter-extractor/src/extractor/mod.rs
  shared/tree-sitter-extractor/src/extractor/simple.rs
  shared/tree-sitter-extractor/src/generator/dbscheme.rs
  shared/tree-sitter-extractor/src/generator/ql.rs
  shared/tree-sitter-extractor/src/generator/ql_gen.rs
  shared/tree-sitter-extractor/src/node_types.rs
  shared/tree-sitter-extractor/src/trap.rs
Due: none

Rust: Test more variants of postgres usage.
  rust/ql/test/library-tests/frameworks/postgres/main.rs
Due: none

Rust: Test more variants of rusqlite usage.
  rust/ql/test/library-tests/frameworks/rusqlite/main.rs
Due: none

Rust: Fill out a few gaps in the models.
  rust/ql/lib/codeql/rust/frameworks/rusqlite.model.yml
  rust/ql/test/library-tests/frameworks/rusqlite/main.rs
Due: none

Rust: Fix typo in one of the models.
  rust/ql/lib/codeql/rust/frameworks/rusqlite.model.yml
  rust/ql/test/library-tests/frameworks/rusqlite/main.rs
Due: none

Rust: Add SQLx sources.
  rust/ql/lib/codeql/rust/frameworks/sqlx.model.yml
Due: none

Rust: Expand tokio-postgres sources.
  rust/ql/lib/codeql/rust/frameworks/tokio-postgres.model.yml
  rust/ql/test/library-tests/frameworks/postgres/main.rs
Due: none

Rust: Add postgres sources.
  rust/ql/lib/codeql/rust/frameworks/postgres.model.yml
Due: none

Rust: Fix a couple more gaps.
  rust/ql/lib/codeql/rust/frameworks/postgres.model.yml
  rust/ql/lib/codeql/rust/frameworks/tokio-postgres.model.yml
  rust/ql/test/library-tests/frameworks/postgres/main.rs
Due: none

Rust: Change note.
  rust/ql/lib/change-notes/2025-08-11-database-models.md
Due: none

Rust: Accept consistency test changes.
  rust/ql/test/library-tests/frameworks/postgres/CONSISTENCY/PathResolutionConsistency.expected
Due: none

Just: add `README.md`
  justfile
  misc/just/README.md
Due: none
