Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

catch when the main: path is invalid on Windows
  javascript/extractor/src/com/semmle/js/extractor/AutoBuild.java
Due: none

Swlft: fix CFG for SingleValueStmtExpr
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/test/extractor-tests/generated/expr/SingleValueStmtExpr/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/dataflow/flowsources/CONSISTENCY/CfgConsistency.expected
Due: codeql-format, sync-files, swift-codegen

C++: Add some more tests.
  cpp/ql/test/query-tests/Security/CWE/CWE-457/semmle/tests/test.cpp
Due: none

Restructure go Makefile: Build the per-platform target.
  go/Makefile
Due: none

Fix msbuild test to older dotnet version.
  csharp/ql/integration-tests/all-platforms/msbuild/global.json
Due: none

C#: Update Options unit tests to reflect the new default.
  csharp/extractor/Semmle.Extraction.Tests/Options.cs
Due: none

C#: Set CIL extraction default to false.
  csharp/extractor/Semmle.Extraction/Options.cs
Due: none

C#: Add CIL extraction change note.
  csharp/ql/src/change-notes/2023-10-24-disable-cil.md
Due: none

Codegen: pass `ql_internal` to `Stub`
  misc/codegen/generators/qlgen.py
  misc/codegen/lib/ql.py
  misc/codegen/test/test_qlgen.py
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/elements/decl/AccessorOrNamedFunction.qll
  swift/ql/lib/codeql/swift/elements/expr/DotSyntaxCallExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/InitializerRefCallExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/SelfApplyExpr.qll
Due: codeql-format, sync-files, swift-codegen

C#: Fix compiler warning of possible null de-reference.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Attribute.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/NonGeneratedSourceLocation.cs
  csharp/extractor/Semmle.Extraction/Entities/Base/CachedEntity`1.cs
Due: none

C++: Delete the operand case from range analysis SSA. This will make the modulus analysis nonterminating on our tests, but we'll fix that in the next commit.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
Due: codeql-format, sync-files

Java: Move more tests to use the try_use_java11() helper.
  java/ql/integration-tests/all-platforms/java/android-sample-kotlin-build-script-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-kotlin-build-script/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-kotlin-build-script/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-old-style-no-wrapper/test.py
  java/ql/integration-tests/all-platforms/java/android-sample-old-style/test.py
  java/ql/integration-tests/all-platforms/java/android-sample/test.py
Due: none

The java-version-too-old relies on a Java 8 installation.
  java/ql/integration-tests/all-platforms/java/diagnostics/java-version-too-old/skip-on-platform-osx-arm
Due: none

C++: Allow phi operand -> phi flow through inexact phi operands.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
Due: codeql-format, sync-files

C++: No need for an IPA type anymore.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
Due: codeql-format, sync-files

C#: Re-introduce null check in cached entity hash code calculation.
  csharp/extractor/Semmle.Extraction/Entities/Base/CachedEntity`1.cs
Due: none

Swift: Add credit to change note.
  swift/ql/src/change-notes/2023-11-06-command-injection.md
Due: none

Java/C++: Move SsaReadPosition to shared qlpack.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticSSA.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisImpl.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeUtils.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/SignAnalysisCommon.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/lib/semmle/code/java/dataflow/RangeUtils.qll
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/SignAnalysisSpecific.qll
  shared/rangeanalysis/codeql/rangeanalysis/ModulusAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/internal/RangeUtils.qll
Due: codeql-format, sync-files

Swift: add 5.9 chagenote
  swift/ql/lib/change-notes/2023-11-08-swift-5.9.md
Due: none

C#: Add test case with legacy nuget restore
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Assemblies.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Assemblies.ql
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Program.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/packages.config
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/test.csproj
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/test.py
Due: codeql-format, sync-files

C#: Include all (legacy) nuget restored folders in standalone references
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Assemblies.expected
Due: none

Java: Duplicate a bit more code to postpone Java-C# cleanup.
  java/ql/lib/semmle/code/java/dataflow/internal/rangeanalysis/ModulusAnalysisSpecific.qll
Due: codeql-format, sync-files

fix tests for FileSystemAccess, add comments for adding some functions in future, remove old comments
  go/ql/lib/semmle/go/frameworks/Fasthttp.qll
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/FileSystemAccess.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/FileSystemAccess.ql
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/fasthttp.go
Due: codeql-format, sync-files

Python: Add test of nested classes
  python/ql/test/experimental/dataflow/fieldflow/test.py
Due: none

C++: Rewrite 'cpp/unbounded-write' away from DefaultTaintTracking.
  cpp/ql/src/Security/CWE/CWE-120/UnboundedWrite.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-120/semmle/tests/UnboundedWrite.expected
Due: codeql-format, sync-files

Python: Add tests of taint-flow for `re` module
  python/ql/test/library-tests/frameworks/stdlib/test_re.py
Due: none

Python: Add taint modeling of `re.Match` objects
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/stdlib/test_re.py
Due: codeql-format, sync-files

Python: Model taint from `re.<func>` calls
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/frameworks/stdlib/test_re.py
Due: codeql-format, sync-files

Python: Add change-note
  python/ql/lib/change-notes/2023-11-08-re-modeling.md
Due: none

Adding change log
  cpp/ql/lib/change-notes/2023-11-8-strsafe-models.md
Due: none

Adding missing strsafe sprintf variants.
  cpp/ql/lib/semmle/code/cpp/models/implementations/Printf.qll
Due: codeql-format, sync-files

Update cpp/ql/lib/change-notes/2023-11-8-strsafe-models.md
  cpp/ql/lib/change-notes/2023-11-8-strsafe-models.md
Due: none

Adding missing strsafe sprintf variants. (#30)
  cpp/ql/lib/semmle/code/cpp/models/implementations/Printf.qll
Due: codeql-format, sync-files

C#: Update model conversion queries
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  csharp/ql/src/utils/modelconverter/ConvertExtensions.py
  csharp/ql/src/utils/modelconverter/ExtractNeutrals.ql
  csharp/ql/src/utils/modelconverter/ExtractSinks.ql
  csharp/ql/src/utils/modelconverter/ExtractSources.ql
  csharp/ql/src/utils/modelconverter/ExtractSummaries.ql
  csharp/ql/src/utils/modelconverter/InterpretModel.qll
  misc/scripts/models-as-data/convert_extensions.py
Due: codeql-format, sync-files

C#: Use new format for generics when parsing MaD rows
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
Due: codeql-format, sync-files

C#: Allow for explicit interface names in MaD consistency check
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
Due: codeql-format, sync-files
