Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

JS: Port IncompleteUrlSchemeCheck test
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck/IncompleteUrlSchemeCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck/IncompleteUrlSchemeCheck.js
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck/IncompleteUrlSchemeCheck.qlref
Due: none

JS: Move annotations to the correct line
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck/IncompleteUrlSchemeCheck.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSchemeCheck/IncompleteUrlSchemeCheck.js
Due: none

JS: Port IncompleteUrlSubstringSanitization test
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization/IncompleteUrlSubstringSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization/IncompleteUrlSubstringSanitization.qlref
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization/tst-IncompleteUrlSubstringSanitization.js
Due: none

JS: Remove OK comments that don't provide further explanation
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization/tst-IncompleteUrlSubstringSanitization.js
Due: none

JS: Triage discrepancies and update test
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization/IncompleteUrlSubstringSanitization.expected
  javascript/ql/test/query-tests/Security/CWE-020/IncompleteUrlSubstringSanitization/tst-IncompleteUrlSubstringSanitization.js
Due: none

Add `Ormer` models for v1 of the beego ORM
  go/ql/lib/ext/github.com.beego.beego.client.orm.model.yml
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/test_beego_orm.go
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/astaxie/beego/orm/stub.go
Due: none

Reword change note to be more general
  go/ql/lib/change-notes/2025-01-09-beego-orm-models.md
Due: none

Rename test functions to include package name
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/test_beego_orm.go
Due: none

Rust: Move QL doc into `annotations.py`
  rust/ql/.generated.list
  rust/ql/lib/codeql/rust/elements/internal/FormatImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Format.qll
  rust/ql/test/extractor-tests/generated/.generated_tests.list
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/Format.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/FormatArgsArg.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/FormatArgsArg_getExpr.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/FormatArgsExpr.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/FormatArgsExpr_getArg.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/FormatArgsExpr_getFormat.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/FormatArgsExpr_getTemplate.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/FormatArgument.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/FormatArgument_getVariable.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/FormatTemplateVariableAccess.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/Format_getArgumentRef.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/Format_getPrecisionArgument.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/Format_getWidthArgument.expected
  rust/ql/test/extractor-tests/generated/FormatArgsExpr/gen_format.rs
  rust/schema/annotations.py
Due: codeql-format, sync-files, rust-codegen

Fix formatting
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/test_beego_orm.go
Due: none

Rust: Correct the qhelp.
  rust/ql/src/queries/security/CWE-328/WeakSensitiveDataHashing.qhelp
Due: sync-files, qhelp

Fix provenance in test
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/StoredXss.expected
Due: none

Rust: Unrelated MaD test impact. :(
  rust/ql/test/library-tests/dataflow/taint/TaintFlowStep.expected
Due: none

Rust: Attempt to fix the test on CI.
  rust/ql/test/query-tests/security/CWE-328/WeakSensitiveDataHashing.qlref
Due: none

Drop C++20 beta notification from docs
  docs/codeql/reusables/supported-versions-compilers.rst
Due: none

Filter revFlowParamToReturn using flowThroughIntoCall
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Push flowThroughIntoCall into revFlowIsReturned
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

C++: Split out 'NotExpr' to its own class.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
Due: codeql-format, sync-files

C++: Provide a hook for overriding 'getResultType'.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
Due: codeql-format, sync-files

C++: Adjust the result type at 'NotExpr' and at comparisons.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
Due: none

C++: Insert int-to-bool conversions at conditions.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCondition.qll
Due: codeql-format, sync-files

C++: Insert int-to-bool conversions at 'NotExpr's.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
Due: codeql-format, sync-files

C++: Insert int-to-bool conversions at binary conditional expressions.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/InstructionTag.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
Due: none

C++: Accept Guards test changes.
  cpp/ql/test/library-tests/controlflow/guards-ir/tests.expected
  cpp/ql/test/library-tests/controlflow/guards/Guards.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsCompare.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsControl.expected
  cpp/ql/test/library-tests/controlflow/guards/GuardsEnsure.expected
Due: none

C++: Remove 'inNonZeroCase' from IRGuards since we now always have implicit comparisons against 0 in C code.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

C++: Update stats file
  cpp/ql/lib/semmlecode.cpp.dbscheme.stats
Due: none

C++: Fix join order problem after stats file update
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
Due: codeql-format, sync-files

Rust: Rename `variables.rs` to `main.rs`
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/main.rs
  rust/ql/test/library-tests/variables/variables.expected
Due: none

Rust: Add more variable tests
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/main.rs
  rust/ql/test/library-tests/variables/variables.expected
Due: none

Rust: Avoid location-based variable analysis
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/test/library-tests/dataflow/strings/inline-taint-flow.expected
  rust/ql/test/library-tests/dataflow/strings/main.rs
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/main.rs
  rust/ql/test/library-tests/variables/variables.expected
  rust/ql/test/library-tests/variables/variables.ql
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/main.rs
Due: codeql-format, sync-files, rust-codegen

Apply suggestions from code review
  rust/ql/src/queries/security/CWE-328/WeakSensitiveDataHashing.qhelp
Due: sync-files, qhelp

Rust: More suggestions from review.
  rust/ql/lib/codeql/rust/security/WeakSensitiveDataHashingExtensions.qll
  rust/ql/src/queries/security/CWE-328/WeakSensitiveDataHashing.qhelp
  rust/ql/src/queries/security/CWE-328/WeakSensitiveDataHashing.ql
Due: codeql-format, sync-files, qhelp

Rust: Autoformat.
  rust/ql/src/queries/security/CWE-328/WeakSensitiveDataHashing.ql
Due: codeql-format, sync-files

C++: Add test for nested ternary expressions of literals
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/lowerBound.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/ternaryLower.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/ternaryUpper.expected
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/test.c
  cpp/ql/test/library-tests/rangeanalysis/SimpleRangeAnalysis/upperBound.expected
Due: none

C++: Only propagate smallest/largest bound in conditional expressions
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Due: codeql-format, sync-files

C++: Minor refactor and documentation tweak to simple range analysis
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/SimpleRangeAnalysis.qll
Due: codeql-format, sync-files
