Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, qhelp, swift-codegen

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
        language: system
        entry: bazel run //swift/codegen
        pass_filenames: false

Kotlin: Add 1.5.10 specific files
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/Descriptors.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/FileEntry.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/Functions.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_10/Types.kt
Due: none

Kotlin: adjust build scripts to include versions 1.5.0, 1.5.10, and 1.5.21
  java/kotlin-extractor/build.gradle
  java/kotlin-extractor/kotlin_plugin_versions.py
Due: none

Concepts: Move `CryptographicOperation.isWeak` to be Ruby specific
  javascript/ql/lib/semmle/javascript/internal/ConceptsShared.qll
  python/ql/lib/semmle/python/internal/ConceptsShared.qll
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/internal/ConceptsShared.qll
Due: codeql-format

Ruby: Add getAPrimaryQlClass to CfgNode
  ruby/ql/lib/codeql/ruby/controlflow/CfgNodes.qll
  ruby/ql/lib/codeql/ruby/controlflow/ControlFlowGraph.qll
Due: codeql-format

fix typo in comment
  javascript/ql/src/Security/CWE-384/SessionFixation.ql
Due: codeql-format

Update cpp/ql/src/experimental/Best Practices/WrongUintAccess.qhelp
  cpp/ql/src/experimental/Best Practices/WrongUintAccess.qhelp
Due: qhelp

Kotlin: Autoformat
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
Due: codeql-format

Swift: Fix Code Scanning alerts.
  swift/ql/lib/codeql/swift/controlflow/CfgNodes.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImplSpecific.qll
  swift/ql/lib/codeql/swift/elements/expr/BinaryExpr.qll
  swift/ql/lib/codeql/swift/elements/expr/Expr.qll
Due: codeql-format, swift-codegen

expand qldoc for `getNumArgument`
  python/ql/lib/semmle/python/ApiGraphs.qll
Due: codeql-format

Swift: Add shared SSA library.
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/SsaImplSpecific.qll
Due: codeql-format

Swift: Add skeleton for shared dataflow library.
  swift/ql/lib/codeql/swift/dataflow/DataFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowDispatch.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplCommon.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplConsistency.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplSpecific.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/TaintTrackingPublic.qll
  swift/ql/lib/codeql/swift/dataflow/internal/tainttracking1/TaintTrackingImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/tainttracking1/TaintTrackingParameter.qll
Due: codeql-format

Updated sync-identical-files.
  config/identical-files.json
Due: none

Support Go and Swift in the `prepare-db-upgrade` script
  misc/scripts/prepare-db-upgrade.sh
Due: none

Apply suggestions from code review
  docs/codeql/codeql-cli/about-ql-packs.rst
  docs/codeql/codeql-cli/getting-started-with-the-codeql-cli.rst
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
Due: none

autoformat
  python/ql/lib/semmle/python/ApiGraphs.qll
Due: codeql-format

Go: trigger CI jobs on Go related changes only
  .github/workflows/go-tests.yml
Due: none

C#: Fix issue with isAutoGenerated predicate and make sure that data flow only use relevant summaries.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/Language Abuse/ForeachCapture.ql
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
Due: codeql-format

C#: Address codereview comments.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format

C#/Java/Ruby: Sync files.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
Due: codeql-format

Java: Update dependencies.
  java/ql/test/library-tests/dataflow/external-models/steps.ql
  java/ql/test/library-tests/dataflow/local-additional-taint/localAdditionalTaintStep.ql
Due: codeql-format

Fix typo
  docs/codeql/codeql-for-visual-studio-code/setting-up-codeql-in-visual-studio-code.rst
Due: none

Swift: Update schema and update generated files.
  swift/codegen/schema.yml
  swift/ql/lib/codeql/swift/generated/decl/AbstractStorageDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/AccessorDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/SubscriptDecl.qll
  swift/ql/lib/codeql/swift/generated/expr/DeclRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/LookupExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/MemberRefExpr.qll
  swift/ql/lib/codeql/swift/generated/expr/SubscriptExpr.qll
  swift/ql/lib/swift.dbscheme
Due: codeql-format, swift-codegen

Swift: Extract new entities.
  swift/extractor/visitors/DeclVisitor.h
  swift/extractor/visitors/ExprVisitor.h
Due: none

Swift: Add tests and accept test changes.
  swift/ql/test/extractor-tests/declarations/accessor.expected
  swift/ql/test/extractor-tests/declarations/accessor.ql
  swift/ql/test/extractor-tests/declarations/all.expected
  swift/ql/test/extractor-tests/declarations/func.expected
  swift/ql/test/extractor-tests/declarations/func_body.expected
  swift/ql/test/extractor-tests/declarations/func_params.expected
  swift/ql/test/extractor-tests/declarations/test.swift
  swift/ql/test/extractor-tests/expressions/all.expected
  swift/ql/test/extractor-tests/expressions/expressions.swift
  swift/ql/test/extractor-tests/expressions/semantics.expected
  swift/ql/test/extractor-tests/expressions/semantics.ql
  swift/ql/test/library-tests/controlflow/graph/Cfg.expected
Due: codeql-format

Kotlin: Add test for missing kotlin to java property mapping
  java/ql/test/kotlin/library-tests/java-map-methods/test.expected
  java/ql/test/kotlin/library-tests/java-map-methods/test.kt
  java/ql/test/kotlin/library-tests/java-map-methods/test.ql
Due: codeql-format

Kotlin: Fix missing kotlin to java property mapping
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/java-map-methods/test.expected
Due: none

Rework `ContentDataFlow` implementation
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ContentDataFlow.qll
  csharp/ql/test/library-tests/dataflow/content/ContentFlow.expected
Due: codeql-format

Ruby: Model ActiveSupport extensions to Enumerable
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
Due: codeql-format

Ruby: Recognised ActiveSupport::TaggedLogging as a logger
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
Due: codeql-format

Ruby: Add tests for ActiveSupport modelling
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Logger.qll
  ruby/ql/test/library-tests/frameworks/active_support.rb
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupport.expected
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupport.ql
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupportDataFlow.expected
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupportDataFlow.ql
  ruby/ql/test/library-tests/frameworks/active_support/active_support.rb
  ruby/ql/test/library-tests/frameworks/stdlib/Logger.expected
  ruby/ql/test/library-tests/frameworks/stdlib/Logger.ql
  ruby/ql/test/library-tests/frameworks/stdlib/Logging.rb
Due: codeql-format

Ruby: Flow for ActiveSupport String extensions
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
Due: codeql-format

Ruby: Recognise ActiveSupport::Logger as a logger
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/lib/codeql/ruby/frameworks/stdlib/Logger.qll
Due: codeql-format

Fix singleton set literal
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
Due: codeql-format

fix misspellings in predicate names
  javascript/ql/lib/semmle/javascript/filters/ClassifyFiles.qll
  javascript/ql/lib/semmle/javascript/frameworks/History.qll
  javascript/ql/src/Security/CWE-116/IncompleteSanitization.ql
Due: codeql-format

add explicit this
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/src/Security/CWE-020/IncompleteUrlSchemeCheck.ql
  javascript/ql/test/ApiGraphs/VerifyAssertions.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.ql
Due: codeql-format

Swift: Make the 'semantics.ql' test plantform-independent.
  swift/ql/test/extractor-tests/expressions/semantics.expected
  swift/ql/test/extractor-tests/expressions/semantics.ql
Due: codeql-format

remove unused field
  javascript/ql/lib/semmle/javascript/frameworks/Handlebars.qll
Due: codeql-format

delete redundant import
  javascript/ql/lib/semmle/javascript/security/dataflow/ExceptionXssCustomizations.qll
Due: codeql-format

use more set literals instead of big disjunctions
  javascript/ql/lib/semmle/javascript/frameworks/ClosureLibrary.qll
  javascript/ql/lib/semmle/javascript/frameworks/UriLibraries.qll
  javascript/ql/src/Expressions/StringInsteadOfRegex.ql
  javascript/ql/src/experimental/Security/CWE-094/UntrustedCheckout.ql
Due: codeql-format

Change owner of Go-related workflows
  CODEOWNERS
Due: none
