Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

C++: Another test case - Arguments with no specified index.
  cpp/ql/test/library-tests/dataflow/models-as-data/FlowSummaryNode.expected
  cpp/ql/test/library-tests/dataflow/models-as-data/testModels.qll
  cpp/ql/test/library-tests/dataflow/models-as-data/tests.cpp
Due: codeql-format, sync-files

C++: We *could* support .Argument with no index, but I'm not convinced we can do so efficiently, so lets not.
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/test/library-tests/dataflow/models-as-data/testModels.qll
  cpp/ql/test/library-tests/dataflow/models-as-data/tests.cpp
Due: codeql-format, sync-files

Update Java version supported to 22
  docs/codeql/reusables/supported-versions-compilers.rst
Due: none

Filter out sources from test directories
  cpp/ql/src/Security/CWE/CWE-129/ImproperArrayIndexValidation.ql
Due: codeql-format, sync-files

C++: Clean up argument / parameter position logic.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

C++: Disambiguate *n1..n2 doc.
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  go/ql/src/Security/CWE-089/StringBreak.qhelp
Due: sync-files, qhelp

Remove unused data extension in test
  java/ql/test/library-tests/dataflow/threat-models/threat-models-flowtest1.ext.yml
Due: none

test
  test.txt
Due: none

JS: Move Directive subclasses into Directive module
  javascript/ql/lib/semmle/javascript/AST.qll
  javascript/ql/lib/semmle/javascript/Functions.qll
  javascript/ql/lib/semmle/javascript/Stmt.qll
  javascript/ql/lib/semmle/javascript/frameworks/Bundling.qll
  javascript/ql/src/Expressions/UnknownDirective.ql
Due: codeql-format, sync-files

JS: Add UseServer and UseClient directives
  javascript/ql/lib/semmle/javascript/Stmt.qll
  javascript/ql/test/query-tests/Expressions/UnknownDirective/UnknownDirective.expected
  javascript/ql/test/query-tests/Expressions/UnknownDirective/UnknownDirective.js
Due: codeql-format, sync-files

JS: Fix use of deprecated alias
  javascript/ql/test/library-tests/Directives/KnownDirective.ql
Due: codeql-format, sync-files

JS: More implied receiver steps
  javascript/ql/lib/semmle/javascript/dataflow/internal/CallGraphs.qll
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
Due: codeql-format, sync-files

JS: Add test case
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/Test.expected
  javascript/ql/test/library-tests/CallGraphs/AnnotatedTest/implied-receiver.js
Due: none

Go: Add changenote for `CODEQL_EXTRACTOR_GO_FAST_PACKAGE_INFO` change
  go/ql/lib/change-notes/2024-03-20-dependecy-retrieval-improvement.md
Due: none

Tweak codeal-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Go: Improve QHelp for `go/unvalidated-url-redirection`.
  go/ql/src/Security/CWE-601/OpenUrlRedirect.qhelp
  go/ql/src/Security/CWE-601/OpenUrlRedirectGood.go
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirectGood.go
Due: sync-files, qhelp

Set spawn-strategy=local
  .github/workflows/codeql-analysis.yml
Due: none

C++: Improve QLDoc.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

Fix typo
  .github/workflows/codeql-analysis.yml
Due: none

Use recommended Bazel flags
  .github/workflows/codeql-analysis.yml
Due: none

Tweak build command
  .github/workflows/codeql-analysis.yml
Due: none

Update abseil bazel modules
  .github/workflows/codeql-analysis.yml
  MODULE.bazel
Due: none

JS: Account for ExtendCalls in localFieldStep
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
Due: codeql-format, sync-files

JS: Use isRelevantType in ValueAccessPathString
  javascript/ql/lib/semmle/javascript/frameworks/data/internal/ApiGraphModelsSpecific.qll
Due: codeql-format, sync-files

Test
  .github/workflows/codeql-analysis.yml
Due: none

Kotlin 2: Accept more location changes
  java/ql/test-kotlin2/library-tests/exprs/exprs.expected
Due: none

JS: Extractor: More robust ES2015 checking
  javascript/extractor/src/com/semmle/js/extractor/ES2015Detector.java
  javascript/extractor/src/com/semmle/js/extractor/JSExtractor.java
  javascript/extractor/test/com/semmle/js/extractor/test/AllTests.java
  javascript/extractor/test/com/semmle/js/extractor/test/ES2015DetectorTests.java
  javascript/extractor/tests/node/output/trap/detection.js.trap
Due: none

JS: Extractor: Explain how to make `replaceExpectedOutput` work now with bazel
  javascript/extractor/test/com/semmle/js/extractor/test/BUILD.bazel
  javascript/extractor/test/com/semmle/js/extractor/test/TrapTests.java
Due: none

JS: Accept new trap files
  javascript/extractor/tests/flow/output/trap/anonFunctionWithoutParens.js.trap
  javascript/extractor/tests/flow/output/trap/anonIndexer.js.trap
  javascript/extractor/tests/flow/output/trap/declared-module-imports.js.trap
  javascript/extractor/tests/flow/output/trap/exportOpaqueType.js.trap
  javascript/extractor/tests/flow/output/trap/importTypeInDeclaredModule.js.trap
  javascript/extractor/tests/flow/output/trap/variance.js.trap
Due: none

JS: Extractor: Separate base detector logic into own file
  javascript/extractor/src/com/semmle/js/extractor/AbstractDetector.java
  javascript/extractor/src/com/semmle/js/extractor/NodeJSDetector.java
Due: none

JS: Extractor: Fix `experimental` flag value for NodeJSDetectorTests
  javascript/extractor/test/com/semmle/js/extractor/test/NodeJSDetectorTests.java
Due: none

Java: Add more neutrals
  java/ql/lib/change-notes/2024-03-26-url-models-precision.md
  java/ql/lib/ext/java.net.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/ext/java.security.cert.model.yml
  java/ql/lib/ext/java.security.model.yml
Due: none

C++: Add 'TaintInheritingContent'.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/FlowSteps.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
Due: codeql-format, sync-files

C++: Add test.
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.ql
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.cpp
Due: none

C++: Add change note.
  cpp/ql/lib/change-notes/2024-03-26-taint-inheriting-content.md
Due: none

C++: Add file QLDoc.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/FlowSteps.qll
Due: codeql-format, sync-files

Update cpp/ql/lib/semmle/code/cpp/ir/dataflow/FlowSteps.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/FlowSteps.qll
Due: codeql-format, sync-files
