Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

C++: Accept test changes.
  cpp/ql/test/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/UnsignedDifferenceExpressionComparedZero.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero/test.cpp
Due: none

C++: Add change note.
  cpp/ql/src/change-notes/2024-07-16-unsigned-difference-expression-compared-zero-.md
Due: none

[Python] : Cors misconfiguration
  python/ql/src/experimental/Security/CWE-346/CorsMisconfig.qhelp
  python/ql/src/experimental/Security/CWE-346/CorsMisconfig.ql
  python/ql/test/experimental/query-tests/Security/CWE-346/test.expected
  python/ql/test/experimental/query-tests/Security/CWE-346/test.py
Due: codeql-format, sync-files, qhelp

Update CorsMisconfig.qhelp
  python/ql/src/experimental/Security/CWE-346/CorsMisconfig.qhelp
Due: sync-files, qhelp

add test for extensible predicate in postprocess
  java/ql/test/TestUtilities/SinkModelNamespaceRoots.ql
  java/ql/test/query-tests/Postprocessing/WithExtensible/OverlyLargeRangeQuery.expected
  java/ql/test/query-tests/Postprocessing/WithExtensible/OverlyLargeRangeQuery.qlref
Due: codeql-format, sync-files

Kotlin: Support 2.0.20
  docs/codeql/reusables/supported-versions-compilers.rst
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/diagnostics.expected
  java/ql/lib/change-notes/2024-06-19-kotlin-2.0.20.md
Due: none

Kotlin: Add 2.0.20-Beta1
  MODULE.bazel
  java/kotlin-extractor/versions.bzl
Due: none

Kotlin: Add 2.0.20-Beta1 deps
  java/kotlin-extractor/deps/kotlin-compiler-2.0.20-Beta1.jar
  java/kotlin-extractor/deps/kotlin-compiler-embeddable-2.0.20-Beta1.jar
  java/kotlin-extractor/deps/kotlin-stdlib-2.0.20-Beta1.jar
Due: none

Kotlin: Switch from 2.0.20-Beta1 to -Beta2
  MODULE.bazel
  java/kotlin-extractor/versions.bzl
Due: none

Kotlin: Update deps to 2.0.20-Beta2
  java/kotlin-extractor/deps/kotlin-compiler-2.0.20-Beta1.jar
  java/kotlin-extractor/deps/kotlin-compiler-2.0.20-Beta2.jar
  java/kotlin-extractor/deps/kotlin-compiler-embeddable-2.0.20-Beta1.jar
  java/kotlin-extractor/deps/kotlin-compiler-embeddable-2.0.20-Beta2.jar
  java/kotlin-extractor/deps/kotlin-stdlib-2.0.20-Beta1.jar
  java/kotlin-extractor/deps/kotlin-stdlib-2.0.20-Beta2.jar
Due: none

Kotlin: Fixes for 2.0.20-Beta2
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_0_20-Beta2/getKotlinType.kt
Due: none

add test for sorted test postprocess result
  java/ql/test/TestUtilities/TestResultSorting.ql
  java/ql/test/query-tests/Postprocessing/SortedResults/OverlyLargeRangeQuery.qlref
Due: codeql-format, sync-files

Change string prefix check
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

C++: Replace 'InitializeGroup' with 'UninitializedGroup'.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/MemoryAccessKind.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/Opcode.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/TInstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/TOperand.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
Due: codeql-format, sync-files

C++: Sync identical files.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/Instruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
Due: none

Promoto cookie injection query
  python/ql/lib/semmle/python/security/dataflow/CookieInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/CookieInjectionQuery.qll
  python/ql/src/Security/CWE-614/CookieInjection.ql
Due: codeql-format, sync-files

Add test cases + remove redundant import
  python/ql/src/Security/CWE-614/CookieInjection.ql
  python/ql/test/query-tests/Security/CWE-614-CookieInjection/CookieInjection.expected
  python/ql/test/query-tests/Security/CWE-614-CookieInjection/CookieInjection.qlref
  python/ql/test/query-tests/Security/CWE-614-CookieInjection/django_tests.py
Due: codeql-format, sync-files

Add documentation
  python/ql/src/Security/CWE-614/CookieInjection.qhelp
  python/ql/src/Security/CWE-614/CookieInjection.ql
  python/ql/src/Security/CWE-614/examples/CookieInjection.py
Due: codeql-format, sync-files, qhelp

Move to cwe-20
  python/ql/src/Security/CWE-020/CookieInjection.qhelp
  python/ql/src/Security/CWE-020/CookieInjection.ql
  python/ql/src/Security/CWE-020/examples/CookieInjection.py
  python/ql/test/query-tests/Security/CWE-020-CookieInjection/CookieInjection.expected
  python/ql/test/query-tests/Security/CWE-020-CookieInjection/CookieInjection.qlref
  python/ql/test/query-tests/Security/CWE-020-CookieInjection/django_tests.py
  python/ql/test/query-tests/Security/CWE-614-CookieInjection/CookieInjection.qlref
Due: codeql-format, sync-files, qhelp

Remove experimental version
  python/ql/src/experimental/Security/CWE-614/CookieInjection.py
  python/ql/src/experimental/Security/CWE-614/CookieInjection.qhelp
  python/ql/src/experimental/Security/CWE-614/CookieInjection.ql
  python/ql/test/experimental/query-tests/Security/CWE-614/CookieInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-614/CookieInjection.qlref
Due: codeql-format, sync-files, qhelp

Use `packageGrouping` in Revel models
  go/ql/lib/ext/github.com.revel.revel.model.yml
Due: none

Convert Revel field read sources to MaD
  go/ql/lib/ext/github.com.revel.revel.model.yml
  go/ql/lib/semmle/go/frameworks/Revel.qll
Due: codeql-format, sync-files

Convert Revel::UserControlledRequestMethod sources to MaD
  go/ql/lib/ext/github.com.revel.revel.model.yml
  go/ql/lib/semmle/go/frameworks/Revel.qll
Due: codeql-format, sync-files

Convert net/http UserControlledRequestField sources to MaD
  go/ql/lib/ext/net.http.model.yml
  go/ql/lib/semmle/go/frameworks/stdlib/NetHttp.qll
Due: codeql-format, sync-files

Java: update provenance numbers in tests again
  java/ql/test/experimental/query-tests/security/CWE-020/Log4jInjectionTest.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
  java/ql/test/query-tests/security/CWE-601/semmle/tests/UrlRedirect.expected
Due: none

C++: Delete redundant conjuncts.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
Due: codeql-format, sync-files

C++: Sync identical files.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
Due: codeql-format, sync-files

Test: accept model numbers changing
  go/ql/test/experimental/CWE-090/LDAPInjection.expected
  go/ql/test/experimental/CWE-203/Timing.expected
  go/ql/test/experimental/CWE-287/ImproperLdapAuth.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/experimental/CWE-74/DsnInjection.expected
  go/ql/test/experimental/CWE-79/HTMLTemplateEscapingPassthrough.expected
  go/ql/test/experimental/CWE-918/SSRF.expected
  go/ql/test/library-tests/semmle/go/dataflow/DefaultTaintSanitizer/DefaultSanitizer.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest1.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest2.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest3.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest4.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest5.expected
  go/ql/test/library-tests/semmle/go/dataflow/ThreatModels/threat-models-flowtest6.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/BeegoOrm/SqlInjection.expected
  go/ql/test/library-tests/semmle/go/frameworks/Chi/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/XNetHtml/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
  go/ql/test/query-tests/Security/CWE-022/ZipSlip.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-079/ReflectedXss.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-347/MissingJwtSignatureCheck.expected
  go/ql/test/query-tests/Security/CWE-601/BadRedirectCheck/BadRedirectCheck.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
  go/ql/test/query-tests/Security/CWE-640/EmailInjection.expected
  go/ql/test/query-tests/Security/CWE-643/XPathInjection.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Due: none

Add file sources
  go/ql/lib/ext/os.model.yml
Due: none

Update NetHttp.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
Due: codeql-format, sync-files

Add frameworks to frameworks.csv
  go/documentation/library-coverage/frameworks.csv
Due: none

Split models for separate protobuf packages into separate files
  go/ql/lib/ext/github.com.golang.protobuf.proto.model.yml
  go/ql/lib/ext/google.golang.org.protobuf.proto.model.yml
Due: none

Use package grouping for go-jose/jwt models
  go/ql/lib/ext/github.com.go-jose.go-jose.jwt.model.yml
  go/ql/lib/ext/github.com.go-jose.go-jose.model.yml
  go/ql/lib/ext/gopkg.in.square.go-jose.model.yml
Due: none

Use package grouping in models for gocb
  go/ql/lib/ext/github.com.couchbase.gocb.model.yml
  go/ql/lib/ext/gopkg.in.couchbase.gocb.model.yml
Due: none

C++: Promote 'cpp/unsigned-difference-expression-compared-zero' to Code Scanning.
  cpp/ql/src/Security/CWE/CWE-191/UnsignedDifferenceExpressionComparedZero.ql
Due: codeql-format, sync-files

C++: Add change note.
  cpp/ql/src/change-notes/2024-07-11-unsigned-difference-expression-compared-zero-query.md
Due: none

Adapt test to work better for MaD
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/fasthttp.go
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
