Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

Java: Fix broken performance.
  java/ql/src/Violations of Best Practice/Naming Conventions/ConfusingOverloading.ql
Due: codeql-format, sync-files

Performance experiment - add getFunctionFIle for better join order
  python/ql/src/Functions/SignatureOverriddenMethod.ql
Due: codeql-format, sync-files

JS: Add support for Array.prototype.with
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/Arrays.qll
  javascript/ql/test/library-tests/TripleDot/array-with.js
Due: codeql-format, sync-files

Rename `proxy_configs` to `goproxy_servers` and only store URLs
  go/extractor/util/registryproxy.go
Due: none

Go: Use `git_source` configurations for `GOPRIVATE`
  go/extractor/util/registryproxy.go
  go/extractor/util/registryproxy_test.go
Due: none

Set lower-case variants of `HTTP_PROXY` and `HTTPS_PROXY`
  go/extractor/util/registryproxy.go
Due: none

Configure `git` to use the certificate, if needed
  go/extractor/util/registryproxy.go
Due: none

Improve logging to include proxy vars
  go/extractor/util/registryproxy.go
Due: none

Don't use GOPROXY for `git_sources`
  go/extractor/util/registryproxy.go
Due: none

Log when configuring `git` for certificate
  go/extractor/util/registryproxy.go
Due: none

Append `*` to `git_source` URL if not present
  go/extractor/util/registryproxy.go
Due: none

Convert URLs to expected format
  go/extractor/util/registryproxy.go
Due: none

C#: Include metrics in the database quality diagnostics.
  csharp/ql/src/Telemetry/DatabaseQualityDiagnostics.ql
Due: codeql-format, sync-files

C#: Add change note.
  csharp/ql/src/change-notes/2025-09-04-database-diagnostics.md
Due: none

C#: Update integration test expected output.
  csharp/ql/integration-tests/all-platforms/standalone/DatabaseQualityDiagnostics.expected
Due: none

C#: Address review comments.
  csharp/ql/src/Telemetry/DatabaseQualityDiagnostics.ql
Due: codeql-format, sync-files

Java: Include metrics in the database quality diagnostics and lower threshold.
  java/ql/src/Telemetry/DatabaseQualityDiagnostics.ql
Due: codeql-format, sync-files

Java: Add change note.
  java/ql/src/change-notes/2025-09-04-database-diagnostics.md
Due: none

Java: Update integration test expected output.
  java/ql/integration-tests/java/buildless-erroneous/DatabaseQualityDiagnostics.expected
Due: none

Rust: Include metrics in the database quality diagnostics.
  rust/ql/src/queries/telemetry/DatabaseQualityDiagnostics.ql
Due: codeql-format, sync-files

Rust: Add change note.
  rust/ql/src/change-notes/2025-09-04-database-diagnostics.md
Due: none

Java: Add failing test for Scoped Values
  java/ql/test/library-tests/dataflow/scoped-values/ScopedValueFlowTest.java
  java/ql/test/library-tests/dataflow/scoped-values/options
  java/ql/test/library-tests/dataflow/scoped-values/test.expected
  java/ql/test/library-tests/dataflow/scoped-values/test.ql
Due: codeql-format, sync-files

Java: Add MaDs for `java.lang.scoped`
  java/ql/lib/ext/java.lang.scoped.model.yml
Due: none

Java: accept new test results
  java/ql/test/library-tests/dataflow/scoped-values/test.expected
Due: none

Java: Add new change note
  java/ql/lib/change-notes/2025-09-02-scoped-values.md
Due: none

Java: Address review comment. Fix dataflow model
  java/ql/lib/ext/java.lang.scoped.model.yml
Due: none

Java: Address review comment. Inline dataflow annotation
  java/ql/test/library-tests/dataflow/scoped-values/ScopedValueFlowTest.java
  java/ql/test/library-tests/dataflow/scoped-values/test.expected
  java/ql/test/library-tests/dataflow/scoped-values/test.ql
Due: codeql-format, sync-files

Rust: Relabel reqwest sinks as `request-url`
  rust/ql/lib/codeql/rust/frameworks/reqwest.model.yml
  rust/ql/lib/codeql/rust/security/CleartextTransmissionExtensions.qll
  rust/ql/lib/ext/generated/reqwest.model.yml
  rust/ql/test/query-tests/security/CWE-311/CleartextTransmission.expected
Due: codeql-format, sync-files, rust-codegen

Java: add dataflow test for newly added KDF API
  java/ql/test/library-tests/dataflow/kdf/KDFDataflowTest.java
  java/ql/test/library-tests/dataflow/kdf/options
  java/ql/test/library-tests/dataflow/kdf/test.expected
  java/ql/test/library-tests/dataflow/kdf/test.ql
Due: codeql-format, sync-files

Java: Add MaDs for `java.crypto.KDF`
  java/ql/lib/ext/javax.crypto.model.yml
  java/ql/lib/ext/javax.crypto.spec.model.yml
Due: none

Java: accept new test results
  java/ql/test/library-tests/dataflow/kdf/test.expected
Due: none

Java: Add new change note
  java/ql/lib/change-notes/2025-09-02-kdf-api.md
Due: none

Java: Address review comment. Fix dataflow model
  java/ql/lib/ext/javax.crypto.model.yml
  java/ql/lib/ext/javax.crypto.spec.model.yml
  java/ql/test/library-tests/dataflow/kdf/KDFDataflowTest.java
  java/ql/test/library-tests/dataflow/kdf/test.expected
  java/ql/test/library-tests/dataflow/kdf/test.ql
Due: codeql-format, sync-files

Java: Add test showing missing model for `thenExpand`
  java/ql/test/library-tests/dataflow/kdf/KDFDataflowTest.java
  java/ql/test/library-tests/dataflow/kdf/test.expected
Due: none

Java: Add model for `thenExpand` and accept new results
  java/ql/lib/ext/javax.crypto.spec.model.yml
  java/ql/test/library-tests/dataflow/kdf/test.expected
Due: none

C++: Lift a few more predicates to expression guards.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

C++: Simplify the 'SSLResultNotChecked' query.
  cpp/ql/src/Security/CWE/CWE-295/SSLResultNotChecked.ql
Due: codeql-format, sync-files

Java: Fix more broken performance.
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/frameworks/android/ExternalStorage.qll
  java/ql/src/Likely Bugs/Collections/ContainsTypeMismatch.ql
  java/ql/src/Likely Bugs/Collections/RemoveTypeMismatch.ql
  java/ql/src/Likely Bugs/Frameworks/Swing/BadlyOverriddenAdapter.ql
  java/ql/src/Likely Bugs/Likely Typos/SelfAssignment.ql
Due: codeql-format, sync-files

Swift: Update to Swift 6.1.3
  swift/ql/lib/change-notes/2025-09-08-swift-6.1.3.md
  swift/third_party/load.bzl
Due: buildifier
