Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

Go: Improve QHelp for `go/unsafe-quoting`.
  go/ql/src/Security/CWE-089/StringBreak.qhelp
Due: sync-files, qhelp

C#: Reword public mentions of C# buildless
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Extractor.cs
  csharp/ql/src/Telemetry/ExtractorInformation.ql
Due: codeql-format, sync-files

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Use correct model pack name in qltest data extension
  java/ql/integration-tests/all-platforms/kotlin/default-parameter-mad-flow/test.ext.yml
Due: none

Remove claims about models-as-data that require you to select a parameter from non-Java languages. We believe this is only possible in Java.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

Swift: Remove claims about 'Annotated'.
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

Address review comments - Fix docs typo and add a reference
  ruby/ql/src/queries/security/cwe-915/MassAssignment.qhelp
Due: sync-files, qhelp

Swift: update swift to 5.9 in integration tests
  swift/actions/run-integration-tests/action.yml
Due: none

Fix a stray use of getPattern
  java/ql/lib/semmle/code/java/Expr.qll
Due: codeql-format, sync-files

Parameters and local variables: add `isAnonymous` predicate
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/Variable.qll
Due: codeql-format, sync-files

Fix typo
  java/ql/lib/semmle/code/java/PrintAst.qll
Due: codeql-format, sync-files

Add missing javadoc and getUniquePattern predicate
  java/ql/lib/semmle/code/java/Statement.qll
Due: codeql-format, sync-files

Don't regard cases with multiple patterns as conducting a type test
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
Due: codeql-format, sync-files

Implement multiple pattern case and fall-through pattern case support
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
  java/ql/lib/semmle/code/java/Dependency.qll
  java/ql/lib/semmle/code/java/DependencyCounts.qll
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/PrettyPrintAst.qll
  java/ql/lib/semmle/code/java/PrintAst.qll
  java/ql/lib/semmle/code/java/Statement.qll
  java/ql/lib/semmle/code/java/Variable.qll
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
Due: codeql-format, sync-files

Dataflow: restrict pattern-case flow to unique patterns.
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

Don't mistake a rule case for a fall-through edge
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
Due: codeql-format, sync-files

Accept test changes
  java/ql/test/library-tests/dependency/PrintAst.expected
  java/ql/test/library-tests/guards12/PrintAst.expected
  java/ql/test/library-tests/printAst/PrintAst.expected
Due: none

Add change note
  java/ql/lib/change-notes/2024-03-22-anonymous-variables.md
Due: none

Fix pattern-case variable pretty-printer
  java/ql/lib/semmle/code/java/Expr.qll
Due: codeql-format, sync-files

Remove dead code
  java/ql/lib/semmle/code/java/PrettyPrintAst.qll
Due: codeql-format, sync-files

Fix next-normal-statement predicate
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
Due: codeql-format, sync-files

Fix pretty-printing of anonymous vars and multiple patterns; add test
  java/ql/lib/semmle/code/java/PrettyPrintAst.qll
  java/ql/test/library-tests/prettyprint/Test.java
  java/ql/test/library-tests/prettyprint/options
  java/ql/test/library-tests/prettyprint/pp.expected
Due: codeql-format, sync-files

Add CFG test for anonymous variables and fall-throughs with pattern cases
  java/ql/test/library-tests/pattern-switch/cfg/Test.java
  java/ql/test/library-tests/pattern-switch/cfg/options
  java/ql/test/library-tests/pattern-switch/cfg/test.expected
Due: none

Convert test to use an anonymous local
  java/ql/test/library-tests/guards12/PrintAst.expected
  java/ql/test/library-tests/guards12/Test.java
  java/ql/test/library-tests/guards12/guard.expected
  java/ql/test/library-tests/guards12/options
Due: none

autoformat
  java/ql/lib/semmle/code/java/Statement.qll
Due: codeql-format, sync-files

Add printast tests for anonymous variables
  java/ql/test/library-tests/printAst/AnonDecls.java
  java/ql/test/library-tests/printAst/PrintAst.expected
  java/ql/test/library-tests/printAst/options
Due: none

Add test for control-flow with mixed patterns, constants and fall-through
  java/ql/test/library-tests/pattern-switch/cfg/Test.java
  java/ql/test/library-tests/pattern-switch/cfg/test.expected
Due: none

Add tests for case statement type test dominance against anonymous labels and fall-through
  java/ql/test/library-tests/switch-default-impossible-dispatch/Test.java
  java/ql/test/library-tests/switch-default-impossible-dispatch/options
  java/ql/test/library-tests/switch-default-impossible-dispatch/test.expected
Due: none

Note pattern-cases may be missing some type-accesses
  java/ql/consistency-queries/children.ql
Due: codeql-format, sync-files

Account for new possible child index gap
  java/ql/consistency-queries/children.ql
Due: codeql-format, sync-files

Add test for guards in the presence of fall-through between pattern and constant cases
  java/ql/test/library-tests/guards12/PrintAst.expected
  java/ql/test/library-tests/guards12/Test.java
  java/ql/test/library-tests/guards12/guard.expected
Due: none

Use getAPattern
  java/ql/lib/semmle/code/java/Statement.qll
Due: codeql-format, sync-files

Add tests for the combination of anonymous labels and a guard
  java/ql/test/library-tests/switch-default-impossible-dispatch/Test.java
  java/ql/test/library-tests/switch-default-impossible-dispatch/test.expected
Due: none

autoformat
  java/ql/consistency-queries/children.ql
Due: codeql-format, sync-files

Distinguish record patterns that do or don't declare identifiers
  java/ql/lib/semmle/code/java/Expr.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

Add test cases for cases falling directly out of switch blocks
  java/ql/test/library-tests/pattern-switch/cfg/Exhaustive.java
  java/ql/test/library-tests/pattern-switch/cfg/Test.java
  java/ql/test/library-tests/pattern-switch/cfg/test.expected
Due: none

Rename getPatternAtIndex
  java/ql/lib/semmle/code/java/PrettyPrintAst.qll
  java/ql/lib/semmle/code/java/PrintAst.qll
  java/ql/lib/semmle/code/java/Statement.qll
Due: codeql-format, sync-files

C++: Fix test failures.
  cpp/ql/test/library-tests/dataflow/models-as-data/FlowSummaryNode.expected
  cpp/ql/test/library-tests/dataflow/models-as-data/tests.cpp
Due: none

C++: Improve ExternalFlow.qll doc.
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files
