Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
        language: system
        entry: bazel run //swift/codegen
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

Ruby: use the 'customizations' pattern for the SQL injection query
  ruby/ql/lib/codeql/ruby/security/SqlInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/SqlInjectionQuery.qll
  ruby/ql/src/queries/security/cwe-089/SqlInjection.ql
Due: codeql-format, sync-files

Python: fix spelling of SqlExecution class in comment
  python/ql/lib/semmle/python/Concepts.qll
Due: codeql-format, sync-files

Swift: extract `AppliedPropertyWrapperExpr`
  swift/extractor/translators/ExprTranslator.cpp
  swift/extractor/translators/ExprTranslator.h
  swift/ql/lib/codeql/swift/generated/ParentChild.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/codeql/swift/generated/expr/AppliedPropertyWrapperExpr.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/TestUtils.qll
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/AppliedPropertyWrapperExpr.expected
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/AppliedPropertyWrapperExpr.ql
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/AppliedPropertyWrapperExpr_getParam.expected
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/AppliedPropertyWrapperExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/AppliedPropertyWrapperExpr_getType.ql
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/AppliedPropertyWrapperExpr_getValue.expected
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/applied_property_wrapper.swift
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/print.expected
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/print.qlref
  swift/ql/test/extractor-tests/generated/expr/PropertyWrapperValuePlaceholderExpr/PropertyWrapperValuePlaceholderExpr_getWrappedValue.expected
  swift/ql/test/extractor-tests/generated/expr/PropertyWrapperValuePlaceholderExpr/PropertyWrapperValuePlaceholderExpr_getWrappedValue.ql
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

Kotlin: Add to versions-compilers.rst
  docs/codeql/support/reusables/versions-compilers.rst
Due: none

Ruby: add SqlConstruction concept
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/security/SqlInjectionCustomizations.qll
Due: codeql-format, sync-files

Java/Kotlin: Add ExtractorInformation query
  java/ql/src/Telemetry/ExtractorInformation.ql
Due: codeql-format, sync-files

address docs review
  swift/ql/src/queries/Security/CWE-1204/StaticInitializationVector.qhelp
  swift/ql/src/queries/Security/CWE-1204/StaticInitializationVector.ql
Due: codeql-format, sync-files, qhelp

Swift: remove debug test and fix generation
  swift/ql/lib/codeql/swift/generated/expr/AppliedPropertyWrapperExpr.qll
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/print.expected
  swift/ql/test/extractor-tests/generated/expr/AppliedPropertyWrapperExpr/print.qlref
Due: codeql-format, sync-files, swift-codegen

don't use the deprecated set-output feature in github-actions
  .github/workflows/ql-for-ql-build.yml
Due: none

Java: Add type based summary model generation query.
  java/ql/src/utils/model-generator/CaptureTypeBasedSummaryModels.ql
Due: codeql-format, sync-files

Java: Move dataflow based model generation testcases to a subfolder.
  java/ql/test/utils/model-generator/dataflow/CaptureNegativeSummaryModels.expected
  java/ql/test/utils/model-generator/dataflow/CaptureNegativeSummaryModels.qlref
  java/ql/test/utils/model-generator/dataflow/CaptureSinkModels.expected
  java/ql/test/utils/model-generator/dataflow/CaptureSinkModels.qlref
  java/ql/test/utils/model-generator/dataflow/CaptureSourceModels.expected
  java/ql/test/utils/model-generator/dataflow/CaptureSourceModels.qlref
  java/ql/test/utils/model-generator/dataflow/CaptureSummaryModels.expected
  java/ql/test/utils/model-generator/dataflow/CaptureSummaryModels.qlref
  java/ql/test/utils/model-generator/dataflow/p/AbstractImplOfExternalSPI.java
  java/ql/test/utils/model-generator/dataflow/p/Factory.java
  java/ql/test/utils/model-generator/dataflow/p/FinalClass.java
  java/ql/test/utils/model-generator/dataflow/p/FluentAPI.java
  java/ql/test/utils/model-generator/dataflow/p/ImmutablePojo.java
  java/ql/test/utils/model-generator/dataflow/p/ImplOfExternalSPI.java
  java/ql/test/utils/model-generator/dataflow/p/InnerClasses.java
  java/ql/test/utils/model-generator/dataflow/p/InnerHolder.java
  java/ql/test/utils/model-generator/dataflow/p/Joiner.java
  java/ql/test/utils/model-generator/dataflow/p/MultipleImpls.java
  java/ql/test/utils/model-generator/dataflow/p/ParamFlow.java
  java/ql/test/utils/model-generator/dataflow/p/Pojo.java
  java/ql/test/utils/model-generator/dataflow/p/PrivateFlowViaPublicInterface.java
  java/ql/test/utils/model-generator/dataflow/p/Sinks.java
  java/ql/test/utils/model-generator/dataflow/p/SomeEnum.java
  java/ql/test/utils/model-generator/dataflow/p/Sources.java
Due: none

Java: Initial implementation of type based model generation.
  java/ql/lib/semmle/code/java/Generics.qll
  java/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

Java: Add test case for capturing type based summaries.
  java/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
  java/ql/test/utils/model-generator/typebasedflow/CaptureTypeBasedSummaryModels.qlref
  java/ql/test/utils/model-generator/typebasedflow/p/TypeBasedCollection.java
  java/ql/test/utils/model-generator/typebasedflow/p/TypeBasedComplex.java
  java/ql/test/utils/model-generator/typebasedflow/p/TypeBasedSimple.java
Due: codeql-format, sync-files

Java: Update expected test output.
  java/ql/test/utils/model-generator/typebasedflow/CaptureTypeBasedSummaryModels.expected
Due: none

Java: Add some examples of functional interfaces for functions with two parameters.
  java/ql/test/utils/model-generator/typebasedflow/p/MyFunction.java
  java/ql/test/utils/model-generator/typebasedflow/p/TypeBasedComplex.java
Due: none

Java: Add expected test output.
  java/ql/test/utils/model-generator/typebasedflow/CaptureTypeBasedSummaryModels.expected
Due: none

Java: Get the correct type of the instantiated iterator type.
  java/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

Java: Generalize the support perceiving functional interfaces as functions.
  java/ql/lib/semmle/code/java/Collections.qll
  java/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

Java: Add stream example methods using wildcards.
  java/ql/test/utils/model-generator/typebasedflow/p/Stream.java
Due: none

Java: Add stream concat example.
  java/ql/test/utils/model-generator/typebasedflow/p/Stream.java
Due: none

Java: Consider classes that has a method that returns an iterator as container like types.
  java/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

Java: Add further examples that are now supported.
  java/ql/test/utils/model-generator/typebasedflow/p/Stream.java
Due: none

Java: Support wildcards in paramters and generic collection like parameters.
  csharp/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
  java/ql/src/utils/model-generator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

Java: Add some initial stubs for methods like java.util.stream.Stream.
  java/ql/test/utils/model-generator/typebasedflow/p/Stream.java
Due: none

Java: Support wildcards for functional interfaces.
  java/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

Java: Add more stream functions. Comment methods out, where we are not happy with the generated result.
  java/ql/test/utils/model-generator/typebasedflow/p/Stream.java
Due: none

Java: Updated expected test output.
  java/ql/test/utils/model-generator/typebasedflow/CaptureTypeBasedSummaryModels.expected
Due: none

Java: Comment in method for converting stream to Array.
  java/ql/test/utils/model-generator/typebasedflow/p/Stream.java
Due: none

Java: Move internal model generator code to another folder.
  java/ql/src/utils/model-generator/CaptureNegativeSummaryModels.ql
  java/ql/src/utils/model-generator/CaptureSinkModels.ql
  java/ql/src/utils/model-generator/CaptureSourceModels.ql
  java/ql/src/utils/model-generator/CaptureSummaryModels.ql
  java/ql/src/utils/model-generator/CaptureTypeBasedSummaryModels.ql
  java/ql/src/utils/modelgenerator/internal/CaptureModels.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
  java/ql/src/utils/modelgenerator/internal/CaptureSummaryFlow.qll
  java/ql/src/utils/modelgenerator/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

Java: Explicit import of needed classes from stream and some improvements to comments.
  java/ql/test/utils/model-generator/typebasedflow/p/Stream.java
  java/ql/test/utils/model-generator/typebasedflow/p/TypeBasedComplex.java
Due: none

Java: Change test implementation to avoid failing CFG dead end consistency test.
  java/ql/test/utils/model-generator/typebasedflow/p/Stream.java
  java/ql/test/utils/model-generator/typebasedflow/p/TypeBasedCollection.java
  java/ql/test/utils/model-generator/typebasedflow/p/TypeBasedComplex.java
  java/ql/test/utils/model-generator/typebasedflow/p/TypeBasedSimple.java
Due: none

Java: Update ql doc comments.
  java/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

Java: Inline expectations for type based model test case.
  java/ql/test/utils/model-generator/typebasedflow/CaptureTypeBasedSummaryModels.expected
  java/ql/test/utils/model-generator/typebasedflow/CaptureTypeBasedSummaryModels.ql
  java/ql/test/utils/model-generator/typebasedflow/CaptureTypeBasedSummaryModels.qlref
  java/ql/test/utils/model-generator/typebasedflow/p/MyFunction.java
  java/ql/test/utils/model-generator/typebasedflow/p/Stream.java
  java/ql/test/utils/model-generator/typebasedflow/p/TypeBasedCollection.java
  java/ql/test/utils/model-generator/typebasedflow/p/TypeBasedComplex.java
  java/ql/test/utils/model-generator/typebasedflow/p/TypeBasedSimple.java
Due: codeql-format, sync-files

Java: Minor re-factorings.
  java/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

Java: Make support for array parameter and return values.
  java/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files

Java: Make better QL docs and add some missing 'this'.
  java/ql/lib/semmle/code/java/Collections.qll
  java/ql/src/utils/model-generator/internal/CaptureTypeBasedSummaryModels.qll
Due: codeql-format, sync-files
