Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

JS: Align DOM XSS query severity with other XSS queries
  javascript/ql/src/Security/CWE-079/XssThroughDom.ql
Due: codeql-format, sync-files

CWE-020: Lower security-severity for OverlyLargeRange queries to 4.0
  java/ql/src/Security/CWE/CWE-020/OverlyLargeRange.ql
  javascript/ql/src/Security/CWE-020/OverlyLargeRange.ql
  python/ql/src/Security/CWE-020/OverlyLargeRange.ql
  ruby/ql/src/queries/security/cwe-020/OverlyLargeRange.ql
Due: codeql-format, sync-files

Java: Lower security-severity for Insecure Cookie query to 4.0
  java/ql/src/Security/CWE/CWE-614/InsecureCookie.ql
Due: codeql-format, sync-files

Add change note
  java/ql/src/change-notes/2025-10-22-adjust-query-severity.md
  javascript/ql/src/change-notes/2025-10-22-adjust-query-severity.md
  python/ql/src/change-notes/2025-10-22-adjust-query-severity.md
  ruby/ql/src/change-notes/2025-10-22-adjust-query-severity.md
Due: none

C#: Only run integration test on windows and linux.
  csharp/ql/integration-tests/linux/dotnet_10_rc2/Program.cs
  csharp/ql/integration-tests/linux/dotnet_10_rc2/dotnet_build.csproj
  csharp/ql/integration-tests/linux/dotnet_10_rc2/global.json
  csharp/ql/integration-tests/linux/dotnet_10_rc2/test.py
  csharp/ql/integration-tests/windows/dotnet_10_rc2/Program.cs
  csharp/ql/integration-tests/windows/dotnet_10_rc2/dotnet_build.csproj
  csharp/ql/integration-tests/windows/dotnet_10_rc2/global.json
  csharp/ql/integration-tests/windows/dotnet_10_rc2/test.py
Due: none

Rust: Add consistency check failures.
  rust/ql/test/library-tests/dataflow/sources/database/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/file/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/net/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/stdin/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/web_frameworks/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/web_frameworks/CONSISTENCY/TypeInferenceConsistency.expected
Due: none

Copilot: move instructions to path-specific files
  .github/copilot-instructions.md
  .github/instructions/expected-files.instructions.md
  .github/instructions/ql-files.instructions.md
Due: none

Update .github/instructions/expected-files.instructions.md
  .github/instructions/expected-files.instructions.md
Due: none

Rust: Add missing file.
  rust/ql/test/library-tests/dataflow/sources/web_frameworks/options.yml
Due: none

Address review comments (iv)
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/lib/codeql/rust/internal/typeinference/FunctionType.qll
Due: codeql-format, sync-files

C#: Address more review comments.
  csharp/ql/lib/semmle/code/csharp/controlflow/ControlFlowElement.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/Nullness.qll
Due: codeql-format, sync-files

C#: Fix join-order issue in ConstantCondition.
  csharp/ql/src/Bad Practices/Control-Flow/ConstantCondition.ql
  shared/controlflow/codeql/controlflow/Guards.qll
  shared/controlflow/codeql/controlflow/queries/ConstantCondition.qll
Due: codeql-format, sync-files

Crypto: Fix typo in not_included_in_qls.expected.
  java/ql/integration-tests/java/query-suite/not_included_in_qls.expected
Due: none

Rust: Add `Callable.getBody()`
  rust/ast-generator/src/main.rs
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/translate/generated.rs
  rust/ql/.generated.list
  rust/ql/lib/codeql/rust/controlflow/internal/CfgConsistency.qll
  rust/ql/lib/codeql/rust/controlflow/internal/Scope.qll
  rust/ql/lib/codeql/rust/elements/Callable.qll
  rust/ql/lib/codeql/rust/elements/internal/ClosureExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/FunctionImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Callable.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ClosureExpr.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Function.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/extractor-tests/generated/ClosureExpr/ClosureExpr.expected
  rust/ql/test/extractor-tests/generated/ClosureExpr/ClosureExpr.ql
  rust/ql/test/extractor-tests/generated/Function/Function.expected
  rust/ql/test/extractor-tests/generated/Function/Function.ql
  rust/ql/test/extractor-tests/macro-expansion/PrintAst.expected
  rust/schema/ast.py
  rust/schema/prelude.py
Due: codeql-format, sync-files, rust-codegen, rust-lint

Rust: Add DB upgrade scripts
  rust/ql/lib/upgrades/dfade44a27bd44db996ae8c5095a11effc883aba/old.dbscheme
  rust/ql/lib/upgrades/dfade44a27bd44db996ae8c5095a11effc883aba/rust.dbscheme
  rust/ql/lib/upgrades/dfade44a27bd44db996ae8c5095a11effc883aba/upgrade.properties
  rust/ql/lib/upgrades/dfade44a27bd44db996ae8c5095a11effc883aba/upgrade.ql
Due: codeql-format, sync-files

Rust: Add DB downgrade script
  rust/downgrades/30a0713e5bf69c60d003e4994e5abd1c78a36826/downgrade.ql
  rust/downgrades/30a0713e5bf69c60d003e4994e5abd1c78a36826/old.dbscheme
  rust/downgrades/30a0713e5bf69c60d003e4994e5abd1c78a36826/rust.dbscheme
  rust/downgrades/30a0713e5bf69c60d003e4994e5abd1c78a36826/upgrade.properties
Due: codeql-format, sync-files

Rust: Repair after merge.
  rust/ql/test/library-tests/dataflow/sources/file/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/file/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/file/test.rs
  rust/ql/test/library-tests/dataflow/sources/net/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/net/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/net/test.rs
Due: none

Rust: Accept result de-regression.
  rust/ql/test/library-tests/dataflow/sources/net/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/net/test.rs
Due: none

Rust: Add more type inference tests
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: none

Rust: Non-symmetric type propagation for lub coercions
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: codeql-format, sync-files

Crytpo: Trying to fix in pipeline test failure, experimentally altering a line to see if this forces the test to pass. The test is off by one column in the piepline
  java/ql/test/experimental/query-tests/quantum/examples/BadMacUse/BadMacUse.java
Due: none

Crypto: Fix off by one column issue in unit tests.
  java/ql/test/experimental/query-tests/quantum/examples/BadMacUse/BadMacOrderDecryptToMac.expected
  java/ql/test/experimental/query-tests/quantum/examples/BadMacUse/BadMacOrderMacOnEncryptPlaintext.expected
  java/ql/test/experimental/query-tests/quantum/examples/BadMacUse/BadMacUse.java
  java/ql/test/experimental/query-tests/quantum/examples/WeakOrUnknownKDFIterationCount/UnknownKDFIterationCount.expected
  java/ql/test/experimental/query-tests/quantum/examples/WeakOrUnknownKDFIterationCount/WeakKDFIterationCount.expected
Due: none

Crypto: Fixed alphabetical ordering issue in not_included_in_qls.expected
  java/ql/integration-tests/java/query-suite/not_included_in_qls.expected
Due: none

Fix Go extractor silent failures and improve error recovery
  go/extractor/extractor.go
Due: none

Add DomValueSource for react useRef output (object's prop named current)
  javascript/ql/lib/change-notes/2025-10-21-react-precallgraph-step.md
  javascript/ql/lib/semmle/javascript/frameworks/React.qll
Due: codeql-format, sync-files

Simplify addition
  javascript/ql/lib/semmle/javascript/frameworks/React.qll
Due: codeql-format, sync-files

C#: Delete exception splitting.
  csharp/ql/lib/semmle/code/csharp/controlflow/ControlFlowGraph.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/Splitting.qll
Due: codeql-format, sync-files

Shared/Java: Rename ControlFlowReachability library.
  csharp/ql/lib/semmle/code/csharp/controlflow/ControlFlowReachability.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/Nullness.qll
  java/ql/lib/semmle/code/java/controlflow/ControlFlowReachability.qll
  java/ql/lib/semmle/code/java/dataflow/Nullness.qll
  shared/controlflow/codeql/controlflow/ControlFlowReachability.qll
Due: codeql-format, sync-files

Rust: Accept changes to the web_frameworks results.
  rust/ql/test/library-tests/dataflow/sources/web_frameworks/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/web_frameworks/InlineFlow.expected
Due: none

Guards: Align the SSA signature with the one from shared SSA.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
  csharp/ql/lib/semmle/code/csharp/controlflow/Guards.qll
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
  shared/controlflow/codeql/controlflow/Guards.qll
Due: codeql-format, sync-files

ControlFlowReachability: Align the SSA signature with the one from shared SSA.
  csharp/ql/lib/semmle/code/csharp/controlflow/ControlFlowReachability.qll
  java/ql/lib/semmle/code/java/controlflow/ControlFlowReachability.qll
  shared/controlflow/codeql/controlflow/ControlFlowReachability.qll
Due: codeql-format, sync-files

Swift: Handle `-emit-module` in the tracer config
  swift/tools/tracing-config.lua
Due: none

C#: Accept qltest changes.
  csharp/ql/test/library-tests/assignables/AssignableDefinitionNode.expected
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/csharp8/switchexprcontrolflow.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaDefElement.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaExplicitDef.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaRead.expected
  csharp/ql/test/library-tests/dataflow/ssa/SsaUltimateDef.expected
  csharp/ql/test/library-tests/exceptions/Exceptions1.expected
Due: none

Update javascript/ql/lib/semmle/javascript/frameworks/React.qll
  javascript/ql/lib/semmle/javascript/frameworks/React.qll
Due: codeql-format, sync-files

Unify and expand change-note guidance
  .github/instructions/change-notes.instructions.md
  .github/instructions/library-pack-change-notes.instructions.md
  .github/instructions/query-pack-change-notes.instructions.md
  docs/change-notes.md
Due: none

Fix Go extractor incorrectly excluding cross-module dependencies
  go/extractor/extractor.go
  go/ql/integration-tests/package-exclusion-fix/build_environment.expected
  go/ql/integration-tests/package-exclusion-fix/diagnostics.expected
  go/ql/integration-tests/package-exclusion-fix/src/configmodule/config/config.go
  go/ql/integration-tests/package-exclusion-fix/src/configmodule/go.mod
  go/ql/integration-tests/package-exclusion-fix/src/go.work
  go/ql/integration-tests/package-exclusion-fix/src/mainmodule/app/jobs/worker/worker.go
  go/ql/integration-tests/package-exclusion-fix/src/mainmodule/go.mod
  go/ql/integration-tests/package-exclusion-fix/test.expected
  go/ql/integration-tests/package-exclusion-fix/test.py
  go/ql/integration-tests/package-exclusion-fix/test.ql
Due: codeql-format, sync-files

Address review comments
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/main.rs
Due: codeql-format, sync-files

Add tests for secure cookie using aspnetcore
  csharp/ql/src/Security Features/CWE-614/CookieWithoutSecure.ql
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/CookieBuilder/CookieWithoutSecure.expected
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/CookieBuilder/CookieWithoutSecure.qlref
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/CookieBuilder/Program.cs
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/NoPolicy/CookieWithoutSecure.expected
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/NoPolicy/CookieWithoutSecure.qlref
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/NoPolicy/Program.cs
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/PolicyAlways/CookieWithoutSecure.expected
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/PolicyAlways/CookieWithoutSecure.qlref
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/PolicyAlways/Program.cs
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/PolicyCallback/CookieWithoutSecure.expected
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/PolicyCallback/CookieWithoutSecure.qlref
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/PolicyCallback/Program.cs
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/PolicyNone/CookieWithoutSecure.expected
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/PolicyNone/CookieWithoutSecure.qlref
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/PolicyNone/Program.cs
  csharp/ql/test/query-tests/Security Features/CWE-614/InsecureCookie/AspNetCore/options
Due: codeql-format, sync-files

Update README with CodeQL function examples
  README.md
Due: none
