Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel:buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

Rust: Add additional data flow tests
  rust/ql/test/library-tests/dataflow/closures/inline-flow.expected
  rust/ql/test/library-tests/dataflow/closures/inline-flow.ql
  rust/ql/test/library-tests/dataflow/closures/main.rs
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
Due: codeql-format, sync-files

Move import statement in SpringWebClient.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringWebClient.qll
Due: codeql-format, sync-files

Add change note
  python/ql/lib/change-notes/2024-12-11-lxml-flowsteps.md
Due: none

Rust: split `ImplItemCanonicalPath` for trait and type impls
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/mod.rs
  rust/extractor/src/translate/base.rs
  rust/extractor/src/translate/label_cache.rs
  rust/extractor/src/translate/mappings.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/ImplItemCanonicalPath.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/TraitImplItemCanonicalPath.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/TypeImplItemCanonicalPath.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/internal/ImplItemCanonicalPathImpl.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/internal/TraitImplItemCanonicalPathConstructor.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/internal/TraitImplItemCanonicalPathImpl.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/internal/TypeImplItemCanonicalPathConstructor.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/internal/TypeImplItemCanonicalPathImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/SynthConstructors.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/canonical_paths/ImplItemCanonicalPath.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/canonical_paths/TraitImplItemCanonicalPath.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/canonical_paths/TypeImplItemCanonicalPath.qll
  rust/ql/lib/rust.dbscheme
  rust/schema/prelude.py
Due: codeql-format, sync-files

Rust: Instantiate variable capture library for data flow
  rust/ql/lib/codeql/rust/dataflow/Ssa.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
  rust/ql/test/library-tests/dataflow/closures/inline-flow.expected
  rust/ql/test/library-tests/dataflow/closures/main.rs
  rust/ql/test/library-tests/variables/Ssa.expected
Due: codeql-format, sync-files

Add comment noting Caffeiene dependency
  MODULE.bazel
Due: buildifier

Add comment noting structure of argsIncludingOuterClasses
  java/kotlin-extractor2/src/main/kotlin/entities/Class.kt
Due: none

Note class of unexpected type arguments
  java/kotlin-extractor2/src/main/kotlin/entities/TypeArgument.kt
Due: none

Cascade failures from failure to find a type-parameter parent.
  java/kotlin-extractor2/src/main/kotlin/entities/TypeParameter.kt
  java/kotlin-extractor2/src/main/kotlin/entities/Types.kt
Due: none

Note Kotlin class ID distinction is a TODO
  java/kotlin-extractor2/src/main/kotlin/entities/Types.kt
Due: none

Rename classId
  java/kotlin-extractor2/src/main/kotlin/entities/Types.kt
Due: none

Rust: add "standard path"
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/dataflow/FlowSummary.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/internal/CanonicalPathImpl.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/internal/ModuleItemCanonicalPathImpl.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/internal/NamespaceImpl.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/internal/TypeImplItemCanonicalPathImpl.qll
  rust/ql/lib/codeql/rust/elements/canonical_paths/internal/TypeItemCanonicalPathImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/AddressableImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/ResolvableImpl.qll
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.ql
Due: codeql-format, sync-files

Apply suggestions from code review
  rust/ql/lib/codeql/rust/Concepts.qll
  rust/ql/lib/codeql/rust/frameworks/RustCrypto.qll
Due: codeql-format, sync-files

Rust: Formatting.
  rust/ql/lib/codeql/rust/Concepts.qll
Due: codeql-format, sync-files

Update remote repository to `github/codeql`
  misc/scripts/prepare-db-upgrade.sh
Due: none

Apply suggestions from code review
  rust/ql/lib/codeql/rust/dataflow/Ssa.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Just test PoC
  impl.just
  justfile
  rust/justfile
  rust/ql/integration-tests/justfile
  rust/ql/test/justfile
Due: none

Rust: Address PR comments
  rust/ql/lib/codeql/rust/dataflow/Ssa.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

Just: fix standalone case
  impl.just
Due: none

Just: make `just install rust` work from internal repo
  impl.just
Due: none

WIP: rules_rust upgrade, untangle deps for tree-sitter
  MODULE.bazel
  misc/bazel/3rdparty/BUILD.bazel
  misc/bazel/3rdparty/update_cargo_deps.sh
  ruby/BUILD.bazel
  ruby/Cargo.lock
  ruby/Cargo.toml
  rust/BUILD.bazel
  rust/Cargo.lock
  rust/Cargo.toml
  rust/update_cargo_deps.sh
Due: buildifier

Rust: Add variable capture consistency query
  rust/ql/consistency-queries/VariableCaptureConsistency.ql
  rust/ql/test/library-tests/controlflow/CONSISTENCY/VariableCaptureConsistency.expected
  rust/ql/test/library-tests/variables/CONSISTENCY/VariableCaptureConsistency.expected
Due: codeql-format, sync-files

Treat container flow as taint flow in localTaintStep
  go/ql/lib/semmle/go/dataflow/internal/DataFlowPrivate.qll
  go/ql/lib/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalTaintStep.expected
  go/ql/test/library-tests/semmle/go/frameworks/TaintSteps/TaintStep.expected
Due: codeql-format, sync-files

Update rust/ql/lib/codeql/rust/internal/ConceptsShared.qll
  rust/ql/lib/codeql/rust/internal/ConceptsShared.qll
Due: codeql-format, sync-files

Rust: data-flow -> data flow.
  rust/ql/lib/codeql/rust/Concepts.qll
  rust/ql/lib/codeql/rust/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Rust: Revert stylistic change in shared file.
  rust/ql/lib/codeql/rust/internal/ConceptsShared.qll
Due: codeql-format, sync-files

Treat container flow as taint flow in global taint flow
  go/ql/lib/semmle/go/dataflow/internal/TaintTrackingUtil.qll
  go/ql/test/experimental/CWE-74/DsnInjectionLocal.expected
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithExternalFlow/main.go
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-209/StackTraceExposure.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-327/UnsafeTLS.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
Due: codeql-format, sync-files

Bazel: add a test wrapper around installation scripts
  misc/bazel/pkg.bzl
Due: buildifier

JS: Added more qldoc
  javascript/ql/lib/semmle/javascript/security/TaintedUrlSuffixCustomizations.qll
Due: codeql-format, sync-files

Java: Move test utilities to the java query pack.
  java/ql/src/utils/test/InlineExpectationsTest.qll
  java/ql/src/utils/test/InlineExpectationsTestQuery.ql
  java/ql/src/utils/test/InlineFlowTest.qll
  java/ql/src/utils/test/InlineMadTest.qll
  java/ql/src/utils/test/PrettyPrintModels.ql
  java/ql/src/utils/test/internal/InlineExpectationsTestImpl.qll
Due: codeql-format, sync-files

C#: Move inline-tests into the utils test folder.
  csharp/ql/test/utils/inline-tests/InlineTests.cs
  csharp/ql/test/utils/inline-tests/PathProblemQuery.expected
  csharp/ql/test/utils/inline-tests/PathProblemQuery.qlref
  csharp/ql/test/utils/inline-tests/ProblemQuery.expected
  csharp/ql/test/utils/inline-tests/ProblemQuery.qlref
  csharp/ql/test/utils/inline-tests/queries/PathProblemQuery.expected
  csharp/ql/test/utils/inline-tests/queries/PathProblemQuery.ql
  csharp/ql/test/utils/inline-tests/queries/ProblemQuery.expected
  csharp/ql/test/utils/inline-tests/queries/ProblemQuery.ql
Due: codeql-format, sync-files

C#: Update inline-tests query paths.
  csharp/ql/test/utils/inline-tests/PathProblemQuery.qlref
  csharp/ql/test/utils/inline-tests/ProblemQuery.qlref
Due: none

C#: Move test utilities into the query pack.
  csharp/ql/src/utils/test/InlineExpectationsTest.qll
  csharp/ql/src/utils/test/InlineExpectationsTestQuery.ql
  csharp/ql/src/utils/test/InlineFlowTest.qll
  csharp/ql/src/utils/test/InlineMadTest.qll
  csharp/ql/src/utils/test/PrettyPrintModels.ql
  csharp/ql/src/utils/test/ProvenancePathGraph.qll
  csharp/ql/src/utils/test/internal/InlineExpectationsTestImpl.qll
Due: codeql-format, sync-files

C++: Move test utilities into the query pack.
  cpp/ql/src/utils/test/InlineExpectationsTest.qll
  cpp/ql/src/utils/test/InlineExpectationsTestQuery.ql
  cpp/ql/src/utils/test/dataflow/FlowTestCommon.qll
  cpp/ql/src/utils/test/internal/InlineExpectationsTestImpl.qll
Due: codeql-format, sync-files

C++: Update all test util paths to point to the new location.
  cpp/ql/src/utils/test/dataflow/FlowTestCommon.qll
  cpp/ql/test/library-tests/dataflow/asExpr/test-indirect.ql
  cpp/ql/test/library-tests/dataflow/asExpr/test.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/guard-condition-regression-test.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/has-parameter-flow-out.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-number-of-outnodes.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_self_argument_flow.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test_self_parameter_flow.ql
  cpp/ql/test/library-tests/dataflow/dataflow-tests/type-bugs.ql
  cpp/ql/test/library-tests/dataflow/external-models/flow.ql
  cpp/ql/test/library-tests/dataflow/fields/flow.ql
  cpp/ql/test/library-tests/dataflow/models-as-data/interpretElement.ql
  cpp/ql/test/library-tests/dataflow/models-as-data/taint.ql
  cpp/ql/test/library-tests/dataflow/parameters-without-defs/test.ql
  cpp/ql/test/library-tests/dataflow/smart-pointers-taint/taint.ql
  cpp/ql/test/library-tests/dataflow/source-sink-tests/local-flow.ql
  cpp/ql/test/library-tests/dataflow/source-sink-tests/remote-flow.ql
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.ql
  cpp/ql/test/library-tests/ir/modulus-analysis/ModulusAnalysis.ql
  cpp/ql/test/library-tests/ir/points_to/points_to.ql
  cpp/ql/test/library-tests/ir/range-analysis/Overflow.ql
  cpp/ql/test/library-tests/ir/range-analysis/RangeAnalysis.ql
  cpp/ql/test/library-tests/ir/sign-analysis/SignAnalysis.ql
  cpp/ql/test/library-tests/ir/types/irtypes.ql
  cpp/ql/test/query-tests/Critical/SizeCheck/SizeCheck.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.qlref
  cpp/ql/test/query-tests/Security/CWE/CWE-193/AllocationToInvalidPointer.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerToDereference.ql
Due: codeql-format, sync-files

Go: Move test utilities into the query pack.
  go/ql/src/utils/test/InlineExpectationsTest.qll
  go/ql/src/utils/test/InlineExpectationsTestQuery.ql
  go/ql/src/utils/test/InlineFlowTest.qll
  go/ql/src/utils/test/PrettyPrintModels.ql
  go/ql/src/utils/test/internal/InlineExpectationsTestImpl.qll
Due: codeql-format, sync-files

Restore `asStmt`, `asExpr` and `asCall` to `Node`
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
Due: codeql-format, sync-files
