Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
        language: system
        entry: bazel run //swift/codegen
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

C++: Fix ql-for-ql alerts.
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
Due: codeql-format, sync-files

C++: Update 'identical-files'.
  config/identical-files.json
Due: none

Java: Address review comments.
  java/ql/lib/semmle/code/java/dataflow/FlowSummary.qll
Due: codeql-format, sync-files

add tests
  javascript/ql/test/library-tests/frameworks/Express/tests.expected
  javascript/ql/test/library-tests/frameworks/Express/tests.ql
Due: codeql-format, sync-files

Swift: cmake generator for better IDE support
  misc/bazel/cmake/BUILD.bazel
  misc/bazel/cmake/cmake.bzl
  misc/bazel/cmake/setup.cmake
  swift/.gitignore
  swift/CMakeLists.txt
  swift/extractor/BUILD.bazel
Due: none

Ruby: treat Faraday#run_request as remote source
  ruby/ql/lib/change-notes/2022-10-13-faraday-run-request.md
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
Due: codeql-format, sync-files

Swift: Add more test variants.
  swift/ql/test/query-tests/Security/CWE-089/SQLite.swift
  swift/ql/test/query-tests/Security/CWE-089/sqlite3_c_api.swift
Due: sync-files

Swift: Rename to match other languages (except Java).
  swift/ql/src/queries/Security/CWE-089/SqlInjection.qhelp
  swift/ql/src/queries/Security/CWE-089/SqlInjection.ql
  swift/ql/src/queries/Security/CWE-089/SqlInjectionBad.swift
  swift/ql/src/queries/Security/CWE-089/SqlInjectionGood.swift
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.qlref
Due: codeql-format, sync-files, qhelp

Swift: Complete the rename.
  swift/ql/src/queries/Security/CWE-089/SqlInjection.qhelp
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.qlref
Due: sync-files, qhelp

Swift: Define SQL sinks.
  swift/ql/src/queries/Security/CWE-089/SqlInjection.ql
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
Due: codeql-format, sync-files

spelling: ambiguously
  javascript/ql/lib/semmle/javascript/security/BadTagFilterQuery.qll
  python/ql/lib/semmle/python/security/BadTagFilterQuery.qll
  ruby/ql/lib/codeql/ruby/security/BadTagFilterQuery.qll
Due: codeql-format, sync-files

spelling: ancestors
  ruby/ql/lib/codeql/ruby/ast/internal/Module.qll
Due: codeql-format, sync-files

spelling: compound
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

spelling: connection
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/HttpClient.qll
Due: codeql-format, sync-files

spelling: captured
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

spelling: continuing
  ruby/ql/lib/codeql/ruby/filters/GeneratedCode.qll
Due: codeql-format, sync-files

spelling: disambiguation
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImplShared.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImplShared.qll
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImplShared.qll
  swift/ql/test/library-tests/controlflow/graph/Cfg.ql
Due: codeql-format, sync-files

spelling: specifies
  ruby/ql/lib/codeql/ruby/experimental/Rbi.qll
Due: codeql-format, sync-files

spelling: predicates
  javascript/ql/lib/semmle/javascript/security/BadTagFilterQuery.qll
  javascript/ql/lib/semmle/javascript/security/regexp/RegexpMatching.qll
  python/ql/lib/semmle/python/security/BadTagFilterQuery.qll
  python/ql/lib/semmle/python/security/regexp/RegexpMatching.qll
  ruby/ql/lib/codeql/ruby/security/BadTagFilterQuery.qll
  ruby/ql/lib/codeql/ruby/security/regexp/RegexpMatching.qll
Due: codeql-format, sync-files

spelling: injection
  ruby/ql/src/CHANGELOG.md
  ruby/ql/src/change-notes/released/0.3.3.md
Due: none

spelling: representation
  java/ql/lib/semmle/code/java/security/regexp/SuperlinearBackTracking.qll
  javascript/ql/lib/semmle/javascript/security/regexp/SuperlinearBackTracking.qll
  python/ql/lib/semmle/python/security/regexp/SuperlinearBackTracking.qll
  ruby/ql/lib/codeql/ruby/security/regexp/SuperlinearBackTracking.qll
Due: codeql-format, sync-files

spelling: heuristic
  java/ql/lib/semmle/code/java/security/regexp/ExponentialBackTracking.qll
  javascript/ql/lib/semmle/javascript/security/regexp/ExponentialBackTracking.qll
  python/ql/lib/semmle/python/security/regexp/ExponentialBackTracking.qll
  ruby/ql/lib/codeql/ruby/security/regexp/ExponentialBackTracking.qll
Due: codeql-format, sync-files

spelling: mapping
  ruby/ql/src/experimental/manually-check-http-verb/ManuallyCheckHttpVerb.ql
  ruby/ql/test/query-tests/experimental/manually-check-http-verb/ManuallyCheckHttpVerb.expected
Due: codeql-format, sync-files

spelling: recursion
  ruby/ql/lib/codeql/ruby/regexp/internal/ParseRegExp.qll
Due: codeql-format, sync-files

spelling: overridable
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
Due: codeql-format, sync-files

spelling: navigation
  ruby/ql/lib/codeql/ruby/ast/Call.qll
Due: codeql-format, sync-files

spelling: for
  ruby/ql/lib/codeql/ruby/dataflow/RemoteFlowSources.qll
Due: codeql-format, sync-files

spelling: unknown
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
Due: codeql-format, sync-files

spelling: the
  ruby/extractor/src/extractor.rs
  ruby/ql/lib/codeql/ruby/frameworks/core/IO.qll
Due: codeql-format, sync-files

spelling: mutation
  ruby/ql/lib/codeql/ruby/frameworks/GraphQL.qll
Due: codeql-format, sync-files

spelling: possibility
  ruby/node-types/src/lib.rs
Due: none

spelling: keyword
  ruby/ql/lib/codeql/ruby/ApiGraphs.qll
Due: codeql-format, sync-files

spelling: excluding
  ruby/ql/lib/codeql/ruby/ast/Constant.qll
Due: codeql-format, sync-files

Swift: Bring it all together into a query.
  swift/ql/src/queries/Security/CWE-089/SqlInjection.ql
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  swift/ql/test/query-tests/Security/CWE-089/sqlite3_c_api.swift
Due: codeql-format, sync-files

Windows fixes
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
Due: none

spelling: dispatcher
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
Due: codeql-format, sync-files

spelling: corresponding
  python/ql/lib/semmle/python/Flow.qll
Due: codeql-format, sync-files
