Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

python: describe `API::CallNode`
  docs/codeql/codeql-language-guides/using-api-graphs-in-python.rst
Due: none

Additional test cases
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedJwtKey.java
Due: none

Add `byte[]` signatures
  java/ql/lib/semmle/code/java/security/SensitiveApi.qll
Due: codeql-format, sync-files

Add change note
  java/ql/lib/change-notes/2023-02-17-add-hardcoded-secret-for-jwt-tokens.md
Due: none

Remove experimental files
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.java
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.qhelp
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.ql
  java/ql/src/experimental/Security/CWE/CWE-321/HardcodedJwtKey.qll
  java/ql/test/experimental/query-tests/security/CWE-321/HardcodedJwtKey.expected
  java/ql/test/experimental/query-tests/security/CWE-321/HardcodedJwtKey.java
  java/ql/test/experimental/query-tests/security/CWE-321/HardcodedJwtKey.qlref
  java/ql/test/experimental/query-tests/security/CWE-321/options
Due: codeql-format, sync-files, qhelp

Add example file for documentation
  java/ql/src/Security/CWE/CWE-798/HardcodedJwtKey.java
Due: none

Remove unneeded example file
  java/ql/src/Security/CWE/CWE-798/HardcodedJwtKey.java
Due: none

Add com.auth0.jwt.algorithm.Algorithm sinks
  java/ql/lib/semmle/code/java/security/SensitiveApi.qll
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedJwtKey.java
  java/ql/test/query-tests/security/CWE-798/semmle/tests/options
Due: codeql-format, sync-files

Swift: Undo toString changes.
  swift/ql/lib/codeql/swift/elements/expr/AssignExpr.qll
  swift/ql/test/library-tests/elements/expr/assignment/assignment.expected
Due: codeql-format, sync-files, swift-codegen

Python: remove unused import
  python/ql/lib/semmle/python/security/SensitiveActions.qll
Due: codeql-format, sync-files

Python: SensitiveActions tests
  python/ql/test/library-tests/security/sensitive_actions/SensitiveActions.expected
  python/ql/test/library-tests/security/sensitive_actions/SensitiveActions.ql
  python/ql/test/library-tests/security/sensitive_actions/test.py
Due: codeql-format, sync-files

More updates
  docs/codeql/codeql-for-visual-studio-code/customizing-settings.rst
  docs/codeql/codeql-for-visual-studio-code/running-codeql-queries-at-scale-with-mrva.rst
  docs/codeql/images/codeql-for-visual-studio-code/variant-analysis-add-list.png
  docs/codeql/images/codeql-for-visual-studio-code/variant-analysis-repo-and-org.png
  docs/codeql/images/codeql-for-visual-studio-code/variant-analysis-repo-lists.png
Due: none

C/C++: Remove reference to Partial Flow.
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/PrintIRLocalFlow.qll
Due: codeql-format, sync-files

C#: Remove reference to stageStats.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ContentDataFlow.qll
Due: codeql-format, sync-files

Update docs/codeql/codeql-language-guides/using-api-graphs-in-python.rst
  docs/codeql/codeql-language-guides/using-api-graphs-in-python.rst
Due: none

Remove dubious model after investigating it
  java/ql/lib/ext/javax.naming.directory.model.yml
Due: none

C++: Fix issue where 'getEnclosingCallable' didn't exist for some globals.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
Due: codeql-format, sync-files

C++: Fix flow through arrays.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/ssa0/SsaInternals.qll
Due: codeql-format, sync-files

C++: Also track flow out of indirect sources.
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.ql
Due: codeql-format, sync-files

C++: Allocate an additional indirection for void pointers.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
Due: codeql-format, sync-files

C++: Accept query changes. Nothing bad to see here.
  cpp/ql/test/query-tests/Security/CWE/CWE-022/SAMATE/TaintedPath/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-022/semmle/tests/TaintedPath.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/SAMATE/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowDestination.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
Due: none

C++: Fix a bug in Expr <-> Node mapping.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
Due: codeql-format, sync-files

C++: Fix flow through partial definitions.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternals.qll
Due: codeql-format, sync-files

C++: Add failing test.
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Due: none

C++: Properly track smart pointer wrappers.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/SmartPointer.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/PointerWrapper.qll
  cpp/ql/test/library-tests/dataflow/smart-pointers-taint/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/smart_pointer.cpp
Due: codeql-format, sync-files

C++: Add conflation into DefaultTaintTracking.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DefaultTaintTrackingImpl.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
Due: codeql-format, sync-files

C++: Add failing test.
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/uninitialized.expected
Due: none

C++: Remove conflation from taint-tracking.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/TaintTrackingUtil.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/library-tests/dataflow/smart-pointers-taint/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Due: none

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/dataflow-tests/clang.cpp
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Due: none

C++: Add failing test.
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
Due: none

C++: Fix missing types. We now assign the node corresponding to `**p` an `UnknownType`.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/type-bugs.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
Due: codeql-format, sync-files

C++: Fix queries. Since there's no longer indirect -> direct flow in taint-tracking we need to make sure the affected sink definitions also handle indirect flow.
  cpp/ql/src/Critical/OverflowDestination.ql
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
  cpp/ql/src/Security/CWE/CWE-311/CleartextBufferWrite.ql
  cpp/ql/src/Security/CWE/CWE-311/CleartextFileWrite.ql
  cpp/ql/src/Security/CWE/CWE-311/CleartextTransmission.ql
  cpp/ql/src/Security/CWE/CWE-319/UseOfHttp.ql
  cpp/ql/src/Security/CWE/CWE-497/ExposedSystemData.ql
  cpp/ql/src/Security/CWE/CWE-497/PotentiallyExposedSystemData.ql
  cpp/ql/src/Security/CWE/CWE-497/SystemData.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-119/semmle/tests/OverflowDestination.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextTransmission.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/SAMATE/PotentiallyExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/PotentiallyExposedSystemData.expected
Due: codeql-format, sync-files

Apply suggestions from code review
  docs/codeql/codeql-for-visual-studio-code/customizing-settings.rst
  docs/codeql/codeql-for-visual-studio-code/running-codeql-queries-at-scale-with-mrva.rst
Due: none

Fix typo in heading
  docs/codeql/codeql-for-visual-studio-code/running-codeql-queries-at-scale-with-mrva.rst
Due: none

C++: Fix test annotation.
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/vector.cpp
Due: none

Python: Fix `ModuleExport.ql` test for Python 2
  python/ql/test/experimental/import-resolution/ModuleExport.expected
  python/ql/test/experimental/import-resolution/ModuleExport.ql
Due: codeql-format, sync-files

Updates following initial PM review
  docs/codeql/codeql-for-visual-studio-code/running-codeql-queries-at-scale-with-mrva.rst
  docs/codeql/images/codeql-for-visual-studio-code/variant-analysis-repo-lists.png
Due: none

fix upper-case .html.erb files
  javascript/extractor/src/com/semmle/js/extractor/FileExtractor.java
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
