Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Undo changes in modules
  go/vendor/modules.txt
Due: none

Remove import
  go/ql/src/experimental/CWE-287/examples/LdapAuthBad.go
  go/ql/src/experimental/CWE-287/examples/LdapAuthGood.go
Due: none

Add go.mod
  go/ql/test/experimental/CWE-287/go.mod
Due: none

C#: Deprecate `{get,has}QualifiedName` and replace with `{get,has}FullyQualifiedName`
  csharp/ql/lib/semmle/code/cil/Declaration.qll
  csharp/ql/lib/semmle/code/cil/InstructionGroups.qll
  csharp/ql/lib/semmle/code/cil/Instructions.qll
  csharp/ql/lib/semmle/code/cil/Type.qll
  csharp/ql/lib/semmle/code/cil/Variable.qll
  csharp/ql/lib/semmle/code/csharp/Generics.qll
  csharp/ql/lib/semmle/code/csharp/Member.qll
  csharp/ql/lib/semmle/code/csharp/Namespace.qll
  csharp/ql/lib/semmle/code/csharp/commons/QualifiedName.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/SSA.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
  csharp/ql/lib/semmle/code/csharp/security/dataflow/ExternalAPIsQuery.qll
  csharp/ql/lib/semmle/code/dotnet/Declaration.qll
  csharp/ql/lib/semmle/code/dotnet/Element.qll
  csharp/ql/lib/semmle/code/dotnet/Namespace.qll
Due: codeql-format, sync-files

C#: Update MaD rows
  csharp/ql/lib/ext/Newtonsoft.Json.Linq.model.yml
  csharp/ql/lib/ext/System.Collections.Concurrent.model.yml
  csharp/ql/lib/ext/System.Collections.Generic.model.yml
  csharp/ql/lib/ext/System.Collections.Immutable.model.yml
  csharp/ql/lib/ext/System.Collections.ObjectModel.model.yml
  csharp/ql/lib/ext/System.Collections.Specialized.model.yml
  csharp/ql/lib/ext/System.Collections.model.yml
  csharp/ql/lib/ext/System.ComponentModel.model.yml
  csharp/ql/lib/ext/System.Data.Common.model.yml
  csharp/ql/lib/ext/System.Diagnostics.model.yml
  csharp/ql/lib/ext/System.Dynamic.model.yml
  csharp/ql/lib/ext/System.Linq.model.yml
  csharp/ql/lib/ext/System.Net.Http.model.yml
  csharp/ql/lib/ext/System.Runtime.CompilerServices.model.yml
  csharp/ql/lib/ext/System.Threading.Tasks.model.yml
  csharp/ql/lib/ext/System.model.yml
Due: none

C#: Add change note
  csharp/ql/lib/change-notes/2023-11-10-unbound-generics-fqn.md
Due: none

Temporarily run the standalone extractor instead of autobuilding
  csharp/tools/autobuild.sh
Due: none

C++: Split `strlcat` off in a separate model
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcat.qll
Due: codeql-format, sync-files

Swift: test ElementArchetypeType via PackType
  swift/ql/.generated.list
  swift/ql/.gitattributes
  swift/ql/test/extractor-tests/generated/type/ElementArchetypeType/ElementArchetypeType_getProtocol.expected
  swift/ql/test/extractor-tests/generated/type/ElementArchetypeType/ElementArchetypeType_getSuperclass.expected
  swift/ql/test/extractor-tests/generated/type/ElementArchetypeType/test.swift
  swift/ql/test/extractor-tests/generated/type/PackType/ElementArchetypeType.expected
  swift/ql/test/extractor-tests/generated/type/PackType/ElementArchetypeType.ql
  swift/ql/test/extractor-tests/generated/type/PackType/ElementArchetypeType_getProtocol.expected
  swift/ql/test/extractor-tests/generated/type/PackType/ElementArchetypeType_getProtocol.ql
  swift/ql/test/extractor-tests/generated/type/PackType/ElementArchetypeType_getSuperclass.expected
  swift/ql/test/extractor-tests/generated/type/PackType/ElementArchetypeType_getSuperclass.ql
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

C#: Adjust standalone integration test to not reference mono assemblies
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Assemblies.expected
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/Assemblies.ql
Due: codeql-format, sync-files

C++: Fix `hasRemoteFlowSource` for `fgets`
  cpp/ql/lib/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/UncontrolledProcessOperation.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-114/semmle/UncontrolledProcessOperation/test.cpp
Due: codeql-format, sync-files

C++: Fix flow for return values of `strlcat` and `strlcpy`
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcpy.qll
Due: codeql-format, sync-files

misc: add dbscheme diff generation
  .pre-commit-config.yaml
  misc/scripts/prepare-db-upgrade.sh
Due: none

C++: Drop the size return value of `strlcat` from `hasTaintFlow`
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcat.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcat.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Strcpy.qll
Due: codeql-format, sync-files

Java: Accept test changes.
  java/ql/test/library-tests/dataflow/modulus-analysis/ModulusAnalysis.expected
Due: none

Update python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Python: Rename test function
  python/ql/test/experimental/dataflow/fieldflow/test.py
Due: none

Swift: Add heuristic path injection sinks.
  swift/ql/lib/codeql/swift/security/PathInjectionExtensions.qll
  swift/ql/test/query-tests/Security/CWE-022/testPathInjection.swift
Due: codeql-format, sync-files

Swift: Change note.
  swift/ql/src/change-notes/2023-11-10-path-injection.md
Due: none

Swift: downgrade parameter packs
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/downgrade.ql
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/old.dbscheme
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/swift.dbscheme
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/upgrade.properties
  swift/ql/lib/upgrades/fcc7b497930add320fabeed9b228b264bc847ae6/old.dbscheme
  swift/ql/lib/upgrades/fcc7b497930add320fabeed9b228b264bc847ae6/swift.dbscheme
  swift/ql/lib/upgrades/fcc7b497930add320fabeed9b228b264bc847ae6/upgrade.properties
Due: codeql-format, sync-files

C++: Add change note
  cpp/ql/lib/change-notes/2023-11-10-strlcpy-strlcat-models.md
Due: none

C++: Move a couple of predicates to 'Node0Impl'.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

Swift: update wordings in a downgrade script
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/downgrade.ql
  swift/downgrades/04ef9ecaa9e06a587f252f147462861e3d32846a/upgrade.properties
Due: codeql-format, sync-files

Swift: Rename the capture test to look more like the others.
  swift/ql/test/library-tests/dataflow/capture/FlowInline.expected
  swift/ql/test/library-tests/dataflow/capture/FlowInline.ql
Due: codeql-format, sync-files

Added LoadClassNoSignatureCheck.ql
  java/ql/src/experimental/Security/CWE/CWE-470/LoadClassNoSignatureCheck.qhelp
  java/ql/src/experimental/Security/CWE/CWE-470/LoadClassNoSignatureCheck.ql
Due: codeql-format, sync-files, qhelp

Updated text in LoadClassNoSignatureCheck.qhelp
  java/ql/src/experimental/Security/CWE/CWE-470/LoadClassNoSignatureCheck.qhelp
Due: sync-files, qhelp

`equalityAsSanitizerGuard` and add empty string comment
  go/ql/src/experimental/CWE-287/ImproperLdapAuth.qll
Due: codeql-format, sync-files

Change to `DataFlow::ConfigSig`
  go/ql/src/experimental/CWE-287/ImproperLdapAuth.ql
  go/ql/src/experimental/CWE-287/ImproperLdapAuth.qll
  go/ql/src/experimental/CWE-287/ImproperLdapAuthCustomizations.qll
Due: codeql-format, sync-files

Remove unused `LdapConn`
  go/ql/src/experimental/CWE-287/ImproperLdapAuthCustomizations.qll
Due: codeql-format, sync-files

Import `PathGraph`
  go/ql/src/experimental/CWE-287/ImproperLdapAuth.ql
  go/ql/src/experimental/CWE-287/ImproperLdapAuthCustomizations.qll
Due: codeql-format, sync-files

Removed @kind path-problem in comment. Added text message in select.
  java/ql/src/experimental/Security/CWE/CWE-470/LoadClassNoSignatureCheck.ql
Due: codeql-format, sync-files

Swift: do not extract non-AST types
  swift/extractor/infra/SwiftTagTraits.h
Due: none

C++: Remove SemSsaExplicitUpdate.getSourceExpr.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticSSA.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/ConstantAnalysis.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/SignAnalysisCommon.qll
Due: codeql-format, sync-files

Rangeanalysis: Remove unused getAlternateType predicates.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisConstantSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisRelativeSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeUtils.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
Due: codeql-format, sync-files

Rangeanalysis: Rename predicate.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisConstantSpecific.qll
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/analysis/RangeAnalysisRelativeSpecific.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  shared/rangeanalysis/codeql/rangeanalysis/RangeAnalysis.qll
Due: codeql-format, sync-files

Java: Remove unused import
  java/ql/lib/semmle/code/java/dataflow/NullGuards.qll
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
