Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
        language: system
        entry: bazel run //swift/codegen
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

add flow-state support to sanitizers in code-execution, and use that to refactor the string-concatenation-sanitizer
  ruby/ql/lib/codeql/ruby/security/CodeInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/CodeInjectionQuery.qll
Due: codeql-format, sync-files

Kotlin: Implement lockless TRAP writing
  java/kotlin-extractor/src/main/java/com/semmle/extractor/java/OdasaOutput.java
Due: none

Kotlin: Don't write TRAP files that are already out-of-date
  java/kotlin-extractor/src/main/java/com/semmle/extractor/java/OdasaOutput.java
Due: none

Kotlin: Tweak custom_plugin/diagnostics test
  java/ql/integration-tests/linux-only/kotlin/custom_plugin/diagnostics.expected
  java/ql/integration-tests/linux-only/kotlin/custom_plugin/diagnostics.ql
Due: codeql-format, sync-files

Kotlin: Accept test changes
  java/ql/integration-tests/linux-only/kotlin/custom_plugin/diagnostics.expected
Due: none

Kotlin: Nest TRAP files inside their basename
  java/kotlin-extractor/src/main/java/com/semmle/extractor/java/OdasaOutput.java
Due: none

add modeled db access endpoint label
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/NosqlInjectionATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/StandardEndpointLabels.qll
Due: codeql-format, sync-files

remove duplicate alerts due to multiple states reaching the same sink
  ruby/ql/src/queries/security/cwe-094/CodeInjection.ql
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection.expected
Due: codeql-format, sync-files

add modeled sink endpoint label
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/NosqlInjectionATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/StandardEndpointLabels.qll
Due: codeql-format, sync-files

add modeled step source endpoint label
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/NosqlInjectionATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/StandardEndpointLabels.qll
Due: codeql-format, sync-files

Kotlin: Add FP test case for constant loop condition
  java/ql/test/kotlin/query-tests/ConstantLoopCondition/A.kt
  java/ql/test/kotlin/query-tests/ConstantLoopCondition/ConstantLoopCondition.expected
  java/ql/test/kotlin/query-tests/ConstantLoopCondition/ConstantLoopCondition.qlref
Due: none

add modeled http response/request label, and add modeled db access to previous heuristic label
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/NosqlInjectionATM.qll
  javascript/ql/experimental/adaptivethreatmodeling/lib/experimental/adaptivethreatmodeling/StandardEndpointLabels.qll
  javascript/ql/experimental/adaptivethreatmodeling/test/endpoint_large_scale/FilteredTruePositives.ql
Due: codeql-format, sync-files

minor updates
  java/ql/lib/semmle/code/java/security/InsufficientKeySize.qll
  java/ql/test/query-tests/security/CWE-326/InsufficientKeySizeTest.java
Due: codeql-format, sync-files

Kotlin: Exclude captured variables from constant loop condition check
  java/ql/lib/semmle/code/java/Variable.qll
  java/ql/src/Likely Bugs/Termination/ConstantLoopCondition.ql
  java/ql/test/kotlin/library-tests/variables/variableAccesses.expected
  java/ql/test/kotlin/library-tests/variables/variables.expected
  java/ql/test/kotlin/library-tests/variables/variables.kt
  java/ql/test/kotlin/library-tests/variables/variables.ql
  java/ql/test/kotlin/query-tests/ConstantLoopCondition/A.kt
  java/ql/test/kotlin/query-tests/ConstantLoopCondition/ConstantLoopCondition.expected
Due: codeql-format, sync-files

Add TarSlip Improv query
  python/ql/src/experimental/Security/CWE-022bis/TarSlip.qhelp
  python/ql/src/experimental/Security/CWE-022bis/TarSlipImprov.ql
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_1.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_2.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_3.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_4.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_5.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_6.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_7.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_1.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_10.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_11.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_12.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_13.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_14.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_15.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_16.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_17.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_18.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_19.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_2.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_20.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_21.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_22.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_23.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_24.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_25.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_26.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_27.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_3.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_4.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_5.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_6.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_7.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_8.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_9.py
  python/ql/src/experimental/Security/CWE-022bis/examples/archive_malign.tar
  python/ql/src/experimental/Security/CWE-022bis/examples/script.sh
Due: codeql-format, sync-files, qhelp

Swift: introduce xcode-autobuilder tests
  swift/xcode-autobuilder/BUILD.bazel
  swift/xcode-autobuilder/tests/.gitignore
  swift/xcode-autobuilder/tests/BUILD.bazel
  swift/xcode-autobuilder/tests/autobuild_tester.py
  swift/xcode-autobuilder/tests/hello-autobuilder/commands.expected
  swift/xcode-autobuilder/tests/hello-autobuilder/hello-autobuilder.xcodeproj/project.pbxproj
  swift/xcode-autobuilder/tests/hello-autobuilder/hello-autobuilder.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  swift/xcode-autobuilder/tests/hello-autobuilder/hello-autobuilder.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Due: none

Swift: make xcode-autobuilder tester work with several tests
  swift/xcode-autobuilder/tests/.gitignore
  swift/xcode-autobuilder/tests/BUILD.bazel
  swift/xcode-autobuilder/tests/autobuild_tester.py
  swift/xcode-autobuilder/tests/hello-autobuilder/hello-autobuilder.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  swift/xcode-autobuilder/tests/hello-workspace/Hello.xcworkspace/contents.xcworkspacedata
  swift/xcode-autobuilder/tests/hello-workspace/commands.expected
  swift/xcode-autobuilder/tests/hello-workspace/hello-workspace.xcodeproj/project.pbxproj
  swift/xcode-autobuilder/tests/hello-workspace/hello-workspace.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Due: none

Add flow summaries for startActivities
  java/ql/lib/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/lib/semmle/code/java/frameworks/android/Intent.qll
  java/ql/test/library-tests/frameworks/android/intent/TestStartActivityToGetIntent.java
Due: codeql-format, sync-files

Swift: add Xcode autobuilder to CI
  .github/workflows/swift-autobuilder.yml
Due: none

Add change note
  java/ql/lib/change-notes/2022-10-19-android-startactivities-summaries.md
Due: none

Swift: better CI names
  .github/workflows/swift-autobuilder-tests.yml
Due: none

Swift: drop redundant workflow
  .github/workflows/swift-autobuilder-tests.yml
  .github/workflows/swift-autobuilder.yml
Due: none

Don't create interface forwarders for other interfaces, and target super accesses correctly
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin-interface-inherited-default/User.java
  java/ql/integration-tests/posix-only/kotlin/kotlin-interface-inherited-default/test.expected
  java/ql/integration-tests/posix-only/kotlin/kotlin-interface-inherited-default/test.kt
  java/ql/integration-tests/posix-only/kotlin/kotlin-interface-inherited-default/test.ql
  java/ql/test/kotlin/library-tests/java-kotlin-collection-type-generic-methods/test.expected
  java/ql/test/kotlin/library-tests/reflection/reflection.expected
Due: codeql-format, sync-files

Add a new Custom URL Scheme source
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/CustomUrlSchemes.qll
  swift/ql/test/library-tests/dataflow/flowsources/customurlschemes.swift
Due: codeql-format, sync-files

Accept test changes resulting from correctly mapping extension methods' default proxies
  java/ql/test/kotlin/library-tests/parameter-defaults/defaults.expected
Due: none

Apply review suggestions
  java/ql/lib/semmle/code/java/frameworks/android/Intent.qll
Due: codeql-format, sync-files

Add an additional taint step
  python/ql/src/experimental/Security/CWE-022bis/TarSlipImprov.ql
Due: codeql-format, sync-files

minor updates
  java/ql/lib/semmle/code/java/security/InsufficientKeySize.qll
  java/ql/src/Security/CWE/CWE-326/InsufficientKeySize.qhelp
  java/ql/src/Security/CWE/CWE-326/InsufficientKeySizeBad.java
  java/ql/src/Security/CWE/CWE-326/InsufficientKeySizeGood.java
  java/ql/test/query-tests/security/CWE-326/InsufficientKeySizeTest.java
  java/ql/test/query-tests/security/CWE-326/SignatureTest.java
Due: codeql-format, sync-files, qhelp

Restrict the reach for an additional taint step
  python/ql/src/experimental/Security/CWE-022bis/TarSlipImprov.ql
Due: codeql-format, sync-files

Swift: update setup python action on `swift-autobuilder.yml`
  .github/workflows/swift-autobuilder.yml
Due: none

Fix format errors
  javascript/ql/test/library-tests/frameworks/Restify2/tests.ql
Due: codeql-format, sync-files

rename change note
  java/ql/src/change-notes/2022-10-19-insufficient-key-size.md
Due: none

Fix LaunchOptionsUrlVarDecl
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/CustomUrlSchemes.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
Due: codeql-format, sync-files

Fix format errors
  javascript/ql/lib/semmle/javascript/frameworks/Spife.qll
Due: codeql-format, sync-files

Update qhelp to recommend the use of PBKDF2.
  java/ql/src/Security/CWE/CWE-759/HashWithoutSalt.java
  java/ql/src/Security/CWE/CWE-759/HashWithoutSalt.qhelp
Due: sync-files, qhelp

Kotlin: Refactor PSI handling
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
  java/kotlin-extractor/src/main/kotlin/LinesOfCode.kt
  java/kotlin-extractor/src/main/kotlin/comments/CommentExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/IrVisitorLookup.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_4_32/Psi2Ir.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_5_20/Psi2Ir.kt
Due: none

Apply suggestions from code review
  swift/ql/src/queries/Security/CWE-089/SqlInjection.qhelp
Due: sync-files, qhelp

Swift: More 'an SQL' -> 'a SQL'.
  swift/ql/src/queries/Security/CWE-089/SqlInjection.ql
Due: codeql-format, sync-files

Swift: Attempt to address qhelp suggestions.
  swift/ql/src/queries/Security/CWE-089/SqlInjection.qhelp
Due: sync-files, qhelp

Swift: Another qhelp edit.
  swift/ql/src/queries/Security/CWE-089/SqlInjection.qhelp
Due: sync-files, qhelp
