Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

Fix typo
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-python.rst
Due: none

Fix mistakes in Go data flow examples in docs
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-go.rst
Due: none

Add path query example to python data flow docs
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-python.rst
Due: none

C#: Add change note.
  csharp/ql/lib/change-notes/2025-10-10-entity-locations.md
Due: none

Rust: Add more type inference tests
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/blanket_impl.rs
  rust/ql/test/library-tests/type-inference/dereference.rs
  rust/ql/test/library-tests/type-inference/invalid/main.rs
  rust/ql/test/library-tests/type-inference/invalid/options.yml
  rust/ql/test/library-tests/type-inference/loop/main.rs
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: none

Rust: Rework call resolution and type inference for calls
  rust/ql/lib/codeql/rust/elements/internal/OperationImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/TypeParamImpl.qll
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/Type.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/lib/codeql/rust/internal/TypeMention.qll
  rust/ql/lib/codeql/rust/internal/typeinference/BlanketImplementation.qll
  rust/ql/lib/codeql/rust/internal/typeinference/FunctionOverloading.qll
  rust/ql/lib/codeql/rust/internal/typeinference/FunctionType.qll
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Due: codeql-format, sync-files, rust-codegen

Rust: Use `doublyBoundedFastTC` in `TraitIsVisible`
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
Due: codeql-format, sync-files

Rust: Update expected output
  rust/ql/test/library-tests/dataflow/global/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/InlineFlow.expected
  rust/ql/test/library-tests/dataflow/sources/test.rs
  rust/ql/test/library-tests/dataflow/sources/test_futures_io.rs
  rust/ql/test/library-tests/dataflow/strings/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/strings/inline-taint-flow.expected
  rust/ql/test/library-tests/frameworks/postgres/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/path-resolution/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/sensitivedata/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/blanket_impl.rs
  rust/ql/test/library-tests/type-inference/dereference.rs
  rust/ql/test/library-tests/type-inference/invalid/main.rs
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/query-tests/security/CWE-089/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-312/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
  rust/ql/test/query-tests/security/CWE-312/CleartextStorageDatabase.expected
  rust/ql/test/query-tests/security/CWE-825/CONSISTENCY/PathResolutionConsistency.expected
Due: none

Rust: Add change note
  rust/ql/lib/change-notes/2025-10-06-call-resolution.md
Due: none

JS: Add compileForOverlayEval
  javascript/ql/lib/qlpack.yml
Due: none

JS: Fix bad join order in getNextToken()
  javascript/ql/lib/semmle/javascript/Tokens.qll
Due: codeql-format, sync-files

JS: Fix getRawEnclosingStmt call
  javascript/ql/lib/semmle/javascript/Expr.qll
Due: codeql-format, sync-files

Rust: Add more type inference tests
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: none

JS: Add overlay[local?] to new summaries after rebasing
  javascript/ql/lib/semmle/javascript/frameworks/AsyncPackage.qll
  javascript/ql/lib/semmle/javascript/frameworks/LodashUnderscore.qll
Due: codeql-format, sync-files

JS: Make more general-purpose data flow things local
  javascript/ql/lib/semmle/javascript/Extend.qll
  javascript/ql/lib/semmle/javascript/GlobalAccessPaths.qll
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/Nodes.qll
  javascript/ql/lib/semmle/javascript/frameworks/AngularJS/AngularJSCore.qll
  javascript/ql/lib/semmle/javascript/frameworks/LodashUnderscore.qll
  javascript/ql/lib/semmle/javascript/frameworks/PropertyProjection.qll
Due: codeql-format, sync-files

dependabot.yml: Remove second `gomod` configuration that didn't work
  .github/dependabot.yml
Due: none

dependabot.yml: Add `exclude-paths` option to `gomod` config
  .github/dependabot.yml
Due: none

C#: Use * IDs for source locations.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Locations/NonGeneratedSourceLocation.cs
Due: none

C#: Also use * IDs in traced mode.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Locations/NonGeneratedSourceLocation.cs
Due: none

Rust: Non-symmetric type propagation for lub coercions
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: codeql-format, sync-files

Rust: More type inference tests
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/blanket_impl.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: none

Rust: Compute incompatible blanket implementations
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/lib/codeql/rust/internal/typeinference/BlanketImplementation.qll
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/blanket_impl.rs
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Due: codeql-format, sync-files

C#: Add change note.
  csharp/ql/lib/change-notes/2025-10-10-starid-locations.md
Due: none

Fix link syntax
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-python.rst
Due: none

Rust: Add test cases for the mysql library.
  rust/ql/test/query-tests/security/CWE-089/Cargo.lock
  rust/ql/test/query-tests/security/CWE-089/mysql.rs
  rust/ql/test/query-tests/security/CWE-089/options.yml
Due: none

JS: Overlay annotations for some failing tests
  javascript/ql/lib/utils/test/InlineSummaries.qll
  javascript/ql/test/library-tests/AMD/tests.ql
  javascript/ql/test/library-tests/CustomAbstractValueDefinitions/CustomAbstractValueDefinitions.ql
  javascript/ql/test/library-tests/CustomAbstractValueDefinitions/CustomAbstractValueDefinitionsFlow.ql
  javascript/ql/test/library-tests/FlowCustomisation/customValues.ql
  javascript/ql/test/library-tests/ModuleImportNodes/CustomImport.ql
  javascript/ql/test/library-tests/RecursionPrevention/SourceNodeFlowsTo.ql
  javascript/ql/test/library-tests/frameworks/data/test.ql
  javascript/ql/test/library-tests/frameworks/data/warnings.ql
Due: codeql-format, sync-files

Rust: Add test cases for the mysql_async library.
  rust/ql/test/query-tests/security/CWE-089/Cargo.lock
  rust/ql/test/query-tests/security/CWE-089/mysql.rs
  rust/ql/test/query-tests/security/CWE-089/options.yml
Due: none

Rust: Add test cases for transactions as well.
  rust/ql/test/query-tests/security/CWE-089/mysql.rs
Due: none

Add path query example to other lang data flow docs
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-csharp.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-go.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-java.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-javascript-and-typescript.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-ruby.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-rust.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-swift.rst
Due: none

C#: Improve log messages in `DotNetCliInvoker`
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DotNetCliInvoker.cs
Due: none

Rust: Add models.
  rust/ql/lib/codeql/rust/frameworks/mysql-async.model.yml
  rust/ql/lib/codeql/rust/frameworks/mysql.model.yml
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-089/mysql.rs
Due: none

Rust: Change note.
  rust/ql/lib/change-notes/2025-10-10-mysql.md
Due: none

Rust: Claim support for the two libraries.
  docs/codeql/reusables/supported-frameworks.rst
Due: none

Rust: Add test cases for bad use of prepared statements as well.
  rust/ql/test/query-tests/security/CWE-089/SqlInjection.expected
  rust/ql/test/query-tests/security/CWE-089/mysql.rs
Due: none

Crypto: Reused nonce query updates and test updates to address false positives.
  java/ql/src/experimental/quantum/Examples/ArtifactReuse.qll
  java/ql/src/experimental/quantum/Examples/ReusedNonce.ql
  java/ql/test/experimental/query-tests/quantum/examples/NonceReuse/NonceReuse.expected
  java/ql/test/experimental/query-tests/quantum/examples/NonceReuse/Test.java
Due: codeql-format, sync-files

Crypto: Weak asymmetric key gen size fixes and test.
  java/ql/lib/experimental/quantum/JCA.qll
  java/ql/src/experimental/quantum/Examples/WeakAsymmetric.ql
  java/ql/src/experimental/quantum/Examples/WeakAsymmetricKeyGenSize.ql
  java/ql/test/experimental/query-tests/quantum/examples/WeakOrUnknownAsymmetricKeySize/InsufficientAsymmetricKeySize.java
  java/ql/test/experimental/query-tests/quantum/examples/WeakOrUnknownAsymmetricKeySize/WeakOrUnknownAsymmetricKeyGenSize.expected
  java/ql/test/experimental/query-tests/quantum/examples/WeakOrUnknownAsymmetricKeySize/WeakOrUnknownAsymmetricKeyGenSize.qlref
Due: codeql-format, sync-files

Crypto: missing new endpoint to get the creating operation for a key if known.
  shared/quantum/codeql/quantum/experimental/Model.qll
Due: codeql-format, sync-files

Crypto: InsecureIVorNonceSource now ignored null to avoid being too noisy.
  java/ql/src/experimental/quantum/Examples/InsecureIVorNonceSource.ql
Due: codeql-format, sync-files

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
