Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
        language: system
        entry: bazel run //swift/codegen
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

Ruby: Make isInterpretedAsRegExp extensible
  ruby/ql/lib/codeql/ruby/Regexp.qll
Due: codeql-format, sync-files

Ruby: Model Mime::Type
  ruby/ql/lib/codeql/ruby/frameworks/ActionDispatch.qll
  ruby/ql/test/library-tests/frameworks/ActionDispatch.expected
  ruby/ql/test/library-tests/frameworks/ActionDispatch.ql
  ruby/ql/test/library-tests/frameworks/action_dispatch/mime_type.rb
Due: codeql-format, sync-files

Ruby: Fix QLDoc warnings
  ruby/ql/lib/codeql/ruby/Regexp.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionDispatch.qll
Due: codeql-format, sync-files

Add check for Spring redirect
  java/ql/src/experimental/Security/CWE/CWE-625/PermissiveDotRegex.ql
  java/ql/src/experimental/Security/CWE/CWE-625/SpringUrlRedirect.qll
  java/ql/test/experimental/query-tests/security/CWE-625/DotRegexSpring.java
  java/ql/test/experimental/query-tests/security/CWE-625/PermissiveDotRegex.expected
  java/ql/test/experimental/query-tests/security/CWE-625/options
Due: codeql-format, sync-files

C++: Support `__is_aggregate` builtin
  cpp/ql/lib/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/lib/semmlecode.cpp.dbscheme
  cpp/ql/test/library-tests/builtins/type_traits/expr.expected
  cpp/ql/test/library-tests/builtins/type_traits/ms.cpp
Due: codeql-format, sync-files

C++: Add change note for newly added builtins
  cpp/ql/lib/change-notes/2022-07-26-additional-builtin-support.md
Due: none

C++: Support `__builtin_shuffle` builtin
  cpp/ql/lib/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/lib/semmlecode.cpp.dbscheme
  cpp/ql/test/library-tests/vector_types/builtin_ops.expected
  cpp/ql/test/library-tests/vector_types/variables.expected
  cpp/ql/test/library-tests/vector_types/vector_types2.cpp
Due: codeql-format, sync-files

C++: Add upgrade and downgrade scripts for new builtins
  cpp/downgrades/23f7cbb88a4eb29f30c3490363dc201bc054c5ff/exprs.ql
  cpp/downgrades/23f7cbb88a4eb29f30c3490363dc201bc054c5ff/old.dbscheme
  cpp/downgrades/23f7cbb88a4eb29f30c3490363dc201bc054c5ff/semmlecode.cpp.dbscheme
  cpp/downgrades/23f7cbb88a4eb29f30c3490363dc201bc054c5ff/upgrade.properties
  cpp/ql/lib/upgrades/19e31bf071f588bb7efd1e4d5a185ce4f6fbbd84/old.dbscheme
  cpp/ql/lib/upgrades/19e31bf071f588bb7efd1e4d5a185ce4f6fbbd84/semmlecode.cpp.dbscheme
  cpp/ql/lib/upgrades/19e31bf071f588bb7efd1e4d5a185ce4f6fbbd84/upgrade.properties
Due: codeql-format, sync-files

C++: Minor clean up of the builtin operations qldoc
  cpp/ql/lib/semmle/code/cpp/exprs/BuiltInOperations.qll
Due: codeql-format, sync-files

C++: Support `__builtin_bit_cast` builtin
  cpp/ql/lib/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/lib/semmlecode.cpp.dbscheme
  cpp/ql/test/library-tests/builtins/edg/edg.c
  cpp/ql/test/library-tests/builtins/edg/expr.expected
Due: codeql-format, sync-files

C++: Improve `ErrorExpr` documentation to match current practise
  cpp/ql/lib/semmle/code/cpp/exprs/Expr.qll
Due: codeql-format, sync-files

C++: Support `__has_unique_object_representations` builtin
  cpp/ql/lib/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/lib/semmlecode.cpp.dbscheme
  cpp/ql/test/library-tests/builtins/type_traits/expr.expected
  cpp/ql/test/library-tests/builtins/type_traits/ms.cpp
Due: codeql-format, sync-files

C++: Update DB scheme stats file
  cpp/ql/lib/semmlecode.cpp.dbscheme.stats
Due: none

C++: Fix `__builtin_shuffle` qldoc
  cpp/ql/lib/semmle/code/cpp/exprs/BuiltInOperations.qll
Due: codeql-format, sync-files

C++: Support `__is_assignable` builtin
  cpp/ql/lib/semmle/code/cpp/exprs/BuiltInOperations.qll
  cpp/ql/lib/semmlecode.cpp.dbscheme
  cpp/ql/test/library-tests/builtins/type_traits/expr.expected
  cpp/ql/test/library-tests/builtins/type_traits/ms.cpp
Due: codeql-format, sync-files

use red_cartoon dev ATM model
  javascript/ql/experimental/adaptivethreatmodeling/src/codeql-pack.lock.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Due: none

modification to use red cartoon locally
  codeql-workspace.yml
  javascript/ql/experimental/adaptivethreatmodeling/model/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Due: none

Revert "modification to use red cartoon locally"
  codeql-workspace.yml
  javascript/ql/experimental/adaptivethreatmodeling/model/qlpack.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Due: none

Swift: put all the PCM traps into the same place
  swift/extractor/SwiftExtractor.cpp
Due: none

Swift: extract precompiled swiftmodule files
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftExtractorConfiguration.h
  swift/extractor/SwiftOutputRewrite.cpp
  swift/extractor/SwiftOutputRewrite.h
  swift/extractor/main.cpp
  swift/integration-tests/posix-only/partial-modules/Modules.expected
  swift/integration-tests/runner.py
Due: none

Swift: strip suffix from swiftmodule trap files
  swift/extractor/SwiftExtractor.cpp
Due: none

Swift: readd .trap suffix to swiftmodule trap files
  swift/extractor/SwiftExtractor.cpp
Due: none

Revert "Swift: deduplicate `VarDecl`"
  swift/extractor/visitors/DeclVisitor.cpp
  swift/extractor/visitors/DeclVisitor.h
  swift/integration-tests/posix-only/cross-references/VarDecls.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getAccessorDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getAccessorDecl.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getAttachedPropertyWrapperType.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getAttachedPropertyWrapperType.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getParentInitializer.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getParentInitializer.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getParentPattern.expected
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/ConcreteVarDecl_getParentPattern.ql
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/decl/ConcreteVarDecl/var_decls.swift
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getAccessorDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getAccessorDecl.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getAttachedPropertyWrapperType.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getAttachedPropertyWrapperType.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getParentInitializer.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getParentInitializer.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getParentPattern.expected
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/ParamDecl_getParentPattern.ql
  swift/ql/test/extractor-tests/generated/decl/ParamDecl/param_decls.swift
Due: codeql-format, sync-files, swift-codegen

Use camelCase for XML acronym
  java/ql/test/TestUtilities/InlineExpectationsTestPrivate.qll
  java/ql/test/library-tests/xml/XMLTest.expected
  java/ql/test/library-tests/xml/XMLTest.ql
Due: codeql-format, sync-files

Add spurious and missing test cases
  java/ql/test/library-tests/xml/test.xml
Due: none

Swift: do not deduplicate PCM variables (as the mangler crashes there sometimes)
  swift/extractor/visitors/DeclVisitor.cpp
Due: none

Swift: mangle TypeAliasDecls differently
  swift/extractor/visitors/DeclVisitor.cpp
Due: none

Swift: lock built swiftmodule traps in main
  swift/extractor/BUILD.bazel
  swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftExtractorConfiguration.h
  swift/extractor/SwiftOutputRewrite.cpp
  swift/extractor/SwiftOutputRewrite.h
  swift/extractor/TargetTrapFile.cpp
  swift/extractor/TargetTrapFile.h
  swift/extractor/main.cpp
Due: none

C++: remove some side-effect instructions
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/TInstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/TInstructionInternal.qll
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir.expected
  cpp/ql/test/library-tests/ir/ssa/aliased_ssa_ir_unsound.expected
Due: codeql-format, sync-files

Swift: extract `ModuleType`
  swift/codegen/schema.yml
  swift/extractor/visitors/TypeVisitor.cpp
  swift/extractor/visitors/TypeVisitor.h
  swift/ql/lib/codeql/swift/generated/type/ModuleType.qll
  swift/ql/lib/swift.dbscheme
  swift/ql/test/TestUtils.qll
  swift/ql/test/extractor-tests/generated/decl/ModuleDecl/ModuleDecl.expected
  swift/ql/test/extractor-tests/generated/decl/ModuleDecl/default_module_name.swift
  swift/ql/test/extractor-tests/generated/type/ModuleType/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/type/ModuleType/ModuleType.expected
  swift/ql/test/extractor-tests/generated/type/ModuleType/ModuleType.ql
  swift/ql/test/extractor-tests/generated/type/ModuleType/default_module_name.swift
  swift/ql/test/extractor-tests/generated/type/ModuleType/modules.swift
Due: codeql-format, sync-files, swift-codegen

Swift: append clang module names in trap keys
  swift/extractor/visitors/DeclVisitor.cpp
Due: none

C++/C#: sync for IR side effect removal
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstructionInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/internal/TInstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstructionInternal.qll
  csharp/ql/src/experimental/ir/implementation/internal/AliasedSSAStub.qll
  csharp/ql/src/experimental/ir/implementation/internal/TInstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstructionInternal.qll
Due: codeql-format, sync-files

JS: Simplify type hierarchy for SourceNode
  javascript/ql/lib/semmle/javascript/dataflow/Sources.qll
  javascript/ql/test/library-tests/RecursionPrevention/SourceNodeRange.expected
  javascript/ql/test/library-tests/RecursionPrevention/SourceNodeRange.ql
Due: codeql-format, sync-files

C++/C#: fix join order in GVN
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
  csharp/ql/src/experimental/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
Due: codeql-format, sync-files

Ruby: compress TRAP with Brotli
  ruby/Cargo.lock
  ruby/extractor/Cargo.toml
  ruby/extractor/src/trap.rs
Due: none

updates to android debug query
  java/ql/src/Security/CWE/CWE-489/DebuggableAttributeTrue.ql
  java/ql/test/query-tests/security/CWE-489/DebuggableAttributeTrue.expected
  java/ql/test/query-tests/security/CWE-489/TestFalse.xml
  java/ql/test/query-tests/security/CWE-489/TestNotSet.xml
  java/ql/test/query-tests/security/CWE-489/TestTrue.xml
Due: codeql-format, sync-files

draft android debug query
  java/ql/src/Security/CWE/CWE-489/DebuggableAttributeTrue.qhelp
  java/ql/src/Security/CWE/CWE-489/DebuggableAttributeTrue.ql
  java/ql/test/query-tests/security/CWE-489/DebuggableAttributeTrue.expected
  java/ql/test/query-tests/security/CWE-489/DebuggableAttributeTrue.qlref
  java/ql/test/query-tests/security/CWE-489/Test.java
  java/ql/test/query-tests/security/CWE-489/TestFalse.xml
  java/ql/test/query-tests/security/CWE-489/TestNotSet.xml
  java/ql/test/query-tests/security/CWE-489/TestTrue.xml
  java/ql/test/query-tests/security/CWE-489/options
Due: codeql-format, sync-files, qhelp

clean up android query and tests
  java/ql/src/Security/CWE/CWE-489/DebuggableAttributeTrue.qhelp
  java/ql/src/Security/CWE/CWE-489/DebuggableAttributeTrue.ql
  java/ql/src/Security/CWE/CWE-489/DebuggableFalse.xml
  java/ql/src/Security/CWE/CWE-489/DebuggableTrue.xml
  java/ql/test/query-tests/security/CWE-489/DebuggableAttributeTrue.expected
  java/ql/test/query-tests/security/CWE-489/Test.java
  java/ql/test/query-tests/security/CWE-489/TestFalse.xml
  java/ql/test/query-tests/security/CWE-489/TestNotSet.xml
  java/ql/test/query-tests/security/CWE-489/TestTrue.xml
Due: codeql-format, sync-files, qhelp

add numeric value for security-severity
  java/ql/src/Security/CWE/CWE-489/DebuggableAttributeTrue.ql
Due: codeql-format, sync-files

updated location part of query to use abs path and /build
  java/ql/src/Security/CWE/CWE-489/DebuggableAttributeTrue.ql
Due: codeql-format, sync-files
