Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

Fix IncorrectIntegerConversion for use-use flow
  go/ql/lib/semmle/go/security/IncorrectIntegerConversionLib.qll
  go/ql/src/Security/CWE-681/IncorrectIntegerConversionQuery.ql
Due: codeql-format, sync-files

Optimise join order for varBlockReaches
  go/ql/lib/semmle/go/dataflow/SsaImpl.qll
Due: codeql-format, sync-files

Use `_` instead of exists variable x2
  go/ql/lib/semmle/go/dataflow/SsaImpl.qll
  go/ql/lib/semmle/go/security/LogInjectionCustomizations.qll
Due: codeql-format, sync-files

Make insecure randomness test more realistic
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/sample.go
Due: none

Test result that was missing is now found
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/test.go
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/test.go
Due: none

PS: Accept test changes.
  powershell/ql/test/library-tests/ast/parent.expected
Due: none

Line numbers change because 3 lines were added
  go/ql/test/library-tests/semmle/go/frameworks/Echo/TaintedPath.expected
Due: none

Go: add dbscheme relations for overlay support
  go/downgrades/b1341734d6870b105e5c9d168ce7dec25d7f72d0/go.dbscheme
  go/downgrades/b1341734d6870b105e5c9d168ce7dec25d7f72d0/old.dbscheme
  go/downgrades/b1341734d6870b105e5c9d168ce7dec25d7f72d0/upgrade.properties
  go/extractor/dbscheme/tables.go
  go/ql/lib/upgrades/b3da71c3ac204b557c86e9d9c26012360bdbdccb/go.dbscheme
  go/ql/lib/upgrades/b3da71c3ac204b557c86e9d9c26012360bdbdccb/old.dbscheme
  go/ql/lib/upgrades/b3da71c3ac204b557c86e9d9c26012360bdbdccb/upgrade.properties
Due: none

Go: add extractor pack field indicating overlay support
  go/codeql-extractor.yml
Due: none

Go: recognize CODEQL_PATH_TRANSFORMER env var
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/srcarchive/BUILD.bazel
  go/extractor/srcarchive/srcarchive.go
Due: buildifier

Go: implement basic overlay extraction
  go/extractor/extractor.go
  go/extractor/util/BUILD.bazel
  go/extractor/util/overlays.go
Due: buildifier

Go: skip overlay extraction of unchanged go.mod files
  go/extractor/gomodextractor.go
Due: none

Expected changes in dataflow edges
  go/ql/test/experimental/CWE-1004/CookieWithoutHttpOnly.expected
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/library-tests/semmle/go/dataflow/FlowSteps/LocalFlowStep.expected
  go/ql/test/library-tests/semmle/go/dataflow/PromotedFields/LocalFlowStep.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-022/TaintedPath.expected
  go/ql/test/query-tests/Security/CWE-078/CommandInjection.expected
  go/ql/test/query-tests/Security/CWE-078/SanitizingDoubleDash.go
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
Due: none

Java: Address review comment. Fix dataflow model
  java/ql/lib/ext/javax.crypto.model.yml
  java/ql/lib/ext/javax.crypto.spec.model.yml
  java/ql/test/library-tests/dataflow/kdf/KDFDataflowTest.java
  java/ql/test/library-tests/dataflow/kdf/test.expected
  java/ql/test/library-tests/dataflow/kdf/test.ql
Due: codeql-format, sync-files

Switch to dataflow check for guards exceptions This reduces some confusing FPs, though appears to introduce another
  python/ql/src/Resources/FileNotAlwaysClosed.ql
  python/ql/src/Resources/FileNotAlwaysClosedQuery.qll
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed/FileNotAlwaysClosed.expected
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed/FileNotAlwaysClosed.qlref
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed/resources_test.py
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed/test.expected
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed/test.ql
Due: codeql-format, sync-files

Go: merge with incoming path transformer when setting GOPATH
  go/extractor/cli/go-autobuilder/BUILD.bazel
  go/extractor/cli/go-autobuilder/go-autobuilder.go
  go/extractor/srcarchive/projectlayout.go
  go/extractor/srcarchive/srcarchive.go
Due: buildifier

Go: implement overlay discarding for @locatable
  go/ql/lib/semmle/go/Locations.qll
  go/ql/lib/semmle/go/Overlay.qll
Due: codeql-format, sync-files

Go: enable overlay compilation
  go/ql/lib/qlpack.yml
Due: none

Javba: Update tests results with disabled annotation processing.
  java/ql/integration-tests/java/buildless-erroneous/ExtractorInformation.expected
Due: none

Jave: Use force local to make parsing local after global regex finding.
  java/ql/lib/semmle/code/java/regex/RegexFlowConfigs.qll
Due: codeql-format, sync-files

Rename `proxy_configs` to `goproxy_servers` and only store URLs
  go/extractor/util/registryproxy.go
Due: none

Set lower-case variants of `HTTP_PROXY` and `HTTPS_PROXY`
  go/extractor/util/registryproxy.go
Due: none

Go: Use `git_source` configurations for `GOPRIVATE`
  go/extractor/util/registryproxy.go
  go/extractor/util/registryproxy_test.go
Due: none

Configure `git` to use the certificate, if needed
  go/extractor/util/registryproxy.go
Due: none

Don't use GOPROXY for `git_sources`
  go/extractor/util/registryproxy.go
Due: none

Improve logging to include proxy vars
  go/extractor/util/registryproxy.go
Due: none

Log when configuring `git` for certificate
  go/extractor/util/registryproxy.go
Due: none

Append `*` to `git_source` URL if not present
  go/extractor/util/registryproxy.go
Due: none

Convert URLs to expected format
  go/extractor/util/registryproxy.go
Due: none

Update test output
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed/FileNotAlwaysClosed.expected
  python/ql/test/query-tests/Resources/FileNotAlwaysClosed/resources_test.py
Due: none

Revert more precise version of call matches signature predicate for performance.
  python/ql/src/Functions/SignatureOverriddenMethod.ql
  python/ql/test/query-tests/Functions/overriding/SignatureOverriddenMethod.expected
  python/ql/test/query-tests/Functions/overriding/test.py
Due: codeql-format, sync-files

Update test output. Accepting some FNs due to dataflow issue.
  python/ql/test/query-tests/Exceptions/general/CatchingBaseException.expected
  python/ql/test/query-tests/Exceptions/general/EmptyExcept.expected
  python/ql/test/query-tests/Exceptions/general/IllegalExceptionHandlerType.expected
  python/ql/test/query-tests/Exceptions/general/IncorrectExceptOrder.expected
  python/ql/test/query-tests/Exceptions/general/NotImplementedIsNotAnException.expected
  python/ql/test/query-tests/Exceptions/general/exceptions_test.py
Due: none

Java: Consolidate Assertions.qll and Preconditions.qll.
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
  java/ql/lib/semmle/code/java/controlflow/internal/Preconditions.qll
  java/ql/lib/semmle/code/java/dataflow/Nullness.qll
  java/ql/lib/semmle/code/java/frameworks/Assertions.qll
  java/ql/src/Violations of Best Practice/Dead Code/DeadLocals.qll
Due: codeql-format, sync-files

Java: Add `ModuleImportDeclaration` QL class
  java/ql/lib/semmle/code/java/Import.qll
Due: codeql-format, sync-files

Java: Add module import declaration test
  java/ql/test/library-tests/module-import-declarations/ImportedPackage.expected
  java/ql/test/library-tests/module-import-declarations/ImportedPackage.ql
  java/ql/test/library-tests/module-import-declarations/ImportedType.expected
  java/ql/test/library-tests/module-import-declarations/ImportedType.ql
  java/ql/test/library-tests/module-import-declarations/Test.java
  java/ql/test/library-tests/module-import-declarations/options
Due: codeql-format, sync-files

Java: Add change note
  java/ql/lib/change-notes/2025-07-21-module-import-declarations.md
Due: none

Java: Address review comment. Improve module-import documentation
  java/ql/lib/semmle/code/java/Import.qll
Due: codeql-format, sync-files

Java: Address review comment. Improve `getAnImportedType` definition
  java/ql/lib/semmle/code/java/Import.qll
Due: codeql-format, sync-files

Java: remove `isImplict()`
  java/ql/lib/semmle/code/java/Type.qll
Due: codeql-format, sync-files
