Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
        language: system
        entry: bazel run //swift/codegen
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

Python: fix non-US spelling
  python/ql/src/Exceptions/UnguardedNextInGenerator.ql
Due: codeql-format, sync-files

Python: remember to import the new framework
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/dataflow/new/FlowSummary.qll
Due: codeql-format, sync-files

Kotlin: Add todo comment describing type access extraction inconsistency
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Fix QL formatting
  java/ql/test/kotlin/library-tests/vararg/args.ql
Due: codeql-format, sync-files

Add Implicit PendingIntents sinks for Compat classes
  java/ql/lib/change-notes/2022-09-07-implicit-pendingintents-compat-sinks.md
  java/ql/lib/semmle/code/java/security/ImplicitPendingIntents.qll
  java/ql/test/query-tests/security/CWE-927/ImplicitPendingIntentsTest.java
  java/ql/test/stubs/google-android-9.0.0/android/app/AppComponentFactory.java
  java/ql/test/stubs/google-android-9.0.0/android/app/AutomaticZenRule.java
  java/ql/test/stubs/google-android-9.0.0/android/service/notification/Condition.java
  java/ql/test/stubs/google-android-9.0.0/android/service/notification/StatusBarNotification.java
  java/ql/test/stubs/google-android-9.0.0/android/service/notification/ZenPolicy.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/AlarmManagerCompat.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/CoreComponentFactory.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/NotificationManagerCompat.java
  java/ql/test/stubs/google-android-9.0.0/androidx/remotecallback/CallbackReceiver.java
  java/ql/test/stubs/google-android-9.0.0/androidx/slice/Clock.java
  java/ql/test/stubs/google-android-9.0.0/androidx/slice/builders/impl/TemplateBuilderImpl.java
  java/ql/test/stubs/google-android-9.0.0/androidx/slice/compat/CompatPermissionManager.java
Due: codeql-format, sync-files

Add `www-authenticate` to sensitiveheaders()
  python/ql/src/experimental/semmle/python/security/TimingAttack.qll
Due: codeql-format, sync-files

C++: Respond to Schack feedback.
  cpp/ql/lib/experimental/semmle/code/cpp/dataflow/ProductFlow.qll
Due: codeql-format, sync-files

make the alert messages of taint-tracking queries more consistent
  ruby/ql/src/queries/security/cwe-022/PathInjection.ql
  ruby/ql/src/queries/security/cwe-079/ReflectedXSS.ql
  ruby/ql/src/queries/security/cwe-094/CodeInjection.ql
  ruby/ql/src/queries/security/cwe-117/LogInjection.ql
  ruby/ql/src/queries/security/cwe-1333/RegExpInjection.ql
  ruby/ql/src/queries/security/cwe-134/TaintedFormatString.ql
  ruby/ql/src/queries/security/cwe-312/CleartextLogging.ql
  ruby/ql/src/queries/security/cwe-312/CleartextStorage.ql
  ruby/ql/src/queries/security/cwe-502/UnsafeDeserialization.ql
  ruby/ql/src/queries/security/cwe-506/HardcodedDataInterpretedAsCode.ql
  ruby/ql/src/queries/security/cwe-601/UrlRedirect.ql
  ruby/ql/src/queries/security/cwe-611/Xxe.ql
  ruby/ql/src/queries/security/cwe-912/HttpToFileAccess.ql
  ruby/ql/test/query-tests/security/cwe-022/PathInjection.expected
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection.expected
  ruby/ql/test/query-tests/security/cwe-117/LogInjection.expected
  ruby/ql/test/query-tests/security/cwe-1333-regexp-injection/RegExpInjection.expected
  ruby/ql/test/query-tests/security/cwe-134/TaintedFormatString.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextLogging.expected
  ruby/ql/test/query-tests/security/cwe-312/CleartextStorage.expected
  ruby/ql/test/query-tests/security/cwe-502/oj-global-options/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-502/unsafe-deserialization/UnsafeDeserialization.expected
  ruby/ql/test/query-tests/security/cwe-506/HardcodedDataInterpretedAsCode.expected
  ruby/ql/test/query-tests/security/cwe-601/UrlRedirect.expected
  ruby/ql/test/query-tests/security/cwe-611/Xxe.expected
  ruby/ql/test/query-tests/security/cwe-912/HttpToFileAccess.expected
Due: codeql-format, sync-files

Move files from experimental
  java/ql/lib/semmle/code/java/frameworks/FreeMarker.qll
  java/ql/lib/semmle/code/java/frameworks/JinJava.qll
  java/ql/lib/semmle/code/java/frameworks/Pebble.qll
  java/ql/lib/semmle/code/java/frameworks/Thymeleaf.qll
  java/ql/lib/semmle/code/java/frameworks/Velocity.qll
  java/ql/src/Security/CWE/CWE-094/SSTIBad.java
  java/ql/src/Security/CWE/CWE-094/SSTIGood.java
  java/ql/src/Security/CWE/CWE-094/TemplateInjection.qhelp
  java/ql/src/Security/CWE/CWE-094/TemplateInjection.ql
  java/ql/src/Security/CWE/CWE-094/TemplateInjection.qll
  java/ql/test/experimental/query-tests/security/CWE-094/TemplateInjection.qlref
  java/ql/test/query-tests/security/CWE-094/FreemarkerSSTI.java
  java/ql/test/query-tests/security/CWE-094/JinJavaSSTI.java
  java/ql/test/query-tests/security/CWE-094/PebbleSSTI.java
  java/ql/test/query-tests/security/CWE-094/TemplateInjection.expected
  java/ql/test/query-tests/security/CWE-094/TemplateInjection.qlref
  java/ql/test/query-tests/security/CWE-094/ThymeleafSSTI.java
  java/ql/test/query-tests/security/CWE-094/VelocitySSTI.java
  java/ql/test/query-tests/security/CWE-094/options
Due: codeql-format, sync-files, qhelp

Kotlin: Remove a cast from extractConstructorCall
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

JS: Fix test case
  javascript/ql/test/query-tests/Security/CWE-843/TypeConfusionThroughParameterTampering.expected
  javascript/ql/test/query-tests/Security/CWE-843/tst.js
Due: none

JS: Correctly recognize Array.isArray calls
  javascript/ql/lib/semmle/javascript/security/dataflow/TypeConfusionThroughParameterTamperingQuery.qll
Due: codeql-format, sync-files

JS: Call super in isBarrier() override
  javascript/ql/lib/semmle/javascript/security/dataflow/TypeConfusionThroughParameterTamperingQuery.qll
  javascript/ql/test/query-tests/Security/CWE-843/TypeConfusionThroughParameterTampering.expected
Due: codeql-format, sync-files

JS: Change note
  javascript/ql/src/change-notes/2022-09-07-type-confusion-bugfix.md
Due: none

Kotlin: Remove a cast from extractStaticInitializer
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Add todo comment based on PR review
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

JS: Expand test case
  javascript/ql/test/query-tests/Security/CWE-843/TypeConfusionThroughParameterTampering.expected
  javascript/ql/test/query-tests/Security/CWE-843/tst.js
Due: none

Kotlin: add test for incorrect declaration stack
  java/ql/test/kotlin/library-tests/declaration-stack/Test.kt
  java/ql/test/kotlin/library-tests/declaration-stack/test.expected
  java/ql/test/kotlin/library-tests/declaration-stack/test.ql
Due: codeql-format, sync-files

Kotlin: Fix duplicate field entry in declaration stack
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/declaration-stack/test.expected
Due: none

Kotlin: refactor declaration stack to handle file as declaration parent
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/TrapWriter.kt
Due: none

Improve code quality
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Fix merge conflict
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Improve error handling
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Update java/ql/src/change-notes/2022-08-18-android-allowbackup-query.md
  java/ql/src/change-notes/2022-08-18-android-allowbackup-query.md
Due: none

Update java/ql/src/Security/CWE/CWE-312/AllowBackupAttributeEnabled.ql
  java/ql/src/Security/CWE/CWE-312/AllowBackupAttributeEnabled.ql
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/array-access/ArrayAccessProductFlow.expected
Due: none

Swift: first draft of query targeting weak hashing
  swift/ql/lib/codeql/swift/elements/AstNode.qll
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashing.qhelp
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashing.ql
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashingBad.swift
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashingGood.swift
  swift/ql/test/query-tests/Security/CWE-328/WeakSensitiveDataHashing.expected
  swift/ql/test/query-tests/Security/CWE-328/WeakSensitiveDataHashing.qlref
  swift/ql/test/query-tests/Security/CWE-328/testCrypto.swift
Due: codeql-format, sync-files, qhelp, swift-codegen

C++: Remove CP.
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticExprSpecific.qll
Due: codeql-format, sync-files

Swift: fix `@id`
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashing.ql
Due: codeql-format, sync-files

C++: Remove 'IRConfiguration' since we no longer generate bad IR for range analysis.
  cpp/ql/src/experimental/Likely Bugs/ArrayAccessProductFlow.ql
Due: codeql-format, sync-files

Additional Unit tests for the allowBackup query
  java/ql/test/query-tests/security/CWE-312/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/AllowBackupEnabledTest.expected
  java/ql/test/query-tests/security/CWE-312/android/backup/AllowBackupEnabledTest.java
  java/ql/test/query-tests/security/CWE-312/android/backup/AllowBackupEnabledTest.ql
  java/ql/test/query-tests/security/CWE-312/android/backup/TestEmptyManifest/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/TestExplicitlyDisabled/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/TestExplicitlyEnabled/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/TestLibrary/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/TestMissing/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-312/android/backup/Testbuild/AndroidManifest.xml
Due: codeql-format, sync-files

Moved allowBackup query logic to allowsBackup pred
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/src/Security/CWE/CWE-312/AllowBackupAttributeEnabled.ql
Due: codeql-format, sync-files

ATM model for a DCA experiment
  javascript/ql/experimental/adaptivethreatmodeling/src/codeql-pack.lock.yml
  javascript/ql/experimental/adaptivethreatmodeling/src/qlpack.yml
Due: none

Formatting fixes for allowBackup tests
  java/ql/test/query-tests/security/CWE-312/android/backup/AllowBackupEnabledTest.ql
Due: codeql-format, sync-files

C++: Two fixes to ensure we don't use getUniqueId in the new range analysis library. (1) don't use it to rank basic blocks, and (2) don't use it in 'toString' on bounds.
  cpp/ql/lib/experimental/semmle/code/cpp/rangeanalysis/Bound.qll
  cpp/ql/lib/experimental/semmle/code/cpp/semantic/SemanticExprSpecific.qll
Due: codeql-format, sync-files

C++: prevent a bad join order
  cpp/ql/src/experimental/Likely Bugs/ArrayAccessProductFlow.ql
Due: codeql-format, sync-files

C++: query-specific model for ffmpeg allocator
  cpp/ql/src/experimental/Likely Bugs/ArrayAccessProductFlow.ql
Due: codeql-format, sync-files

C++: use-use flow in ArrayAccessProductFlow
  cpp/ql/src/experimental/Likely Bugs/ArrayAccessProductFlow.ql
Due: codeql-format, sync-files
