Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

Ruby: use taint tracking for rb/sensitive-get-query
  ruby/ql/src/queries/security/cwe-598/SensitiveGetQuery.ql
  ruby/ql/test/query-tests/security/cwe-598/SensitiveGetQuery.expected
Due: codeql-format, sync-files

Swift: Use ClassOrStructDecl.
  swift/ql/src/queries/Security/CWE-079/UnsafeWebViewFetch.ql
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/src/queries/Security/CWE-311/CleartextStorageDatabase.ql
  swift/ql/src/queries/Security/CWE-311/CleartextTransmission.ql
  swift/ql/src/queries/Security/CWE-328/WeakSensitiveDataHashing.ql
  swift/ql/src/queries/Security/ECB-Encryption/ECBEncryption.ql
Due: codeql-format, sync-files

Swift: 'Data' should be a struct.
  swift/ql/test/query-tests/Security/CWE-311/testSend.swift
Due: sync-files

Move files from CWE-276 to CWE-926
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissions.qhelp
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissions.ql
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissionsFull.xml
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissionsReadOnly.xml
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissionsReadWrite.xml
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissionsWriteOnly.xml
  java/ql/test/query-tests/security/CWE-926/incomplete_provider_permissions/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-926/incomplete_provider_permissions/ContentProviderIncompletePermissionsTest.expected
  java/ql/test/query-tests/security/CWE-926/incomplete_provider_permissions/ContentProviderIncompletePermissionsTest.ql
  java/ql/test/query-tests/security/CWE-926/incomplete_provider_permissions/Testbuild/AndroidManifest.xml
Due: codeql-format, sync-files, qhelp

Update metadata to match CWE-926
  java/ql/src/Security/CWE/CWE-926/ContentProviderIncompletePermissions.ql
Due: codeql-format, sync-files

Ruby: make old class names available as deprecated aliases
  ruby/ql/lib/codeql/ruby/frameworks/ActionController.qll
  ruby/ql/lib/codeql/ruby/frameworks/ActionView.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
  ruby/ql/test/library-tests/frameworks/ActionController.ql
  ruby/ql/test/library-tests/frameworks/ActionView.ql
Due: codeql-format, sync-files

Ruby: add changenote for ActionView/Controller class renames
  ruby/ql/lib/change-notes/2022-10-04-actionview-controller-renames.md
Due: none

Ruby: add missing qldoc comment
  ruby/ql/lib/codeql/ruby/frameworks/Rails.qll
Due: codeql-format, sync-files

C++: Fix join that might blow up in the future.
  cpp/ql/src/Likely Bugs/Conversion/CastArrayPointerArithmetic.ql
Due: codeql-format, sync-files

Ruby: fix a couple of references to deprecated names
  ruby/ql/lib/codeql/ruby/security/XSS.qll
Due: codeql-format, sync-files

C++: Rephrase QLDoc.
  cpp/ql/src/Likely Bugs/Conversion/CastArrayPointerArithmetic.ql
Due: codeql-format, sync-files

Ruby: Remove `ValuePairContent`
  ruby/ql/lib/codeql/ruby/dataflow/FlowSummary.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImplSpecific.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
Due: codeql-format, sync-files

Python: Expand test for `py/flask-debug`
  python/ql/test/query-tests/Security/CWE-215-FlaskDebug/FlaskDebug.expected
  python/ql/test/query-tests/Security/CWE-215-FlaskDebug/test.py
Due: none

Python: Rewrite `py/flask-debug`
  python/ql/src/Security/CWE-215/FlaskDebug.ql
Due: codeql-format, sync-files

Apply suggestions from code review
  python/ql/lib/semmle/python/ApiGraphs.qll
Due: codeql-format, sync-files

Swift: Initial CleartextStoragePreferences impl.
  swift/ql/src/queries/Security/CWE-312/CleartextStoragePreferences.qhelp
  swift/ql/src/queries/Security/CWE-312/CleartextStoragePreferences.ql
  swift/ql/src/queries/Security/CWE-312/CleartextStoragePreferences.swift
Due: codeql-format, sync-files, qhelp

C++: Tag with CWE-1078, CWE-670
  cpp/ql/src/Best Practices/Likely Errors/CommaBeforeMisleadingIndentation.ql
Due: codeql-format, sync-files

Create CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none

Update DivideByZeroUsingReturnValue.ql
  cpp/ql/src/experimental/Security/CWE/CWE-369/DivideByZeroUsingReturnValue.ql
Due: codeql-format, sync-files

Python: simplify comments If we add subscript reads or writes with different syntax, we can update these comments if the index is somehow unclear. For now, they will always exist.
  python/ql/lib/semmle/python/ApiGraphs.qll
Due: codeql-format, sync-files

Ruby: make getAStaticHashCall private again
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
Due: codeql-format, sync-files

Ruby: nomagic on unary hasAdjacentTypeCheckedReads
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
Due: codeql-format, sync-files

Ruby: make flowsToLoadStoreStep private
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
Due: codeql-format, sync-files

Ruby: fix content restriction in type trackers
  ruby/ql/lib/codeql/ruby/typetracking/TypeTracker.qll
Due: codeql-format, sync-files

Ruby: remove mention of PairValueContent
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
Due: codeql-format, sync-files

C++: Remove redundant pragma.
  cpp/ql/src/Likely Bugs/Conversion/CastArrayPointerArithmetic.ql
Due: codeql-format, sync-files

Ruby: add test case
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/Nodes.expected
  ruby/ql/test/library-tests/controlflow/graph/cfg.rb
Due: none

Ruby: ensure Hash flow works again
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/frameworks/Core.qll
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/dataflow/type-tracker/TypeTracker.expected
Due: codeql-format, sync-files

Python: sync
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTracker.qll
Due: codeql-format, sync-files

Ruby: Add test that illustrates issue with conjunctive `WithoutContent`s
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.ql
  ruby/ql/test/library-tests/dataflow/summaries/summaries.rb
Due: codeql-format, sync-files

Ruby: fix CFG and toString for anonymous '*' and '**'
  ruby/ql/lib/codeql/ruby/ast/Parameter.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
  ruby/ql/test/library-tests/controlflow/graph/Cfg.expected
  ruby/ql/test/library-tests/controlflow/graph/cfg.rb
Due: codeql-format, sync-files

Java: Add pruning for local taint flow.
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
Due: codeql-format, sync-files

Swift: Fix QL-on-QL warnings.
  swift/ql/src/queries/Security/CWE-312/CleartextStoragePreferences.ql
Due: codeql-format, sync-files

Fixes bad magic in Guard::guardControls_v3
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
Due: codeql-format, sync-files

Ruby: Update flow summary for `Hash#except`
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
Due: codeql-format, sync-files

Data flow: Sync files
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

Data flow: Take conjunctive `With(out)Contents` into account in `prohibitsUseUseFlow`
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/summaries/Summaries.expected
Due: codeql-format, sync-files

Ruby: split out rb/sensitive-get-query using query/customizations pattern
  ruby/ql/lib/codeql/ruby/security/SensitiveGetQueryCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/SensitiveGetQueryQuery.qll
  ruby/ql/src/queries/security/cwe-598/SensitiveGetQuery.ql
  ruby/ql/test/query-tests/security/cwe-598/SensitiveGetQuery.expected
Due: codeql-format, sync-files

Python: update change note
  python/ql/lib/change-notes/2022-10-04-api-subscript-nodes.md
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
