Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^swift/.*\.py

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

Fix C++ test missing env var
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
Due: none

Add test for missing project files
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/test.py
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/test.sln
Due: none

Add test for dotnet incompatible projects
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/test.csproj
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/test.py
Due: none

Show .NET core error only if files exist
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
Due: none

Add tests for build script diagnostics
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/build.sh
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/test.py
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/build.sh
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/scripts/build.sh
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/test.py
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/build.bat
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/test.py
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/build.bat
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/diagnostics.expected
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/scripts/build.bat
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/test.py
Due: none

Move `Language` class to `Semmle.Util`
  cpp/autobuilder/Semmle.Autobuild.Cpp/CppAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/AutobuildOptions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/EnvVars.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/ProjectOrSolution.cs
  csharp/extractor/Semmle.Util/Language.cs
Due: none

Fix `IDisposable` contract violation
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/extractor/Semmle.Util/ToolStatusPage.cs
Due: none

Add test for missing Xamarin SDKs
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/test.csproj
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/test.py
Due: none

Simplify Xamarin query to be platform-independent
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpDiagnosticClassifier.cs
Due: none

Refactor to avoid public setters
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpDiagnosticClassifier.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/DiagnosticClassifier.cs
  csharp/extractor/Semmle.Util/ToolStatusPage.cs
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/diagnostics.expected
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/posix-only/diag_multiple_scripts/diagnostics.expected
Due: none

Simplify DiagnosticClassifier in CSharpAutobuilder
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
Due: none

Fix expected test output for Windows tests
  csharp/ql/integration-tests/windows-only/diag_autobuild_script/diagnostics.expected
  csharp/ql/integration-tests/windows-only/diag_multiple_scripts/diagnostics.expected
Due: none

C#: Use dependency injection in the auto builder for Diagnostic classifier.
  cpp/autobuilder/Semmle.Autobuild.Cpp/CppAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
Due: none

Apply ql-for-ql suggestion
  csharp/autobuilder/Semmle.Autobuild.CSharp/CSharpAutobuilder.cs
Due: none

Abstract over `DiagnosticsStream` for tests
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildActions.cs
  csharp/extractor/Semmle.Util/ToolStatusPage.cs
Due: none

C++: Add more static qualifiers in syntax zoo test
  cpp/ql/test/library-tests/syntax-zoo/forstmt.cpp
  cpp/ql/test/library-tests/syntax-zoo/lorexpr.c
Due: none

C++: Replace `hasQualifiedName` by `hasGlobalName` in docs examples
  cpp/ql/test/examples/docs-examples/analyzing-data-flow-in-cpp/exercise4.ql
  cpp/ql/test/examples/docs-examples/analyzing-data-flow-in-cpp/fopen-flow-from-expr.ql
  cpp/ql/test/examples/docs-examples/analyzing-data-flow-in-cpp/fopen-flow-from-getenv.ql
  cpp/ql/test/examples/docs-examples/analyzing-data-flow-in-cpp/fopen-flow-from-param.ql
  cpp/ql/test/examples/docs-examples/analyzing-data-flow-in-cpp/fopen-no-flow.ql
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp-new.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp.rst
Due: codeql-format, sync-files

Apply suggestions from code review
  csharp/ql/lib/CHANGELOG.md
  csharp/ql/lib/change-notes/released/0.5.4.md
  go/ql/src/CHANGELOG.md
  go/ql/src/change-notes/released/0.4.4.md
  python/ql/lib/CHANGELOG.md
  python/ql/lib/change-notes/released/0.8.1.md
Due: none

C++: Convert 'ExecTainted' to use the new refactored dataflow library.
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
Due: codeql-format, sync-files

Accept test changes
  java/ql/integration-tests/all-platforms/java/diagnostics/android-gradle-incompatibility/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/compilation-error/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/dependency-error/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/java-version-too-old/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/maven-http-repository/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/multiple-candidate-builds/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/no-build-system/diagnostics.expected
  java/ql/integration-tests/all-platforms/java/diagnostics/no-gradle-test-classes/diagnostics.expected
  java/ql/integration-tests/all-platforms/kotlin/diagnostics/kotlin-version-too-new/diagnostics.expected
Due: none

fix repeated predicate name in change-note
  csharp/ql/lib/change-notes/2023-03-03-delete-deps.md
Due: none

C++: Properly deprecate `hasQualifiedName` by using the `deprecated` keyword
  cpp/ql/lib/semmle/code/cpp/Declaration.qll
Due: codeql-format, sync-files

Swift: Add tests where a user-defined (non-modelled) function taints the pointee of a pointer argument.
  swift/ql/test/library-tests/dataflow/taint/libraries/unsafepointer.swift
Due: sync-files

Swift: Proof of concept fix.
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/unsafepointer.swift
Due: codeql-format, sync-files

Swift: introduce type mangling
  swift/extractor/mangler/SwiftMangler.cpp
  swift/extractor/mangler/SwiftMangler.h
  swift/extractor/translators/TypeTranslator.cpp
  swift/extractor/translators/TypeTranslator.h
Due: none

C++: Add `deprecated` to predicates that are deprecated according to the QLDoc
  cpp/ql/lib/semmle/code/cpp/Declaration.qll
  cpp/ql/lib/semmle/code/cpp/Function.qll
  cpp/ql/lib/semmle/code/cpp/commons/Alloc.qll
Due: codeql-format, sync-files

Swift: Add simple model for pointer types.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/PointerTypes.qll
Due: codeql-format, sync-files

Swift: Test for pointer types.
  swift/ql/test/library-tests/elements/type/pointertypes/pointers.swift
  swift/ql/test/library-tests/elements/type/pointertypes/pointertypes.expected
  swift/ql/test/library-tests/elements/type/pointertypes/pointertypes.ql
Due: codeql-format, sync-files

Swift: Add an overall PointerType.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/PointerTypes.qll
  swift/ql/test/library-tests/elements/type/pointertypes/pointertypes.expected
  swift/ql/test/library-tests/elements/type/pointertypes/pointertypes.ql
Due: codeql-format, sync-files

Swift: Use PointerType in data flow's 'modifiable' predicate.
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/data.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/nsstring.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/unsafepointer.swift
Due: codeql-format, sync-files

Swift: Autoformat.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/PointerTypes.qll
  swift/ql/test/library-tests/elements/type/pointertypes/pointertypes.ql
Due: codeql-format, sync-files

Swift: Fix formatting.
  swift/ql/test/library-tests/elements/expr/arithmeticoperation/arithmeticoperation.swift
Due: sync-files

Swift: Some cases in the SqlInjection test are fixed by this.
  swift/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  swift/ql/test/query-tests/Security/CWE-089/sqlite3_c_api.swift
Due: sync-files

C++: Fix experimental query that uses the deprecated `freeCall` predicate
  cpp/ql/src/experimental/Security/CWE/CWE-415/DoubleFree.ql
Due: codeql-format, sync-files

Swift: Make the test work on Linux.
  swift/ql/test/library-tests/elements/type/pointertypes/pointers.swift
  swift/ql/test/library-tests/elements/type/pointertypes/pointertypes.expected
Due: sync-files

Swift: Fix .expected file. Locations had changed after the formatting fix.
  swift/ql/test/library-tests/elements/expr/arithmeticoperation/arithmeticoperation.expected
Due: none

Move change note to appropriate pack
  javascript/ql/lib/CHANGELOG.md
  javascript/ql/lib/change-notes/released/0.5.0.md
  javascript/ql/src/CHANGELOG.md
  javascript/ql/src/change-notes/released/0.5.4.md
Due: none

Go: Add gogf Jwt sinks
  go/ql/src/experimental/CWE-321/HardcodedKeysLib.qll
Due: codeql-format, sync-files
