Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
        language: system
        entry: bazel run //swift/codegen
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

Revert "delete some dead code in the kotlin extractor"
  java/kotlin-extractor/src/main/kotlin/utils/List.kt
Due: none

C++: Add change note.
  cpp/ql/src/change-notes/2022-08-22-cleartext-buffer-write-sanitizer.md
Due: none

Rename TimingAttackAgainstSensitiveInfo.ql
  java/ql/src/experimental/Security/CWE/CWE-208/TimingAttackAgainstSensitiveInfo/PossibleTimingAttackAgainstSensitiveInfo.ql
Due: codeql-format, sync-files

update some comments from XML to Xml
  cpp/ql/lib/semmle/code/cpp/XML.qll
  csharp/ql/lib/semmle/code/csharp/XML.qll
  java/ql/lib/semmle/code/xml/XML.qll
  javascript/ql/lib/semmle/javascript/XML.qll
  python/ql/lib/semmle/python/xml/XML.qll
Due: codeql-format, sync-files

rename the XMLDTD class to XmlDTD
  cpp/ql/lib/semmle/code/cpp/XML.qll
  csharp/ql/lib/semmle/code/csharp/XML.qll
  java/ql/lib/semmle/code/xml/XML.qll
  javascript/ql/lib/semmle/javascript/XML.qll
  python/ql/lib/semmle/python/xml/XML.qll
Due: codeql-format, sync-files

add change-note
  cpp/ql/lib/change-notes/2022-08-22-xml-rename.md
  csharp/ql/lib/change-notes/2022-08-22-xml-rename.md
  java/ql/lib/change-notes/2022-08-22-xml-rename.md
  javascript/ql/lib/change-notes/2022-08-22-xml-rename.md
  python/ql/lib/change-notes/2022-08-22-xml-rename.md
Due: none

Remove 2020 sinks from Xss.ql
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Due: codeql-format, sync-files

Remove additional Xss sinks
  javascript/ql/lib/semmle/javascript/DOM.qll
  javascript/ql/lib/semmle/javascript/frameworks/jQuery.qll
Due: codeql-format, sync-files

Remove additional SQL sinks
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Due: codeql-format, sync-files

Remove NoSQL sinks since September 2018
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
Due: codeql-format, sync-files

Remove additional path-injection sinks
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/frameworks/TorrentLibraries.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Due: codeql-format, sync-files

Revert "JS: Recognize DomSanitizer from @angular/core"
  javascript/ql/lib/semmle/javascript/frameworks/Angular2.qll
Due: codeql-format, sync-files

Remove 2020 sinks from TaintedPath.ql
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
  javascript/ql/lib/semmle/javascript/frameworks/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/NodeJSLib.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/TaintedPathCustomizations.qll
Due: codeql-format, sync-files

Remove pseudo-properties
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
Due: codeql-format, sync-files

Remove 2020 sinks from SqlInjection.ql
  javascript/ql/lib/semmle/javascript/frameworks/NoSQL.qll
  javascript/ql/lib/semmle/javascript/frameworks/SQL.qll
Due: codeql-format, sync-files

Kotlin: Fix some more not-null-exprs in the extractor
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Add new Path steps and tests
  java/ql/lib/change-notes/2022-08-22-path-summaries.md
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/test/library-tests/paths/Test.java
  java/ql/test/library-tests/paths/test.expected
  java/ql/test/library-tests/paths/test.ql
Due: codeql-format, sync-files

Add change note
  java/ql/lib/change-notes/2022-08-22-static-init-vector-query-improvements.md
Due: none

C++: Repair XXE query.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/src/Security/CWE/CWE-611/Xerces.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
Due: codeql-format, sync-files

update XML to Xml due to recent deprecation
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
Due: codeql-format, sync-files

resolved merge conflict in AndroidManifest
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/src/Security/CWE/CWE-926/ImplicitlyExportedAndroidComponent.ql
Due: codeql-format, sync-files

resolved merge conflict in AndroidManifest lib
  java/ql/lib/semmle/code/java/security/ImplicitlyExportedAndroidComponent.qll
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/src/Security/CWE/CWE-926/ImplicitlyExportedAndroidComponent.ql
  java/ql/test/query-tests/security/CWE-926/ImplicitlyExportedAndroidComponentTest.ql
Due: codeql-format, sync-files

updated help file and unit tests
  java/ql/src/Security/CWE/CWE-926/ExampleBad.xml
  java/ql/src/Security/CWE/CWE-926/ExampleGood.xml
  java/ql/src/Security/CWE/CWE-926/ImplicitlyExportedAndroidComponent.qhelp
  java/ql/test/query-tests/security/CWE-926/ImplicitlyExportedAndroidComponentTest.ql
  java/ql/test/query-tests/security/CWE-926/Testbuild/AndroidManifest.xml
Due: codeql-format, sync-files, qhelp

fixed typo in unit tests; added a couple more tests
  java/ql/test/query-tests/security/CWE-926/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-926/TestApplicationPermission/AndroidManifest.xml
  java/ql/test/query-tests/security/CWE-926/Testbuild/AndroidManifest.xml
Due: none

updated change note
  java/ql/src/change-notes/2022-08-09-android-implicit-export.md
  java/ql/src/change-notes/2022-08-DD-android-implicit-export.md
Due: none

adding starter files
  java/ql/src/Security/CWE/CWE-926/ImplicitlyExportedAndroidComponent.qhelp
  java/ql/src/Security/CWE/CWE-926/ImplicitlyExportedAndroidComponent.ql
  java/ql/src/change-notes/2022-08-DD-android-implicit-export.md
  java/ql/test/query-tests/security/CWE-926/ImplicitlyExportedAndroidComponentTest.expected
  java/ql/test/query-tests/security/CWE-926/ImplicitlyExportedAndroidComponentTest.ql
  java/ql/test/query-tests/security/CWE-926/Test.java
  java/ql/test/query-tests/security/CWE-926/options
Due: codeql-format, sync-files, qhelp

minor wording updates in help file
  java/ql/src/Security/CWE/CWE-926/ImplicitlyExportedAndroidComponent.qhelp
Due: sync-files, qhelp

resolved merge conflict in AndroidManifest
  java/ql/lib/semmle/code/java/security/ImplicitlyExportedAndroidComponent.qll
  java/ql/lib/semmle/code/xml/AndroidManifest.qll
  java/ql/src/Security/CWE/CWE-926/ImplicitlyExportedAndroidComponent.ql
Due: codeql-format, sync-files

switched to checking for permission attr in application elem instead of in manifest elem
  java/ql/src/Security/CWE/CWE-926/ImplicitlyExportedAndroidComponent.ql
  java/ql/test/query-tests/security/CWE-926/AndroidManifest.xml
Due: codeql-format, sync-files
