Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

Address PR comments.
  java/ql/src/Security/CWE/CWE-113/ResponseSplitting.ql
Due: codeql-format, sync-files

Make taint flow through java.lang.String.(replace|replaceFirst|replaceAll) more permissive.
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/frameworks/Strings.qll
  java/ql/test/library-tests/dataflow/taint/B.java
Due: codeql-format, sync-files

Add corresponding taint steps.
  java/ql/lib/semmle/code/java/frameworks/Strings.qll
  java/ql/test/library-tests/dataflow/taint/test.expected
Due: codeql-format, sync-files

Add java.lang.String taint tests.
  java/ql/test/library-tests/dataflow/taint/B.java
Due: none

Allow blacklist sanitizers.
  java/ql/src/Security/CWE/CWE-113/ResponseSplitting.ql
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.expected
  java/ql/test/query-tests/security/CWE-113/semmle/tests/ResponseSplitting.java
Due: codeql-format, sync-files

Added change notes.
  java/ql/lib/change-notes/2022-08-19-string-taint-models.md
Due: none

delete some dead code in the kotlin extractor
  java/kotlin-extractor/src/main/kotlin/utils/List.kt
Due: none

Python: Update `.expected` file
  python/ql/test/experimental/query-tests/Security/CWE-208/TimingAttackAgainstHash/PossibleTimingAttackAgainstHash.expected
Due: none

Kotlin: Compress TRAP files
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
Due: none

Remove redundant overrides
  cpp/ql/lib/semmle/code/cpp/File.qll
  csharp/ql/lib/semmle/code/cil/Types.qll
  csharp/ql/lib/semmle/code/csharp/Callable.qll
  csharp/ql/lib/semmle/code/csharp/Namespace.qll
  csharp/ql/lib/semmle/code/csharp/Property.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/TranslatedExpr.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/desugar/internal/TranslatedCompilerGeneratedDeclaration.qll
  javascript/ql/lib/semmle/javascript/Files.qll
  javascript/ql/lib/semmle/javascript/frameworks/xUnit.qll
  javascript/ql/test/library-tests/frameworks/Testing/customised/Tests.ql
  python/ql/lib/semmle/python/Comprehensions.qll
  python/ql/lib/semmle/python/Flow.qll
  python/ql/lib/semmle/python/Keywords.qll
  python/ql/lib/semmle/python/dataflow/new/internal/Attributes.qll
  ql/ql/src/codeql_ql/ast/Ast.qll
  ql/ql/test/callgraph/Foo.qll
  ruby/ql/lib/codeql/ruby/ast/Module.qll
  ruby/ql/lib/codeql/ruby/ast/Variable.qll
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
Due: codeql-format, sync-files

Python: Revert change to `AnyNode`
  python/ql/lib/semmle/python/Flow.qll
Due: codeql-format, sync-files

Python: Fix `TimingAttackAgainstHash.ql` select
  python/ql/src/experimental/Security/CWE-208/TimingAttackAgainstHash/TimingAttackAgainstHash.ql
Due: codeql-format, sync-files

Kotlin: Add an integration test for TRAP compression
  java/ql/integration-tests/posix-only/kotlin/trap_compression/test.kt
  java/ql/integration-tests/posix-only/kotlin/trap_compression/test.py
Due: none

Revert change to QL test
  ql/ql/test/callgraph/Foo.qll
  ql/ql/test/callgraph/callgraph.expected
Due: codeql-format, sync-files

Kotlin: Identify data classes during extraction
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/lib/config/semmlecode.dbscheme
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/test/kotlin/library-tests/data-classes/data_classes.expected
  java/ql/test/kotlin/library-tests/data-classes/data_classes.ql
Due: codeql-format, sync-files

Add DB upgrade folder
  java/ql/lib/upgrades/81ccfabe82e696953268e784979262e56871ce86/old.dbscheme
  java/ql/lib/upgrades/81ccfabe82e696953268e784979262e56871ce86/semmlecode.dbscheme
  java/ql/lib/upgrades/81ccfabe82e696953268e784979262e56871ce86/upgrade.properties
Due: none

Fix downgrade folder SHA and file directions
  java/downgrades/ecb42310286011ada450ff65b9b417509863549f/old.dbscheme
  java/downgrades/ecb42310286011ada450ff65b9b417509863549f/semmlecode.dbscheme
  java/downgrades/ecb42310286011ada450ff65b9b417509863549f/upgrade.properties
Due: none

Add DB downgrade folder
  java/downgrades/81ccfabe82e696953268e784979262e56871ce86/old.dbscheme
  java/downgrades/81ccfabe82e696953268e784979262e56871ce86/semmlecode.dbscheme
  java/downgrades/81ccfabe82e696953268e784979262e56871ce86/upgrade.properties
Due: none

Add DB stats file
  java/ql/lib/config/semmlecode.dbscheme.stats
Due: none

Swift: fix QL warning
  swift/ql/lib/codeql/swift/elements/expr/MethodRefExpr.qll
Due: codeql-format, sync-files, swift-codegen

C++: Add orphaned local variable relation to DB scheme
  cpp/ql/lib/semmlecode.cpp.dbscheme
Due: none

Swift: accept `toString` changes in tests
  swift/ql/test/extractor-tests/expressions/all.expected
  swift/ql/test/extractor-tests/generated/expr/EnumIsCaseExpr/EnumIsCaseExpr.expected
  swift/ql/test/extractor-tests/types/Types.expected
Due: swift-codegen

C++: Extend `getFunction` to handle orphaned local variables
  cpp/ql/lib/semmle/code/cpp/Variable.qll
Due: codeql-format, sync-files

Swift: use field in `MethodApplyExpr`
  swift/ql/lib/codeql/swift/elements/expr/ApplyExpr.qll
Due: codeql-format, sync-files, swift-codegen

Swift: remove `getMethodDeclaration`
  swift/ql/lib/codeql/swift/elements/expr/ApplyExpr.qll
Due: codeql-format, sync-files, swift-codegen

update some comments from XML to Xml
  cpp/ql/lib/semmle/code/cpp/XML.qll
  csharp/ql/lib/semmle/code/csharp/XML.qll
  java/ql/lib/semmle/code/xml/XML.qll
  javascript/ql/lib/semmle/javascript/XML.qll
  python/ql/lib/semmle/python/xml/XML.qll
Due: codeql-format, sync-files

rename the XMLDTD class to XmlDTD
  cpp/ql/lib/semmle/code/cpp/XML.qll
  csharp/ql/lib/semmle/code/csharp/XML.qll
  java/ql/lib/semmle/code/xml/XML.qll
  javascript/ql/lib/semmle/javascript/XML.qll
  python/ql/lib/semmle/python/xml/XML.qll
Due: codeql-format, sync-files

Ruby: Add more `RequestWithoutValidation.ql` tests
  ruby/ql/test/query-tests/security/cwe-295/Faraday.rb
  ruby/ql/test/query-tests/security/cwe-295/RequestWithoutValidation.expected
  ruby/ql/test/query-tests/security/cwe-295/RestClient.rb
Due: none

Ruby: Implement new `disablesCertificateValidation` for RestClient
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/test/query-tests/security/cwe-295/RequestWithoutValidation.expected
Due: codeql-format, sync-files

Ruby: Implement new `disablesCertificateValidation` for all HTTP client models
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/HttpClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/NetHttp.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
  ruby/ql/test/query-tests/security/cwe-295/RequestWithoutValidation.expected
Due: codeql-format, sync-files

Kotlin: Remove another instance of a not-null-expression
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Ruby: Fix alert-msg logic for `RequestWithoutValidation.ql`
  ruby/ql/src/queries/security/cwe-295/RequestWithoutValidation.ql
  ruby/ql/test/query-tests/security/cwe-295/RequestWithoutValidation.expected
Due: codeql-format, sync-files

Ruby: Add `CallNode.getKeywordArgumentIncludeHashArgument`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Excon.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Faraday.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Httparty.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/OpenURI.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/RestClient.qll
  ruby/ql/lib/codeql/ruby/frameworks/http_clients/Typhoeus.qll
Due: codeql-format, sync-files

Swift: expand tests
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/DotSyntaxCallExpr.expected
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/DotSyntaxCallExpr_getArgument.expected
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/DotSyntaxCallExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/DotSyntaxCallExpr/dot_syntax_call.swift
  swift/ql/test/extractor-tests/generated/expr/MethodRefExpr/MethodRefExpr.expected
  swift/ql/test/extractor-tests/generated/expr/MethodRefExpr/MethodRefExpr_getMember.expected
  swift/ql/test/extractor-tests/generated/expr/MethodRefExpr/MethodRefExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/MethodRefExpr/method_refs.swift
Due: sync-files, swift-codegen

Ruby: Bugfix after HTTP::Client::Request change
  ruby/ql/lib/codeql/ruby/security/InsecureDownloadCustomizations.qll
Due: codeql-format, sync-files

Add androidx Fragment support
  java/ql/lib/semmle/code/java/frameworks/android/Fragment.qll
  java/ql/test/library-tests/frameworks/android/fragments/TestFragment.java
  java/ql/test/library-tests/frameworks/android/fragments/options
  java/ql/test/library-tests/frameworks/android/fragments/test.expected
  java/ql/test/library-tests/frameworks/android/fragments/test.ql
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/ActivityCompat.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/app/SharedElementCallback.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/content/ContextCompat.java
  java/ql/test/stubs/google-android-9.0.0/androidx/core/view/DragAndDropPermissionsCompat.java
  java/ql/test/stubs/google-android-9.0.0/androidx/fragment/app/BackStackRecord.java
  java/ql/test/stubs/google-android-9.0.0/androidx/fragment/app/Fragment.java
  java/ql/test/stubs/google-android-9.0.0/androidx/fragment/app/FragmentActivity.java
  java/ql/test/stubs/google-android-9.0.0/androidx/fragment/app/FragmentFactory.java
  java/ql/test/stubs/google-android-9.0.0/androidx/fragment/app/FragmentManager.java
  java/ql/test/stubs/google-android-9.0.0/androidx/fragment/app/FragmentTransaction.java
  java/ql/test/stubs/google-android-9.0.0/androidx/lifecycle/HasDefaultViewModelProviderFactory.java
  java/ql/test/stubs/google-android-9.0.0/androidx/lifecycle/Lifecycle.java
  java/ql/test/stubs/google-android-9.0.0/androidx/lifecycle/LifecycleObserver.java
  java/ql/test/stubs/google-android-9.0.0/androidx/lifecycle/LifecycleOwner.java
  java/ql/test/stubs/google-android-9.0.0/androidx/lifecycle/ViewModel.java
  java/ql/test/stubs/google-android-9.0.0/androidx/lifecycle/ViewModelProvider.java
  java/ql/test/stubs/google-android-9.0.0/androidx/lifecycle/ViewModelStore.java
  java/ql/test/stubs/google-android-9.0.0/androidx/lifecycle/ViewModelStoreOwner.java
  java/ql/test/stubs/google-android-9.0.0/androidx/loader/app/LoaderManager.java
  java/ql/test/stubs/google-android-9.0.0/androidx/savedstate/SavedStateRegistry.java
  java/ql/test/stubs/google-android-9.0.0/androidx/savedstate/SavedStateRegistryOwner.java
Due: codeql-format, sync-files

No longer require a mode in Cipher.init
  java/ql/lib/semmle/code/java/security/StaticInitializationVectorQuery.qll
Due: codeql-format, sync-files

Add change note
  java/ql/lib/change-notes/2022-08-19-androidx-fragments.md
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
