Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
        language: system
        entry: bazel run //swift/codegen
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

Create test2.cpp
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-297/semmle/tests/test2.cpp
Due: none

Swift: Make sure property setters and getters also have ExprNodes.
  swift/ql/lib/codeql/swift/controlflow/BasicBlocks.qll
  swift/ql/lib/codeql/swift/controlflow/CfgNodes.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
Due: codeql-format, sync-files

Swift: implement LambdaCall in dataflow library
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Due: codeql-format, sync-files

Swift: CWE-135 query sources and sinks.
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.expected
Due: codeql-format, sync-files

Swift: Work around toString change.
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.expected
Due: codeql-format, sync-files

Swift: Use dataflow.
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
  swift/ql/test/query-tests/Security/CWE-135/StringLengthConflation.expected
Due: codeql-format, sync-files

Swift: Clean up a bit.
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Due: codeql-format, sync-files

C++: accept test changes for globals in data flow
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/PotentiallyExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/tests.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/tests2.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests3.cpp
  cpp/ql/test/query-tests/Security/CWE/CWE-611/tests5.cpp
Due: none

attempt to introduce dataflow tracking
  ruby/ql/src/experimental/weak-params/WeakParams.ql
Due: codeql-format, sync-files

DataFlow: Improve join order in `additionalJumpStep`
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/test/library-tests/variables/global/a.c
  cpp/ql/test/library-tests/variables/global/a.h
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplForContentDataFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForOnActivityResult.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplForSerializability.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplForLibraries.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Update swift/extractor/SwiftExtractor.cpp
  swift/extractor/SwiftExtractor.cpp
Due: none

C++: Remove out-of-date comment, as we use mangled names in `ResolveClass.qll`
  cpp/ql/lib/semmle/code/cpp/internal/QualifiedName.qll
Due: codeql-format, sync-files

C++: Remove redundant parentheses
  cpp/ql/lib/semmle/code/cpp/internal/ResolveClass.qll
Due: codeql-format, sync-files

Update DB stats file
  java/ql/lib/config/semmlecode.dbscheme.stats
Due: none

Add change note
  java/ql/lib/change-notes/2022-06-13-kotlin-break-loops.md
Due: none

Fix DB change compatibility to `backwards`
  java/ql/lib/upgrades/b9225587bc0a643ae484ec215b9a6f19d17d0fc2/upgrade.properties
Due: none

Fix DB upgrade properties
  java/ql/lib/upgrades/b9225587bc0a643ae484ec215b9a6f19d17d0fc2/upgrade.properties
Due: none

Unify loop break/continue statement handling between java and kotlin
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/lib/config/semmlecode.dbscheme
  java/ql/lib/semmle/code/java/Statement.qll
  java/ql/test/kotlin/library-tests/stmts/loops.expected
  java/ql/test/kotlin/library-tests/stmts/loops.ql
  java/ql/test/kotlin/library-tests/stmts/stmts.expected
Due: codeql-format, sync-files

Add DB upgrade folder
  java/ql/lib/upgrades/b9225587bc0a643ae484ec215b9a6f19d17d0fc2/old.dbscheme
  java/ql/lib/upgrades/b9225587bc0a643ae484ec215b9a6f19d17d0fc2/semmlecode.dbscheme
  java/ql/lib/upgrades/b9225587bc0a643ae484ec215b9a6f19d17d0fc2/upgrade.properties
Due: none

Fix performance change in `SecurityFlag`
  java/ql/lib/semmle/code/java/security/SecurityFlag.qll
Due: codeql-format, sync-files

Fix test file after rebase
  java/ql/test/kotlin/library-tests/stmts/stmts.expected
Due: none

JS: Downgrade ast_node_symbol relation
  javascript/downgrades/c0664d5721c90dd32a5b167efea24f9cc6f57cfb/ast_node_symbol.ql
  javascript/downgrades/c0664d5721c90dd32a5b167efea24f9cc6f57cfb/upgrade.properties
Due: codeql-format, sync-files

Fix bad join order in `Shadowing::shadows`
  java/ql/src/Violations of Best Practice/Naming Conventions/Shadowing.qll
Due: codeql-format, sync-files

python: make `DataFlowCall` "publicly usable" - add `getCallable`, `getArg` and `getNode` - these are `none` for summary calls - revert "external" uses (they had been changed to `DataFlowSourceCall`)
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatchPointsTo.qll
  python/ql/src/Security/CWE-020-ExternalAPIs/ExternalAPIs.qll
  python/ql/src/meta/analysis-quality/CallGraph.ql
  python/ql/test/experimental/dataflow/TestUtil/UnresolvedCalls.qll
  python/ql/test/experimental/dataflow/calls/DataFlowCallTest.ql
  python/ql/test/experimental/dataflow/coverage/argumentRoutingTest.ql
Due: codeql-format, sync-files

python: update qldoc now predicates may be empty
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatchPointsTo.qll
Due: codeql-format, sync-files

python: make `ArgumentNode` publicly usable - add `getCall`
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPublic.qll
  python/ql/test/experimental/dataflow/TestUtil/MaximalFlowTest.qll
  python/ql/test/experimental/dataflow/TestUtil/RoutingTest.qll
  python/ql/test/experimental/dataflow/callGraphConfig.qll
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.ql
Due: codeql-format, sync-files

python: we have hidden `isParameterOf` but now allow a clear alternative
  python/ql/test/experimental/dataflow/coverage/classesCallGraph.ql
Due: codeql-format, sync-files

Update cpp/ql/src/experimental/Security/CWE/CWE-805/BufferAccessWithIncorrectLengthValue.ql
  cpp/ql/src/experimental/Security/CWE/CWE-805/BufferAccessWithIncorrectLengthValue.ql
Due: codeql-format, sync-files

Swift: Suggestions from review.
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Due: codeql-format, sync-files

Swift: Rename argName -> paramName.
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Due: codeql-format, sync-files

Swift: Add Type.getName().
  swift/ql/lib/codeql/swift/elements/type/Type.qll
  swift/ql/src/queries/Security/CWE-135/StringLengthConflation.ql
Due: codeql-format, sync-files, swift-codegen

python: fix import of "merge moved" file
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModelsSpecific.qll
Due: codeql-format, sync-files

Kotlin: Remove unused function getDiagnosticLocation
  java/kotlin-extractor/src/main/kotlin/utils/Logger.kt
Due: none

Update cpp/ql/lib/CHANGELOG.md
  cpp/ql/lib/CHANGELOG.md
Due: none

Update cpp/ql/lib/change-notes/released/0.3.0.md
  cpp/ql/lib/change-notes/released/0.3.0.md
Due: none

Grammar: report -> reports
  python/ql/src/CHANGELOG.md
  python/ql/src/change-notes/released/0.2.0.md
  ruby/ql/src/CHANGELOG.md
  ruby/ql/src/change-notes/released/0.2.0.md
Due: none

Swift: split generated C++ code into .h and .cpp
  swift/codegen/generators/cppgen.py
  swift/codegen/generators/trapgen.py
  swift/codegen/lib/cpp.py
  swift/codegen/lib/render.py
  swift/codegen/templates/cpp_classes.mustache
  swift/codegen/templates/cpp_classes_cpp.mustache
  swift/codegen/templates/cpp_classes_h.mustache
  swift/codegen/templates/trap_tags_h.mustache
  swift/codegen/templates/trap_traps_cpp.mustache
  swift/codegen/templates/trap_traps_h.mustache
  swift/codegen/test/test_cppgen.py
  swift/codegen/test/test_render.py
  swift/codegen/test/test_trapgen.py
  swift/extractor/trap/BUILD.bazel
  swift/extractor/trap/TrapLabel.h
Due: swift-codegen, swift-codegen-unit-tests

Swift: split generated C++ files by directory
  swift/codegen/generators/cppgen.py
  swift/codegen/generators/dbschemegen.py
  swift/codegen/generators/trapgen.py
  swift/codegen/lib/cpp.py
  swift/codegen/lib/dbscheme.py
  swift/codegen/templates/cpp_classes_h.mustache
  swift/codegen/templates/dbscheme.mustache
  swift/codegen/templates/trap_traps_h.mustache
  swift/codegen/test/test_cppgen.py
  swift/codegen/test/test_dbscheme.py
  swift/codegen/test/test_dbschemegen.py
  swift/codegen/test/test_trapgen.py
  swift/extractor/infra/SwiftDispatcher.h
  swift/extractor/trap/BUILD.bazel
  swift/extractor/visitors/DeclVisitor.h
  swift/extractor/visitors/ExprVisitor.h
  swift/extractor/visitors/PatternVisitor.h
  swift/extractor/visitors/StmtVisitor.h
  swift/extractor/visitors/TypeReprVisitor.h
  swift/extractor/visitors/TypeVisitor.h
  swift/ql/lib/swift.dbscheme
Due: swift-codegen, swift-codegen-unit-tests

Swift: update codegen workflow to include all files
  .github/workflows/swift-codegen.yml
Due: none
