Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

Add SsrfIpv6TransitionIncompleteGuard.ql to not_included_in_qls.expected
  javascript/ql/integration-tests/query-suite/not_included_in_qls.expected
Due: none

Add experimental C# query: SSRF host guard missing IPv6-transition unwrap (CWE-918/CWE-1389)
  csharp/ql/integration-tests/posix/query-suite/not_included_in_qls.expected
  csharp/ql/src/change-notes/2026-06-10-ssrf-ipv6-transition-incomplete-guard.md
  csharp/ql/src/experimental/CWE-918/SsrfIpv6TransitionIncompleteGuard.qhelp
  csharp/ql/src/experimental/CWE-918/SsrfIpv6TransitionIncompleteGuard.ql
  csharp/ql/src/experimental/CWE-918/examples/SsrfIpv6TransitionIncompleteGuardBad.cs
  csharp/ql/src/experimental/CWE-918/examples/SsrfIpv6TransitionIncompleteGuardGood.cs
  csharp/ql/test/experimental/CWE-918/SsrfIpv6TransitionIncompleteGuard/SsrfIpv6TransitionIncompleteGuard.cs
  csharp/ql/test/experimental/CWE-918/SsrfIpv6TransitionIncompleteGuard/SsrfIpv6TransitionIncompleteGuard.expected
  csharp/ql/test/experimental/CWE-918/SsrfIpv6TransitionIncompleteGuard/SsrfIpv6TransitionIncompleteGuard.qlref
  csharp/ql/test/experimental/CWE-918/SsrfIpv6TransitionIncompleteGuard/options
Due: codeql-format, sync-files, qhelp

C++: Add namequalifier test with inconsistency
  cpp/ql/test/library-tests/name_qualifiers/DB-CHECK.expected
  cpp/ql/test/library-tests/name_qualifiers/NameQualifiers1.expected
  cpp/ql/test/library-tests/name_qualifiers/NameQualifiers1.ql
  cpp/ql/test/library-tests/name_qualifiers/inconsistency.cpp
  cpp/ql/test/library-tests/name_qualifiers/inconsistency2.cpp
Due: codeql-format, sync-files

C++: Fix `NameQualifyingElement` db inconsistency
  cpp/ql/lib/semmle/code/cpp/Type.qll
  cpp/ql/lib/semmlecode.cpp.dbscheme
  cpp/ql/test/library-tests/name_qualifiers/DB-CHECK.expected
  cpp/ql/test/library-tests/name_qualifiers/NameQualifiers1.expected
Due: codeql-format, sync-files

C++: Add upgrade and downgrade scripts
  cpp/downgrades/0853f43dc8c08deecb473c54a2b70da8597f1ab5/old.dbscheme
  cpp/downgrades/0853f43dc8c08deecb473c54a2b70da8597f1ab5/semmlecode.cpp.dbscheme
  cpp/downgrades/0853f43dc8c08deecb473c54a2b70da8597f1ab5/upgrade.properties
  cpp/ql/lib/upgrades/ef8d209a22e27413aaaeff4446f0ecb9fa2c227b/old.dbscheme
  cpp/ql/lib/upgrades/ef8d209a22e27413aaaeff4446f0ecb9fa2c227b/semmlecode.cpp.dbscheme
  cpp/ql/lib/upgrades/ef8d209a22e27413aaaeff4446f0ecb9fa2c227b/upgrade.properties
Due: none

Fix internal query violations and update test expectations for K2
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_1_8_0/IrCompat.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_4_0/IrCompat.kt
  java/kotlin-extractor/src/main/kotlin/utils/versions/v_2_4_0/Kotlin2ComponentRegistrar.kt
  java/ql/integration-tests/kotlin/all-platforms/enhanced-nullability/DB-CHECK.expected
  java/ql/integration-tests/kotlin/all-platforms/enhanced-nullability/test.expected
  java/ql/integration-tests/kotlin/all-platforms/external-property-overloads/test.expected
  java/ql/integration-tests/kotlin/all-platforms/file_classes/classes.expected
  java/ql/integration-tests/kotlin/all-platforms/java-interface-redeclares-tostring/test.expected
  java/ql/integration-tests/kotlin/all-platforms/kotlin_java_lowering_wildcards/DB-CHECK.expected
  java/ql/integration-tests/kotlin/all-platforms/kotlin_java_lowering_wildcards/test.expected
  java/ql/test/library-tests/pathsanitizer/DB-CHECK.expected
  java/ql/test/library-tests/pathsanitizer/test.expected
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/CleartextStorageSharedPrefsTest.expected
  java/ql/test/query-tests/security/CWE-312/android/CleartextStorage/DB-CHECK.expected
Due: none

Convert hand-rolled inline expectations test
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/RequestForgery.qlref
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/client/main.go
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/rpc/notes/service.pb.go
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/rpc/notes/service.twirp.go
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/server/main.go
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/tests.expected
  go/ql/test/library-tests/semmle/go/frameworks/Twirp/tests.ql
Due: codeql-format, sync-files

Fix pre-existing whitespace issues in go test files
  go/ql/test/query-tests/InconsistentCode/WhitespaceContradictsPrecedence/main.go
  go/ql/test/query-tests/Security/CWE-089/StringBreak.expected
  go/ql/test/query-tests/Security/CWE-089/StringBreak.go
  go/ql/test/query-tests/Security/CWE-089/StringBreakMismatched.go
Due: none

Add test with MISSING alerts
  python/ql/test/library-tests/frameworks/hdbcli/pep249.py
Due: none

Promote user prompt injection query to stable security
  javascript/ql/lib/semmle/javascript/security/dataflow/UserPromptInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/UserPromptInjectionQuery.qll
  javascript/ql/src/Security/CWE-1427/UserPromptInjection.qhelp
  javascript/ql/src/Security/CWE-1427/UserPromptInjection.ql
  javascript/ql/src/Security/CWE-1427/examples/user-prompt-injection.js
  javascript/ql/src/Security/CWE-1427/examples/user-prompt-injection_fixed.js
  javascript/ql/test/Security/CWE-1427/UserPromptInjection/UserPromptInjection.expected
  javascript/ql/test/Security/CWE-1427/UserPromptInjection/UserPromptInjection.qlref
  javascript/ql/test/Security/CWE-1427/UserPromptInjection/anthropic_user_test.js
  javascript/ql/test/Security/CWE-1427/UserPromptInjection/gemini_user_test.js
  javascript/ql/test/Security/CWE-1427/UserPromptInjection/langchain_user_test.js
  javascript/ql/test/Security/CWE-1427/UserPromptInjection/openai_user_test.js
  javascript/ql/test/Security/CWE-1427/UserPromptInjection/openrouter_user_test.js
  javascript/ql/test/experimental/Security/CWE-1427/UserPromptInjection/UserPromptInjection.qlref
Due: codeql-format, sync-files, qhelp

Refine SystemPromptInjection alert message and move test to stable
  javascript/ql/src/Security/CWE-1427/SystemPromptInjection.ql
  javascript/ql/test/Security/CWE-1427/SystemPromptInjection/SystemPromptInjection.expected
  javascript/ql/test/Security/CWE-1427/SystemPromptInjection/SystemPromptInjection.qlref
  javascript/ql/test/Security/CWE-1427/SystemPromptInjection/agents_test.js
  javascript/ql/test/Security/CWE-1427/SystemPromptInjection/anthropic_test.js
  javascript/ql/test/Security/CWE-1427/SystemPromptInjection/gemini_test.js
  javascript/ql/test/Security/CWE-1427/SystemPromptInjection/langchain_test.js
  javascript/ql/test/Security/CWE-1427/SystemPromptInjection/openai_test.js
  javascript/ql/test/Security/CWE-1427/SystemPromptInjection/openrouter_test.js
Due: codeql-format, sync-files

Update not_included_in_qls.expected for promoted prompt injection queries
  javascript/ql/integration-tests/query-suite/not_included_in_qls.expected
Due: none

Accept fixed MISSING tests
  python/ql/test/experimental/library-tests/CallGraph/InlineCallGraphTest.expected
  python/ql/test/experimental/library-tests/CallGraph/code/class_attr_assign.py
Due: none

Add change note
  python/ql/lib/change-notes/2026-06-11-fix-type-tracking-instance-attributes.md
Due: none

Fix 3 tests
  java/ql/test-kotlin1/query-tests/DeadRefTypes/DeadRefTypes.expected
  java/ql/test-kotlin1/query-tests/NamingConventionsRefTypes/NamingConventionsRefTypes.expected
  java/ql/test-kotlin1/query-tests/UselessNullCheck/Test.kt
Due: none

Fix 3 more tests
  java/ql/test-kotlin2/query-tests/DeadRefTypes/DeadRefTypes.expected
  java/ql/test-kotlin2/query-tests/NamingConventionsRefTypes/NamingConventionsRefTypes.expected
  java/ql/test-kotlin2/query-tests/UselessNullCheck/Test.kt
Due: none

Update regex for GitHub hosted runner matching
  actions/ql/lib/codeql/actions/security/SelfHostedQuery.qll
Due: codeql-format, sync-files

C#: Extract the indexer as the call target when using range expressions with spans.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ElementAccess.cs
Due: none

C#: Update DB quality expected test output.
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/IsNotOkayCall.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/NoTarget.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/Quality.cs
Due: none

C#: Add change-note.
  csharp/ql/lib/change-notes/2026-05-21-spanaccess-range.md
Due: none

C#: Extract Slice and Substring operations and synthesize the call arguments, when using indexers in conjunction with ranges on spans and strings.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ElementAccess.cs
Due: none

C#: Add test case and expected output.
  csharp/ql/test/library-tests/spans/Slice.cs
  csharp/ql/test/library-tests/spans/slice.expected
  csharp/ql/test/library-tests/spans/slice.ql
Due: codeql-format, sync-files

C#: Update change note.
  csharp/ql/lib/change-notes/2026-05-21-spanaccess-range.md
Due: none

C#: Add more testcases and update expected output.
  csharp/ql/test/library-tests/spans/Slice.cs
  csharp/ql/test/library-tests/spans/slice.expected
  csharp/ql/test/library-tests/spans/slice.ql
Due: codeql-format, sync-files

C#: Add case for open ended range.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ElementAccess.cs
Due: none

C#: Add test case.
  csharp/ql/test/library-tests/spans/Slice.cs
  csharp/ql/test/library-tests/spans/slice.expected
Due: none

C#: Address other CoPilot review comments.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ElementAccess.cs
  csharp/ql/lib/change-notes/2026-05-21-spanaccess-range.md
Due: none

C#: Simplify the implementation to avoid introducing synthetic assignments.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ElementAccess.cs
Due: none

C#: Update the test expected output.
  csharp/ql/test/library-tests/spans/slice.expected
  csharp/ql/test/library-tests/spans/slice.ql
Due: codeql-format, sync-files

C#: Address review comments.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ElementAccess.cs
Due: none

C#: Add more tests.
  csharp/ql/test/library-tests/spans/Slice.cs
  csharp/ql/test/library-tests/spans/slice.expected
  csharp/ql/test/library-tests/spans/slice.ql
Due: codeql-format, sync-files

C#: Extract call target when Range is not hardcoded as call argument.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ElementAccess.cs
Due: none

C#: Update test expected output.
  csharp/ql/test/library-tests/spans/slice.expected
Due: none

C#: Remove using.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ElementAccess.cs
Due: none

Updated regex. Added test and change note.
  actions/ql/lib/change-notes/2026-06-12.md
  actions/ql/lib/codeql/actions/security/SelfHostedQuery.qll
  actions/ql/test/query-tests/Security/CWE-284/.github/workflows/test3.yml
Due: codeql-format, sync-files

rename change note
  actions/ql/lib/change-notes/2026-06-12-self_hosted_runners.md
Due: none
