Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

Create android.yml
  .github/workflows/android.yml
Due: none

WIP
  cpp/ql/src/experimental/parsing/glr.qll
  cpp/ql/src/experimental/parsing/test1.ql
Due: codeql-format, sync-files

C#: Add language specific part of the models as data inline expectation.
  csharp/ql/test/TestUtilities/InlineMadTest.qll
Due: codeql-format, sync-files

C#: Convert summary capture test to inline expectation.
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.expected
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.qlref
  csharp/ql/test/utils/modelgenerator/dataflow/NoSummaries.cs
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
Due: codeql-format, sync-files

Share the Models as Data inline expect predicates.
  java/ql/test/TestUtilities/InlineMadTest.qll
  shared/mad/codeql/mad/test/InlineMadTest.qll
Due: codeql-format, sync-files

C#: Convert source capture test to inline expectation.
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.expected
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.qlref
  csharp/ql/test/utils/modelgenerator/dataflow/Sources.cs
Due: codeql-format, sync-files

C#: Convert sink capture test to inline expectation.
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.expected
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.qlref
  csharp/ql/test/utils/modelgenerator/dataflow/Sinks.cs
Due: codeql-format, sync-files

C#: Convert neutral capture test to inline expectation.
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.expected
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.qlref
  csharp/ql/test/utils/modelgenerator/dataflow/NoSummaries.cs
  csharp/ql/test/utils/modelgenerator/dataflow/Sinks.cs
  csharp/ql/test/utils/modelgenerator/dataflow/Sources.cs
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
Due: codeql-format, sync-files

C#: Re-factor the model generator tests.
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/NoSummaries.cs
  csharp/ql/test/utils/modelgenerator/dataflow/Summaries.cs
Due: none

C#: Convert type based summary capture test to inline expectation.
  csharp/ql/test/utils/modelgenerator/typebasedflow/CaptureTypeBasedSummaryModels.expected
  csharp/ql/test/utils/modelgenerator/typebasedflow/CaptureTypeBasedSummaryModels.ql
  csharp/ql/test/utils/modelgenerator/typebasedflow/CaptureTypeBasedSummaryModels.qlref
  csharp/ql/test/utils/modelgenerator/typebasedflow/TypeBasedSummaries.cs
Due: codeql-format, sync-files

python: add qldoc and refactor The logic of which steps an `AdditionalTaintStep` has defined is now pushed into the defitnion of `AdditionalTaintStep`.
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPrivate.qll
  python/ql/lib/semmle/python/dataflow/new/internal/TaintTrackingPublic.qll
Due: codeql-format, sync-files

python: add change note
  python/ql/lib/change-notes/2024-05-17-maD-rich-type-column.md
Due: none

Python: update test expectations
  python/ql/test/experimental/query-tests/Security/CWE-091-XsltInjection/XsltInjection.expected
  python/ql/test/library-tests/dataflow/summaries/summaries.expected
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.expected
Due: none

Bazel: update bazel to version 7.1.2
  .bazelversion
Due: none

C#: Reformat project files with `paket`.
  csharp/Directory.Build.targets
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/Semmle.Autobuild.CSharp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.Cpp.Tests/Semmle.Autobuild.Cpp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.Cpp/Semmle.Autobuild.Cpp.csproj
  csharp/autobuilder/Semmle.Autobuild.Shared/Semmle.Autobuild.Shared.csproj
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Semmle.Extraction.CSharp.DependencyFetching.csproj
  csharp/extractor/Semmle.Extraction.CSharp.DependencyStubGenerator/Semmle.Extraction.CSharp.DependencyStubGenerator.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Driver/Semmle.Extraction.CSharp.Driver.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp.StubGenerator/Semmle.Extraction.CSharp.StubGenerator.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Util/Semmle.Extraction.CSharp.Util.csproj
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction.Tests/Semmle.Extraction.Tests.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Util.Tests/Semmle.Util.Tests.csproj
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
Due: none

WIP
  cpp/ql/src/experimental/parsing/glr.qll
Due: codeql-format, sync-files

Important fix
  cpp/ql/src/experimental/parsing/glr.qll
Due: codeql-format, sync-files

Write out closures a bit better
  cpp/ql/src/experimental/parsing/glr.qll
Due: codeql-format, sync-files

force dummy change to trigger internal checks
  cpp/ql/src/Critical/DoubleFreeBad.cpp
Due: none

Python: address review comments
  python/ql/lib/change-notes/2024-05-17-maD-rich-type-column.md
  python/ql/lib/semmle/python/frameworks/data/internal/ApiGraphModelsSpecific.qll
Due: codeql-format, sync-files

Update python/ql/lib/change-notes/2024-05-17-maD-rich-type-column.md
  python/ql/lib/change-notes/2024-05-17-maD-rich-type-column.md
Due: none

Bazel: allow LFS rules to use cached downloads without internet
  misc/bazel/internal/git_lfs_probe.py
  misc/bazel/lfs.bzl
Due: none

Adds another rule for null deref
  cpp/ql/src/experimental/Likely Bugs/DerefNullResult.cpp
  cpp/ql/src/experimental/Likely Bugs/DerefNullResult.qhelp
  cpp/ql/src/experimental/Likely Bugs/DerefNullResult.ql
Due: codeql-format, sync-files, qhelp

Bazel: accept new SSH keys in `git_lfs_probe.py`
  misc/bazel/internal/git_lfs_probe.py
Due: none

It works!
  cpp/ql/src/experimental/parsing/glr.qll
  cpp/ql/src/experimental/parsing/test1.ql
Due: codeql-format, sync-files

Reformat
  cpp/ql/src/experimental/parsing/glr.qll
Due: codeql-format, sync-files

Add a test
  cpp/ql/src/experimental/parsing/glr.qll
  cpp/ql/src/experimental/parsing/test2.ql
Due: codeql-format, sync-files

Final version for now
  cpp/ql/src/experimental/parsing/glr.qll
  cpp/ql/src/experimental/parsing/test2.ql
Due: codeql-format, sync-files

Bump qlpack versions
  ql/lib/qlpack.yml
  ql/src/qlpack.yml
Due: none

Add github to json contexts
  ql/lib/codeql/actions/dataflow/FlowSources.qll
  ql/test/query-tests/Security/CWE-094/.github/workflows/test4.yml
  ql/test/query-tests/Security/CWE-094/CodeInjection.expected
  ql/test/query-tests/Security/CWE-094/PrivilegedCodeInjection.expected
Due: codeql-format, sync-files

Add test case
  cpp/ql/src/experimental/parsing/test3.ql
Due: codeql-format, sync-files

WIP
  cpp/ql/src/experimental/parsing/glr.qll
  cpp/ql/src/experimental/parsing/test3.ql
Due: codeql-format, sync-files

Python: add tracking steps for class level attributes
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackingImpl.qll
Due: codeql-format, sync-files

Static variables are initialized to zero or null by compiler
  cpp/ql/src/Critical/NotInitialised.ql
Due: codeql-format, sync-files

Create 2024-05-19-avoid-reporting-static-variable.md
  cpp/ql/src/change-notes/2024-05-19-avoid-reporting-static-variable.md
Due: none

WIP
  cpp/ql/src/experimental/parsing/glr.qll
  cpp/ql/src/experimental/parsing/test4.ql
Due: codeql-format, sync-files
