Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

Format LibraryDetector.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/LibraryDetector.qll
Due: codeql-format, sync-files

Fix EVP Cipher class, predicate, and comment typos
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPCipherInitializer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPCipherOperation.qll
Due: codeql-format, sync-files

Fix EVP_Hash_Initializer typo
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPHashInitializer.qll
  cpp/ql/lib/experimental/quantum/OpenSSL/Operations/EVPHashOperation.qll
Due: codeql-format, sync-files

Delete development test query
  cpp/ql/src/experimental/quantum/Test2.ql
Due: codeql-format, sync-files

Change Java inventory slices to @kind table
  java/ql/src/experimental/quantum/Examples/InsecureOrUnknownNonceAtOperation.ql
  java/ql/src/experimental/quantum/Examples/TestCipherKey.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricCipherAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricOperationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownCipherAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownEllipticCurveAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownHashingAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownHashingOperation.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownHashingOperationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownKeyDerivationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownKeyDerivationOperation.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownKeyDerivationOperationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownSymmetricCipherAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/LikelyCryptoAPIFunction.ql
  java/ql/src/experimental/quantum/InventorySlices/UnknownOperationAlgorithm.ql
Due: codeql-format, sync-files

Update slice query metadata and output tables
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricCipherAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricOperationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownCipherAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownEllipticCurveAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownHashingAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownHashingOperation.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownHashingOperationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownKeyDerivationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownKeyDerivationOperation.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownKeyDerivationOperationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownSymmetricCipherAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/LikelyCryptoAPIFunction.ql
  java/ql/src/experimental/quantum/InventorySlices/UnknownOperationAlgorithm.ql
Due: codeql-format, sync-files

Fix KnownAsymmetricAlgorithm query id
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricAlgorithm.ql
Due: codeql-format, sync-files

Update type name in experimental BrokenCrypto.ql
  java/ql/src/experimental/quantum/Examples/BrokenCrypto.ql
Due: codeql-format, sync-files

Update Java analysis query metadata
  java/ql/src/experimental/quantum/Analysis/InsecureNonceSource.ql
  java/ql/src/experimental/quantum/Analysis/KnownWeakKDFIterationCount.ql
  java/ql/src/experimental/quantum/Analysis/ReusedNonce.ql
  java/ql/src/experimental/quantum/Analysis/UnknownKDFIterationCount.ql
Due: codeql-format, sync-files

Add problem.severity for java analysis queries
  java/ql/src/experimental/quantum/Analysis/KnownWeakKDFIterationCount.ql
  java/ql/src/experimental/quantum/Analysis/ReusedNonce.ql
Due: codeql-format, sync-files

Update cpp and java not_included_in_qls.expected
  cpp/ql/integration-tests/query-suite/not_included_in_qls.expected
  java/ql/integration-tests/java/query-suite/not_included_in_qls.expected
Due: none

Shared: Fix QLDoc to make QL4QL happy.
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
Due: codeql-format, sync-files

Two more modules and an update to some cached refs for GO (#224)
  go/ql/integration-tests/test-extraction/src/go.sum
  go/ql/integration-tests/traced-extraction/src/go.sum
  go/ql/integration-tests/two-go-mods-nested-none-in-root/src/subdir0/subdir1/go.mod
  go/ql/integration-tests/two-go-mods-nested-none-in-root/src/subdir0/subdir1/go.sum
  go/ql/integration-tests/two-go-mods-nested-one-in-root/src/subdir1/go.mod
  go/ql/integration-tests/two-go-mods-nested-one-in-root/src/subdir1/go.sum
Due: none

Rust: Test more examples of sensitive data.
  rust/ql/test/library-tests/sensitivedata/test.rs
Due: none

Rust: More counterexamples for sensitive data as well.
  rust/ql/test/library-tests/sensitivedata/test.rs
Due: none

Rust: Understand sensitive field access expressions.
  rust/ql/lib/codeql/rust/security/SensitiveData.qll
  rust/ql/test/library-tests/sensitivedata/test.rs
Due: codeql-format, sync-files

Rust: Understand sensitive qualifier expressions.
  rust/ql/lib/codeql/rust/security/SensitiveData.qll
  rust/ql/test/library-tests/sensitivedata/test.rs
Due: codeql-format, sync-files

Rust: Understand sensitive enum variants calls.
  rust/ql/lib/codeql/rust/security/SensitiveData.qll
  rust/ql/test/library-tests/sensitivedata/test.rs
Due: codeql-format, sync-files

Rename shared pack to quantum from experimental
  cpp/ql/lib/experimental/quantum/Language.qll
  cpp/ql/lib/qlpack.yml
  java/ql/lib/experimental/quantum/Language.qll
  java/ql/lib/qlpack.yml
  shared/quantum/codeql/quantum/experimental/Model.qll
  shared/quantum/qlpack.yml
Due: codeql-format, sync-files

Update CODEOWNERS to specify shared pack directory
  CODEOWNERS
Due: none

Rust: Update cleartext logging test with new found results.
  rust/ql/test/query-tests/security/CWE-312/CleartextLogging.expected
  rust/ql/test/query-tests/security/CWE-312/test_logging.rs
Due: none

Rust: Move OperationImpl to internal/OperationImpl.qll.
  rust/ql/lib/codeql/rust/elements/Operation.qll
  rust/ql/lib/codeql/rust/elements/internal/OperationImpl.qll
Due: codeql-format, sync-files, rust-codegen

fix unit tests part 2
  csharp/ql/test/library-tests/asp/basic/options
  csharp/ql/test/library-tests/dataflow/flowsources/remote/options
  csharp/ql/test/query-tests/Security Features/CWE-611/options
  csharp/ql/test/utils/modelgenerator/dataflow/options
Due: none

C#: Fix ASP tests.
  csharp/ql/test/library-tests/asp/basic/Test.cs
  csharp/ql/test/library-tests/asp/basic/options
Due: none

DataFlow: Fix typo in a comment
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

DataFlow: Support a bare Argument[n] as a valid output stack
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

C#: Remove dependency to ASP.NET in the System.Web.cs stub file.
  csharp/ql/test/query-tests/Security Features/CWE-611/options
  csharp/ql/test/resources/stubs/System.Web.Http.cs
  csharp/ql/test/resources/stubs/System.Web.cs
Due: none

Rust: Address comments on documentation
  rust/ql/lib/codeql/rust/elements/internal/MethodCallExprImpl.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Due: codeql-format, sync-files, rust-codegen

Rust: Use getStaticTarget in type inference test
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.ql
Due: codeql-format, sync-files

Rust: One more test case.
  rust/ql/test/library-tests/sensitivedata/test.rs
Due: none

Rust: Add a few more test cases involving 'map'.
  rust/ql/test/library-tests/sensitivedata/test.rs
Due: none

Rust: Constrain SensitiveFieldAccess to avoid including unwanted parents.
  rust/ql/lib/codeql/rust/security/SensitiveData.qll
Due: codeql-format, sync-files

Rust: Make helper predicate private + autoformat.
  rust/ql/lib/codeql/rust/security/SensitiveData.qll
Due: codeql-format, sync-files

Add missing tags to PrintCBOMGraph.ql queries
  cpp/ql/src/experimental/quantum/PrintCBOMGraph.ql
  java/ql/src/experimental/quantum/PrintCBOMGraph.ql
Due: codeql-format, sync-files

Add AsymmetricAlgorithmNode, refactor and address feedback
  java/ql/lib/experimental/quantum/Language.qll
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricOperationAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/LikelyCryptoAPIFunction.ql
  shared/quantum/codeql/quantum/experimental/Model.qll
Due: codeql-format, sync-files

Fix query compilation errors
  java/ql/lib/experimental/quantum/Language.qll
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricAlgorithm.ql
  java/ql/src/experimental/quantum/InventorySlices/KnownAsymmetricOperationAlgorithm.ql
  shared/quantum/codeql/quantum/experimental/Model.qll
Due: codeql-format, sync-files

Make FlowAwareElement private
  shared/quantum/codeql/quantum/experimental/Model.qll
Due: codeql-format, sync-files

C#: Convert cs/uncontrolled-format-string tests to use test inline expectations.
  csharp/ql/test/query-tests/Security Features/CWE-134/ConsoleUncontrolledFormatString.cs
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.cs
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.qlref
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatStringBad.cs
Due: none

C#: Add a testcase for CompositeFormat.Parse for cs/uncontrolled-format-string.
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.cs
  csharp/ql/test/query-tests/Security Features/CWE-134/UncontrolledFormatString.expected
Due: none

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
