Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

Rust: Resolve function calls to traits methods
  rust/ql/lib/codeql/rust/elements/internal/CallExprImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/MethodCallExprImpl.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/main.rs
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.ql
Due: codeql-format, sync-files, rust-codegen

Swift: Update to Swift 6.1.1
  swift/third_party/load.bzl
Due: buildifier

Rust: minor refactoring
  rust/ast-generator/src/main.rs
Due: none

Rust: fix format
  rust/ast-generator/src/main.rs
Due: none

Swift: Update macOS runner
  .github/workflows/swift.yml
Due: none

JS: Move query suite selector logic to `javascript-security-and-quality.qls`
  javascript/ql/src/codeql-suites/javascript-security-and-quality.qls
Due: none

Rust: update crates.expected after rust version update
  rust/ql/test/extractor-tests/crate_graph/crates.expected
Due: none

Rust: accept test failures for now
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/ExtractionConsistency.expected
  rust/ql/test/query-tests/security/CWE-696/CONSISTENCY/ExtractionConsistency.expected
Due: none

Update root `rust-toolchain.toml`
  rust-toolchain.toml
Due: sync-files

Rust: revert test expectations
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/ExtractionConsistency.expected
  rust/ql/test/query-tests/security/CWE-696/CONSISTENCY/ExtractionConsistency.expected
Due: none

Rust: accept new duplicate inconsistencies
  rust/ql/test/library-tests/dataflow/local/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/variables/CONSISTENCY/PathResolutionConsistency.expected
Due: none

Rust: Also include prelude path resolution in Core
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
Due: codeql-format, sync-files

Rust: show unexpanded macro
  rust/ql/integration-tests/hello-project/ExtractionWarnings.expected
  rust/ql/integration-tests/hello-project/functions.expected
  rust/ql/integration-tests/hello-project/src/README.md
  rust/ql/integration-tests/hello-project/src/main.rs
  rust/ql/integration-tests/hello-project/summary.expected
Due: none

Rust: accept test changes
  rust/ql/integration-tests/hello-project/ExtractionWarnings.expected
  rust/ql/test/library-tests/variables/CONSISTENCY/PathResolutionConsistency.expected
Due: none

Rust: accept test changes for now
  rust/ql/test/library-tests/path-resolution/path-resolution.expected
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/library-tests/variables/CONSISTENCY/PathResolutionConsistency.expected
Due: none

Rust: fix forgotten merge conflict
  rust/ql/integration-tests/hello-project/summary.expected
Due: none

Rust: accept test changes
  rust/ql/integration-tests/macro-expansion/summary.expected
Due: none

Added `maintainability` and `error-handling` tags
  javascript/ql/src/Quality/UnhandledStreamPipe.ql
Due: codeql-format, sync-files

Rust: Use member predicate from path resolution
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
Due: codeql-format, sync-files

Java: Add guards-logic qltest with inline expectation.
  java/ql/test/library-tests/guards/Guards.java
  java/ql/test/library-tests/guards/GuardsInline.expected
  java/ql/test/library-tests/guards/GuardsInline.ql
  java/ql/test/library-tests/guards/GuardsInline.qlref
Due: codeql-format, sync-files

Java: Add hasInputFromBlock predicate in BaseSSA.
  java/ql/lib/semmle/code/java/dataflow/internal/BaseSSA.qll
Due: codeql-format, sync-files

Shared: Add a shared Guards library inspired by the Java and C# versions.
  shared/controlflow/codeql/controlflow/Guards.qll
Due: codeql-format, sync-files

Shared: Extend the shared Guards library with support for custom wrappers.
  shared/controlflow/codeql/controlflow/Guards.qll
Due: codeql-format, sync-files

Shared: Extend the shared Guards library with support for exception branch points.
  shared/controlflow/codeql/controlflow/Guards.qll
Due: codeql-format, sync-files

Shared: Many tweaks to Guards.
  shared/controlflow/codeql/controlflow/Guards.qll
Due: codeql-format, sync-files

Shared: Improve shared guards lib.
  shared/controlflow/codeql/controlflow/Guards.qll
Due: codeql-format, sync-files

Cargo: upgrade dependencies
  Cargo.lock
  rust/ast-generator/Cargo.toml
  rust/extractor/Cargo.toml
  rust/extractor/macros/Cargo.toml
  shared/tree-sitter-extractor/Cargo.toml
Due: sync-files, rust-lint

Rust: regenerate schema
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/extractor/src/translate/generated.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/Const.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Const.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/extractor-tests/generated/Const/Const.ql
  rust/ql/test/extractor-tests/generated/Const/Const_getGenericParamList.ql
  rust/ql/test/extractor-tests/generated/Const/Const_getWhereClause.ql
  rust/schema/ast.py
Due: codeql-format, sync-files, rust-codegen, rust-lint

Rust: accept `cargo_extra_env` entries without `=`
  rust/extractor/src/config.rs
  rust/extractor/src/config/deserialize.rs
Due: rust-lint

Rust: fix compilation errors
  rust/extractor/src/rust_analyzer.rs
  rust/extractor/src/translate/base.rs
Due: rust-lint

Rust: run format and linting
  rust/extractor/src/config/deserialize.rs
  rust/extractor/src/rust_analyzer.rs
  rust/extractor/src/translate/base.rs
Due: rust-lint

Rust: add new empty test expectations
  rust/ql/test/extractor-tests/generated/Const/Const_getGenericParamList.expected
  rust/ql/test/extractor-tests/generated/Const/Const_getWhereClause.expected
Due: rust-codegen

Rust: add upgrade/downgrade scripts for new tables
  rust/downgrades/8e1099a402e733d6cfeaba935477e501b2a91684/old.dbscheme
  rust/downgrades/8e1099a402e733d6cfeaba935477e501b2a91684/rust.dbscheme
  rust/downgrades/8e1099a402e733d6cfeaba935477e501b2a91684/upgrade.properties
  rust/ql/lib/upgrades/a1005655e9efc9f67d3aa2b7a3128f6b80d405a9/old.dbscheme
  rust/ql/lib/upgrades/a1005655e9efc9f67d3aa2b7a3128f6b80d405a9/rust.dbscheme
  rust/ql/lib/upgrades/a1005655e9efc9f67d3aa2b7a3128f6b80d405a9/upgrade.properties
Due: none

Swift: Fix type string representation
  swift/extractor/translators/ExprTranslator.cpp
  swift/ql/test/extractor-tests/generated/expr/TypeValueExpr/TypeValueExpr.expected
Due: swift-codegen

Swift: Update expected test results
  swift/ql/test/library-tests/ast/Errors.expected
  swift/ql/test/library-tests/ast/Missing.expected
  swift/ql/test/library-tests/ast/PrintAst.expected
Due: none

Rust: add option to extract dependencies as source files
  rust/codeql-extractor.yml
  rust/extractor/src/config.rs
  rust/extractor/src/main.rs
Due: rust-lint
