Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel:buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Rust: accept test changes
  rust/ql/test/extractor-tests/canonical_path/canonical_paths.expected
  rust/ql/test/extractor-tests/generated/MacroItems/CONSISTENCY/AstConsistency.expected
  rust/ql/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr.expected
  rust/ql/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getArgList.expected
  rust/ql/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getGenericArgList.expected
  rust/ql/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getNameRef.expected
  rust/ql/test/extractor-tests/generated/MethodCallExpr/MethodCallExpr_getReceiver.expected
  rust/ql/test/extractor-tests/utf8/ast.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/dataflow/global/inline-flow.expected
  rust/ql/test/library-tests/dataflow/global/viableCallable.expected
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/variables/Cfg.expected
Due: none

Codegen: fix typo
  misc/codegen/loaders/schemaloader.py
Due: none

C++: Change note
  cpp/ql/src/change-notes/2024-12-05-wrong-number-format-arguments.md
Due: none

Rust: Make a predicate private.
  rust/ql/lib/codeql/rust/frameworks/RustCrypto.qll
Due: codeql-format, sync-files

C++: Use Expr.stripType()
  cpp/ql/src/Likely Bugs/Format/WrongTypeFormatArguments.ql
Due: codeql-format, sync-files

Swift: add update/downgrade scripts
  swift/downgrades/33db81ad4b606ff9a476c8dabeb9fffbf61aa829/old.dbscheme
  swift/downgrades/33db81ad4b606ff9a476c8dabeb9fffbf61aa829/swift.dbscheme
  swift/downgrades/33db81ad4b606ff9a476c8dabeb9fffbf61aa829/upgrade.properties
  swift/ql/lib/upgrades/44c4818a8987b5e1b3cd11e553e41045e1262451/old.dbscheme
  swift/ql/lib/upgrades/44c4818a8987b5e1b3cd11e553e41045e1262451/swift.dbscheme
  swift/ql/lib/upgrades/44c4818a8987b5e1b3cd11e553e41045e1262451/upgrade.properties
Due: none

Swift: remove linux QL tests check
  .github/workflows/swift.yml
Due: none

Swift: accept test changes
  swift/ql/test/extractor-tests/generated/type/ParameterizedProtocolType/ParameterizedProtocolType.expected
  swift/ql/test/extractor-tests/generated/type/ParameterizedProtocolType/ParameterizedProtocolType_getArg.expected
  swift/ql/test/library-tests/ast/PrintAst.expected
Due: swift-codegen

C#: Respond to PR comments.
  csharp/ql/lib/ext/Microsoft.AspNetCore.Mvc.model.yml
Due: none

Rust: Add test case for 'self' in unused entities.
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/UnusedVariable.expected
  rust/ql/test/query-tests/unusedentities/main.rs
Due: none

Rust: Fix the unwanted results.
  rust/ql/src/queries/unusedentities/UnusedVariable.qll
  rust/ql/test/query-tests/unusedentities/UnusedVariable.expected
  rust/ql/test/query-tests/unusedentities/main.rs
Due: codeql-format, sync-files

Rust: Add variables test with captured self parameter
  rust/ql/test/library-tests/variables/Cfg.expected
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/variables.expected
  rust/ql/test/library-tests/variables/variables.rs
Due: none

C++: Use getType() instead of getUnderlyingType()
  cpp/ql/src/Security/CWE/CWE-120/BadlyBoundedWrite.ql
Due: codeql-format, sync-files

Rust: Handle captured `self` parameter in variable implementation
  rust/ql/lib/codeql/rust/elements/internal/VariableImpl.qll
  rust/ql/test/library-tests/variables/Ssa.expected
  rust/ql/test/library-tests/variables/variables.expected
Due: codeql-format, sync-files

C#: Explicitly close writer in `DependabotProxy`
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependabotProxy.cs
Due: none

C#: Create certificate from string, rather than file
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependabotProxy.cs
Due: none

C#: Update Roslyn.
  csharp/paket.dependencies
  csharp/paket.lock
  csharp/paket.main.bzl
Due: buildifier

C#: Use the newest version of packages instead of the minimum version.
  csharp/paket.dependencies
Due: none

C#: Update dependencies.
  csharp/paket.lock
  csharp/paket.main.bzl
Due: buildifier

C#: Update DataQuality output. Roslyn now correctly finds the compile time target.
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/IsNotOkayCall.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/NoTarget.expected
  csharp/ql/test/query-tests/Telemetry/DatabaseQuality/Quality.cs
Due: none

C#: Update the format test expected output as the params keyword is now extracted correctly.
  csharp/ql/test/library-tests/frameworks/format/StringFormatItemParameter.expected
Due: none

C#: Update integration tests expected output.
  csharp/ql/integration-tests/posix/standalone_dependencies_executing_runtime/Assemblies.expected
Due: none

C#: Update Parameters test to only inspect parameters from source code.
  csharp/ql/test/library-tests/methods/Parameters4.ql
Due: codeql-format, sync-files

C#: Add change-note.
  csharp/ql/lib/change-notes/2024-12-04-dotnet9.md
Due: none

C#: Update dependencies (binlog package needs to be updated).
  csharp/paket.lock
  csharp/paket.main.bzl
Due: buildifier

Swift: accept test changes
  swift/ql/test/extractor-tests/generated/stmt/ForEachStmt/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/library-tests/ast/PrintAst.expected
Due: swift-codegen

Swift: fix gracefully accepting missing `ForEachStmt.iteratorVar`
  swift/extractor/translators/StmtTranslator.cpp
Due: none

Apply suggestions from code review
  rust/ql/src/queries/security/CWE-327/BrokenCryptoAlgorithm.qhelp
Due: sync-files, qhelp

Swift: fix artifact update infrastructure
  MODULE.bazel
  swift/third_party/load.bzl
  swift/third_party/resources/BUILD.bazel
  swift/third_party/resources/update.sh
Due: buildifier

Swift: update LFS artifacts and remove override
  swift/third_party/load.bzl
  swift/third_party/resources/resource-dir-linux.zip
  swift/third_party/resources/resource-dir-macos.zip
  swift/third_party/resources/swift-prebuilt-linux.tar.zst
  swift/third_party/resources/swift-prebuilt-macos.tar.zst
Due: buildifier

Rust: Add % of files extractor without errors to summary stats.
  rust/ql/src/queries/summary/SummaryStats.ql
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
Due: codeql-format, sync-files

C#: Clean up dependencies Newtonsoft.Json and dont override nowarn.
  csharp/autobuilder/Semmle.Autobuild.CSharp/BUILD.bazel
  csharp/autobuilder/Semmle.Autobuild.CSharp/paket.references
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/BUILD.bazel
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/paket.references
Due: buildifier

Trivial variable name fixes
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/completetest.ql
Due: codeql-format, sync-files

Add failing test for flow out of varargs parameter
  go/ql/test/library-tests/semmle/go/dataflow/VarArgs/main.go
Due: none

Fix pre-existing failing test in VarArgsWithFunctionModels
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithFunctionModels/main.go
Due: none

Delete accidentally committed binary
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithFunctionModels/semmle.go.Packages
Due: none

Test flow out of varargs param with function models
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithFunctionModels/Flows.ql
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithFunctionModels/go.mod
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithFunctionModels/main.go
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithFunctionModels/vendor/github.com/nonexistent/test/stub.go
Due: codeql-format, sync-files

Add failing test for flow out of varargs param with models-as-data
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithExternalFlow/Flows.expected
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithExternalFlow/Flows.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithExternalFlow/Flows.ql
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithExternalFlow/go.mod
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithExternalFlow/main.go
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithExternalFlow/vendor/github.com/nonexistent/test/stub.go
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithExternalFlow/vendor/modules.txt
Due: codeql-format, sync-files

Fix flow out of varargs param with models-as-data
  go/ql/lib/semmle/go/dataflow/internal/ContainerFlow.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
  go/ql/test/library-tests/semmle/go/dataflow/VarArgsWithExternalFlow/main.go
Due: codeql-format, sync-files

Add change note
  go/ql/lib/change-notes/2024-12-06-improve-flow-out-of-variadic-parameter.md
Due: none

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
