Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

Apply suggestions from code review
  go/ql/lib/ext/github.com.couchbase.gocb.model.yml
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/database/vendor/github.com/couchbase/gocb/v2/stub.go
Due: none

Support when a property is specified by a string literal instead of a `nameof` expression
  csharp/ql/lib/semmle/code/csharp/frameworks/microsoft/aspnetcore/Components.qll
Due: codeql-format, sync-files

Add test case using string literal in property name
  csharp/ql/test/library-tests/frameworks/microsoft/aspnetcore/blazor/NameList2.cs
  csharp/ql/test/library-tests/frameworks/microsoft/aspnetcore/blazor/Xss.expected
  csharp/ql/test/library-tests/frameworks/microsoft/aspnetcore/blazor/remoteFlowSource.expected
Due: none

[change-note] Blazor parameter passing string literal
  csharp/ql/lib/change-notes/2025-03-08-blazor-parameter-passing-string-literal.md
Due: none

Java: regexpMatch back to matches for readability
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
Due: codeql-format, sync-files

Java: initial tests
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.java
Due: none

Java: initial sanitizer
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
Due: codeql-format, sync-files

Java: generalize sanitizer and add tests
  java/ql/lib/semmle/code/java/JDK.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
  java/ql/test/library-tests/pathsanitizer/Test.java
  java/ql/test/query-tests/security/CWE-022/semmle/tests/TaintedPath.java
Due: codeql-format, sync-files

Rust: Merge query implementation into one file
  rust/ql/lib/codeql/rust/security/regex/RegexInjectionQuery.qll
  rust/ql/src/queries/security/CWE-730/RegexInjection.ql
Due: codeql-format, sync-files

update TypeScript version to 5.8.1-RC
  docs/codeql/reusables/supported-versions-compilers.rst
  javascript/extractor/lib/typescript/package-lock.json
  javascript/extractor/lib/typescript/package.json
  javascript/ql/lib/change-notes/2025-02-17-typescript-5-8.md
Due: none

bump to stable 5.8 release
  javascript/extractor/lib/typescript/package-lock.json
  javascript/extractor/lib/typescript/package.json
Due: none

fix typo from copy-pasted change-note
  javascript/ql/lib/change-notes/2025-02-17-typescript-5-8.md
Due: none

Rust: add Crate to dbscheme
  rust/extractor/src/generated/.generated.list
  rust/extractor/src/generated/top.rs
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements.qll
  rust/ql/lib/codeql/rust/elements/Crate.qll
  rust/ql/lib/codeql/rust/elements/internal/CrateConstructor.qll
  rust/ql/lib/codeql/rust/elements/internal/CrateImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Crate.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/ParentChild.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Raw.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/Synth.qll
  rust/ql/lib/codeql/rust/elements/internal/generated/SynthConstructors.qll
  rust/ql/lib/rust.dbscheme
  rust/ql/test/extractor-tests/generated/Crate/MISSING_SOURCE.txt
  rust/schema/prelude.py
Due: codeql-format, sync-files, rust-codegen, rust-lint

Rust: extract crate graph
  Cargo.lock
  rust/extractor/Cargo.toml
  rust/extractor/src/crate_graph.rs
  rust/extractor/src/main.rs
  rust/extractor/src/trap.rs
Due: sync-files, rust-lint

Rust: ignore crate graph elements from summary stats and AST no-location checks
  rust/ql/lib/codeql/rust/internal/AstConsistency.qll
  rust/ql/src/queries/summary/SummaryStats.ql
Due: codeql-format, sync-files

Rust: add ExtractionStep::CrateGraph
  rust/extractor/src/diagnostics.rs
  rust/extractor/src/main.rs
  rust/ql/test/query-tests/diagnostics/SummaryStats.expected
Due: rust-lint

Rust: QL Test: exclude crate graph related elements
  rust/ql/test/TestUtils.qll
  rust/ql/test/extractor-tests/utf8/ast.ql
  rust/ql/test/library-tests/path-resolution/path-resolution.ql
Due: codeql-format, sync-files

Rust: implement Crate::toString
  rust/ql/.generated.list
  rust/ql/.gitattributes
  rust/ql/lib/codeql/rust/elements/internal/CrateImpl.qll
Due: codeql-format, sync-files, rust-codegen

Rust: add some tests for the crate graph
  rust/ql/test/extractor-tests/crate_graph/crates.expected
  rust/ql/test/extractor-tests/crate_graph/crates.ql
  rust/ql/test/extractor-tests/crate_graph/main.rs
  rust/ql/test/extractor-tests/crate_graph/module.rs
  rust/ql/test/extractor-tests/crate_graph/modules.expected
  rust/ql/test/extractor-tests/crate_graph/modules.ql
Due: codeql-format, sync-files

Rust: update integration tests
  rust/ql/integration-tests/hello-project/diagnostics.expected
  rust/ql/integration-tests/hello-project/steps.cargo.expected
  rust/ql/integration-tests/hello-project/steps.rust-project.expected
  rust/ql/integration-tests/hello-project/summary.expected
  rust/ql/integration-tests/hello-workspace/diagnostics.cargo.expected
  rust/ql/integration-tests/hello-workspace/diagnostics.rust-project.expected
  rust/ql/integration-tests/hello-workspace/steps.cargo.expected
  rust/ql/integration-tests/hello-workspace/steps.rust-project.expected
  rust/ql/integration-tests/hello-workspace/summary.cargo.expected
  rust/ql/integration-tests/hello-workspace/summary.rust-project.expected
  rust/ql/integration-tests/options/cfg/functions.ql
  rust/ql/integration-tests/options/features/functions.ql
  rust/ql/integration-tests/options/target/functions.ql
  rust/ql/integration-tests/workspace-with-glob/steps.expected
Due: codeql-format, sync-files

Rust: improve modules test case
  rust/ql/test/extractor-tests/crate_graph/crates.expected
  rust/ql/test/extractor-tests/crate_graph/modules.expected
  rust/ql/test/extractor-tests/crate_graph/modules.ql
Due: codeql-format, sync-files

Rust: crate_graph: extract only public items
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Rust: add file for root modules of crates
  rust/extractor/src/crate_graph.rs
  rust/ql/lib/codeql/files/FileSystem.qll
  rust/ql/test/extractor-tests/crate_graph/modules.expected
Due: codeql-format, sync-files, rust-lint

Run: misc/bazel/3rdparty/update_cargo_deps.sh
  MODULE.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/defs.bzl
Due: buildifier

Rust: fix crate graph after rust-analyzer upgrade
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Rust: update expected output
  rust/ql/test/extractor-tests/crate_graph/crates.expected
  rust/ql/test/extractor-tests/crate_graph/modules.expected
Due: none

Address review comment
  rust/extractor/src/crate_graph.rs
  rust/extractor/src/trap.rs
Due: rust-lint

C#: Add change-note.
  csharp/ql/src/change-notes/2025-03-10-task-not-disposed.md
Due: none

Java: Add initial version of empty method query
  java/ql/src/Language Abuse/EmptyMethod.md
  java/ql/src/Language Abuse/EmptyMethod.ql
  java/ql/test/query-tests/EmptyMethod/EmptyMethod.expected
  java/ql/test/query-tests/EmptyMethod/EmptyMethod.qlref
  java/ql/test/query-tests/EmptyMethod/Test.java
  java/ql/test/query-tests/EmptyMethod/options
  java/ql/test/stubs/aspectj/LICENSE.txt
  java/ql/test/stubs/aspectj/org/aspectj/lang/annotation/Pointcut.java
Due: codeql-format, sync-files

Adjust query name
  java/ql/src/Language Abuse/EmptyMethod.ql
Due: codeql-format, sync-files

Use inline test expectations
  java/ql/test/query-tests/EmptyMethod/EmptyMethod.expected
  java/ql/test/query-tests/EmptyMethod/EmptyMethod.qlref
  java/ql/test/query-tests/EmptyMethod/Test.java
Due: none

Add more test cases
  java/ql/test/query-tests/EmptyMethod/EmptyMethod.expected
  java/ql/test/query-tests/EmptyMethod/Test.java
Due: none

Make query more accepting
  java/ql/src/Language Abuse/EmptyMethod.ql
  java/ql/test/query-tests/EmptyMethod/EmptyMethod.expected
  java/ql/test/query-tests/EmptyMethod/Test.java
Due: codeql-format, sync-files

Adjust query help
  java/ql/src/Language Abuse/EmptyMethod.md
Due: none

Adjust alert message
  java/ql/src/Language Abuse/EmptyMethod.ql
  java/ql/test/query-tests/EmptyMethod/EmptyMethod.expected
Due: codeql-format, sync-files

Improve ql code quality
  java/ql/src/Language Abuse/EmptyMethod.ql
Due: codeql-format, sync-files

Add `RegExpQuotedString` class to support quoted string escapes in regex
  javascript/ql/lib/semmle/javascript/Regexp.qll
  javascript/ql/test/library-tests/RegExp/VFlagOperations/CombinationOfOperators/printAst.expected
  javascript/ql/test/library-tests/RegExp/VFlagOperations/QuotedString/printAst.expected
Due: codeql-format, sync-files

Add `RegExpSubtraction` class to support subtraction terms in regex
  javascript/ql/lib/semmle/javascript/Regexp.qll
  javascript/ql/test/library-tests/RegExp/VFlagOperations/CombinationOfOperators/printAst.expected
  javascript/ql/test/library-tests/RegExp/VFlagOperations/Subtraction/printAst.expected
Due: codeql-format, sync-files

Add change note
  java/ql/src/change-notes/2025-03-10-empty-method.md
Due: none

Rust: Add a test exposing the function scope limitation.
  rust/ql/test/query-tests/unusedentities/UnusedValue.expected
  rust/ql/test/query-tests/unusedentities/main.rs
Due: none
