Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

C++: Add change note.
  cpp/ql/src/change-notes/2023-09-06-deduplicated-results.md
Due: none

C++: Accept more test changes.
  cpp/ql/test/examples/docs-examples/analyzing-data-flow-in-cpp/printf-format-not-hard-coded.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-190/AllocMultiplicationOverflow/AllocMultiplicationOverflow.expected
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-359/semmle/tests/PrivateCleartextWrite.expected
Due: none

Use better sanitiser.
  javascript/ql/src/Security/CWE-601/examples/ServerSideUrlRedirectGood2.js
  javascript/ql/test/query-tests/Security/CWE-601/ServerSideUrlRedirect/ServerSideUrlRedirectGood2.js
Due: none

Python: apply suggestions from code review for asyncio
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
Due: codeql-format, sync-files

Revert "C#: Bump all dependencies"
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/Semmle.Autobuild.Cpp.Tests.csproj
  cpp/autobuilder/Semmle.Autobuild.Cpp/Semmle.Autobuild.Cpp.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/Semmle.Autobuild.CSharp.Tests.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.Shared/Semmle.Autobuild.Shared.csproj
  csharp/extractor/Semmle.Extraction.CIL/Semmle.Extraction.CIL.csproj
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Semmle.Extraction.CSharp.Standalone.csproj
  csharp/extractor/Semmle.Extraction.CSharp/Semmle.Extraction.CSharp.csproj
  csharp/extractor/Semmle.Extraction.Tests/Semmle.Extraction.Tests.csproj
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/extractor/Semmle.Util.Tests/Semmle.Util.Tests.csproj
  csharp/extractor/Semmle.Util/Semmle.Util.csproj
  csharp/ql/integration-tests/posix-only/dotnet_test/dotnet_test.csproj
  csharp/ql/integration-tests/posix-only/dotnet_test_mstest/dotnet_test_mstest.csproj
Due: none

Python: move asyncio CMDi related tests to stdlib tests
  python/ql/test/library-tests/frameworks/stdlib/SystemCommandExecution.py
  python/ql/test/query-tests/Security/CWE-078-CommandInjection/CommandInjection.expected
  python/ql/test/query-tests/Security/CWE-078-CommandInjection/DataflowQueryTest.expected
  python/ql/test/query-tests/Security/CWE-078-CommandInjection/command_injection.py
Due: none

add sources to detect CVE completely
  python/ql/src/experimental/Security/CWE-409/DecompressionBombs.ql
Due: codeql-format, sync-files

C++: Fix off-by-one in 'asDefiningArgument' so that the domain of the argument is '[1..]' like 'asIndirectArgument'.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

C++: Add change note.
  cpp/ql/lib/change-notes/2023-09-06-as-defining-argument-off-by-one-fix.md
Due: none

better warning message
  csharp/ql/src/experimental/CWE-502-DecompressionBombs/DecompressionBombs.ql
Due: codeql-format, sync-files

Java: update top jdk apis test case again
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/TopJdkApisTest/TopJdkApisTest.expected
Due: none

Update 2023-09-06-as-defining-argument-off-by-one-fix.md
  cpp/ql/lib/change-notes/2023-09-06-as-defining-argument-off-by-one-fix.md
Due: none

C#: Clear TRAP stack when calling `PopulateGenerics`
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Types/Type.cs
  csharp/extractor/Semmle.Extraction/Context.cs
  csharp/ql/test/library-tests/csharp7/TupleExpr.expected
  csharp/ql/test/library-tests/csharp7/TupleTypes.expected
Due: none

Use `git ls-files` to find DLLs to index
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/StandaloneBuildRule.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyCache.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/Git.cs
Due: none

Python: prepare to promote NoSqlInjection Mostly move files, preserving authourship. This will not compile.
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/NoSQL.qll
  python/ql/lib/semmle/python/security/dataflow/NoSQLInjection.qll
  python/ql/src/Security/CWE-943/NoSQLInjection.qhelp
  python/ql/src/Security/CWE-943/NoSQLInjection.ql
  python/ql/src/Security/CWE-943/examples/NoSQLInjection-bad.py
  python/ql/src/Security/CWE-943/examples/NoSQLInjection-good.py
  python/ql/src/experimental/semmle/python/Frameworks.qll
  python/ql/test/query-tests/Security/CWE-943/NoSQLInjection.expected
  python/ql/test/query-tests/Security/CWE-943/NoSQLInjection.qlref
  python/ql/test/query-tests/Security/CWE-943/flask_mongoengine_bad.py
  python/ql/test/query-tests/Security/CWE-943/flask_mongoengine_good.py
  python/ql/test/query-tests/Security/CWE-943/flask_pymongo_bad.py
  python/ql/test/query-tests/Security/CWE-943/flask_pymongo_good.py
  python/ql/test/query-tests/Security/CWE-943/mongoengine_bad.py
  python/ql/test/query-tests/Security/CWE-943/mongoengine_good.py
  python/ql/test/query-tests/Security/CWE-943/pymongo_test.py
Due: codeql-format, sync-files, qhelp

Python: Refactor to allow customizations Also use new DataFlow API
  python/ql/lib/semmle/python/security/dataflow/NoSQLInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/NoSQLInjectionQuery.qll
  python/ql/src/Security/CWE-943/NoSQLInjection.ql
Due: codeql-format, sync-files

Python: more renames
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/NoSqlInjection.expected
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/NoSqlInjection.qlref
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/flask_mongoengine_bad.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/flask_mongoengine_good.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/flask_pymongo_bad.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/flask_pymongo_good.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/mongoengine_bad.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/mongoengine_good.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/pymongo_test.py
Due: none

Python: Make things compile in their new location - Move NoSQL concepts to the non-experimental concepts file - fix references
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/frameworks/NoSQL.qll
  python/ql/lib/semmle/python/security/dataflow/NoSQLInjection.qll
  python/ql/src/Security/CWE-943/NoSQLInjection.ql
  python/ql/src/experimental/semmle/python/Concepts.qll
  python/ql/test/query-tests/Security/CWE-943/NoSQLInjection.qlref
Due: codeql-format, sync-files

Python: rename file
  python/ql/lib/semmle/python/security/dataflow/NoSQLInjectionQuery.qll
  python/ql/src/Security/CWE-943/NoSQLInjection.ql
Due: codeql-format, sync-files

Python: Fix typo in SSRF example
  python/ql/src/Security/CWE-918/examples/ServerSideRequestForgery_full.py
Due: none

remove parameter as source
  go/ql/src/experimental/CWE-522-DecompressionBombs/DecompressionBombs.ql
Due: codeql-format, sync-files

Explain about redirects to example.com.
  javascript/ql/src/Security/CWE-601/ServerSideUrlRedirect.qhelp
Due: sync-files, qhelp

Python: Add inline query test
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/DataflowQueryTest.expected
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/DataflowQueryTest.ql
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/flask_mongoengine_bad.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/flask_mongoengine_good.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/flask_pymongo_bad.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/flask_pymongo_good.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/mongoengine_bad.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/mongoengine_good.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/pymongo_test.py
Due: codeql-format, sync-files

Python: Added tests based on security analysis currently we do not: - recognize the pattern `{'author': {"$eq": author}}` as protected - recognize arguements to `$where` (and friends) as vulnerable
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/PoC/populate.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/PoC/readme.md
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/PoC/requirements.txt
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/PoC/server.py
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/options
Due: none

Python: Add QLDocs
  python/ql/lib/semmle/python/security/dataflow/NoSQLInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/NoSQLInjectionQuery.qll
Due: codeql-format, sync-files

Python: update test expectations
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/NoSqlInjection.expected
Due: none

add sources to detect CVE completely
  go/ql/src/experimental/CWE-522-DecompressionBombs/DecompressionBombs.ql
Due: codeql-format, sync-files

Python: Apply suggestions from code review
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
Due: codeql-format, sync-files

Python: Autoformat
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
Due: codeql-format, sync-files

add new qhelp for clear-text-logging
  python/ql/src/Security/CWE-312/CleartextLogging.qhelp
  python/ql/src/Security/CWE-312/examples/CleartextLogging.py
  python/ql/src/Security/CWE-312/examples/CleartextLoggingGood.py
Due: sync-files, qhelp

Go: Add diagnostic for 1.21 `toolchain` error
  go/extractor/diagnostics/diagnostics.go
  go/extractor/extractor.go
Due: none

Ruby: Use a newtype instead of DataFlow::FlowState for unicode-bypass-validation
  ruby/ql/lib/codeql/ruby/experimental/UnicodeBypassValidationQuery.qll
Due: codeql-format, sync-files

CPP: Make functions that reach the end return.
  cpp/ql/lib/change-notes/2023-09-07-return-from-end.md
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Due: codeql-format, sync-files

CPP: Fix test result
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
Due: none

CPP: Remove sucessors of non-returning IR calls.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/reachability/ReachableBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/reachability/ReachableBlockInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/reachability/ReachableBlock.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/reachability/ReachableBlockInternal.qll
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Due: codeql-format, sync-files

Ruby: Use a newtype instead of DataFlow::FlowState for code-injection
  ruby/ql/lib/codeql/ruby/security/CodeInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/CodeInjectionQuery.qll
  ruby/ql/src/queries/security/cwe-094/CodeInjection.ql
Due: codeql-format, sync-files

CPP: Update tests
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseAfterFree.expected
Due: none

CPP:Add tests for the aliased IR.
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.ql
Due: codeql-format, sync-files
