Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

move system prompt injection to non-experimental
  javascript/ql/lib/semmle/javascript/frameworks/Anthropic.qll
  javascript/ql/lib/semmle/javascript/frameworks/GoogleGenAI.qll
  javascript/ql/lib/semmle/javascript/frameworks/OpenAI.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/SystemPromptInjectionCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/SystemPromptInjectionQuery.qll
  javascript/ql/src/Security/CWE-1427/SystemPromptInjection.qhelp
  javascript/ql/src/Security/CWE-1427/SystemPromptInjection.ql
  javascript/ql/src/Security/CWE-1427/examples/prompt-injection.js
  javascript/ql/src/Security/CWE-1427/examples/prompt-injection_fixed.js
  javascript/ql/src/experimental/Security/CWE-1427/UserPromptInjection.qhelp
  javascript/ql/src/experimental/Security/CWE-1427/UserPromptInjection.ql
  javascript/ql/src/experimental/Security/CWE-1427/examples/user-prompt-injection.js
  javascript/ql/src/experimental/Security/CWE-1427/examples/user-prompt-injection_fixed.js
  javascript/ql/src/experimental/semmle/javascript/security/PromptInjection/UserPromptInjectionCustomizations.qll
  javascript/ql/test/experimental/Security/CWE-1427/SystemPromptInjection/SystemPromptInjection.qlref
Due: codeql-format, sync-files, qhelp

C#: Remove the prelim C# 14 footnote from the documentation.
  docs/codeql/reusables/supported-versions-compilers.rst
Due: none

C#: Add change-note.
  csharp/ql/lib/change-notes/2026-05-20-csharp14-dotnet10.md
Due: none

Potential fix for pull request finding
  csharp/ql/lib/change-notes/2026-05-20-csharp14-dotnet10.md
Due: none

Add `pragma[nomagic]` to `hasBuildConstraints`
  go/ql/lib/semmle/go/Files.qll
Due: codeql-format, sync-files

C#: Update the mutation definition assignable definition logic to account for implicit assignment of built and user-definied static operator calls.
  csharp/ql/lib/semmle/code/csharp/Assignable.qll
Due: codeql-format, sync-files

C#: Do not use the SSA definition expression for sign of increment and decrement (only use the specialized code, which is already present).
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/rangeanalysis/SignAnalysisSpecific.qll
Due: codeql-format, sync-files

C#: Add data flow testcases for mutation operators.
  csharp/ql/test/library-tests/dataflow/operators/Operator.cs
  csharp/ql/test/library-tests/dataflow/operators/operatorFlow.expected
Due: none

C#: Update expected test output for other tests.
  csharp/ql/test/library-tests/assignables/AssignableDefinition.expected
  csharp/ql/test/library-tests/assignables/GetAnAssignedValue.expected
  csharp/ql/test/library-tests/csharp7/LocalTaintFlow.expected
  csharp/ql/test/library-tests/dataflow/local/DataFlowStep.expected
  csharp/ql/test/library-tests/dataflow/local/TaintTrackingStep.expected
  csharp/ql/test/library-tests/fields/Fields11.expected
Due: none

C#: Add change-note.
  csharp/ql/lib/change-notes/2026-05-19-mutation-operator-dataflow.md
Due: none

C#: Address review comments.
  csharp/ql/lib/change-notes/2026-05-19-mutation-operator-dataflow.md
  csharp/ql/lib/semmle/code/csharp/Assignable.qll
Due: codeql-format, sync-files

C++: Add missing format string part in test.
  cpp/ql/test/library-tests/dataflow/source-sink-tests/sources-and-sinks.cpp
Due: none

C++: Add models for _scanf_s_l, wscanf_s and _wscanf_s_l.
  cpp/ql/lib/semmle/code/cpp/commons/Scanf.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Scanf.qll
  cpp/ql/test/library-tests/dataflow/source-sink-tests/sources-and-sinks.cpp
Due: codeql-format, sync-files

C++: Add models for _fscanf_s_l, fwscanf_s and _fwscanf_s_l.
  cpp/ql/lib/semmle/code/cpp/commons/Scanf.qll
  cpp/ql/test/library-tests/dataflow/source-sink-tests/sources-and-sinks.cpp
Due: codeql-format, sync-files

Update ApprovedCipherMode query and tests
  powershell/ql/lib/semmle/code/powershell/security/cryptography/CryptographyModule.qll
  powershell/ql/src/queries/security/cwe-327/ApprovedCipherMode.ql
  powershell/ql/test/query-tests/security/cwe-327/ApprovedCipherMode/ApprovedCipherMode.expected
  powershell/ql/test/query-tests/security/cwe-327/ApprovedCipherMode/Test.ps1
Due: codeql-format, sync-files

Fix QL formatting
  go/ql/src/experimental/CWE-918/IdnaIpLiteralSmuggle.ql
  go/ql/src/experimental/CWE-918/IdnaIpLiteralSmuggle.qll
Due: codeql-format, sync-files

Add Windows file path tests for `relativize_for_diagnostic`
  shared/tree-sitter-extractor/src/file_paths.rs
Due: none

Shared CFG: update `simpleLeafNode` to exclude those with additional nodes
  shared/controlflow/codeql/controlflow/ControlFlowGraph.qll
Due: codeql-format, sync-files

Shared CFG: allow statements for init and update of for loop
  shared/controlflow/codeql/controlflow/ControlFlowGraph.qll
Due: codeql-format, sync-files

Java: add ForStmt wrapper class
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
Due: codeql-format, sync-files

C#: update ForStmt wrapper class
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraph.qll
Due: codeql-format, sync-files

Address review feedback
  actions/ql/src/Security/CWE-829/UntrustedCheckoutCritical.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutHigh.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutHigh.ql
  actions/ql/src/Security/CWE-829/UntrustedCheckoutMedium.md
  actions/ql/src/Security/CWE-829/UntrustedCheckoutMedium.ql
  actions/ql/src/change-notes/2026-05-14-further-iteration-untrusted-checkout-improvements-alert.md
  actions/ql/src/change-notes/2026-05-14-further-iteration-untrusted-checkout-improvements-helpfile.md
  actions/ql/src/change-notes/2026-05-14-further-iteration-untrusted-checkout-improvements-metadata.md
Due: codeql-format, sync-files

Fix merge conflicts
  actions/ql/src/Security/CWE-829/UntrustedCheckoutCritical.ql
  actions/ql/test/query-tests/Security/CWE-829/UntrustedCheckoutCritical.expected
Due: codeql-format, sync-files

Add Avro MaD models for testing
  java/ql/lib/ext/org.apache.avro.file.model.yml
  java/ql/lib/ext/org.apache.avro.model.yml
  java/ql/lib/ext/org.apache.avro.specific.model.yml
  java/ql/lib/ext/org.apache.avro.util.model.yml
Due: none

Python: recover taint for % format strings
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/library-tests/dataflow/tainttracking/defaultAdditionalTaintStep/test_string.py
Due: codeql-format, sync-files

Python: adjust test expectations We now find an alert on this line as we hope to It is not an alert for _full_ SSRF, though, since that configuration cannot handle multiple substitutions.
  python/ql/test/query-tests/Security/CWE-918-ServerSideRequestForgery/PartialServerSideRequestForgery.expected
Due: none

Python: conversion step for `format_map` and adjust collection test
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/library-tests/dataflow/tainttracking/defaultAdditionalTaintStep-py3/test_string.py
  python/ql/test/library-tests/dataflow/tainttracking/defaultAdditionalTaintStep/test_collections.py
Due: codeql-format, sync-files

Python: reset test expectations
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/ExternalAPIsUsedWithUntrustedData.expected
  python/ql/test/query-tests/Security/CWE-020-ExternalAPIs/UntrustedDataToExternalAPI.expected
  python/ql/test/query-tests/Security/CWE-209-StackTraceExposure/StackTraceExposure.expected
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/NoSqlInjection.expected
Due: none

Python: Make sure all imprecise taint bubbles up
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
  python/ql/test/library-tests/dataflow/tainttracking/defaultAdditionalTaintStep/test_collections.py
Due: codeql-format, sync-files

Python: typo
  python/ql/lib/semmle/python/frameworks/Stdlib.qll
Due: codeql-format, sync-files

Python: extra tests for comprehension
  python/ql/test/library-tests/frameworks/tornado/taint_test.py
Due: none

python: fix test
  python/ql/test/library-tests/frameworks/tornado/taint_test.py
Due: none

C++: drive-by improvement: use non-extending subtyping.
  cpp/ql/lib/semmle/code/cpp/models/implementations/Printf.qll
Due: codeql-format, sync-files

C++: Make it possible for 'getFirstFormatArgumentIndex' to sometimes have no result.
  cpp/ql/lib/semmle/code/cpp/models/implementations/Printf.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/FormattingFunction.qll
Due: codeql-format, sync-files

C++: Add a bunch of vararg related formatting functions that takes a 'va_list' parameter.
  cpp/ql/lib/semmle/code/cpp/models/implementations/Printf.qll
Due: codeql-format, sync-files

C++: Add tests and accept test changes.
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.c
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/funcs/funcsLocal.expected
Due: none

predicate -> abstract class, updated inline expectations
  powershell/ql/src/queries/security/cwe-327/ApprovedCipherMode.ql
  powershell/ql/test/query-tests/security/cwe-327/ApprovedCipherMode/Test.ps1
Due: codeql-format, sync-files

Util: Only compute dense ranks when needed
  shared/util/codeql/util/DenseRank.qll
Due: codeql-format, sync-files

Apply suggestion from @geoffw0
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Due: codeql-format, sync-files

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
