Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

Ruby: Restrict XSS header sinks
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/lib/codeql/ruby/security/XSS.qll
  ruby/ql/test/library-tests/frameworks/ActionController.expected
  ruby/ql/test/query-tests/security/cwe-079/ReflectedXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/app/controllers/foo/bars_controller.rb
Due: codeql-format, sync-files

Apply suggestions from code review
  ruby/ql/lib/codeql/ruby/Concepts.qll
  ruby/ql/src/change-notes/2022-10-14-actiondispatch-response.md
Due: codeql-format, sync-files

Ruby: Update test fixture
  ruby/ql/test/library-tests/modules/modules.expected
Due: none

TarSlip improvements
  python/ql/lib/semmle/python/security/dataflow/TarSlipCustomizations.qll
  python/ql/src/experimental/Security/CWE-022bis/TarSlip.qhelp
  python/ql/src/experimental/Security/CWE-022bis/TarSlip.ql
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_1.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_2.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_3.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_4.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_5.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_6.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_TarSlip_7.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_1.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_10.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_11.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_12.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_13.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_14.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_15.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_16.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_17.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_18.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_19.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_2.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_20.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_21.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_22.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_23.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_24.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_25.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_26.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_27.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_3.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_4.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_5.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_6.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_7.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_8.py
  python/ql/src/experimental/Security/CWE-022bis/examples/TarSlip_9.py
  python/ql/src/experimental/Security/CWE-022bis/examples/archive_malign.tar
  python/ql/src/experimental/Security/CWE-022bis/examples/script.sh
Due: codeql-format, sync-files, qhelp

Update change note for TarSlip vuln
  change-notes/1.26/analysis-python.md
Due: none

Revert "Update change note for TarSlip vuln"
  change-notes/1.26/analysis-python.md
Due: none

Update change note for TarSlip vuln
  python/ql/lib/change-notes/2022-10-17-TarSlipCustomizations-Improv.md
Due: none

replace `getMethod("new").getReturn()` with `getInstance()`
  ruby/ql/lib/codeql/ruby/frameworks/core/Digest.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  java/ql/src/Security/CWE/CWE-441/UnsafeContentUriResolution.java
  java/ql/src/Security/CWE/CWE-441/UnsafeContentUriResolution.qhelp
Due: sync-files, qhelp

Swift: only run Xcode autobuilder on macOS
  swift/BUILD.bazel
  swift/tools/autobuild.sh
Due: none

Improve qhelp example text
  java/ql/src/Security/CWE/CWE-441/UnsafeContentUriResolution.qhelp
Due: sync-files, qhelp

Address alert message style violation
  java/ql/src/Security/CWE/CWE-441/UnsafeContentUriResolution.ql
Due: codeql-format, sync-files

Python: add TODO comments
  python/ql/lib/semmle/python/ApiGraphs.qll
Due: codeql-format, sync-files

python: expand TODO
  python/ql/lib/semmle/python/ApiGraphs.qll
Due: codeql-format, sync-files

Swift: split Xcode autobuild
  swift/xcode-autobuilder/BUILD.bazel
  swift/xcode-autobuilder/XcodeBuildRunner.cpp
  swift/xcode-autobuilder/XcodeBuildRunner.h
  swift/xcode-autobuilder/XcodeProjectParser.cpp
  swift/xcode-autobuilder/XcodeProjectParser.h
  swift/xcode-autobuilder/XcodeTarget.h
  swift/xcode-autobuilder/XcodeWorkspaceParser.cpp
  swift/xcode-autobuilder/XcodeWorkspaceParser.h
  swift/xcode-autobuilder/xcode-autobuilder.cpp
Due: none

Increase precision of the URL(string:relativeTo:) models
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Url.qll
  swift/ql/test/library-tests/dataflow/taint/url.swift
Due: codeql-format, sync-files

Swift: do not rely on CFStringGetLength
  swift/xcode-autobuilder/XcodeProjectParser.cpp
Due: none

Fix test expectations
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
Due: none

add an AdditionalTaintStep class for Ruby
  ruby/ql/lib/codeql/ruby/dataflow/FlowSteps.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
Due: codeql-format, sync-files

add returnsFormatted predicate to PrintfStyleCall (similar to JS)
  ruby/ql/lib/codeql/ruby/security/TaintedFormatStringSpecific.qll
Due: codeql-format, sync-files

Extract private members of specialised generic classes on demand
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/ql/test/kotlin/library-tests/generic-instance-methods/test.expected
  java/ql/test/kotlin/library-tests/generic-instance-methods/test.kt
Due: none

Allow specialised instances of anonymous classes
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/kotlin-extractor/src/main/kotlin/KotlinUsesExtractor.kt
  java/kotlin-extractor/src/main/kotlin/utils/TypeResults.kt
  java/ql/lib/semmle/code/java/Type.qll
  java/ql/test/kotlin/library-tests/private-anonymous-types/test.expected
  java/ql/test/kotlin/library-tests/private-anonymous-types/test.kt
  java/ql/test/kotlin/library-tests/private-anonymous-types/test.ql
Due: codeql-format, sync-files

Add test checking argument <-> parameter matching, and fix superconstructor calls that were missing their argument.
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/reflection/PrintAst.expected
  java/ql/test/kotlin/library-tests/reflection/checkParameterCounts.expected
  java/ql/test/kotlin/library-tests/reflection/checkParameterCounts.ql
Due: codeql-format, sync-files

Swift: extract all `ImplicitConversionExpr`
  swift/extractor/visitors/ExprVisitor.cpp
  swift/extractor/visitors/ExprVisitor.h
  swift/extractor/visitors/VisitorBase.h
Due: none

Use compiler-provided adapter functions when creating a function reference
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/test/kotlin/library-tests/reflection/PrintAst.expected
  java/ql/test/kotlin/library-tests/reflection/reflection.expected
  java/ql/test/kotlin/library-tests/reflection/reflection.kt
Due: none

Accept test changes
  java/ql/test/kotlin/library-tests/classes/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/PrintAst.expected
  java/ql/test/kotlin/library-tests/exprs/exprs.expected
Due: none

address QLDoc style comments
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.ql
Due: codeql-format, sync-files

change use of `toString()` to `getName()`
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.ql
Due: codeql-format, sync-files

fix typo in doc
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.qhelp
Due: sync-files, qhelp

update example with both AES and Blowfish for better clarity
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.swift
Due: sync-files

add false negatives to the test case
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.expected
  swift/ql/test/query-tests/Security/CWE-321/test.swift
Due: sync-files

add a query that detects hardcoded keys
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.qhelp
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.ql
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.swift
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.expected
  swift/ql/test/query-tests/Security/CWE-321/HardcodedEncryptionKey.qlref
  swift/ql/test/query-tests/Security/CWE-321/test.swift
Due: codeql-format, sync-files, qhelp

fix typos in docs and in-code comments
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.qhelp
  swift/ql/src/queries/Security/CWE-321/HardcodedEncryptionKey.ql
Due: codeql-format, sync-files, qhelp

Swift: add `ImplicitConversionExpr` test
  swift/extractor/visitors/ExprVisitor.cpp
  swift/extractor/visitors/ExprVisitor.h
  swift/extractor/visitors/VisitorBase.h
  swift/ql/test/extractor-tests/generated/expr/AnyHashableErasureExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ArchetypeToSuperExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ArrayToPointerExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ClassMetatypeToObjectExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/CollectionUpcastConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/CovariantFunctionConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/CovariantReturnConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/DerivedToBaseExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/DestructureTupleExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/DifferentiableFunctionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/DifferentiableFunctionExtractOriginalExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ErasureExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ExistentialMetatypeToObjectExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ForeignObjectConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/FunctionConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr.expected
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr.ql
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr_getType.ql
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/implicit_conversions.swift
  swift/ql/test/extractor-tests/generated/expr/InOutToPointerExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/InjectIntoOptionalExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/LinearFunctionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/LinearFunctionExtractOriginalExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/LinearToDifferentiableFunctionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/LoadExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/MetatypeConversionExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/PointerToPointerExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ProtocolMetatypeToObjectExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/ReifyPackExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/StringToPointerExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/UnderlyingToOpaqueExpr/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/expr/UnevaluatedInstanceExpr/MISSING_SOURCE.txt
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

move model of printf style calls to StringFormatters.qll
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/frameworks/StringFormatters.qll
  ruby/ql/lib/codeql/ruby/security/TaintedFormatStringSpecific.qll
Due: codeql-format, sync-files

add a returnsFormatted predicate to the printf model, similar to the JS implementation
  ruby/ql/lib/codeql/ruby/frameworks/StringFormatters.qll
Due: codeql-format, sync-files

add a taint-step for format-calls
  ruby/ql/lib/codeql/ruby/frameworks/StringFormatters.qll
  ruby/ql/test/query-tests/security/cwe-079/StoredXSS.expected
  ruby/ql/test/query-tests/security/cwe-079/app/views/foo/stores/show.html.erb
Due: codeql-format, sync-files

refactor the existing taint-step for string interpolation into StringFormatters.qll
  ruby/ql/lib/codeql/ruby/dataflow/FlowSteps.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/TaintTrackingPrivate.qll
  ruby/ql/lib/codeql/ruby/frameworks/StringFormatters.qll
Due: codeql-format, sync-files

Use isFunction
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
Due: none

Swift: Add a test of Location.qll.
  swift/ql/test/library-tests/elements/location/location.expected
  swift/ql/test/library-tests/elements/location/location.ql
  swift/ql/test/library-tests/elements/location/location.swift
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements))
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
