Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^swift/.*\.py

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //swift/codegen/test
        pass_filenames: false

dynamic: more detailed qldoc for CryptographicOperation#getBlockMode()
  javascript/ql/lib/semmle/javascript/internal/ConceptsShared.qll
  python/ql/lib/semmle/python/internal/ConceptsShared.qll
  ruby/ql/lib/codeql/ruby/internal/ConceptsShared.qll
Due: codeql-format, sync-files

JS: add missing qldoc
  javascript/ql/lib/semmle/javascript/Concepts.qll
Due: codeql-format, sync-files

Ruby: add Twirp.expected
  ruby/ql/test/library-tests/frameworks/Twirp/Twirp.expected
Due: none

Note that all interface types are considered comparable as of Go 1.20
  go/ql/lib/semmle/go/Types.qll
  go/ql/test/library-tests/semmle/go/Types/QualifiedNames.expected
  go/ql/test/library-tests/semmle/go/Types/Types.expected
  go/ql/test/library-tests/semmle/go/Types/interface.go
Due: codeql-format, sync-files

Fix typo
  java/ql/src/utils/flowtestcasegenerator/GenerateFlowTestCase.py
Due: none

Implement standard library models for Go 1.20
  go/ql/lib/semmle/go/frameworks/Stdlib.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Bytes.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Errors.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Sync.qll
  go/ql/lib/semmle/go/frameworks/stdlib/Unsafe.qll
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Bytes.go
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Errors.go
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Sync.go
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Unsafe.go
Due: codeql-format, sync-files

Claim Go 1.20 support
  docs/codeql/reusables/supported-versions-compilers.rst
Due: none

Add change note
  go/ql/lib/change-notes/2023-02-15-golang-120.md
Due: none

Update Twirp change note to new style
  go/ql/lib/change-notes/2023-02-01--add-support-for-twirp-framework.md
Due: none

Swift: Correct one of the tests.
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/nsstring.swift
Due: sync-files

Swift: Model NSString.
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsString.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/nsstring.swift
Due: codeql-format, sync-files

Autoformat go
  go/ql/test/library-tests/semmle/go/dataflow/ArrayConversion/main.go
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Bytes.go
Due: none

Fix unsafe test routine name
  go/ql/test/library-tests/semmle/go/frameworks/StdlibTaintFlow/Unsafe.go
Due: none

fix model -2
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsString.qll
Due: codeql-format, sync-files

Swift: Model NSMutableString.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsString.qll
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/nsstring.swift
Due: codeql-format, sync-files

Swift: Model NSObject.
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/NsObject.qll
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
  swift/ql/test/library-tests/dataflow/taint/nsstring.swift
Due: codeql-format, sync-files

test both arguments of getConnection
  java/ql/test/query-tests/security/CWE-798/semmle/tests/HardcodedMSSQLCredentials.java
Due: none

change-notes for this minorAnalysis lib change
  java/ql/lib/change-notes/2023-02-15-mssql-jdbc-hardcoded-credential-api.md
Due: none

Update TimingAttack.qll
  python/ql/src/experimental/semmle/python/security/TimingAttack.qll
Due: codeql-format, sync-files

Update TimingAttackAgainstHeaderValue.ql
  python/ql/src/experimental/Security/CWE-208/TimingAttackAgainstHeaderValue/TimingAttackAgainstHeaderValue.ql
Due: codeql-format, sync-files

Swift: generate raw helpers in synthesized stubs
  swift/.gitignore
  swift/codegen/generators/qlgen.py
  swift/codegen/lib/ql.py
  swift/codegen/templates/ql_stub.mustache
  swift/codegen/test/test_ql.py
  swift/codegen/test/test_qlgen.py
  swift/ql/.generated.list
Due: swift-codegen, swift-codegen-unit-tests

Add C# integration test which uses MSBuild
  csharp/ql/integration-tests/all-platforms/msbuild/Program.cs
  csharp/ql/integration-tests/all-platforms/msbuild/test.csproj
  csharp/ql/integration-tests/all-platforms/msbuild/test.py
Due: none

Change target framework to 4.0 for mono
  csharp/ql/integration-tests/all-platforms/msbuild/Program.cs
  csharp/ql/integration-tests/all-platforms/msbuild/test.csproj
Due: none

Python: Add import regression for if-then-else definitions
  python/ql/test/experimental/import-resolution/if_then_else.py
  python/ql/test/experimental/import-resolution/main.py
Due: none

Python: Handle if-then-else definitions in import resolution
  python/ql/lib/change-notes/2023-02-16-import-if-then-else.md
  python/ql/lib/semmle/python/dataflow/new/internal/ImportResolution.qll
  python/ql/test/experimental/import-resolution/main.py
Due: codeql-format, sync-files

Swift: fix subtle codegen bug on missing files
  swift/codegen/lib/render.py
  swift/codegen/test/test_render.py
  swift/ql/.generated.list
  swift/ql/test/extractor-tests/generated/OtherAvailabilitySpec/MISSING_SOURCE.txt
  swift/ql/test/extractor-tests/generated/PlatformVersionAvailabilitySpec/MISSING_SOURCE.txt
Due: swift-codegen, swift-codegen-unit-tests

JS: fix qldoc
  javascript/ql/lib/semmle/javascript/Concepts.qll
Due: codeql-format, sync-files

Correctly select dotnet platform on arm-based macs
  csharp/scripts/create-extractor-pack.sh
Due: none

Make `msbuild` work on Arm-based Macs
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildActions.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/MsBuildRule.cs
Due: none

Fix missing implementations for C++ tests
  cpp/autobuilder/Semmle.Autobuild.Cpp.Tests/BuildScripts.cs
Due: none

Add ZipSlip/TarSlip query for ruby
  ruby/ql/lib/codeql/ruby/security/ZipSlipCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/ZipSlipQuery.qll
  ruby/ql/src/queries/security/cwe-022/ZipSlip.qhelp
  ruby/ql/src/queries/security/cwe-022/ZipSlip.ql
  ruby/ql/src/queries/security/cwe-022/examples/zip_slip_bad.rb
  ruby/ql/src/queries/security/cwe-022/examples/zip_slip_good.rb
  ruby/ql/test/query-tests/security/cwe-022-ZipSlip/ZipSlip.expected
  ruby/ql/test/query-tests/security/cwe-022-ZipSlip/ZipSlip.qlref
  ruby/ql/test/query-tests/security/cwe-022-ZipSlip/zip_slip.rb
Due: codeql-format, sync-files, qhelp

Go: changenote grammar tweaks
  go/ql/lib/CHANGELOG.md
  go/ql/lib/change-notes/released/0.4.3.md
Due: none

Ruby: improve encoding related messages
  ruby/extractor/src/diagnostics.rs
  ruby/extractor/src/main.rs
Due: none

Python: Accept change to `WeakFilePermissions.expected`
  python/ql/test/query-tests/Security/CWE-732-WeakFilePermissions/WeakFilePermissions.expected
Due: none
