Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

Rust: adapt upgrade/downgrade scripts to new hash
  rust/downgrades/b41e55c0dba14a139d01dbee713aca5efe5b818a/downgrade.ql
  rust/downgrades/b41e55c0dba14a139d01dbee713aca5efe5b818a/old.dbscheme
  rust/downgrades/b41e55c0dba14a139d01dbee713aca5efe5b818a/rust.dbscheme
  rust/downgrades/b41e55c0dba14a139d01dbee713aca5efe5b818a/upgrade.properties
  rust/ql/lib/upgrades/319c933d9615ccf40f363548cafd51d08c74a534/rust.dbscheme
Due: codeql-format, sync-files

Modernize signature mismatch
  python/ql/src/Functions/SignatureOverriddenMethod.ql
Due: codeql-format, sync-files

Update alert messages and choose one witness
  python/ql/src/Functions/SignatureOverriddenMethod.ql
Due: codeql-format, sync-files

Add shared LocOption module for optional types with locations
  shared/util/codeql/util/Option.qll
Due: codeql-format, sync-files

Add LocOption2 for types with `getLocation`.
  shared/util/codeql/util/Option.qll
Due: codeql-format, sync-files

Include conditional alert messages for various cases
  python/ql/src/Functions/SignatureOverriddenMethod.ql
Due: codeql-format, sync-files

Update tests, update alert messages
  python/ql/src/Functions/IncorrectlyOverriddenMethod.ql
  python/ql/src/Functions/SignatureOverriddenMethod.ql
  python/ql/test/query-tests/Functions/overriding/SignatureOverriddenMethod.expected
  python/ql/test/query-tests/Functions/overriding/SignatureOverriddenMethod.qlref
  python/ql/test/query-tests/Functions/overriding/test.py
Due: codeql-format, sync-files

Add additional test cases
  python/ql/src/Functions/SignatureOverriddenMethod.ql
  python/ql/test/query-tests/Functions/overriding/SignatureOverriddenMethod.expected
  python/ql/test/query-tests/Functions/overriding/test.py
Due: codeql-format, sync-files

Updae other test output
  python/ql/test/query-tests/Functions/general/SignatureOverriddenMethod.expected
  python/ql/test/query-tests/Functions/overriding/WrongNameForArgumentInCall.expected
Due: none

Update documentation
  python/ql/src/Functions/SignatureOverriddenMethod.py
  python/ql/src/Functions/SignatureOverriddenMethod.qhelp
Due: sync-files, qhelp

Add changenote.+ fix typo
  python/ql/src/Functions/SignatureOverriddenMethod.qhelp
  python/ql/src/change-notes/2025-08-19-signature-mismatch.md
Due: sync-files, qhelp

Rust: accept test changes
  rust/ql/test/extractor-tests/macro-expansion/PrintAst.expected
  rust/ql/test/query-tests/security/CWE-825/AccessAfterLifetime.expected
Due: none

Rust: fix `old.dbscheme` in downgrade script
  rust/downgrades/b41e55c0dba14a139d01dbee713aca5efe5b818a/old.dbscheme
Due: none

Bazel: do not force `lld` and fix `platforms` warning
  .bazelrc
  MODULE.bazel
Due: buildifier

Rust: update README to remove experimental warning
  rust/README.md
Due: none

Update python/ql/src/Functions/SignatureOverriddenMethod.ql
  python/ql/src/Functions/SignatureOverriddenMethod.ql
Due: codeql-format, sync-files

Promote IncorrectExceptOrder. However, we lose some results due to not considering builtin/stdlib types.
  python/ql/src/Exceptions/IncorrectExceptOrder.qhelp
  python/ql/src/Exceptions/IncorrectExceptOrder.ql
Due: codeql-format, sync-files, qhelp

Add extra Customizations files
  cpp/ql/lib/Customizations.qll
  cpp/ql/lib/cpp.qll
  rust/ql/lib/Customizations.qll
  rust/ql/lib/rust.qll
  swift/ql/lib/Customizations.qll
  swift/ql/lib/swift.qll
Due: codeql-format, sync-files

Format Customizations.qll
  cpp/ql/lib/Customizations.qll
  rust/ql/lib/Customizations.qll
  swift/ql/lib/Customizations.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  cpp/ql/lib/Customizations.qll
  rust/ql/lib/Customizations.qll
  swift/ql/lib/Customizations.qll
Due: codeql-format, sync-files

C#: Address review comments.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
Due: codeql-format, sync-files

C++: Rename 'lambda' to 'virtual'.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowDispatch.qll
Due: codeql-format, sync-files

CS: removed dead links from LDAPInjection qhelp
  csharp/ql/src/Security Features/CWE-090/LDAPInjection.qhelp
Due: sync-files, qhelp

CS: added extra guidance in recommendation section for LDAPInjection
  csharp/ql/src/Security Features/CWE-090/LDAPInjection.qhelp
Due: sync-files, qhelp

Add overlay builtins to python dbscheme
  config/dbscheme-fragments.json
  python/extractor/semmle/dbscheme.template
  python/ql/lib/semmlecode.python.dbscheme
Due: none

Turn on overlay support in codeql-extractor.yml
  python/codeql-extractor.yml
Due: none

Enable overlay compilation in lib/qlpack.yml
  python/ql/lib/qlpack.yml
Due: none

Add database upgrade/downgrade scripts
  python/downgrades/6a1f497168da2f43828161d3c86db7d4c94c2b53/old.dbscheme
  python/downgrades/6a1f497168da2f43828161d3c86db7d4c94c2b53/semmlecode.python.dbscheme
  python/downgrades/6a1f497168da2f43828161d3c86db7d4c94c2b53/upgrade.properties
  python/ql/lib/upgrades/5af903da088e3746aa283700a43a779302453523/old.dbscheme
  python/ql/lib/upgrades/5af903da088e3746aa283700a43a779302453523/semmlecode.python.dbscheme
  python/ql/lib/upgrades/5af903da088e3746aa283700a43a779302453523/upgrade.properties
Due: none

Support CODEQL_PATH_TRANSFORMER env var in python path renamer
  python/extractor/semmle/path_rename.py
  python/extractor/tests/test_use_projectlayout.py
Due: none

Python extractor: in overlay mode, traverse only changed files
  python/extractor/semmle/traverser.py
Due: none

Write overlay metadata at end of extraction.
  python/extractor/semmle/worker.py
Due: none

Discard predicates for dbscheme elements with direct or indirect location links in dbscheme.
  python/ql/lib/python.qll
  python/ql/lib/semmle/python/Overlay.qll
Due: codeql-format, sync-files

Add synthetic data to dbscheme.stats for `databaseMetadata`/`overlayChangedFiles`
  python/ql/lib/semmlecode.python.dbscheme.stats
Due: none

Add changenotes customizations addition
  cpp/ql/src/change-notes/2025-08-20-add-customizations.md
  rust/ql/src/change-notes/2025-08-20-add-customizations.md
  swift/ql/src/change-notes/2025-08-20-add-customizations.md
Due: none

Crypto: Adding tests for reuse nonce query for JAVA/JCA.
  java/ql/test/experimental/query-tests/quantum/NonceReuse/NonceReuse.expected
  java/ql/test/experimental/query-tests/quantum/NonceReuse/NonceReuse.qlref
  java/ql/test/experimental/query-tests/quantum/NonceReuse/Test.java
Due: none

Crypto: Copilot suggested code changes.
  java/ql/test/experimental/query-tests/quantum/NonceReuse/NonceReuse.expected
  java/ql/test/experimental/query-tests/quantum/NonceReuse/Test.java
Due: none

C#: Address more review comments.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
Due: codeql-format, sync-files

Java: add tests for compact source files
  java/ql/test/library-tests/compact-source-files/MethodInCompactSource.expected
  java/ql/test/library-tests/compact-source-files/MethodInCompactSource.ql
  java/ql/test/library-tests/compact-source-files/PrintAst.expected
  java/ql/test/library-tests/compact-source-files/Test.java
Due: codeql-format, sync-files

Replace complex wrapper classes with MaD
  javascript/ql/lib/ext/apollo-server.model.yml
  javascript/ql/lib/ext/cors.model.yml
  javascript/ql/lib/semmle/javascript/frameworks/Cors.qll
  javascript/ql/lib/semmle/javascript/security/dataflow/CorsMisconfigurationForCredentialsCustomizations.qll
Due: codeql-format, sync-files

Update java/ql/src/Violations of Best Practice/Undesirable Calls/CallsToSystemExit.ql
  java/ql/src/Violations of Best Practice/Undesirable Calls/CallsToSystemExit.ql
Due: codeql-format, sync-files

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
