Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

C++: add change note for VLAs
  cpp/ql/lib/change-notes/2025-04-14-variable-length-arrays.md
Due: none

C++: add upgrade and downgrade scripts
  cpp/downgrades/0f0a390468a5eb43d1dc72937c028070b106bf53/old.dbscheme
  cpp/downgrades/0f0a390468a5eb43d1dc72937c028070b106bf53/semmlecode.cpp.dbscheme
  cpp/downgrades/0f0a390468a5eb43d1dc72937c028070b106bf53/upgrade.properties
  cpp/ql/lib/upgrades/e594389175c098d7225683d0fd8cefcc47d84bc1/old.dbscheme
  cpp/ql/lib/upgrades/e594389175c098d7225683d0fd8cefcc47d84bc1/semmlecode.cpp.dbscheme
  cpp/ql/lib/upgrades/e594389175c098d7225683d0fd8cefcc47d84bc1/upgrade.properties
Due: none

Rust: Add model for str.trim and as_bytes.
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-core.model.yml
  rust/ql/test/query-tests/security/CWE-328/WeakSensitiveDataHashing.expected
  rust/ql/test/query-tests/security/CWE-328/test.rs
Due: none

C#: Adjust comments and remove compilation warnings.
  csharp/autobuilder/Semmle.Autobuild.Shared/Project.cs
Due: none

Rust: Make str / String models consistent.
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-alloc.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-core.model.yml
  rust/ql/test/query-tests/security/CWE-328/WeakSensitiveDataHashing.expected
Due: none

Rust: Other tests affected.
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
Due: none

Added test cases for `firebase` both client and server sides.
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/firebase-client.js
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/CodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/HeuristicSourceCodeInjection.expected
  javascript/ql/test/query-tests/Security/CWE-094/CodeInjection/firebase-server.js
Due: none

Shared: Remove --with-mixed-summaries logic.
  misc/scripts/models-as-data/generate_flow_model.py
Due: none

Shared: Remove the backwards compatbility flag.
  misc/scripts/models-as-data/generate_flow_model.py
Due: none

Shared: Use the CaptureSummaryModels instead of CaptureMixedSummaryModels.
  misc/scripts/models-as-data/generate_flow_model.py
Due: none

Shared: Remove the --with-mixed-neutrals logic.
  misc/scripts/models-as-data/generate_flow_model.py
Due: none

C++: update stats file
  cpp/ql/lib/semmlecode.cpp.dbscheme.stats
Due: none

actions: Fix spelling error in UnmaskedSecretExposure.md
  actions/ql/src/Security/CWE-312/UnmaskedSecretExposure.md
Due: none

Rust: Make some summaries value type.
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-alloc.model.yml
  rust/ql/lib/codeql/rust/frameworks/stdlib/lang-core.model.yml
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
Due: none

Partially revert "Rust: fix compilation errors"
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Rust: crate graph: type variables
  rust/extractor/src/crate_graph.rs
  rust/ql/test/extractor-tests/crate_graph/module.rs
  rust/ql/test/extractor-tests/crate_graph/modules.expected
Due: rust-lint

Rust: crate graph: generic parameters
  rust/extractor/src/crate_graph.rs
  rust/ql/test/extractor-tests/crate_graph/module.rs
  rust/ql/test/extractor-tests/crate_graph/modules.expected
  rust/ql/test/extractor-tests/crate_graph/modules.ql
Due: codeql-format, sync-files, rust-lint

Rust: remove unreachable case
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Rust: replace singleton vectors with Option
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Rust: get rid of const_or_function
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Rust: avoid duplication for functions and methods
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Rust: crate graph: resolve bound type variablesp
  rust/extractor/src/crate_graph.rs
  rust/ql/lib/codeql/rust/elements/internal/LifetimeImpl.qll
Due: codeql-format, sync-files, rust-codegen, rust-lint

Rust: update expected output
  rust/ql/test/extractor-tests/generated/BreakExpr/BreakExpr.expected
  rust/ql/test/extractor-tests/generated/BreakExpr/BreakExpr_getExpr.expected
  rust/ql/test/extractor-tests/generated/BreakExpr/BreakExpr_getLifetime.expected
  rust/ql/test/extractor-tests/generated/ContinueExpr/ContinueExpr_getLifetime.expected
  rust/ql/test/extractor-tests/generated/Label/Label_getLifetime.expected
  rust/ql/test/extractor-tests/generated/SelfParam/SelfParam_getLifetime.expected
  rust/ql/test/extractor-tests/utf8/ast.expected
  rust/ql/test/library-tests/controlflow/BasicBlocks.expected
  rust/ql/test/library-tests/controlflow/Cfg.expected
  rust/ql/test/library-tests/dataflow/local/DataFlowStep.expected
Due: rust-codegen

Rust: crate graph: extract associated types
  rust/extractor/src/crate_graph.rs
Due: rust-lint

Added `firebase` as `MaD`
  javascript/ql/lib/ext/firebase.model.yml
  javascript/ql/lib/semmle/javascript/frameworks/Firebase.qll
Due: codeql-format, sync-files

Actions: Fix change note newline
  actions/ql/src/change-notes/2025-04-14-excessive-secrets-exposure-security-severity.md
Due: none

PS: Make type names lower case.
  powershell/ql/lib/semmle/code/powershell/frameworks/System/model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/SystemManagementAutomationScriptBlock/model.yml
Due: none

PS: Delete redundant files.
  powershell/ql/lib/semmle/code/powershell/frameworks/MicrosoftWin32Registry/model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/SystemEnvironment/model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/SystemIOFile/model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/SystemIOFileInfo/model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/SystemIOFileStream/model.yml
Due: none

PS: Fix more problems in MaD rows for sources.
  powershell/ql/lib/semmle/code/powershell/frameworks/MicrosoftWin32/model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/System/model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/SystemIO/model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/SystemManagementAutomationEngineIntrinsics/model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/SystemManagementAutomationPowerShell/model.yml
  powershell/ql/lib/semmle/code/powershell/frameworks/SystemNetSockets/model.yml
Due: none

PS: Make remote flow sources flow sources.
  powershell/ql/lib/semmle/code/powershell/dataflow/flowsources/Remote.qll
Due: codeql-format, sync-files

PS: Add an inline expectations test library for flow sources.
  powershell/ql/test/TestUtilities/InlineFlowSourceTest.qll
Due: codeql-format, sync-files

PS: Add tests for flow sources.
  powershell/ql/test/library-tests/frameworks/microsoft_powershell/test.expected
  powershell/ql/test/library-tests/frameworks/microsoft_powershell/test.ps1
  powershell/ql/test/library-tests/frameworks/microsoft_powershell/test.ql
  powershell/ql/test/library-tests/frameworks/microsoft_win32/test.expected
  powershell/ql/test/library-tests/frameworks/microsoft_win32/test.ps1
  powershell/ql/test/library-tests/frameworks/microsoft_win32/test.ql
  powershell/ql/test/library-tests/frameworks/system/test.expected
  powershell/ql/test/library-tests/frameworks/system/test.ps1
  powershell/ql/test/library-tests/frameworks/system/test.ql
  powershell/ql/test/library-tests/frameworks/system_io/test.expected
  powershell/ql/test/library-tests/frameworks/system_io/test.ps1
  powershell/ql/test/library-tests/frameworks/system_io/test.ql
  powershell/ql/test/library-tests/frameworks/system_net_sockets/test.expected
  powershell/ql/test/library-tests/frameworks/system_net_sockets/test.ps1
  powershell/ql/test/library-tests/frameworks/system_net_sockets/test.ql
Due: codeql-format, sync-files

Reimplement EC, MAC, key creation logic + consumer
  java/ql/lib/experimental/Quantum/JCA.qll
  java/ql/lib/experimental/Quantum/Language.qll
  java/ql/src/experimental/Quantum/TestCipher.ql
  shared/cryptography/codeql/cryptography/Model.qll
Due: codeql-format, sync-files

Shared: Re-factor the model generator and put the heuristic queries in its own module.
  shared/mad/codeql/mad/modelgenerator/internal/ModelGeneratorImpl.qll
Due: codeql-format, sync-files

Limit size of allowImplicitRead for performance
  python/ql/src/Variables/LoopVariableCapture/LoopVariableCaptureQuery.qll
Due: codeql-format, sync-files

C#/Java/Rust: Use Mixed flow from capture summary models queries and adjust other queries to the re-factored implementation.
  csharp/ql/src/utils/modelgenerator/CaptureMixedNeutralModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureMixedSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSinkModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSourceModels.ql
  csharp/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  csharp/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPartialPath.ql
  csharp/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
  java/ql/src/utils/modelgenerator/CaptureMixedNeutralModels.ql
  java/ql/src/utils/modelgenerator/CaptureMixedSummaryModels.ql
  java/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  java/ql/src/utils/modelgenerator/CaptureSinkModels.ql
  java/ql/src/utils/modelgenerator/CaptureSourceModels.ql
  java/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  java/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPartialPath.ql
  java/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
  rust/ql/src/utils/modelgenerator/CaptureMixedNeutralModels.ql
  rust/ql/src/utils/modelgenerator/CaptureMixedSummaryModels.ql
  rust/ql/src/utils/modelgenerator/CaptureNeutralModels.ql
  rust/ql/src/utils/modelgenerator/CaptureSinkModels.ql
  rust/ql/src/utils/modelgenerator/CaptureSourceModels.ql
  rust/ql/src/utils/modelgenerator/CaptureSummaryModels.ql
  rust/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPartialPath.ql
  rust/ql/src/utils/modelgenerator/debug/CaptureSummaryModelsPath.ql
Due: codeql-format, sync-files

C#: Re-factor tests to use the new implementations.
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureNeutralModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSourceModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.ql
Due: codeql-format, sync-files

C#: Rename some of the model generator tests.
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicNeutralModels.expected
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicNeutralModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicNeutralModels.ql
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicSummaryModels.expected
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicSummaryModels.ext.yml
  csharp/ql/test/utils/modelgenerator/dataflow/CaptureHeuristicSummaryModels.ql
Due: codeql-format, sync-files

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
