Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel:buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

C#: Add a SQL injection test case for ASP.NET.
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.cs
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
  csharp/ql/test/query-tests/Security Features/CWE-089/options
Due: none

C#: Add abstract controller remote flow source example.
  csharp/ql/test/library-tests/dataflow/flowsources/aspremote/AspRemoteFlowSource.cs
  csharp/ql/test/library-tests/frameworks/microsoft/AspNetCore.cs
Due: none

C#: Remove requirement that a controller is not allowed to be abstract.
  csharp/ql/lib/semmle/code/csharp/frameworks/microsoft/AspNetCore.qll
Due: codeql-format, sync-files

C#: Update expected test output.
  csharp/ql/test/library-tests/dataflow/flowsources/aspremote/aspRemoteFlowSource.expected
  csharp/ql/test/library-tests/frameworks/microsoft/AspNetCore.expected
  csharp/ql/test/query-tests/Security Features/CWE-089/SqlInjection.expected
Due: none

Add missing attributes
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp-new.rst
Due: none

Java: Reveal false negative in test
  java/ql/test/query-tests/security/CWE-927/ImplicitPendingIntentsTest.expected
  java/ql/test/query-tests/security/CWE-927/ImplicitPendingIntentsTest.java
Due: none

Java: trivial result set re-order
  java/ql/test/query-tests/security/CWE-927/ImplicitPendingIntentsTest.expected
Due: none

Java: use MISSING inline annotation
  java/ql/test/query-tests/security/CWE-927/ImplicitPendingIntentsTest.expected
  java/ql/test/query-tests/security/CWE-927/ImplicitPendingIntentsTest.java
Due: none

C#: Add change-note.
  csharp/ql/lib/change-notes/2024-08-21-abstract-asp-controller.md
Due: none

C#: Change reporting location of partial methods
  csharp/extractor/Semmle.Extraction.CSharp/Entities/OrdinaryMethod.cs
  csharp/ql/test/library-tests/partial/MethodIsPartial.expected
  csharp/ql/test/library-tests/partial/Partial1.expected
  csharp/ql/test/library-tests/partial/Partial2.expected
  csharp/ql/test/library-tests/partial/PartialMethodBody.expected
  csharp/ql/test/library-tests/partial/PrintAst.expected
Due: none

Give clearer example of multiple query predicates in one ql file
  docs/prepare-db-upgrade.md
Due: none

Remove ProcAttr models
  go/ql/lib/ext/os.model.yml
  go/ql/lib/ext/syscall.model.yml
Due: none

Update package list in change note
  go/ql/lib/change-notes/2024-08-12-add-environment-models.md
Due: none

Add model from older versions of caarlos0/env
  go/ql/lib/ext/github.com.caarlos0.env.model.yml
Due: none

Alphabetize models
  go/ql/lib/ext/github.com.gobuffalo.envy.model.yml
Due: none

Fix test cases
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/environment/test.go
Due: none

Fix stub
  go/ql/test/library-tests/semmle/go/dataflow/flowsources/local/environment/vendor/github.com/caarlos0/env/stub.go
Due: none

Add change note
  csharp/ql/lib/change-notes/2024-08-21-partial-methods.md
Due: none

Ruby: Remove two redundant checks
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

Ruby: Add another array flow test
  ruby/ql/test/library-tests/dataflow/array-flow/array-flow.expected
  ruby/ql/test/library-tests/dataflow/array-flow/array_flow.rb
  ruby/ql/test/library-tests/dataflow/array-flow/type-tracking-array-flow.expected
Due: none

Ruby: Experiment
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C#: Add spaces around em dash in changelog note
  csharp/ql/src/CHANGELOG.md
  csharp/ql/src/change-notes/released/1.0.6.md
Due: none

Ruby: Update expected test output
  ruby/ql/test/library-tests/dataflow/erb/erb.expected
  ruby/ql/test/library-tests/dataflow/global/Flow.expected
  ruby/ql/test/library-tests/dataflow/params/params-flow.expected
  ruby/ql/test/query-tests/security/cwe-506/HardcodedDataInterpretedAsCode.expected
  ruby/ql/test/query-tests/security/cwe-601/UrlRedirect.expected
Due: none

Wording and typo
  docs/codeql/codeql-language-guides/customizing-library-models-for-go.rst
Due: none

Change example to net/http Request::FormValue
  docs/codeql/codeql-language-guides/customizing-library-models-for-go.rst
Due: none

Address review comment
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPublic.qll
Due: codeql-format, sync-files

Java: add test case
  java/ql/test/library-tests/dataflow/implicit-read/A.java
  java/ql/test/library-tests/dataflow/implicit-read/test.expected
  java/ql/test/library-tests/dataflow/implicit-read/test.ql
Due: codeql-format, sync-files

Try to fix packages in frameworks coverage
  go/ql/lib/semmle/go/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

JS: Update new xsjs-specific code to respect TEarlyStageNode
  javascript/ql/lib/semmle/javascript/NodeJS.qll
Due: codeql-format, sync-files

JS: Update test output
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/Xss.expected
  javascript/ql/test/query-tests/Security/CWE-079/DomBasedXss/XssWithAdditionalSources.expected
  javascript/ql/test/query-tests/Security/CWE-312/BuildArtifactLeak.expected
  javascript/ql/test/query-tests/Security/CWE-730/RegExpInjection.expected
  javascript/ql/test/query-tests/Security/CWE-798/HardcodedCredentials.expected
Due: none

Wording
  docs/codeql/codeql-language-guides/customizing-library-models-for-go.rst
Due: none

`fixed-version:` example
  docs/codeql/codeql-language-guides/customizing-library-models-for-go.rst
Due: none

Fix code block
  docs/codeql/codeql-language-guides/customizing-library-models-for-go.rst
Due: none

Shared: Add a copy of the existing C# Content Dataflow implementation.
  shared/dataflow/codeql/dataflow/internal/ContentDataFlowImpl.qll
Due: codeql-format, sync-files

C#: Add aggregated compiler and extractor message counts to extraction telemetry query
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Analyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction/BUILD.bazel
  csharp/extractor/Semmle.Extraction/Entities/ExtractionMessage.cs
  csharp/extractor/Semmle.Extraction/Semmle.Extraction.csproj
  csharp/ql/integration-tests/all-platforms/standalone/Diag.expected
  csharp/ql/integration-tests/all-platforms/standalone/Diag.ql
  csharp/ql/integration-tests/all-platforms/standalone_winforms/CompilationInfo.ql
  csharp/ql/src/Telemetry/ExtractorInformation.ql
Due: buildifier, codeql-format, sync-files

Shared: Make ContentDataFlow reusable.
  shared/dataflow/codeql/dataflow/internal/ContentDataFlowImpl.qll
Due: codeql-format, sync-files

C#: Use the shared content flow implementation.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ContentDataFlow.qll
Due: codeql-format, sync-files

Add a pull request template
  .github/pull_request_template.md
Due: none

C#: Remove redundant imports.
  shared/dataflow/codeql/dataflow/internal/ContentDataFlowImpl.qll
Due: codeql-format, sync-files

JS: Port step for dynamic imports
  javascript/ql/lib/semmle/javascript/Promises.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/AllFlowSummaries.qll
  javascript/ql/lib/semmle/javascript/internal/flow_summaries/DynamicImportStep.qll
Due: codeql-format, sync-files

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
