Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

Update javascript/ql/lib/change-notes/2023-07-28-mad-log-injection.md
  javascript/ql/lib/change-notes/2023-07-28-mad-log-injection.md
Due: none

C++: Add IR test that shows dataflow regression after frontend update
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.c
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Due: none

Java: tests for automodel framework mode candidate extraction
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractCandidates/AutomodelFrameworkModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractCandidates/AutomodelFrameworkModeExtractCandidates.qlref
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractCandidates/com/github/codeql/test/NonPublicClass.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractCandidates/com/github/codeql/test/PublicClass.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractCandidates/java/nio/file/Files.java
Due: none

Java: tests for automodel application mode candidate extraction
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractCandidates/AutomodelApplicationModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractCandidates/AutomodelApplicationModeExtractCandidates.qlref
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractCandidates/Test.java
Due: none

Java: tests for automodel application mode positive example extraction
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractPositiveExamples/AutomodelApplicationModeExtractPositiveExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractPositiveExamples/AutomodelApplicationModeExtractPositiveExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractPositiveExamples/Test.java
Due: none

Java: update extraction query tests after merging PR #13747
  java/ql/src/Telemetry/AutomodelSharedCharacteristics.qll
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractCandidates/Test.java
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractNegativeExamples/AutomodelApplicationModeExtractNegativeExamples.expected
Due: codeql-format, sync-files

Java: merge framework mode tests into one
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractCandidates/java/nio/file/Files.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractPositiveExamples/AutomodelFrameworkModeExtractPositiveExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractPositiveExamples/java/nio/file/Files.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractCandidates.qlref
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractNegativeExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractNegativeExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractPositiveExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractPositiveExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/com/github/codeql/test/NonPublicClass.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicClass.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/java/io/File.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/java/nio/file/Files.java
Due: none

Java: tests for automodel framework mode negative example extraction
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractNegativeExamples/AutomodelFrameworkModeExtractNegativeExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractNegativeExamples/AutomodelFrameworkModeExtractNegativeExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractNegativeExamples/java/io/File.java
Due: none

Java: tests for automodel application mode, test that local calls are not candidates
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractCandidates/Test.java
Due: none

Java: merge application mode tests into one
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractCandidates/AutomodelApplicationModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractNegativeExamples/AutomodelApplicationModeExtractNegativeExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractNegativeExamples/Test.java
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractPositiveExamples/AutomodelApplicationModeExtractPositiveExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractPositiveExamples/Test.java
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractCandidates.qlref
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractNegativeExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractNegativeExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractPositiveExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractPositiveExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/Test.java
Due: none

Java: tests for automodel application mode negative example extraction
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractNegativeExamples/AutomodelApplicationModeExtractNegativeExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractNegativeExamples/AutomodelApplicationModeExtractNegativeExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtractNegativeExamples/Test.java
Due: none

Java: tests for automodel framework mode positive example extraction
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractPositiveExamples/AutomodelFrameworkModeExtractPositiveExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractPositiveExamples/AutomodelFrameworkModeExtractPositiveExamples.qlref
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtractPositiveExamples/java/nio/file/Files.java
Due: none

Java: Automodel package private test case
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicClass.java
Due: none

Java: Automodel tests: update after merging #13818
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/AutomodelApplicationModeExtractNegativeExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelApplicationModeExtraction/Test.java
Due: none

Java: Drive-by: fix oversight in #13823
  java/ql/src/Telemetry/AutomodelFrameworkModeCharacteristics.qll
Due: codeql-format, sync-files

Java: update text expectations after merging #13823
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractNegativeExamples.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicClass.java
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/java/io/File.java
Due: none

Java: add automodel framework mode test case for newly supported interface-method parameter extraction
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/AutomodelFrameworkModeExtractCandidates.expected
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/com/github/codeql/test/PublicInterface.java
Due: none

Java: fix a comment
  java/ql/test/query-tests/Telemetry/AutomodelFrameworkModeExtraction/java/nio/file/Files.java
Due: none

Java: format
  java/ql/src/Telemetry/AutomodelFrameworkModeCharacteristics.qll
Due: codeql-format, sync-files

Java: Add change note.
  java/ql/src/change-notes/2023-08-01-maybebrokencrypto-barrier.md
Due: none

Formatting
  java/ql/src/experimental/Security/CWE/CWE-078/CommandInjectionRuntimeExec.ql
  java/ql/src/experimental/Security/CWE/CWE-078/CommandInjectionRuntimeExec.qll
  java/ql/src/experimental/Security/CWE/CWE-078/CommandInjectionRuntimeExecLocal.ql
Due: codeql-format, sync-files

Swift: QLDoc TupleType.
  swift/ql/lib/codeql/swift/elements/type/TupleType.qll
Due: codeql-format, sync-files, swift-codegen

Java: Add WithoutElement model for List.clear and add appropriate test.
  java/ql/lib/ext/java.util.model.yml
  java/ql/test/library-tests/dataflow/collections/B.java
Due: none

Java: Add MaD support for With[out]Element.
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
Due: codeql-format, sync-files

Java: Re-factor a model to use WithElement (this model is already tested in collections/B.java).
  java/ql/lib/ext/java.util.model.yml
Due: none

Java: Update MaD internal documentation.
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

Java: Update telemetry test expected output.
  java/ql/test/query-tests/Metrics/GeneratedVsManualCoverage/TopJdkApisTest/TopJdkApisTest.expected
Due: none

Java: Update test comments to reflect the MaD syntax.
  java/ql/test/library-tests/dataflow/collections/B.java
Due: none

Java: Update MaD external documentation related to With and Without Element.
  docs/codeql/codeql-language-guides/customizing-library-models-for-java.rst
Due: none

C#: Turn RuntimeVersion into a record type.
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Runtime.cs
Due: none

C#: Base the Concurrency query test cases on stubs.
  csharp/ql/test/query-tests/Concurrency/FutileSyncOnField/options
  csharp/ql/test/query-tests/Concurrency/LockThis/options
  csharp/ql/test/query-tests/Concurrency/LockedWait/options
  csharp/ql/test/query-tests/Concurrency/SynchSetUnsynchGet/options
  csharp/ql/test/query-tests/Concurrency/UnsafeLazyInitialization/options
  csharp/ql/test/query-tests/Concurrency/UnsynchronizedStaticAccess/options
Due: none

C#: Base the Architecture query test cases on stubs.
  csharp/ql/test/query-tests/Architecture/Refactoring Opportunities/FeatureEnvy/options
  csharp/ql/test/query-tests/Architecture/Refactoring Opportunities/InappropriateIntimacy/options
Due: none

C#: Base the CSI query test cases on stubs.
  csharp/ql/test/query-tests/CSI/CompareIdenticalValues/options
Due: none

C#: Base the Configuration query test cases on stubs.
  csharp/ql/test/query-tests/Configuration/PasswordInConfigurationFile/options
Due: none

C#: Base the Bad Practices query test cases on stubs.
  csharp/ql/test/query-tests/Bad Practices/Comments/CommentedOutCode/options
  csharp/ql/test/query-tests/Bad Practices/Comments/TodoComments/options
  csharp/ql/test/query-tests/Bad Practices/Declarations/EmptyInterface/options
  csharp/ql/test/query-tests/Bad Practices/Declarations/LocalScopeVariableShadowsMember/options
  csharp/ql/test/query-tests/Bad Practices/Declarations/NoConstantsOnly/options
  csharp/ql/test/query-tests/Bad Practices/Declarations/TooManyRefParameters/options
  csharp/ql/test/query-tests/Bad Practices/EmptyCatchBlock/options
  csharp/ql/test/query-tests/Bad Practices/Implementation Hiding/AbstractToConcreteCollection/options
  csharp/ql/test/query-tests/Bad Practices/Implementation Hiding/ExposeRepresentation/options
  csharp/ql/test/query-tests/Bad Practices/Implementation Hiding/StaticArray/options
  csharp/ql/test/query-tests/Bad Practices/Naming Conventions/ConfusingMethodNames/options
  csharp/ql/test/query-tests/Bad Practices/Naming Conventions/VariableNameTooShort/options
  csharp/ql/test/query-tests/Bad Practices/VirtualCallInConstructorOrDestructor/options
Due: none

Java: Add some unit tests for sourceModelKindConfig.
  java/ql/test/library-tests/dataflow/threat-models/Empty.java
  java/ql/test/library-tests/dataflow/threat-models/threat-models1.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models1.ql
  java/ql/test/library-tests/dataflow/threat-models/threat-models2.expected
  java/ql/test/library-tests/dataflow/threat-models/threat-models2.ext.yml
  java/ql/test/library-tests/dataflow/threat-models/threat-models2.ql
Due: codeql-format, sync-files

Java: Add threat model configuration related extensible predicates and some initial tuples.
  java/ql/lib/ext/threatmodels/supported-threat-models.model.yml
  java/ql/lib/ext/threatmodels/threat-model-grouping.model.yml
  java/ql/lib/qlpack.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlowConfiguration.qll
Due: codeql-format, sync-files

Update go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowNodes.qll
Due: codeql-format, sync-files

Dataflow: Autoformat/indent.
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/DataFlowImplCommon.qll
Due: codeql-format, sync-files

Java: Move data flow lib.
  java/ql/lib/qlpack.yml
  shared/dataflow/codeql/dataflow/DataFlow.qll
  shared/dataflow/codeql/dataflow/DataFlowImpl.qll
  shared/dataflow/codeql/dataflow/DataFlowImplCommon.qll
  shared/dataflow/codeql/dataflow/DataFlowParameter.qll
  shared/dataflow/qlpack.yml
Due: codeql-format, sync-files
