Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

fix Gin tests
  go/ql/test/library-tests/semmle/go/frameworks/Gin/Gin
  go/ql/test/library-tests/semmle/go/frameworks/Gin/Gin.expected
  go/ql/test/library-tests/semmle/go/frameworks/Gin/Gin.go
  go/ql/test/library-tests/semmle/go/frameworks/Gin/TaintedPath.expected
Due: none

fix beego tests
  go/ql/test/library-tests/semmle/go/frameworks/Beego/CleartextLogging.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/OpenRedirect.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/ReflectedXss.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/TaintedPath.expected
  go/ql/test/library-tests/semmle/go/frameworks/Beego/test.go
Due: none

C++: Add more QLDoc.
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
Due: codeql-format, sync-files

Move UpperBoundCheckGuard
  go/ql/lib/semmle/go/security/IncorrectIntegerConversionLib.qll
Due: codeql-format, sync-files

Swift: Use getFullyConverted in CFG generation
  swift/ql/lib/codeql/swift/controlflow/internal/ControlFlowGraphImpl.qll
Due: codeql-format, sync-files

Address lots of review comments
  go/ql/lib/semmle/go/security/IncorrectIntegerConversionLib.qll
Due: codeql-format, sync-files

Combine `isBoundFor` and `isBoundFor2`
  go/ql/lib/semmle/go/security/IncorrectIntegerConversionLib.qll
Due: codeql-format, sync-files

Use ternary type for architecture bit size
  go/ql/lib/semmle/go/security/IncorrectIntegerConversionLib.qll
Due: codeql-format, sync-files

Add ".md" to the change note filename
  go/ql/src/change-notes/2023-10-03-incorrect-integer-conversion-improved.md
Due: none

Add note about results to change note
  java/ql/lib/change-notes/2023-10-05-moved-localuserinput-to-mad.md
Due: none

Swift: remove TODO comment
  swift/ql/lib/upgrades/f5a22f5168adfd7f308b5941c11852c925edd638/for_in_upgrade.ql
Due: codeql-format, sync-files

C++: Use 'unique' in 'hasIRRepresentationOfIndirectInstruction' similar to how it's done in 'hasIRRepresentationOfIndirectOperand'.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
Due: codeql-format, sync-files

Kotlin: Change how we handle not supporting Brotli
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
Due: none

Kotlin: Determine our compression method later
  java/kotlin-extractor/src/main/kotlin/KotlinExtractorExtension.kt
Due: none

C++: Accept test changes.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
Due: none

Swift: Expand and correct regex tests.
  swift/ql/test/library-tests/regex/parse.expected
  swift/ql/test/library-tests/regex/regex.swift
Due: sync-files

Swift: Bite the bullet and make 'regex' a non-optional field of the regex test, so that we can be confident where we fail to identify them.
  swift/ql/test/library-tests/regex/parse.expected
  swift/ql/test/library-tests/regex/redos_variants.swift
  swift/ql/test/library-tests/regex/regex.expected
  swift/ql/test/library-tests/regex/regex.ql
  swift/ql/test/library-tests/regex/regex.swift
Due: codeql-format, sync-files

Swift: Naive model for regular expression evaluations through NSString and StringProtocol methods.
  swift/ql/lib/codeql/swift/regex/Regex.qll
  swift/ql/test/library-tests/regex/parse.expected
  swift/ql/test/library-tests/regex/regex.swift
  swift/ql/test/query-tests/Security/CWE-730/RegexInjection.expected
  swift/ql/test/query-tests/Security/CWE-730/tests.swift
Due: codeql-format, sync-files

JS: Add AmdModuleDefinition::Range
  javascript/ql/lib/semmle/javascript/AMD.qll
  javascript/ql/test/library-tests/AMD/test_range.js
  javascript/ql/test/library-tests/AMD/tests.expected
  javascript/ql/test/library-tests/AMD/tests.ql
Due: codeql-format, sync-files

Swift: add getSequence back to ForEachStmt
  swift/ql/lib/codeql/swift/elements/stmt/ForEachStmt.qll
Due: codeql-format, sync-files, swift-codegen

Swift: update for-in change note
  swift/ql/lib/change-notes/2023-09-14-for-in-data-flow.md
Due: none

JS: Change note
  javascript/ql/src/change-notes/2023-10-05-amd-range.md
Due: none

Add skeleton bazel files for accessing the dbschemes.
  cpp/BUILD.bazel
  cpp/ql/lib/BUILD.bazel
  csharp/BUILD.bazel
  csharp/ql/lib/BUILD.bazel
  java/BUILD.bazel
  java/ql/lib/config/BUILD.bazel
  javascript/BUILD.bazel
  javascript/ql/lib/BUILD.bazel
  python/BUILD.bazel
  python/ql/lib/BUILD.bazel
Due: none

Swift: Rename some predicates and make them work on dataflow nodes.
  swift/ql/lib/codeql/swift/regex/Regex.qll
  swift/ql/lib/codeql/swift/regex/internal/RegexTracking.qll
Due: codeql-format, sync-files

Swift: Update to a proper data flow config so we can add implicit reads from arrays at the sink.
  swift/ql/lib/codeql/swift/regex/Regex.qll
  swift/ql/lib/codeql/swift/regex/internal/RegexTracking.qll
  swift/ql/test/library-tests/regex/parse.expected
  swift/ql/test/library-tests/regex/regex.swift
Due: codeql-format, sync-files

Swift: Check the options flag contains .regularExpression.
  swift/ql/lib/codeql/swift/regex/Regex.qll
  swift/ql/test/library-tests/regex/parse.expected
  swift/ql/test/library-tests/regex/regex.swift
Due: codeql-format, sync-files

Swift: Avoid changing interfaces we don't need to. Improve QLDoc.
  swift/ql/lib/codeql/swift/regex/Regex.qll
Due: codeql-format, sync-files

Swift: Support mode flags through NSString.CompareOptions.
  swift/ql/lib/codeql/swift/regex/Regex.qll
  swift/ql/lib/codeql/swift/regex/internal/RegexTracking.qll
  swift/ql/test/library-tests/regex/regex.swift
Due: codeql-format, sync-files

Swift: Add PotentialRegexEval / doesEvaluate mechanism.
  swift/ql/lib/codeql/swift/regex/Regex.qll
  swift/ql/lib/codeql/swift/regex/internal/RegexTracking.qll
Due: codeql-format, sync-files

Swift: Change note.
  swift/ql/lib/change-notes/2023-10-05-regex-models.md
Due: none

Swift: This should always have been private.
  swift/ql/lib/codeql/swift/regex/Regex.qll
Due: codeql-format, sync-files

Swift: Minor corrections, update parse.expected.
  swift/ql/lib/codeql/swift/regex/Regex.qll
  swift/ql/test/library-tests/regex/parse.expected
Due: codeql-format, sync-files

Swift: Remove redundant code.
  swift/ql/lib/codeql/swift/regex/Regex.qll
Due: codeql-format, sync-files

C++: Project away 'why' to prevent tuple duplication in 'Buffer.qll'.
  cpp/ql/lib/semmle/code/cpp/commons/Buffer.qll
Due: codeql-format, sync-files

UNDO AGAIN: Add local threat models.
  java/ql/lib/ext/threatmodels/supported-threat-models.model.yml
Due: none

C++: Handle reverse flow when 'nodeTo' is an instruction.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

Swift: Post-merge fix.
  swift/ql/test/library-tests/dataflow/taint/core/TaintInline.expected
  swift/ql/test/library-tests/dataflow/taint/core/conversions.swift
Due: sync-files

Swift: Update .expected after merge.
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
