Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

modelEditor: fix extensible predicate calls
  python/ql/lib/modeling/ModelEditor.qll
Due: codeql-format, sync-files

Java: Reword recommendation section of XXE query
  java/ql/src/Security/CWE/CWE-611/XXE.qhelp
Due: sync-files, qhelp

ModelEditor: more tests
  python/ql/test/modelling/FrameworkModeEndpoints.expected
  python/ql/test/modelling/FrameworkModeEndpoints.ext.yml
  python/ql/test/modelling/MyPackage/Foo.py
Due: none

ModelEditor: class endpoint
  python/ql/lib/modeling/ModelEditor.qll
Due: codeql-format, sync-files

C#: Address C# code comments.
  csharp/extractor/Semmle.Extraction/Extractor/Extractor.cs
  csharp/extractor/Testrunner/Testrunner.cs
Due: none

Bazel: Remove some kwargs.pop invocations.
  misc/bazel/csharp.bzl
Due: none

Update cpp/ql/src/experimental/Likely Bugs/DerefNullResult.ql
  cpp/ql/src/experimental/Likely Bugs/DerefNullResult.ql
Due: codeql-format, sync-files

ModelEditor: add modelKind values are `"Function", "InstanceMethod", "ClassMethod", "StaticMethod", "InitMethod", "Class"`
  python/ql/lib/modeling/ModelEditor.qll
  python/ql/src/utils/modeleditor/FrameworkModeEndpoints.ql
  python/ql/test/modelling/FrameworkModeEndpoints.expected
Due: codeql-format, sync-files

Data flow: Remove two redundant conjuncts
  shared/dataflow/codeql/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

C#: Filter out unwanted summaries at the root.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/ExternalFlow.qll
Due: codeql-format, sync-files

C++: Add 'cpp/use-of-unique-pointer-after-lifetime-ends' FP.
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfUniquePtrAfterLifetimeEnds/UseOfUniquePointerAfterLifetimeEnds.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfUniquePtrAfterLifetimeEnds/test.cpp
Due: none

C++: Fix FP and accept test changes.
  cpp/ql/src/Security/CWE/CWE-416/UseOfUniquePointerAfterLifetimeEnds.ql
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfUniquePtrAfterLifetimeEnds/UseOfUniquePointerAfterLifetimeEnds.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-416/semmle/tests/UseOfUniquePtrAfterLifetimeEnds/test.cpp
Due: codeql-format, sync-files

C++: Add change note.
  cpp/ql/src/change-notes/2024-05-22-use-of-unique-pointer-after-lifetime-ends-fp.md
Due: none

C#: Simplify logic in `JsonWebTokenHandlerLib.qll`
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/JsonWebTokenHandlerLib.qll
  csharp/ql/src/experimental/Security Features/JsonWebTokenHandler/delegated-security-validations-always-return-true.ql
Due: codeql-format, sync-files

C++: Exclude a cast to any integral type.
  cpp/ql/src/Security/CWE/CWE-416/UseOfUniquePointerAfterLifetimeEnds.ql
Due: codeql-format, sync-files

dummy CI trigger
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl1.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplLocal.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl1.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl2.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl3.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl1.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl2.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl3.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl4.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl5.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl1.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl1.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl2.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl3.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl4.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl5.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl6.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl1.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl2.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl3.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl4.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl1.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl2.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl1.qll
Due: codeql-format, sync-files

C#: Remove the DataFlowSummarizedCallable as this narrowing is now handled in the adapter.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowDispatch.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowPrivate.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/TaintTrackingPrivate.qll
  csharp/ql/src/Language Abuse/ForeachCapture.ql
  csharp/ql/test/library-tests/dataflow/external-models/steps.ql
Due: codeql-format, sync-files

Apply review suggestion - Update change note
  python/ql/lib/change-notes/2024-05-20-flask-session-interface.md
Due: none

C++: Accept qltest .expected file changes (interesting).
  cpp/ql/test/library-tests/dataflow/fields/path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
Due: none

C++: Accept qltest .expected file changes.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/SAMATE/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-193/InvalidPointerDeref.expected
Due: none

Go: Accept qltest .expected file changes (interesting).
  go/ql/test/experimental/CWE-522-DecompressionBombs/DecompressionBombs.expected
  go/ql/test/library-tests/semmle/go/frameworks/Echo/OpenRedirect.expected
  go/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  go/ql/test/query-tests/Security/CWE-601/OpenUrlRedirect/OpenUrlRedirect.expected
Due: none

Go: Accept qltest .expected file changes.
  go/ql/test/experimental/CWE-1004/CookieWithoutHttpOnly.expected
  go/ql/test/experimental/CWE-369/DivideByZero.expected
  go/ql/test/library-tests/semmle/go/frameworks/Revel/OpenRedirect.expected
  go/ql/test/query-tests/Security/CWE-089/SqlInjection.expected
  go/ql/test/query-tests/Security/CWE-190/AllocationSizeOverflow.expected
  go/ql/test/query-tests/Security/CWE-338/InsecureRandomness/InsecureRandomness.expected
  go/ql/test/query-tests/Security/CWE-918/RequestForgery.expected
Due: none

Java: Accept qltest .expected file changes (interesting).
  java/ql/test/experimental/query-tests/security/CWE-200/SensitiveAndroidFileLeak.expected
  java/ql/test/query-tests/security/CWE-090/LdapInjection.expected
Due: none

Java: Accept qltest .expected file changes.
  java/ql/test/experimental/query-tests/security/CWE-094/BeanShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JShellInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-094/JakartaExpressionInjection.expected
  java/ql/test/experimental/query-tests/security/CWE-1004/SensitiveCookieNotHttpOnly.expected
  java/ql/test/experimental/query-tests/security/CWE-400/ThreadResourceAbuse.expected
  java/ql/test/experimental/query-tests/security/CWE-470/LoadClassNoSignatureCheck.expected
  java/ql/test/experimental/query-tests/security/CWE-470/UnsafeReflection.expected
  java/ql/test/experimental/query-tests/security/CWE-502/UnsafeDeserializationRmi.expected
  java/ql/test/experimental/query-tests/security/CWE-601/SpringUrlRedirect.expected
  java/ql/test/experimental/query-tests/security/CWE-652/XQueryInjection.expected
  java/ql/test/query-tests/security/CWE-089/semmle/examples/SqlTainted.expected
  java/ql/test/query-tests/security/CWE-311/CWE-319/HttpsUrls.expected
Due: none

Python: Accept qltest .expected file changes.
  python/ql/test/experimental/query-tests/Security/CWE-022-TarSlip/TarSlip.expected
  python/ql/test/experimental/query-tests/Security/CWE-022-UnsafeUnpacking/UnsafeUnpack.expected
  python/ql/test/experimental/query-tests/Security/CWE-074-paramiko/paramiko.expected
  python/ql/test/experimental/query-tests/Security/CWE-079/EmailXss.expected
  python/ql/test/experimental/query-tests/Security/CWE-091-XsltInjection/XsltInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-176/UnicodeBypassValidation.expected
  python/ql/test/experimental/query-tests/Security/CWE-327-UnsafeUsageOfClientSideEncryptionVersion/UnsafeUsageOfClientSideEncryptionVersion.expected
  python/ql/test/experimental/query-tests/Security/CWE-409/DecompressionBombs.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-209-StackTraceExposure/StackTraceExposure.expected
  python/ql/test/query-tests/Security/CWE-285-PamAuthorization/PamAuthorization.expected
  python/ql/test/query-tests/Security/CWE-327-WeakSensitiveDataHashing/WeakSensitiveDataHashing.expected
  python/ql/test/query-tests/Security/CWE-943-NoSqlInjection/NoSqlInjection.expected
Due: none

C++: Avoid a CP between 'getExpr(node)' and 'this' in 'LoopWithAlloca'.
  cpp/ql/src/Likely Bugs/Memory Management/AllocaInLoop.ql
Due: codeql-format, sync-files

minor updates
  ql/lib/codeql/actions/security/PoisonableSteps.qll
  ql/lib/codeql/actions/security/UntrustedCheckoutQuery.qll
  ql/test/query-tests/Security/CWE-349/.github/workflows/test17.yml
Due: codeql-format, sync-files

Update all pack versions to `1.0.0`
  cpp/ql/lib/qlpack.yml
  cpp/ql/src/qlpack.yml
  csharp/ql/lib/qlpack.yml
  csharp/ql/src/qlpack.yml
  go/ql/consistency-queries/qlpack.yml
  go/ql/lib/qlpack.yml
  go/ql/src/qlpack.yml
  java/ql/automodel/src/qlpack.yml
  java/ql/automodel/test/qlpack.yml
  java/ql/lib/qlpack.yml
  java/ql/src/qlpack.yml
  javascript/ql/lib/qlpack.yml
  javascript/ql/src/qlpack.yml
  misc/suite-helpers/qlpack.yml
  python/ql/lib/qlpack.yml
  python/ql/src/qlpack.yml
  ql/ql/src/qlpack.yml
  ruby/ql/lib/qlpack.yml
  ruby/ql/src/qlpack.yml
  shared/controlflow/qlpack.yml
  shared/dataflow/qlpack.yml
  shared/mad/qlpack.yml
  shared/rangeanalysis/qlpack.yml
  shared/regex/qlpack.yml
  shared/ssa/qlpack.yml
  shared/threat-models/qlpack.yml
  shared/tutorial/qlpack.yml
  shared/typeflow/qlpack.yml
  shared/typetracking/qlpack.yml
  shared/typos/qlpack.yml
  shared/util/qlpack.yml
  shared/xml/qlpack.yml
  shared/yaml/qlpack.yml
  swift/ql/lib/qlpack.yml
  swift/ql/src/qlpack.yml
Due: none

C#: Avoid process creation indirection in auto-builder
  csharp/autobuilder/Semmle.Autobuild.CSharp.Tests/BuildScripts.cs
  csharp/autobuilder/Semmle.Autobuild.CSharp/Semmle.Autobuild.CSharp.csproj
  csharp/autobuilder/Semmle.Autobuild.CSharp/StandaloneBuildRule.cs
  csharp/autobuilder/Semmle.Autobuild.Shared/Autobuilder.cs
  csharp/tools/tracing-config.lua
Due: none

Improve Untrusted checkout queries
  ql/lib/codeql/actions/ast/internal/Ast.qll
  ql/lib/codeql/actions/security/UntrustedCheckoutQuery.qll
  ql/lib/qlpack.yml
  ql/src/qlpack.yml
  ql/test/query-tests/Security/CWE-094/CodeInjectionCritical.expected
  ql/test/query-tests/Security/CWE-094/CodeInjectionMedium.expected
  ql/test/query-tests/Security/CWE-349/CachePoisoning.expected
  ql/test/query-tests/Security/CWE-829/.github/workflows/mend.yml
  ql/test/query-tests/Security/CWE-829/.github/workflows/priv_pull_request_checkout.yml
  ql/test/query-tests/Security/CWE-829/UnpinnedActionsTag.expected
  ql/test/query-tests/Security/CWE-829/UntrustedCheckoutCritical.expected
Due: codeql-format, sync-files

C#: Refactor static compilation state
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Compilation.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/StandaloneAnalyser.cs
  csharp/extractor/Semmle.Extraction.CSharp/Extractor/TracingAnalyser.cs
  csharp/extractor/Semmle.Extraction/Extractor/Extractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/StandaloneExtractor.cs
  csharp/extractor/Semmle.Extraction/Extractor/TracingExtractor.cs
Due: none

Code quality improvements
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Compilations/Compilation.cs
Due: none

Add standalone dependency to autobuilder, following upstream changes.
  csharp/autobuilder/Semmle.Autobuild.CSharp/BUILD.bazel
Due: none

Swift: add flags and instructions for building on macOS ARM
  .bazelrc
  swift/README.md
Due: none

Java: Remove source dispatch when there's an exact match from a manual model.
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSummary.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowDispatch.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  java/ql/src/utils/modeleditor/ModelEditor.qll
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

Java: Allow overloading for exact model matches.
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  shared/dataflow/codeql/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

Java: Improve dispatch through TypeFlow of effectively private calls.
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
Due: codeql-format, sync-files

Java: Add change note.
  java/ql/lib/change-notes/2024-05-23-typeflow-precision.md
Due: none

Swift: Add more sensitive data test cases.
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testRealm2.swift
Due: sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
