Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^swift/.*\.py

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

Add missing QLDocs
  java/ql/src/Security/CWE/CWE-094/ArbitraryAPKInstallation.ql
Due: codeql-format, sync-files

Change severity level to error
  java/ql/src/Security/CWE/CWE-094/ArbitraryAPKInstallation.ql
Due: codeql-format, sync-files

Split ArbitraryApkInstallation file into 3 files
  java/ql/lib/semmle/code/java/security/ArbitraryApkInstallation.qll
  java/ql/lib/semmle/code/java/security/ArbitraryApkInstallationQuery.qll
  java/ql/src/Security/CWE/CWE-094/ArbitraryAPKInstallation.ql
Due: codeql-format, sync-files

Change description wording
  java/ql/src/Security/CWE/CWE-094/ArbitraryAPKInstallation.ql
Due: codeql-format, sync-files

Begin InlineExpectationsTest
  java/ql/test/query-tests/security/CWE-094/ApkInstallationTest.ql
Due: codeql-format, sync-files

Renamed ArbitraryAPKInstallation to ArbitraryApkInstallation
  java/ql/src/Security/CWE/CWE-094/ArbitraryApkInstallation.qhelp
  java/ql/src/Security/CWE/CWE-094/ArbitraryApkInstallation.ql
Due: codeql-format, sync-files, qhelp

Contrary to what the QLDoc says, this predicate was way too large to be evaluated on the 'quick-lint/quick-lint-js' project.
  cpp/ql/lib/semmle/code/cpp/Declaration.qll
Due: codeql-format, sync-files

Update docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp-new.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp-new.rst
Due: none

Remove check for stdout redirection
  csharp/autobuilder/Semmle.Autobuild.Shared/BuildActions.cs
Due: none

Add QLdoc to ArbitraryApkInstallationQuery.qll
  java/ql/lib/semmle/code/java/security/ArbitraryApkInstallationQuery.qll
Due: codeql-format, sync-files

Remove qlref tests
  java/ql/test/query-tests/security/CWE-094/APKInstallation.expected
  java/ql/test/query-tests/security/CWE-094/APKInstallation.qlref
Due: none

C++: Address docs review comments
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp-new.rst
Due: none

Update test java file to support InlineExpectationsTest
  java/ql/test/query-tests/security/CWE-094/APKInstallation.java
  java/ql/test/query-tests/security/CWE-094/ApkInstallationTest.expected
Due: none

Renamed test file to follow camel casing convention
  java/ql/test/query-tests/security/CWE-094/ApkInstallation.java
Due: none

Remove fatal/panic exits from diagnostic code
  go/extractor/diagnostics/diagnostics.go
  go/extractor/extractor.go
Due: none

Return on failure to create file
  go/extractor/diagnostics/diagnostics.go
Due: none

Convert dataflow configuration to using new module-configuration
  java/ql/lib/semmle/code/java/security/ArbitraryApkInstallationQuery.qll
  java/ql/src/Security/CWE/CWE-094/ArbitraryApkInstallation.ql
  java/ql/test/query-tests/security/CWE-094/ApkInstallationTest.ql
Due: codeql-format, sync-files

Remove commented out code
  java/ql/lib/semmle/code/java/security/ArbitraryApkInstallationQuery.qll
Due: codeql-format, sync-files

Convert the taint tracking configurations to modules
  java/ql/lib/semmle/code/java/security/ArbitraryApkInstallationQuery.qll
Due: codeql-format, sync-files

C++: Use `getAUse` in `getIRRepresentationOfOperand`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-119/OverrunWriteProductFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dispatch.cpp
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
Due: codeql-format, sync-files

C++: Fix multiple `toString` consistency error in use-use dataflow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Due: codeql-format, sync-files

python: add test documenting effect of scopes
  python/ql/test/library-tests/ApiGraphs/py3/test_captured.py
Due: none

C++: Fix join order.
  cpp/ql/lib/semmle/code/cpp/Declaration.qll
Due: codeql-format, sync-files

C++: Fix multiple `getLocation` consistency error in use-use dataflow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Due: codeql-format, sync-files

C++: Remove `getLocationImpl` predicate that is always overridden
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

C++: Remove `toStringImpl` predicate that is overridden in every subclass
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

C++: Fix a number of instances where a dataflow node did not have a location
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Due: codeql-format, sync-files

C++: Disable standard order for 'fwdFlow' in stage 1 of dataflow.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

DataFlow: Sync identical files.
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

python: add test for captured variables this illustrates that the function implementing the comprehension does not capture `mod_local`.
  python/ql/test/experimental/dataflow/variable-capture/collections.py
Due: none

Swift: Add a few more test cases for sensitive data.
  swift/ql/test/query-tests/Security/CWE-311/CleartextStorageDatabase.expected
  swift/ql/test/query-tests/Security/CWE-311/SensitiveExprs.expected
  swift/ql/test/query-tests/Security/CWE-311/testCoreData2.swift
Due: sync-files

Ruby: lower severity of parse error to warning
  ruby/extractor/src/extractor.rs
  ruby/ql/integration-tests/all-platforms/diagnostics/syntax-error/diagnostics.expected
  ruby/ql/lib/change-notes/2023-03-09-parse-error.md
  ruby/ql/lib/codeql/ruby/Diagnostics.qll
Due: codeql-format, sync-files

Ruby: fix comment
  ruby/extractor/src/diagnostics.rs
Due: none

Testing update
  cpp/LeaveMeHere.txt
Due: none

Python: Use new parameter position for synthetic `**kwargs` instead
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowDispatch.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

The source name of a diagnostic should not change
  go/extractor/diagnostics/diagnostics.go
  go/ql/integration-tests/all-platforms/go/diagnostics/build-constraints-exclude-all-go-files/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-with-go-mod/diagnostics.expected
  go/ql/integration-tests/all-platforms/go/diagnostics/package-not-found-without-go-mod/diagnostics.expected
Due: none

Ruby: Use new parameter position for synthetic hash-splat instead
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowDispatch.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
Due: codeql-format, sync-files

C++: C++: Use `getAUse` in `getIRRepresentationOfIndirectOperand`
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaInternalsCommon.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatStringThroughGlobalVar.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextBufferWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-311/semmle/tests/CleartextFileWrite.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-319/UseOfHttp/UseOfHttp.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/ExposedSystemData.expected
Due: codeql-format, sync-files
