Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel:buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

feat(js): Add Reflective XSS test and sanitizer
  javascript/ql/lib/semmle/javascript/frameworks/ExpressValidator.qll
  javascript/ql/test/library-tests/frameworks/ExpressValidator/XSS.expected
  javascript/ql/test/library-tests/frameworks/ExpressValidator/XSS.qlref
Due: codeql-format, sync-files

docs(js): Add Change Notes
  javascript/ql/lib/change-notes/2024-12-09-express-validator-support.md
Due: none

style: Update formatting
  javascript/ql/lib/semmle/javascript/frameworks/ExpressValidator.qll
Due: codeql-format, sync-files

fix(js): Small updates to fix warnings
  javascript/ql/lib/semmle/javascript/frameworks/ExpressValidator.qll
Due: codeql-format, sync-files

C++: Accept test changes. Nothing exciting to see here.
  cpp/ql/test/experimental/query-tests/Security/CWE/CWE-193/constant-size/ConstantSizeArrayOffByOne.expected
Due: none

Adding basic SEH edge support. SEH exceptions are only considered for calls. Load and store SEH handling will be addressed in a separate PR.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedElement.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedExpr.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedStmt.qll
  cpp/ql/lib/semmle/code/cpp/models/interfaces/Throwing.qll
Due: codeql-format, sync-files

Updating test cases.
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
Due: none

Extract GitHub context access expression into its own class
  ql/lib/codeql/actions/Ast.qll
  ql/lib/codeql/actions/ast/internal/Ast.qll
Due: codeql-format, sync-files

Remove artifact source as a source of PR refs
  ql/lib/codeql/actions/security/UntrustedCheckoutQuery.qll
Due: codeql-format, sync-files

Update CompositeActionSources expected file
  ql/test/query-tests/Models/CompositeActionsSources.expected
Due: none

When trigger event is not known, do not check context trigger maps
  ql/lib/codeql/actions/dataflow/FlowSources.qll
Due: codeql-format, sync-files

KE2: extractExpressionStmt can be used with null statements
  java/kotlin-extractor2/src/main/kotlin/entities/Expression.kt
Due: none

Adding comment on invalid throw in test case.
  cpp/ql/test/library-tests/ir/ir/try_except.cpp
Due: none

Updating tests and expected files for syntax-zoo results.
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/ms_try_mix.cpp
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
Due: none

Copy template injection to standard pack + add jinja sinks
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/frameworks/Jinja2.qll
  python/ql/lib/semmle/python/security/dataflow/TemplateInjectionCustomizations.qll
  python/ql/lib/semmle/python/security/dataflow/TemplateInjectionQuery.qll
  python/ql/src/experimental/Security/CWE-074/TemplateConstructionConcept.qll
Due: codeql-format, sync-files

Promote jinja sinks
  python/ql/lib/semmle/python/frameworks/Jinja2.qll
  python/ql/src/experimental/Security/CWE-074/TemplateConstructionConcept.qll
Due: codeql-format, sync-files

Promote template injection sinks for each framework covered `Cheetah` was excluded as it was last updated 15 years ago and its documentation links are dead.
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/lib/semmle/python/frameworks/Airspeed.qll
  python/ql/lib/semmle/python/frameworks/Bottle.qll
  python/ql/lib/semmle/python/frameworks/Chameleon.qll
  python/ql/lib/semmle/python/frameworks/Chevron.qll
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/Genshi.qll
  python/ql/lib/semmle/python/frameworks/Jinja2.qll
  python/ql/lib/semmle/python/frameworks/Mako.qll
  python/ql/lib/semmle/python/frameworks/TRender.qll
Due: codeql-format, sync-files

Fix qldoc, formatting, and redundant import warnings
  python/ql/lib/semmle/python/Concepts.qll
  python/ql/lib/semmle/python/frameworks/Airspeed.qll
  python/ql/lib/semmle/python/frameworks/Chameleon.qll
  python/ql/lib/semmle/python/frameworks/Chevron.qll
  python/ql/lib/semmle/python/frameworks/Django.qll
  python/ql/lib/semmle/python/frameworks/Genshi.qll
  python/ql/lib/semmle/python/frameworks/Jinja2.qll
  python/ql/lib/semmle/python/frameworks/Mako.qll
  python/ql/lib/semmle/python/frameworks/TRender.qll
  python/ql/lib/semmle/python/security/dataflow/TemplateInjectionQuery.qll
Due: codeql-format, sync-files

Add tests for jinja
  python/ql/src/Security/CWE-074/TemplateInjection.ql
  python/ql/test/query-tests/Security/CWE-074-TemplateInjection/JinjaSsti.py
  python/ql/test/query-tests/Security/CWE-074-TemplateInjection/TemplateInjection.expected
  python/ql/test/query-tests/Security/CWE-074-TemplateInjection/TemplateInjection.qlref
Due: codeql-format, sync-files

Add concepts tests + some fixes
  python/ql/lib/semmle/python/frameworks/Flask.qll
  python/ql/lib/semmle/python/frameworks/Genshi.qll
  python/ql/lib/semmle/python/frameworks/Jinja2.qll
  python/ql/test/experimental/meta/ConceptsTest.qll
  python/ql/test/library-tests/frameworks/Genshi/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/Genshi/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/Genshi/template_test.py
  python/ql/test/library-tests/frameworks/Mako/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/Mako/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/Mako/template_test.py
  python/ql/test/library-tests/frameworks/TRender/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/TRender/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/TRender/template_test.py
  python/ql/test/library-tests/frameworks/airspeed/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/airspeed/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/airspeed/template_test.py
  python/ql/test/library-tests/frameworks/bottle/template_test.py
  python/ql/test/library-tests/frameworks/chameleon/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/chameleon/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/chameleon/template_test.py
  python/ql/test/library-tests/frameworks/chevron/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/chevron/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/chevron/template_test.py
  python/ql/test/library-tests/frameworks/django-v2-v3/template_test.py
  python/ql/test/library-tests/frameworks/flask/taint_test.py
  python/ql/test/library-tests/frameworks/flask/template_test.py
  python/ql/test/library-tests/frameworks/jinja2/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/jinja2/ConceptsTest.ql
  python/ql/test/library-tests/frameworks/jinja2/template_test.py
Due: codeql-format, sync-files

Add qhelp
  python/ql/src/Security/CWE-074/TemplateInjection.qhelp
  python/ql/src/Security/CWE-074/examples/JinjaBad.py
  python/ql/src/Security/CWE-074/examples/JinjaGoodParam.py
  python/ql/src/Security/CWE-074/examples/JinjaGoodSandbox.py
  python/ql/src/Security/CWE-074/examples/template_exploit.txt
Due: sync-files, qhelp

Add security severity + fix qhelp
  python/ql/src/Security/CWE-074/TemplateInjection.qhelp
  python/ql/src/Security/CWE-074/TemplateInjection.ql
Due: codeql-format, sync-files, qhelp

Remove experimental version + qhelp fixes
  python/ql/src/Security/CWE-074/TemplateInjection.qhelp
  python/ql/src/experimental/Security/CWE-074/JinjaBad.py
  python/ql/src/experimental/Security/CWE-074/JinjaGood.py
  python/ql/src/experimental/Security/CWE-074/TemplateConstructionConcept.qll
  python/ql/src/experimental/Security/CWE-074/TemplateInjection.qhelp
  python/ql/src/experimental/Security/CWE-074/TemplateInjection.ql
  python/ql/src/experimental/Security/CWE-074/TemplateInjectionCustomizations.qll
  python/ql/src/experimental/Security/CWE-074/TemplateInjectionQuery.qll
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/AirspeedSsti.py
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/BottleSsti.py
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/Chameleon.py
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/CheetahSinks.py
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/ChevronSsti.py
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/DjangoTemplates.py
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/FlaskTemplate.py
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/Genshi.py
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/JinjaSsti.py
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/MakoSsti.py
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/TRender.py
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/TemplateInjection.expected
  python/ql/test/experimental/query-tests/Security/CWE-074-TemplateInjection/TemplateInjection.qlref
Due: codeql-format, sync-files, qhelp

fix link in qhelp refs
  python/ql/src/Security/CWE-074/TemplateInjection.qhelp
Due: sync-files, qhelp

Add changenote
  python/ql/src/change-notes/2024-11-21-template-injection.md
Due: none

Test update
  python/ql/test/library-tests/frameworks/django-v2-v3/template_test.py
Due: none

Reveiw suggestions: Spelling/grammar fixes
  python/ql/src/Security/CWE-074/TemplateInjection.qhelp
  python/ql/src/Security/CWE-074/TemplateInjection.ql
  python/ql/src/change-notes/2024-11-21-template-injection.md
Due: codeql-format, sync-files, qhelp

Use API graohs directly
  python/ql/lib/semmle/python/frameworks/Jinja2.qll
Due: codeql-format, sync-files

Add additional test for safe case in documentation
  python/ql/test/library-tests/frameworks/jinja2/template_test.py
Due: none

Formatting updates
  python/ql/lib/semmle/python/Frameworks.qll
  python/ql/src/Security/CWE-074/TemplateInjection.ql
  python/ql/test/library-tests/frameworks/django-v2-v3/template_test.py
  python/ql/test/library-tests/frameworks/flask/template_test.py
  python/ql/test/library-tests/frameworks/jinja2/template_test.py
Due: codeql-format, sync-files

Add qldoc
  python/ql/lib/semmle/python/frameworks/Jinja2.qll
Due: codeql-format, sync-files

Update test output
  python/ql/test/query-tests/Security/CWE-074-TemplateInjection/TemplateInjection.expected
Due: none

Apply suggestions from docs review
  python/ql/src/Security/CWE-074/TemplateInjection.qhelp
Due: sync-files, qhelp

Altering unwind SEH mechanics, such that SEH unwind is generated if an SEH exception could be raised inside a microsoft try except statement, or if a function may always throw an exception.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedCall.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedFunction.qll
Due: codeql-format, sync-files

Updating test cases for new unwinding mechanic.
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/ir/ir/raw_consistency.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency.expected
  cpp/ql/test/library-tests/ir/ir/unaliased_ssa_consistency_unsound.expected
  cpp/ql/test/library-tests/syntax-zoo/aliased_ssa_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/raw_consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/unaliased_ssa_consistency.expected
Due: none

Update test outputs
  python/ql/test/library-tests/frameworks/Genshi/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/Mako/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/TRender/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/airspeed/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/chameleon/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/chevron/ConceptsTest.expected
  python/ql/test/library-tests/frameworks/jinja2/ConceptsTest.expected
Due: none

exclude Simple refereces from GitHub context
  ql/lib/codeql/actions/security/UntrustedCheckoutQuery.qll
Due: codeql-format, sync-files

Add tests and update expected results
  ql/test/query-tests/Security/CWE-094/.github/actions/action6/action.yml
  ql/test/query-tests/Security/CWE-094/.github/actions/action7/action.yml
  ql/test/query-tests/Security/CWE-094/.github/workflows/test28.yml
  ql/test/query-tests/Security/CWE-094/CodeInjectionCritical.expected
  ql/test/query-tests/Security/CWE-094/CodeInjectionMedium.expected
  ql/test/query-tests/Security/CWE-829/UntrustedCheckoutCritical.expected
Due: none

Bump qlpack versions
  ql/lib/qlpack.yml
  ql/src/qlpack.yml
Due: none

resolve dataflow conflict
  cpp/ql/lib/semmle/code/cpp/dataflow/DataFlow.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/DataFlow2.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/DataFlow3.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/DataFlow4.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/TaintTracking2.qll
Due: codeql-format, sync-files
