Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

C#: Limit detection of sub-command names
  csharp/tools/tracing-config.lua
Due: none

C#: Add integration test for tracing config fix
  csharp/ql/integration-tests/all-platforms/dotnet_no_args_inject/Program.cs
  csharp/ql/integration-tests/all-platforms/dotnet_no_args_inject/dotnet_build.csproj
  csharp/ql/integration-tests/all-platforms/dotnet_no_args_inject/test.py
Due: none

Swift: Tests for enum content in MAD.
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/FlowConfig.qll
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Due: codeql-format, sync-files

Swift: Clearer syntax and a shortcut for Optional.some.
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/test/library-tests/dataflow/dataflow/FlowConfig.qll
Due: codeql-format, sync-files

Swift: Flow from optional content through "!".
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Due: codeql-format, sync-files

Swift: Effect on the taint/core test.
  swift/ql/test/library-tests/dataflow/taint/core/Taint.expected
Due: none

Swift: Parse MAD enum content.
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Due: codeql-format, sync-files

Java: Add taint step for InputStream wrappers
  java/ql/lib/semmle/code/java/JDK.qll
  java/ql/lib/semmle/code/java/dataflow/RangeAnalysis.qll
  java/ql/test/library-tests/dataflow/stream-read/A.java
  java/ql/test/library-tests/dataflow/stream-read/test.expected
  java/ql/test/library-tests/dataflow/stream-read/test.ql
Due: codeql-format, sync-files

Use new TypeInputStream
  java/ql/lib/semmle/code/java/dataflow/internal/TaintTrackingUtil.qll
  java/ql/lib/semmle/code/java/dispatch/VirtualDispatch.qll
  java/ql/lib/semmle/code/java/frameworks/javaee/ejb/EJBRestrictions.qll
  java/ql/lib/semmle/code/java/frameworks/spring/SpringController.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  java/ql/lib/semmle/code/java/JDK.qll
  java/ql/test/library-tests/dataflow/stream-read/A.java
Due: codeql-format, sync-files

Move steps to InputStream.qll
  java/ql/lib/semmle/code/java/JDK.qll
  java/ql/lib/semmle/code/java/dataflow/FlowSteps.qll
  java/ql/lib/semmle/code/java/frameworks/InputStream.qll
Due: codeql-format, sync-files

Add local class test
  java/ql/test/library-tests/dataflow/stream-read/A.java
Due: none

Add change note
  java/ql/lib/change-notes/2023-07-19-inputstream-wrapper-steps.md
Due: none

Add more test cases
  java/ql/test/library-tests/dataflow/stream-read/A.java
Due: none

Apply suggestions from code review
  java/ql/lib/semmle/code/java/frameworks/InputStream.qll
Due: codeql-format, sync-files

Convert jump step into local step
  java/ql/lib/semmle/code/java/frameworks/InputStream.qll
Due: codeql-format, sync-files

Make sure that InputStreamWrapperCapturedLocalStep is indeed local
  java/ql/lib/semmle/code/java/frameworks/InputStream.qll
Due: codeql-format, sync-files

Update java/ql/lib/semmle/code/java/frameworks/InputStream.qll
  java/ql/lib/semmle/code/java/frameworks/InputStream.qll
Due: codeql-format, sync-files

Re-adds jump step
  java/ql/lib/semmle/code/java/frameworks/InputStream.qll
  java/ql/test/library-tests/dataflow/stream-read/A.java
Due: codeql-format, sync-files

remove sources which are contained from environment variables, fix some bugs thanks to @yoff
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKey.ql
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKeyDjango.qll
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKeyFlask.qll
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKeySource.qll
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/config.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/config2.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/config3.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/example_Django_unsafe.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/example_Flask_safe.py
Due: codeql-format, sync-files

fix qlhelp and qldoc bugs
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKey.qhelp
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKeyDjango.qll
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKeyFlask.qll
Due: codeql-format, sync-files, qhelp

Swift: Change note.
  swift/ql/lib/change-notes/2023-07-24-forced-unwrap.md
Due: none

Swift: Autoformat.
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
Due: codeql-format, sync-files

Swift: Test changes (not affecting results).
  swift/ql/test/library-tests/dataflow/dataflow/CONSISTENCY/CfgConsistency.expected
  swift/ql/test/query-tests/Security/CWE-079/UnsafeWebViewFetch.expected
Due: none

Swift: Change note.
  swift/ql/lib/change-notes/2023-07-24-with-contiguous-storage.md
Due: none

Swift: Make QL-for-QL happy (this line will be deleted at some point anyway).
  swift/ql/lib/codeql/swift/security/UnsafeJsEvalExtensions.qll
Due: codeql-format, sync-files

C++: 'sizeAddend' instead of 'extra'.
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
Due: codeql-format, sync-files

C++: Add more IR tests for the ternary operator
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Due: none

Update cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
Due: codeql-format, sync-files

C++: Update example in QLDoc.
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
Due: codeql-format, sync-files

C++: Reflow comments in QLDoc.
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
Due: codeql-format, sync-files

C++: Remove paragraph.
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
Due: codeql-format, sync-files

C++: Replace 'Barrier2' with 'SizeBarrier' in QLDoc.
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/AllocationToInvalidPointer.qll
Due: codeql-format, sync-files

C++: Remove 'TODO' now that the implementation has been fixed.
  cpp/ql/lib/semmle/code/cpp/security/InvalidPointerDereference/InvalidPointerToDereference.qll
Due: codeql-format, sync-files

a little bit change on flask example
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/example_Flask_safe.py
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/examples/example_Flask_unsafe.py
Due: none

Java: drive-by change: remove obsolete custom queries from application mode characteristics
  java/ql/src/Telemetry/AutomodelApplicationModeCharacteristics.qll
Due: codeql-format, sync-files
