Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

Formatting
  java/ql/src/experimental/Security/CWE/CWE-089/MyBatisCommonLib.qll
Due: codeql-format, sync-files

Add query to check for deferred errors
  go/ql/src/InconsistentCode/DeferredErrorCall.go
  go/ql/src/InconsistentCode/DeferredErrorCall.qhelp
  go/ql/src/InconsistentCode/DeferredErrorCall.ql
  go/ql/src/InconsistentCode/DeferredErrorCallGood.go
  go/ql/test/query-tests/InconsistentCode/DeferredErrorCall/DeferredErrorCall.expected
  go/ql/test/query-tests/InconsistentCode/DeferredErrorCall/DeferredErrorCall.qlref
  go/ql/test/query-tests/InconsistentCode/DeferredErrorCall/tests.go
Due: codeql-format, sync-files, qhelp

Fix expectation in NSData tests
  swift/ql/test/library-tests/dataflow/taint/TaintInline.expected
  swift/ql/test/library-tests/dataflow/taint/nsdata.swift
Due: sync-files

Swift: Update .generated.list.
  swift/ql/.generated.list
Due: swift-codegen

Update test expectations
  java/ql/test/experimental/query-tests/security/CWE-089/src/main/MyBatisAnnotationSqlInjection.expected
Due: none

Add MaD rows for the Data class
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Data.qll
  swift/ql/test/library-tests/dataflow/taint/data.swift
  swift/ql/test/library-tests/dataflow/taint/string.swift
Due: codeql-format, sync-files

Update test expectations
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
  swift/ql/test/library-tests/dataflow/taint/Taint.expected
Due: none

Apply code review suggestions
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Data.qll
  swift/ql/test/library-tests/dataflow/taint/data.swift
Due: codeql-format, sync-files

Add data flowsources test
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/data.swift
Due: sync-files

Remove now unnecessary additional taint step in UnsafeJsEval
  swift/ql/src/queries/Security/CWE-094/UnsafeJsEval.ql
  swift/ql/test/query-tests/Security/CWE-094/UnsafeJsEval.expected
Due: codeql-format, sync-files

Fix more test expectations after rebase
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
Due: none

Remove unnecessary cast
  go/ql/src/InconsistentCode/DeferredErrorCall.ql
Due: codeql-format, sync-files

C++: Fix upper bound detection in default taint flow
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/src/Security/CWE/CWE-190/TaintedAllocationSize.ql
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/ArithmeticWithExtremeValues/ArithmeticWithExtremeValues.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/ArithmeticTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/tainted/IntegerOverflowTainted.expected
Due: codeql-format, sync-files

Fix query not working for anonymous functions
  go/ql/src/InconsistentCode/DeferredErrorCall.ql
  go/ql/test/query-tests/InconsistentCode/DeferredErrorCall/DeferredErrorCall.expected
  go/ql/test/query-tests/InconsistentCode/DeferredErrorCall/tests.go
Due: codeql-format, sync-files

Apply suggestions from code review
  ruby/ql/src/queries/security/cwe-209/StackTraceExposure.qhelp
  ruby/ql/src/queries/security/cwe-209/examples/StackTraceExposure.rb
  ruby/ql/test/query-tests/security/cwe-209/StackTraceExposure.expected
  ruby/ql/test/query-tests/security/cwe-209/StackTraceExposure.rb
Due: sync-files, qhelp

Ruby: StackTraceExposure: add test for a specific rescue type
  ruby/ql/test/query-tests/security/cwe-209/StackTraceExposure.expected
  ruby/ql/test/query-tests/security/cwe-209/StackTraceExposure.rb
Due: none

Ruby: model ActiveSupport json_escape flow
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupportDataFlow.expected
  ruby/ql/test/library-tests/frameworks/active_support/active_support.rb
Due: codeql-format, sync-files

Ruby: fix docs failure
  ruby/ql/lib/codeql/ruby/frameworks/ActiveSupport.qll
Due: codeql-format, sync-files

move the code-injection tests into a subfolder
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection/CodeInjection.expected
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection/CodeInjection.qlref
  ruby/ql/test/query-tests/security/cwe-094/CodeInjection/CodeInjection.rb
Due: none

Java: Add new Mockito runner class location.
  java/ql/lib/semmle/code/java/frameworks/Mockito.qll
Due: codeql-format, sync-files

First draft update basic query to use VS Code
  docs/codeql/codeql-language-guides/basic-query-for-cpp-code.rst
  docs/codeql/images/codeql-for-visual-studio-code/add-codeql-db-github.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-cpp-query-results-1.png
  docs/codeql/images/codeql-for-visual-studio-code/basic-cpp-query-results-2.png
  docs/codeql/images/codeql-for-visual-studio-code/codeql-extension-icon.png
  docs/codeql/images/codeql-for-visual-studio-code/database-selected.png
  docs/codeql/reusables/setup-to-run-queries.rst
Due: none

Ruby: Minor refactor of barrier guard code
  ruby/ql/lib/codeql/ruby/dataflow/BarrierGuards.qll
Due: codeql-format, sync-files

Ruby: Clean up WhenClause CFG
  ruby/ql/lib/codeql/ruby/controlflow/internal/ControlFlowGraphImpl.qll
Due: codeql-format, sync-files

Swift: Add test for Alamofire sources.
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/alamofire.swift
Due: sync-files

Swift: add basic Alamofire taint source model.
  swift/ql/lib/codeql/swift/dataflow/ExternalFlow.qll
  swift/ql/lib/codeql/swift/frameworks/Alamofire/Alamofire.qll
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/alamofire.swift
Due: codeql-format, sync-files

Swift: Fixes.
  swift/ql/lib/codeql/swift/frameworks/Alamofire/Alamofire.qll
  swift/ql/test/library-tests/dataflow/flowsources/alamofire.swift
Due: codeql-format, sync-files

Ruby: simplify Hash#transform_keys! flow summary
  ruby/ql/lib/codeql/ruby/frameworks/core/Hash.qll
  ruby/ql/test/library-tests/dataflow/hash-flow/hash-flow.expected
  ruby/ql/test/library-tests/dataflow/hash-flow/hash_flow.rb
Due: codeql-format, sync-files

Ruby: Document flow summary syntax
  ruby/ql/docs/flow_summaries.md
Due: none

Ruby: Add tests for flow summary behaviour
  ruby/ql/docs/flow_summaries.md
  ruby/ql/test/library-tests/dataflow/flow-summaries/behaviour.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/behaviour.ql
  ruby/ql/test/library-tests/dataflow/flow-summaries/behaviour.rb
Due: codeql-format, sync-files

Ruby: Flesh out hash-splat docs
  ruby/ql/docs/flow_summaries.md
Due: none

Ruby: Update test fixture
  ruby/ql/test/library-tests/dataflow/hash-flow/type-tracking-hash-flow.expected
Due: none

Ruby: Elaborate WithoutElement docs
  ruby/ql/docs/flow_summaries.md
Due: none

Ruby: With[out]Element only valid in input
  ruby/ql/docs/flow_summaries.md
Due: none

Ruby: Document Field access path token
  ruby/ql/docs/flow_summaries.md
Due: none

Ruby: Document ?/any behaviour in output paths
  ruby/ql/docs/flow_summaries.md
Due: none

Ruby: Add more flow summary tests
  ruby/ql/docs/flow_summaries.md
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.ql
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.rb
Due: codeql-format, sync-files

Ruby: Add note about WithElement usage
  ruby/ql/docs/flow_summaries.md
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.ql
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.rb
Due: codeql-format, sync-files

Ruby: US spelling
  ruby/ql/test/library-tests/dataflow/flow-summaries/behaviour.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.ql
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.rb
Due: codeql-format, sync-files

Apply suggestions from code review
  python/ql/src/Expressions/CallToSuperWrongClass.ql
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
