Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

retab generated.go
  go/ql/test/library-tests/semmle/go/frameworks/gqlgen/graph/generated.go
Due: none

Update go/ql/test/library-tests/semmle/go/frameworks/gqlgen/gqlgen.ql
  go/ql/test/library-tests/semmle/go/frameworks/gqlgen/gqlgen.ql
Due: codeql-format, sync-files

Swift: add DataFlow::Content for arrays
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPrivate.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowPublic.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/ArrayType.qll
  swift/ql/test/library-tests/dataflow/dataflow/DataFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/dataflow/test.swift
Due: codeql-format, sync-files

retab
  go/ql/test/library-tests/semmle/go/frameworks/gqlgen/graph/schema.resolvers.go
Due: none

Docs: Update data flow documentation to the new API.
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp-new.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-csharp.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-java.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-python.rst
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-ruby.rst
  docs/codeql/codeql-language-guides/codeql-library-for-go.rst
  docs/codeql/codeql-language-guides/using-api-graphs-in-ruby.rst
  docs/codeql/ql-training/cpp/global-data-flow-cpp.rst
  docs/codeql/ql-training/java/apache-struts-java.rst
  docs/codeql/ql-training/java/global-data-flow-java.rst
  docs/codeql/ql-training/query-examples/cpp/global-data-flow-cpp-1.ql
  docs/codeql/ql-training/query-examples/java/global-data-flow-java-1.ql
  docs/codeql/ql-training/slide-snippets/global-data-flow.rst
  docs/codeql/ql-training/slide-snippets/path-queries.rst
  docs/codeql/writing-codeql-queries/creating-path-queries.rst
  docs/codeql/writing-codeql-queries/debugging-data-flow-queries-using-partial-flow.rst
  docs/ql-design-patterns.md
Due: codeql-format, sync-files

Docs: Switch to PascalCase.
  docs/codeql/ql-training/query-examples/java/global-data-flow-java-1.ql
Due: codeql-format, sync-files

Add references to `cshtml` processing
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Razor.cs
Due: none

Swift: Remove 'cached' annotations.
  swift/ql/lib/codeql/swift/security/SensitiveExprs.qll
Due: codeql-format, sync-files

JS: Add documentation for Fuzzy component
  docs/codeql/codeql-language-guides/customizing-library-models-for-javascript.rst
Due: none

Python: Minor naming update
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
Due: codeql-format, sync-files

qlformat
  ruby/ql/lib/codeql/ruby/security/XpathInjectionCustomizations.qll
Due: codeql-format, sync-files

feat: add MaD to XSS query
  python/ql/lib/semmle/python/security/dataflow/ReflectedXSSCustomizations.qll
Due: codeql-format, sync-files

feat: add change log notes
  python/ql/lib/change-notes/2023-07-13-mad-xss.md
Due: none

fix: formatting issue
  python/ql/lib/semmle/python/security/dataflow/ReflectedXSSCustomizations.qll
Due: codeql-format, sync-files

Ruby: fix xpathinjection deprecation warnings
  ruby/ql/lib/codeql/ruby/security/XpathInjectionQuery.qll
  ruby/ql/src/experimental/xpath-injection/XpathInjection.ql
Due: codeql-format, sync-files

Ruby: Use API graphs asCallable() instead of Proc.new workaround
  ruby/ql/lib/codeql/ruby/frameworks/rack/internal/App.qll
Due: codeql-format, sync-files

Java: Swap `input` and `ext`
  java/ql/src/Telemetry/AutomodelAlertSinkUtil.qll
Due: codeql-format, sync-files

Java: Add QLDoc for query predicates
  java/ql/src/Telemetry/AutomodelSinkModelMrvaQueries.ql
Due: codeql-format, sync-files

Java: Exclude qualifier argument for existing models
  java/ql/src/Telemetry/AutomodelApplicationModeCharacteristics.qll
Due: codeql-format, sync-files

Python: Fix qlref
  python/ql/test/experimental/query-tests/Security/CWE-287-ConstantSecretKey/ConstantSecretKey.qlref
Due: none

Java: Revert definition of `isNeutral`
  java/ql/src/Telemetry/AutomodelApplicationModeCharacteristics.qll
  java/ql/src/Telemetry/AutomodelFrameworkModeCharacteristics.qll
Due: codeql-format, sync-files

Python: Accept `.expected` changes
  python/ql/test/experimental/query-tests/Security/CWE-287-ConstantSecretKey/ConstantSecretKey.expected
Due: none

Python: Move source modeling to shared file
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKeyDjango.qll
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKeyFlask.qll
  python/ql/src/experimental/Security/CWE-287-ConstantSecretKey/WebAppConstantSecretKeySource.qll
Due: codeql-format, sync-files

Test if Origin() works (for Var and Func)
  go/extractor/extractor.go
Due: none

Add failing test to demonstrate problem with detecting regex match calls
  ruby/ql/test/query-tests/security/cwe-020/IncompleteHostnameRegExp/tst-IncompleteHostnameRegExp.rb
Due: none

Fix sink
  swift/ql/lib/codeql/swift/security/CommandInjectionExtensions.qll
Due: codeql-format, sync-files

gofmt -w .
  go/ql/test/library-tests/semmle/go/frameworks/gqlgen/graph/generated.go
  go/ql/test/library-tests/semmle/go/frameworks/gqlgen/graph/schema.resolvers.go
Due: none

Fix singleton set literal
  ruby/ql/lib/codeql/ruby/frameworks/Ldap.qll
  ruby/ql/lib/codeql/ruby/security/LdapInjectionCustomizations.qll
Due: codeql-format, sync-files

Fix printing when one obj is nil
  go/extractor/extractor.go
Due: none

Move imports to usage sections
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-java.rst
Due: none

Revert "Java: Limit the number of samples extracted in application mode"
  java/ql/src/Telemetry/AutomodelApplicationModeExtractCandidates.ql
Due: codeql-format, sync-files

Java: Exclude source-to-source flow in 5 queries.
  java/ql/lib/semmle/code/java/security/ArithmeticTaintedQuery.qll
  java/ql/lib/semmle/code/java/security/ImproperValidationOfArrayIndexQuery.qll
  java/ql/lib/semmle/code/java/security/LogInjectionQuery.qll
  java/ql/lib/semmle/code/java/security/NumericCastTaintedQuery.qll
  java/ql/lib/semmle/code/java/security/RequestForgeryConfig.qll
Due: codeql-format, sync-files

remove PrepareContext
  go/ql/lib/semmle/go/frameworks/SQL.qll
Due: codeql-format, sync-files

Swift: # -> //
  swift/ql/src/queries/Security/CWE-730/RegexInjectionBad.swift
  swift/ql/src/queries/Security/CWE-730/RegexInjectionGood.swift
Due: sync-files

C++: Don't do range analysis on malformed IR.
  cpp/ql/lib/semmle/code/cpp/rangeanalysis/new/internal/semantic/SemanticExprSpecific.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/dataflow-edge-tests/additionalEdges.expected
  cpp/ql/test/library-tests/dataflow/dataflow-edge-tests/standardEdges.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/has-parameter-flow-out.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/localFlow.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-number-of-outnodes.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
  cpp/ql/test/library-tests/dataflow/smart-pointers-taint/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/localTaint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/taint.expected
Due: none

Documentation: Update version number.
  docs/codeql/codeql-language-guides/analyzing-data-flow-in-cpp.rst
Due: none

Update ruby/ql/lib/codeql/ruby/frameworks/rack/internal/App.qll
  ruby/ql/lib/codeql/ruby/frameworks/rack/internal/App.qll
Due: codeql-format, sync-files

JavaScript: Improve qhelp for js/server-crash.
  javascript/ql/src/Security/CWE-730/ServerCrash.qhelp
  javascript/ql/src/Security/CWE-730/examples/server-crash.BAD.js
  javascript/ql/src/Security/CWE-730/examples/server-crash.GOOD-A.js
  javascript/ql/src/Security/CWE-730/examples/server-crash.GOOD-B.js
Due: sync-files, qhelp

Apply suggestions from code review
  swift/ql/src/queries/Security/CWE-730/RegexInjection.qhelp
Due: sync-files, qhelp
