Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^swift/.*\.py

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

Refactor Security.CWE.CWE-094.InsecureBeanValidation
  java/ql/src/Security/CWE/CWE-094/InsecureBeanValidation.ql
Due: codeql-format, sync-files

XXE Configuration Deprecation messages
  java/ql/lib/semmle/code/java/security/XxeLocalQuery.qll
  java/ql/lib/semmle/code/java/security/XxeRemoteQuery.qll
Due: codeql-format, sync-files

Refactor Security.CWE.CWE-134.ExternallyControlledFormatString
  java/ql/src/Security/CWE/CWE-134/ExternallyControlledFormatString.ql
  java/ql/src/Security/CWE/CWE-134/ExternallyControlledFormatStringLocal.ql
Due: codeql-format, sync-files

Refactor Security.CWE.CWE-022.TaintedPathLocal
  java/ql/src/Security/CWE/CWE-022/TaintedPathLocal.ql
Due: codeql-format, sync-files

Implementation of check for DataFlow naming convention
  ql/ql/src/queries/style/DataFlowConfigModuleNaming.ql
  ql/ql/test/queries/style/DataFlowConfigModuleNaming/DataFlowConfigModuleNaming.expected
  ql/ql/test/queries/style/DataFlowConfigModuleNaming/DataFlowConfigModuleNaming.qlref
  ql/ql/test/queries/style/DataFlowConfigModuleNaming/Test.qll
Due: codeql-format, sync-files

Fix typo in QLdoc
  ql/ql/src/queries/style/DataFlowConfigModuleNaming.ql
Due: codeql-format, sync-files

Refactor DataFlow configurations to use "Config" naming convention
  cpp/ql/src/Likely Bugs/Format/NonConstantFormat.ql
  cpp/ql/src/Likely Bugs/Leap Year/LeapYear.qll
  cpp/ql/src/Likely Bugs/Memory Management/NtohlArrayNoBound.qll
  cpp/ql/src/Security/CWE/CWE-022/TaintedPath.ql
  cpp/ql/src/Security/CWE/CWE-078/ExecTainted.ql
  cpp/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  cpp/ql/src/Security/CWE/CWE-190/TaintedAllocationSize.ql
  cpp/ql/src/Security/CWE/CWE-311/CleartextBufferWrite.ql
  cpp/ql/src/Security/CWE/CWE-311/CleartextFileWrite.ql
  cpp/ql/src/Security/CWE/CWE-311/CleartextTransmission.ql
  cpp/ql/src/Security/CWE/CWE-313/CleartextSqliteDatabase.ql
  cpp/ql/src/Security/CWE/CWE-326/InsufficientKeySize.ql
  cpp/ql/src/Security/CWE/CWE-428/UnsafeCreateProcessCall.ql
  cpp/ql/src/Security/CWE/CWE-497/ExposedSystemData.ql
  cpp/ql/src/Security/CWE/CWE-497/PotentiallyExposedSystemData.ql
  cpp/ql/src/Security/CWE/CWE-611/XXE.ql
  cpp/ql/src/experimental/Security/CWE/CWE-078/WordexpTainted.ql
  java/ql/lib/semmle/code/java/frameworks/google/GoogleHttpClientApi.qll
  java/ql/lib/semmle/code/java/frameworks/jackson/JacksonSerializability.qll
  java/ql/lib/semmle/code/java/security/ArbitraryApkInstallationQuery.qll
  java/ql/lib/semmle/code/java/security/LogInjectionQuery.qll
  java/ql/lib/semmle/code/java/security/RequestForgeryConfig.qll
  java/ql/lib/semmle/code/java/security/SensitiveLoggingQuery.qll
  java/ql/src/Security/CWE/CWE-327/BrokenCryptoAlgorithm.ql
  java/ql/src/Security/CWE/CWE-327/MaybeBrokenCryptoAlgorithm.ql
Due: codeql-format, sync-files

Rename configurations from "Conf" to "Config"
  java/ql/lib/semmle/code/java/frameworks/android/OnActivityResultSource.qll
  java/ql/lib/semmle/code/java/security/FragmentInjectionQuery.qll
  java/ql/lib/semmle/code/java/security/IntentUriPermissionManipulationQuery.qll
  java/ql/lib/semmle/code/java/security/UnsafeContentUriResolutionQuery.qll
  java/ql/test/TestUtilities/InlineFlowTest.qll
  java/ql/test/library-tests/dataflow/state/test.ql
Due: codeql-format, sync-files

Swift: make `SuccessfullyExtractedFiles.ql` more precise
  swift/downgrades/c2f01f2beb67e5a57e9df9b6d1c51e35e8d5b0a2/old.dbscheme
  swift/downgrades/c2f01f2beb67e5a57e9df9b6d1c51e35e8d5b0a2/swift.dbscheme
  swift/downgrades/c2f01f2beb67e5a57e9df9b6d1c51e35e8d5b0a2/upgrade.properties
  swift/extractor/infra/SwiftLocationExtractor.cpp
  swift/extractor/infra/SwiftLocationExtractor.h
  swift/extractor/main.cpp
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/generated/File.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/ql/lib/upgrades/ba43367c819291c264809f13f6c02ddf014dad0a/file_is_successfully_extracted.ql
  swift/ql/lib/upgrades/ba43367c819291c264809f13f6c02ddf014dad0a/old.dbscheme
  swift/ql/lib/upgrades/ba43367c819291c264809f13f6c02ddf014dad0a/swift.dbscheme
  swift/ql/lib/upgrades/ba43367c819291c264809f13f6c02ddf014dad0a/upgrade.properties
  swift/ql/src/diagnostics/SuccessfullyExtractedFiles.ql
  swift/ql/test/extractor-tests/generated/File/File.expected
  swift/ql/test/extractor-tests/generated/File/File.ql
  swift/ql/test/extractor-tests/generated/File/error.swift
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

Dataflow: Remove revFlowAlias trick
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

C#: Update internal documentation for this parameter in models.
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

Java: Update the java internal documentation for models.
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

Java: Introduce index validation.
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

Sync files.
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

Java: Update summary parsing to use this instead of -1 and adjust the model generator.
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImplSpecific.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
Due: codeql-format, sync-files

C#: Introduce Argument and Parameter index validation for models.
  csharp/ql/lib/semmle/code/csharp/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

Ruby: Introduce `ContentSet::isElementOfType[OrUnknown]/1`
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeCodeConstructionQuery.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeShellCommandConstructionQuery.qll
  ruby/ql/lib/codeql/ruby/typetracking/TypeTrackerSpecific.qll
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.expected
  ruby/ql/test/library-tests/dataflow/flow-summaries/semantics.rb
Due: codeql-format, sync-files

Java: Update test comments to use this instead of -1.
  java/ql/test/library-tests/frameworks/jdk/java.nio.file/Test.java
  java/ql/test/library-tests/frameworks/spring/webutil/Test.java
  java/ql/test/library-tests/paths/Test.java
Due: none

Java: Update models that uses -1 in a range.
  java/ql/lib/ext/android.database.sqlite.model.yml
  java/ql/lib/ext/com.google.common.base.model.yml
  java/ql/lib/ext/experimental/java.nio.file.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/ext/org.springframework.http.model.yml
  java/ql/lib/ext/org.springframework.web.util.model.yml
Due: none

Java: Add change-note.
  java/ql/lib/change-notes/2023-03-17-madargumentthis.md
Due: none

Java: Update expected test-output (different sorting).
  java/ql/test/utils/modelgenerator/dataflow/CaptureSummaryModels.expected
Due: none

C++: Move SsaConsistency to its own file
  config/identical-files.json
  cpp/ql/lib/change-notes/2013-03-20-ssa-consistency.md
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/IRConsistency.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/AliasedSSA.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/IRConsistencyImports.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConsistency.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConsistencyImports.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/IRConsistency.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/IRConsistencyImports.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/PrintIRImports.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/IRConsistency.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/PrintIR.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/IRConsistencyImports.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/PrintIRImports.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConsistency.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConsistencyImports.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/CppType.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRCppLanguage.qll
  cpp/ql/lib/semmle/code/cpp/ir/internal/IRCppLanguageDebug.qll
  csharp/ql/src/experimental/ir/implementation/raw/IRConsistency.qll
  csharp/ql/src/experimental/ir/implementation/raw/PrintIR.qll
  csharp/ql/src/experimental/ir/implementation/raw/internal/IRConsistencyImports.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/IRConsistency.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/PrintIR.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/IRConsistencyImports.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/PrintIRImports.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConsistency.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConsistencyImports.qll
  csharp/ql/src/experimental/ir/implementation/unaliased_ssa/internal/SSAConstruction.qll
  csharp/ql/src/experimental/ir/internal/IRCSharpLanguage.qll
  csharp/ql/src/experimental/ir/internal/IRCSharpLanguageDebug.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  java/ql/lib/ext/hudson.model.model.yml
  java/ql/lib/ext/hudson.util.jna.model.yml
Due: none

Dataflow: Instantiate Ap with proper Unit type
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Add change note
  java/ql/lib/change-notes/2023-03-20-netty-hudson-models.md
Due: none

fix typo
  shared/regex/codeql/regex/nfa/SuperlinearBackTracking.qll
Due: codeql-format, sync-files

Update MaD Declarations after Triage
  java/ql/lib/ext/hudson.model.model.yml
  java/ql/lib/ext/hudson.os.model.yml
  java/ql/lib/ext/hudson.util.jna.model.yml
  java/ql/lib/ext/hudson.util.model.yml
  java/ql/lib/ext/io.netty.bootstrap.model.yml
  java/ql/lib/ext/io.netty.channel.model.yml
  java/ql/lib/ext/io.netty.handler.codec.http.model.yml
  java/ql/lib/ext/io.netty.handler.codec.http.multipart.model.yml
  java/ql/lib/ext/io.netty.handler.ssl.model.yml
  java/ql/lib/ext/io.netty.handler.stream.model.yml
  java/ql/lib/ext/io.netty.util.internal.model.yml
Due: none

Swift: Add a couple of extra test cases.
  swift/ql/test/query-tests/Security/CWE-611/testLibxmlXXE.swift
Due: sync-files

PY: dont depend on codeql/util in src/ now that its added to lib/
  python/ql/src/qlpack.yml
Due: none

Swift: Remove the special case for bitwise operations in the XXE query (but upgrade that bit of the query to taint flow as appears to be intended).
  swift/ql/lib/codeql/swift/security/XXEExtensions.qll
Due: codeql-format, sync-files

Make the Config module of public Flow modules public
  java/ql/lib/semmle/code/java/security/XxeLocalQuery.qll
  java/ql/lib/semmle/code/java/security/XxeRemoteQuery.qll
  java/ql/src/Security/CWE/CWE-022/TaintedPathLocal.ql
  java/ql/src/Security/CWE/CWE-022/ZipSlip.ql
  java/ql/src/Security/CWE/CWE-090/LdapInjectionLib.qll
  java/ql/src/Security/CWE/CWE-094/InsecureBeanValidation.ql
  java/ql/src/Security/CWE/CWE-134/ExternallyControlledFormatStringLocal.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticTaintedLocal.ql
  java/ql/src/Security/CWE/CWE-190/ArithmeticUncontrolled.ql
  java/ql/src/Security/CWE/CWE-200/AndroidWebViewSettingsAllowsContentAccess.ql
  java/ql/src/Security/CWE/CWE-297/UnsafeHostnameVerification.ql
  java/ql/src/Security/CWE/CWE-601/UrlRedirect.ql
  java/ql/src/Security/CWE/CWE-601/UrlRedirectLocal.ql
  java/ql/src/Security/CWE/CWE-643/XPathInjection.ql
  java/ql/src/Security/CWE/CWE-807/TaintedPermissionsCheck.ql
Due: codeql-format, sync-files

Kotlin: Don't use distutils in build script
  java/kotlin-extractor/build.py
Due: none

Fix naming of ZipSlip configuration
  java/ql/src/Security/CWE/CWE-022/ZipSlip.ql
Due: codeql-format, sync-files

python: add example showing FP
  python/ql/test/query-tests/Variables/undefined/UninitializedLocal.expected
  python/ql/test/query-tests/Variables/undefined/captured.py
Due: none

Dataflow: remove revFlowApAlias trick
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

Add missing QLDocs
  java/ql/lib/semmle/code/java/security/XxeLocalQuery.qll
  java/ql/lib/semmle/code/java/security/XxeRemoteQuery.qll
Due: codeql-format, sync-files

Fix typo in QLDoc
  java/ql/src/Security/CWE/CWE-297/UnsafeHostnameVerification.ql
Due: codeql-format, sync-files

Address comments
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImpl.qll
  go/ql/lib/semmle/go/dataflow/internal/DataFlowImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImpl.qll
Due: codeql-format, sync-files

python: exclude nonlocals from query
  python/ql/src/Variables/UninitializedLocal.ql
  python/ql/test/query-tests/Variables/undefined/UninitializedLocal.expected
Due: codeql-format, sync-files
