Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

Swift: add `-headerpad_max_install_names` to link options
  swift/extractor/BUILD.bazel
Due: none

Swift: update Swift 5.10 dependencies
  swift/third_party/load.bzl
Due: none

Swift: remove unused patches
  swift/third_party/swift-llvm-support/patches/add-constructor-to-Compilation.patch
  swift/third_party/swift-llvm-support/patches/remove-redundant-operators.patch
Due: none

Ruby: Add barrier guard flow tests
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-flow.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-flow.ql
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier_flow.rb
Due: codeql-format, sync-files

Ruby: Extend barrier guards to handle phi inputs
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPrivate.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/SsaImpl.qll
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-flow.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.expected
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier-guards.ql
  ruby/ql/test/library-tests/dataflow/barrier-guards/barrier_flow.rb
  ruby/ql/test/library-tests/dataflow/local/DataflowStep.expected
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  shared/ssa/codeql/ssa/Ssa.qll
Due: codeql-format, sync-files

C++: Update test results
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/successor-tests/conditional_destructors/cfg.expected
Due: none

use the sanitizers from ReflectedXSS in unsafe-html-construction
  ruby/ql/lib/codeql/ruby/security/UnsafeHtmlConstructionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UnsafeHtmlConstructionQuery.qll
Due: codeql-format, sync-files

C++: Respond to review comments.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

Kotlin 2: Accept more test changes
  java/ql/test-kotlin2/library-tests/exprs/exprs.expected
Due: none

Go: Make `CODEQL_EXTRACTOR_GO_FAST_PACKAGE_INFO` true by default
  go/extractor/extractor.go
Due: none

C++: Rewrite 'cpp/missing-check-scanf' to use standard dataflow configurations.
  cpp/ql/src/Critical/MissingCheckScanf.ql
Due: codeql-format, sync-files

Docs: Add Go 1.22 to supported versions range
  docs/codeql/reusables/supported-versions-compilers.rst
Due: none

Ruby: Recognise Grape params
  ruby/ql/lib/codeql/ruby/Frameworks.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/Grape.qll
Due: codeql-format, sync-files

Go: Move `go version` command construction into its own function
  go/extractor/toolchain/toolchain.go
Due: none

Go: Keep track of all installed toolchains that we know of
  go/extractor/toolchain/toolchain.go
Due: none

Go: Run `go` with a valid toolchain version if we have found an invalid one
  go/extractor/project/project.go
Due: none

C#: Introduce AssemblyPath and re-factor AssemblyCache to use this instead of strings.
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/AssemblyCache.cs
  csharp/extractor/Semmle.Extraction.CSharp.DependencyFetching/DependencyManager.cs
Due: none

C#: Avoid using TRAP stack in buildless mode
  csharp/extractor/Semmle.Extraction/Context.cs
Due: none

C#: Address review comments.
  csharp/ql/test/library-tests/dataflow/library/FlowSummariesFiltered.ql
  csharp/ql/test/shared/FlowSummaries.qll
Due: codeql-format, sync-files

Java/Shared: Use getLocation instead of hasLocationInfo.
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
  shared/typeflow/codeql/typeflow/TypeFlow.qll
  shared/typeflow/codeql/typeflow/internal/TypeFlowImpl.qll
Due: codeql-format, sync-files

Java/Shared: Share more 'isNull' computations.
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
  shared/typeflow/codeql/typeflow/TypeFlow.qll
  shared/typeflow/codeql/typeflow/internal/TypeFlowImpl.qll
Due: codeql-format, sync-files

Java/Shared: Rename 'joinStep0' to 'joinStep'.
  java/ql/lib/semmle/code/java/dataflow/TypeFlow.qll
  shared/typeflow/codeql/typeflow/TypeFlow.qll
  shared/typeflow/codeql/typeflow/internal/TypeFlowImpl.qll
Due: codeql-format, sync-files

C++: Convert 'cpp/missing-check-scanf' to a path-problem query.
  cpp/ql/src/Critical/MissingCheckScanf.ql
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
Due: codeql-format, sync-files

C++: Add change note.
  cpp/ql/src/change-notes/2024-03-20-missing-check-scanf-path-problem.md
Due: none

C++: Simplify use of 'GuardCondition's in 'cpp/missing-check-scanf'.
  cpp/ql/src/Critical/MissingCheckScanf.ql
Due: codeql-format, sync-files

C++: Simplify 'checkedForEof'.
  cpp/ql/src/Critical/ScanfChecks.qll
Due: codeql-format, sync-files

C++: Use 'asIndirectExpr' in the sink of 'ExistsAnyFlowConfig.
  cpp/ql/src/Likely Bugs/Protocols/TlsSettingsMisconfiguration.ql
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/query-tests/Likely Bugs/Protocols/TlsSettingsMisconfiguration.expected
  cpp/ql/test/query-tests/Likely Bugs/Protocols/test2.cpp
Due: none

python: better handling of methods - add `Instance` - add `Subclass` - handle `self` argument properly - use newly generated models
  python/ql/lib/ext/StdLib.model.yml
  python/ql/src/meta/StdLib/FindUses.qll
Due: codeql-format, sync-files

Mark LOC queries as `debug` instead
  cpp/ql/src/Summary/LinesOfUserCode.ql
  csharp/ql/src/Metrics/Summaries/LinesOfCode.ql
  go/ql/src/Summary/LinesOfCode.ql
  java/ql/src/Metrics/Summaries/LinesOfCode.ql
  javascript/ql/src/Summary/LinesOfUserCode.ql
  python/ql/src/Summary/LinesOfUserCode.ql
  ql/ql/src/queries/summary/LinesOfCode.ql
  ql/ql/src/queries/summary/LinesOfUserCode.ql
  ruby/ql/src/queries/summary/LinesOfCode.ql
  ruby/ql/src/queries/summary/LinesOfUserCode.ql
  swift/ql/src/diagnostics/SuccessfullyExtractedLines.ql
Due: codeql-format, sync-files

C++: Update test results
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
Due: none

C++: Add tests showing missing destructors for initialization statements
  cpp/ql/test/library-tests/ir/ir/PrintAST.expected
  cpp/ql/test/library-tests/ir/ir/aliased_ir.expected
  cpp/ql/test/library-tests/ir/ir/ir.cpp
  cpp/ql/test/library-tests/ir/ir/operand_locations.expected
  cpp/ql/test/library-tests/ir/ir/raw_ir.expected
Due: none

C#: Simplify the output of `cs/wrong-compareto-signature` to remove entity locations
  csharp/ql/src/API Abuse/IncorrectCompareToSignature.ql
Due: codeql-format, sync-files

C#: Simplify the output of `cs/wrong-compareto-signature` to remove entity locations
  csharp/ql/src/API Abuse/IncorrectCompareToSignature.ql
  csharp/ql/test/query-tests/API Abuse/IncorrectCompareToSignature/IncorrectCompareToSignature.expected
Due: codeql-format, sync-files

change the precision of the js/unsafe-external-link query to low
  javascript/ql/src/DOM/TargetBlank.qhelp
  javascript/ql/src/DOM/TargetBlank.ql
  javascript/ql/src/change-notes/2024-03-21-target-blank-precision.md
Due: codeql-format, sync-files, qhelp

Add change note
  csharp/ql/src/change-notes/2024-03-21-change-compareto-signature.md
Due: none

Code quality improvement
  csharp/ql/src/API Abuse/IncorrectCompareToSignature.ql
Due: codeql-format, sync-files

C++: Add FP test.
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Due: none

C++: Replace 'Instruction's with 'ValueNumber's.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files

C++: Also handle the places where an instruction is negated.
  cpp/ql/lib/semmle/code/cpp/controlflow/IRGuards.qll
Due: codeql-format, sync-files
