Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //swift/codegen/test
  pass_filenames: false

Remove another outdated reference
  docs/codeql/conf.py
Due: none

Adapt PathSanitizer to Kotlin
  java/ql/lib/semmle/code/java/frameworks/kotlin/IO.qll
  java/ql/lib/semmle/code/java/frameworks/kotlin/Text.qll
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
  java/ql/test/library-tests/pathsanitizer/Test.java
  java/ql/test/library-tests/pathsanitizer/TestKt.kt
  java/ql/test/library-tests/pathsanitizer/options
Due: codeql-format, sync-files

Add change note
  java/ql/lib/change-notes/2022-12-05-kotlin-path-sanitizer.md
Due: none

Add missing QLDoc
  java/ql/lib/semmle/code/java/frameworks/kotlin/Text.qll
Due: codeql-format, sync-files

Delete go.work
  go.work
Due: none

Restrict DF configuration
  java/ql/src/Security/CWE/CWE-614/InsecureCookie.ql
Due: codeql-format, sync-files

Docs: rewrite "defining the results of a query"
  docs/codeql/images/ql-select-statement-basic.png
  docs/codeql/images/ql-select-statement-class-name.png
  docs/codeql/images/ql-select-statement-filename.png
  docs/codeql/images/ql-select-statement-link.png
  docs/codeql/images/ql-select-statement-similarity.png
  docs/codeql/writing-codeql-queries/defining-the-results-of-a-query.rst
Due: none

Java: Update the MaD Model Difference workflow.
  .github/workflows/mad_modelDiff.yml
Due: none

Java: Temporarily disable the Model Difference workflow for changes to the model generator.
  .github/workflows/mad_modelDiff.yml
Due: none

Java/C#: Delete old model generator scripts and rename the new ones.
  csharp/ql/src/utils/model-generator/GenerateFlowModelExtensions.py
  java/ql/src/utils/model-generator/GenerateFlowModelExtensions.py
  misc/scripts/models-as-data/generate_flow_model.py
  misc/scripts/models-as-data/generate_flow_model_extensions.py
Due: none

Java: Update the Java model re-generate script.
  java/ql/src/utils/model-generator/RegenerateModels.py
Due: none

Java: Update MaD regenerate models worksflow.
  .github/workflows/mad_regenerate-models.yml
Due: none

Minor syntax change in tests
  java/ql/test/library-tests/pathsanitizer/TestKt.kt
Due: none

Add test for File.startsWith
  java/ql/test/library-tests/pathsanitizer/TestKt.kt
Due: none

Update InsecureCookie.ql
  java/ql/src/Security/CWE/CWE-614/InsecureCookie.ql
Due: codeql-format, sync-files

Data flow: Add consistency checks for parameter positions
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowImplConsistency.qll
Due: codeql-format, sync-files

Data flow: Sync files
  cpp/ql/lib/experimental/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/DataFlowImplConsistency.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowImplConsistency.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/DataFlowImplConsistency.qll
  java/ql/lib/semmle/code/java/dataflow/internal/DataFlowImplConsistency.qll
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowImplConsistency.qll
  swift/ql/lib/codeql/swift/dataflow/internal/DataFlowImplConsistency.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  docs/codeql/writing-codeql-queries/defining-the-results-of-a-query.rst
Due: none

Add change note
  java/ql/lib/change-notes/2022-12-05-insecure-cookie-global-flow.md
Due: none

Java: Address review comments and also delete comment about type based summaries only being for C#.
  misc/scripts/models-as-data/generate_flow_model.py
Due: none

Python: Update expected test output
  python/ql/test/experimental/dataflow/basic/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/calls/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/consistency/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/coverage/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/fieldflow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/global-flow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/match/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/pep_328/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/regression/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/strange-essaflow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/basic/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/commonSanitizer/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/customSanitizer/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep-py3/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/defaultAdditionalTaintStep/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/tainttracking/unwanted-global-flow/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/typetracking/dataflow-consistency.expected
  python/ql/test/experimental/dataflow/variable-capture/dataflow-consistency.expected
  python/ql/test/library-tests/ApiGraphs/py3/dataflow-consistency.expected
  python/ql/test/library-tests/frameworks/django-orm/dataflow-consistency.expected
Due: none

Swift: Results repaired by merge.
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
Due: none

Swift: Rewrite bits to try and get rid of red highlighting.
  swift/ql/test/library-tests/dataflow/flowsources/FlowSources.expected
  swift/ql/test/library-tests/dataflow/flowsources/alamofire.swift
Due: sync-files

Java: Address review comments.
  java/ql/lib/semmle/code/java/dataflow/FlowSources.qll
  java/ql/lib/semmle/code/java/frameworks/Jdbc.qll
  java/ql/lib/semmle/code/java/frameworks/Regex.qll
Due: codeql-format, sync-files

Shared: Initial commit with copy of Ruby TypeTracker.
  shared/typetracking/codeql/typetracking/TypeTracking.qll
Due: codeql-format, sync-files

Shared: Add a qlpack with a parameterized module defining type-trackers.
  shared/typetracking/change-notes/2022-12-01-initial-version.md
  shared/typetracking/codeql/typetracking/TypeTracking.qll
  shared/typetracking/qlpack.yml
Due: codeql-format, sync-files

JS: Add reproduction test case
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
  javascript/ql/test/library-tests/TaintTracking/refinement-sanitizer.js
Due: none

JS: handle rephined variables in local access paths
  javascript/ql/lib/semmle/javascript/dataflow/internal/AccessPaths.qll
  javascript/ql/test/library-tests/TaintTracking/BasicTaintTracking.expected
Due: codeql-format, sync-files

Swift: Skip lvalue types.
  swift/ql/lib/codeql/swift/elements/type/LValueType.qll
Due: codeql-format, sync-files, swift-codegen

Swift: Accept test changes.
  swift/ql/test/library-tests/dataflow/dataflow/LocalFlow.expected
  swift/ql/test/library-tests/dataflow/taint/LocalTaint.expected
Due: none

Shared: Add more precise types in TypeTracker.
  shared/typetracking/codeql/typetracking/TypeTracking.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  swift/ql/src/queries/Security/CWE-022/PathInjection.qhelp
Due: sync-files, qhelp

Swift: Accept more test changes.
  swift/ql/test/extractor-tests/generated/expr/IdentityExpr/IdentityExpr_getType.expected
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr.expected
  swift/ql/test/extractor-tests/generated/expr/ImplicitConversionExpr/ImplicitConversionExpr_getType.expected
Due: swift-codegen

Swift: Update .generated.list
  swift/ql/.generated.list
Due: swift-codegen

Java: Bad summary.
  java/ql/lib/ext/error.model.yml
Due: none

C++: Update expected test output
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/dataflow-ir-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-consistency.expected
  cpp/ql/test/library-tests/syntax-zoo/dataflow-ir-consistency.expected
Due: none

Don't create a default constructor for annotations, or classes that explicitly declare a no-arg constructor.
  java/kotlin-extractor/src/main/kotlin/KotlinFileExtractor.kt
  java/ql/integration-tests/all-platforms/kotlin/jvmoverloads-external-class/User.java
  java/ql/integration-tests/all-platforms/kotlin/jvmoverloads-external-class/test.kt
Due: none

UnpackUnsafe query and tests
  python/ql/src/experimental/Security/CWE-022bis/UnsafeUnpack.qhelp
  python/ql/src/experimental/Security/CWE-022bis/UnsafeUnpack.ql
  python/ql/src/experimental/Security/CWE-022bis/examples/HIT_UnsafeUnpack.py
  python/ql/src/experimental/Security/CWE-022bis/examples/NoHIT_UnsafeUnpack.py
  python/ql/test/experimental/query-tests/Security/CWE-022/UnsafeUnpack.expected
  python/ql/test/experimental/query-tests/Security/CWE-022/UnsafeUnpack.py
  python/ql/test/experimental/query-tests/Security/CWE-022/UnsafeUnpack.qlref
Due: codeql-format, sync-files, qhelp

Remove reference to query console
  docs/codeql/writing-codeql-queries/defining-the-results-of-a-query.rst
Due: none

Add CI job for check query IDs script
  .github/workflows/check-query-ids.yml
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
