Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

Do not make such a strong security claim
  java/ql/src/Security/CWE/CWE-502/UnsafeDeserialization.qhelp
Due: sync-files, qhelp

Fix yaml formatting
  java/ql/lib/ext/org.apache.commons.io.model.yml
Due: none

Python: dispatch toString/getLocation/getEnclosingCallable per branch
  python/ql/lib/semmle/python/controlflow/internal/AstNodeImpl.qll
Due: codeql-format, sync-files

Cfg: Rework CFG for switch case patterns.
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraph.qll
  java/ql/lib/semmle/code/java/ControlFlowGraph.qll
  shared/controlflow/codeql/controlflow/ControlFlowGraph.qll
Due: codeql-format, sync-files

Python: merge T*AstNode wrappers into matching public classes
  python/ql/lib/semmle/python/controlflow/internal/AstNodeImpl.qll
Due: codeql-format, sync-files

C#/Java: Adjust Guards instantiations.
  csharp/ql/lib/semmle/code/csharp/controlflow/Guards.qll
  java/ql/lib/semmle/code/java/controlflow/Guards.qll
Due: codeql-format, sync-files

Python: unify Py::BoolExpr handling via TBoolExprPair
  python/ql/lib/semmle/python/controlflow/internal/AstNodeImpl.qll
Due: codeql-format, sync-files

Python: index TBlockStmt by Py::StmtList instead of (parent, slot)
  python/ql/lib/semmle/python/controlflow/internal/AstNodeImpl.qll
Due: codeql-format, sync-files

C#/Java: Accept test changes.
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/guards/BooleanGuardedExpr.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedControlFlowNode.expected
  csharp/ql/test/library-tests/controlflow/guards/GuardedExpr.expected
  csharp/ql/test/library-tests/csharp7/IsFlow.expected
  csharp/ql/test/library-tests/csharp8/switchexprcontrolflow.expected
  csharp/ql/test/library-tests/csharp8/switchstmtctrlflow.expected
  csharp/ql/test/library-tests/goto/Goto1.expected
  java/ql/test/library-tests/guards/guardslogic.expected
  java/ql/test/library-tests/guards12/guard.expected
  java/ql/test/library-tests/pattern-switch/cfg/test.expected
  java/ql/test/library-tests/successors/TestBreak/TestSucc.expected
  java/ql/test/library-tests/successors/TestLoopBranch/TestSucc.expected
Due: none

Shared: Small adjustment to the encrypt not-sensitive regex.
  javascript/ql/test/query-tests/Security/CWE-312/CleartextLogging.expected
  javascript/ql/test/query-tests/Security/CWE-312/passwords.js
  shared/concepts/codeql/concepts/internal/SensitiveDataHeuristics.qll
Due: codeql-format, sync-files

CFG: Consider logical not a post order operation.
  shared/controlflow/codeql/controlflow/ControlFlowGraph.qll
Due: codeql-format, sync-files

Python: document why Assignment subclasses are empty
  python/ql/lib/semmle/python/controlflow/internal/AstNodeImpl.qll
Due: codeql-format, sync-files

Fix QL formatting
  java/ql/lib/semmle/code/java/security/PathSanitizer.qll
Due: codeql-format, sync-files

yeast: Use canonical ID when registering unnamed kinds in Schema
  shared/yeast/src/schema.rs
Due: none

yeast: Support capturing unnamed nodes in queries
  shared/yeast-macros/src/lib.rs
  shared/yeast-macros/src/parse.rs
  shared/yeast/doc/yeast.md
  shared/yeast/src/query.rs
  shared/yeast/tests/test.rs
Due: none

yeast: Forward-scan bare child patterns instead of strict positional
  shared/yeast/doc/yeast.md
  shared/yeast/src/query.rs
  shared/yeast/tests/test.rs
Due: none

Shared: Autoformat.
  shared/concepts/codeql/concepts/internal/SensitiveDataHeuristics.qll
Due: codeql-format, sync-files

Python: use private-abstract + final-alias pattern for AstNode
  python/ql/lib/semmle/python/controlflow/internal/AstNodeImpl.qll
Due: codeql-format, sync-files

Python: introduce TStmt union via newtype-branch alias
  python/ql/lib/semmle/python/controlflow/internal/AstNodeImpl.qll
Due: codeql-format, sync-files

Python: simplify TBlockStmt char pred via exclusion list
  python/ql/lib/semmle/python/controlflow/internal/AstNodeImpl.qll
Due: codeql-format, sync-files

Add tree-sitter for Swift (called 'unified')
  Cargo.lock
  Cargo.toml
  MODULE.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/BUILD.tree-sitter-swift-0.7.2.bazel
  misc/bazel/3rdparty/tree_sitter_extractors_deps/defs.bzl
  unified/.gitignore
  unified/BUILD.bazel
  unified/codeql-extractor.yml
  unified/extractor/BUILD.bazel
  unified/extractor/Cargo.toml
  unified/extractor/src/autobuilder.rs
  unified/extractor/src/extractor.rs
  unified/extractor/src/generator.rs
  unified/extractor/src/main.rs
  unified/ql/lib/BUILD.bazel
  unified/ql/lib/codeql/Locations.qll
  unified/ql/lib/codeql/files/FileSystem.qll
  unified/ql/lib/codeql/unified/Ast.qll
  unified/ql/lib/qlpack.lock.yml
  unified/ql/lib/qlpack.yml
  unified/ql/lib/unified.dbscheme
  unified/ql/lib/unified.dbscheme.stats
  unified/ql/src/qlpack.lock.yml
  unified/ql/src/qlpack.yml
  unified/ql/test/library-tests/BasicTest/test.expected
  unified/ql/test/library-tests/BasicTest/test.ql
  unified/ql/test/library-tests/BasicTest/test.swift
  unified/ql/test/qlpack.lock.yml
  unified/ql/test/qlpack.yml
  unified/scripts/create-extractor-pack.sh
  unified/tools/BUILD.bazel
  unified/tools/autobuild.cmd
  unified/tools/autobuild.sh
  unified/tools/index-files.cmd
  unified/tools/index-files.sh
  unified/tools/qltest.cmd
  unified/tools/qltest.sh
Due: buildifier, codeql-format, sync-files

Add basic YEAST dependency and rule
  Cargo.lock
  unified/extractor/BUILD.bazel
  unified/extractor/Cargo.toml
  unified/extractor/src/extractor.rs
  unified/ql/test/library-tests/BasicTest/test.expected
  unified/ql/test/library-tests/BasicTest/test.ql
Due: buildifier, codeql-format, sync-files

Move Swift language into its own module
  unified/extractor/src/extractor.rs
  unified/extractor/src/languages/swift/swift.rs
Due: none

Add AGENTS.md with build/test instructions
  unified/AGENTS.md
Due: none

Use new YEAST API after rebasing
  unified/extractor/src/languages/swift/swift.rs
Due: none

Apply suggestions from code review
  shared/controlflow/codeql/controlflow/ControlFlowGraph.qll
Due: codeql-format, sync-files

Fix Bazel glob to include subdirectories
  unified/extractor/BUILD.bazel
Due: buildifier

Address review comments
  unified/extractor/src/extractor.rs
  unified/extractor/src/generator.rs
  unified/ql/lib/unified.dbscheme
Due: none

C#: Introduce additional nodes to carry the boolean successor state.
  shared/controlflow/codeql/controlflow/ControlFlowGraph.qll
Due: codeql-format, sync-files

C#: Add Increment/Decrement instance operator test example and update test expected output.
  csharp/ql/test/library-tests/operators/Operators3.expected
  csharp/ql/test/library-tests/operators/Operators4.expected
  csharp/ql/test/library-tests/operators/Operators5.expected
  csharp/ql/test/library-tests/operators/PrintAst.expected
  csharp/ql/test/library-tests/operators/operators.cs
Due: none

C#: Adjust the extractor to correctly handle names for user defined increment and decrement operators.
  csharp/extractor/Semmle.Extraction.CSharp.Util/SymbolExtensions.cs
Due: none

C#: Update condition for UnaryOperators to also handle user-defined instance increment and decrement operators.
  csharp/ql/lib/semmle/code/csharp/Callable.qll
Due: codeql-format, sync-files

C#: Update PrintAst expected output.
  csharp/ql/test/library-tests/operators/PrintAst.expected
Due: none

C#: Add an increment/decrement operator test case.
  csharp/ql/test/library-tests/operators/Operators6.expected
  csharp/ql/test/library-tests/operators/Operators6.ql
Due: codeql-format, sync-files

C#: Add operator calls for postfix unary expression (whenever possible) as we also do for prefix unary expressions.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/PostfixUnary.cs
Due: none

C#: Improve the GetCallType method to also take extension operators into account.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Invocation.cs
Due: none

C#: Do not change kind of increment/decrement expressions to operator invocations and cleanup the implementation.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Factory.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/PostfixUnary.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Unary.cs
Due: none

C#: Rename Unary to PrefixUnary.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Factory.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/PrefixUnary.cs
Due: none

C#: Move the adjust kind to the Cast class.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expression.cs
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/Cast.cs
Due: none

C#: Update the DB scheme to consider increment/decrement expressions as operator calls.
  csharp/ql/lib/semmlecode.csharp.dbscheme
Due: none
