Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

unified: Make tests fail on purpose
  unified/ql/test/library-tests/BasicTest/test.expected
Due: none

Python: Update inline test expectations
  python/ql/test/library-tests/dataflow/coverage/test_builtins.py
  python/ql/test/library-tests/frameworks/django-orm/testapp/orm_tests.py
Due: none

Fix expected file
  java/ql/integration-tests/java/subst/file.expected
Due: none

Add Changenote
  java/ql/lib/change-notes/2026-07-01-org.apache.poi-mads.txt
Due: none

Also make corpus tests fail
  unified/extractor/tests/corpus/swift/closures/closure-with-capture-list.output
Due: none

Revert "unified: Make tests fail on purpose"
  unified/ql/test/library-tests/BasicTest/test.expected
Due: none

Revert "Also make corpus tests fail"
  unified/extractor/tests/corpus/swift/closures/closure-with-capture-list.output
Due: none

Make change in corpus test
  unified/extractor/tests/corpus/swift/closures/closure-with-capture-list.output
  unified/extractor/tests/corpus/swift/closures/closure-with-capture-list.swift
Due: sync-files

Make change in qltest
  unified/ql/test/library-tests/BasicTest/test.expected
  unified/ql/test/library-tests/BasicTest/test.swift
Due: sync-files

Fix misnamed MaD models files
  java/ql/lib/ext/org.apache.hc.client5.http.protocol.model.yml
  java/ql/lib/ext/org.apache.hc.client5.http.protocol.yml
  java/ql/lib/ext/org.apache.hc.client5.http.utils.model.yml
Due: none

Rust: Add more type inference tests
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: none

Shared: Generalize `typeConstraintBaseTypeMatch`
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Due: codeql-format, sync-files

Rust: Move more type inference logic into shared library
  rust/ql/lib/codeql/rust/internal/CachedStages.qll
  rust/ql/lib/codeql/rust/internal/typeinference/BlanketImplementation.qll
  rust/ql/lib/codeql/rust/internal/typeinference/FunctionType.qll
  rust/ql/lib/codeql/rust/internal/typeinference/Type.qll
  rust/ql/lib/codeql/rust/internal/typeinference/TypeInference.qll
  rust/ql/lib/codeql/rust/internal/typeinference/TypeInferenceConsistency.qll
  rust/ql/lib/codeql/rust/internal/typeinference/TypeMention.qll
  rust/ql/test/library-tests/dataflow/models/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/net/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/dataflow/sources/web_frameworks/CONSISTENCY/TypeInferenceConsistency.expected
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/closure.rs
  rust/ql/test/library-tests/type-inference/dereference.rs
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/overloading.rs
  rust/ql/test/library-tests/type-inference/pattern_matching.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/library-tests/type-inference/type-inference.ql
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
  shared/util/codeql/util/UnboundList.qll
Due: codeql-format, sync-files

wip
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Due: codeql-format, sync-files

Python: hotfix - disable instanceFieldStep to avoid type-tracker blowup
  python/ql/lib/change-notes/2026-06-30-disable-instance-field-step-hotfix.md
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackingImpl.qll
  python/ql/test/library-tests/dataflow/typetracking/attribute_tests.py
  python/ql/test/query-tests/Security/CWE-089-SqlInjection/SqlInjection.expected
  python/ql/test/query-tests/Security/CWE-089-SqlInjection/app.py
Due: codeql-format, sync-files

Ruby: Fix one last inline expectations testFailure.
  ruby/ql/test/library-tests/frameworks/active_support/ActiveSupportDataFlow.expected
  ruby/ql/test/library-tests/frameworks/active_support/hash_extensions.rb
Due: none

Potential fix for pull request finding
  ruby/ql/test/library-tests/frameworks/active_support/hash_extensions.rb
Due: none

Enable local threat-model by default
  shared/threat-models/ext/supported-threat-models.model.yml
Due: none

wip2
  rust/ql/lib/codeql/rust/internal/typeinference/TypeInference.qll
  rust/ql/test/library-tests/type-inference/type-inference.expected
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Due: codeql-format, sync-files

wip3
  rust/ql/lib/codeql/rust/internal/typeinference/TypeInference.qll
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Due: codeql-format, sync-files

Revert "Python: hotfix - disable instanceFieldStep to avoid type-tracker blowup"
  python/ql/lib/semmle/python/dataflow/new/internal/TypeTrackingImpl.qll
  python/ql/test/library-tests/dataflow/typetracking/attribute_tests.py
  python/ql/test/query-tests/Security/CWE-089-SqlInjection/SqlInjection.expected
  python/ql/test/query-tests/Security/CWE-089-SqlInjection/app.py
Due: codeql-format, sync-files

Fix google genai models
  prompt-injection-summary.md
  python/ql/lib/semmle/python/frameworks/GoogleGenAI.qll
  python/ql/lib/semmle/python/frameworks/google-genai.model.yml
  python/ql/lib/semmle/python/frameworks/langchain.model.yml
  python/ql/test/query-tests/Security/CWE-1427-SystemPromptInjection/SystemPromptInjection.expected
  python/ql/test/query-tests/Security/CWE-1427-SystemPromptInjection/gemini_test.py
  python/ql/test/query-tests/Security/CWE-1427-SystemPromptInjection/langchain_test.py
  python/ql/test/query-tests/Security/CWE-1427-UserPromptInjection/UserPromptInjection.expected
  python/ql/test/query-tests/Security/CWE-1427-UserPromptInjection/langchain_test.py
Due: codeql-format, sync-files

Add proper coverage of tools
  python/ql/lib/semmle/python/frameworks/agent.model.yml
  python/ql/lib/semmle/python/frameworks/anthropic.model.yml
  python/ql/lib/semmle/python/frameworks/google-genai.model.yml
  python/ql/lib/semmle/python/frameworks/langchain.model.yml
  python/ql/lib/semmle/python/frameworks/openai.model.yml
  python/ql/lib/semmle/python/frameworks/openrouter.model.yml
  python/ql/test/query-tests/Security/CWE-1427-SystemPromptInjection/SystemPromptInjection.expected
  python/ql/test/query-tests/Security/CWE-1427-SystemPromptInjection/agent_test.py
  python/ql/test/query-tests/Security/CWE-1427-SystemPromptInjection/anthropic_test.py
  python/ql/test/query-tests/Security/CWE-1427-SystemPromptInjection/gemini_test.py
  python/ql/test/query-tests/Security/CWE-1427-SystemPromptInjection/langchain_test.py
  python/ql/test/query-tests/Security/CWE-1427-SystemPromptInjection/openai_test.py
  python/ql/test/query-tests/Security/CWE-1427-SystemPromptInjection/openrouter_test.py
  python/ql/test/query-tests/Security/CWE-1427-UserPromptInjection/UserPromptInjection.expected
  python/ql/test/query-tests/Security/CWE-1427-UserPromptInjection/openrouter_test.py
Due: none

Delete summary
  prompt-injection-summary.md
Due: none

Note tool-description coverage in prompt-injection change note
  python/ql/lib/change-notes/2026-06-18-prompt-injection-models.md
Due: none

Simpler change note
  python/ql/lib/change-notes/2026-06-18-prompt-injection-models.md
Due: none

C++: Add a test that needs an access path at the source.
  cpp/ql/test/library-tests/dataflow/external-models/flow.ext.yml
  cpp/ql/test/library-tests/dataflow/external-models/sinks.expected
  cpp/ql/test/library-tests/dataflow/external-models/test.cpp
Due: none

C++: Support for access path at sources and sinks.
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowSummaryImpl.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowNodes.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/sources.expected
  cpp/ql/test/library-tests/dataflow/external-models/test.cpp
  cpp/ql/test/library-tests/dataflow/models-as-data/testModels.expected
Due: none

C++: Work around problems I can't seem to solve for access paths at sources and sinks.
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/external-models/flow.expected
  cpp/ql/test/library-tests/dataflow/external-models/sources.expected
  cpp/ql/test/library-tests/dataflow/models-as-data/testModels.expected
Due: none

Python: preserve bindingset on new-CFG node dominance wrappers
  python/ql/lib/semmle/python/controlflow/internal/Cfg.qll
Due: codeql-format, sync-files

Python: unpin legacy CFG/ESSA from the AST cached stage
  python/ql/lib/semmle/python/Flow.qll
  python/ql/lib/semmle/python/essa/Essa.qll
  python/ql/lib/semmle/python/essa/SsaCompute.qll
  python/ql/lib/semmle/python/essa/SsaDefinitions.qll
  python/ql/lib/semmle/python/internal/CachedStages.qll
Due: codeql-format, sync-files

Convert to inline expectations test
  csharp/ql/test/query-tests/Security Features/CWE-295/AcceptAnyCertificate/AcceptAnyCertificate.expected
  csharp/ql/test/query-tests/Security Features/CWE-295/AcceptAnyCertificate/AcceptAnyCertificate.qlref
  csharp/ql/test/query-tests/Security Features/CWE-295/AcceptAnyCertificate/Test.cs
Due: none

my update
  .vscode/.gitattributes
Due: none

Java: Add change note for JDK 27
  java/ql/src/change-notes/2026-07-03-support-java-27.md
Due: none

Java: Update supported language versions to include Java 27
  docs/codeql/reusables/supported-versions-compilers.rst
Due: none

Add some manual models to fix missing detections
  java/ql/lib/ext/generated/llmgenerator/org.apache.avro.file.model.yml
Due: none
