Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Ruby: Add tests illustrating missing flow
  ruby/ql/test/library-tests/dataflow/params/TypeTracker.expected
  ruby/ql/test/library-tests/dataflow/params/params-flow.expected
  ruby/ql/test/library-tests/dataflow/params/params_flow.rb
Due: none

Kotlin: Accept some location changes in test-kotlin2/library-tests/stmts
  java/ql/test-kotlin2/library-tests/stmts/exprs.expected
  java/ql/test-kotlin2/library-tests/stmts/stmts.expected
Due: none

Swift: Add taint tests for 'Set'.
  swift/ql/test/library-tests/dataflow/taint/libraries/set.swift
Due: sync-files

Java automodel: also drop boxed types and number types from endpoints
  java/ql/automodel/src/AutomodelFrameworkModeCharacteristics.qll
Due: codeql-format, sync-files

Swift: Expand and improve models of Set and Sequence.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Sequence.qll
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Set.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/set.swift
  swift/ql/test/library-tests/dataflow/taint/libraries/string.swift
Due: codeql-format, sync-files

CPP: Add query for detecteing incorrect error checking for scanf
  cpp/ql/src/Critical/IncorrectCheckScanf.cpp
  cpp/ql/src/Critical/IncorrectCheckScanf.qhelp
  cpp/ql/src/Critical/IncorrectCheckScanf.ql
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/test.cpp
Due: codeql-format, sync-files, qhelp

Swift: Model Sequence.forEach as well.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Sequence.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/set.swift
Due: codeql-format, sync-files

C++: Remove workaround for negated conditions in 'cpp/user-controlled-bypass'.
  cpp/ql/src/Security/CWE/CWE-290/AuthenticationBypass.ql
Due: codeql-format, sync-files

C++: Do not use `isReturnValue` in `getenv`, `gets`, and `fgets` models
  cpp/ql/lib/semmle/code/cpp/models/implementations/Getenv.qll
  cpp/ql/lib/semmle/code/cpp/models/implementations/Gets.qll
  cpp/ql/test/query-tests/Security/CWE/CWE-078/semmle/ExecTainted/ExecTainted.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-190/semmle/TaintedAllocationSize/TaintedAllocationSize.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-807/semmle/TaintedCondition/TaintedCondition.expected
Due: codeql-format, sync-files

Swift: Add change note.
  swift/ql/lib/change-notes/2023-11-24-set.md
Due: none

Swift: Model Sequence.enumerated() as well.
  swift/ql/lib/codeql/swift/frameworks/StandardLibrary/Sequence.qll
  swift/ql/test/library-tests/dataflow/taint/libraries/set.swift
Due: codeql-format, sync-files

Swift: Add a predicate for common code.
  swift/ql/lib/codeql/swift/frameworks/Heuristic.qll
Due: codeql-format, sync-files

CPP: Exclude incorrect scanf checks from missing scanf checks
  cpp/ql/src/Critical/IncorrectCheckScanf.ql
  cpp/ql/src/Critical/MissingCheckScanf.ql
  cpp/ql/src/Critical/ScanfChecks.qll
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/MissingCheckScanf.expected
Due: codeql-format, sync-files

CPP: Add tests for incorrect check scanf
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/IncorrectCheckScanf.expected
  cpp/ql/test/query-tests/Critical/MissingCheckScanf/IncorrectCheckScanf.qlref
Due: none

C++: No need to exclude ExprNodes as sources now that #14903 is merged.
  cpp/ql/src/Security/CWE/CWE-114/UncontrolledProcessOperation.ql
  cpp/ql/src/Security/CWE/CWE-134/UncontrolledFormatString.ql
  cpp/ql/src/Security/CWE/CWE-290/AuthenticationBypass.ql
Due: codeql-format, sync-files

C++: Remove `DefaultTaintTracking` library
  cpp/ql/lib/change-notes/2023-11-25-default-taint-tracking-removal.md
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/DefaultTaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DefaultTaintTrackingImpl.qll
  cpp/ql/lib/semmle/code/cpp/security/TaintTracking.qll
  cpp/ql/lib/semmle/code/cpp/security/TaintTrackingImpl.qll
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/dispatch.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/tainted.ql
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_path_to_sink/test_diff.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/defaulttainttracking.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/stl.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/tainted.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/annotate_sinks_only/tainted.ql
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/globals/global.expected
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/globals/global.ql
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/globals/globals.cpp
  cpp/ql/test/library-tests/dataflow/DefaultTaintTracking/shared.h
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted.ql
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_diff.ql
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.expected
  cpp/ql/test/library-tests/dataflow/security-taint/tainted_ir.ql
  cpp/ql/test/library-tests/dataflow/security-taint/test.cpp
Due: codeql-format, sync-files

Swift: Add tests for array append/insert.
  swift/ql/test/library-tests/dataflow/taint/libraries/array.swift
Due: sync-files

fix tests, add support for `Response.BodyWriter()` Thanks to @owen-mc
  go/ql/lib/semmle/go/frameworks/Fasthttp.qll
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/UntrustedRemoteFlowSource.expected
  go/ql/test/library-tests/semmle/go/frameworks/Fasthttp/fasthttp.go
Due: codeql-format, sync-files

Ruby: Handle missing gemspec in model query
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
Due: codeql-format, sync-files

Ruby: Recognise modeled source/sink methods
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
Due: codeql-format, sync-files

Ruby: Handle multiple gemspecs in endpoints query
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
Due: codeql-format, sync-files

Ruby: Model Editor support
  ruby/ql/lib/codeql/ruby/security/SqlInjectionCustomizations.qll
  ruby/ql/src/utils/modeleditor/ApplicationModeEndpoints.ql
  ruby/ql/src/utils/modeleditor/FrameworkModeEndpoints.ql
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
Due: codeql-format, sync-files

Ruby: Include keyword parameters endpoint query
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
Due: codeql-format, sync-files

Ruby: Don't classify our test files as test files
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
Due: codeql-format, sync-files

Ruby: Include class methods in model editor query
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
Due: codeql-format, sync-files

Ruby: Add tags to GenerateModel query
  ruby/ql/src/queries/modeling/GenerateModel.ql
Due: codeql-format, sync-files

Ruby: Handle alternative gemspec names
  ruby/ql/lib/codeql/ruby/frameworks/core/Gem.qll
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
Due: codeql-format, sync-files

Ruby: Add sinks from external models
  ruby/ql/lib/codeql/ruby/security/CodeInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/CommandInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/LogInjectionQuery.qll
  ruby/ql/lib/codeql/ruby/security/PathInjectionCustomizations.qll
  ruby/ql/lib/codeql/ruby/security/UrlRedirectCustomizations.qll
Due: codeql-format, sync-files

C#: Pin integration tests to a specific .NET version.
  csharp/ql/integration-tests/all-platforms/cshtml/global.json
  csharp/ql/integration-tests/all-platforms/cshtml_standalone/global.json
  csharp/ql/integration-tests/all-platforms/diag_dotnet_incompatible/global.json
  csharp/ql/integration-tests/all-platforms/diag_missing_project_files/global.json
  csharp/ql/integration-tests/all-platforms/diag_missing_xamarin_sdk/global.json
  csharp/ql/integration-tests/all-platforms/diag_recursive_generics/global.json
  csharp/ql/integration-tests/all-platforms/dotnet_build/global.json
  csharp/ql/integration-tests/all-platforms/dotnet_no_args_inject/global.json
  csharp/ql/integration-tests/all-platforms/dotnet_pack/global.json
  csharp/ql/integration-tests/all-platforms/dotnet_publish/global.json
  csharp/ql/integration-tests/all-platforms/dotnet_run/global.json
  csharp/ql/integration-tests/all-platforms/standalone/global.json
  csharp/ql/integration-tests/posix-only/dotnet_test/global.json
  csharp/ql/integration-tests/posix-only/dotnet_test_mstest/global.json
  csharp/ql/integration-tests/posix-only/inherit-env-vars/global.json
  csharp/ql/integration-tests/posix-only/standalone_dependencies_nuget/global.json
  csharp/ql/integration-tests/posix-only/warn_as_error/global.json
Due: none

Ruby: QL4QL fix
  ruby/ql/src/utils/modeleditor/ModelEditor.qll
Due: codeql-format, sync-files

Ruby: Fix name of url-redirection sink model
  ruby/ql/lib/codeql/ruby/security/UrlRedirectCustomizations.qll
Due: codeql-format, sync-files

Python: Add support for extraction filters
  python/ql/lib/semmle/python/security/dataflow/TarSlipCustomizations.qll
  python/ql/test/query-tests/Security/CWE-022-TarSlip/TarSlip.expected
  python/ql/test/query-tests/Security/CWE-022-TarSlip/tarslip.py
Due: codeql-format, sync-files

Ruby: Add test for FrameworkModeEndpoints query
  ruby/ql/test/query-tests/utils/modeleditor/FrameworkModeEndpoints.expected
  ruby/ql/test/query-tests/utils/modeleditor/FrameworkModeEndpoints.qlref
  ruby/ql/test/query-tests/utils/modeleditor/lib/module.rb
  ruby/ql/test/query-tests/utils/modeleditor/lib/mylib.rb
  ruby/ql/test/query-tests/utils/modeleditor/lib/other.rb
  ruby/ql/test/query-tests/utils/modeleditor/mylib.gemspec
  ruby/ql/test/query-tests/utils/modeleditor/other_lib/lib/other_gem.rb
  ruby/ql/test/query-tests/utils/modeleditor/other_lib/other_lib.gemspec
Due: none

Python: Add change note
  python/ql/lib/change-notes/2023-11-27-tarfile-extraction-filters.md
Due: none

Apply suggestions from code review
  javascript/ql/lib/semmle/javascript/frameworks/Apollo.qll
  javascript/ql/lib/semmle/javascript/frameworks/Cors.qll
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
Due: codeql-format, sync-files

CPP: Fix query formatting
  cpp/ql/src/Critical/IncorrectCheckScanf.ql
Due: codeql-format, sync-files

`getArgument` returns `Cors::Cors`
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
Due: codeql-format, sync-files

Change qldoc
  javascript/ql/lib/semmle/javascript/frameworks/Apollo.qll
Due: codeql-format, sync-files

Using `Express::RouteSetup`
  javascript/ql/lib/semmle/javascript/frameworks/Express.qll
Due: codeql-format, sync-files

Add `change-node`
  javascript/ql/lib/change-notes/2023-11-27-cors-permissive-configuarion.md
Due: none

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
