Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.ql)(?<!\.qll)(?<!\.qlref)|.*\.patch

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v13.0.1
    hooks:
      - id: clang-format
        files: ^swift/.*\.(h|c|cpp)$

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.6.0
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: https://github.com/warchant/pre-commit-buildifier
    rev: 0.0.2
    hooks:
      - id: buildifier

  - repo: local
    hooks:
      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

WIP: C#: Generate source files from `cshtml` files in standalone
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/BuildAnalysis.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/DotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/DotnetVersion.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/IDotNet.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/ProgressMonitor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Razor.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Runtime.cs
  csharp/extractor/Semmle.Extraction.CSharp.Standalone/Sdk.cs
  csharp/extractor/Semmle.Extraction.Tests/Runtime.cs
Due: none

add change note
  java/ql/lib/change-notes/2023-07-12-add-models-for-struts2-framework.md
Due: none

add change note
  java/ql/lib/change-notes/2023-07-12-improve-sources-for-the-struts2-framework.md
Due: none

Python: Move `not this instanceof ParameterDefinition` logic
  python/ql/lib/semmle/python/essa/Essa.qll
  python/ql/lib/semmle/python/essa/SsaDefinitions.qll
Due: codeql-format, sync-files

Make QL more concise
  go/ql/lib/semmle/go/frameworks/Twirp.qll
Due: codeql-format, sync-files

Make QLDoc comments more concise too
  go/ql/lib/semmle/go/frameworks/Twirp.qll
Due: codeql-format, sync-files

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add missing "a" to a qldoc comment
  java/ql/lib/semmle/code/java/Type.qll
Due: codeql-format, sync-files

Update cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
Due: codeql-format, sync-files

C++: Fix comment.
  cpp/ql/src/experimental/Security/CWE/CWE-193/InvalidPointerDeref.ql
Due: codeql-format, sync-files

Update go/ql/lib/semmle/go/frameworks/GoMicro.qll
  go/ql/lib/semmle/go/frameworks/GoMicro.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  go/ql/lib/semmle/go/frameworks/GoMicro.qll
  go/ql/test/library-tests/semmle/go/frameworks/GoMicro/client/main.go
  go/ql/test/library-tests/semmle/go/frameworks/GoMicro/gomicro.ql
  go/ql/test/library-tests/semmle/go/frameworks/GoMicro/main.go
Due: codeql-format, sync-files

Update go/ql/test/library-tests/semmle/go/frameworks/GoMicro/gomicro.expected
  go/ql/test/library-tests/semmle/go/frameworks/GoMicro/gomicro.expected
Due: none

Java: Limit the number of samples extracted in application mode
  java/ql/src/Telemetry/AutomodelApplicationModeExtractCandidates.ql
Due: codeql-format, sync-files

WIP: Tracing config changes to exclude Standalone processes
  csharp/tools/tracing-config.lua
Due: none

Swift: add stubs for cryptography library models
  swift/ql/lib/codeql/swift/frameworks/Cryptography/CommonCrypto.qll
  swift/ql/lib/codeql/swift/frameworks/Cryptography/CryptoKit.qll
  swift/ql/lib/codeql/swift/frameworks/Cryptography/CryptoSwift.qll
  swift/ql/lib/codeql/swift/frameworks/Cryptography/Cryptography.qll
  swift/ql/lib/codeql/swift/frameworks/Frameworks.qll
Due: codeql-format, sync-files

Update go/ql/lib/change-notes/2023-06-29-modelling-go-micro.md
  go/ql/lib/change-notes/2023-06-29-modelling-go-micro.md
Due: none

Add integration test for standalone extraction
  csharp/ql/integration-tests/all-platforms/standalone/Files.expected
  csharp/ql/integration-tests/all-platforms/standalone/Files.ql
  csharp/ql/integration-tests/all-platforms/standalone/Program.cs
  csharp/ql/integration-tests/all-platforms/standalone/standalone.csproj
  csharp/ql/integration-tests/all-platforms/standalone/test.py
Due: codeql-format, sync-files

python: add simple test for AWS lambda made space for other serverless frameworks in the directory `serverless`
  python/ql/test/library-tests/frameworks/serverless/RemoteFlowSourceTest.expected
  python/ql/test/library-tests/frameworks/serverless/RemoteFlowSourceTest.ql
  python/ql/test/library-tests/frameworks/serverless/aws_lambda/function/extra_lambdas.py
  python/ql/test/library-tests/frameworks/serverless/aws_lambda/function/lambda_function.py
  python/ql/test/library-tests/frameworks/serverless/aws_lambda/template.yml
  python/ql/test/library-tests/frameworks/serverless/options
Due: codeql-format, sync-files

Doc error
  swift/ql/lib/codeql/swift/security/CommandInjectionExtensions.qll
Due: codeql-format, sync-files

JavaScript: Use shared library for serverless
  javascript/ql/lib/semmle/javascript/frameworks/ServerLess.qll
Due: codeql-format, sync-files

Amend and order
  CONTRIBUTING.md
Due: none

Support `CommandInjectionAdditionalFlowStep` and fix doc errors
  swift/ql/lib/codeql/swift/security/CommandInjectionExtensions.qll
  swift/ql/lib/codeql/swift/security/CommandInjectionQuery.qll
  swift/ql/src/queries/Security/CWE-078/CommandInjection.qhelp
  swift/ql/src/queries/Security/CWE-078/CommandInjection.ql
Due: codeql-format, sync-files, qhelp

Fix count
  CONTRIBUTING.md
Due: none

Update python/ql/lib/semmle/python/frameworks/ServerLess.qll
  python/ql/lib/semmle/python/frameworks/ServerLess.qll
Due: codeql-format, sync-files

aiohttp improvements
  python/ql/lib/change-notes/2023-07-12-aiohttp-improvements.md
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
Due: codeql-format, sync-files

Swift: add more funcs to unsafe closure query
  swift/ql/src/queries/Security/CWE-825/UnsafePointerEscapesClosure.ql
Due: codeql-format, sync-files

fix change note
  python/ql/lib/change-notes/2023-07-12-aiohttp-improvements.md
Due: none

fix qldocs
  python/ql/lib/semmle/python/frameworks/Aiohttp.qll
Due: codeql-format, sync-files

Update Frameworks.qll
  ruby/ql/lib/codeql/ruby/Frameworks.qll
Due: codeql-format, sync-files

Apply suggestions from code review
  go/ql/lib/semmle/go/frameworks/GoMicro.qll
Due: codeql-format, sync-files

remove getName
  go/ql/lib/semmle/go/frameworks/GoMicro.qll
Due: codeql-format, sync-files

Swift: Introduce EnumElmentDecl.hasQualifiedName and use it to clean up the code.
  swift/ql/lib/codeql/swift/elements/decl/EnumElementDecl.qll
  swift/ql/lib/codeql/swift/elements/expr/EnumElementExpr.qll
  swift/ql/lib/codeql/swift/security/PathInjectionExtensions.qll
Due: codeql-format, sync-files, swift-codegen

Apply suggestions from code review
  go/ql/lib/change-notes/2023-06-28--improve-support-for-gopg-framework.md
Due: none

Swift: Cleanup / corrections.
  swift/ql/lib/codeql/swift/elements/decl/EnumElementDecl.qll
  swift/ql/lib/codeql/swift/security/PathInjectionExtensions.qll
Due: codeql-format, sync-files, swift-codegen
