Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

JS: Update expected output, with the test failures gone
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.expected
Due: none

Test: Don't expect 'Source' tag when source and alert are on same line
  shared/util/codeql/util/test/InlineExpectationsTest.qll
Due: codeql-format, sync-files

JS: Remove same-line Source expectations
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/TaintedPath.js
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/normalizedPaths.js
  javascript/ql/test/query-tests/Security/CWE-022/TaintedPath/tainted-sendFile.js
Due: none

JS: Update another test
  javascript/ql/test/query-tests/Security/CWE-611/libxml.noent.js
Due: none

Rust: update a Rust test case
  rust/ql/test/query-tests/security/CWE-312/test_logging.rs
Due: none

Rust: Fix a bad join
  rust/ql/lib/codeql/rust/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

Add remote flow source test
  csharp/ql/integration-tests/all-platforms/blazor/remoteFlowSource.expected
  csharp/ql/integration-tests/all-platforms/blazor/remoteFlowSource.ql
  csharp/ql/integration-tests/all-platforms/blazor_build_mode_none/remoteFlowSource.expected
  csharp/ql/integration-tests/all-platforms/blazor_build_mode_none/remoteFlowSource.ql
  csharp/ql/integration-tests/all-platforms/blazor_net_8/remoteFlowSource.expected
  csharp/ql/integration-tests/all-platforms/blazor_net_8/remoteFlowSource.ql
Due: codeql-format, sync-files

Fix test results
  csharp/ql/integration-tests/all-platforms/blazor/remoteFlowSource.expected
  csharp/ql/integration-tests/all-platforms/blazor_build_mode_none/remoteFlowSource.expected
  csharp/ql/integration-tests/all-platforms/blazor_net_8/remoteFlowSource.expected
Due: none

removing javascript dataflow deprecations
  javascript/ql/lib/semmle/javascript/dataflow/AdditionalFlowSteps.qll
  javascript/ql/lib/semmle/javascript/dataflow/BackwardExploration.qll
  javascript/ql/lib/semmle/javascript/dataflow/Configuration.qll
  javascript/ql/lib/semmle/javascript/dataflow/DataFlow.qll
  javascript/ql/lib/semmle/javascript/dataflow/ForwardExploration.qll
  javascript/ql/lib/semmle/javascript/dataflow/TaintTracking.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/BarrierGuards.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/DataFlowPrivate.qll
  javascript/ql/lib/semmle/javascript/dataflow/internal/FlowSteps.qll
  javascript/ql/lib/semmle/javascript/explore/BackwardDataFlow.qll
  javascript/ql/lib/semmle/javascript/explore/ForwardDataFlow.qll
  javascript/ql/lib/semmle/javascript/security/CommonFlowState.qll
  javascript/ql/lib/semmle/javascript/security/TaintedObject.qll
  javascript/ql/lib/semmle/javascript/security/TaintedObjectCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/TaintedUrlSuffix.qll
  javascript/ql/lib/semmle/javascript/security/TaintedUrlSuffixCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/regexp/PolynomialReDoSCustomizations.qll
  javascript/ql/lib/semmle/javascript/security/regexp/PolynomialReDoSQuery.qll
  javascript/ql/lib/utils/test/ConsistencyChecking.qll
Due: codeql-format, sync-files

missed deprecation label removal for code injection query
  javascript/ql/lib/semmle/javascript/security/dataflow/CodeInjectionQuery.qll
Due: codeql-format, sync-files

open source package publish
  .github/workflows/microsoft-codeql-pack-publish.yml
Due: none

minor fix
  .github/workflows/microsoft-codeql-pack-publish.yml
Due: none

first time publish, hardcode to 0.0.1
  .github/workflows/microsoft-codeql-pack-publish.yml
Due: none

accidentally removed codeql install step
  .github/workflows/microsoft-codeql-pack-publish.yml
Due: none

Update go-tests.yml
  .github/workflows/go-tests.yml
Due: none

working for first version, updating to autoincrementing logic
  .github/workflows/microsoft-codeql-pack-publish.yml
Due: none

Rust: Fix model generation test
  rust/ql/lib/utils/test/InlineMadTest.qll
  rust/ql/test/utils-tests/modelgenerator/CaptureSummaryModels.expected
  rust/ql/test/utils-tests/modelgenerator/CaptureSummaryModels.ql
  rust/ql/test/utils-tests/modelgenerator/summaries.rs
Due: codeql-format, sync-files

Codegen: Improve return type of self-typed properties
  misc/codegen/lib/ql.py
  misc/codegen/templates/ql_class.mustache
Due: swift-codegen, rust-codegen

Rust: Run codegen
  rust/ql/.generated.list
  rust/ql/lib/codeql/rust/elements/internal/generated/Path.qll
Due: codeql-format, sync-files, rust-codegen

Swift: Run codegen
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/generated/decl/Decl.qll
  swift/ql/lib/codeql/swift/generated/decl/ModuleDecl.qll
  swift/ql/lib/codeql/swift/generated/decl/VarDecl.qll
  swift/ql/lib/codeql/swift/generated/type/Type.qll
Due: codeql-format, sync-files, swift-codegen

Update misc/codegen/lib/ql.py
  misc/codegen/lib/ql.py
Due: swift-codegen, rust-codegen

Rust: Remove redundant infix casts
  rust/ql/lib/codeql/rust/frameworks/rustcrypto/RustCrypto.qll
  rust/ql/lib/codeql/rust/security/WeakSensitiveDataHashingExtensions.qll
Due: codeql-format, sync-files

C++: Add change note
  cpp/ql/src/change-notes/2025-01-31-format-args.md
Due: none

JS: Update a JS test case
  javascript/ql/test/query-tests/Security/CWE-611/libxml.noent.js
Due: none

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
