Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

buildifier:
  name: Format bazel files
  language: system
  entry: bazel run //misc/bazel/buildifier
  pass_filenames: false

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

rust-codegen:
  name: Run Rust checked in code generation
  language: system
  entry: bazel run //rust/codegen -- --quiet
  pass_filenames: false

rust-lint:
  name: Run fmt and clippy on Rust code
  language: system
  entry: python3 rust/lint.py
  pass_filenames: false

C#: Add some null conditional assignments CFG tests.
  csharp/ql/test/library-tests/controlflow/graph/ConditionalAccess.cs
Due: none

C#: Update test expected output.
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Condition.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
Due: none

C#: Add a tests for MaybeNullExpr.
  csharp/ql/test/library-tests/dataflow/nullness/MaybeNullExpr.cs
  csharp/ql/test/library-tests/dataflow/nullness/maybeNullExpr.expected
  csharp/ql/test/library-tests/dataflow/nullness/maybeNullExpr.ql
  csharp/ql/test/library-tests/dataflow/nullness/options
Due: codeql-format, sync-files

C#: Take null conditional assignments into account in MaybeNullExpr.
  csharp/ql/lib/semmle/code/csharp/dataflow/Nullness.qll
Due: codeql-format, sync-files

C#: Update test expected output.
  csharp/ql/test/library-tests/dataflow/nullness/maybeNullExpr.expected
Due: none

C#: Add change-note.
  csharp/ql/lib/change-notes/2026-01-14-null-conditional-assignments.md
Due: none

C#: Add field access for out assignments in the CFG.
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
Due: codeql-format, sync-files

C#: Exclude the field access cases from missing argument call.
  csharp/ql/consistency-queries/DataFlowConsistency.ql
Due: codeql-format, sync-files

C#: Add tests for out writeacceses.
  csharp/ql/test/library-tests/controlflow/graph/Assignments.cs
  csharp/ql/test/library-tests/controlflow/graph/BasicBlock.expected
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/EnclosingCallable.expected
  csharp/ql/test/library-tests/controlflow/graph/EntryElement.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
  csharp/ql/test/library-tests/controlflow/graph/Nodes.expected
Due: none

Actions: Add `examples` qlpack
  actions/ql/examples/codeql-pack.lock.yml
  actions/ql/examples/qlpack.yml
  actions/ql/examples/snippets/uses_pinned_sha.ql
Due: codeql-format, sync-files

Accept cpp test result changes
  cpp/ql/test/library-tests/dataflow/models-as-data/interpretElement.expected
  cpp/ql/test/library-tests/dataflow/models-as-data/taint.expected
  cpp/ql/test/library-tests/dataflow/taint-tests/test_mad-signatures.expected
Due: none

Accept java test result changes
  java/ql/test/library-tests/dataflow/external-models/srcs.expected
  java/ql/test/query-tests/security/CWE-094/GroovyInjection/GroovyInjectionTest.expected
  java/ql/test/query-tests/security/CWE-094/MvelInjection/MvelInjectionTest.expected
Due: none

Accept go test result changes
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_I1_subtypes_false.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_I2_subtypes_false.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_S1_subtypes_false.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalTaintFlow/srcs.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalValueFlow/srcs.expected
Due: none

Ignore the content of the subtypes column for MaD models and default it to true
  shared/mad/codeql/mad/static/ModelsAsData.qll
Due: codeql-format, sync-files

Go: delete tests for subtypes = false
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_I1_subtypes_false.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_I1_subtypes_false.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_I1_subtypes_false.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_I2_subtypes_false.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_I2_subtypes_false.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_I2_subtypes_false.ql
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_S1_subtypes_false.expected
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_S1_subtypes_false.ext.yml
  go/ql/test/library-tests/semmle/go/dataflow/ExternalFlowInheritance/mad_S1_subtypes_false.ql
Due: codeql-format, sync-files

Cpp: do not require subtypes = false for any models
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

Rust: Fix bad join
  rust/ql/lib/codeql/rust/internal/typeinference/Type.qll
Due: codeql-format, sync-files

Update cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
Due: codeql-format, sync-files

Rust: Fix bad join
  rust/ql/lib/codeql/rust/elements/internal/ElementImpl.qll
Due: codeql-format, sync-files, rust-codegen

C++: Add change note.
  cpp/ql/lib/change-notes/2026-01-16-barrier-guard-conflation.md
Due: none

C++: Switch another 'DataFlowType' to 'Type'.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

C#: Address review comments.
  csharp/ql/consistency-queries/DataFlowConsistency.ql
  csharp/ql/lib/semmle/code/csharp/controlflow/internal/ControlFlowGraphImpl.qll
Due: codeql-format, sync-files

C#: Update test expected output.
  csharp/ql/test/library-tests/controlflow/graph/Dominance.expected
  csharp/ql/test/library-tests/controlflow/graph/ExitElement.expected
  csharp/ql/test/library-tests/controlflow/graph/NodeGraph.expected
Due: none

Rust: Remove restriction that blanket(-like) impls must have a constraint
  rust/ql/lib/codeql/rust/frameworks/stdlib/Stdlib.qll
  rust/ql/lib/codeql/rust/internal/typeinference/BlanketImplementation.qll
  rust/ql/lib/codeql/rust/internal/typeinference/FunctionOverloading.qll
  rust/ql/lib/codeql/rust/internal/typeinference/FunctionType.qll
  rust/ql/lib/codeql/rust/internal/typeinference/TypeInference.qll
  rust/ql/test/library-tests/dataflow/local/inline-flow.expected
  rust/ql/test/library-tests/dataflow/local/main.rs
  rust/ql/test/library-tests/type-inference/main.rs
Due: codeql-format, sync-files

add overlay annotation support to QL syntax highlighter
  docs/codeql/qllexer.py
Due: none

C++: Add MaD barrier guard tests.
  cpp/ql/test/library-tests/dataflow/ir-barrier-guards/test.cpp
  cpp/ql/test/library-tests/dataflow/ir-barrier-guards/test.ext.yml
  cpp/ql/test/library-tests/dataflow/ir-barrier-guards/test.ql
Due: codeql-format, sync-files

C++: Parameterize the BarrierGuard modules. This is useful for barrier guards with flow states and will be necessary in the next commit for adding MaD specified barriers.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

WIP
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

C++: Finish up implementation of MaD barriers.
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/test/library-tests/dataflow/ir-barrier-guards/test.cpp
  cpp/ql/test/library-tests/dataflow/ir-barrier-guards/test.ql
Due: codeql-format, sync-files

Update cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedAssertion.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedAssertion.qll
Due: codeql-format, sync-files

C++: Fix Code Scanning alert.
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
Due: codeql-format, sync-files

C++: Add change note.
  cpp/ql/lib/change-notes/2026-01-19-parameterized-barrier-guard.md
Due: none

add overlay documentation to handbook and language spec
  docs/codeql/ql-language-reference/annotations.rst
  docs/codeql/ql-language-reference/ql-language-specification.rst
Due: none

Apply suggestions from code review
  cpp/ql/lib/semmle/code/cpp/dataflow/ExternalFlow.qll
  cpp/ql/test/library-tests/dataflow/ir-barrier-guards/test.cpp
  cpp/ql/test/library-tests/dataflow/ir-barrier-guards/test.ext.yml
Due: codeql-format, sync-files

C++: Delete unnecessary conjuncts after review comments.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/internal/TranslatedAssertion.qll
Due: codeql-format, sync-files

C++: Autoformat.
  cpp/ql/lib/semmle/code/cpp/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

C++: Add 'internal: do not use' comment.
  cpp/ql/lib/semmle/code/cpp/Element.qll
Due: codeql-format, sync-files

C#: Relax the condition for when a qualified expression might be null.
  csharp/ql/lib/semmle/code/csharp/dataflow/Nullness.qll
Due: codeql-format, sync-files

C#: Add some more tests.
  csharp/ql/test/library-tests/dataflow/nullness/MaybeNullExpr.cs
  csharp/ql/test/library-tests/dataflow/nullness/maybeNullExpr.expected
  csharp/ql/test/query-tests/Nullness/ConditionalAccess.cs
  csharp/ql/test/query-tests/Nullness/NullCheck.expected
  csharp/ql/test/query-tests/Nullness/NullMaybe.expected
Due: none

Path conditions:
  buildifier: any of: \.(bazel|bzl)
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
  rust-codegen: any of: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
  rust-lint: any of: ^rust/extractor/(.*rs|Cargo.toml)$
