Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests, rust-codegen, rust-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$
      - id: end-of-file-fixer
        exclude: /test/.*$(?<!\.qlref)|.*\.patch$|.*\.qll?$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        files: ^misc/codegen/.*\.py

  - repo: local
    hooks:
      - id: buildifier
        name: Format bazel files
        files: \.(bazel|bzl)
        language: system
        entry: bazel run //misc/bazel/buildifier
        pass_filenames: false

#      DISABLED: can be enabled by copying this config and installing `pre-commit` with `--config` on the copy
#      - id: go-gen
#        name: Check checked in generated files in go
#        files: ^go/.*
#        language: system
#        entry: bazel run //go:gen
#        pass_filenames: false

      - id: codeql-format
        name: Fix QL file formatting
        files: \.qll?$
        language: system
        entry: codeql query format --in-place

      - id: sync-files
        name: Fix files required to be identical
        files: \.(qll?|qhelp|swift|toml)$|^config/identical-files\.json$
        language: system
        entry: python3 config/sync-files.py --latest
        pass_filenames: false

      - id: qhelp
        name: Check query help generation
        files: \.qhelp$
        language: system
        entry: python3 misc/scripts/check-qhelp.py

      - id: swift-codegen
        name: Run Swift checked in code generation
        files: ^misc/codegen/|^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
        language: system
        entry: bazel run //swift/codegen -- --quiet
        pass_filenames: false

      - id: swift-codegen-unit-tests
        name: Run Swift code generation unit tests
        files: ^swift/codegen/.*\.py$
        language: system
        entry: bazel test //misc/codegen/test
        pass_filenames: false

      - id: rust-codegen
        name: Run Rust checked in code generation
        files: ^misc/codegen/|^rust/(prefix\.dbscheme|schema/|codegen/|.*/generated/|ql/lib/(rust\.dbscheme$|codeql/rust/elements)|\.generated.list)
        language: system
        entry: bazel run //rust/codegen -- --quiet
        pass_filenames: false

      - id: rust-lint
        name: Run fmt and clippy on Rust code
        files: ^rust/extractor/(.*rs|Cargo.toml)$
        language: system
        entry: python3 rust/lint.py
        pass_filenames: false

C++: Add test.
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/test.cpp
Due: none

C++: Specifier-only converting instructions preserve GVNs.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
Due: codeql-format, sync-files

C++: Sync identical files.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/valuenumbering/GlobalValueNumbering/ir_gvn.expected
Due: none

Rust: Add tests with blanket implementation
  rust/ql/test/library-tests/type-inference/blanket_impl.rs
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: none

Rust: Implement basic support for blanket implementations
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/type-inference/blanket_impl.rs
  rust/ql/test/library-tests/type-inference/dyn_type.rs
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Due: codeql-format, sync-files

C++: Accept test changes. This is a FP that's been present since we put the IR into production in #2851.
  cpp/ql/test/query-tests/Likely Bugs/Memory Management/StrncpyFlippedArgs/StrncpyFlippedArgs.expected
Due: none

C++: Add change note.
  cpp/ql/lib/change-notes/2025-08-02-gvn.md
Due: none

C++: Add tests with missing flow through globals.
  cpp/ql/test/library-tests/dataflow/dataflow-tests/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/dataflow-consistency.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-diff.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition-ir.expected
  cpp/ql/test/library-tests/dataflow/fields/partial-definition.expected
Due: none

Update cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
Due: codeql-format, sync-files

C++: Fix missing flow by also generating final global uses for functions that have a post-update node for the global variable.
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowPrivate.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/DataFlowUtil.qll
  cpp/ql/lib/semmle/code/cpp/ir/dataflow/internal/SsaImpl.qll
Due: codeql-format, sync-files

C++: Accept test changes.
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test-source-sink.expected
  cpp/ql/test/library-tests/dataflow/dataflow-tests/test.cpp
  cpp/ql/test/library-tests/dataflow/fields/aliasing.cpp
  cpp/ql/test/library-tests/dataflow/fields/ir-path-flow.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-134/semmle/globalVars/UncontrolledFormatString.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-497/semmle/tests/PotentiallyExposedSystemData.expected
  cpp/ql/test/query-tests/Security/CWE/CWE-611/XXE.expected
Due: none

C++: Sync files after Copilot suggestion.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
Due: codeql-format, sync-files

C++: Fix naming.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/unaliased_ssa/gvn/internal/ValueNumberingInternal.qll
Due: codeql-format, sync-files

C++: Sync files.
  cpp/ql/lib/semmle/code/cpp/ir/implementation/aliased_ssa/gvn/internal/ValueNumberingInternal.qll
  cpp/ql/lib/semmle/code/cpp/ir/implementation/raw/gvn/internal/ValueNumberingInternal.qll
Due: codeql-format, sync-files

Rust: Dont use constraint implementations for type parameters
  shared/typeinference/codeql/typeinference/internal/TypeInference.qll
Due: codeql-format, sync-files

Rust: Add a type inference test case resembling missing call targets in SQLx.
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: none

Python: Updated PathInjection tests to use inline test expectations
  python/ql/test/query-tests/Security/CWE-022-PathInjection/DataflowQueryTest.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/DataflowQueryTest.ql
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.qlref
  python/ql/test/query-tests/Security/CWE-022-PathInjection/flask_path_injection.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/path_injection.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/pathlib_use.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/test.py
Due: codeql-format, sync-files

Python: Added extra test cases for path injection with FastAPI
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/fastapi_path_injection.py
Due: none

C#: Include constructors in `ValueOrRefType.hasCallable`
  csharp/ql/lib/semmle/code/csharp/Type.qll
Due: codeql-format, sync-files

Rust: Add type inference example with cycle blowup
  rust/ql/test/library-tests/type-inference/dereference.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: none

Rust: Implement certain type information for annotation and simple calls
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/lib/codeql/rust/internal/TypeInferenceConsistency.qll
  rust/ql/test/library-tests/dataflow/sources/CONSISTENCY/TypeInferenceConsistency.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
  rust/ql/test/query-tests/security/CWE-089/CONSISTENCY/TypeInferenceConsistency.expected
  rust/ql/test/query-tests/security/CWE-328/CONSISTENCY/PathResolutionConsistency.expected
Due: codeql-format, sync-files

Rust: Fix two bad joins introduced by magic
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
Due: codeql-format, sync-files

Rust: Add computed security-severity tag.
  rust/ql/src/queries/security/CWE-312/CleartextStorageDatabase.ql
Due: codeql-format, sync-files

Python: Added extra test for global variable nested attribute reads/writes.
  python/ql/test/library-tests/dataflow/fieldflow/test_global.py
Due: none

Python: Add global variable nested field jump steps
  python/ql/lib/semmle/python/dataflow/new/internal/DataFlowPrivate.qll
  python/ql/test/library-tests/dataflow/fieldflow/test_global.py
  python/ql/test/query-tests/Security/CWE-022-PathInjection/PathInjection.expected
  python/ql/test/query-tests/Security/CWE-022-PathInjection/fastapi_path_injection.py
Due: codeql-format, sync-files

Java: Assume normal termination in post-dominance.
  java/ql/lib/semmle/code/java/controlflow/BasicBlocks.qll
Due: codeql-format, sync-files

Rust: Add tests for rusqlite.
  rust/ql/test/query-tests/security/CWE-312/Cargo.lock
  rust/ql/test/query-tests/security/CWE-312/CleartextStorageDatabase.expected
  rust/ql/test/query-tests/security/CWE-312/options.yml
  rust/ql/test/query-tests/security/CWE-312/test_storage.rs
Due: none

Rust: Accept that sql-injection sinks are sinks for this query, and that the existing sinks created for this query are also new sql-injection sinks.
  rust/ql/lib/codeql/rust/frameworks/sqlx.model.yml
  rust/ql/lib/codeql/rust/security/CleartextStorageDatabaseExtensions.qll
  rust/ql/test/query-tests/security/CWE-312/CleartextStorageDatabase.expected
  rust/ql/test/query-tests/security/CWE-312/test_storage.rs
Due: codeql-format, sync-files

Rust: Accept consistency check failures.
  rust/ql/test/query-tests/security/CWE-312/CONSISTENCY/PathResolutionConsistency.expected
Due: none

Rust: Fix bad join
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
Due: codeql-format, sync-files

Rust: Accept suite changes.
  rust/ql/integration-tests/query-suite/rust-code-scanning.qls.expected
  rust/ql/integration-tests/query-suite/rust-security-and-quality.qls.expected
  rust/ql/integration-tests/query-suite/rust-security-extended.qls.expected
Due: none

Rust: Add tests with `where` clause
  rust/ql/test/library-tests/path-resolution/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/path-resolution/main.rs
  rust/ql/test/library-tests/path-resolution/path-resolution.expected
  rust/ql/test/library-tests/type-inference/CONSISTENCY/PathResolutionConsistency.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: none

Rust: Improve handling of where clauses in type inference and path resolution
  rust/ql/lib/codeql/rust/elements/internal/TraitImpl.qll
  rust/ql/lib/codeql/rust/elements/internal/TypeParamImpl.qll
  rust/ql/lib/codeql/rust/internal/PathResolution.qll
  rust/ql/lib/codeql/rust/internal/TypeInference.qll
  rust/ql/test/library-tests/path-resolution/main.rs
  rust/ql/test/library-tests/path-resolution/path-resolution.expected
  rust/ql/test/library-tests/type-inference/main.rs
  rust/ql/test/library-tests/type-inference/type-inference.expected
Due: codeql-format, sync-files, rust-codegen
