Repository github/codeql: changes, and which pre-commit hooks are due for each by the changed paths.
All: codeql-format, sync-files, qhelp, swift-codegen, swift-codegen-unit-tests

codeql-format:
  name: Fix QL file formatting
  language: system
  entry: codeql query format --in-place

sync-files:
  name: Fix files required to be identical
  language: system
  entry: python3 config/sync-files.py --latest
  pass_filenames: false

qhelp:
  name: Check query help generation
  language: system
  entry: python3 misc/scripts/check-qhelp.py

swift-codegen:
  name: Run Swift checked in code generation
  language: system
  entry: bazel run //swift/codegen -- --quiet
  pass_filenames: false

swift-codegen-unit-tests:
  name: Run Swift code generation unit tests
  language: system
  entry: bazel test //misc/codegen/test
  pass_filenames: false

Java: update pending-intent-sent sink kind to pending-intents
  java/ql/lib/ext/android.app.model.yml
  java/ql/lib/ext/androidx.core.app.model.yml
  java/ql/lib/ext/androidx.slice.model.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/security/ImplicitPendingIntents.qll
Due: codeql-format, sync-files

Java: update xslt sink kind to xslt-injection
  java/ql/lib/ext/javax.xml.transform.model.yml
  java/ql/lib/ext/net.sf.saxon.s9api.model.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/security/XsltInjection.qll
Due: codeql-format, sync-files

Java: update xss sink kind to html-injection and js-injection
  java/ql/lib/ext/android.webkit.model.yml
  java/ql/lib/ext/jakarta.faces.context.model.yml
  java/ql/lib/ext/javax.faces.context.model.yml
  java/ql/lib/ext/org.apache.hc.core5.http.model.yml
  java/ql/lib/ext/org.apache.http.model.yml
  java/ql/lib/ext/org.apache.http.util.model.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/security/XSS.qll
Due: codeql-format, sync-files

Java: update intent-start sink kind to intent-redirection
  java/ql/lib/ext/android.app.model.yml
  java/ql/lib/ext/android.content.model.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/security/AndroidIntentRedirection.qll
  java/ql/lib/semmle/code/java/security/ImplicitPendingIntents.qll
Due: codeql-format, sync-files

Java: update create/read-file sink kinds to path-injection
  java/ql/lib/ext/com.google.common.io.model.yml
  java/ql/lib/ext/com.thoughtworks.xstream.model.yml
  java/ql/lib/ext/generated/kotlinstdlib.model.yml
  java/ql/lib/ext/generated/org.apache.commons.io.model.yml
  java/ql/lib/ext/hudson.lifecycle.model.yml
  java/ql/lib/ext/hudson.model.model.yml
  java/ql/lib/ext/hudson.model.yml
  java/ql/lib/ext/hudson.scm.model.yml
  java/ql/lib/ext/hudson.util.io.model.yml
  java/ql/lib/ext/hudson.util.jna.model.yml
  java/ql/lib/ext/hudson.util.model.yml
  java/ql/lib/ext/io.netty.handler.codec.http.multipart.model.yml
  java/ql/lib/ext/io.netty.handler.ssl.model.yml
  java/ql/lib/ext/io.netty.handler.stream.model.yml
  java/ql/lib/ext/io.netty.util.internal.model.yml
  java/ql/lib/ext/java.io.model.yml
  java/ql/lib/ext/java.lang.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/ext/javax.servlet.model.yml
  java/ql/lib/ext/javax.xml.transform.stream.model.yml
  java/ql/lib/ext/kotlin.io.model.yml
  java/ql/lib/ext/org.apache.commons.io.model.yml
  java/ql/lib/ext/org.apache.tools.ant.model.yml
  java/ql/lib/ext/org.apache.tools.ant.taskdefs.model.yml
  java/ql/lib/ext/org.codehaus.cargo.container.installer.model.yml
  java/ql/lib/ext/org.kohsuke.stapler.framework.io.model.yml
  java/ql/lib/ext/org.openjdk.jmh.runner.options.model.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageAndroidFilesystemQuery.qll
  java/ql/lib/semmle/code/java/security/TaintedPathQuery.qll
  java/ql/lib/semmle/code/java/security/ZipSlipQuery.qll
  java/ql/src/experimental/Security/CWE/CWE-200/AndroidFileIntentSink.qll
Due: codeql-format, sync-files

Java: update write-file sink kind to file-system-store
  java/ql/lib/ext/com.google.common.io.model.yml
  java/ql/lib/ext/hudson.model.yml
  java/ql/lib/ext/hudson.util.model.yml
  java/ql/lib/ext/java.io.model.yml
  java/ql/lib/ext/java.nio.file.model.yml
  java/ql/lib/ext/org.apache.commons.io.model.yml
  java/ql/lib/semmle/code/java/dataflow/ExternalFlow.qll
  java/ql/lib/semmle/code/java/security/CleartextStorageAndroidFilesystemQuery.qll
  java/ql/src/utils/modelgenerator/internal/CaptureModelsSpecific.qll
Due: codeql-format, sync-files

Java: add sink kinds documentation
  docs/codeql/codeql-language-guides/customizing-library-models-for-java.rst
Due: none

Java: update cwe-sink.csv
  java/documentation/library-coverage/cwe-sink.csv
Due: none

Java: update more recently added sinks: path-injection and request-forgery
  java/ql/lib/ext/org.apache.commons.net.model.yml
Due: none

Java: update recently added 'sql' sinks
  java/ql/lib/ext/org.springframework.jdbc.core.namedparam.model.yml
Due: none

Java: add change note draft
  java/ql/lib/change-notes/2023-05-05-java-sink-kind-revamp.md
Due: none

Java: update change note
  java/ql/lib/change-notes/2023-05-05-java-sink-kind-revamp.md
Due: none

Java: update recently added path-injection sinks
  java/ql/lib/ext/org.springframework.util.model.yml
Due: none

Java: add comment about request-forgery sinks
  java/ql/lib/semmle/code/java/security/HttpsUrls.qll
Due: codeql-format, sync-files

Java: update CaptureSinkModels test case
  java/ql/test/utils/modelgenerator/dataflow/CaptureSinkModels.expected
Due: none

Java: add isNeutralSink test case
  java/ql/test/library-tests/neutrals/neutralsinks/NeutralSinksTest.ql
  java/ql/test/library-tests/neutrals/neutralsinks/Test.java
Due: codeql-format, sync-files

Update Frameworks.qll
  ruby/ql/lib/codeql/ruby/Frameworks.qll
Due: codeql-format, sync-files

Swift: remove outdated db migration
  swift/downgrades/64d1b0a3d0c1ee70e8ae096b7ba73f9c7c49c929/downgrade.ql
  swift/downgrades/64d1b0a3d0c1ee70e8ae096b7ba73f9c7c49c929/old.dbscheme
  swift/downgrades/64d1b0a3d0c1ee70e8ae096b7ba73f9c7c49c929/swift.dbscheme
  swift/downgrades/64d1b0a3d0c1ee70e8ae096b7ba73f9c7c49c929/upgrade.properties
  swift/ql/lib/upgrades/f937d9e63094280b7ec0ef26c70310daad5c1f79/old.dbscheme
  swift/ql/lib/upgrades/f937d9e63094280b7ec0ef26c70310daad5c1f79/swift.dbscheme
  swift/ql/lib/upgrades/f937d9e63094280b7ec0ef26c70310daad5c1f79/upgrade.properties
Due: codeql-format, sync-files

Sync files.
  go/ql/lib/semmle/go/dataflow/internal/FlowSummaryImpl.qll
  java/ql/lib/semmle/code/java/dataflow/internal/FlowSummaryImpl.qll
  python/ql/lib/semmle/python/dataflow/new/internal/FlowSummaryImpl.qll
  ruby/ql/lib/codeql/ruby/dataflow/internal/FlowSummaryImpl.qll
  swift/ql/lib/codeql/swift/dataflow/internal/FlowSummaryImpl.qll
Due: codeql-format, sync-files

C#: Expose synthetic globals for use in C#, allow printing of summaries that uses synthetic globals.
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImpl.qll
  csharp/ql/lib/semmle/code/csharp/dataflow/internal/FlowSummaryImplSpecific.qll
Due: codeql-format, sync-files

C#: Expose a synthetic global singleton stack.
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
Due: codeql-format, sync-files

C#: Make example classes public to allow printing of summaries in test.
  csharp/ql/test/library-tests/frameworks/EntityFramework/EntityFramework.cs
  csharp/ql/test/library-tests/frameworks/EntityFramework/EntityFrameworkCore.cs
Due: none

C#: Use synthetic globals instead of jump returns in the EntityFramework implementation.
  csharp/ql/lib/semmle/code/csharp/dataflow/FlowSummary.qll
  csharp/ql/lib/semmle/code/csharp/frameworks/EntityFramework.qll
Due: codeql-format, sync-files

C#: Update expected test output.
  csharp/ql/test/library-tests/frameworks/EntityFramework/FlowSummaries.expected
Due: none

C#: Improve LINQ expression based on review comments.
  csharp/extractor/Semmle.Extraction.CSharp/Entities/Expressions/ImplicitCast.cs
Due: none

Add requested changes
  ruby/ql/lib/codeql/ruby/frameworks/Mysql2.qll
  ruby/ql/lib/codeql/ruby/frameworks/Sqlite3.qll
  ruby/ql/lib/codeql/ruby/security/SqlInjectionCustomizations.qll
Due: codeql-format, sync-files

Swift: Tweak and update the qldoc string.
  swift/ql/.generated.list
  swift/ql/lib/codeql/swift/generated/Callable.qll
  swift/ql/lib/codeql/swift/generated/Raw.qll
  swift/schema.py
Due: codeql-format, sync-files, swift-codegen

Add test using strings.Index()
  go/ql/test/experimental/CWE-176/example_bad.go
Due: none

Consider the guard of Untrusted Unicode Chararacters with some checks
  go/ql/lib/semmle/go/security/UnicodeBypassValidationQuery.qll
Due: codeql-format, sync-files

Update exptected file
  go/ql/test/experimental/CWE-176/UnicodeBypassValidation.expected
Due: none

JS: Change note
  javascript/ql/src/change-notes/2023-06-01-restrict-regex-search-function.md
Due: none

Java: update recently added 'open-url' sinks to 'request-forgery'
  java/ql/lib/ext/play.libs.ws.model.yml
Due: none

Ruby: update test output
  ruby/ql/test/library-tests/dataflow/local/TaintStep.expected
  ruby/ql/test/library-tests/frameworks/sequel/Sequel.expected
Due: none

ruby: add Rack::ResponseNode#getAStatusCode
  ruby/ql/lib/codeql/ruby/frameworks/Rack.qll
  ruby/ql/test/library-tests/frameworks/rack/Rack.expected
  ruby/ql/test/library-tests/frameworks/rack/Rack.ql
  ruby/ql/test/library-tests/frameworks/rack/rack.rb
Due: codeql-format, sync-files

ruby: add Rack::ResponseNode class
  ruby/ql/lib/codeql/ruby/dataflow/internal/DataFlowPublic.qll
  ruby/ql/lib/codeql/ruby/frameworks/Rack.qll
Due: codeql-format, sync-files

ruby: rack responses implement are HTTP responses
  ruby/ql/lib/codeql/ruby/frameworks/Rack.qll
  ruby/ql/test/library-tests/frameworks/rack/Rack.expected
  ruby/ql/test/library-tests/frameworks/rack/Rack.ql
Due: codeql-format, sync-files

ruby: slightly expand a TODO
  ruby/ql/lib/codeql/ruby/frameworks/rack/internal/Response.qll
Due: codeql-format, sync-files

ruby: rack - modelling -> modeling
  ruby/ql/lib/codeql/ruby/frameworks/rack/internal/Response.qll
Due: codeql-format, sync-files

ruby: add some qldoc for rack
  ruby/ql/lib/codeql/ruby/frameworks/rack/internal/App.qll
  ruby/ql/lib/codeql/ruby/frameworks/rack/internal/Mime.qll
  ruby/ql/lib/codeql/ruby/frameworks/rack/internal/Response.qll
Due: codeql-format, sync-files

Path conditions:
  codeql-format: any of: \.qll?$
  sync-files: any of: \.(qll?|qhelp|swift)$|^config/identical-files\.json$
  qhelp: any of: \.qhelp$
  swift-codegen: any of: ^swift/(schema.py$|codegen/|.*/generated/|ql/lib/(swift\.dbscheme$|codeql/swift/elements)|ql/\.generated.list)
  swift-codegen-unit-tests: any of: ^swift/codegen/.*\.py$
